{% block b2b_contingentgroup_grid_table_row %}
    <tr data-row-id="{{ row.id.getValue }}">
        {% block b2b_contingentgroup_grid_table_row_cells %}
            <td data-label="{{ 'b2b.ContingentGroupNameLabel'|trans }}">{{ row.name }}</td>
            <td data-label="{{ 'b2b.ContingentGroupDescriptionLabel'|trans }}">{{ row.description }}</td>

            {% if
                b2b_acl_check('b2bcontingentgroup', 'detail')
                or b2b_acl_check('b2bcontingentgroup', 'remove')
            %}
                <td
                    data-label="{{ 'b2b.ActionsLabel'|trans }}"
                    class="col-actions"
                >
                    <button
                        title="{{ 'b2b.EditContingentGroup'|trans }}"
                        type="button"
                        class="btn btn--edit is--small ajax-panel-link b2b-highlight {{ b2b_acl('b2bcontingentgroup', 'detail') }}"
                        data-target="contingent-group-detail"
                        data-href="{{ path('frontend.b2b.b2bcontingentgroup.detail') }}?id={{ row.id.getValue }}"
                    >
                        {% sw_icon 'pencil-brush' %}
                    </button>

                    <form
                        action="{{ path('frontend.b2b.b2bcontingentgroup.remove') }}"
                        method="post"
                        class="form--inline {{ b2b_acl('b2bcontingentgroup', 'remove') }}"
                        data-csrf-token="{{ sw_csrf('frontend.b2b.b2bcontingentgroup.remove', { mode: 'token' }) }}"
                    >
                        {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}

                        <input
                            type="hidden"
                            name="id"
                            value="{{ row.id.getValue }}"
                        >
                        <input
                            type="hidden"
                            name="confirmName"
                            value="{{ row.name }}"
                        >

                        <button
                            title="{{ 'b2b.DeleteContingentGroup'|trans }}"
                            type="submit"
                            class="btn is--small component-action-delete b2b-danger"
                            data-confirm="true"
                            data-confirm-url="{{ path('frontend.b2b.b2bconfirm.remove') }}?confirmName={{ row.name }}"
                        >
                            {% sw_icon 'trash' %}
                        </button>
                    </form>
                </td>
            {% endif %}
        {% endblock %}
    </tr>
{% endblock %}
