{% block b2b_contingentgroup_grid_table_head %}
    <tr>
        {% block b2b_contingentgroup_grid_table_head_inner %}
            <th>{{ "b2b.ContingentGroupNameLabel"|trans }}</th>
            <th>{{ "b2b.ContingentGroupDescriptionLabel"|trans }}</th>
            {% if
                b2b_acl_check('b2bcontingentgroup', 'detail')
                or b2b_acl_check('b2bcontingentgroup', 'remove')
            %}
                <th>{{ "b2b.ActionsLabel"|trans }}</th>
            {% endif %}
        {% endblock %}
    </tr>
{% endblock %}
