{% block b2b_contingentruleproductprice_form %}
    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.ProductPriceLabel"|trans }}: *
        </div>
        <div class="block box--input">
            <input class="form-control" type="number" step="any" min="0" name="productPrice" id="productPrice" value="{{ rule.productPrice }}" placeholder="{{ "b2b.ProductPricePlaceholder"|trans }}">
        </div>
    </div>
{% endblock %}