{% block b2b_contingentruleproductprice_form %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="productPrice">{{ "b2b.ProductPriceLabel"|trans }} *</label>
            <input
                class="form-control"
                type="number"
                step="any"
                min="0"
                name="productPrice"
                id="productPrice"
                value="{{ rule.productPrice }}"
                placeholder="{{ "b2b.ProductPricePlaceholder"|trans }}"
            >
        </div>
    </div>
{% endblock %}
