{% sw_extends 'administration/index.html.twig' %}

{% block administration_scripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/viocustomerprices/administration/js/vio-customer-price.js') }}"></script>
{% endblock %}