{% sw_extends '@Storefront/storefront/component/listing/filter-panel.html.twig' %}

{% block component_filter_panel_item_price %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}