{% block b2b_offer_history_item_author %}
    <div
        class="b2b-offer-history-item-author"
        :class="align"
    >
        {% block b2b_offer_history_item_author_user_date %}
            <div class="b2b-offer-history-item-author__user">
                {{ firstName }} {{ lastName }} @ {{ formatDateTime(item.eventDate) }}
            </div>
        {% endblock %}

        {% block b2b_offer_history_item_author_avatar %}
            <sw-avatar
                size="50px"
                :firstName="firstName"
                :lastName="lastName"
            ></sw-avatar>
        {% endblock %}
    </div>
{% endblock %}