$color-admin: #fff;
$color-user: #3c3c3c;
$spacer: 70px;

.b2b-offer-history-item-author {
    position: relative;
    width: auto;
    max-width: 60%;
    margin-bottom: 20px;

    &.left {
        float: left;
        padding-left: $spacer;

        .b2b-offer-history-item-author__user {
            text-align: left;
        }

        .sw-avatar {
            left: 0;
        }
    }

    &.right {
        float: right;

        .b2b-offer-history-item-author__user {
            text-align: right;
            padding-right: $spacer;
        }

        .sw-avatar {
            right: 0;
        }
    }

    &__user {
        margin-top: 5px;
        font-size: 14px;
    }

    .sw-avatar {
        position: absolute;
        bottom: 0;
    }
}