{% sw_extends '@Storefront/storefront/layout/header/actions/account-widget.html.twig' %}

{% block layout_header_actions_account_widget %}
    {% if context.customer %}
        <div class="dropdown">
            <a href="{{ path('frontend.account.home.page') }}"
               class="btn account-menu-btn header-actions-btn"
               type="button"
            >
                {% sw_icon 'user' style { 'pack': 'feldmann', 'size': 'sm'} %}
                <span class="d-none d-md-inline-block header-action-name">{{ "account.labelAccount"|trans }}</span>
            </a>
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block layout_header_actions_account_widget_dropdown_button %}
    <button class="btn account-menu-btn header-actions-btn"
            type="button"
            id="accountWidget"
            data-offcanvas-account-menu="true"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            aria-label="{{ "account.labelLogin"|trans }}">
        {% sw_icon 'user' style { 'pack': 'feldmann', 'size': 'sm'} %}
        <span class="d-none d-md-inline-block header-action-name">{{ "account.labelLogin"|trans }}</span>
    </button>
{% endblock %}
