{% sw_extends '@Storefront/storefront/layout/header/actions/cart-widget.html.twig' %}

{% block layout_header_actions_cart_widget %}
    {% sw_icon 'shopping-cart' style { 'pack': 'feldmann', 'size': 'sm'} %}
    {% if page.cart.lineItems|length > 0 %}
        <span class="badge badge-primary header-cart-badge">{{ page.cart.lineItems|length }}</span>
    {% endif %}
    <span class="d-none d-md-inline-block header-action-name">{{ "account.labelCart"|trans }}</span>
{% endblock %}
