{% set type = messages|first %}
{% set count_messages = (messages|length - 1) %}

{% block b2b_message_template %}
    <ul>
        <li class="b2b--message-{{ type }}">
            {% block b2b_message_icon %}
                {%
                    sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage-icon.html.twig'
                    with {
                        type: type
                    } only
                %}
            {% endblock %}

            {% block b2b_message_template_content %}
                {%
                    sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/template/_b2bmessage-content.html.twig'
                    with {
                        messages: messages,
                        count_messages: count_messages
                    } only
                %}
            {% endblock %}
        </li>
    </ul>
{% endblock %}