{% block b2b_message_content %}
    <p>
        {% if count_messages > 1 %}
            {% block b2b_message_content_forced_translation_list %}
                {% for i in range(1, count_messages) %}
                    {% if i is same as(1) %}
                        {% block b2b_message_content_forced_translation_list_item_first %}
                            {%-
                                sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage-forced-translation.html.twig'
                                with {
                                    snippetKey: messages[i],
                                } only
                            -%}
                        {% endblock %}
                    {% else %}
                        {% block b2b_message_content_forced_translation_list_item_additional %}
                            <spaceless style="text-transform: none">
                                {{ messages[i] | trans}}
                            </spaceless>
                        {% endblock %}
                    {% endif %}
                {% endfor %}
            {% endblock %}
        {% else %}
            {% block b2b_message_content_forced_translation_single %}
                {%-
                    sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage-forced-translation.html.twig'
                    with {
                        snippetKey: messages[1],
                    } only
                -%}
            {% endblock %}
        {% endif %}
    </p>
{% endblock %}