{% block b2b_orderlineitemreference_address_detail %}
    <table>
        {% block b2b_orderlineitemreference_address_detail_inner %}
            <tr>
                <td>{{ "b2b.CompanyLabel"|trans }}</td>
                <td>{{ address.company }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.StreetLabel"|trans }}</td>
                <td>{{ address.street }}</td>
            </tr>

            {% if address.additional_address_line1 %}
                <tr>
                    <td>{{ "b2b.AddressAdditionalLabel"|trans }} 1</td>
                    <td>{{ address.additional_address_line1 }}</td>
                </tr>
            {% endif %}

            {% if address.additional_address_line2 %}
                <tr>
                    <td>{{ "b2b.AddressAdditionalLabel"|trans }} 2</td>
                    <td>{{ address.additional_address_line2 }}</td>
                </tr>
            {% endif %}

            <tr>
                <td>{{ "b2b.CityLabel"|trans }}</td>
                <td>{{ address.city }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.ZipcodeLabel"|trans }}</td>
                <td>{{ address.zipcode }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.DepartmentLabel"|trans }}</td>
                <td>{{ address.department }}</td>
            </tr>
        {% endblock %}
    </table>
{% endblock %}
