{% if type is same as(null) %}
    {% set type = 'fastorder' %}
{% endif %}

{% set defaultOptionText = "b2b.AddItemToListHeadline"|trans  %}

{% if type is same as('cart') %}
    {% set defaultOptionText = "b2b.AddCartToOrderList"|trans  %}
{% endif %}

{% block b2b_orderlist_remote_select %}
    <div class="b2b--orderlist-remote {{ b2b_acl('b2borderlist', 'grid') }}">
        <div class="select-field">

            {% block b2b_orderlist_remote_select_dropdown %}
                <select
                    name="orderlist"
                    class="b2b--orderlist-dropdown custom-select is--auto-submit"
                    data-action-create="{{ path("frontend.b2b.b2borderlist.createAjax") }}"
                    data-success="{{ "b2b.RemoteListFastOrderSuccess"|trans }}"
                    data-new-placeholder="{{ "b2b.OrderlistCreatePlaceholder"|trans }}"
                    data-new-error="{{ "b2b.OrderlistCreateError"|trans }}"
                >
                    {% block b2b_orderlist_remote_select_dropdown_options %}
                        <option
                            disabled
                            selected
                        >
                            {{ defaultOptionText }}
                        </option>

                        {% if defaultOrderList %}
                            <optgroup label="{{ "b2b.RecentlyAdded"|trans }}">
                                <option
                                    value="{{ defaultOrderList.id }}"
                                    {% if defaultOrderList.id.getValue is same as(orderListId) %}selected="selected"{% endif %}
                                >
                                    {{ defaultOrderList.name }}
                                </option>
                            </optgroup>
                        {% endif %}
                        <optgroup label="{{ "b2b.OrderLists"|trans }}">
                            {% for list in orderLists %}
                                <option
                                    value="{{ list.id.getValue }}"
                                    {% if list.id.getValue is same as(orderListId) %}selected="selected"{% endif %}
                                >
                                    {{ list.name }}
                                </option>
                            {% else %}
                                <option disabled>{{ "b2b.NoOrderListsAvailable"|trans }}</option>
                            {% endfor %}
                        </optgroup>
                        <optgroup
                            label="{{ "b2b.Actions"|trans }}"
                            class="{{ b2b_acl('b2borderlist', 'createAjax') }}"
                        >
                            <option
                                value="_new_"
                                class="auto-submit--ignore"
                            >
                                {{ "b2b.CreateOrderList"|trans }}
                            </option>
                        </optgroup>
                    {% endblock %}
                </select>
            {% endblock %}
        </div>

        {% block b2b_orderlist_remote_select_create_new %}
            <div
                class="create-field b2b--orderlist-add input-group mb-2"
                style="display: none;"
                data-action-create="{{ path("frontend.b2b.b2borderlist.createAjax") }}"
                data-new-placeholder="{{ "b2b.OrderlistCreatePlaceholder"|trans }}"
                data-csrf="{{ sw_csrf('frontend.b2b.b2borderlist.createAjax', { mode: 'token' }) }}"
            >
                {% block b2b_orderlist_remote_select_create_new_inner %}
                    <input
                        type="text"
                        name="name"
                        maxlength="50"
                        required="required"
                        class="form-control"
                        placeholder="{{ "b2b.OrderlistCreatePlaceholder"|trans }}"
                    >
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary orderlist-create-abort form-control">
                            {{ "b2b.Cancel"|trans }}
                        </button>
                        <button class="btn btn-primary orderlist-create-save form-control">
                            {{ "b2b.create"|trans }}
                        </button>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
