.b2b--modal {

  .block-content {

    .row--default-selection {

      .panel--spacer {
        @include unitize(width, 48);
      }
    }

    .row--default-address,
    .row--address-selection {

      .panel--td,
      .panel--th {
        width: 22%;

        &.panel--label-company,
        &.panel--label-street {
          width: 23%;
        }
      }
    }

    .row--address-selection {

      .panel--icon {
        width: 5%;
      }

      .panel--tree-col-assign {
        text-align: center;

        @include unitize(width, 45);
      }

      .panel--tree-col-checkbox {
        text-align: center;

        @include unitize(width, 45);
      }

      .panel--tree-col-label {
        @include unitize(padding-left, 5);
      }
    }

    .row--default-address {

      .panel--label-default-address {
        width: 10%;
      }

      &.row--address {

        .panel--label-default-address {
          text-align: center;
        }
      }
    }

    .row--contingent-selection {

      .panel--icon {
        width: 5%;
      }

      .panel--label-name {
        width: 45%;
      }

      .panel--label-description {
        width: 45%;
      }
    }

    .row--budget-selection {

      .panel--icon {
        width: 5%;
      }

      .panel--label-name {
        width: 45%;
      }

      .panel--label-description {
        width: 45%;
      }
    }

    .row--contact-selection {

      .panel--icon {
        width: 5%;
      }

      .panel--label-firstname {
        width: 25%;
      }

      .panel--label-lastname {
        width: 25%;
      }

      .panel--label-email {
        width: 40%;
      }
    }

    .row--orderlist-selection {

      .panel--icon {
        width: 5%;
      }

      .panel--label-name {
        width: 30%;
      }

      .panel--label-description {
        width: 60%;
      }
    }

    .row--role-role-selection {

      .panel--icon {
        width: 5%;
      }

      .panel--tree-col-tree {
        @include unitize(width, 50);
      }

      .panel--tree-col-checkbox {
        @include unitize(width, 25);
      }

      .panel--tree-col-label {
        @include unitize(padding-left, 20);
      }
    }
  }
}