{% set referenceNumber = lineItemReference.customReferenceNumber|default(lineItemReference.referenceNumber) %}

{% block b2b_offerlineitemreference_form %}
    <div class="form-group col-sm-6">
        <label>
            {{ "b2b.ProductNumberLabel"|trans }} *
        </label>
        <div class="b2b--search-container">
            <input
                type="text"
                name="referenceNumber"
                value="{{ referenceNumber }}"
                placeholder="{{ "b2b.ProductNumberPlaceholder"|trans }}"
                class="input-ordernumber form-control"
                data-product-search="{{ path("frontend.b2b.b2bproductsearch.searchProduct") }}"
                autofocus
            />
        </div>
    </div>

    <div class="form-group col-sm-6">
        <label>
            {{ "b2b.QuantityLabel"|trans }} *
        </label>
        <input
            type="number"
            name="quantity"
            value="{{ lineItemReference.quantity }}"
            class="search--quantity b2b--search-quantity form-control"
            placeholder="{{ "b2b.QuantityPlaceholder"|trans }}"
            min="{{ lineItemReference.minPurchase|default(1) }}"
            step="{{ lineItemReference.purchaseStep|default(1) }}"
            {% if lineItemReference.maxPurchase %}max="{{ lineItemReference.maxPurchase }}"{% endif %}
        />
    </div>
{% endblock %}
