{% block b2b_base_topbar_navigation_submenu %}
    {% block b2b_base_topbar_navigation_submenu_user %}
        <ul class="navigation--submenu">
            <li class="has--padding">
                {% block b2b_base_topbar_navigation_submenu_user_name %}
                    <span>
                        {{ "b2b.SignedInAs"|trans }}

                        {{ user.firstName }} {{ user.lastName }}
                    </span>
                {% endblock %}

                {% if isDebtor %}
                    {% block b2b_base_topbar_navigation_submenu_user_debtor %}
                        <span title="{{ 'b2b.DebtorLabel'|trans }}">
                            {% sw_icon 'star' %}
                        </span>
                    {% endblock %}
                {% endif %}
            </li>
        </ul>
    {% endblock %}

    {% block b2b_base_topbar_navigation_submenu_navigation %}
        <ul class="navigation--submenu submenu--right">
            {% block b2b_base_topbar_navigation_submenu_navigation_list %}
                {% block b2b_base_topbar_navigation_submenu_navigation_list_account %}
                    <li class="is--account">
                        <a
                            title="{{ "b2b.MyAccount"|trans }}"
                            href="{{ path('frontend.b2b.b2baccount.index') }}"
                        >
                            {{ "b2b.MyAccount"|trans }}
                        </a>
                    </li>
                {% endblock %}

                {% block b2b_base_topbar_navigation_submenu_navigation_list_logout %}
                    <li class="is--logout">
                        <a
                            title="Logout"
                            href="{{ path('frontend.account.logout.page') }}"
                        >
                            {{ "b2b.Logout"|trans }}
                            {% sw_icon 'log-out' %}
                        </a>
                    </li>
                {% endblock %}
            {% endblock %}
        </ul>
    {% endblock %}
{% endblock %}