{% block b2b_base_topbar_navigation_submenu %}
    <div class="b2b--navigation-submenu">
        <span class="b2b--navigation-submenu__user">
            {% block b2b_base_topbar_navigation_submenu_user %}
                {% block b2b_base_topbar_navigation_submenu_user_name %}
                    <span>
                        {{ "b2b.SignedInAs"|trans }}

                        {{ user.firstName }} {{ user.lastName }}
                    </span>
                {% endblock %}

                {% if isDebtor %}
                    {% block b2b_base_topbar_navigation_submenu_user_debtor %}
                        <span title="{{ 'b2b.DebtorLabel'|trans }}">
                            {% sw_icon 'star' %}
                        </span>
                    {% endblock %}
                {% endif %}
            {% endblock %}
        </span>

        {# @deprecated tag:v4.6.0 - will be removed. Use "b2b_base_topbar_navigation_submenu_actions" instead #}
        {% block b2b_base_topbar_navigation_submenu_navigation %}
            {# @deprecated tag:v4.6.0 - will be removed without replacement #}
            {% block b2b_base_topbar_navigation_submenu_navigation_list %}
                {# @deprecated tag:v4.6.0 - will be removed. Use "b2b_base_topbar_navigation_submenu_actions_account" instead #}
                {% block b2b_base_topbar_navigation_submenu_navigation_list_account %}{% endblock %}
                {# @deprecated tag:v4.6.0 - will be removed. Use "b2b_base_topbar_navigation_submenu_actions_logout" instead #}
                {% block b2b_base_topbar_navigation_submenu_navigation_list_logout %}{% endblock %}
            {% endblock %}
        {% endblock %}

        {% block b2b_base_topbar_navigation_submenu_actions %}
            <span class="b2b--navigation-submenu__actions">
                {% block b2b_base_topbar_navigation_submenu_actions_account %}
                    <a
                        title="{{ "b2b.MyAccount"|trans }}"
                        href="{{ path('frontend.b2b.b2baccount.index') }}"
                    >
                        <button class="btn btn-secondary">{{ "b2b.MyAccount"|trans }}</button>
                    </a>
                {% endblock %}

                {% block b2b_base_topbar_navigation_submenu_actions_logout %}
                    <a
                        title="Logout"
                        href="{{ path('frontend.account.logout.page') }}"
                    >
                        <button class="btn btn-secondary">
                            {{ "b2b.Logout"|trans }}
                            {# {% sw_icon 'log-out' %} #}
                        </button>
                    </a>
                {% endblock %}
            </span>
        {% endblock %}
    </div>
{% endblock %}
