{% block b2b_navigation %}
    <div class="b2b--navigation">
        {% block b2b_navigation_submenu %}
            {%
                sw_include '@SwagB2bPlatform/storefront/_partials/_b2bnavigation/_navigation-submenu.html.twig'
                with { user: user } only

            %}
        {% endblock %}

        {% block b2b_navigation_mainmenu %}
            {%
                sw_include '@SwagB2bPlatform/storefront/_partials/_b2bnavigation/_navigation-mainmenu.html.twig'
                with { navigation: navigation } only
            %}
        {% endblock %}
    </div>
{% endblock %}