{% block b2b_base_topbar_navigation_menu %}
    <div class="b2b--navigation-mainmenu">
        {% block b2b_base_topbar_first_entry %}{% endblock %}

        {% for nav_item in navigation %}

            {% if not nav_item.hidden %}
                {% sw_include
                    '@SwagB2bPlatform/storefront/_partials/_b2bnavigation/_navigation-item.html.twig'
                    with { nav_item: nav_item } only
                %}
            {% endif %}

        {% endfor %}
            <a
                href="{{ path('frontend.account.offer.page') }}"
                class="navigation--link {{ 'frontend.b2b.' ~ nav_item.route ~ '.index' == activeRoute ? 'is--active' : '' }}"
            >
                {{ ("b2b.orderState.offer")|trans }}
            </a>

            <a
                href="{{ path('frontend.account.invoice.page') }}"
                class="navigation--link {{ 'frontend.b2b.' ~ nav_item.route ~ '.index' == activeRoute ? 'is--active' : '' }}"
            >
                {{ ("b2b.orderState.invoice")|trans }}
            </a>
        {% block b2b_base_topbar_last_entry %}{% endblock %}
    </div>
{% endblock %}
