{% block b2b_navigation_item %}
    {% if b2b_acl_check(nav_item.route, 'index') %}
        <li>
            {% block b2b_navigation_item_link %}
                <a
                    href="{{ path('frontend.b2b.' ~ nav_item.route ~'.index') }}"
                    class="navigation--link {{ 'frontend.b2b.' ~ nav_item.route ~ '.index' == activeRoute ? 'is--active' : '' }}"
                >
                    {{ ("b2b." ~ nav_item.name)|trans }}
                </a>
            {% endblock %}
        </li>
        
    {% endif %}
{% endblock %}