{% block b2b_base_topbar_navigation_menu %}
    <div
        class="b2b--navigation-container"
        data-menu-scroller="true"
        data-listselector=".navigation--menu"
        data-viewportselector=".b2b--navigation-wrapper"
    >
        <div class="b2b--navigation-wrapper">
            {% block b2b_base_topbar_scroller_left %}
                <div class="b2b--menu-scroller b2b--menu-scroller--left">
                    {% sw_icon 'arrow-left' style { pack: 'solid' } %}
                </div>
            {% endblock %}

            <ul class="navigation--menu">
                {% block b2b_base_topbar_first_entry %}{% endblock %}

                {% for nav_item in navigation %}
                    {% if not nav_item.hidden %}
                        {% sw_include
                            '@SwagB2bPlatform/storefront/_partials/_b2bnavigation/_navigation-item.html.twig'
                            with { nav_item: nav_item } only
                        %}
                    {% endif %}

                {% endfor %}
                <li> 
            
                        <a
                            href="{{ path('frontend.account.offer.page') }}"
                            class="navigation--link {{ 'frontend.b2b.' ~ nav_item.route ~ '.index' == activeRoute ? 'is--active' : '' }}"
                        >
                           {{ ("b2b.orderState.offer")|trans }}
                        </a>
           
                </li>

                <li> 
            
                        <a
                            href="{{ path('frontend.account.invoice.page') }}"
                            class="navigation--link {{ 'frontend.b2b.' ~ nav_item.route ~ '.index' == activeRoute ? 'is--active' : '' }}"
                        >
                           {{ ("b2b.orderState.invoice")|trans }}
                        </a>
           
                </li>

                {% block b2b_base_topbar_last_entry %}{% endblock %}
            </ul>

            {% block b2b_base_topbar_scroller_right %}
                <div class="b2b--menu-scroller b2b--menu-scroller--right">
                    {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}