{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true,
    content: {
        padding: false
    }
} %}

{# Title Placeholder #}
{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.PermissionManagement"|trans }}
{% endblock %}

{# Modal Content: Grid Component: Actions #}
{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}
{% endblock %}

{# Modal Content: Grid Component: Content #}
{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bacl/_acl-route-assignment-grid.html.twig"
        with {
            'privilegeGrid': privilegeGrid,
            'actions': actions,
            'propertyName': 'roleId',
            'propertyValue': roleId,
            'assignController': 'b2broleroute',
            'assignAction': 'assign',
            'assignComponentAction': 'assignComponent'
        }
    %}
{% endblock %}

{# Modal Content: Grid Component: Bottom #}
{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions">
        {% block b2b_roleroute_deny_all %}
            <form
                action="{{ path('frontend.b2b.b2broleroute.denyAll') }}"
                method="post"
                class="form--inline"
                enctype="application/x-www-form-urlencoded"
            >
                {{ sw_csrf('frontend.b2b.b2broleroute.denyAll') }}

                <input type="hidden" name="roleId" value="{{ roleId }}">
                <button class="btn b2b-danger">{{ "b2b.DenyAll"|trans }}</button>
            </form>
        {% endblock %}

        {% block b2b_roleroute_allow_all %}
            <form
                action="{{ path('frontend.b2b.b2broleroute.allowAll') }}"
                method="post"
                class="form--inline"
            >
                {{ sw_csrf('frontend.b2b.b2broleroute.allowAll') }}

                <input type="hidden" name="roleId" value="{{ roleId }}">
                <button class="btn b2b-danger">{{ "b2b.AllowAll"|trans }}</button>
            </form>
        {% endblock %}
    </div>
{% endblock %}