.b2b-offer-detail-history {
    &--has-items {
        max-height: 60vh;
        margin: 0;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        overflow-y: scroll;
    }

    &__placeholder {
        line-height: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    &__actions {

        &-message {
            display: table;

            .sw-field,
            .sw-button {
                display: table-cell;
            }

            .sw-button {
                margin-left: 10px;
                padding: 5px 24px;
            }
        }
    }

    &__overview {
        padding: 0;

        &-container {
            padding: 30px 30px 0;
            max-height: 600px;
            overflow-y: scroll;
        }
    }

    .clearfix {
        &::after {
            display: block;
            content: "";
            clear: both;
        }
    }
}