{% block b2b_offer_detail_history %}
    <sw-card
        :title="$tc('b2b-offer.detail.titleActivity')"
        class="b2b-offer-detail-history"
    >
        <sw-card-section
            class="b2b-offer-detail-history__overview"
            divider="bottom"
        >
            {% block b2b_offer_detail_history_list %}
                <div
                    ref="historyContainer"
                    class="b2b-offer-detail-history__overview-container"
                >
                    {% block b2b_offer_detail_history_list_combined_items %}
                        <template v-for="(combinedItems, combinedIndex) in activity">
                            <div class="clearfix">
                                <b2b-offer-history-combined-items
                                    :key="`b2b-offer-history-item--${combinedIndex}`"
                                    :activity="combinedItems"
                                ></b2b-offer-history-combined-items>
                            </div>

                            <template v-if="combinedItems[0]">
                                <div class="clearfix">
                                    <b2b-offer-history-item-author
                                        :item="combinedItems[0]"
                                        :align="getItemAlignment(combinedItems[0])"
                                    ></b2b-offer-history-item-author>
                                </div>
                            </template>
                        </template>
                    {% endblock%}

                    {% block b2b_offer_detail_history_placeholder %}
                    <div
                        v-if="activityIsEmpty"
                        class="b2b-offer-detail-history__placeholder"
                    >
                        {{ $tc('b2b-offer.detail.history.placeholder') }}
                    </div>
                    {% endblock%}
                </div>
            {% endblock %}
        </sw-card-section>

        <sw-card-section
            class="b2b-offer-detail-history__actions"
            divider="bottom"
            secondary
        >
            {% block b2b_offer_detail_history_actions %}
                <div class="b2b-offer-detail-history__actions-message">
                    <sw-text-field
                        :placeholder="$tc('b2b-offer.detail.history.messagePlaceholder')"
                        @keypress.enter="handleSubmit"
                        v-model="message"
                        :disabled="isLoading"
                    ></sw-text-field>
                    <sw-button
                        variant="primary"
                        @click="handleSubmit"
                        :disabled="isLoading || !message.match(/\S/g)"
                    >
                        {{ $tc('b2b-offer.general.buttonReply') }}
                    </sw-button>
                </div>
            {% endblock %}
        </sw-card-section>
    </sw-card>
{% endblock %}