{% block b2b_offer_history_item_content_removed_item %}
    <div>
        <b class="b2b-offer-history-item__content-title">
            {{ $tc('b2b-offer.detail.history.titleRemovedPositions') }}
        </b>
        <div>{{ item.logValue.orderNumber }} {{ item.logValue.productName }}</div>
    </div>
{% endblock %}
