{% sw_extends '@Storefront/storefront/page/search/search-pagelet.html.twig' %}

{% block element_product_listing_wrapper %}
    <div class="cms-element-sidebar-filter">
        <div id="filter-panel-wrapper"
             class="filter-panel-wrapper"
             data-offcanvas-filter-content="true">
            {% sw_include '@Storefront/storefront/component/listing/filter-panel.html.twig' with {
                listing: page.listing,
                sidebar: false
            } %}
        </div>

        {% sw_include '@Storefront/storefront/component/product/listing.html.twig' with {
            searchResult: page.listing,
            dataUrl: url('widgets.search.pagelet.v2'),
            filterUrl: '',
            params: { search: page.searchTerm },
            sidebar: 0,
            boxLayout: '',
            displayMode: ''
        } %}
    </div>
{% endblock %}
