{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-product-header.html.twig' %}

{% block page_checkout_cart_header_tax_price %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}