{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-item.html.twig' %}

{% block page_checkout_item_tax_price_inner %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}