{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_aside_actions %}
    {% if not coeHideCheckoutButtons %}
        {{ parent() }}
    {% endif %}
{% endblock %}