{% block b2b_orderlistremote_remote_list_messages %}
    <div>
        {% if message and message.key %}

            {% set snippetKey = ('b2b.RemoteListFastOrder_' ~ message.key) %}

            {%
                sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
                with { messages: [ message.type,snippetKey ] } only
            %}

        {% endif %}
    </div>
{% endblock %}

{% block b2b_orderlistremote_remote_list_form %}
    <form
        action="{{ path('frontend.b2b.b2borderlistremote.processAddProductsToOrderList') }}"
        method="post"
        class="form--inline order-list-form"
    >
        {% block b2b_orderlistremote_remote_list_form_inner %}
            {{ sw_csrf('frontend.b2b.b2borderlistremote.processAddProductsToOrderList') }}

            <input type="hidden" name="referenceNumber" value="{{ referenceNumber }}" />
            <input type="hidden" name="products[0][referenceNumber]" value="{{ referenceNumber }}">
            <input type="hidden" name="products[0][quantity]" value="{% if b2b_quantity %}{{ b2b_quantity }}{% else %}1{% endif %}">

            {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2borderlistremoteselect/_orderlist-remote-select.html.twig' with {'type': type} %}
        {% endblock %}
    </form>
{% endblock %}