{% block b2b_orderlistremote_remote_list_cart_messages %}
    {% if message and message.key %}

        {% set snippetKey = ('b2b.RemoteListFastOrder_' ~ message.key) %}

        {%
            sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
            with { messages: [ message.type, snippetKey ] } only
        %}

    {% endif %}
{% endblock %}

{% block b2b_orderlistremote_remote_list_cart_form %}
    <form
        action="{{ path('frontend.b2b.b2borderlistremote.addListThroughCart') }}"
        class="form--inline order-list-form"
        method="post"
    >
        {% block b2b_orderlistremote_remote_list_cart_form_inner %}
            {{ sw_csrf('frontend.b2b.b2borderlistremote.addListThroughCart') }}

            <input type="hidden" name="cartId" value="{{ context.token }}">

            {%
                sw_include '@SwagB2bPlatform/storefront/_partials/_b2borderlistremoteselect/_orderlist-remote-select.html.twig'
                with { type: 'cart' }
            %}
        {% endblock %}
    </form>
{% endblock %}