{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    bottom: true,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ 'b2b.PermissionManagement'|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bacl/_acl-route-assignment-grid.html.twig'
        with {
            'privilegeGrid': privilegeGrid,
            'actions': actions,
            'propertyName': 'contactId',
            'propertyValue': contactId,
            'assignController': 'b2bcontactroute',
            'assignAction': 'assign',
            'assignComponentAction': 'assignComponent'
        }
    %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions {{ b2b_acl('b2bcontactroute', 'assign') }}">
        {% block b2b_contactroute_actions %}
            <form
                action="{{ path('frontend.b2b.b2bcontactroute.denyAll') }}"
                method="post"
                class="form--inline"
            >
                {{ sw_csrf('frontend.b2b.b2bcontactroute.denyAll') }}

                <input
                    type="hidden"
                    name="contactId"
                    value="{{ contactId }}"
                >
                <button
                    type="submit"
                    class="btn b2b-danger"
                >
                    {{ 'b2b.DenyAll'|trans }}
                </button>
            </form>

            <form
                action="{{ path('frontend.b2b.b2bcontactroute.allowAll') }}"
                method="post"
                class="form--inline"
            >
                {{ sw_csrf('frontend.b2b.b2bcontactroute.allowAll') }}

                <input
                    type="hidden"
                    name="contactId"
                    value="{{ contactId }}"
                >
                <button
                    type="submit"
                    class="btn b2b-danger"
                >
                    {{ 'b2b.AllowAll'|trans }}
                </button>
            </form>
        {% endblock %}
    </div>
{% endblock %}
