{% block b2b_ordernumber_export %}
    <div class="panel--title is--underline panel--title-export">
        <div class="block--group b2b--block-panel">
            <div class="block block--actions">
                {% block b2b_ordernumber_export_actions %}
                    <a
                        href="{{ path('frontend.b2b.b2bordernumber.exportCsv') }}"
                        class="btn btn-secondary is--right action--export is--primary ignore--b2b-ajax-panel ml-1"
                    >
                        {{ "b2b.ExportListCSV"|trans }}
                    </a>
                    <a
                        href="{{ path('frontend.b2b.b2bordernumber.exportXls') }}"
                        class="btn btn-secondary is--right action--export is--primary ignore--b2b-ajax-panel mr-1"
                    >
                        {{ "b2b.ExportListXLS"|trans }}
                    </a>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}