{% block b2b_ordernumber_export %}
    <div class="text-right mb-4">
        {% block b2b_ordernumber_export_actions %}
            {% block b2b_ordernumber_export_actions_csv %}
                <a
                    href="{{ path('frontend.b2b.b2bordernumber.exportCsv') }}"
                    class="btn btn-secondary ignore--b2b-ajax-panel"
                >
                    {{ "b2b.ExportListCSV"|trans }}
                </a>
            {% endblock %}
            {% block b2b_ordernumber_export_actions_xls %}
                <a
                    href="{{ path('frontend.b2b.b2bordernumber.exportXls') }}"
                    class="btn btn-secondary ignore--b2b-ajax-panel"
                >
                    {{ "b2b.ExportListXLS"|trans }}
                </a>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
