{% block b2b_ordernumber_product_name %}
    {% if productName %}
        <h4 class="headline-product">{{ productName }}</h4>
    {% else %}
        <div class="headline-notfound">
            <b>{{ "b2b.ProductNotFound"|trans }}</b>
        </div>
    {% endif %}
{% endblock %}