{% set url = path('frontend.b2b.b2bordernumber.grid') %}

{% block b2b_ordernumber_export %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/export.html.twig' %}
{% endblock %}

<div class="b2b--grid-container">
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/grid/_grid-messages.html.twig' %}

    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/grid/_grid-form.html.twig' %}

    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/grid/_grid-table.html.twig' %}
</div>
