{% set url = path('frontend.b2b.b2bordernumber.grid') %}

<div class="panel--body b2b--grid-container">
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/grid/_grid-messages.html.twig' %}

    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/grid/_grid-form.html.twig' %}

    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/grid/_grid-table.html.twig' %}
</div>