{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block b2blayout_content %}
    <div class="module-ordernumber">
        <div class="panel">
            {% block b2b_ordernumber_upload %}
                {% if b2b_acl_check('b2bordernumber', 'upload') %}
                    <div class="module-ordernumber--upload">
                        <div
                            class="b2b--ajax-panel"
                            data-id="order-number-upload"
                            data-url="{{ path('frontend.b2b.b2bordernumber.upload') }}"
                            data-plugins="ajaxPanelUpload"
                        ></div>
                    </div>
                {% endif %}
            {% endblock %}

            {% block b2b_ordernumber_export %}
                {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/export.html.twig' %}
            {% endblock %}

            {% block b2b_ordernumber_grid %}
                <div
                    class="b2b--ajax-panel has--b2b-form"
                    data-id="order-number-grid"
                    data-url="{{ path('frontend.b2b.b2bordernumber.grid') }}"
                    data-plugins="gridComponent,ajaxPanelOrderNumber,ajaxPanelProductSearch"
                    data-product-url="{{ path('frontend.b2b.b2bordernumber.getProductName') }}"
                ></div>
            {% endblock %}
        </div>
    </div>
{% endblock %}