{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block b2blayout_content %}
    <div class="module-ordernumber">
        {% block b2b_ordernumber %}
            {% block b2b_ordernumber_upload %}
                {% if b2b_acl_check('b2bordernumber', 'upload') %}
                        <div
                            class="b2b--ajax-panel"
                            data-id="order-number-upload"
                            data-url="{{ path('frontend.b2b.b2bordernumber.upload') }}"
                            data-plugins="ajaxPanelUpload"
                        ></div>
                {% endif %}
            {% endblock %}

            {# @deprecated tag:v4.6.0 - will be removed without replacement #}
            {% block b2b_ordernumer_export %}{% endblock %}

            {% block b2b_ordernumber_grid %}
                <div
                    class="b2b--ajax-panel has--b2b-form"
                    data-id="order-number-grid"
                    data-url="{{ path('frontend.b2b.b2bordernumber.grid') }}"
                    data-plugins="gridComponent"
                    data-product-url="{{ path('frontend.b2b.b2bordernumber.getProductName') }}"
                ></div>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
