<div class="panel has--border is--rounded">
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/upload/_upload-header.html.twig' %}

    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/upload/_upload-dropzone.html.twig' %}

    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/upload/_upload-configuration.html.twig' %}
</div>