<div class="b2b-upload">
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/upload/_upload-header.html.twig' %}

    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/upload/_upload-dropzone.html.twig' %}

    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/upload/_upload-configuration.html.twig' %}
</div>
