{% block b2b_orderclearance_grid_head %}
    {%
        set allowActions = b2b_acl_check('b2borderclearance', 'detail')
        or b2b_acl_check('b2borderclearance', 'accept')
        or b2b_acl_check('b2borderclearance', 'decline')
        or b2b_acl_check('b2borderclearance', 'remove')
    %}

    <tr>
        {% block b2b_orderclearance_grid_head_inner %}
            <th>{{ 'b2b.DateLabel'|trans }}</th>
            <th>{{ 'b2b.ContactLabel'|trans }}</th>
            <th>{{ 'b2b.OrderAmountLabel'|trans }}</th>
            <th>{{ 'b2b.OrderReferenceNumberShortLabel'|trans }}</th>
            <th>{{ 'b2b.StateLabel'|trans }}</th>
            {% if allowActions %}
                <th>{{ 'b2b.ActionsLabel'|trans }}</th>
            {% endif %}
        {% endblock %}
    </tr>
{% endblock %}