{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-sort.html.twig' %}

{% block b2b_grid_col_sort %}
    <option value="id::asc"{% if gridState.sortBy == 'id::asc' %} selected="selected"{% endif %}>{{ "b2b.NewestAsc"|trans }}</option>
    <option value="id::desc"{% if gridState.sortBy == 'id::desc' %} selected="selected"{% endif %}>{{ "b2b.NewestDesc"|trans }}</option>
    <option value="ordernumber::asc"{% if gridState.sortBy == 'ordernumber::asc' %} selected="selected"{% endif %}>{{ "b2b.OrderNumberAsc"|trans }}</option>
    <option value="ordernumber::desc"{% if gridState.sortBy == 'ordernumber::desc' %} selected="selected"{% endif %}>{{ "b2b.OrderNumberDesc"|trans }}</option>
    <option value="created_at::asc"{% if gridState.sortBy == 'created_at::asc' %} selected="selected"{% endif %}>{{ "b2b.DateAsc"|trans }}</option>
    <option value="created_at::desc"{% if gridState.sortBy == 'created_at::desc' %} selected="selected"{% endif %}>{{ "b2b.DateDesc"|trans }}</option>
    <option value="contact::asc"{% if gridState.sortBy == 'contact::asc' %} selected="selected"{% endif %}>{{ "b2b.ContactAsc"|trans }}</option>
    <option value="contact::desc"{% if gridState.sortBy == 'contact::desc' %} selected="selected"{% endif %}>{{ "b2b.ContactDesc"|trans }}</option>
    <option value="order_reference::asc"{% if gridState.sortBy == 'order_reference::asc' %} selected="selected"{% endif %}>{{ "b2b.ReferenceAsc"|trans }}</option>
    <option value="order_reference::desc"{% if gridState.sortBy == 'order_reference::desc' %} selected="selected"{% endif %}>{{ "b2b.ReferenceDesc"|trans }}</option>
    <option value="state::asc"{% if gridState.sortBy == 'state::asc' %} selected="selected"{% endif %}>{{ "b2b.StateAsc"|trans }}</option>
    <option value="state::desc"{% if gridState.sortBy == 'state::desc' %} selected="selected"{% endif %}>{{ "b2b.StateDesc"|trans }}</option>
{% endblock %}