{% block b2b_orderclearance_grid_table_actions %}
    <div class="b2b-table__actions">
        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderclearance/grid/_grid-sort.html.twig' %}

        {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-search.html.twig' %}
    </div>
{% endblock %}
