{% block b2b_orderclearance_grid_row %}
    <tr data.row-id="{{ row.id.getValue }}">
        {% block b2b_orderclearance_grid_row_inner %}
            <td
                class="is--align-center"
                data-label="{{ 'b2b.DateLabel'|trans }}"
            >
                {{ row.createdAt|date('d.m.Y H:i') }}
            </td>

    <td
        class="is--align-center"
        data-label="{{ 'b2b.ContactLabel'|trans }}"
    >
        {% if row.userPostalSettings %}
            {{ row.userPostalSettings.email }}
        {% else %}
            {{ 'b2b.ContactNotFound'|trans }}
        {% endif %}
        {% if not row.salesRepresentativeAuthId.getValue() is empty %}
            <span class="info-icon--container" title="{{ 'b2b.SalesRepOrder'|trans({'%firstName%': row.owner.behalfOf.firstName, '%lastName%': row.owner.behalfOf.lastName}) }}">
                {% sw_icon 'info' %}
            </span>
        {% endif %}
    </td>
    <td
        class="is--align-right"
        data-label="{{ "b2b.OrderAmountLabel"|trans }}"
    >
        {{ row.list.amountNet|currency }}
        <br>
        <small>{{ 'b2b.WithTaxesLabel'|trans }}: {{ row.list.amount|currency }}</small>
    </td>
    <td
        class="is--align-center"
        data-label="{{ 'b2b.OrderReferenceNumberShortLabel'|trans }}"
    >
        {{ row.orderReference }}
    </td>
    <td
        class="is--align-center"
        data-label="{{ 'b2b.StateLabel'|trans }}"
    >
        {{ ('b2b.orderState.' ~ row.status) | trans }}
    </td>
            {% block b2b_orderclearance_grid_row_inner_actions %}
                {%
                    set allowActions = b2b_acl_check('b2borderclearance', 'detail')
                    or b2b_acl_check('b2borderclearance', 'accept')
                    or b2b_acl_check('b2borderclearance', 'decline')
                    or b2b_acl_check('b2borderclearance', 'remove')
                %}

                {% if allowActions %}
                    <td
                        class="col-actions"
                        data-label="{{ 'b2b.ActionsLabel'|trans }}"
                    >
                        {% block b2b_orderclearance_grid_row_inner_actions_inner %}
                            <button
                                class="btn is--small btn--edit ajax-panel-link b2b-highlight {{ b2b_acl('b2borderclearance', 'detail') }}"
                                title="{{ 'b2b.OrderDetails'|trans }}"
                                data-target="order-detail"
                                data-href="{{ path('frontend.b2b.b2borderclearance.detail') }}?orderContextId={{ row.id.getValue }}"
                            >
                                {% sw_icon 'pencil-brush' %}
                            </button>
                            <form
                                action="{{ path('frontend.b2b.b2borderclearance.accept', { orderContextId: row.id.getValue }) }}"
                                method="post"
                                class="form--inline ignore--b2b-ajax-panel {{ b2b_acl('b2borderclearance', 'accept') }}"
                            >
                                {{ sw_csrf('frontend.b2b.b2borderclearance.accept') }}

                                <button
                                    class="btn is--small b2b-success"
                                    type="submit"
                                    title="{{ 'b2b.OrderAccept'|trans }}"
                                    {% if not row.isClearable %}disabled{% endif %}
                                >
                                    {% sw_icon 'checkmark' %}
                                </button>
                            </form>

                            <button
                                class="btn is--small b2b-danger ajax-panel-link link-modal--small {{ b2b_acl('b2borderclearance', 'decline') }}"
                                title="{{ 'b2b.DeclineOrder'|trans }}"
                                data-target="order-detail"
                                data-href="{{ path('frontend.b2b.b2borderclearance.decline', { orderContextId: row.id.getValue }) }}"
                            >
                                {% sw_icon 'x' %}
                            </button>

                            <form
                                action="{{ path('frontend.b2b.b2borderclearance.remove') }}"
                                method="post"
                                class="form--inline {{ b2b_acl('b2borderclearance', 'remove') }}"
                                data-ajax-panel-trigger-reload="order-grid"
                                data-csrf-token="{{ sw_csrf('frontend.b2b.b2borderclearance.remove', { mode: 'token' }) }}"
                            >
                                {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}

                                <input type="hidden" name="orderNumber" value="{{ row.orderNumber }}">
                                <input type="hidden" name="orderContextId" value="{{ row.id.getValue }}">
                                <input type="hidden" name="confirmName" value="{{ row.orderNumber }}">
                                <button
                                    class="btn is--small component-action-delete b2b-danger"
                                    title="{{ 'b2b.DeleteOrder'|trans }}"
                                    type="submit"
                                    data-confirm="true"
                                    data-confirm-url="{{ path('frontend.b2b.b2bconfirm.remove') }}?confirmName={{ row.orderNumber }}"
                                >
                                    {% sw_icon 'trash' %}
                                </button>
                            </form>
                        {% endblock %}
                    </td>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </tr>
{% endblock %}