{% sw_extends '@Storefront/storefront/component/product/quickview/minimal.html.twig' %}

{% block component_product_quickview_minimal_product_number %}
    {{ parent() }}

    {% for element in page.product.extensions.b2bOrderNumber.elements %}
        {% if
            element.productId is same as(page.product.id) and
            element.customOrderNumber
        %}
            <p class="quickview-minimal-product-number">
                {{ "b2b.CustomOrderNumberLabel"|trans|sw_sanitize }}: {{ element.customOrderNumber }}
            </p>
        {% endif %}
    {% endfor %}
{% endblock %}