{# START Testing #}
{#
{% set customFields = {} %}
{% set customFields = customFields|merge({
    'eigenentwicklung': true,
    'gebrauchsmuster': true,
    'Nicht Lieferbar': true,
    'spezialverpackung': true,
    'icon_gummis': true,
    'Geschliffen': true,
}) %}

{% set customFields = {
    'eigenentwicklung': true,
    'icon_gummis': true
} %}
#}
{# END Testing #}

{% set properties = {
    'AbZ': customFields['AbZ'],
    'Stange': customFields['Stange'],
    'Geschliffen': customFields['Geschliffen'],
    'Werk': customFields['Werk'],
    'Montagefertig': customFields['Montagefertig'],
    'Roh': customFields['Roh'],
    'V4A': customFields['V4A'],
    'Smiley Gelb': customFields['Smiley Gelb'],
    'Smiley Grün': customFields['Smiley Grün'],
    'Nicht Lieferbar': customFields['Nicht Lieferbar'],
    'eigenentwicklung': customFields['eigenentwicklung'],
    'designmuster': customFields['designmuster'],
    'gebrauchsmuster': customFields['gebrauchsmuster'],
    'kartuschen': customFields['kartuschen'],
    'laengen': customFields['laengen'],
    'rollenabgabe': customFields['rollenabgabe'],
    'icon_gummis': customFields['icon_gummis'],
} %}

{% if true in properties %}
<div class="product-detail-attributes-container">
    <div class="base-slider has-nav-outside has-dots-outside"
         data-base-slider="true"
         data-base-slider-options='{
        "slider": {
            "navPosition": "bottom",
            "speed": 500,
            "nav": true,
            "items": 1,
            "gutter": 16,
            "loop": false,
            "controls": true,
            "startIndex": 0,
            "responsive": {
                "xs": { "items": 2 },
                "sm": { "items": 2 },
                "md": { "items": 3 },
                "lg": { "items": 3 },
                "xl": { "items": 4 }
            }
        }
    }'>
        <div class="slider-container" data-base-slider-container="true">
            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'AbZ',
                img: 'ico_abz.jpg'
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'Stange',
                img: 'ico_stange.jpg'
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'Geschliffen',
                img: 'ico_geschliffen.jpg'
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'Werk',
                img: 'ico_werk.jpg'
            } %}

            {#{% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'Gummi',
                img: 'ico_gummi.jpg'
            } %}#}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'Montagefertig',
                img: 'ico_montagefertig.jpg'
            } %}

            {#{% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'Neu',
                img: 'ico_neu.jpg'
            } %}#}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'Roh',
                img: 'ico_roh.jpg'
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'V4A',
                img: 'ico_v4a.jpg'
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'Smiley Gelb',
                img: 'ico_smileygelb.jpg'
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'Smiley Grün',
                img: 'ico_smileygruen.jpg'
            } %}

            {#{% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'Lager',
                img: 'ico_lager.jpg'
            } %}#}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'Nicht Lieferbar',
                img: 'ico_nichtlieferbar.jpg'
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'eigenentwicklung',
                img: 'ico_eigenentwicklung.jpg'
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'designmuster',
                img: 'ico_designmuster.jpg'
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'gebrauchsmuster',
                img: 'ico_gebrauchsmuster.jpg'
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'kartuschen',
                img: 'ico_kartuschen.jpg'
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'laengen',
                img: 'ico_laengen.jpg'
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'rollenabgabe',
                img: 'ico_rollenabgabe.jpg'
            } %}

            {% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'icon_gummis',
                img: 'ico_gummis.jpg'
            } %}

            {#{% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'Aktionsrabatt',
                img: 'ico_aktionsrabatt.jpg'
            } %}#}

            {#{% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'glasstaerke_blechstaerke',
                img: 'ico_glasstaerke_blechstaerke.jpg'
            } %}#}

            {#{% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'icon_frei_haus_ab_500',
                img: 'ico_frei_haus_ab_500.jpg'
            } %}#}

            {#{% sw_include '@Storefront/storefront/page/product-detail/properties/property.html.twig' with {
                property: 'spezialverpackung',
                img: 'ico_spezialverpackung.jpg'
            } %}#}
        </div>

        <div class="image-slider-controls-container">
            <div class="base-slider-controls"
                 data-base-slider-controls="true"
            >
                <button class="base-slider-controls-prev image-slider-controls-prev is-nav-prev-outside">
                    {% sw_icon 'arrow-head-left' %}
                </button>
                <button class="base-slider-controls-next image-slider-controls-next is-nav-next-outside">
                    {% sw_icon 'arrow-head-right' %}
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}
