{% if customFields[property] == true %}
    <div class="image-slider-item-container">
        <div class="property-item">
            <img src="{{ asset('bundles/feldmanntheme/assets/img/' ~ img) }}" class="property-icon" />
        </div>
    </div>
{% endif %}
