{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-address.html.twig' %}

{# Removed whole billing address actions (not b2b) #}
{% block page_checkout_confirm_address_billing_actions %}{% endblock %}

{% block page_checkout_confirm_address_shipping_actions_link %}
    <a href="{{ path('frontend.account.address.edit.page', {'addressId': shippingAddress.id}) }}"
       title="{{ "account.overviewChangeShipping"|trans|striptags }}"
       class="btn btn-primary"
       data-address-editor="true"
       data-address-editor-options='{{ addressEditorOptions|json_encode }}'>
        {{ "account.overviewChangeShipping"|trans|sw_sanitize }}
    </a>
{% endblock %}
