{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_revocation_notice %}{% endblock %}

{% block page_checkout_finish_customer_comment %}
    <form action="{{ path('frontend.checkout.promotion.add') }}"
          class="confirm-add-promotion"
          data-form-csrf-handler="true"
          method="post">

        {% block page_checkout_confirm_add_promotion_csrf %}
            {{ sw_csrf('frontend.checkout.promotion.add') }}
        {% endblock %}

        {% block page_checkout_confirm_add_promotion_forward %}
            <input type="hidden"
                   name="forwardTo"
                   value="frontend.checkout.confirm.page">
        {% endblock %}

        {% block page_checkout_confirm_add_promotion_input_group %}
            <div class="input-group checkout-confirm-add-code">
                {% block page_checkout_confirm_add_promotion_label %}
                    <label class="sr-only" for="addPromotionInput">
                        {{ "checkout.addPromotionLabel"|trans|sw_sanitize }}
                    </label>
                {% endblock %}

                {% block page_checkout_confirm_add_promotion_input %}
                    <input type="text"
                           name="code"
                           class="form-control"
                           id="addPromotionInput"
                           placeholder="{{ "checkout.addPromotionPlaceholder"|trans|striptags }}"
                           aria-label="{{ "checkout.addPromotionLabel"|trans|striptags }}"
                           aria-describedby="addPromotion"
                           required="required">
                {% endblock %}

                {% block page_checkout_confirm_add_promotion_submit %}
                    <div class="input-group-append">
                        <button class="btn btn-primary"
                                type="submit"
                                id="addPromotion">
                            {% sw_icon 'checkmark' %}
                        </button>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </form>

    {{ parent() }}
{% endblock %}
