{% block b2b_contingentrestriction_form %}
    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.TypeLabel"|trans }}: *
        </div>
        {% block b2b_contingentrestriction_form_type %}
            <div class="block box--input">
                <div class="select-field">
                    <select name="type" class="is--ajax-panel-navigation custom-select">
                        {% block b2b_contingentrestriction_form_type_options %}
                            <option value="" disabled selected="selected">{{ "b2b.TypeLabel"|trans }}</option>
                            {% for ruleType in registeredRules %}
                                <option
                                    value="{{ ruleType }}"
                                    {% if rule.type == ruleType or ruleType == preselectedRuleType %} selected="selected"{% endif %}
                                    class="ajax-panel-link"
                                    data-target="contingent-rule-type-form"
                                    data-href="{{ path('frontend.b2b.b2bcontingentrule' ~ ruleType|lower ~ '.' ~ action) }}?id={{ rule.id.getValue }}"
                                >
                                    {{ ("b2b.ContingentRestriction" ~ ruleType)|trans }}
                                </option>
                            {% endfor %}
                        {% endblock %}
                    </select>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="b2b--ajax-panel height--auto" data-url="" data-plugins="ajaxPanelProductSearch,duplicateElements" data-id="contingent-rule-type-form"></div>
{% endblock %}