{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    actions: true,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ 'b2b.ContingentRestrictionsLabel'|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}
    <button
        data-target="contingent-tab-content"
        data-href="{{ path('frontend.b2b.b2bcontingentrestriction.new') }}?contingentGroupId={{ additionalFormValues.id.getValue }}"
        class="btn component-action-create ajax-panel-link {{ b2b_acl('b2bcontingentrestriction', 'new') }}"
    >
        {{ 'b2b.CreateContingentRestriction'|trans }}
    </button>

    {{ parent() }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% block b2b_contingentrestriction_grid_errors %}
        {% if invalidProductNumber %}
            {% set ruleText = ('b2b.' ~ 'ProductNumberIsInvalid')|trans %}

            <div class="b2b--warning-modal-row-message">
                {%
                    sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
                    with {
                        messages: {
                            'error': ruleText|replace({'%1$s': invalidProductNumber})
                        }
                    } only
                %}
            </div>
        {% endif %}
    {% endblock %}

    {% block b2b_contingentrestriction_grid %}
        {% if gridState.data %}
            <div class="b2b--grid-container">
                <table
                    class="table--contacts b2b--component-grid"
                    data-row-count="{{ gridState.data|length }}"
                >
                    {% block b2b_contingentrestriction_grid_head %}
                        <thead>
                            <tr>
                                {% block b2b_contingentrestriction_grid_head_cells %}
                                    <th>{{ 'b2b.ContingentRestrictionsLabel'|trans }}</th>
                                    {% if
                                        b2b_acl_check('b2bcontingentrestriction', 'detail')
                                        or b2b_acl_check('b2bcontingentrestriction', 'remove')
                                    %}
                                        <th>{{ 'b2b.ActionsLabel'|trans }}</th>
                                    {% endif %}
                                {% endblock %}
                            </tr>
                        </thead>
                    {% endblock %}
                    {% block b2b_contingentrestriction_grid_body %}
                        <tbody>
                            {% for row in gridState.data %}
                                {% block b2b_contingentrestriction_grid_body_row %}
                                    <tr data-row-id="{{ row.id.getValue }}">
                                        {% block b2b_contingentrestriction_grid_body_row_cells %}
                                            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bcontingentrule/_grid/contingentrule-grid-' ~ row.templateTypeName ~ '.html.twig' with { 'row': row } %}

                                            {% if
                                                b2b_acl_check('b2bcontingentrestriction', 'detail')
                                                or b2b_acl_check('b2bcontingentrestriction', 'remove')
                                            %}
                                                <td
                                                    data-label="{{ 'b2b.ActionsLabel'|trans }}"
                                                    class="col-actions"
                                                >
                                                    <button
                                                        title="{{ 'b2b.EditContingentRestrictionLabel'|trans }}"
                                                        type="button"
                                                        class="btn btn--edit is--small ajax-panel-link b2b-highlight {{ b2b_acl('b2bcontingentrestriction', 'detail') }}"
                                                        data-target="contingent-tab-content"
                                                        data-href="{{ path('frontend.b2b.b2bcontingentrestriction.detail') }}?id={{ row.id.getValue }}"
                                                    >
                                                        {% sw_icon 'pencil-brush' %}
                                                    </button>
                                                    <form
                                                        action="{{ path('frontend.b2b.b2bcontingentrestriction.remove') }}"
                                                        method="post"
                                                        class="form--inline {{ b2b_acl('b2bcontingentrestriction', 'remove') }}"
                                                        data-reload-url="{{ path('frontend.b2b.b2bcontingentrestriction.grid') }}?id={{ additionalFormValues.id.getValue }}"
                                                        data-csrf-token="{{ sw_csrf('frontend.b2b.b2bcontingentrestriction.remove', { mode: 'token' }) }}"
                                                    >
                                                        {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}

                                                        <input
                                                            type="hidden"
                                                            name="id"
                                                            value="{{ row.id }}"
                                                        >
                                                        <input
                                                            type="hidden"
                                                            name="contingentGroupId"
                                                            value="{{ row.contingentGroupId.getValue }}"
                                                        >
                                                        <input
                                                            type="hidden"
                                                            name="timeRestriction"
                                                            value="{{ row.timeRestriction }}"
                                                        >
                                                        <input
                                                            type="hidden"
                                                            name="type"
                                                            value="{{ row.type }}"
                                                        >
                                                        <input
                                                            type="hidden"
                                                            name="value"
                                                            value="{{ row.value }}"
                                                        >

                                                        <button
                                                            title="{{ 'b2b.DeleteContingentRestrictionLabel'|trans }}"
                                                            type="submit"
                                                            class="btn is--small component-action-delete b2b-danger"
                                                            data-confirm="true"
                                                            data-confirm-url="{{ path('frontend.b2b.b2bconfirm.remove') }}"
                                                        >
                                                            {% sw_icon 'trash' %}
                                                        </button>
                                                    </form>
                                                </td>
                                            {% endif %}
                                        {% endblock %}
                                    </tr>
                                {% endblock %}
                            {% endfor %}
                        </tbody>
                    {% endblock %}
                </table>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}{% endblock %}
