{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.CreateContingentRestriction"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% block b2b_contingentrestriction_new_errors %}
        {% if errors %}
            <div class="modal--errors error--list">
                {%
                    sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                    with {
                        messages: { 'error': errors }
                    } only
                %}
            </div>
        {% endif %}
    {% endblock %}

    <form
        action="{{ path('frontend.b2b.b2bcontingentrestriction.create', {'contingentGroupId': contingentGroupId.getValue}) }}"
        method="post"
        class="form--inline {{ b2b_acl('b2bcontingentrestriction', 'create') }}"
        id="form"
        data-ajax-panel-trigger-reload="role-grid"
    >
        {% block b2b_contingentrestriction_new_create %}
            {{ sw_csrf('frontend.b2b.b2bcontingentrestriction.create') }}

            <input type="hidden" name="contingentGroupId" value="{{ contingentGroupId }}">

            {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bcontingentrestriction/_form.html.twig"
                with {
                    'action': 'new',
                    'contingentGroupId': contingentGroupId.getValue,
                    'preselectedRuleType': preselectedRuleType,
                }
            %}
        {% endblock %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions text-right">
        <a
            class="{{ b2b_acl('b2bcontingentrestriction', 'grid') }}"
            data-target="contingent-tab-content"
            data-href="{{ path('frontend.b2b.b2bcontingentrestriction.grid', {'id': contingentGroupId.getValue}) }}"
            title="{{ "b2b.Abort"|trans }}"
        >
            <button class="btn btn-outline-secondary">
                {{ "b2b.Abort"|trans }}
            </button>
        </a>

        <button
            class="btn btn-primary"
            type="submit"
            data-form-id="form"
        >
            {{ "b2b.Save"|trans }}
        </button>
    </div>
{% endblock %}
