{% set componentPercentage = 100/ (actions|length + 3) %}

<div class="b2b--grid-container b2b--assignment-grid">
    <div class="panel--tr">
        <div
            class="panel--th"
            style="width: {{ componentPercentage }}%;"
        >
            {{ 'b2b.All'|trans }}
        </div>
        <div
            class="panel--th"
            style="width: {{ componentPercentage * 2 }}%;"
        >
            {{ 'b2b.Component'|trans }}
        </div>
        {% for action in actions %}
            <div
                class="panel--th border--right"
                style="width: {{ componentPercentage }}%; text-align: center;"
            >
                {{ ('b2b.' ~ action)|trans }}
            </div>
        {% endfor %}
    </div>
    <div class="panel--tr">
        <div
            class="panel--th"
            style="width: {{ componentPercentage / 2 }}%; text-align: center;"
            title="{{ 'b2b.IsAllowedToDo'|trans }}"
        >
            {% sw_icon 'checkmark' %}
        </div>
        <div
            class="panel--th border--right"
            style="width: {{ componentPercentage / 2 }}%;text-align: center;"
            title="{{ 'b2b.CanGrantToOther'|trans }}"
        >
            {% sw_icon 'reply' %}
        </div>
        <div
            class="panel--th"
            style="width: {{ componentPercentage * 2 }}%;"
        ></div>
        {% for action in actions %}
            <div
                class="panel--th"
                style="width: {{ componentPercentage / 2 }}%; text-align: center;"
                title="{{ 'b2b.IsAllowedToDo'|trans }}"
            >
                {% sw_icon 'checkmark' %}
            </div>
            <div
                class="panel--th border--right"
                style="width: {{ componentPercentage / 2 }}%; text-align: center;"
                title="{{ 'b2b.CanGrantToOther'|trans }}"
            >
                {% sw_icon 'reply' %}
            </div>
        {% endfor %}
    </div>

    {% for component, route in privilegeGrid %}
        <div class="panel--tr">
            {% set prefixedComponentName = '_acl_'~ component %}

            {% if assignComponentAction is not empty %}
                <form
                    action="{{ path('frontend.b2b.'~assignController~'.'~assignComponentAction) }}"
                    method="post"
                    class="b2b--assignment-form b2b--assignment-row-form has--b2b-form {{ b2b_acl(assignController, assignComponentAction) }}"
                >
                    {{ sw_csrf('frontend.b2b.'~assignController~'.'~assignComponentAction) }}

                    <div
                        class="panel--td"
                        style="width: {{ componentPercentage / 2 }}%;"
                    >
                        <input
                            type="hidden"
                            name="{{ propertyName }}"
                            value="{{ propertyValue }}"
                        />
                        <input
                            type="hidden"
                            name="component"
                            value="{{ component }}"
                        />

                        <span class="custom-control custom-checkbox">
                            <input
                                name="allow"
                                id="allow-{{ component }}"
                                type="checkbox"
                                class="assign--allow is--auto-submit custom-control-input"
                                title="{{ 'b2b.IsAllowedToDo'|trans }}"
                            />
                            <label
                                for="allow-{{ component }}"
                                class="custom-control-label"
                            ></label>
                        </span>
                    </div>

                    <div
                        class="panel--td"
                        style="width: {{ componentPercentage / 2 }}%;"
                    >
                        <span class="custom-control custom-checkbox">
                            <input
                                name="grantable"
                                id="grantable-{{ component }}"
                                type="checkbox"
                                class="assign--grantable is--auto-submit custom-control-input"
                                title="{{ 'b2b.CanGrantToOther'|trans }}"
                            />
                            <label
                                for="grantable-{{ component }}"
                                class="custom-control-label"
                            ></label>
                        </span>
                    </div>
                </form>
            {% endif %}

            <div
                class="panel--td"
                style="width: {{ componentPercentage * 2 }}%;"
            >
                {{ ('b2b.' ~ prefixedComponentName)|trans }}
            </div>

            {% for action in actions %}
                {% if route[action] is defined %}
                	{% set action = route[action] %}
                    <form
                        action="{{ path('frontend.b2b.'~assignController~'.'~assignAction) }}"
                        method="post"
                        class="b2b--assignment-form has--b2b-form {{ b2b_acl(assignController, assignAction) }}"
                    >
                        {{ sw_csrf('frontend.b2b.'~assignController~'.'~assignAction) }}

                        <div
                            class="panel--td"
                            style="width: {{ componentPercentage / 2 }}%; text-align: center;"
                        >
                            <input
                                type="hidden"
                                name="{{ propertyName }}"
                                value="{{ propertyValue }}"
                            />
                            <input
                                type="hidden"
                                name="routeId"
                                value="{{ action.id }}"
                            />
                            <span class="custom-control custom-checkbox">
                                <input
                                    type="checkbox"
                                    name="allow"
                                    value="1"
                                    id="allow_{{ action.id }}"
                                    {% if action.foreignAllowed %}checked="checked"{% endif %}
                                    {% if not action.ownerGrantable %}disabled{% endif %}
                                    class="assign--allow is--auto-submit custom-control-input"
                                    title="{{ 'b2b.IsAllowedToDo'|trans }}"
                                />
                                <label
                                    for="allow_{{ action.id }}"
                                    class="custom-control-label"
                                ></label>
                            </span>
                        </div>
                        <div
                            class="panel--td border--right"
                            style="width: {{ componentPercentage / 2 }}%;text-align: center;"
                        >
                            <span class="custom-control custom-checkbox">
                                <input
                                    type="checkbox"
                                    name="grantable"
                                    id="grantable_{{ action.id }}"
                                    value="1"
                                    {% if action.foreignGrantable %}checked="checked"{% endif %}
                                    {% if not action.ownerGrantable %}disabled{% endif %}
                                    class="assign--grantable is--auto-submit custom-control-input"
                                    title="{{ 'b2b.CanGrantToOther'|trans }}"
                                />
                                <label
                                    for="grantable_{{ action.id }}"
                                    class="custom-control-label"
                                ></label>
                            </span>
                        </div>
                    </form>
                {% else %}
                    <div
                        class="panel--td border--right"
                        style="width: {{ componentPercentage }}%; height: 100%;"
                    ></div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
