{% set componentPercentage = 100 / (actions|length + 3) %}

<div class="b2b--assignment-grid table--responsive">
    <table class="b2b-table table">
        <thead>
            <tr class="panel--tr">
                <th>
                    <span title="{{ 'b2b.IsAllowedToDo'|trans }}">{% sw_icon 'checkmark' %}</span>
                    <span title="{{ 'b2b.CanGrantToOther'|trans }}">{% sw_icon 'reply' %}</span>

                    <span class="b2b--assignment-grid__head-label">{{ 'b2b.All'|trans }}</span>
                </th>
                <th class="text-left">
                    <span class="font-weight-bold">{{ 'b2b.Component'|trans }}</span>
                </th>

                {% for action in actions %}
                    <th>
                        <span title="{{ 'b2b.IsAllowedToDo'|trans }}">{% sw_icon 'checkmark' %}</span>
                        <span title="{{ 'b2b.CanGrantToOther'|trans }}">{% sw_icon 'reply' %}</span>

                        <span class="b2b--assignment-grid__head-label">{{ ('b2b.' ~ action)|trans }}</span>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for component, route in privilegeGrid %}
                <tr class="panel--tr">
                    {% set prefixedComponentName = '_acl_'~ component %}

                    {% if assignComponentAction is not empty %}
                        <td>
                            <form
                                action="{{ path('frontend.b2b.'~assignController~'.'~assignComponentAction) }}"
                                method="post"
                                class="b2b--assignment-form b2b--assignment-row-form has--b2b-form {{ b2b_acl(assignController, assignComponentAction) }}"
                            >
                                {{ sw_csrf('frontend.b2b.'~assignController~'.'~assignComponentAction) }}

                                <input type="hidden" name="{{ propertyName }}" value="{{ propertyValue }}"/>
                                <input type="hidden" name="component" value="{{ component }}"/>

                                <span class="custom-control custom-checkbox">
                                    <input
                                        name="allow"
                                        id="allow-{{ component }}"
                                        type="checkbox"
                                        class="assign--allow is--auto-submit custom-control-input"
                                        title="{{ 'b2b.IsAllowedToDo'|trans }}"
                                    />
                                    <label
                                        for="allow-{{ component }}"
                                        class="custom-control-label"
                                    ></label>
                                </span>

                                <span class="custom-control custom-checkbox">
                                    <input
                                        name="grantable"
                                        id="grantable-{{ component }}"
                                        type="checkbox"
                                        class="assign--grantable is--auto-submit custom-control-input"
                                        title="{{ 'b2b.CanGrantToOther'|trans }}"
                                    />
                                    <label
                                        for="grantable-{{ component }}"
                                        class="custom-control-label"
                                    ></label>
                                </span>
                            </form>
                        </td>
                    {% endif %}

                    <td class="text-left">{{ ('b2b.' ~ prefixedComponentName)|trans }}</td>

                    {% for action in actions %}
                        {% if route[action] is defined %}
                            {% set action = route[action] %}
                            <td>
                                <form
                                    action="{{ path('frontend.b2b.'~assignController~'.'~assignAction) }}"
                                    method="post"
                                    class="b2b--assignment-form has--b2b-form {{ b2b_acl(assignController, assignAction) }}"
                                >
                                    {{ sw_csrf('frontend.b2b.'~assignController~'.'~assignAction) }}

                                    <input
                                        type="hidden"
                                        name="{{ propertyName }}"
                                        value="{{ propertyValue }}"
                                    />
                                    <input
                                        type="hidden"
                                        name="routeId"
                                        value="{{ action.id }}"
                                    />
                                    <span class="custom-control custom-checkbox">
                                        <input
                                            type="checkbox"
                                            name="allow"
                                            value="1"
                                            id="allow_{{ action.id }}"
                                            {% if action.foreignAllowed %}checked="checked"{% endif %}
                                            {% if not action.ownerGrantable %}disabled{% endif %}
                                            class="assign--allow is--auto-submit custom-control-input"
                                            title="{{ 'b2b.IsAllowedToDo'|trans }}"
                                        />
                                        <label
                                            for="allow_{{ action.id }}"
                                            class="custom-control-label"
                                        ></label>
                                    </span>

                                    <span class="custom-control custom-checkbox">
                                        <input
                                            type="checkbox"
                                            name="grantable"
                                            id="grantable_{{ action.id }}"
                                            value="1"
                                            {% if action.foreignGrantable %}checked="checked"{% endif %}
                                            {% if not action.ownerGrantable %}disabled{% endif %}
                                            class="assign--grantable is--auto-submit custom-control-input"
                                            title="{{ 'b2b.CanGrantToOther'|trans }}"
                                        />
                                        <label
                                            for="grantable_{{ action.id }}"
                                            class="custom-control-label"
                                        ></label>
                                    </span>
                                </form>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
