@import "~scss/variables";

//Hardcoded for version compatibility
$sw-product-list-color-error: #de294c;
$sw-product-list-color-success: #37d046;

.sw-sales-rep-client-list
{
    .is--inactive {
        color: $sw-product-list-color-error;
    }

    .is--active {
        color: $sw-product-list-color-success;
    }
}
