{% block b2b_sales_rep_client_selection %}
    <sw-card class="sw-sales-rep-client-list">
        {% block sw_customer_detail_order_card_toolbar %}
            <template #toolbar>
                <sw-card-filter
                    :placeholder="$tc('b2b-salesrep.customer.settings.salesRepresentativeClientSelection.searchbarPlaceholder')"
                    @sw-card-filter-term-change="onSearch"
                >
                </sw-card-filter>
            </template>
        {% endblock %}

        {% block b2b_sales_rep_client_selection_inner %}
            <template #grid>
                <sw-data-grid
                    :collection="possibleClients"
                    :dataSource="possibleClients"
                    :columns="clientColumns"
                    :fullPage="false"
                    :showSettings="false"
                    :showSelection="false"
                    :showActions="false"
                    :isLoading="isLoading"
                    identifier="b2bs-sales-rep-client-selection-grid"
                >

                    {% block b2b_sales_rep_client_selection_inner_assigned %}
                        <template #column-assigned="{ item }">

                            <dd v-if="!customerEditMode">
                                    <sw-icon v-if="item.assigned" name="small-default-checkmark-line-medium" small class="is--active"></sw-icon>
                                    <sw-icon v-else name="small-default-x-line-medium" small class="is--inactive"></sw-icon>
                            </dd>

                            <dd v-else>
                                <sw-checkbox-field
                                    :value="item.assigned"
                                    @change="(value) => { onAssignedChange(value, item.authId) }"
                                    :options="[{ value: item.authId }]"
                                    v-model="item.assigned"
                                ></sw-checkbox-field>
                            </dd>

                        </template>
                    {% endblock %}

                    {% block b2b_sales_rep_client_selection_inner_pagination %}
                        <template #pagination>
                            <sw-pagination
                                :page="page"
                                :limit="limit"
                                :total="total"
                                :steps="[5, 10, 25, 50]"
                                @page-change="onPageChange">
                            </sw-pagination>
                        </template>
                    {% endblock %}

                </sw-data-grid>
            </template>
        {% endblock %}
    </sw-card>
{% endblock %}