@import "~scss/variables";

$sw-product-list-color-error: $color-crimson;
$sw-product-list-color-success: $color-emerald;

.sw-sales-rep-client-list
{
    .is--inactive {
        color: $sw-product-list-color-error;
    }

    .is--active {
        color: $sw-product-list-color-success;
    }
}
