{% block b2b_fastorderremote %}
<div class="b2b-remote-list">

        {% block b2b_fastorderremote_messages %}
            {% if message and message.key %}
                {% set snippetKey = ('b2b.RemoteListFastOrder_' ~ message.key) %}

                {%
                    sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
                    with { messages: [ message.type,snippetKey ] } only
                %}
            {% endif %}
        {% endblock %}

        {% block b2b_fastorderremote_actions %}
            <div class="b2b-remote-list__actions">
                {% block b2b_fastorderremote_actions_orderlist %}
                    <div class="action--order-list float-left">
                        <form
                            action="{{ path('frontend.b2b.b2bfastorderremote.addProductsToOrderList') }}"
                            method="post"
                            class="form--inline order-list-form"
                        >
                            {{ sw_csrf('frontend.b2b.b2bfastorderremote.addProductsToOrderList') }}

                            {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2borderlistremoteselect/_orderlist-remote-select.html.twig' with {'type': type} %}
                        </form>
                    </div>
                {% endblock %}

                {% block b2b_fastorderremote_actions_cart %}
                    <div class="action--cart-add float-right">
                        <form
                            action="{{ path('frontend.b2b.b2bfastorderremote.addProductsToCart') }}"
                            method="post"
                            class="form--inline cart-form"
                        >
                            {{ sw_csrf('frontend.b2b.b2bfastorderremote.addProductsToCart') }}

                            <button
                                class="btn btn-primary cart--link form-control"
                                name="addToCart"
                                title="{{ "b2b.AddProductsToBasket"|trans }}"
                                disabled
                            >
                                {{ "b2b.AddProductsToBasket"|trans }}
                                {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                            </button>
                        </form>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
