{% block b2b_fastorderremote %}
<div class="b2b-remote-list-fast-order">

        {% block b2b_fastorderremote_messages %}
            {% if message and message.key %}
                {% set snippetKey = ('b2b.RemoteListFastOrder_' ~ message.key) %}

                {%
                    sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
                    with { messages: [ message.type,snippetKey ] } only
                %}
            {% endif %}
        {% endblock %}

        {% block b2b_fastorderremote_actions %}
            <div class="block-group group--actions">
                {% block b2b_fastorderremote_actions_orderlist %}
                    <div class="block block--orderlist action--order-list left">
                        <form
                            action="{{ path('frontend.b2b.b2bfastorderremote.addProductsToOrderList') }}"
                            method="post"
                            class="form--inline order-list-form"
                        >
                            {{ sw_csrf('frontend.b2b.b2bfastorderremote.addProductsToOrderList') }}

                            {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2borderlistremoteselect/_orderlist-remote-select.html.twig' with {'type': type} %}
                        </form>
                    </div>
                {% endblock %}

                {% block b2b_fastorderremote_actions_cart %}
                    <div class="block block--cart action--cart-add right">
                        <form
                            action="{{ path('frontend.b2b.b2bfastorderremote.addProductsToCart') }}"
                            method="post"
                            class="form--inline cart-form"
                        >
                            {{ sw_csrf('frontend.b2b.b2bfastorderremote.addProductsToCart') }}

                            <button
                                class="btn is--primary is--large cart--link is--icon-right is--center b2b-highlight form-control"
                                name="addToCart"
                                title="{{ "b2b.AddProductsToBasket"|trans }}"
                                disabled
                            >
                                {{ "b2b.AddProductsToBasket"|trans }}
                                {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                            </button>
                        </form>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}