{% block b2b_quantity_input %}
    <div class="b2b--quantity-input__container">
        <span class="btn btn--minus btn-light">-</span>
        <input
            class="b2b--quantity-input"
            name="{{ name }}"
            data-min="{{ product.quantityInformation.minPurchase }}"
            data-max="{{ maxQuantity }}"
            data-step="{{ product.quantityInformation.purchaseSteps }}"
            value="{{ product.quantity }}"
        />
        <span class="btn btn--plus btn-light">+</span>
    </div>
{% endblock %}