{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_info_details_inner %}
    {{ parent() }}

    {% if lineItem.type is same as ('product') %}
        <div class="ies-commission-field-container">
            {% if controllerAction is same as('finishPage') %}
                {% set iesCommission = lineItem.customFields.ies_commission %}
                {% if iesCommission %}
                    <p>{{ "checkout.commission.label"|trans }} {{ iesCommission }}</p>
                {% endif %}
            {% else %}
                <form action="{{ path('frontend.checkout.line-item.update-commission', {'id': lineItem.id}) }}"
                      class="cart-item-ies-commission-form"
                      method="post"
                      data-ies-commission="true"
                      data-ies-commission-options='{
                          {% if iesCommissionDisplayButtons is defined and iesCommissionDisplayButtons == false %}"submitOnChange": true,{% endif %}
                          "replaceSelectors": [
                              ".cart-item-ies-commission-form"
                          ]
                      }'
                >
                    {{ sw_csrf('frontend.checkout.line-item.update-commission') }}
                    <input type="text" class="form-control ies-commission-field" name="ies_commission" placeholder="{{ "checkout.commission.placeholder"|trans }}" value="{{ lineItem.extensions.ies_commission.content }}">

                    <div class="btn-group">
                        {% if iesCommissionDisplayButtons is defined and iesCommissionDisplayButtons == true %}
                            <button class="ies-commission-save btn btn-primary" title="save" type="button">{{ "checkout.commission.saveButton"|trans }}</button>
                            <button class="ies-commission-clear btn btn-secondary " type="button" title="clear">{{ "checkout.commission.clearButton"|trans }}</button>
                        {% endif %}
                    </div>
                </form>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
