{% sw_extends '@Storefront/storefront/layout/sidebar/category-navigation.html.twig' %}

{% block layout_navigation_categories_link %}
    {# {% if showNavigationItem(item, context) %} #}
        {{ parent() }}
    {# {% endif %} #}
{% endblock %}
