/*
 * @deprecated tag:v4.6.0 - Will be removed. Use theme variables instead.
 */

/* Brand */
$brand-primary: $sw-color-brand-primary;
$brand-secondary: $sw-color-brand-secondary;

/* Layout */
$border-color: $sw-border-color;
$background-color: $sw-background-color;
$panel-background: getContrast($background-color, 3%);
$panel-background-contrast: getContrast($background-color, 0%);
$navigation-background: getContrast($background-color, 3%);

/* Text */
$text-color: $sw-text-color;
$text-color-light: lighten($text-color, 30%);
$text-color-dark: darken($text-color, 30%);
$text-color-contrast: getContrast($text-color, 10%);
$headline-color: $sw-headline-color;

/* Highlights */
$highlight-success: $sw-color-success;
$highlight-info: $sw-color-info;
$highlight-warning: $sw-color-warning;
$highlight-error: $sw-color-danger;

/* Components */
$tree-tab-border: rgba(0, 0, 0, .1);

$btn-background: $brand-secondary;
$btn-text-color: #fff;
$btn-icon-color: #fff;
$btn-icon-disabled-color: rgba(72, 72, 72, 0.3);

$table-text-color: $text-color;
$table-odd-background: getContrast($sw-background-color, 3%);
$table-odd-hover: getContrast($sw-background-color, 7%);
$table-even-background: getContrast($table-odd-background, 3%);
$table-even-hover: getContrast($table-odd-background, 7%);

$input-background : getContrast($background-color, 3%);
$modal-input-background : getContrast(#fff, 3%);

$upload-outline: getContrast($background-color, 20%);
$upload-outline-active: getContrast($background-color, 100%);

$icon-base-color: #878787;
