/*
 * @deprecated tag:v4.6.0 - Will be removed
 */

@import "b2b-colors";
@import "../functions/color-functions";

$font-weight-adjustment: getFontWeightAdjustment($background-color);

$font-weight-light: (200 + $font-weight-adjustment);
$font-weight-regular: (400 + $font-weight-adjustment);
$font-weight-bold: (700 + $font-weight-adjustment);
