/*
 * @deprecated tag:v4.6.0 - Will be removed
 */

/*
 *
 * Dashboard
 * --------- */
$dashboard-shadow: 0 0 3px rgba(0, 0, 0, .2);
$dashboard-shadow-hover: 0 0 15px rgba(0, 0, 0, .15);

/*
 * Dashboard Panel
 * --------------- */
$panel-icon-size: 35px;
$panel-transition-duration: .3s;
$panel-transition-function: ease;

/*
 * Content-Loader
 * -------------- */
$content-loading-diameter: 40;

/*
 * Modal
 * ----- */
$modal-zIndex: 99999;
$modal-overlay-zIndex: 99990;
$modal-background: rgba(0, 0, 0, .1);
$modal-navigation-width: 275;
$modal-navigation-height: 80;
$modal-footer-height: 60;
$modal-border-color: #ecf0f1;
$modal-bg-color: gray;
$modal-close-height: 30;

/*
 * Account
 * ------- */
$account-image-overlay-height: 100;
$account-image-diameter: 300;
