/*
 * @deprecated tag:v4.6.0 - Will be removed
 */

$sw-color-brand-primary: #399 !default;
$sw-color-brand-secondary: #576574 !default;
$sw-border-color: #d4e2e2 !default;
$sw-background-color: #fff !default;
$sw-color-success: #6ed59f !default;
$sw-color-info: #76bce7 !default;
$sw-color-warning: #fcc679 !default;
$sw-color-danger: #f27f7f !default;
$sw-font-family-base: 'Inter', sans-serif;
$sw-text-color: #545454 !default;
$sw-font-family-headline: 'Inter', sans-serif !default;
$sw-headline-color: #3f4c58 !default;
$sw-color-price: #3f4c58 !default;
$sw-color-buy-button: #399 !default;
$sw-color-buy-button-text: #fff !default;
$sw-logo-desktop: '93fb89b741b540cb94764a234481b782' !default;
$sw-logo-tablet: '93fb89b741b540cb94764a234481b782' !default;
$sw-logo-mobile: '93fb89b741b540cb94764a234481b782' !default;
$sw-logo-favicon: '89af743956634626932784dbedddcf7e' !default;
