{% block sw_customer_detail_base_info_card %}

    {% parent() %}

    {% block sw_customer_detail_base_info_card_b2b %}
        <sw-card
            v-if="acl.can('b2b-user.viewer')"
            :title="$tc('b2b-salesrep.customer.settings.tab')"
            :isLoading="isLoading"
        >
            {% block sw_customer_detail_base_info_b2b %}


                <h3>{{ $tc('b2b-salesrep.customer.settings.title') }}</h3>

                <sw-container
                    class="sw-customer-base-info"
                    columns="repeat(auto-fit, minmax(250px, 1fr)"
                    gap="0px 15px"

                >
                    <sw-loader v-if="isLoading"></sw-loader>

                    <div
                        v-if="!isLoading"
                        class="sw-customer-base-info-columns"
                    >
                        {% block sw_customer_detail_base_info_b2b_debtor %}
                            <sw-description-list>
                                <dt class="sw-customer-base-info__label">{{ $tc('b2b-salesrep.customer.settings.titleDebtor') }}</dt>

                                <dd v-if="!customerEditMode">
                                    <span v-if="b2bData.isDebtor">
                                        {{ $tc('b2b-salesrep.customer.settings.isDebtor') }}
                                    </span>
                                    <span v-else>
                                        {{ $tc('b2b-salesrep.customer.settings.noDebtor') }}
                                    </span>
                                </dd>

                                <dd v-else>
                                    <sw-field
                                        :disabled="!acl.can('b2b-user.editor')"
                                        :label="$tc('b2b-salesrep.customer.settings.labelDebtor')"
                                        v-model="b2bData.isDebtor"
                                        type="checkbox"
                                        @change="uncheckRole($event, 'isSalesRepresentative')"
                                    ></sw-field>
                                </dd>
                            </sw-description-list>
                        {% endblock %}
                    </div>
                    <div
                        v-if="!isLoading"
                        class="sw-customer-base-info-columns"
                    >
                        {% block sw_customer_detail_base_info_b2b_sales_representative %}
                            <sw-description-list>
                                <dt class="sw-customer-base-info__label">{{ $tc('b2b-salesrep.customer.settings.titleSalesRepresentative') }}</dt>

                                <dd v-if="!customerEditMode">
                                    <span v-if="b2bData.isSalesRepresentative">
                                        {{ $tc('b2b-salesrep.customer.settings.isSalesRepresentative') }}
                                    </span>
                                    <span v-else >
                                        {{ $tc('b2b-salesrep.customer.settings.noSalesRepresentative') }}
                                    </span>
                                </dd>

                                <dd v-else>
                                    <sw-field
                                        :disabled="!acl.can('b2b-user.editor')"
                                        :label="$tc('b2b-salesrep.customer.settings.labelSalesRepresentative')"
                                        v-model="b2bData.isSalesRepresentative"
                                        type="checkbox"
                                        @change="uncheckRole($event, 'isDebtor')"
                                    ></sw-field>
                                </dd>
                            </sw-description-list>
                        {% endblock %}
                    </div>
                </sw-container>

            {% endblock %}
        </sw-card>
    {% endblock %}
{% endblock %}
