{% sw_extends '@Storefront/storefront/page/account/order-history/order-item.html.twig' %}

{% block page_account_order_item_order_number %}
    {% if order.documents.count > 0 %}
        <span class="order-table-header-order-number">
            {{ "account.orderNumber"|trans|sw_sanitize }}
            {{ order.orderNumber|sw_sanitize }}
            <br>
            {{ "account.invoices"|trans|sw_sanitize }}
            {% for document in order.documents %}
                <a href="{{ path('api.action.download.document', {
                    version: 2,
                    documentId: document.id,
                    deepLinkCode: document.deepLinkCode,
                    download: 1
                }) }}">{% if loop.length > 1 %}{{ loop.index }}.{% endif %} Download</a>
            {% endfor %}
        </span>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_account_order_item_context_menu_reorder %}
    {% set reclaimLink = path('frontend.cms.page', {
        id: shopware.config.core.basicInformation.contactPage,
        subject: 'account.reclaimSubject'|trans({'%order_number%':order.orderNumber})
    }) %}

    <a class="order-table-header-context-menu-content-link"
       href="{{ reclaimLink }}"
       title="{{ 'account.reclaim'|trans }}"
       data-toggle="modal"
       data-url="{{ reclaimLink }}">
        {{ 'account.reclaim'|trans }}
    </a>

    {{ parent() }}
{% endblock %}
