{% block b2b_storefront_listing %}
    <div class="b2b--orderlist-tableview module-listingview w-100 {{ b2b_acl('b2bfastorder', 'index') }}">

        {% sw_include '@SwagB2bPlatform/storefront/_custom/product-listing/b2b-listing-inner.html.twig' %}

        {% block b2b_storefront_listing_remoteListFastOrder %}
            <div
                class="is--b2b-ajax-panel b2b--ajax-panel mb-4"
                data-id="listing-view-remote-box"
                data-confirm-url="{{ path("frontend.b2b.b2bconfirm.override") }}"
                data-url="{{ path('frontend.b2b.b2bfastorderremote.remoteListFastOrder') }}"
            ></div>
        {% endblock %}
    </div>
{% endblock %}
