{% block b2b_storefront_listing_table %}
    <div
        class="listing-view--grid listing-view-inputs table--listingview table-view"
        data-submit-enter
    >
        <div class="b2b--grid-container">
            <table class="b2b--component-grid">
                {% block b2b_storefront_listing_table_head %}
                    <thead>
                        <tr>
                            <th>{{ 'b2b.ProductNameLabel'|trans }}</th>
                            <th>{{ 'b2b.ProductNumberLabel'|trans }}</th>
                            <th>{{ 'b2b.UnitPriceLabel'|trans }}</th>
                            <th>{{ 'b2b.OrderQuantityLabel'|trans }}</th>
                        </tr>
                    </thead>
                {% endblock %}

                {% block b2b_storefront_listing_table_body %}
                    <tbody>
                        {% for product in searchResult %}

                            {% set name = product.translated.name %}
                            {% set productNumber = product.productNumber %}
                            {% set customOrderNumber = product.getExtension('b2bOrderNumber').first.getCustomOrderNumber %}
                            {% set cover = product.cover.media %}

                            {% set purchaseUnit = product.purchaseUnit %}
                            {% set listingPrice = product.calculatedListingPrice %}
                            {% set fromPrice = listingPrice.from %}
                            {% set referencePrice = product.calculatedPrice.referencePrice %}


                            {% block b2b_storefront_listing_table_body_row %}

                                <tr>
                                    {% block b2b_storefront_listing_table_body_row_before %}{% endblock %}

                                    <td data-label="{{ 'b2b.ProductNameLabel'|trans }}">{{ name }}</td>

                                    <td data-label="{{ 'b2b.ProductNumberLabel'|trans }}">
                                        {% if customOrderNumber %}
                                            {{ customOrderNumber }}
                                        {% else %}
                                            {{ productNumber }}
                                        {% endif %}
                                    </td>

                                    <td data-label="{{ 'b2b.UnitPriceLabel'|trans }}">
                                        {% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %}
                                    </td>

                                    <td
                                        class="input-group cart-parameters"
                                        data-label="{{ 'b2b.OrderQuantityLabel'|trans }}"
                                    >

                                        {% block b2b_storefront_listing_table_body_row_inputs %}
                                            <input
                                                type="hidden"
                                                name="products[{{ loop.index0 }}][referenceNumber]"
                                                value="{{ productNumber }}"
                                            />

                                            <input
                                                class="form-control"
                                                type="number"
                                                name="products[{{ loop.index0 }}][quantity]"
                                                min="{{ product.minPurchase|default(0) }}"
                                                {% if product.maxPurchase %}
                                                    max="{{ product.maxPurchase }}"
                                                {% endif %}
                                                {% if product.purchaseSteps %}
                                                    step="{{ product.purchaseSteps }}"
                                                {% endif %}
                                                {% if loop.first %}autofocus{% endif %}
                                            />
                                        {% endblock %}
                                    </td>

                                    {% block b2b_storefront_listing_table_body_row_after %}{% endblock %}
                                </tr>

                            {% endblock %}

                        {% endfor %}
                    </tbody>
                {% endblock %}
            </table>
        </div>
    </div>
{% endblock %}