{% block b2b_contingentrule_form %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="type">{{ "b2b.TypeLabel"|trans }} *</label>
            <select
                name="type"
                class="is--ajax-panel-navigation custom-select"
            >
                {% block b2b_contingentrule_form_type_options %}
                    <option
                        value=""
                        disabled selected="selected"
                    >
                        {{ "b2b.TypeLabel"|trans }}
                    </option>
                    {% for ruleType in registeredRules %}
                        <option
                            value="{{ ruleType }}"
                            {% if rule.type == ruleType %} selected="selected"{% endif %}
                            class="ajax-panel-link"
                            data-target="contingent-rule-type-form"
                            data-href="{{ path('frontend.b2b.b2bcontingentrule' ~ ruleType|lower ~ '.' ~ action, {'id': rule.id.getValue}) }}"
                        >
                            {% set snippetKey = 'b2b.' ~ ruleType ~ 'Label' %}
                            {{ snippetKey|trans }}
                        </option>
                    {% endfor %}
                {% endblock %}
            </select>
        </div>
    </div>

    <div
        class="b2b--ajax-panel"
        data-url=""
        data-id="contingent-rule-type-form"
    ></div>
{% endblock %}
