{% block b2b_contingentrule_form %}
    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.TypeLabel"|trans }}: *
        </div>

        {% block b2b_contingentrule_form_type %}
            <div class="block box--input">
                <div class="select-field">
                    <select name="type" class="is--ajax-panel-navigation custom-select">
                        {% block b2b_contingentrule_form_type_options %}
                            <option value="" disabled selected="selected">{{ "b2b.TypeLabel"|trans }}</option>
                            {% for ruleType in registeredRules %}
                                <option
                                    value="{{ ruleType }}"
                                    {% if rule.type == ruleType %} selected="selected"{% endif %}
                                    class="ajax-panel-link"
                                    data-target="contingent-rule-type-form"
                                    data-href="{{ path('frontend.b2b.b2bcontingentrule' ~ ruleType|lower ~ '.' ~ action, {'id': rule.id.getValue}) }}"
                                >
                                    {% set snippetKey = 'b2b.' ~ ruleType ~ 'Label' %}
                                    {{ snippetKey|trans }}
                                </option>
                            {% endfor %}
                        {% endblock %}
                    </select>
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="b2b--ajax-panel" data-url="" data-plugins="ajaxPanelProductSearch" data-id="contingent-rule-type-form"></div>
{% endblock %}