{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.EditContingentRuleLabel"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% block b2b_contingentrule_detail_errors %}
        {% if errors %}
            <div class="modal--errors error--list">
                {%
                    sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                    with {
                        messages: { 'error': errors }
                    } only
                %}
            </div>
        {% endif %}
    {% endblock %}

    {% block b2b_contingentrule_detail_update %}
        <form
            action="{{ path('frontend.b2b.b2bcontingentrule.update') }}"
            method="post"
            class="has--b2b-form {{ b2b_acl('b2bcontingentrule', 'update') }}"
            id="form"
            data-ajax-panel-trigger-reload="role-grid"
        >
            {{ sw_csrf('frontend.b2b.b2bcontingentrule.update') }}

            <input type="hidden" name="id" value="{{ rule.id.getValue }}">
            <input type="hidden" name="contingentGroupId" value="{{ rule.contingentGroupId.getValue }}">

            {%
                sw_include "@SwagB2bPlatform/storefront/frontend/b2bcontingentrule/_form.html.twig"
                with {'contingentGroupId': contingentGroupId.getValue, 'action': 'edit'}
            %}
        </form>
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions {{ b2b_acl('b2bcontingentrule', 'grid') }}">

        <a class="btn is--left"
           data-target="contingent-tab-content"
           data-href={{ path('frontend.b2b.b2bcontingentrule.grid') }}?id={{ contingentGroupId.getValue }}"
           title="{{ "b2b.Abort"|trans }}"
        >
            {{ "b2b.Abort"|trans }}
        </a>

        <button
            class="btn {{ b2b_acl('b2bcontingentrule', 'update') }}"
            type="submit"
            data-form-id="form"
        >
            {{ "b2b.Save"|trans }}
        </button>
    </div>
{% endblock %}
