{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    actions: true,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ 'b2b.ContingentRulesLabel'|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}
    <button
        data-target="contingent-tab-content"
        data-href="{{ path('frontend.b2b.b2bcontingentrule.new', {'contingentGroupId': additionalFormValues.id.getValue}) }}"
        class="btn component-action-create ajax-panel-link {{ b2b_acl('b2bcontingentrule', 'new') }}"
    >
        {{ 'b2b.CreateContingentRuleLabel'|trans }}
    </button>
    {{ parent() }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% if gridState.data|length %}
        <div class="b2b--grid-container">
            <table
                class="table--contingents b2b--component-grid"
                data-row-count="{{ gridState.data|length }}"
            >
                {% block b2b_contingentrule_grid_head %}
                    <thead>
                        <tr>
                            <th>{{ 'b2b.ContingentRuleLabel'|trans }}</th>
                            {% if
                                b2b_acl_check('b2bcontingentrule', 'detail')
                                or b2b_acl_check('b2bcontingentrule', 'remove')
                            %}
                                <th>{{ 'b2b.ActionsLabel'|trans }}</th>
                            {% endif %}
                        </tr>
                    </thead>
                {% endblock %}

                {% block b2b_contingentrule_grid_body %}
                    <tbody>
                        {% for row in gridState.data %}
                            {% block b2b_contingentrule_grid_body_row %}
                                <tr data-row-id="{{ row.id.getValue }}">
                                    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bcontingentrule/_grid/contingentrule-grid-' ~ row.templateTypeName ~ '.html.twig' with {'row': row} %}

                                    {% if
                                        b2b_acl_check('b2bcontingentrule', 'detail')
                                        or b2b_acl_check('b2bcontingentrule', 'remove')
                                    %}
                                        <td
                                            data-label="{{ 'b2b.ActionsLabel'|trans }}"
                                            class="col-actions"
                                        >
                                            <button
                                                title="{{ 'b2b.EditContingentRuleLabel'|trans }}"
                                                type="button"
                                                class="btn btn--edit is--small ajax-panel-link b2b-highlight {{ b2b_acl('b2bcontingentrule', 'detail') }}"
                                                data-target="contingent-tab-content"
                                                data-href="{{ path('frontend.b2b.b2bcontingentrule.detail') }}?id={{ row.id.getValue }}"
                                            >
                                                {% sw_icon 'pencil-brush' %}
                                            </button>

                                            <form
                                                action="{{ path('frontend.b2b.b2bcontingentrule.remove') }}"
                                                method="post"
                                                class="form--inline {{ b2b_acl('b2bcontingentrule', 'remove') }}"
                                                data-reload-url="{{ path('frontend.b2b.b2bcontingentrule.grid') }}?id={{ additionalFormValues.id.getValue }}"
                                                data-csrf-token="{{ sw_csrf('frontend.b2b.b2bcontingentrule.remove', { mode: 'token' }) }}"
                                            >
                                                {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}

                                                <input
                                                    type="hidden"
                                                    name="id"
                                                    value="{{ row.id.getValue }}"
                                                >
                                                <input
                                                    type="hidden"
                                                    name="contingentGroupId"
                                                    value="{{ row.contingentGroupId.getValue }}"
                                                >

                                                <button
                                                    title="{{ 'b2b.DeleteContingentRuleLabel'|trans }}"
                                                    type="submit"
                                                    class="btn is--small component-action-delete b2b-danger"
                                                    data-confirm="true"
                                                    data-confirm-url="{{ path('frontend.b2b.b2bconfirm.remove') }}"
                                                >
                                                    {% sw_icon 'trash' %}
                                                </button>
                                            </form>
                                        </td>
                                    {% endif %}
                                {% endblock %}
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endblock %}
            </table>
        </div>
    {% endif %}
{% endblock %}
