{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.CreateContingentRuleLabel"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}

    {% block b2b_contingentrule_new_errors %}
        {% if errors %}
            <div class="modal--errors error--list">
                {%
                    sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                    with {
                        messages: { 'error': errors }
                    } only
                %}
            </div>
        {% endif %}
    {% endblock %}

    <form
        action="{{ path('frontend.b2b.b2bcontingentrule.create') }}"
        method="post"
        class="{{ b2b_acl('b2bcontingentrule', 'create') }}"
        id="form"
        data-ajax-panel-trigger-reload="role-grid"
    >
        {% block b2b_contingentrule_new_form %}
            {{ sw_csrf('frontend.b2b.b2bcontingentrule.create') }}

            <input type="hidden" name="contingentGroupId" value="{{ contingentGroupId.getValue }}">

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="type">{{ "b2b.TypeLabel"|trans }} *</label>

                    {% block b2b_contingentrule_new_form_type %}
                        <select
                            name="type"
                            class="is--ajax-panel-navigation form-control custom-select"
                        >
                            {% block b2b_contingentrule_new_form_type_options %}
                                <option
                                    value=""
                                    disabled selected="selected"
                                >
                                    {{ "b2b.TypeLabel"|trans }}
                                </option>
                                {% for ruleType in registeredRules %}
                                    <option
                                        value="{{ ruleType }}"
                                        {% if rule.type == ruleType %}selected="selected"{% endif %}
                                        class="ajax-panel-link"
                                        data-target="contingent-rule-type-form"
                                        data-href="{{ path('frontend.b2b.b2bcontingentrule' ~ ruleType|lower ~ '.new' ) }}?id={{ rule.id.getValue }}"
                                    >
                                        {% set snippetKey = 'b2b.' ~ ruleType ~ 'Label' %}
                                        {{ snippetKey|trans }}
                                    </option>
                                {% endfor %}
                            {% endblock %}
                        </select>
                    {% endblock %}
                </div>
            </div>


            <div class="b2b--ajax-panel" data-url="" data-id="contingent-rule-type-form"></div>
        {% endblock %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions text-right {{ b2b_acl('b2bcontingentrule', 'grid') }}">
        {% block b2b_contingentrule_new_modal_actions %}
            <a
                data-target="contingent-tab-content"
                data-href={{ path('frontend.b2b.b2bcontingentrule.grid') }}?id={{ contingentGroupId.getValue }}"
                title="{{ "b2b.Abort"|trans }}"
            >
                <button class="btn btn-outline-secondary">
                    {{ "b2b.Abort"|trans }}
                </button>
            </a>
            <button
                class="btn btn-primary"
                type="submit"
                data-form-id="form"
            >
                {{ "b2b.Save"|trans }}
            </button>
        {% endblock %}
    </div>
{% endblock %}
