{% block b2b_role_form_errors %}
    {% if errors %}
        <div class="modal--errors error--list">
            {%
                sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                with {
                    messages: { 'error': errors }
                } only
            %}
        </div>
    {% endif %}
{% endblock %}

{% block b2b_role_form %}
    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.RoleNameLabel"|trans }}: *
        </div>
        {% block b2b_role_form_input %}
            <div class="block box--input">
                <input
                    type="text"
                    name="name"
                    class="form-control"
                    value="{{ role.name }}"
                    placeholder="{{ "b2b.RoleNamePlaceholder"|trans }}"
                    autofocus
                >
            </div>
        {% endblock %}
    </div>
{% endblock %}