{% block b2b_role_form_errors %}
    {% if errors %}
        <div class="modal--errors error--list">
            {%
                sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                with {
                    messages: { 'error': errors }
                } only
            %}
        </div>
    {% endif %}
{% endblock %}

{% block b2b_role_form %}
<div class="col-sm-12">
    <div class="form-group col-sm-6">
        <label>{{ "b2b.RoleNameLabel"|trans }} *</label>

        <input
            type="text"
            name="name"
            class="form-control"
            value="{{ role.name }}"
            placeholder="{{ "b2b.RoleNamePlaceholder"|trans }}"
            autofocus
        >
        {% block b2b_role_form_input %}{% endblock %}
    </div>
</div>
{% endblock %}
