{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.CreateRole"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <form
        action="{{ path('frontend.b2b.b2brole.create') }}"
        method="post"
        class="{{ b2b_acl('b2brole', 'create') }} modal--small"
        id="form"
        data-ajax-panel-trigger-reload="role-tree"
    >
        {% block b2b_role_new %}
            {{ sw_csrf('frontend.b2b.b2brole.create') }}

            <input type="hidden" name="parentId" value="{{ parentId }}">
            {% sw_include "@SwagB2bPlatform/storefront/frontend/b2brole/_form.html.twig" %}
        {% endblock %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions text-right">
        <button
            class="btn btn-primary"
            type="submit"
            data-form-id="form"
        >
            {{ "b2b.Save"|trans }}
        </button>
    </div>
{% endblock %}
