{% block b2b_role_node %}
    <li {% if not node.isForbiddenc and b2b_acl_check('b2brole', 'update') %}draggable="true"{% endif %}
        class="tree-select-item
        {% if node.hasChildren %}has--children{% endif %}
        {% if node.children %}is--opened{% else %}is--closed{% endif %}
        {% if node.isForbidden %}is--disabled{% endif %}"
        {% if not node.isForbidden %}data-id="{{ node.id }}"{% endif %}
    >
        {% block b2b_role_node_inner %}
            <span class="node-content-container">
                <span class="b2b-tree-node-inner">
                    {% block b2b_role_node_inner_expand %}
                        {% if not node.isForbidden %}
                            <a href="{{ path('frontend.b2b.b2brole.children') }}?parentId={{ node.id }}">
                                <span class="tree-handle">
                                    <span class="tree-icon closed">{% sw_icon 'arrow-right' style {'pack': 'solid'} %}</span>
                                    <span class="tree-icon opened">{% sw_icon 'arrow-down' style {'pack': 'solid'} %}</span>
                                    <span class="tree-icon leaf">{% sw_icon 'circle-small' style {'pack': 'solid'} %}</span>
                                    <span class="tree-icon loading">{% sw_icon 'loading-circle' %}</span>
                                </span>
                            </a>
                        {% else %}
                            <span class="tree-handle">
                                <span class="tree-icon closed">{% sw_icon 'arrow-right' style {'pack': 'solid'} %}</span>
                                <span class="tree-icon opened">{% sw_icon 'arrow-down' style {'pack': 'solid'} %}</span>
                                <span class="tree-icon leaf">{% sw_icon 'circle-small' style {'pack': 'solid'} %}</span>
                                <span class="tree-icon loading">{% sw_icon 'loading-circle' %}</span>
                            </span>
                        {% endif %}
                    {% endblock %}

                    {% block b2b_role_node_inner_label %}
                        <span class="tree-label">
                            {{ node.name }}
                            {% if node.isForbidden == false %}
                                <span class="actions">
                                    {% block b2b_role_node_inner_label_action_detail %}
                                        <form
                                            action="{{ path('frontend.b2b.b2brole.detail') }}"
                                            method="get"
                                            class="form--inline ajax-panel-link {{ b2b_acl('b2brole', 'detail') }}"
                                            data-target="role-detail"
                                        >
                                            <input type="hidden" name="id" value="{{ node.id }}">
                                            <button title="{{ "b2b.EditRole"|trans }}" type="submit"
                                                    class="btn is--small component-action-detail b2b-highlight"
                                                    data-confirm="true">
                                                {% sw_icon 'pencil-brush' %}
                                            </button>
                                        </form>
                                    {% endblock %}

                                    {% if
                                        b2b_acl_check('b2brole', 'detail')
                                        and b2b_acl_check('b2brole', 'remove')
                                    %}
                                        <hr class="vertical">
                                    {% endif %}

                                    {% block b2b_role_node_inner_label_action_remove %}
                                        <form
                                            action="{{ path('frontend.b2b.b2brole.remove') }}"
                                            method="post"
                                            class="form--inline {{ b2b_acl('b2brole', 'remove') }}"
                                            data-csrf-token="{{ sw_csrf('frontend.b2b.b2brole.remove', { mode: 'token' }) }}"
                                        >
                                            {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}

                                            <input type="hidden" class="roleId" name="id" value="{{ node.id.getValue }}">
                                            <input type="hidden" name="confirmName" value="{{ node.name }}">
                                            <button
                                                title="{{ "b2b.DeleteRole"|trans }}" type="submit"
                                                class="btn is--small component-action-delete b2b-danger"
                                                data-confirm="true"
                                                data-confirm-url="{{ path('frontend.b2b.b2bconfirm.remove') }}?confirmName={{ node.name }}"
                                            >
                                                {% sw_icon 'trash' %}
                                            </button>
                                        </form>
                                    {% endblock %}
                                </span>
                            {% endif %}
                        </span>
                    {% endblock %}

                    {% block b2b_role_node_inner_droparea %}
                        {% if not node.isForbidden %}
                            <span class="drop-area">
                                {% if not node.isAllowedRoot %}
                                    <span class="drop-before"></span>
                                {% endif %}
                                <span class="drop-as-child"></span>
                                {% if not node.isAllowedRoot %}
                                    <span class="drop-after"></span>
                                {% endif %}
                            </span>
                        {% endif %}
                    {% endblock %}
                </span>
            </span>

            {% block b2b_role_node_children %}
                <ul class="is--b2b-tree-select list--unordered">
                    {% for child in node.children %}
                        {% block b2b_role_node_children_item %}
                            {% sw_include "@SwagB2bPlatform/storefront/frontend/b2brole/_node.html.twig" with {'node': child} %}
                        {% endblock %}
                    {% endfor %}
                </ul>
            {% endblock %}
        {% endblock %}
    </li>
{% endblock %}
