{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal.html.twig" %}

{% block b2b_modal_base_navigation_header %}
    {{ "b2b.RoleDetails"|trans }}
{% endblock %}

{% block b2b_modal_base_navigation_entries %}
    {% set roleId = role.id.getValue  %}
    <li class="tab--group">
        {{ "b2b.Assignments"|trans }}
    </li>
    <li class="{{ b2b_acl('b2brole', 'detail') }}">
        <a
            class="b2b--tab-link tab--active"
            data-target="role-tab-content"
            data-href="{{ path('frontend.b2b.b2brole.edit', {'id': roleId}) }}"
        >
            {{ "b2b.MasterDataLabel"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2broleroute', 'index') }}">
        <a
            class="b2b--tab-link"
            data-target="role-tab-content"
            data-href="{{ path('frontend.b2b.b2broleroute.index', {'roleId': roleId}) }}"
        >
            {{ "b2b.PermissionManagement"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2brolecontingentgroup', 'index') }}">
        <a
            class="b2b--tab-link"
            data-target="role-tab-content"
            data-href="{{ path('frontend.b2b.b2brolecontingentgroup.index', {'roleId': roleId}) }}"
        >
            {{ "b2b.ContingentManagement"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2broleorderlist', 'index') }}">
        <a
            class="b2b--tab-link"
            data-target="role-tab-content"
            data-href="{{ path('frontend.b2b.b2broleorderlist.index', {'roleId': roleId}) }}"
        >
            {{ "b2b.OrderListManagement"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2brolebudget', 'index') }}">
        <a
            class="b2b--tab-link"
            data-target="role-tab-content"
            data-href="{{ path('frontend.b2b.b2brolebudget.index', {'roleId': roleId}) }}"
        >
            {{ "b2b.BudgetManagement"|trans }}
        </a>
    </li>
    <li class="tab--group">
        {{ "b2b.Visibility"|trans }}
    </li>
    <li class="{{ b2b_acl('b2brolerolevisibility', 'index') }}">
        <a
            class="b2b--tab-link"
            data-target="role-tab-content"
            data-href="{{ path('frontend.b2b.b2brolerolevisibility.index', {'roleId': roleId}) }}"
        >
            {{ "b2b.RoleVisibility"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2brolecontactvisibility', 'index') }}">
        <a
            class="b2b--tab-link"
            data-target="role-tab-content"
            data-href="{{ path('frontend.b2b.b2brolecontactvisibility.index', {'roleId': roleId}) }}"
        >
            {{ "b2b.ContactVisibility"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2broleaddress', 'grid') }}">
        <a
            class="b2b--tab-link"
            data-target="role-tab-content"
            data-href="{{ path('frontend.b2b.b2broleaddress.grid', {'roleId': roleId, 'type': 'billing'}) }}"
        >
            {{ "b2b.BillingAddresses"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2broleaddress', 'grid') }}">
        <a
            class="b2b--tab-link"
            data-target="role-tab-content"
            data-href="{{ path('frontend.b2b.b2broleaddress.grid', {'roleId': roleId, 'type': 'shipping'}) }}"
        >
            {{ "b2b.ShippingAddresses"|trans }}
        </a>
    </li>
{% endblock %}

{% block b2b_modal_base_content_inner %}
    <div class="b2b--ajax-panel has--b2b-form"
         data-id="role-tab-content"
         data-url="{{ path('frontend.b2b.b2brole.edit', {'id': role.id.getValue}) }}"
         data-plugins="assignmentGrid,gridComponent">
    </div>
{% endblock %}
