{% block b2b_role %}
    <div class="panel is--rounded">
        {% block b2b_role_title %}
            <div class="panel--title is--underline">

                <div class="block-group b2b--block-panel">
                    <div class="block block--title">
                        <h3>{{ "b2b.RoleManagement"|trans }}</h3>
                    </div>
                    <div class="block block--actions">
                        {% block b2b_role_title_modal_new %}
                            <form
                                action="{{ path('frontend.b2b.b2brole.new') }}"
                                method="get"
                                class="ajax-panel-link link-modal--small {{ b2b_acl('b2brole', 'new') }}"
                                data-target="role-detail"
                                data-href="{{ path('frontend.b2b.b2brole.new') }}"
                            >
                                <input
                                    class="b2b--tree-selection-aware"
                                    data-id="role-tree"
                                    type="hidden"
                                    name="parentId"
                                    value="{{ root.id }}"
                                >
                                <button
                                    type="submit"
                                    class="btn component-action-create"
                                >
                                    {{ "b2b.CreateRole"|trans }}
                                </button>
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block b2b_role_panel %}
            <div class="panel--body is--wide">
                <div
                    class="is--b2b-tree-select is--b2b-tree-select-container"
                    data-csrf-token="{{ sw_csrf('frontend.b2b.b2brole.move', { mode: 'token' }) }}"
                    data-move-url="{{ path('frontend.b2b.b2brole.move') }}"
                >
                    <div
                        class="b2b--ajax-panel"
                        data-url="{{ path('frontend.b2b.b2brole.subtree') }}?openNodes[]={{ root.id.getValue }}"
                        data-id="role-tree"
                    ></div>
                </div>
            </div>
        {% endblock %}

        {% block b2b_role_modal %}
            <div class="b2b--ajax-panel b2b-modal-panel has--b2b-form"
                 data-id="role-detail">
            </div>
        {% endblock %}
    </div>
{% endblock %}
