{% block b2b_role %}
    {% block b2b_role_title %}{% endblock %}

    {% block b2b_role_title_modal_new %}
        <form
            action="{{ path('frontend.b2b.b2brole.new') }}"
            method="get"
            class="ajax-panel-link link-modal--small d-inline-block mb-4 {{ b2b_acl('b2brole', 'new') }}"
            data-target="role-detail"
            data-href="{{ path('frontend.b2b.b2brole.new') }}"
        >
            <input
                class="b2b--tree-selection-aware"
                data-id="role-tree"
                type="hidden"
                name="parentId"
                value="{{ root.id }}"
            >
            <button
                type="submit"
                class="btn btn-primary component-action-create"
            >
                {{ "b2b.CreateRole"|trans }}
            </button>
        </form>
    {% endblock %}

    {# @deprecated tag:v4.6.0 - will be removed. Use "b2b_role" instead #}
    {% block b2b_role_panel %}{% endblock %}

    {% block b2b_role_tree %}
        <div
            class="is--b2b-tree-select-container"
            data-csrf-token="{{ sw_csrf('frontend.b2b.b2brole.move', { mode: 'token' }) }}"
            data-move-url="{{ path('frontend.b2b.b2brole.move') }}"
        >
            <div
                class="b2b--ajax-panel"
                data-url="{{ path('frontend.b2b.b2brole.subtree') }}?openNodes[]={{ root.id.getValue }}"
                data-id="role-tree"
            ></div>
        </div>
    {% endblock %}

    {% block b2b_role_modal %}
        <div
            class="b2b--ajax-panel b2b-modal-panel has--b2b-form"
            data-id="role-detail"
        ></div>
    {% endblock %}
{% endblock %}
