{% block b2b_role_subtree_errors %}
    {% if errors %}
        <div class="modal--errors error--list">
            {%
                sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                with {
                    messages: { 'error': errors }
                } only
            %}
        </div>
    {% endif %}
{% endblock %}

<div class="is--b2b-tree-select-container">
    {% block b2b_role_subtree_list %}
        <ul class="is--b2b-tree-select is--root-list">
            {% block b2b_role_subtree_list_item %}
                <li
                    class="node is--opened{% if rootNode.hasChildren %} has--children{% endif %}"
                    data-id="{{ rootNode.id }}"
                >
                    <div class="node__inner">
                        {% block b2b_role_subtree_list_item_inner %}
                            <a
                                class="node__inner--toggle-children"
                                href="{{ path('frontend.b2b.b2brole.children', {'parentId': rootNode.id.getValue}) }}"
                            >
                                {% sw_icon 'arrow-right' style {'pack': 'solid'} %}
                            </a>

                            <span class="tree-label is--company">
                                {{ "b2b.RootNodeLabel"|trans }}
                            </span>

                            {% sw_icon 'loading-circle' %}
                        {% endblock %}
                    </div>

                    {% block b2b_role_subtree_list_item_children %}
                        <ul class="is--b2b-tree-select">
                            {% for child in rootNode.children %}
                                {% sw_include "@SwagB2bPlatform/storefront/frontend/b2brole/_node.html.twig" with {'node': child} %}
                            {% endfor %}
                        </ul>
                    {% endblock %}
                </li>
            {% endblock %}
        </ul>
    {% endblock %}
</div>
