{% block b2b_role_subtree_errors %}
    {% if errors %}
        <div class="modal--errors error--list">
            {%
                sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                with {
                    messages: { 'error': errors }
                } only
            %}
        </div>
    {% endif %}
{% endblock %}

{% block b2b_role_subtree_list %}
    <ul class="is--b2b-tree-select list--unordered is--root-list">
        {% block b2b_role_subtree_list_item %}
            <li class="{% if rootNode.hasChildren %}has--children{% endif %}
                {% if rootNode.children %}is--opened{% else %}is--closed{% endif %}"
                data-id="{{ rootNode.id }}"
            >
                <span class="node-content-container">
                    <span class="b2b-tree-node-inner">
                        {% block b2b_role_subtree_list_item_inner %}
                            {% if not rootNode.isForbidden %}
                                <a href="{{ path('frontend.b2b.b2brole.children', {'parentId': rootNode.id.getValue}) }}">
                                    <span class="tree-handle">
                                        <span class="tree-icon closed">{% sw_icon 'arrow-right' style {'pack': 'solid'} %}</span>
                                        <span class="tree-icon opened">{% sw_icon 'arrow-down' style {'pack': 'solid'} %}</span>
                                        <span class="tree-icon leaf">{% sw_icon 'circle-small' style {'pack': 'solid'} %}</span>
                                        <span class="tree-icon loading">{% sw_icon 'loading-circle' %}</span>
                                    </span>
                                </a>
                            {% else %}
                                <span class="tree-handle">
                                    <span class="tree-icon closed">{% sw_icon 'arrow-right' style {'pack': 'solid'} %}</span>
                                    <span class="tree-icon opened">{% sw_icon 'arrow-down' style {'pack': 'solid'} %}</span>
                                    <span class="tree-icon leaf">{% sw_icon 'circle-small' style {'pack': 'solid'} %}</span>
                                    <span class="tree-icon loading">{% sw_icon 'loading-circle' %}</span>
                                </span>
                            {% endif %}
                            <span class="tree-label is--company">
                                {{ "b2b.RootNodeLabel"|trans }}
                            </span>
                        {% endblock %}
                    </span>
                </span>

                {% block b2b_role_subtree_list_item_children %}
                    <ul class="is--b2b-tree-select list--unordered">
                        {% for child in rootNode.children %}
                            {% sw_include "@SwagB2bPlatform/storefront/frontend/b2brole/_node.html.twig" with {'node': child} %}
                        {% endfor %}
                    </ul>
                {% endblock %}
            </li>
        {% endblock %}
    </ul>
{% endblock %}