{% block sw_cms_block_feldmann_hp_grid %}
    <div class="sw-cms-block-feldmann-hp-grid">
        <slot name="left"></slot>
        <div class="sw-cms-block-feldmann-hp-grid__side-images">
            <div class="sw-cms-block-feldmann-hp-grid__image-top">
                <slot name="right-top"></slot>
            </div>
            <div class="sw-cms-block-feldmann-hp-grid__image-bottom">
                <slot name="right-bottom"></slot>
            </div>
        </div>
    </div>
{% endblock %}
