.sw-cms-block-feldmann-hp-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    grid-gap: 15px;

    .sw-cms-el-image.is--cover {
        min-height: 300px;
    }

    .sw-cms-block-feldmann-hp-grid__side-images {
        height: 100%;
    }

    .sw-cms-block-feldmann-hp-grid__image-top {
        margin-bottom: 15px;
    }

    .sw-cms-block-feldmann-hp-grid__image-top,
    .sw-cms-block-feldmann-hp-grid__image-bottom {
        min-height: 117.5px;
    }
}
