.accordion {
    .card-header {
        padding: 0;
        border-bottom: none;
        border-top: 1px solid $feldmann-cyan;
        background-color: $feldmann-grey-light;
    }

    .card-body {
        font-size: 18px;
        padding: 0 20px 20px;
    }
}

.accordion-link {
    padding: 10px;
    font-size: 24px;
    text-align: left;
    white-space: normal;
    display: inline-flex;
    justify-content: space-between;

    .icon-plus,
    .icon-minus {
        min-width: 22px;
        color: $feldmann-cyan;

        & > svg {
            top: 0;
        }
    }

    &.collapsed {
        .icon-minus {
            display: none;
        }
    }

    &:not(.collapsed) {
        .icon-plus {
            display: none;
        }
    }
}

.cms-element-accordion-video-name {
    font-size: 20px;
    color: $feldmann-blue;
}
