.base-slider {
    .base-slider-dots {
        .base-slider-dot {
            &:hover,
            &.tns-nav-active {
                background-color: $feldmann-cyan;
            }
        }
    }
}
