.breadcrumb {
    margin-bottom: 0;
    padding: 15px 20px;

    .breadcrumb-placeholder {
        margin: 0 3px;
        display: inline-flex;
    }

    a {
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
        color: $feldmann-grey-dark;

        &.is-active {
            color: $feldmann-cyan;
        }
    }
}
