.btn {
    letter-spacing: 0.15px;
    text-transform: uppercase;
}

.header-actions-btn {
    padding: 8px 15px;
}

.cart-item-remove-button {
    padding: 3px 10px 10px;
}

.input-group-append {
    .btn {
        padding: 0 20px;
        line-height: 24px;
    }
}

.btn-buy {
    background-color: $feldmann-cyan;
    border-color: $feldmann-cyan;
    border-radius: $btn-border-radius;
    padding: 4px 8px;

    &:hover {
        background-color: $feldmann-cyan;
        border-color: $feldmann-cyan;
    }
}

.btn-primary {
    @include button-variant($feldmann-cyan, $feldmann-cyan);
}

.btn-outline-primary {
    @include button-outline-variant($feldmann-cyan);
}

.btn-outline-secondary {
    color: $feldmann-grey-dark;
    border-color: transparent;
}

.address-action-set-default {
    max-width: 100%;
    white-space: normal;
}
