// fix for full height slider
.cms-block-feldmann-hp-grid {
    .cms-element-image-slider,
    .image-slider,
    .tns-ovh,
    .tns-inner,
    .tns-item,
    .tns-outer {
        height: 100%;
    }

    .grid {
        margin: -10px 0 0 -10px;

        .grid-element {
            height: 428px;
            padding: 10px 0 0 10px;
        }

        .grid-element-half {
            height: 214px;
        }
    }
}

.cms-block-feldmann-image-text-gallery {
    .feldmann-image-text-gallery-card {
        overflow: hidden;
        border-bottom-right-radius: 15%;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }

    .cms-element-text {
        padding: 17px 30px 19px;
        background-color: $feldmann-blue;
    }
}

.cms-block-feldmann-six-columns {
    .image-container {
        min-height: 65px;
        max-height: 65px;
    }
}

.cms-block-feldmann-four-columns {
    .image-container {
        margin-bottom: 10px;
    }

    .cms-image-container {
        margin: 0 auto;
        max-width: 180px;
        overflow: hidden;
        border-radius: 50%;
    }
}
