.cms-element-image,
.cms-element-image-slider {
    .cms-image-container-text {
        left: 30px;
        bottom: 30px;
        position: absolute;
        font-family: $font-family-base;
    }

    .image-head,
    .image-sub {
        display: block;
    }

    .image-head {
        font-size: 30px;
        font-weight: 900;
    }

    .image-sub {
        font-size: 16px;
        line-height: 1.5;
    }
}

.cms-element-text {
    font-size: 18px;
}

.cms-element-image-slider {
    .cms-image-container-text {
        top: 35%;
        left: 75px;
        bottom: auto;
    }
}

.image-slider-item-container {
    position: relative;
}

.category-navigation-box {
    padding: 15px 0;
    background: #fff;
}

.category-navigation {
    &.level-0 {
        > .category-navigation-entry {
            border-bottom: 0;
        }
    }
}

.category-navigation-link {
    color: $feldmann-blue;
    font-size: 18px;
    line-height: 22px;
    padding: 3px 10px;

    .level-1 &,
    .level-2 &,
    .level-3 &,
    .level-4 & {
        font-size: 14px;
        line-height: 18px;
        padding: 3px 10px;
        color: $feldmann-grey-dark;
    }

    &.in-path,
    &.is-active {
        color: #fff;
        font-weight: normal;
        background-color: $feldmann-cyan;

        .level-1 &,
        .level-2 &,
        .level-3 &,
        .level-4 & {
            color: #000;
            background-color: transparent;
        }
    }
}

.cms-element-product-listing {
    .cms-action-col {
        margin-bottom: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.cms-element-filter-row {
    padding-left: 20px;
    padding-right: 20px;

    .cms-element-filter-col {
        padding-left: 0;
        padding-right: 15px;

        @include media-breakpoint-up(xl) {
            padding-right: 20px;
        }
    }
}

.cms-element-product-listing-actions {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;

    .limit {
        margin-left: auto;
    }
}

.cms-image {
    &.modal-click-img {
        cursor: pointer;
    }
}

.image-modal {
    .modal-body {
        display: flex;
        flex-direction: column;
    }

    img {
        max-width: 100%;
        align-self: center;
    }
}

@include media-breakpoint-down(md) {
    .cms-element-image,
    .cms-element-image-slider {
        .cms-image-container-text {
            left: 30px;
            top: 0;

            .feldmann-image-text-gallery-card & {
                top: auto;
            }
        }
    }

    .cms-element-product-listing-actions {
        .limit {
            width: 100%;
            margin-top: 5px;
            margin-left: 0;
        }
    }
}

@include media-breakpoint-up(sm) {
    .image-modal {
        .modal-dialog {
            max-width: 75vw;
        }
    }
}

@include media-breakpoint-up(sm) {
    .image-modal {
        .modal-dialog {
            max-width: 75vw;
        }
    }
}

@include media-breakpoint-up(xl) {
    .image-modal {
        .modal-dialog {
            max-width: 975px;
        }
    }
}
