.cookie-permission-container {
    .offcanvas-cookie-group {
        width: 250px;
    }
}

@include media-breakpoint-up(md) {
    .cookie-permission-container {
        .offcanvas-cookie-group {
            margin: 12px 20px 12px 0
        }

        .cookie-settings {
            text-align: left;
        }
    }
}
