.btn {
    &.filter-panel-wrapper-toggle {
        border: 0;
        height: 30px;
        font-size: 14px;
        border-radius: 0;
        padding: 3px 5px;
        font-weight: bold;
        line-height: 21px;
        background-color: #fff;
        color: $feldmann-grey-dark;

        &:hover {
            background-color: #fff;
            color: $feldmann-grey-dark;
        }

        .icon > svg {
            top: 3px;
        }
    }
}

.filter-panel-item {
    margin-bottom: 4px;
    margin-right: 0;
    width: 100%;

    .filter-panel-item-toggle {
        width: 100%;
        text-align: left;
        border-radius: 0;
        padding: 3px 8px;
        color: $feldmann-grey;
        background-color: #fff;
        border: 1px solid $feldmann-grey;

        .icon {
            color: $feldmann-blue;
            float: right;
        }
    }

    .filter-panel-item-dropdown {
        width: 100%;
    }
}

.filter-active {
    margin-right: 4px;
    margin-bottom: 4px;
}

@include media-breakpoint-up(lg) {

    .filter-panel-item {
        margin-right: 0.5%;
        width: 33%;

        &:nth-child(3n) {
            margin-right: 0;
        }
    }

    .filter-panel {
        margin-bottom: 0;
    }

    .filter-panel-items-container {
        margin-bottom: 0;
    }
}
