.gallery-slider-thumbnails {
    &.is-underneath {
        margin-top: 2rem;
    }
}

.gallery-slider-thumbnails-container {
    width: calc(100% - 70px);
    margin: 0 auto;
}

.gallery-slider-thumbnails-controls-prev,
.gallery-slider-thumbnails-controls-next {
    top: calc(50% + 1rem);
}

.gallery-slider-thumbnails-controls-prev {
    left: -35px;
}

.gallery-slider-thumbnails-controls-next {
    right: -35px;
}

.gallery-slider-thumbnails-item {
    height: 110px;

    &.tns-nav-active {
        .gallery-slider-thumbnails-item-inner {
            border-color: $feldmann-cyan;
        }
    }
}

.gallery-slider-thumbnails-item-inner {
    width: 110px;
    height: 110px;
    padding: 8px;
    overflow: hidden;
    border-color: $feldmann-grey;
}
