.input-group-text {
    border: 0;
    font-size: 14px;
    border-radius: 0;
    line-height: 14px;
    font-weight: bold;
    padding: 5px 12px;
    background-color: #fff;
    text-transform: uppercase;
    color: $feldmann-grey-dark;
}

.custom-select {
    border: 0;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    border-radius: 0;
    line-height: 14px;
    font-weight: bold;
    color: $feldmann-grey-dark;
    background: url("data:image/svg+xml,%3csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 4 5\'%3e%3cpath fill=\'#{svg-color($feldmann-cyan)}\' d=\'M2 0L0 2h4zm0 5L0 3h4z\'/%3e%3c/svg%3e") no-repeat right .5625rem center/8px 10px;
    background-color: #fff;

    &:focus,
    &:hover {
        border: 0;
        box-shadow: none;
    }

    .buy-widget-container & {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.input-group-prepend + .custom-select {
    font-size: 16px;
    text-align: center;
    font-weight: normal;
    border-left: 1px solid $feldmann-grey-light;

    &:focus,
    &:hover {
        border-left: 1px solid $feldmann-grey-light;
    }
}
