.list-checked {
    @extend .list-unstyled;

    li {
        position: relative;
        padding-left: 30px;
        font-size: 18px;
        line-height: 1.67;
        color: $feldmann-blue;

        &:before {
            content: '';
            left: 0;
            top: 5px;
            width: 18px;
            height: 18px;
            position: absolute;
            background-color: $feldmann-cyan;
            -webkit-mask: url("#{$theme-asset-path}/img/icons/check.svg");
            mask: url("#{$theme-asset-path}/img/icons/check.svg");
        }

        &.item-unstyled:before {
            content: none;
        }
    }
}
