.pagination {
    .page-item {
        margin-right: 5px;

        &.page-last {
            margin-right: 0;
        }

        .page-link {
            border: 0;
            width: 30px;
            font-size: 16px;
            border-radius: 0;
            text-align: center;
            padding: 3px 7.5px;
            background-color: #fff;
            color: $feldmann-grey-dark;

            .icon {
                color: $feldmann-blue;
            }
        }

        &.active {
            .page-link {
                color: #fff;
                background-color: $feldmann-cyan;
            }
        }

        &.disabled {
            opacity: 0.5;

            .page-link {
                background-color: #fff;
            }
        }
    }
}
