.product-slider-controls-prev {
    left: -26px;
}

.product-slider-controls-next {
    right: -30px;
}

.product-slider-item {
    .product-name {
        height: 60px;
    }
}

@include media-breakpoint-up(sm) {
    .product-slider-item {
        .product-name {
            height: 80px;
        }
    }
}

@include media-breakpoint-up(xl) {
    .product-slider-controls-prev {
        left: -30px;
    }
}
