.product-image-wrapper {
    padding: 0 15px;
}

.product-name {
    margin: 4px;
    height: 70px;
    font-size: 18px;
    font-weight: bold;
    padding: 9px 10px;
    color: $feldmann-blue;
}

.product-article-nr {
    font-size: 14px;
    padding: 11px 15px 0;
    color: $feldmann-blue;

    .nr-label {
        font-weight: bold;
    }
}

.product-description {
    height: 66px;
    margin-top: 0;
    display: block;
    font-size: 14px;
    overflow: hidden;
    line-height: 22px;
    margin-bottom: 15px;
    padding: 2px 15px 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    color: $feldmann-grey-dark;
    -webkit-box-orient: vertical;
}

.product-price {
    height: auto;
    color: $feldmann-blue;
    margin-top: 8px;
    font-size: 16px;
}

.product-price-unit {
    height: auto;
    font-size: 14px;
    line-height: 18px;
    overflow: inherit;
    margin-bottom: 0;
}

.product-price-info,
.product-action {
    margin-top: 0;
}

.product-box {
    overflow: hidden;
    background-color: #fff;
    border-radius: 0 0 50px;
    border: 1px solid $feldmann-blue;

    .card-body {
        padding: 0 0 20px;
    }

    .product-action {
        .btn {
            width: auto;
            font-size: 14px;
            line-height: 28px;
            text-transform: none;
            padding: 2px 6px;
            border-radius: unset;

            .icon {
                color: #fff;
                margin-right: 2px;
            }
        }
    }
}

.product-badges {
    top: 15px;
    left: 15px;

    .badge {
        padding: 3px 20px;
        border-radius: 16px 0 16px 0;
    }
}

.box-minimal {
    .card-body {
        padding-bottom: 0;
    }

    .product-image-wrapper {
        height: 100px;
    }

    .product-image {
        max-height: 100px;
    }

    .product-name {
        margin: 0;
        color: #fff;
        background-color: $feldmann-blue;
        text-align: center;
        font-size: 16px;
    }
}

@include media-breakpoint-up(sm) {
    .box-minimal {
        margin-bottom: 24px;
    }
}
