.cms-section-sidebar-sidebar-content,
.cms-section-sidebar-main-content {
    padding-left: 0;
    padding-right: 0;
}

@include media-breakpoint-up(lg) {
    .cms-section-sidebar-sidebar-content {
        padding-right: 30px;
    }
}
