.product-detail-action-link {
    .share-action-email,
    .share-action-whatsapp {
        padding: 2px 10px 0;
        border-radius: 3px;
        color: #fff;
        font-weight: bold;
        font-size: 13px;

        &:hover {
            color: #fff;
        }

        .icon {
            color: #fff;

            > svg {
                top: 2px;
            }
        }
    }

    .share-action-email {
        .icon {
            width: 14px;
        }
    }
}

.share-action-text {
    vertical-align: top;
}

.share-action-container {
    display: flex;
    padding-top: 5px;
}

.share-action-facebook {
    border: none;
    overflow: hidden;
}

.share-action-email {
    background: $feldmann-grey-dark;
}

.share-action-whatsapp {
    background: #25D366;
}
