.sticky-social-icons-container {
    z-index: 10;
    float: right;
    position: sticky;
    top: 300px;
    height: 0;
}

.sticky-social-icons-item-text {
    display: none;
}

.sticky-social-icons-item {
    display: table;
    margin-bottom: 4px;
    margin-left: auto;
    padding: 5px 10px 5px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #fff;
    background-color: $feldmann-cyan;
    font-weight: 600;

    a {
        color: #fff;

        &:hover {
            text-decoration: none;
            color: #fff;
        }
    }

    .icon {
        color: #fff;
        margin-right: 5px;
    }

    &:hover {
        .sticky-social-icons-item-text {
            display: inline-block;
        }
    }
}
