.sub-categories-item {
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;
    background-color: #fff;
    border-bottom-right-radius: 40px;

    img {
        margin: 0 auto;
        max-width: 100%;
        padding: 50px 20px;
    }

    p {
        margin: 0;
        color: #fff;
        padding: 19px;
        font-size: 14px;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-transform: uppercase;
        background-color: $feldmann-blue;
    }

    .btn {
        margin: 10px;
        padding: 12px 10px;
        width: calc(100% - 20px);
        border-bottom-right-radius: 30px;
        font-size: 14px;
    }
}
