form {
    &.is--b2b-acl-controller-b2borderlist {
        &.is--b2b-acl-action-create {
            .inner--content {
                .b2b--form:last-child {
                    display: none;
                }
            }
        }

        &.is--b2b-acl-action-update {
            .b2b--form:last-child {
                display: none;
            }
        }
    }
}

.b2b-remote-list-orderlist {
    &.mb-4 {
        margin-bottom: 0 !important;
    }
}
