.is--b2b-tree-select {
    .tree-label {
        .actions {
            form {
                &.is--b2b-acl-controller-b2brole {
                    display: none;

                    &:hover {
                        display: none;
                    }

                    & ~ form {
                        display: none;

                        &:hover {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}


