{% extends '@SwagB2bPlatform/storefront/frontend/b2bcontact/detail.html.twig' %}

{% block b2b_modal_base_navigation_entries %}
    <li class="tab--group">
        {{ "b2b.Account"|trans }}
    </li>
    <li>
        <a class="b2b--tab-link tab--active {{ b2b_acl('b2bcontact', 'edit') }}"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontact.edit') }}?id={{ contactID }}"
           title="{{ "b2b.MasterDataLabel"|trans }}"
        >
            {{ "b2b.MasterDataLabel"|trans }}
        </a>
    </li>
    <li>
        <a class="b2b--tab-link {{ b2b_acl('b2bcontactaddressdefault', 'grid') }}"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontactaddressdefault.grid') }}?contactId={{ contactID }}&type=billing"
           title="{{ "b2b.DefaultBillingAddress"|trans }}"
        >
            {{ "b2b.DefaultBillingAddress"|trans }}
        </a>
    </li>
    <li>
        <a class="b2b--tab-link {{ b2b_acl('b2bcontactaddressdefault', 'grid') }}"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontactaddressdefault.grid') }}?contactId={{ contactID }}&type=shipping"
           title="{{ "b2b.DefaultShippingAddress"|trans }}"
        >
            {{ "b2b.DefaultShippingAddress"|trans }}
        </a>
    </li>
{% endblock %}
