{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_script_router %}
    {{ parent() }}

    <script>
        window.router['frontend.wishlist.add'] = '{{ path('frontend.wishlist.add') }}';
        window.router['frontend.wishlist.remove'] = '{{ path('frontend.wishlist.remove') }}';
    </script>
{% endblock %}
