{% sw_extends '@Storefront/storefront/layout/navigation/flyout.html.twig' %}

{% block layout_navigation_flyout_categories_before_items %}
    {% if name == "Downloads" %}
        {% if hasPermissionDownload is not defined or hasPermissionDownload %}
            {# fallback if rights mangement not installed or hasPermissionDownload not set like in b2b Suite pages #}
            {% set hasPermissionDownload = true %}
        {% endif %}

        {% if context.customer and hasPermissionDownload %}
            <div class="navigation-flyout-col">
                <a class="nav-item nav-link navigation-flyout-link is-level-0{% if controllerName|lower == "filessearch" %} active{% endif %}"
                   href="{{ path('frontend.ies_files.search') }}"
                   itemprop="url"
                   title="{{ "file-search.navigation.downloads"|trans }}">
                    <span itemprop="name">{{ "file-search.navigation.downloads"|trans }}</span>
                </a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
