{% block b2b_fastorder_grid_row %}
    <tr>
        {% block b2b_fastorder_grid_row_inner %}
            <td
                class="col-headline"
                data-label="{{ "b2b.ProductNameLabel"|trans }}"
            >
                <h4 class="headline-product">{{ row.name }}</h4>
            </td>
            <td data-label="{{ "b2b.ProductNumberLabel"|trans }}">
                <div class="input-group">
                    <input
                        type="text"
                        class="input-ordernumber form-control"
                        name="products[{{ loop.index0 }}][referenceNumber]"
                        value="{{ row.referenceNumber }}"
                    />
                </div>
            </td>
            <td data-label="{{ "b2b.QuantityLabel"|trans }}" >
                <div class="input-group">
                    <input
                        type="number"
                        min="1"
                        class="input-quantity form-control"
                        name="products[{{ loop.index0 }}][quantity]"
                        value="{{ row.quantity }}"
                    />
                </div>
            </td>
        {% endblock %}
    </tr>
{% endblock %}