{% block b2b_fastorder_grid_messages %}
    <div class="module-fastorder--grid-messages">
        {% if error == 'file' %}
            {%
                sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
                with {
                    messages: [ 'error', "b2b.FileExtensionNotValid" ]
                } only
            %}
        {% elseif error == 'products' %}
            {%
                sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
                with {
                    messages: [ 'error', "b2b.NoProductsFound" ]
                } only
            %}
        {% elseif notMatchingProducts %}
            {% set messages = [ 'error', 'b2b.OrderNumbersNotFound'] %}

            {% set messages = messages|merge([notMatchingProducts|join(', ')]) %}

            {%
                sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
                with {
                    messages: messages
                } only
            %}
        {% endif %}
    </div>
{% endblock %}