{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table.html.twig' %}

{% block b2b_grid_table_class %}
    table--fastorder
{% endblock %}

{% block b2b_grid_table_attributes %}
    data-new-auto-row="true"
{% endblock %}

{% block b2b_grid_table_head %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bfastorder/grid/_grid-head.html.twig' %}
{% endblock %}

{% block b2b_grid_message %}{% endblock %}

{% block b2b_grid_table_row%}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bfastorder/grid/_grid-row.html.twig'  %}
{% endblock %}

{% block b2b_grid_table_after_rows %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bfastorder/grid/_grid-row-remotebox.html.twig'  %}
{% endblock %}