{% block b2b_fastorder_grid_head %}
    <tr>
        {% block b2b_fastorder_grid_head_inner %}
            <th
                class="col-name"
                data-label="{{ "b2b.ProductNameLabel"|trans }}"
            >
                {{ "b2b.ProductNameLabel"|trans }}
            </th>
            <th
                class="col-number"
                data-label="{{ "b2b.ProductNumberLabel"|trans }}"
            >
                {{ "b2b.ProductNumberLabel"|trans }}
            </th>
            <th
                class="col-quantity"
                data-label="{{ "b2b.QuantityLabel"|trans }}"
            >
                {{ "b2b.QuantityLabel"|trans }}
            </th>
        {% endblock %}
    </tr>
{% endblock %}