{% block b2b_fastorder_grid_row_remotebox %}
    <tr data-index="{{ rowIndex|default(0) }}">
        {% block b2b_fastorder_grid_row_remotebox_inner %}
            <td
                class="col-headline"
                data-label="{{ "b2b.ProductNameLabel"|trans }}"
            >
                {% if row.name %}
                    <h4 class="headline-product">
                        {{ row.name }}
                    </h4>
                {% else %}
                    <p class="headline-product-placeholder">
                        <i>
                            {{ "b2b.ChooseProductLabel"|trans }}
                        </i>
                    </p>
                {% endif %}
            </td>
            <td data-label="{{ "b2b.ProductNumberLabel"|trans }}">
                <div class="b2b--search-container">
                    <input
                        type="text"
                        placeholder="{{ "b2b.ProductNumberPlaceholder"|trans }}"
                        class="input-ordernumber form-control"
                        name="products[{{ rowIndex|default(0) }}][referenceNumber]"
                        data-product-search="{{ path('frontend.b2b.b2bproductsearch.searchProduct') }}"
                    />
                </div>
            </td>
            <td data-label="{{ "b2b.QuantityLabel"|trans }}">
                <div class="input-group">
                    <input
                        type="number"
                        placeholder="{{ "b2b.QuantityPlaceholder"|trans }}"
                        min="1"
                        class="input-quantity b2b--search-quantity form-control"
                        name="products[{{ rowIndex|default(0) }}][quantity]"
                    />
                </div>
            </td>
        {% endblock %}
    </tr>
{% endblock %}