{% set gridState = { data: matchingProducts } %}

{% block b2b_fastorder_grid %}
    <div class="b2b--grid-container">
        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bfastorder/grid/_grid-messages.html.twig' %}

        {% block b2b_grid_form %}
            {% sw_include'@SwagB2bPlatform/storefront/frontend/b2bfastorder/grid/_grid-form.html.twig' %}
        {% endblock %}

        {% block b2b_grid_table %}
            {% sw_include'@SwagB2bPlatform/storefront/frontend/b2bfastorder/grid/_grid-table.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}