.b2b--statistic {
  @include unitize(padding-top, 20);

  .b2b-statistics-chart {
    width: 100%;
    height: auto;

    @include unitize(padding-top, 10);
  }

  .filter-container {
    display: flex;
    flex-wrap: wrap;

    .block {
      flex-basis: 100%;

      @include unitize-margin(10, 0);

      &.block-flatpickr {
        flex-basis: 100%;
      }

      &.block-selects h5:not(:first-child) {
        @include unitize(margin-top, 20);
      }
    }
  }

  .group--actions {

    .btn {
      @include unitize(max-width, 400);

      @include unitize-margin(5);

      @include maxWidth("tablet") {
        clear: both;
        float: left;
      }

      &:not(.right) {
        float: left;
      }
    }
  }

  tr {
    cursor: pointer;
  }
}

@include minWidth("tablet") {

  .b2b--statistic {

    .panel--body {
      @include unitize(margin-top, 40);
    }

    .filter-container {

      .block {
        flex-basis: 50%;
      }
    }
  }
}

@include minWidth("desktop") {

  .b2b--statistic {
    @include unitize-padding(20);

    .filter-container {

      .block {
        flex-basis: 33%;
      }
    }
  }
}