.b2b--cart-finish {
  text-align: center;
  margin: 20vh 0;

  .b2b--icon-holder {

    .icon {
      $size-icon: 50;

      color: $sw-color-success;
      @include unitize(width, $size-icon);
      @include unitize(height, $size-icon);
      @include unitize(margin-bottom, 32);
    }
  }
}
