.b2b-discount-field {
  justify-content: flex-end;

  input {
    flex: 0 0 100px !important;
  }

  select {
    flex: 0 0 80px !important;
  }

  .btn {
    border: 1px solid;

    &:hover {
      border: 1px solid $sw-color-brand-primary;
    }
  }

  [disabled] {
    cursor: not-allowed;
  }

  &__label {
    @media only screen and (max-width: 340px) {
      @include unitize(font-size, 10);
      @include unitize(padding, 4);
    }
  }
}
