.b2b-order-masterdata__fields {

  td:last-child {
    @include unitize(padding-left, 16);
  }

  input,
  textarea {
    @include minWidth('tablet') {
      @include unitize(min-width, 300);
    }
  }
}
