.b2b--plugin,
.js--modal,
.b2b--grid-container,
.b2b--orderlist-remote {

  .btn {
    background: $btn-background;
    color: $btn-text-color !important;
    border-color: $border-color;
    font-weight: $font-weight-regular;
    outline: none;
    box-shadow: none;
    border: 0;
    -webkit-appearance: none;

    svg {
      color: $btn-icon-color;
      transition: color .3s ease;
    }

    &:not(:disabled) {

      &:hover,
      &:focus,
      &:active {
        background: lighten($btn-background, 10%);
        outline: none !important;
        box-shadow: none !important;

        svg {
          color: $btn-icon-color;
        }
      }

      &.b2b-success {

        &:hover,
        &:focus,
        &:active {
          background: $highlight-success;
        }
      }

      &.b2b-highlight {

        &:hover,
        &:focus,
        &:active {
          background: $highlight-info;
        }
      }

      &.b2b-danger {

        &:hover,
        &:focus,
        &:active {
          background: $highlight-error;
        }

        &.b2b--confirm-action {
          background: $highlight-error;

          &:hover,
          &:focus,
          &:active {
            background: darken($highlight-error, 10%);
          }
        }
      }
    }

    &:disabled:not(.is--small) {
      background: lighten($btn-background, 30%);

      &:hover {
        cursor: not-allowed;
      }
    }

    &.is--full {
      width: 100%;
    }

    &.is--right {
      float: right;
    }

    &.is--left {
      float: left;
    }

    &.is--small:disabled {
      svg {
        color: $btn-icon-disabled-color !important;
      }

      &:hover svg {
        color: $btn-icon-disabled-color !important;
      }
    }
  }

  table {

    td:not(.line-item--column-comment):not(.line-item--column-button) {

      .btn {
        background: transparent;

        &:not(:disabled) {

          &:hover,
          &:focus,
          &:active {
            background: transparent !important;

            svg {
              color: lighten($icon-base-color, 8%) !important;
            }

            &.b2b-success svg {
              color: $highlight-success !important;
            }

            &.b2b-highlight svg {
              color: $highlight-info !important;
            }

            &.b2b-danger svg {
              color: $highlight-error !important;
            }
          }
        }

        svg {
          transition: color .3s ease;
        }
      }
    }
  }
}