.js--modal {

  input:not([type='checkbox']):not([type='radio']) {
    box-sizing: border-box;
    border: 1px solid #dadae5;
    width: 100%;

    @include unitize-border-radius(3);

    @include unitize(line-height, 19);

    @include unitize(font-size, 14);

    @include unitize-padding(10, 10, 9, 10);
  }

  input[type='radio'] + .custom-control-label {
    &:before, &:after {
      top: .25rem;
    }
  }
}

.b2b--plugin {

  .custom-checkbox {
    cursor: pointer;

    input,
    label {
      cursor: pointer;
    }
  }

  input[type="checkbox"] {

    &:focus ~ label:before {
      box-shadow: none;
    }
  }

  input[type="radio"] + .custom-control-label {
    &:before, &:after {
      cursor: pointer;
    }
  }
}

.js--modal,
.b2b--plugin {

  .form-control {
    transition: background .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;

    &:disabled {
      opacity: .5;
      cursor: not-allowed;
    }
  }
}