.b2b--plugin,
.b2b--ajax-panel {

  .custom-select {

    &:focus,
    &:hover {
      border-color: $brand-secondary;
      box-shadow: none;
    }

    &:disabled,
    &:disabled:focus,
    &:disabled:hover, {
      cursor: not-allowed;
      color: $text-color-light;
      border-color: $border-color;
    }
  }
}