{% sw_extends '@Storefront/storefront/page/account/sidebar.html.twig' %}

{% block page_account_sidebar_link_orders %}
    {{ parent() }}

    <a href="{{ path('frontend.account.offer.page') }}"
       title="{{ "ies-offer.account.offersLink"|trans|striptags }}"
       class="list-group-item list-group-item-action account-aside-item{% if controllerName is same as('Account') and controllerAction is same as('offerOverview') %} is-active{% endif %}">
        {{ "ies-offer.account.offersLink"|trans|striptags }}
    </a>

    <a href="{{ path('frontend.account.invoice.page') }}"
       title="{{ "ies-offer.account.invoiceLink"|trans|striptags }}"
       class="list-group-item list-group-item-action account-aside-item{% if controllerName is same as('Account') and controllerAction is same as('invoiceOverview') %} is-active{% endif %}">
        {{ "ies-offer.account.invoiceLink"|trans|striptags }}
    </a>
{% endblock %}
