{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail-list-item.html.twig' %}

{% block page_account_order_item_detail_name_value %}
    {% if isDiscount %}
        <span class="order-item-product-name">
            <strong class="name-value">{{ lineItem.label }}</strong>
        </span>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
