{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail.html.twig' %}

{% block page_account_order_item_detail_table_footer %}
    {{ parent() }}

    {% set deliveryNote = order.customFields.deliveryNote %}

    {% if deliveryNote %}
        <div class="order-detail-content-footer">
            <div class="order-item-detail-footer">
                <div class="row no-gutters">
                    <div class="col-12">
                        {% sw_include '@Storefront/storefront/component/delivery-note/file-viewer.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
