{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% set b2bListingView = 'listing' %}

{% if app.request.get('b2bListingView') %}
    {% set b2bListingView = app.request.get('b2bListingView') %}
{% endif %}

{% set params = params|merge({ 'b2bListingView': b2bListingView }) %}

{% block element_product_listing_pagination_nav_actions %}

    {% if b2bSuite and b2b_acl_check('b2bfastorder', 'index') %}
        <div class="mb-3">
            <button class="btn border-primary js--b2b-listingview-mode">
                {% if b2bListingView == 'table' %}
                    {% sw_icon 'view-grid' %}

                    <span class="ml-2">
                        {{ 'b2b.CategoryViewStandard'|trans }}
                    </span>
                {% else %}
                    {% sw_icon 'editor-list' %}

                    <span class="ml-2">
                        {{ 'b2b.CategoryViewTable'|trans }}
                    </span>
                {% endif %}
            </button>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block element_product_listing_col %}
    {% if b2bSuite and b2bListingView == 'table' %}
        {% sw_include '@SwagB2bPlatform/storefront/_custom/product-listing/b2b-listing.html.twig' %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}