{% block b2b_salutation_select %}
    <div class="b2b--salutation-select__container">
        <div class="select-field">
            {% block b2b_salutation_select_dropdown %}
                <select name="salutation" class="custom-select">
                    {% block b2b_salutation_select_dropdown_options %}
                        <option value="" disabled{% if not selectedSalutation %} selected="selected"{% endif %}>{{ "b2b.SalutationPlaceholder"|trans }} *</option>
                        {% for salutation in b2b_salutation() %}
                            <option value="{{ salutation.salutationKey }}"{% if salutation.salutationKey == selectedSalutation %} selected="selected"{% endif %}>{{ salutation.translated.displayName }}</option>
                        {% endfor %}
                    {% endblock %}
                </select>
            {% endblock %}
        </div>
    </div>
{% endblock %}