{% block b2b_offerlineitemreference_grid %}
    <div class="block-group">

        {% block b2b_offerlineitemreference_grid_original_price_detail %}
            <div class="block">
                {% block b2b_offerlineitemreference_grid_original_price_detail_panel %}

                    <h4>
                        {% block b2b_offerlineitemreference_grid_original_price_detail_title %}
                            {{ "b2b.OfferPriceOriginal"|trans }}
                        {% endblock %}
                    </h4>

                    {% block b2b_offerlineitemreference_grid_original_price_detail_body %}
                        <table>
                            {%
                                sw_include "@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/grid/_original-price-detail.html.twig"
                                with {
                                    'totalNet': amountNet,
                                    'taxes': amount - amountNet,
                                    'total': amount,
                                } only
                            %}
                        </table>
                    {% endblock %}

                {% endblock %}
            </div>
        {% endblock %}

        {% block b2b_offerlineitemreference_grid_personal_price_detail %}
            <div class="block">
                {% block b2b_offerlineitemreference_grid_personal_price_detail_panel %}
                    <h4>
                        {% block b2b_offerlineitemreference_grid_personal_price_detail_title %}
                            {{ "b2b.OfferPersonalTitle"|trans }}
                        {% endblock %}
                    </h4>

                    {% block b2b_offerlineitemreference_grid_personal_price_detail_body %}
                        <table>
                            {%
                                sw_include "@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/grid/_personal-price-detail.html.twig"
                                with {
                                    'totalNet': offer.discountAmountNet,
                                    'discount': offer.discountValueNet,
                                    'discountPercentage': offer.percentageDiscount,
                                    'taxes': offer.discountAmount - offer.discountAmountNet,
                                    'total': offer.discountAmount,
                                } only
                            %}
                        </table>
                    {% endblock %}
                {% endblock %}
        </div>
        {% endblock %}

    </div>
{% endblock %}
