{% block b2b_offerlineitemreference_grid %}
    <div class="content--inner b2b-order-overview">
        <div class="panel has--border">
            <div class="block-group">

                {% block b2b_offerlineitemreference_grid_original_price_detail %}
                    <div class="b2b-original-price">
                        <div class="panel">
                            {% block b2b_offerlineitemreference_grid_original_price_detail_panel %}

                                <div class="panel--title">
                                    {% block b2b_offerlineitemreference_grid_original_price_detail_title %}
                                        {{ "b2b.OfferPriceOriginal"|trans }}
                                    {% endblock %}
                                </div>

                                <div class="panel--body">
                                    {% block b2b_offerlineitemreference_grid_original_price_detail_body %}
                                        <table>
                                            {%
                                                sw_include "@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/grid/_original-price-detail.html.twig"
                                                with {
                                                    'totalNet': amountNet,
                                                    'taxes': amount - amountNet,
                                                    'total': amount,
                                                } only
                                            %}
                                        </table>
                                    {% endblock %}
                                </div>

                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}

                {% block b2b_offerlineitemreference_grid_personal_price_detail %}
                    <div class="b2b-offer-price">
                        <div class="panel">
                            {% block b2b_offerlineitemreference_grid_personal_price_detail_panel %}

                                <div class="panel--title">
                                    {% block b2b_offerlineitemreference_grid_personal_price_detail_title %}
                                        {{ "b2b.OfferPersonalTitle"|trans }}
                                    {% endblock %}
                                </div>

                                <div class="panel--body">
                                    {% block b2b_offerlineitemreference_grid_personal_price_detail_body %}
                                        <table>
                                            {%
                                                sw_include "@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/grid/_personal-price-detail.html.twig"
                                                with {
                                                    'totalNet': offer.discountAmountNet,
                                                    'discount': offer.discountValueNet,
                                                    'discountPercentage': offer.percentageDiscount,
                                                    'taxes': offer.discountAmount - offer.discountAmountNet,
                                                    'total': offer.discountAmount,
                                                } only
                                            %}
                                        </table>
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                {% endblock %}

            </div>
        </div>
    </div>
{% endblock %}