<tr>
    <td>{{ "b2b.OfferPriceTotalNet"|trans }}</td>
    <td>{{ totalNet|currency }}</td>
</tr>
<tr>
    <td>{{ "b2b.OfferTaxes"|trans }}</td>
    <td>{{ taxes|currency }}</td>
</tr>
<tr>
    <td>{{ "b2b.OfferPriceTotalTax"|trans }}</td>
    <td>{{ total|currency }}</td>
</tr>
