<tr>
    <td>{{ "b2b.OfferTotalNet"|trans }}</td>
    <td>{{ totalNet|currency }}</td>
</tr>
<tr>
    <td>{{ "b2b.DiscountAmountNetLabel"|trans }}</td>
    <td>
        {% if discountPercentage is same as (0.0) %}
            {{ discount|currency }}
        {% else %}
            {{ discountPercentage }}%
        {% endif %}
    </td>
</tr>
<tr>
    <td>{{ "b2b.OfferTaxes"|trans }}</td>
    <td>{{ taxes|currency }}</td>
</tr>
<tr>
    <td>{{ "b2b.OfferAmountTotal"|trans }}</td>
    <td>{{ total|currency }}</td>
</tr>
