{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}
{% block component_product_box_price %}
    {% set defaultdiscount = shopware.config.FeldmannSpecialDiscount.config.discountPercentage %}
    {% set customerGroup = shopware.config.FeldmannSpecialDiscount.config.discountToCustomerGroup %}

    {% if context.customer and context.customer.groupId in customerGroup and not product.extensions.customerPrices.elements and product.customFields.special_discount_discountable %}
        {% set listPrice = product.priceRange or product.calculatedPrices.count > 0 ? null : product.calculatedPrice.listPrice %}
        {% if context.customer.customFields.special_discount_percentage %}
            {% set discount = (context.customer.customFields.special_discount_percentage < defaultdiscount) ? defaultdiscount : context.customer.customFields.special_discount_percentage %}
        {% endif %}

        <p class="product-price{% if listPrice.percentage > 0 %} with-list-price{% endif %}">
            {% if (product.priceRange and product.isGrouped) or product.calculatedPrices.count > 1 %}

                {% set fromNewPrice = fromPrice.unitPrice - (fromPrice.unitPrice * discount) / 100 %}
                {% set toNewPrice = listingPrice.to.unitPrice - (listingPrice.to.unitPrice * discount) / 100 %}

                {{ fromNewPrice|currency }}
                -
                {{ toNewPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
            {% elseif product.calculatedPrices|length == 1 %}
                {% set newPrice = product.calculatedPrices.first.unitPrice - (product.calculatedPrices.first.unitPrice * discount) / 100 %}

                {{ newPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
            {% else %}
                {% set newPrice = product.calculatedPrice.unitPrice - (product.calculatedPrice.unitPrice * discount) / 100 %}

                {{ newPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
                {% if listPrice.percentage > 0 %}
                    <span class="list-price{% if "listing.beforeListPrice"|trans|length > 0 or "listing.afterListPrice"|trans|length > 0  %} list-price-no-line-through{% endif %}">
                            {{"listing.beforeListPrice"|trans|trim}} {{ listPrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} {{"listing.afterListPrice"|trans|trim}}
                        </span>
                {% endif %}
            {% endif %}
        </p>
    {% else %}
    {{ parent() }}
    {% endif %}
{% endblock %}
