.b2b--plugin,
.js--modal {
  @include unitize(letter-spacing, 1);

  h1,
  h2,
  h3,
  h4 {
    font-weight: $font-weight-light;
  }

  p {
    font-weight: $font-weight-regular;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    color: $text-color;
  }
}