.sw-cms-el-accordion-video {
    height: 100%;
    width: 100%;
    min-height: 300px;

    .sw-cms-el-accordion-video__list {
        list-style: none;
        border-top: 1px solid #2ab4db;
    }

    .sw-cms-el-accordion-video__list-item {
        padding: 20px;

    }
}
