{% block sw_cms_element_accordion_video %}
    <div class="sw-cms-el-accordion-video">
        <template v-if="accordionVideoItems.length > 0">

            <ul class="sw-cms-el-accordion-video__list">
                <li class="sw-cms-el-accordion-video__list-item">
                    <h3>{{ title }}</h3>
                    <sw-container columns="1fr 1fr 1fr">
                        <div class="sw-cms-preview-youtube-video"
                             v-for="(accordionVideoItem, index) in accordionVideoItems" class="sw-cms-el-accordion-video__list-item">
                            <img class="sw-cms-preview-youtube-video__img"
                                 :src="'/administration/static/img/cms/preview_youtube.jpg' | asset" />

                            <p>{{ accordionVideoItem.name }}</p>
                        </div>
                    </sw-container>
                </li>
            </ul>
        </template>
    </div>
{% endblock %}
