{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header %}
    {{ parent() }}

    {% if showDiscountBar %}
        <div class="discount-bar" data-discount-bar="true">
            <div class="text-center container">
                {{ "discount-bar.text"|trans }}
                <span class="float-right">
                    <a href="#" class="js-discount-bar-cookie-button">x</a>
                </span>
            </div>
        </div>
    {% endif %}
{% endblock %}
