{% sw_extends '@Framework/documents/invoice.html.twig' %}

{% block document_line_item_table_row_label %}
    <td class="line-item-breakable">
        {{ lineItem.label }}

        {% set iesCommission = lineItem.customFields.ies_commission %}
        {% if iesCommission %}
            <br>
            {{ "document.commission.label"|trans }} {{ iesCommission }}
        {% endif %}
    </td>
{% endblock %}
