{% block b2b_productsearch_results %}
    <ul>
        {% for productId, data in products %}
            {% block b2b_productsearch_results_item %}
                <li
                    {% if data.max %}data-max="{{ data.max }}"{% endif %}
                    data-min="{{ data.min }}"
                    data-step="{{ data.step }}"
                >
                    <span>
                        {{- productId -}}
                    </span>
                    <div>
                        {{- data.name -}}
                    </div>
                </li>
            {% endblock %}
        {% else %}
            {% block b2b_productsearch_results_not_found %}
                <li>
                    <div>{{ 'b2b.NoResultsFound'|trans }}</div>
                </li>
            {% endblock %}
        {% endfor %}
    </ul>
{% endblock %}