{% spaceless %}

    {% set retLabels = { } %}
    {% set dataset = { } %}
    {% set output =  { } %}

    {% for key, label in labels %}

        {% if label is iterable %}
            {% set month = label.month %}
            {% set year = label.year %}

            {% set retLabels = retLabels|merge([ (month ~ ', ' ~ year ) ]) %}
        {% else %}
            {% set retLabels = retLabels|merge([ (label) ]) %}
        {% endif %}

    {% endfor %}

    {% for rawKey, rawAxis in data %}
        {% set rawLabel = rawKey %}
        {% set outputLabel = ('b2b.Label_' ~ rawLabel)|trans %}

        {% set dataset = dataset|merge({ (outputLabel): rawAxis }) %}
    {% endfor %}

    {% set gridState = { labels: retLabels, data: dataset } %}

    {{ gridState|json_encode|raw }}

{% endspaceless %}