{% set url = path('frontend.b2b.b2bstatistic.grid') %}

{% block b2b_statistic_grid %}
    <div class="b2b--grid-container">
        {% block b2b_grid_form %}
            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bstatistic/grid/_grid-form.html.twig' %}
        {% endblock %}

        {% block b2b_grid_table %}
            {%
                sw_include '@SwagB2bPlatform/storefront/frontend/b2bstatistic/grid/_grid-table.html.twig'
                with {
                    messageEmptyList: 'NoResults'
                }
            %}
        {% endblock %}
    </div>
{% endblock %}