{% set url = path('frontend.b2b.b2bstatistic.grid') %}

{% block b2b_statistic_grid %}
    <div class="b2b--grid-container">
        {% block b2b_grid_form %}
            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bstatistic/grid/_grid-form.html.twig' %}
        {% endblock %}

        <div class="mt-4 mb-4">
            <a
                target="_blank"
                href="{{ path("frontend.b2b.b2bstatistic.exportCsv") }}{% if postParams %}?{{ postParams }}{% endif %}"
                class="btn btn-secondary action--export ignore--b2b-ajax-panel"
                title="{{ "b2b.ExportOrderCsv"|trans }}"
            >
                {{ "b2b.ExportOrderCsv"|trans }}
            </a>

            <a
                target="_blank"
                href="{{ path("frontend.b2b.b2bstatistic.exportXls") }}{% if postParams %}?{{ postParams }}{% endif %}"
                class="btn btn-secondary action--export ignore--b2b-ajax-panel"
                title="{{ "b2b.ExportOrderXls"|trans }}"
            >
                {{ "b2b.ExportOrderXls"|trans }}
            </a>
        </div>

        {% block b2b_grid_table %}
            {%
                sw_include '@SwagB2bPlatform/storefront/frontend/b2bstatistic/grid/_grid-table.html.twig'
                with {
                    messageEmptyList: 'NoResults'
                }
            %}
        {% endblock %}
    </div>
{% endblock %}
