{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block b2blayout_content %}
    <div class="module-statistic">
        {% block b2b_statistic_canvas %}
            <div
                data-chart-url="{{ path('frontend.b2b.b2bstatistic.chartData') }}"
                class="b2b-statistics-chart"
            ></div>
        {% endblock %}

        {% block b2b_statistic_grid %}
            <div
                class="b2b--ajax-panel has--b2b-form"
                data-id="statistic-grid"
                data-url="{{ path('frontend.b2b.b2bstatistic.grid') }}"
                data-plugins="ajaxPanelChart,gridComponent"
            ></div>
        {% endblock %}

        {% block b2b_statistic_modal %}
            <div
                class="is--b2b-ajax-panel b2b--ajax-panel b2b-modal-panel"
                data-id="order-detail"
            ></div>
        {% endblock %}
    </div>
{% endblock %}
