{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_button_container %}
    {% if not coeHideAddToCartButtons and not coeShowAddToCartTextReplace %}
        {{ parent() }}
    {% endif %}

    {% if coeShowAddToCartTextReplace and not coeHideAddToCartButtons%}
        <div class="col-8">
            {% if coeShowAddToCartRedirect %}
                <a href="{{ coeShowAddToCartRedirect }}" class="btn btn-primary btn-block" title="{{ "coeHidePrice.cartReplacement"|trans|striptags }}" >
                    {{ "coeHidePrice.cartReplacement"|trans|sw_sanitize }}
                </a>
            {% else %}
                <button class="btn btn-primary btn-block"
                        title="{{ "coeHidePrice.cartReplacement"|trans|striptags }}">
                    {{ "coeHidePrice.cartReplacement"|trans|sw_sanitize }}
                </button>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}

{% block page_product_detail_buy_quantity_container %}
    {% if not coeHideAddToCartButtons %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_product_detail_buy_container %}
    {{ parent() }}

    {% if coeShowAddToCartTextReplace and coeHideAddToCartButtons%}
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type: 'info',
            content: 'coeHidePrice.cartReplacement'|trans
        } %}
    {% endif %}
{% endblock %}
