{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}

{% block page_product_detail_price_inner %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}
