{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_data_rich_snippet_price_range %}
    {% if coeHidePrice %}
        <meta itemprop="lowPrice" content="0"/>
        <meta itemprop="highPrice" content="0"/>
        <meta itemprop="offerCount" content="0"/>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_product_detail_tax %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}
