{% sw_extends '@Storefront/storefront/page/product-detail/index.html.twig' %}

{% block base_head %}
    {% sw_include '@Storefront/storefront/page/product-detail/meta.html.twig' %}
{% endblock %}

{% block page_product_detail_cross_selling %}
    <div class="product-detail-tabs product-detail-cross-selling">
        {% sw_include '@Storefront/storefront/page/product-detail/cross-selling/tabs.html.twig' with {
            crossSellings: page.crossSellings,
            coeHidePrice:  coeHidePrice,
            coeHideAddToCartButtons: coeHideAddToCartButtons
        } only %}
    </div>
{% endblock %}