{% sw_extends '@Storefront/storefront/layout/navigation/flyout.html.twig' %}

{% block layout_navigation_flyout_bar %}{% endblock %}

{% block layout_navigation_flyout_content %}
    {% set navigationFlag = category.translated.customFields.custom_category_fields_navigation_flag %}
    {% set isNavigationSale = (navigationFlag and navigationFlag == constant('FeldmannTheme\\Subscriber\\NavigationPageSubscriber::NAVIGATION_FLAG_IS_SALE')) %}
    {% set isNavigationCmsMain = (navigationFlag and navigationFlag == constant('FeldmannTheme\\Subscriber\\NavigationPageSubscriber::NAVIGATION_FLAG_IS_CMS_MAIN_LINK')) %}

    <div class="row navigation-flyout-content">
        {% block layout_navigation_flyout_teaser %}
            <div class="col-6">
                {% if category.media %}
                    <div class="navigation-flyout-teaser">
                        {% block layout_navigation_flyout_teaser_image %}
                            <a class="navigation-flyout-teaser-image-container"
                               href="{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}"
                               title="{{ name }}">
                                {% sw_thumbnails 'navigation-flyout-teaser-image-thumbnails' with {
                                    media: category.media,
                                    sizes: {
                                        'default': '310px'
                                    },
                                    attributes: {
                                        'class': 'navigation-flyout-teaser-image',
                                        'alt': (category.media.translated.alt ?: ''),
                                        'title': (category.media.translated.title ?: ''),
                                        'data-object-fit': 'cover'
                                    }
                                } %}
                            </a>
                        {% endblock %}
                    </div>
                {% endif %}
            </div>
        {% endblock %}

        {% block layout_navigation_flyout_categories %}
            <div class="{% if isNavigationSale or isNavigationCmsMain %}col-3 offset-3{% else %}col-6{% endif %}">
                <div class="navigation-flyout-categories">
                    {% if isNavigationSale or isNavigationCmsMain %}
                        <div class="navigation-flyout-categories is-level-0">
                            {% block layout_navigation_flyout_categories_before_items %}{% endblock %}

                            {% for treeItem in navigationTree.children %}
                                {% set id = treeItem.category.id %}
                                {% set name = treeItem.category.translated.name %}
                                {% set link = treeItem.category.externalLink %}
                                {% set navigationFlag = treeItem.category.translated.customFields.custom_category_fields_navigation_flag %}
                                {% set isCmsLink = (navigationFlag and navigationFlag == constant('FeldmannTheme\\Subscriber\\NavigationPageSubscriber::NAVIGATION_FLAG_IS_CMS_LINK')) %}

                                {% if showNavigationItem(treeItem, context) %}
                                    <div class="navigation-flyout-col">
                                        <a class="nav-item nav-link navigation-flyout-link is-level-0"
                                           href="{% if link %}{{ link }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: id }) }}{% endif %}"
                                           itemprop="url"
                                           {% if isCmsLink %}
                                               data-cms-link-scroll="true"
                                               data-cms-link-scroll-options='{
                                                   "cmsSelector": "{{ name }}",
                                                   "hasRedirect": "{{ activeCategoryId != treeItem.category.parentId }}",
                                                   "redirectUrl": "{{ seoUrl('frontend.navigation.page', { navigationId: treeItem.category.parentId }) }}"
                                               }'
                                           {% endif %}
                                           title="{{ name }}">
                                            <span itemprop="name">{{ name }}</span>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {% block layout_navigation_flyout_categories_after_items %}{% endblock %}
                        </div>
                    {% else %}
                        {% block layout_navigation_flyout_categories_recoursion %}
                            {% sw_include '@Storefront/storefront/layout/navigation/categories.html.twig' with {
                                navigationTree: navigationTree.children,
                                navigationMedia: category.media
                            } only %}
                        {% endblock %}

                        <div class="row">
                            <div class="offset-8 col-4 navigation-flyout-all-categories">
                                {% block layout_navigation_flyout_bar_category_link %}
                                    <a class="nav-item nav-link navigation-flyout-link is-level-0"
                                       href="{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}"
                                       itemprop="url"
                                       title="{{ name }}">
                                        {% block layout_navigation_flyout_bar_category_link_text %}
                                            {{ "menu.allCategories"|trans }}
                                        {% endblock %}
                                    </a>
                                {% endblock %}
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
