{% sw_extends '@Storefront/storefront/layout/navigation/navigation.html.twig' %}

{% block layout_main_navigation_menu_home %}{% endblock %}

{% block layout_main_navigation_menu_item %}
    {% set navigationFlag = treeItem.category.translated.customFields.custom_category_fields_navigation_flag %}
    {% set isNavigationSale = (navigationFlag and navigationFlag == constant('FeldmannTheme\\Subscriber\\NavigationPageSubscriber::NAVIGATION_FLAG_IS_SALE')) %}

    {% if showNavigationItem(treeItem, context) %}
        {% if category.type == 'folder' %}
            <div class="nav-link main-navigation-link{% if isNavigationSale %} is--sale{% endif %}"
                    {% if treeItem.children|length > 0 %}
                        data-flyout-menu-trigger="{{ categorId }}"
                    {% endif %}
                 title="{{ name }}">
                <div class="main-navigation-link-text">
                    <span itemprop="name">{{ name }}</span>
                </div>
            </div>
        {% else %}
            <a class="nav-link main-navigation-link{% if categorId is same as(page.header.navigation.active.id) %} active{% endif %}{% if isNavigationSale %} is--sale{% endif %}"
               href="{% if category.externalLink %}{{ category.externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: categorId }) }}{% endif %}"
               itemprop="url"
                    {% if treeItem.children|length > 0 %}
                        data-flyout-menu-trigger="{{ categorId }}"
                    {% endif %}
               title="{{ name }}">
                <div class="main-navigation-link-text">
                    <span itemprop="name">{{ name }}</span>
                </div>
            </a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block layout_main_navigation_menu_flyouts %}
    {% for treeItem in page.header.navigation.tree %}
        {% if treeItem.children|length > 0 and showNavigationItem(treeItem, context) %}
            {% block layout_main_navigation_menu_flyout %}
                {% set navigationFlag = treeItem.category.translated.customFields.custom_category_fields_navigation_flag %}
                {% set isNavigationCmsMain = (navigationFlag and navigationFlag == constant('FeldmannTheme\\Subscriber\\NavigationPageSubscriber::NAVIGATION_FLAG_IS_CMS_MAIN_LINK')) %}
                {% set isNavigationSale = (navigationFlag and navigationFlag == constant('FeldmannTheme\\Subscriber\\NavigationPageSubscriber::NAVIGATION_FLAG_IS_SALE')) %}

                <div class="navigation-flyout {% if isNavigationCmsMain %}is--cms-main{% elseif isNavigationSale %}is--sale{% endif %}"
                     data-flyout-menu-id="{{ treeItem.category.id }}">
                    <div class="container">
                        {% block layout_main_navigation_menu_flyout_include %}
                            {% sw_include '@Storefront/storefront/layout/navigation/flyout.html.twig' with {
                                navigationTree: treeItem,
                                level: level+1,
                                activeCategoryId: page.header.navigation.active.id
                            } only %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        {% endif %}
    {% endfor %}
{% endblock %}
