
<div class="top-bar-nav-item top-bar-nav-item-subshops">
    <a href="{{ "header.subshops.de.link"|trans|sw_sanitize }}">
        <img class="subshop-flags" alt="de"
             src="{{ asset('bundles/feldmanntheme/assets/img/flags/de-flagge.png') }}"
             srcset="{{ asset('bundles/feldmanntheme/assets/img/flags/de-flagge@2x.png') }} 2x,
                                        {{ asset('bundles/feldmanntheme/assets/img/flags/de-flagge@3x.png') }} 3x,"
        />
    </a>
</div>
<div class="top-bar-nav-item top-bar-nav-item-subshops">
    <a href="{{ "header.subshops.at.link"|trans|sw_sanitize }}">
        <img class="subshop-flags" alt="at"
             src="{{ asset('bundles/feldmanntheme/assets/img/flags/at-flagge.png') }}"
             srcset="{{ asset('bundles/feldmanntheme/assets/img/flags/at-flagge@2x.png') }} 2x,
                                        {{ asset('bundles/feldmanntheme/assets/img/flags/at-flagge@3x.png') }} 3x,"
        />
    </a>
</div>
<div class="top-bar-nav-item top-bar-nav-item-subshops">
    <a href="{{ "header.subshops.ch.link"|trans|sw_sanitize }}">
        <img class="subshop-flags" alt="ch"
             src="{{ asset('bundles/feldmanntheme/assets/img/flags/ch-flagge.png') }}"
             srcset="{{ asset('bundles/feldmanntheme/assets/img/flags/ch-flagge@2x.png') }} 2x,
                                        {{ asset('bundles/feldmanntheme/assets/img/flags/ch-flagge@3x.png') }} 3x,"
        />
    </a>
</div>
