{% sw_extends '@Storefront/storefront/element/cms-element-form/form-types/contact-form.html.twig' %}

{% block cms_form_contact_select_salutation %}
    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-select-salutation.html.twig'
        with {
        additionalClass: 'col-md-12',
        required: true,
        value: context.customer.salutationId
    } %}
{% endblock %}

{% block cms_form_contact_input_first_name %}
    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
        with {
        fieldName: 'firstName',
        required: true,
        additionalClass: 'col-md-6',
        label: 'account.personalFirstNameLabel',
        placeholder: 'account.personalFirstNamePlaceholder',
        value: context.customer.firstName
    } %}
{% endblock %}

{% block cms_form_contact_input_last_name %}
    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
        with {
        fieldName: 'lastName',
        required: true,
        additionalClass: 'col-md-6',
        label: 'account.personalLastNameLabel',
        placeholder: 'account.personalLastNamePlaceholder',
        value: context.customer.lastName
    } %}
{% endblock %}

{% block cms_form_contact_input_email %}
    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
        with {
        fieldName: 'company',
        required: true,
        additionalClass: 'col-md-12',
        label: 'account.personalCompanyLabel',
        placeholder: 'account.personalCompanyPlaceholder',
        value: context.customer.company
    } %}

    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
        with {
        fieldName: 'customernr',
        required: false,
        additionalClass: 'col-md-12',
        label: 'account.personalCustomerNrLabel',
        placeholder: 'account.personalCustomerNrPlaceholder',
        value: context.customer.customerNumber
    } %}

    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
        with {
        fieldName: 'email',
        type: 'email',
        required: true,
        additionalClass: 'col-md-6',
        label: 'account.loginMailLabel',
        placeholder: 'account.loginMailPlaceholder',
        value: context.customer.email
    } %}
{% endblock %}

{% block cms_form_contact_input_phome %}
    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
        with {
        fieldName: 'phone',
        required: true,
        additionalClass: 'col-md-6',
        label: 'account.personalPhoneLabel',
        placeholder: 'account.personalPhonePlaceholder',
        value: context.customer.activeBillingAddress.phoneNumber
    } %}
{% endblock %}

{% block cms_form_contact_input_subject %}
    {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig'
        with {
        fieldName: 'subject',
        required: true,
        additionalClass: 'col-12',
        label: 'contact.subjectLabel',
        placeholder: 'contact.subjectPlaceholder',
        value: app.request.get('subject', '')
    }
    %}
{% endblock %}
