{% block sw_cms_element_image %}
    <div class="sw-cms-el-image" :class="displayModeClass" :style="styles">
        <img :src="mediaUrl" :style="imgStyles">

        <div v-if="element.config.textActive.value === true" class="sw-cms-el-image__text">
            <sw-text-editor
                v-model="element.config.text.value"
                :isInlineEdit="true">
            </sw-text-editor>
        </div>
    </div>
{% endblock %}
