.sw-cms-el-image {
    position: relative;

    .sw-cms-el-image__text {
        z-index: 2;
        left: 10px;
        bottom: 10px;
        position: absolute;
    }

    .image-head {
        display: block;
        font-size: 30px;
        font-weight: 900;
    }

    .image-sub {
        display: block;
        font-size: 16px;
        line-height: 1.5;
    }
}

.is-position-right {
    margin-left: auto;
}

.is-position-center {
    margin-left: auto;
    margin-right: auto;
}
