{% block sw_cms_element_confirmed_download_preview %}
    <div class="sw-cms-el-preview-confirmed-download sw-cms-el-preview-form">
        <div class="sw-cms-el-preview-form-inputs__action sw-cms-el-preview-confirmed-download-inputs__action">
            {{ $tc('sw-cms.elements.confirmedDownload.confirm') }}
        </div>
        <div class="sw-cms-el-preview-form-inputs__action sw-cms-el-preview-confirmed-download-inputs__action">
            {{ $tc('sw-cms.elements.confirmedDownload.cancel') }}
        </div>
    </div>
{% endblock %}
