.panel--title {
  @include unitize(margin-bottom, 10);

  .block--title {
    font-weight: $font-weight-light;
    position: relative;
    text-transform: uppercase;

    @include unitize(font-size, 28);

    &-subtitle {
      @include unitize(font-size, 20);
    }
  }

  .block--actions {
    @include unitize-margin(40, 0, 10);
  }

  &.is--underline {

    .block--title:after {
      background: $brand-primary;
      content: "";
      display: block;
      position: absolute;

      @include unitize(width, 60);

      @include unitize(height, 2);

      @include unitize(margin-top, 4);
    }
  }
}

@include minWidth("tablet") {
  .panel--title {
    @include unitize(margin-bottom, 36);
  }
}