.panel--accordion-container {

  & .panel--accordion:not(:last-child) {
    border-bottom: 1px solid getContrast($background-color, 10%);
  }
}

.panel--accordion {
  overflow: hidden;
  transition: height .3s ease, background 1s ease;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding: 0 !important;

  .panel--title {
    cursor: pointer;
    user-select: none;
    margin-bottom: 0;
    position: relative;
    transition: font-weight .3s ease, background .3s ease, color .3s ease;
    font-weight: $font-weight-light;

    @include unitize(font-size, 20);

    @include unitize-padding(20, 0, 20, 30);

    .icon-arrow-right {
      position: absolute;
      color: $text-color-contrast !important;

      @include unitize(top, 18);

      @include unitize(left, 8);

      svg {
        transition: transform .3s ease;
      }
    }

    &:hover {
      background: getContrast($background-color, 10%);
    }
  }

  .panel--body {
    transition: max-height 1s ease, background 1s ease;
    height: auto;
    max-height: 0;
    overflow: hidden;

    @include unitize-padding(0, 10);

    > :first-child {
      @include unitize(padding-top, 20);
    }

    > :last-child {
      @include unitize(padding-bottom, 20);
    }

    table {
      padding: 0 !important;
    }

    .b2b--grid-container .b2b--component-pagination {
      margin: 0;
    }
  }

  &-open {
    background: $panel-background;

    .panel--body {
      @include unitize(max-height, 9999);
    }

    .panel--title {
      font-weight: $font-weight-regular !important;
      color: getContrast($text-color-contrast) !important;

      .icon-arrow-right svg {
        transform: rotate(90deg);
      }
    }
  }
}

@include maxWidth('tablet') {
  .panel--accordion-mobile-closed {
    background: inherit;

    .panel--body {
      max-height: 0;
    }

    .panel--title {
      font-weight: inherit;
      color: inherit;

      .icon-arrow-right svg {
        transform: unset;
      }
    }
  }
}

@include minWidth("tablet") {
  .panel--accordion-container {
    margin: 0;

    & .panel--accordion:not(:last-child) {
      border-bottom: 2px solid $panel-background-contrast;
    }
  }

  .panel--accordion {

    .panel--title {
      @include unitize-padding(20, 0, 20, 40);

      .icon-arrow-right {
        @include unitize(left, 15);
      }
    }

    .panel--body {
      padding: 0;

      > :first-child {
        @include unitize-margin(0, 20);
      }
    }
  }
}