.panel {
  position: relative;
  width: 100%;
  margin: 0;
  overflow: hidden;

  @include border-radius-multi(3);

  .type--content {
    text-align: left;

    @include unitize(margin-left, 100);
  }

  .type--icon {
    text-align: center;

    @include unitize-width(80);

    @include unitize(left, 20);

    @include unitize(font-size, 60);

    @include center-vertically;

    .icon {
      height: $panel-icon-size;
      width: $panel-icon-size;
      color: $brand-secondary;
      transition: color $panel-transition-duration $panel-transition-function;
      vertical-align: middle;
      font-weight: 100;

      @include unitize(margin-top, -17);

      svg {
        top: 0;
      }
    }
  }
}

.b2b--ajax-panel {

  > * {
    opacity: 0;
    animation: fadeOpacityIn .3s ease forwards;
  }

  &.b2b-modal-panel {
    display: none;
  }

  .panel--tr {
    display: block;
    width: 100%;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: $border-color;
    overflow: auto;
  }

  .panel--th {
    font-weight: 700;

    &.panel--icon {
      @include unitize-padding(10, 7, 10, 7);
    }

    .icon-reply {
      transform: rotateY(180deg);
    }

    .icon {
      @include unitize(width, 18);

      @include unitize(height, 18);
    }

    &.panel--spacer {
      @include unitize(width, 46);
    }
  }

  .panel--th,
  .panel--td {
    display: inline-block;
    float: left;

    @include unitize-padding(10);

    @include unitize(font-size, 14);

    @include unitize(line-height, 24);
  }
}

@include minWidth("tablet") {

  .panel {
    @include unitize-padding(20);
  }
}