{% block sw_order_line_items_grid_grid_columns_label %}
    {% parent %}

    <template #column-commission="{ item }">
        <div v-if="item.customFields && item.customFields.ies_commission">
            <b>{{ item.customFields.ies_commission }}</b>
        </div>
    </template>
{% endblock %}
