{% sw_extends '@Storefront/storefront/page/checkout/cart/cart-product-header.html.twig' %}

{% block page_checkout_cart_header_unit_price %}
   {% if not coeHidePrice %}
       {{ parent() }}
   {% endif %}
{% endblock %}

{% block page_checkout_cart_header_total_price %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}