{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_shipping_costs %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_checkout_cart_action_proceed %}
    {% if not coeHideCheckoutButtons %}
        {{ parent() }}
    {% endif %}
{% endblock %}