{% block b2b_offerlineitemreference_admin_activity_detail %}
    <table>
        {% block b2b_offerlineitemreference_admin_activity_detail_inner %}
            <tr>
                <td>{{ "b2b.ChangedDateLabel"|trans }}</td>
                <td>{{ offer.changedByAdminAt|dateTime }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.AcceptedDateLabel"|trans }}</td>
                <td>{{ offer.acceptedByAdminAt|dateTime }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.DeclinedDateLabel"|trans }}</td>
                <td>{{ offer.declinedByAdminAt|dateTime }}</td>
            </tr>
        {% endblock %}
    </table>
{% endblock %}
