<div class="bottom--actions">

    {% if offer.isEditableByUser %}
        {% block b2b_offerlineitemreference_form_submit_offer_request %}
            <form
                method="post"
                action="{{ path('frontend.b2b.b2boffer.sendOffer') }}"
                class="bottom-button {{ b2b_acl('b2boffer', 'sendOffer') }}"
                data-close-success="true"
                data-ajax-panel-trigger-reload="offer-grid"
                data-csrf-token="{{ sw_csrf('frontend.b2b.b2boffer.sendOffer', { mode: 'token' }) }}"
            >
                {% block b2b_offerlineitemreference_form_submit_offer_request_csrf %}
                    {{ sw_csrf('frontend.b2b.b2boffer.sendOffer') }}
                {% endblock %}

                {% block b2b_offerlineitemreference_form_submit_offer_request_inner %}
                    {% block b2b_offerlineitemreference_form_submit_offer_request_inputs %}
                        <input
                            type="hidden"
                            name="offerId"
                            value="{{ offer.id.getValue }}"
                        />
                    {% endblock %}

                    {% block b2b_offerlineitemreference_form_submit_offer_request_submit %}
                        <button
                            type="submit"
                            class="btn"
                            {% if itemCount is same as (0) %}
                                disabled="disabled"
                                title="{{ 'b2b.SubmitOfferRequestEmpty'|trans }}"
                            {% endif %}
                        >
                            {{ 'b2b.SubmitOfferRequest'|trans }}
                        </button>
                    {% endblock %}
                {% endblock %}
            </form>
        {% endblock %}
    {% endif %}

    {% if
        offer.status == 'offer_status_accepted_both' or
        offer.status == 'offer_status_accepted_user' or
        offer.status == 'offer_status_accepted_admin'
    %}
        {% block b2b_offerlineitemreference_form_decline_offer %}
            <form
                method="post"
                action="{{ path('frontend.b2b.b2boffer.declineOffer') }}"
                class="form--inline {{ b2b_acl('b2boffer', 'declineOffer') }}"
                data-close-success="true"
                data-ajax-panel-trigger-reload="offer-grid"
                data-csrf-token="{{ sw_csrf('frontend.b2b.b2boffer.declineOffer', { mode: 'token' }) }}"
            >
                {% block b2b_offerlineitemreference_form_decline_offer_csrf %}
                    {{ sw_csrf('frontend.b2b.b2boffer.declineOffer') }}
                {% endblock %}

                {% block b2b_offerlineitemreference_form_decline_offer_inner %}
                    {% block b2b_offerlineitemreference_form_decline_offer_inputs %}
                        <input
                            type="hidden"
                            name="offerId"
                            value="{{ offer.id.getValue }}"
                        />
                    {% endblock %}

                    {% block b2b_offerlineitemreference_form_decline_offer_submit %}
                        <button class="btn b2b-danger">
                            {{ 'b2b.DeclineOffer'|trans }}
                        </button>
                    {% endblock %}
                {% endblock %}
            </form>
        {% endblock %}
    {% endif %}

    {% if
        offer.status == 'offer_status_accepted_both' or
        offer.status == 'offer_status_accepted_admin'
    %}
        {% block b2b_offerlineitemreference_form_accept_offer %}
            <form
                method="post"
                action="{{ path('frontend.b2b.b2boffer.accept') }}"
                class="form--inline ignore--b2b-ajax-panel {{ b2b_acl('b2boffer', 'accept') }}"
                data-close-success="true"
                data-ajax-panel-trigger-reload="offer-grid"
                data-csrf-token="{{ sw_csrf('frontend.b2b.b2boffer.accept', { mode: 'token' }) }}"
            >
                {% block b2b_offerlineitemreference_form_accept_offer_csrf %}
                    {{ sw_csrf('frontend.b2b.b2boffer.accept') }}
                {% endblock %}

                {% block b2b_offerlineitemreference_form_accept_offer_inner %}
                    {% block b2b_offerlineitemreference_form_accept_offer_inputs %}
                        <input
                            type="hidden"
                            name="offerId"
                            value="{{ offer.id.getValue }}"
                        />
                    {% endblock %}

                    {% block b2b_offerlineitemreference_form_accept_offer_submit %}
                        <button
                            type="submit"
                            class="btn b2b-success component-action-create"
                        >
                            {{ 'b2b.AcceptOffer'|trans }}
                        </button>
                    {% endblock %}
                {% endblock %}
            </form>
        {% endblock %}
    {% endif %}
</div>
