{% block b2b_offerlineitemreference_general_activity_detail %}
    <table>
        {% block b2b_offerlineitemreference_general_activity_detail_inner %}
            <tr>
                <td>{{ "b2b.CreatedDateLabel"|trans }}</td>
                <td>{{ offer.createdAt|dateTime }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.ChangedDateLabel"|trans }}</td>
                <td>{{ offer.changedStatusAt|dateTime }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.ExpiredDateLabel"|trans }}</td>
                <td>{{ offer.expiredAt|dateTime }}</td>
            </tr>
        {% endblock %}
    </table>
{% endblock %}
