{% block b2b_offerlineitemreference_master_data_head %}
    <div class="block-group mt-2">
        <div class="block">
            <h4>
                {{ "b2b.OfferPriceOriginal"|trans }}
            </h4>
            {% block b2b_offerlineitemreference_details %}
                <table>
                    {% block b2b_offerlineitemreference_details_inner %}
                        <tr>
                            <td>{{ "b2b.StateLabel"|trans }}</td>
                            <td>{{ ("b2b.offerState." ~ offer.status) |trans }}</td>
                        </tr>
                        <tr>
                            <td>{{ "b2b.OrderItemQuantityPluralLabel"|trans }}</td>
                            <td>{{ itemCount }}</td>
                        </tr>
                    {% endblock %}
                </table>
            {% endblock %}
        </div>

        <div class="block">
            <h4>
                {{ "b2b.OfferPersonalTitle"|trans }}
            </h4>
            {% block b2b_offerlineitemreference_product_prices_detail %}
                <table>
                    {% block b2b_offerlineitemreference_product_prices_detail_inner %}
                        <tr>
                            <td>{{ "b2b.ProductPriceLabel"|trans }}</td>
                            <td>{{ list.amountNet|currency }}</td>
                        </tr>
                        <tr>
                            <td>{{ "b2b.WithTaxesLabel"|trans }}</td>
                            <td>{{ list.amount|currency }}</td>
                        </tr>
                    {% endblock %}
                </table>
            {% endblock %}
        </div>

        <div class="block">
            <h4>
                {{ "b2b.OfferDiscountTitle"|trans }}
            </h4>
            {% block b2b_offerlineitemreference_product_discount_prices_detail %}
                <table>
                    {% block b2b_offerlineitemreference_product_discount_prices_detail_inner %}
                        <tr>
                            <td>{{ "b2b.DiscountPriceLabel"|trans }}</td>
                            <td>{{ offer.discountAmountNet|currency }}</td>
                        </tr>
                        <tr>
                            <td>{{ "b2b.WithTaxesLabel"|trans }}</td>
                            <td>{{ offer.discountAmount|currency }}</td>
                        </tr>
                    {% endblock %}
                </table>
            {% endblock %}
        </div>
    </div>
{% endblock %}
