{% block b2b_offerlineitemreference_user_activity_detail %}
    <table>
        {% block b2b_offerlineitemreference_user_activity_detail_inner %}
            <tr>
                <td>{{ "b2b.ChangedDateLabel"|trans }}</td>
                <td>{{ offer.changedByUserAt|dateTime }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.AcceptedDateLabel"|trans }}</td>
                <td>{{ offer.acceptedByUserAt|dateTime }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.DeclinedDateLabel"|trans }}</td>
                <td>{{ offer.declinedByUserAt|dateTime }}</td>
            </tr>
        {% endblock %}
    </table>
{% endblock %}
