{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.RoleAssignment"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <div data-id="error-list"></div>

    <div class="panel--tr row--default-selection">
        <div class="panel--th panel--spacer"></div>
        <div class="panel--th panel--icon panel--tree-col-assign">
            <span title="{{ "b2b.GrantRight"|trans }}">{% sw_icon 'checkmark' %}</span>
        </div>
        <div class="panel--th panel--label-company panel--tree-col-label">{{ "b2b.Role"|trans }}</div>
    </div>

    <div class="b2b--ajax-panel" data-url="{{ path('frontend.b2b.b2bcontactrole.tree') }}?contactId={{ contactId }}" data-plugins="tree,assignmentGrid"></div>
{% endblock %}