{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.RoleAssignment"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <div data-id="error-list"></div>

    <div class="pl-4 ml-2">
        <span title="{{ "b2b.InheritRight"|trans }}">{% sw_icon 'reply' %}</span>

        <span class="ml-2"><b>{{ "b2b.Role"|trans }}</b></span>
    </div>

    <div
        class="b2b--ajax-panel is--b2b-tree-container"
        data-url="{{ path('frontend.b2b.b2bcontactrole.tree') }}?contactId={{ contactId }}"
        data-plugins="tree,assignmentGrid"
    ></div>
{% endblock %}
