{% block b2b_contactrole_tree %}
    <ul class="is--b2b-tree list--unordered is--assignment-tree">
        {% for role in roles %}
            <li class="{% if role.hasChildren %}has--children{% endif %} is--closed">
                <span class="node-content-container">
                    <span class="b2b-tree-node-inner">
                        {% block b2b_contactrole_tree_actions %}
                            {% if role.hasChildren %}
                                <a href="{{ path('frontend.b2b.b2bcontactrole.tree') }}?parentId={{ role.id.getValue}}&contactId={{ contactId }}">
                            {% endif %}
                                <span class="tree-icon closed">{% sw_icon 'arrow-right' style {'pack': 'solid'} %}</span>
                                <span class="tree-icon opened">{% sw_icon 'arrow-down' style {'pack': 'solid'} %}</span>
                                <span class="tree-icon leaf">{% sw_icon 'circle-small' style {'pack': 'solid'} %}</span>
                                <span class="tree-icon loading">{% sw_icon 'loading-circle' %}</span>
                            {% if role.hasChildren %}
                                </a>
                            {% endif %}
                        {% endblock %}

                        {% block b2b_contactrole_tree_label %}
                            <span class="tree-label">
                                <table class="table--unstyled">
                                    <tr>
                                        {% block b2b_contactrole_tree_label_inner %}
                                            <td class="col-checkbox">
                                                <form
                                                    action="{{ path('frontend.b2b.b2bcontactrole.assign') }}"
                                                    method="post"
                                                    class="b2b--assignment-form ignore--b2b-ajax-panel has--b2b-form {{ b2b_acl('b2bcontactrole', 'assign') }}"
                                                    data-target="error-list"
                                                >
                                                    {{ sw_csrf('frontend.b2b.b2bcontactrole.assign') }}

                                                    <input type="hidden" name="contactId" value="{{ contactId }}"/>
                                                    <input type="hidden" name="roleId" value="{{ role.id }}"/>
                                                    <input type="hidden" name="assignmentId" value="{{ role.assignmentId.getValue }}"/>
                                                    <span class="custom-control custom-checkbox without--margin">
                                                        <input type="checkbox"
                                                               name="allow"
                                                               id="allow-{{ role.id.getValue }}"
                                                               value="1"
                                                               {% if role.assignmentId.getValue %}checked="checked"{% endif %}
                                                               class="assign--allow is--auto-submit custom-control-input"/>
                                                        <label for="allow-{{ role.id.getValue }}" class="custom-control-label without--margin"></label>
                                                    </span>
                                                </form>
                                            </td>

                                            <td>
                                                {% if role.hasChildren %}<a href="{{ path('frontend.b2b.b2bcontactrole.tree') }}?parentId={{ role.id.getValue}}&contactId={{ contactId }}" title="{{ "b2b.Open"|trans }}">{% endif %}
                                                    {{ role.name }}
                                                {% if role.hasChildren %}</a>{% endif %}
                                            </td>
                                        {% endblock %}
                                    </tr>
                                </table>
                            </span>
                        {% endblock %}
                    </span>
                </span>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
