{% block b2b_contactrole_tree %}
    <ul class="is--b2b-tree is--assignment-tree">
        {% for role in roles %}
            <li class="node {% if role.hasChildren %}has--children{% endif %}">

                <div class="node__inner">
                    <span class="d-inline tree-label">
                        <form
                            action="{{ path('frontend.b2b.b2bcontactrole.assign') }}"
                            method="post"
                            class="b2b--assignment-form ignore--b2b-ajax-panel has--b2b-form d-inline {{ b2b_acl('b2bcontactrole', 'assign') }}"
                            data-target="error-list"
                        >
                            {{ sw_csrf('frontend.b2b.b2bcontactrole.assign') }}

                            <input type="hidden" name="contactId" value="{{ contactId }}"/>
                            <input type="hidden" name="roleId" value="{{ role.id }}"/>
                            <input type="hidden" name="assignmentId" value="{{ role.assignmentId.getValue }}"/>
                            <span class="custom-control custom-checkbox d-inline-block">
                                <input
                                    type="checkbox"
                                    name="allow"
                                    id="allow-{{ role.id.getValue }}"
                                    value="1"
                                    {% if role.assignmentId.getValue %}checked="checked"{% endif %}
                                    class="assign--allow is--auto-submit custom-control-input"
                                />
                                <label
                                    for="allow-{{ role.id.getValue }}"
                                    class="custom-control-label"
                                ></label>
                            </span>
                        </form>
                    </span>

                    <span class="tree-label">{{ role.name }}</span>

                    {% sw_icon 'loading-circle' %}

                    <a
                        class="node__inner--toggle-children"
                        href="{{ path('frontend.b2b.b2bcontactrole.tree') }}?parentId={{ role.id.getValue }}&contactId={{ contactId }}"
                    >
                        <span class="tree-icon closed">{% sw_icon 'arrow-right' style {'pack': 'solid'} %}</span>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
