<div class="sw-cms-el-config-accordion-video">
    <sw-container>
        <sw-field v-model="element.config.accordionTitle.value"
                  type="text"
                  @input="onTitleChange"
                  class="sw-cms-el-config-accordion-video__title"
                  :placeholder="$tc('sw-cms.elements.accordion-video.config.placeholder.title')">
        </sw-field>
    </sw-container>

    <template v-if="items.length > 0">
        <div class="sw-cms-el-config-accordion-video__settings"
             v-for="(accordionVideoItem, index) in items">
            <sw-container columns="1fr 1fr 50px">
                <sw-field v-model="accordionVideoItem.name"
                          type="text"
                          @input="onNameChange($event, index)"
                          class="sw-cms-el-config-accordion-video__name"
                          :placeholder="$tc('sw-cms.elements.accordion-video.config.placeholder.name')">
                </sw-field>

                <sw-field v-model="accordionVideoItem.youtubeId"
                          type="text"
                          @input="onYoutubeIdChange($event, index)"
                          class="sw-cms-el-config-accordion-video__youtubeId"
                          :placeholder="$tc('sw-cms.elements.accordion-video.config.placeholder.youtube-id')">
                </sw-field>

                <sw-button
                    :disabled="false"
                    variant="danger"
                    :square="true"
                    :block="false"
                    @click="deleteRow(index)"
                    :isLoading="false"
                    class="sw-cms-el-config-accordion-video__remove">
                    <sw-icon small name="small-default-x-line-small"></sw-icon>
                </sw-button>
            </sw-container>
        </div>
    </template>

    <sw-button
        :disabled="false"
        variant="primary"
        :square="false"
        :block="false"
        :isLoading="false"
        @click="addRow">
        {{ $tc('sw-cms.elements.accordion-video.config.add-entry') }}
    </sw-button>
</div>
