{% sw_extends '@Storefront/storefront/layout/header/header-minimal.html.twig' %}

{% block layout_header_minimal_button %}
    {% block b2b_header_minimal_checkout %}
        <div class="col-md-4 header-minimal-back-to-shop">
            {% block b2b_header_minimal_checkout_back_to_cart_form %}
                <form
                    action="{{ path('frontend.b2b.b2bofferthroughcheckout.backToCheckout') }}"
                    method="post"
                    data-csrf-token="{{ sw_csrf('frontend.b2b.b2bofferthroughcheckout.backToCheckout', { mode: 'token' }) }}"
                >
                    {% block b2b_header_minimal_checkout_back_to_cart_form_csrf %}
                        {{ sw_csrf('frontend.b2b.b2bofferthroughcheckout.backToCheckout') }}
                    {% endblock %}

                    {% block b2b_header_minimal_checkout_back_to_cart_form_inputs %}
                        <input
                            type="hidden"
                            name="offerId"
                            value="{{ offerId }}"
                        />
                    {% endblock %}

                    {% block b2b_header_minimal_checkout_back_to_cart_form_submit %}
                        <button
                            type="submit"
                            class="btn btn-outline-primary header-minimal-back-to-shop-button"
                        >
                            {{ "b2b.BackToCart"|trans }}
                        </button>
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}