{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_search %}
    {% if isSalesRepRemoteControl or not isSalesRep %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block layout_header_actions_cart %}
    {% if isSalesRepRemoteControl or not isSalesRep %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block layout_header_search_toggle %}
    {% if isSalesRepRemoteControl or not isSalesRep %}
        {{ parent() }}
    {% endif %}
{% endblock %}