{% block b2b_offer_detail_discount %}
    <sw-card
        :title="$tc('b2b-offer.detail.titlePositions')"
        class="b2b-offer-detail-discount"
    >
        {% block b2b_offer_detail_discount_productSearch %}
            <sw-card-section
                v-if="!inputDisabled"
                class="b2b-offer-detail-discount__section-add-product"
                divider="bottom"
                secondary
            >
                {% block b2b_offer_detail_discount_productSearch_inner %}
                    <sw-entity-single-select
                        v-model="productSearch"
                        entity="product"
                        :placeholder="$tc('b2b-offer.detail.discount.addProductPlaceholder')"
                        @change="handleProductSearch"
                        :disabled="inputDisabled"
                        :context="contextWithInheritance"
                    ></sw-entity-single-select>
                {% endblock %}
            </sw-card-section>
        {% endblock %}

        {% block b2b_offer_detail_discount_product_list %}
            <sw-card-section
                class="b2b-offer-detail-discount__section-positions"
                divider="bottom"
            >
                <div
                    class="b2b-offer-detail-discount__product-list"
                    :class="editMode ? 'edit-mode' : ''"
                >
                    <b2b-offer-discount-grid
                        :dataSource="gridPositions"
                        :columns="columns"
                        :showSelection="false"
                        :showActions="editMode"
                        :showSettings="true"
                        :compactMode="false"
                        :allowInlineEdit="false"
                    >
                        {% block b2b_offer_detail_discount_product_list_column_name %}
                            <template #column-name="{ item }" >
                                <span v-if="item.id !== DISCOUNT_ID">
                                    <div>{{ item.name || '-' }}</div>
                                    <small>
                                        {{ item.referenceNumber }}
                                    </small>
                                </span>
                                <span v-else>
                                    {{ $tc('b2b-offer.detail.discount.labelDiscount') }}
                                </span>
                            </template>
                        {% endblock %}

                        {% block b2b_offer_detail_discount_product_list_column_quantity %}
                            <template #column-quantity="{ item }">
                                <span v-if="item.id !== DISCOUNT_ID">
                                    <sw-number-field
                                        v-if="editMode"
                                        v-model="item.quantity"
                                        :max="item.purchaseMax"
                                        :min="0"
                                    ></sw-number-field>
                                    <span v-else>{{ item.quantity }}</span>
                                </span>
                                <span v-else>
                                    {{ getDiscountSnippet() }}
                                </span>
                            </template>
                        {% endblock %}

                        {% block b2b_offer_detail_discount_product_list_column_amountNet %}
                            <template #column-amountNet="{ item }" >
                                <span v-if="item.id !== DISCOUNT_ID">
                                    {{ formatCurrency(item.amountNet) }}
                                </span>
                            </template>
                        {% endblock %}

                        {% block b2b_offer_detail_discount_product_list_new_discountAmountNet %}
                            <template #column-discountAmountNet="{ item }" >
                                <span v-if="item.id === DISCOUNT_ID">
                                    {{ getDiscountInfo(item) }}
                                </span>
                                <span v-else>
                                    {{ formatCurrency(item.discountAmountNet) }}
                                </span>
                            </template>
                        {% endblock %}

                        {% block b2b_offer_detail_discount_product_list_column_newOffer %}
                            <template #column-newOffer="{ item }">
                                <span v-if="item.id === DISCOUNT_ID">
                                    <sw-number-field
                                        v-if="editMode && discountType === DISCOUNT_TYPES.ABSOLUTE"
                                        type="number"
                                        v-model="item.newDiscountAbsolute"
                                        :min="0"
                                    ></sw-number-field>
                                    <sw-number-field
                                        v-else-if="editMode"
                                        type="number"
                                        v-model="item.newDiscountPercentage"
                                        :min="0"
                                    ></sw-number-field>
                                    <span v-else>
                                        {{ getDiscountInfo(item, 'new') }}
                                    </span>
                                </span>
                                <span v-else>
                                    <sw-number-field
                                        v-if="editMode"
                                        type="number"
                                        numberType="float"
                                        v-model="item.discountAmountNet"
                                        :min="0"
                                    ></sw-number-field>
                                    <span v-else>
                                        {{ formatCurrency(item.discountAmountNet) }}
                                    </span>
                                </span>
                            </template>
                        {% endblock %}

                        {% block b2b_offer_detail_discount_productList_columns_actions %}
                            <template #actions="{ item }">
                                <sw-context-menu-item
                                    v-if="item.id === DISCOUNT_ID"
                                    :disabled="isAbsoluteDiscount"
                                    @click="setDiscountType(DISCOUNT_TYPES.ABSOLUTE)"
                                >
                                    {{ $tc('b2b-offer.detail.discount.labelDiscountTypeAbsolute') }}
                                </sw-context-menu-item>
                                <sw-context-menu-item
                                    v-if="item.id === DISCOUNT_ID"
                                    :disabled="isPercentageDiscount"
                                    @click="setDiscountType(DISCOUNT_TYPES.PERCENTAGE)"
                                >
                                    {{ $tc('b2b-offer.detail.discount.labelDiscountTypePercentage') }}
                                </sw-context-menu-item>

                                <sw-context-menu-item
                                    v-if="item.id !== DISCOUNT_ID"
                                    variant="danger"
                                    @click="removeItem(item)"
                                >
                                {{ $tc('b2b-offer.detail.discount.contextMenuRemove') }}
                                </sw-context-menu-item>
                            </template>
                        {% endblock %}

                        {% block b2b_offer_detail_discount_product_list_summary %}
                            <template #additional-rows>
                                {% block b2b_offer_detail_discount_product_list_summary_inner %}
                                    <tr class="sw-data-grid__row sw-data-grid__row--1000 b2b-offer-detail-discount__section-summary-row">
                                        <td class="sw-data-grid__cell"></td>
                                        <td class="sw-data-grid__cell">
                                            <div class="sw-data-grid__cell-content">{{ $tc('b2b-offer.detail.discount.summaryTotalAmountNet') }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell sw-data-grid__cell--align-right">
                                            <div class="sw-data-grid__cell-content">{{ formatCurrency(summary.originalTotalAmountNet) }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell sw-data-grid__cell--align-right">
                                            <div class="sw-data-grid__cell-content">{{ formatCurrency(summary.requestTotalAmountNet) }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell sw-data-grid__cell--align-right">
                                            <div class="sw-data-grid__cell-content">{{ formatCurrency(summary.newTotalAmountNet) }}</div>
                                        </td>
                                    </tr>
                                    <tr class="sw-data-grid__row sw-data-grid__row--1001 b2b-offer-detail-discount__section-summary-row">
                                        <td class="sw-data-grid__cell"></td>
                                        <td class="sw-data-grid__cell">
                                            <div class="sw-data-grid__cell-content">{{ $tc('b2b-offer.detail.discount.summaryTaxes') }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell sw-data-grid__cell--align-right">
                                            <div class="sw-data-grid__cell-content">{{ formatCurrency(summary.originalTaxes) }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell sw-data-grid__cell--align-right">
                                            <div class="sw-data-grid__cell-content">{{ formatCurrency(summary.requestTaxes) }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell sw-data-grid__cell--align-right">
                                            <div class="sw-data-grid__cell-content">{{ formatCurrency(summary.newTaxes) }}</div>
                                        </td>
                                    </tr>
                                    <tr class="sw-data-grid__row sw-data-grid__row--1002 b2b-offer-detail-discount__section-summary-row">
                                        <td class="sw-data-grid__cell"></td>
                                        <td class="sw-data-grid__cell">
                                            <div class="sw-data-grid__cell-content">{{ $tc('b2b-offer.detail.discount.summaryTotalWithTax') }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell sw-data-grid__cell--align-right">
                                            <div class="sw-data-grid__cell-content">{{ formatCurrency(summary.originalTotalWithTax) }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell sw-data-grid__cell--align-right">
                                            <div class="sw-data-grid__cell-content">{{ formatCurrency(summary.requestTotalWithTax) }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell sw-data-grid__cell--align-right">
                                            <div class="sw-data-grid__cell-content">{{ formatCurrency(summary.newTotalWithTax) }}</div>
                                        </td>
                                    </tr>
                                    <tr class="sw-data-grid__row sw-data-grid__row--1003 b2b-offer-detail-discount__section-summary-row">
                                        <td class="sw-data-grid__cell"></td>
                                        <td class="sw-data-grid__cell">
                                            <div class="sw-data-grid__cell-content">{{ $tc('b2b-offer.detail.discount.summaryTotalDiscount') }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell sw-data-grid__cell--align-right">
                                            <div class="sw-data-grid__cell-content">{{ formatCurrency(summary.originalTotalDiscount) }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell sw-data-grid__cell--align-right">
                                            <div class="sw-data-grid__cell-content">{{ formatCurrency(summary.requestTotalDiscount) }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell sw-data-grid__cell--align-right">
                                            <div class="sw-data-grid__cell-content">{{ formatCurrency(summary.newTotalDiscount) }}</div>
                                        </td>
                                    </tr>
                                    <tr class="sw-data-grid__row sw-data-grid__row--1004 b2b-offer-detail-discount__section-summary-row  b2b-offer-detail-discount__section-summary-row--date">
                                        <td class="sw-data-grid__cell"></td>
                                        <td class="sw-data-grid__cell">
                                            <div class="sw-data-grid__cell-content label--date">{{ $tc('b2b-offer.detail.discount.summaryDate') }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell">
                                            <div class="sw-data-grid__cell-content">{{ formatDate(offer.createdAt) }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell">
                                            <div class="sw-data-grid__cell-content">{{ formatDate(offer.changedStatusAt) }}</div>
                                        </td>
                                        <td class="sw-data-grid__cell">
                                            <div class="sw-data-grid__cell-content">{{ todayDate() }}</div>
                                        </td>
                                    </tr>
                                {% endblock %}
                            </template>
                        {% endblock %}
                    </b2b-offer-discount-grid>
                </div>
            </sw-card-section>
        {% endblock %}

        {% block b2b_offer_detail_discount_actions %}
            <sw-card-section
                class="b2b-offer-detail-discount__section-actions"
                divider="bottom"
                v-if="!statusAcceptedBoth && !statusConverted"
            >
                <div v-if="editMode">
                    {% block b2b_offer_detail_discount_actions_editMode %}
                        <sw-textarea-field
                            v-model="comment"
                            :label="$tc('b2b-offer.detail.discount.labelComment')"
                            :placeholder="$tc('b2b-offer.detail.discount.placeholderComment')"
                            :disabled="inputDisabled"
                        ></sw-textarea-field>
                        <sw-container>
                            <sw-datepicker
                                :label="$tc('b2b-offer.detail.discount.labelExpirationDate')"
                                v-model="expirationDate"
                                dateType="datetime"
                                dateFormat="d/m/y"
                                :disabled="inputDisabled"
                            ></sw-datepicker>
                            <div class="b2b-offer-detail-discount__section-actions-buttons-editMode">
                                <sw-button
                                    @click="handleCancel"
                                    :disabled="inputDisabled"
                                >
                                    {{ $tc('b2b-offer.general.buttonCancel') }}
                                </sw-button>
                                <sw-button
                                    variant="primary"
                                    @click="handleSendOffer"
                                    :disabled="inputDisabled"
                                >
                                    {{ $tc('b2b-offer.general.buttonSendNewOffer') }}
                                </sw-button>
                            </div>
                        </sw-container>
                    {% endblock %}
                </div>
                <div
                    v-else
                    class="b2b-offer-detail-discount__section-actions-buttons-viewMode"
                >
                    {% block b2b_offer_detail_discount_actions_viewMode %}
                        <sw-button
                            @click="handleDecline"
                            :disabled="!acl.can('b2b-offer.editor') || statusButtonDisabled"
                        >
                            {{ $tc('b2b-offer.general.buttonDeclineOffer') }}
                        </sw-button>
                        <sw-button
                            @click="handleEditMode"
                            :disabled="!acl.can('b2b-offer.editor') || statusAcceptedBoth || statusAccepted"
                        >
                            {{ $tc('b2b-offer.general.buttonMakeNewOffer') }}
                        </sw-button>
                        <sw-button
                            variant="primary"
                            @click="handleAccept"
                            :disabled="!acl.can('b2b-offer.editor') || statusButtonDisabled"
                        >
                            {{ $tc('b2b-offer.general.buttonAcceptOffer') }}
                        </sw-button>
                    {% endblock %}
                </div>
            </sw-card-section>
        {% endblock %}
    </sw-card>
{% endblock %}
