$border-cell-item: #D1D9E0;
$background-summary: #F0F2F5;
$color-dates: rgba(0, 0, 0, .4);

.b2b-offer-detail-discount {

    &__section-add-product {
        .sw-field {
            margin: 0;
        }
    }

    &__section-positions {
        padding: 0;

        .sw-data-grid__wrapper {
            background: $background-summary;

            thead {
                .sw-data-grid__cell--header {
                    border: none;

                    &.sw-data-grid__cell--1 .sw-data-grid__cell-content {
                        justify-content: flex-end;
                    }
                }

                .sw-data-grid__cell-settings .sw-data-grid__cell-content {
                    display: none;
                }
            }

            tbody {
                .sw-data-grid__row {
                    &:not(:first-child) {
                        .sw-data-grid__cell--content {
                            justify-content: center;
                        }
                    }

                    &:not(:last-child) {
                        .sw-data-grid__cell {
                            border-bottom: 1px solid $border-cell-item;
                        }
                    }

                    .sw-data-grid__cell {
                        border-right: none !important;
                        background: #fff !important;

                        &:last-child {
                            text-align: right;
                            border-left: 2px solid $border-cell-item;
                        }

                        &--quantity {
                            justify-content: flex-end;
                        }
                    }
                }

                input {
                    text-align: right;
                }

                .b2b-offer-detail-discount__section-summary-row {
                    .sw-data-grid__cell {
                        background: $background-summary !important;

                        &:first-child {
                            border-bottom: none;
                        }
                    }

                    &--date {
                        .sw-data-grid__cell {
                            &:last-child {
                                border-left: none !important;
                            }

                            :not(.label--date) {
                                color: $color-dates;
                            }
                        }
                    }
                }
            }
        }
    }

    .edit-mode .b2b-offer-detail-discount__section-summary-row {
        .sw-data-grid__cell {
            &:last-child {
                border-left: none !important;
                border-right: 3px solid $border-cell-item !important;
            }
        }
    }

    &__section-actions {

        .sw-container {
            display: flex;
            flex-flow: row wrap;

            .sw-field {
                flex: 50%;
                margin-bottom: 0;
            }

            .b2b-offer-detail-discount__section-actions-buttons-editMode {
                margin-top: auto;
                flex: 50%;
                display: flex;
                justify-content: flex-end;

                .sw-button {
                    margin-left: 3px;
                }
            }
        }

        &-buttons-viewMode {
            text-align: right;
        }
    }
}