{% block b2b_address_form_messages %}
    {% block b2b_address_form_messages_errors %}
        {% if errors %}
            <div class="modal--errors error--list">
                {%
                    sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                    with {
                        messages: { 'error': errors }
                    } only
                %}
            </div>
        {% endif %}
    {% endblock %}

    {% block b2b_address_form_messages_success %}
        {% if success is defined %}
            <div class="modal--errors error--list">
                {%
                    sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                    with {
                        messages: ['success', "b2b.AddressSaved"]
                    } only
                %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}


{% block b2b_address_form %}
    <div class="form-row">
        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_type %}
                <label for="type">{{ "b2b.TypeLabel"|trans }} *</label>
                <select
                    name="type"
                    class="custom-select form-control"
                >
                    <option
                        value=""
                        disabled
                        selected="selected"
                    >
                        {{ "b2b.TypeLabel"|trans }}
                    </option>
                    <option
                        value="billing"
                        {% if type == 'billing' %}selected="selected"{% endif %}
                    >
                        {{ "b2b.BillingAddress"|trans }}
                    </option>
                    <option
                        value="shipping"
                        {% if type == 'shipping' %}selected="selected"{% endif %}
                    >
                        {{ "b2b.ShippingAddress"|trans }}
                    </option>
                </select>
            {% endblock %}
        </div>

        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_ustid %}
                <label for="ustid">{{ "b2b.TaxIdLabel"|trans }}</label>
                <input
                    class="form-control"
                    type="text"
                    name="ustid"
                    value="{{ address.ustid }}"
                    placeholder="{{ "b2b.TaxIdPlaceholder"|trans }}"
                    autofocus
                >
            {% endblock %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_company %}
                <label for="company">{{ "b2b.CompanyLabel"|trans }} *</label>
                <input
                    class="form-control"
                    type="text"
                    name="company"
                    value="{{ address.company }}"
                    placeholder="{{ "b2b.CompanyPlaceholder"|trans }}"
                >
            {% endblock %}
        </div>
        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_deparment %}
                <label for="department">{{ "b2b.DepartmentLabel"|trans }}</label>
                <input
                    class="form-control"
                    type="text"
                    name="department"
                    value="{{ address.department }}"
                    placeholder="{{ "b2b.DepartmentPlaceholder"|trans }}"
                >
            {% endblock %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_salutation %}
                <label>{{ "b2b.SalutationLabel"|trans }} *</label>
                {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bsalutationselect/_salutation-select.html.twig" with {'selectedSalutation': address.salutation} %}
            {% endblock %}
        </div>
        <div class="form-group col-sm-6">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_firstname %}
                <label for="firstName">{{ "b2b.FirstNameLabel"|trans }} *</label>
                <input
                    class="form-control"
                    type="text"
                    name="firstname"
                    value="{{ address.firstname }}"
                    placeholder="{{ "b2b.FirstNamePlaceholder"|trans }}"
                >
            {% endblock %}
        </div>
        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_lastname %}
                <label for="lastname">{{ "b2b.LastNameLabel"|trans }} *</label>
                <input
                    class="form-control"
                    type="text"
                    name="lastname"
                    value="{{ address.lastname }}"
                    placeholder="{{ "b2b.LastNamePlaceholder"|trans }}"
                >
            {% endblock %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_street %}
            <label for="street">{{ "b2b.StreetLabel"|trans }} *</label>
            <input
                class="form-control"
                type="text"
                name="street"
                value="{{ address.street }}"
                placeholder="{{ "b2b.StreetPlaceholder"|trans }}"
            >
            {% endblock %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_additional_address_line1 %}
                <label for="additional_address_line1">{{ "b2b.AddressAdditionalLabel"|trans }} 1 {% if requiredFields.addressAdditional1 %}*{% endif %}</label>
                <input
                    class="form-control"
                    type="text"
                    name="additional_address_line1"
                    value="{{ address.additional_address_line1 }}"
                    placeholder="{{ "b2b.AddressAdditionalPlaceholder"|trans }} 1"
                >
            {% endblock %}
        </div>
        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_additional_address_line2 %}
                <label for="additional_address_line2">{{ "b2b.AddressAdditionalLabel"|trans }} 2 {% if requiredFields.addressAdditional2 %}*{% endif %}</label>
                <input
                    class="form-control"
                    type="text"
                    name="additional_address_line2"
                    value="{{ address.additional_address_line2 }}"
                    placeholder="{{ "b2b.AddressAdditionalPlaceholder"|trans }} 2"
                >
            {% endblock %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_zipcode %}
                <label for="zipcode">{{ "b2b.ZipcodeLabel"|trans }} *</label>
                <input
                    class="form-control"
                    type="text"
                    name="zipcode"
                    value="{{ address.zipcode }}"
                    placeholder="{{ "b2b.ZipcodePlaceholder"|trans }}"
                >
            {% endblock %}
        </div>
        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_city %}
                <label for="city">{{ "b2b.CityLabel"|trans }} *</label>
                <input
                    class="form-control"
                    type="text"
                    name="city"
                    value="{{ address.city }}"
                    placeholder="{{ "b2b.CityPlaceholder"|trans }}"
                >
            {% endblock %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_country_id %}
                <label for="country_id">{{ "b2b.CountryLabel"|trans }} *</label>
                <select
                    name="country_id"
                    class="custom-select"
                >
                    <option disabled selected="selected">{{ "b2b.CountryPlaceholder"|trans }}  *</option>

                    {% for countryKey, countryName in countryList %}
                        <option value="{{ countryKey }}" {% if (address.country_id.getValue) == countryKey %} selected="selected" {% endif %}>
                            {{ countryName }}
                        </option>
                    {% endfor %}
                </select>
            {% endblock %}
        </div>

        <div class="form-group col-sm-6">
            {% block b2b_address_form_input_phone %}
                <label for="phone">{{ "b2b.PhoneLabel"|trans }} {% if requiredFields.phone %}*{% endif %}</label>
                <input
                    class="form-control"
                    type="text"
                    name="phone"
                    value="{{ address.phone }}"
                    placeholder="{{ "b2b.PhonePlaceholder"|trans }}"
                >
            {% endblock %}
        </div>
    </div>
{% endblock %}
