{% block b2b_address_form_messages %}
    {% block b2b_address_form_messages_errors %}
        {% if errors %}
            <div class="modal--errors error--list">
                {%
                    sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                    with {
                        messages: { 'error': errors }
                    } only
                %}
            </div>
        {% endif %}
    {% endblock %}

    {% block b2b_address_form_messages_success %}
        {% if success is defined %}
            <div class="modal--errors error--list">
                {%
                    sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                    with {
                        messages: ['success', "b2b.AddressSaved"]
                    } only
                %}
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}


{% block b2b_address_form %}
    <div class="b2b--form-group">
        <div class="b2b--form-row">
            {% block b2b_address_form_input_type %}
                <div class="block-group b2b--form">
                    <div class="block box--label">
                        {{ "b2b.TypeLabel"|trans }}: *
                    </div>
                    <div class="block box--input">
                        <div class="select-field">
                            <select name="type" class="custom-select">
                                <option value="" disabled selected="selected">{{ "b2b.TypeLabel"|trans }}</option>
                                <option value="billing" {% if type == 'billing' %}selected="selected"{% endif %}>{{ "b2b.BillingAddress"|trans }}</option>
                                <option value="shipping" {% if type == 'shipping' %}selected="selected"{% endif %}>{{ "b2b.ShippingAddress"|trans }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block b2b_address_form_input_ustid %}
                <div class="block-group b2b--form">
                    <div class="block box--label">
                        {{ "b2b.TaxIdLabel"|trans }}
                    </div>
                    <div class="block box--input">
                        <input class="form-control" type="text" name="ustid" value="{{ address.ustid }}" placeholder="{{ "b2b.TaxIdPlaceholder"|trans }}" autofocus>
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="b2b--form-row">
            {% block b2b_address_form_input_company %}
                <div class="block-group b2b--form">
                    <div class="block box--label">
                        {{ "b2b.CompanyLabel"|trans }}: *
                    </div>
                    <div class="block box--input">
                        <input class="form-control" type="text" name="company" value="{{ address.company }}" placeholder="{{ "b2b.CompanyPlaceholder"|trans }}">
                    </div>
                </div>
            {% endblock %}

            {% block b2b_address_form_input_department %}
                <div class="block-group b2b--form">
                    <div class="block box--label">
                        {{ "b2b.DepartmentLabel"|trans }}:
                    </div>
                    <div class="block box--input">
                        <input class="form-control" type="text" name="department" value="{{ address.department }}" placeholder="{{ "b2b.DepartmentPlaceholder"|trans }}">
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>


    <div class="b2b--form-group">
        <div class="b2b--form-row">

            {% block b2b_address_form_input_salutation %}
                <div class="block-group b2b--form">
                    <div class="block box--label">
                        {{ "b2b.SalutationLabel"|trans }}: *
                    </div>
                    <div class="block box--input">
                        {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bsalutationselect/_salutation-select.html.twig" with {'selectedSalutation': address.salutation} %}
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="b2b--form-row">
            {% block b2b_address_form_input_firstname %}
                <div class="block-group b2b--form">
                    <div class="block box--label">
                        {{ "b2b.FirstNameLabel"|trans }}: *
                    </div>
                    <div class="block box--input">
                        <input class="form-control" type="text" name="firstname" value="{{ address.firstname }}" placeholder="{{ "b2b.FirstNamePlaceholder"|trans }}">
                    </div>
                </div>
            {% endblock %}

            {% block b2b_address_form_input_lastname %}
                <div class="block-group b2b--form">
                    <div class="block box--label">
                        {{ "b2b.LastNameLabel"|trans }}: *
                    </div>
                    <div class="block box--input">
                        <input class="form-control" type="text" name="lastname" value="{{ address.lastname }}" placeholder="{{ "b2b.LastNamePlaceholder"|trans }}">
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="b2b--form-row">
            {% block b2b_address_form_input_street %}
                <div class="block-group b2b--form">
                    <div class="block box--label">
                        {{ "b2b.StreetLabel"|trans }}: *
                    </div>
                    <div class="block box--input">
                        <input class="form-control" type="text" name="street" value="{{ address.street }}" placeholder="{{ "b2b.StreetPlaceholder"|trans }}">
                    </div>
                </div>
            {% endblock %}

            {% block b2b_address_form_input_additional_address_line1 %}
                <div class="block-group b2b--form">
                    <div class="block box--label">
                        {{ "b2b.AddressAdditionalLabel"|trans }} 1: {% if requiredFields.addressAdditional1 %}*{% endif %}
                    </div>
                    <div class="block box--input">
                        <input class="form-control" type="text" name="additional_address_line1" value="{{ address.additional_address_line1 }}" placeholder="{{ "b2b.AddressAdditionalPlaceholder"|trans }} 1">
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="b2b--form-row">
            {% block b2b_address_form_input_additional_address_line2 %}
                <div class="block-group b2b--form">
                    <div class="block box--label">
                        {{ "b2b.AddressAdditionalLabel"|trans }} 2: {% if requiredFields.addressAdditional2 %}*{% endif %}
                    </div>
                    <div class="block box--input">
                        <input class="form-control" type="text" name="additional_address_line2" value="{{ address.additional_address_line2 }}" placeholder="{{ "b2b.AddressAdditionalPlaceholder"|trans }} 2">
                    </div>
                </div>
            {% endblock %}
        </div>


        <div class="b2b--form-row">
            {% block b2b_address_form_input_zipcode %}
                <div class="block-group b2b--form">
                    <div class="block box--label">
                        {{ "b2b.ZipcodeLabel"|trans }}: *
                    </div>
                    <div class="block box--input">
                        <input class="form-control" type="text" name="zipcode" value="{{ address.zipcode }}" placeholder="{{ "b2b.ZipcodePlaceholder"|trans }}">
                    </div>
                </div>
            {% endblock %}

            {% block b2b_address_form_input_city %}
                <div class="block-group b2b--form">
                    <div class="block box--label">
                        {{ "b2b.CityLabel"|trans }}: *
                    </div>
                    <div class="block box--input">
                        <input class="form-control" type="text" name="city" value="{{ address.city }}" placeholder="{{ "b2b.CityPlaceholder"|trans }}">
                    </div>
                </div>
            {% endblock %}
        </div>

        <div class="b2b--form-row">
            {% block b2b_address_form_input_country_id %}
                <div class="block-group b2b--form">

                    <div class="block box--label">
                        {{ "b2b.CountryLabel"|trans }}: *
                    </div>
                    <div class="block box--input">
                        <div class="select-field">
                            <select name="country_id" class="custom-select">
                                <option disabled selected="selected">{{ "b2b.CountryPlaceholder"|trans }}  *</option>
                                {% for countryKey, countryName in countryList %}
                                    <option value="{{ countryKey }}" {% if (address.country_id.getValue) == countryKey %} selected="selected" {% endif %}>
                                        {{ countryName }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block b2b_address_form_input_phone %}
                <div class="block-group b2b--form">
                    <div class="block box--label">
                        {{ "b2b.PhoneLabel"|trans }}: {% if requiredFields.phone %}*{% endif %}
                    </div>
                    <div class="block box--input">
                        <input class="form-control" type="text" name="phone" value="{{ address.phone }}" placeholder="{{ "b2b.PhonePlaceholder"|trans }}">
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}