{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true
} %}

{# Title Placeholder #}
{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.CreateAddress"|trans }}
{% endblock %}

{# Modal Content: Grid Component: Content #}
{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <form
        action="{{ path('frontend.b2b.b2baddress.create', {'type': type, 'grantContext': grantContext}) }}"
        method="post"
        class="form--inline {{ b2b_acl('b2baddress', 'create') }}"
        id="form"
        data-ajax-panel-trigger-reload="company-tab-panel"
        data-submit-enter
    >
        {{ sw_csrf('frontend.b2b.b2baddress.create') }}

        {% sw_include "@SwagB2bPlatform/storefront/frontend/b2baddress/_form.html.twig" %}
        <input type="hidden" name="grantContext" value="{{ grantContext }}"/>
    </form>
{% endblock %}

{# Modal Content: Grid Component: Bottom #}
{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions">
        <button class="btn" type="submit" data-form-id="form">{{ "b2b.Save"|trans }}</button>
    </div>
{% endblock %}