{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ 'b2b.EditAddress'|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <form
        action="{{ path('frontend.b2b.b2baddress.update') }}"
        method="post"
        class="form--inline has--b2b-form {{ b2b_acl('b2baddress', 'update') }}"
        id="form"
        data-ajax-panel-trigger-reload="address-shipping-grid,address-billing-grid,company-tab-panel"
        data-submit-enter
    >
        {{ sw_csrf('frontend.b2b.b2baddress.update') }}

        <input
            type="hidden"
            name="id"
            value="{{ address.id.getValue }}"
        >

        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2baddress/_form.html.twig' %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions text-right {{ b2b_acl('b2baddress', 'update') }}">
        <button
            class="btn btn-primary"
            type="submit"
            data-form-id="form"
        >
            {{ 'b2b.Save'|trans }}
        </button>
    </div>
{% endblock %}
