{% block b2b_address_shipping %}
    {% block b2b_address_shipping_content %}
        <div class="panel is--rounded margin-top-small">

            {% block b2b_address_shipping_content_title %}
                <div class="panel--title is--underline">
                    <div class="block-group b2b--block-panel">
                        <div class="block block--title">
                            <h3>{{ "b2b.ShippingAddresses"|trans }}</h3>
                        </div>

                        {% block b2b_address_shipping_content_title_filter %}
                            {% if companyFilter.level %}
                                <div class="block block--actions">
                                    <button
                                        type="button"
                                        data-target="address-detail"
                                        data-href="{{ path('frontend.b2b.b2baddress.new', {'type': 'shipping', 'grantContext': grantContext}) }}"
                                        class="btn component-action-create ajax-panel-link {{ b2b_acl('b2baddress', 'new') }}"
                                    >
                                        {{ "b2b.CreateAddress"|trans }}
                                    </button>
                                </div>
                            {% endif %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}

            {% block b2b_address_shipping_content_grid %}
                <div class="panel--body is--wide b2b--grid-container">
                    {%
                        sw_include '@SwagB2bPlatform/storefront/frontend/b2baddress/_grid.html.twig'
                        with { 'type': 'shipping', gridState: gridState, 'companyFilter': companyFilter } only
                    %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block b2b_address_shipping_detail_modal %}
        <div class="b2b--ajax-panel b2b-modal-panel has--b2b-form" data-id="address-detail"></div>
    {% endblock %}
{% endblock %}
