{% block b2b_address_shipping %}
    {% block b2b_address_shipping_content %}

        {% block b2b_address_shipping_content_title %}
            <h3>{{ "b2b.ShippingAddresses"|trans }}</h3>

            {% block b2b_address_shipping_content_title_filter %}
                {% if companyFilter.level %}
                    <button
                        type="button"
                        data-target="address-detail"
                        data-href="{{ path('frontend.b2b.b2baddress.new', {'type': 'shipping', 'grantContext': grantContext}) }}"
                        class="btn btn-secondary mb-4 component-action-create ajax-panel-link {{ b2b_acl('b2baddress', 'new') }}"
                    >
                        {{ "b2b.CreateAddress"|trans }}
                    </button>
                {% endif %}
            {% endblock %}
        {% endblock %}

        {% block b2b_address_shipping_content_grid %}
            {%
                sw_include '@SwagB2bPlatform/storefront/frontend/b2baddress/_grid.html.twig'
                with { 'type': 'shipping', gridState: gridState, 'companyFilter': companyFilter } only
            %}
        {% endblock %}
    {% endblock %}

    {% block b2b_address_shipping_detail_modal %}
        <div
            class="b2b--ajax-panel b2b-modal-panel has--b2b-form"
            data-id="address-detail"
            data-ajax-panel-trigger-reload="company-tab-panel"
        ></div>
    {% endblock %}
{% endblock %}
