{% block b2b_offerlog_new_form %}
    <div class="form-group col-sm-12">
        <label for="comment">
            {{ "b2b.CommentLabel"|trans }}
        </label>
        <textarea
            type="text"
            name="comment"
            class="form-control"
            placeholder="{{ "b2b.CommentPlaceholder"|trans }}"
        ></textarea>
    </div>
{% endblock %}
