{% block b2b_offerlog_new_form %}
    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.CommentLabel"|trans }}:
        </div>
        <div class="block box--input">
            <textarea
                type="text"
                name="comment"
                class="form-control"
                placeholder="{{ "b2b.CommentPlaceholder"|trans }}"
            ></textarea>
        </div>
    </div>
{% endblock %}
