/* Determining contrasts using the yiq color model */
@function calculateYiq($r, $g, $b) {
  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @return $yiq;
}

@function getContrast($color, $percentage: 10%) {
  $result: $color;

  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: calculateYiq($r, $g, $b);

  @if ($yiq >= 192) {
    $result: darken($color, $percentage);
  }

  @else {
    $result: lighten($color, $percentage);
  }

  @return $result;
}

@function getFontWeightAdjustment($background-color) {
  $result: 0;

  $r: red($background-color);
  $g: green($background-color);
  $b: blue($background-color);

  $yiq: calculateYiq($r, $g, $b);

  @if ($yiq < 128) {
    $result: 100;
  }
  @return $result;
}