{% block sw_cms_element_image_config %}
    <sw-tabs class="sw-cms-el-config-image__tabs" defaultItem="image">
        <template slot-scope="{ active }" >
            <sw-tabs-item :title="$tc('sw-cms.elements.image.config.tab.image')"
                          name="image"
                          :activeTab="active">
                {{ $tc('sw-cms.elements.image.config.tab.image') }}
            </sw-tabs-item>

            <sw-tabs-item :title="$tc('sw-cms.elements.image.config.tab.text')"
                          name="text"
                          :activeTab="active">
                {{ $tc('sw-cms.elements.image.config.tab.text') }}
            </sw-tabs-item>
        </template>

        <template slot="content" slot-scope="{ active }">
            <sw-container v-if="active === 'image'">
                {% parent %}

                <sw-field type="text"
                          v-model="element.config.maxWidth.value"
                          :label="$tc('sw-cms.elements.image.config.label.maxWidth')">
                </sw-field>

                <sw-field type="select"
                          v-model="element.config.horizontalAlign.value"
                          :label="$tc('sw-cms.elements.image.config.label.horizontalAlign')">
                    <option :value="null">{{ $tc('sw-cms.elements.image.config.label.horizontalAlignNone') }}</option>
                    <option value="center">{{ $tc('sw-cms.elements.image.config.label.horizontalAlignCenter') }}</option>
                    <option value="right">{{ $tc('sw-cms.elements.image.config.label.horizontalAlignRight') }}</option>
                </sw-field>

                <sw-switch-field
                    :label="$tc('sw-cms.elements.image.config.label.lightbox')"
                    v-model="element.config.lightbox.value"
                    size="medium"
                ></sw-switch-field>

                <sw-cms-mapping-field v-if="element.config.lightbox.value === true"
                                      :label="$tc('sw-cms.elements.image.config.label.lightboxText')"
                                      valueTypes="string"
                                      v-model="element.config.lightboxText">
                    <sw-text-editor v-model="element.config.lightboxText.value"></sw-text-editor>
                </sw-cms-mapping-field>
            </sw-container>

            <sw-container v-if="active === 'text'">
                <sw-switch-field bordered
                                 :label="$tc('sw-cms.elements.image.config.label.textActive')"
                                 v-model="element.config.textActive.value">
                </sw-switch-field>

                <sw-cms-mapping-field :label="$tc('sw-cms.elements.image.config.label.text')"
                                      valueTypes="string"
                                      v-model="element.config.text">
                    <sw-text-editor v-model="element.config.text.value"></sw-text-editor>
                </sw-cms-mapping-field>
            </sw-container>
        </template>
    </sw-tabs>
{% endblock %}
