{% sw_extends '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig' %}

{% block cms_form_privacy_opt_in_input %}
    <input name="privacy"
           type="checkbox"
           class="custom-control-input {% if formViolations.getViolations('/privacy') is not empty %} is-invalid{% endif %}"
           id="form-pvivacy-opt-in-{{ _key }}"
            {% if data.has('privacy') %}checked="checked"{% endif %}
           required
           >
{% endblock %}
