{% sw_extends '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-input.html.twig' %}

{% block cms_element_form_input_input %}
    <input name="{{ fieldName }}"
           {% if type %}type="{{ type }}"{% endif %}
           id="form-{{ fieldName }}"
           value="{% if data %}{{ data.get( fieldName ) }}{% else %}{{ value }}{% endif %}"
           placeholder="{{ placeholder|trans }}"
           {% if required %}required="required"{% endif %}
           class="form-control{% if formViolations.getViolations( '/' ~ fieldName ) %} is-invalid{% endif %}"/>

    {% if formViolations.getViolations( '/' ~ fieldName ) is not empty %}
        {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
            violationPath: ('/' ~ fieldName)
        } %}
    {% endif %}
{% endblock %}
