{% sw_extends '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-select-salutation.html.twig' %}

{% block cms_form_select_salutation_content_select %}
    <select name="salutationId"
            id="form-Salutation"
            {% if required %}required="required"{% endif %}
            class="custom-select contact-select{% if formViolations.getViolations('/salutationId') %} is-invalid{% endif %}">
        {% if not data.get('salutationId') and not value %}
            <option disabled="disabled" selected="selected" value="">
                {{ "account.personalSalutationPlaceholder"|trans }}
            </option>
        {% endif %}

        {% for salutation in element.data %}
            <option value="{{ salutation.id }}" {% if value and salutation.id == value%}selected="selected"{% endif %}>
                {{ salutation.displayName }}
            </option>
        {% endfor %}
    </select>

    {% if formViolations.getViolations('/salutationId') is not empty %}
        {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig'
            with { violationPath: '/salutationId' }
        %}
    {% endif %}
{% endblock %}
