{% sw_extends '@Storefront/storefront/component/product/breadcrumb.html.twig' %}

{% block component_product_breadcrumb_category %}
    {% if key != context.salesChannel.navigationCategoryId %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_product_breadcrumb_placeholder %}
    {% if key != context.salesChannel.navigationCategoryId %}
        {{ parent() }}
    {% endif %}
{% endblock %}
