{% sw_extends '@Storefront/storefront/component/product/listing.html.twig' %}

{% block element_product_listing_pagination_nav_actions %}
    <div class="cms-element-product-listing-actions row justify-content-between">
        <div class="cms-action-col d-none d-xl-block col-xl-4">
            <a href="javascript:void(0);" class="btn btn-block btn-sm filter-toggle-btn">
                {% sw_icon 'sliders-horizontal' style {'size': 'xs'} %}
                {{ "listing.filterTitleText"|trans }}
            </a>
        </div>

        <div class="cms-action-col col-sm-6 col-lg-6 col-xl-4">
            {% block element_product_listing_sorting %}
                {% sw_include '@Storefront/storefront/component/sorting.html.twig' with { current: searchResult.sorting, sortings: searchResult.sortings } %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block element_product_listing_pagination_nav_bottom %}
    <div class="cms-element-product-listing-actions row justify-content-between">
        <div class="cms-action-col col-sm-6 col-lg-6 col-xl-4">
            {{ parent() }}
        </div>
        <div class="cms-action-col col-sm-6 col-lg-6 col-xl-4">
            {% sw_include '@Storefront/storefront/component/limit.html.twig' with { current: searchResult.limit } %}
        </div>
    </div>
{% endblock %}
