{% block block_feldmann_hp_grid %}
    {% set id = element.id %}

    <div class="col-12">
        <div class="row no-gutters grid">
            <div class="col-md-8">
                <div class="grid-element">
                    {% set element = block.slots.getSlot('left') %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="grid-element grid-element-half">
                    {% set element = block.slots.getSlot('right-top') %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
                <div class="grid-element grid-element-half">
                    {% set element = block.slots.getSlot('right-bottom') %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
