{% block block_feldmann_sub_categories %}
    {% if page.extensions.subCategories is not null %}
        {% set subCategories = page.extensions.subCategories %}

        <div class="col-12">
            <div class="row sub-categories">
                {% for subCategory in subCategories %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="sub-categories-item">
                            <a class="text-decoration-none"
                               href="{% if subCategory.category.externalLink %}{{ subCategory.category.externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: subCategory.category.id }) }}{% endif %}"
                               title="{{ name }}">
                                <p>{{ subCategory.category.translated.name }}</p>
                                {% sw_thumbnails 'navigation-flyout-teaser-image-thumbnails' with {
                                    media: subCategory.category.media,
                                    sizes: {
                                        'default': '310px'
                                    },
                                    attributes: {
                                        'class': 'navigation-flyout-teaser-image',
                                        'alt': (subCategory.category.media.translated.alt ?: ''),
                                        'title': (subCategory.category.media.translated.title ?: ''),
                                        'data-object-fit': 'cover'
                                    }
                                } %}
                            </a>
                            <a class="btn btn-block btn-primary"
                               href="{% if subCategory.category.externalLink %}{{ subCategory.category.externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: subCategory.category.id }) }}{% endif %}"
                               title="{{ "listing.toSubCategoryText"|trans }}">
                                {{ "listing.toSubCategoryText"|trans }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
