{% block block_feldmann_four_columns %}
    {% set id = element.id %}

    <div class="col-12">
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="image-container">
                    {% set element = block.slots.getSlot('colOneImage') %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>

                {% set element = block.slots.getSlot('colOneText') %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>

            <div class="col-6 col-md-3">
                <div class="image-container">
                    {% set element = block.slots.getSlot('colTwoImage') %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>

                {% set element = block.slots.getSlot('colTwoText') %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>

            <div class="col-6 col-md-3">
                <div class="image-container">
                    {% set element = block.slots.getSlot('colThreeImage') %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>

                {% set element = block.slots.getSlot('colThreeText') %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>

            <div class="col-6 col-md-3">
                <div class="image-container">
                    {% set element = block.slots.getSlot('colFourImage') %}
                    {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
                </div>

                {% set element = block.slots.getSlot('colFourText') %}
                {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
            </div>
        </div>
    </div>
{% endblock %}
