{% block block_feldmann_accordion_standard %}
    <div class="accordion-container col-12">
        {% set element = block.slots.getSlot('accordion') %}
        {% sw_include "@Storefront/storefront/element/cms-element-" ~ element.type ~ ".html.twig" ignore missing %}
    </div>
{% endblock %}
