:not(.has--b2b-form).is--b2b-acl-forbidden,
.is--hidden {
  display: none !important;
  pointer-events: none !important;
}

.is--align-center {
  text-align: center;
}

.is--align-left {
  text-align: left;
}

.is--align-right {
  text-align: right;
}

.no--scroll {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.right {
  float: right;
}

.full-width {
  width: 100% !important;
}

.list--unstyled {
  padding-left: 0;
  list-style: none;
}
