{% block b2b_offerthroughcheckout_grid %}
    <div class="b2b--checkout-offer mx-0 mx-xl-5">

        {% block b2b_offerthroughcheckout_grid_head %}
            {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bofferthroughcheckout/grid/_head.html.twig" %}
        {% endblock %}

        <hr class="py-2"/>

        {% block b2b_offerthroughcheckout_grid_error %}
            {% if errors %}
                <div class="modal--errors error--list">
                    {%
                        sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                        with {
                        messages: { 'error': errors }
                    } only
                    %}
                </div>
            {% endif %}
        {% endblock %}

        {% block b2b_offerthroughcheckout_list_add_product %}
            <div class="row mb-4 px-2 {{ b2b_acl ('b2bofferthroughcheckout', 'new') }}">
                <div class="col-md">
                    <button
                        data-target="offer-detail-product"
                        data-href="{{ path('frontend.b2b.b2bofferthroughcheckout.new', { offerId: offer.id.getValue}) }}"
                        class="btn d-block d-md-inline-block component-action-create ajax-panel-link is--primary link-modal--small component-action-create"
                    >
                        {% block b2b_offerthroughcheckout_list_add_product_inner %}
                            {{ "b2b.AddLineItemToOffer"|trans }}
                        {% endblock %}
                    </button>
                </div>
            </div>
        {% endblock %}

        {% block b2b_offerthroughcheckout_list %}
            <div class="b2b--grid-container pb-2">
                <div class="content--inner b2b-order-overview">
                    {% block b2b_offerthroughcheckout_list_inner %}
                        {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bofferthroughcheckout/list/_list.html.twig" %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        <hr class="m-0"/>

        {% block b2b_offerthroughcheckout_actions %}
            <div class="row py-5 px-2">

                {% block b2b_offerthroughcheckout_actions_inner %}

                    <div class="col-md-6 mb-4">
                        {% block b2b_offerthroughcheckout_actions_inner_back %}
                            {% block b2b_offerthroughcheckout_actions_inner_back_form %}
                                <form
                                    action="{{ path('frontend.b2b.b2bofferthroughcheckout.backToCheckout') }}"
                                    method="post"
                                    class="ignore--b2b-ajax-panel"
                                    data-csrf-token="{{ sw_csrf('frontend.b2b.b2bofferthroughcheckout.backToCheckout', { mode: 'token' }) }}"
                                >
                                    {% block b2b_offerthroughcheckout_actions_inner_back_form_csrf %}
                                        {{ sw_csrf('frontend.b2b.b2bofferthroughcheckout.backToCheckout') }}
                                    {% endblock %}

                                    {% block b2b_offerthroughcheckout_actions_inner_back_form_inner %}
                                        {% block b2b_offerthroughcheckout_actions_inner_back_form_inputs %}
                                            <input
                                                type="hidden"
                                                name="offerId"
                                                value="{{ offer.id.getValue }}"
                                            />
                                        {% endblock %}

                                        {% block b2b_offerthroughcheckout_actions_inner_back_form_submit %}
                                            <button
                                                type="submit"
                                                class="btn"
                                            >
                                                {% sw_icon 'arrow-left' style { pack: 'solid' }  %}
                                                {{ "b2b.BackToCart"|trans }}
                                            </button>
                                        {% endblock %}
                                    {% endblock %}
                                </form>
                            {% endblock %}
                        {% endblock %}
                    </div>

                    <div class="col-md-6 mb-4 text-right">
                        {% block b2b_offerthroughcheckout_actions_inner_sendOffer %}
                            {% block b2b_offerthroughcheckout_actions_inner_sendOffer_form %}
                                <form
                                    action="{{ path('frontend.b2b.b2bofferthroughcheckout.sendOffer') }}"
                                    method="post"
                                    class="form--inline {{ b2b_acl('b2bofferthroughcheckout', 'sendOffer') }} ignore--b2b-ajax-panel"
                                    data-csrf-token="{{ sw_csrf('frontend.b2b.b2bofferthroughcheckout.sendOffer', { mode: 'token' }) }}"
                                >
                                    {% block b2b_offerthroughcheckout_actions_inner_sendOffer_form_csrf %}
                                        {{ sw_csrf('frontend.b2b.b2bofferthroughcheckout.sendOffer') }}
                                    {% endblock %}

                                    {% block b2b_offerthroughcheckout_actions_inner_sendOffer_form_inner %}
                                        {% block b2b_offerthroughcheckout_actions_inner_sendOffer_form_inputs %}
                                            <input
                                                type="hidden"
                                                name="offerId"
                                                value="{{ offer.id.getValue }}"
                                            />
                                        {% endblock %}

                                        <div class="input-group mb-3">
                                            <input
                                                type="text"
                                                name="comment"
                                                class="form-control"
                                                placeholder="{{ 'b2b.CommentPlaceholder'|trans }}"
                                            />
                                            <div class="input-group-append">
                                                {% block b2b_offerthroughcheckout_actions_inner_sendOffer_form_submit %}
                                                    <button
                                                        type="submit"
                                                        class="btn btn-primary btn-block"
                                                        {% if itemCount is same as (0) %}
                                                            disabled="disabled"
                                                            title="{{ 'b2b.SubmitOfferRequestEmpty'|trans }}"
                                                        {% endif %}
                                                    >
                                                        {{ 'b2b.SubmitOfferRequest'|trans }}
                                                    </button>
                                                {% endblock %}
                                            </div>
                                        </div>

                                    {% endblock %}
                                </form>
                            {% endblock %}
                        {% endblock %}
                    </div>

                {% endblock %}
            </div>
        {% endblock %}

    </div>
{% endblock %}