{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block base_header %}
    {% sw_include '@SwagB2bPlatform/storefront/layout/header/_b2bheader-minimal-checkout.html.twig' %}
{% endblock %}

{% block page_checkout_main_content %}
    <div class="mx-0 mx-md-3">
        <div class="b2b--plugin pt-5 mx-0 mx-lg-5">
            <div
                class="b2b--ajax-panel mx-0 mx-lg-5 bg-transparent shadow-none"
                data-id="offer-grid"
                data-url="{{ path('frontend.b2b.b2bofferthroughcheckout.grid', { offerId: offerId }) }}"
                data-plugins="gridComponent,formInputHolder"
            ></div>

            <div
                class="b2b--ajax-panel b2b-modal-panel"
                data-id="offer-detail-product"
            ></div>
        </div>
    </div>
{% endblock %}

{% block page_checkout_additional %}
{% endblock %}

{% block page_checkout_aside %}
{% endblock %}
