.js--modal {

  .b2b--ajax-panel {

    table.b2b--component-grid {
      width: 100%;
      margin: 0;
      padding: 0;
      border: 0;
      border-collapse: collapse;
      border-spacing: 0;

      thead {
        border-bottom: 1px solid $border-color;

        th {
          border-bottom-color: $brand-secondary;
        }
      }

      tr {
        margin: 0;
        padding: 0;
        border: 0;

        th,
        td {
          border-right: 1px solid $border-color;

          @include unitize-padding(15);
        }
      }
    }
  }
}