.b2b--grid-container {
  position: relative;
  overflow: auto;

  @include unitize-padding(0, 0, 40, 0);

  .b2b--component-pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .table--actions {
    background: getContrast($navigation-background, 3%);
    overflow: auto;

    @include unitize-padding(20, 15, 20, 15);

    @include unitize(margin-top, 10);

    @include unitize(margin-bottom, 20);

    .col-sort {
      float: left;
    }

    select {
      @include unitize(max-width, 355);
    }

    .col-search {
      float: right;
    }
  }

  .b2b--component-pagination {

    @include unitize-margin(0, 15);

    .box--page-info {
      position: absolute;
      left: 0;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      user-select: none;
    }

    .box--page-select {
      width: unset !important;
      max-width: unset !important;
      display: flex;

      .custom-select {
        @include unitize(width, 80);
      }
    }
  }

  table:not(.table--unstyled) {

    th,
    thead td {
      background: transparent;
      color: $table-text-color;
      font-weight: $font-weight-light;
      text-align: left;
      border-bottom: 5px solid $brand-primary;

      @include unitize(font-size, 20);

      @include unitize-padding(8, 4);
    }
  }
}

@media screen and (max-width: $tabletViewportWidth) {

  .b2b--grid-container {
    
    thead {

      tr {
        position: absolute;

        @include unitize(top, -9999);

        @include unitize(left, -9999);
      }
    }

    tr:nth-child(even) {

      td {
        border-bottom: 0 none !important;
      }
    }

    tr:nth-child(2n+3) {

      td {
        border-bottom: 0 none !important;
      }
    }

    td {
      display: flex;

      text-align: left !important;

      &.is--align-right {
        text-align: left !important;
      }

      &:before { content: attr(data-label)": ";
        flex: 0 0 120px;
        font-weight: $font-weight-bold;

        @include unitize(margin-right, 16);

        @include unitize(margin-bottom, 4);
      }

      &.col-actions {
        width: auto !important;
      }
    }
  }
}
