.b2b--plugin,
.b2b--ajax-panel,
.b2b--grid-container {

  table:not(.table--unstyled) {
    width: 100%;
    border-collapse: separate;

    @include unitize(border-spacing, 1);

    @include unitize-margin(0, 0, 20, 0);

    td {
      color: $table-text-color;
      transition: background .3s ease;

      @include unitize-padding(12, 10);

      .btn {

        svg {
          color: $text-color;
        }
      }

      &.col-status {
        text-align: center;
      }
    }

    tr {

      &:nth-child(odd) {

        td {
          background: $table-odd-background;
        }

        &:hover {

          td {
            background: $table-odd-hover;
          }
        }
      }

      &:nth-child(even) {

        td {
          background: $table-even-background;
        }

        &:hover {

          td {
            background: $table-even-hover;
          }
        }
      }
    }

    .col-actions {
      width: 10%;
      white-space: nowrap;
      user-select: none;
    }

    tr.is--disabled {
      cursor: not-allowed;
      opacity: .5;

      input {
        cursor: not-allowed;
      }
    }
  }

  table.table--unstyled {
    background: transparent;
    border: 0 none;
    padding: 0;
    margin: 0 !important;

    tr {
      padding: 0;
      margin: 0;

      td {
        background: transparent;

        &.col-checkbox {
          display: block;

          @include unitize(margin-right, 10);

          span.checkbox {
            float: left;

            @include unitize-padding(0, 10, 0, 10);
          }
        }
      }
    }
  }
}

@include maxWidth("mobile") {

  .b2b--plugin,
  .b2b--ajax-panel {

    .table--actions {

      .col-sort {
        @include unitize(margin-bottom, 20);
      }

      .col-sort,
      .col-search {
        float: unset;
        display: block;

        select {
          max-width: 100%;
        }
      }
    }
  }
}

@include minWidth("tablet") {

  .b2b--plugin,
  .b2b--ajax-panel {

    table:not(.table--unstyled) {
      @include unitize-padding(8, 10);
    }
  }
}