{% sw_extends '@Storefront/storefront/layout/cookie/cookie-permission.html.twig' %}

{% block layout_cookie_permission_inner %}
    <div
        class="cookie-permission-container"
        data-cookie-permission="true" data-ies-cookie-plugin>
        <div class="container">
            <div class="row align-items-center">

                {% block layout_cookie_permission_inner_content %}
                    <div class="col cookie-permission-content">
                        {{ "cookie.message"|trans({
                            '%url%': path('frontend.cms.page', { id: shopware.config.core.basicInformation.privacyPage })
                        })|raw }}
                    </div>
                {% endblock %}

                {% block layout_cookie_permission_inner_button %}
                    <div class="col-12 col-md-auto pr-2 ">
                        {% block layout_cookie_permission_inner_button_deny %}
                        {% endblock %}

                        {% block layout_cookie_permission_inner_button_configuration %}
                            <span class="js-offcanvas-cookie-submit">
                                <button
                                    type="submit"
                                    class="btn btn-secondary">
                                    {{ "cookie.acceptSelected"|trans|sw_sanitize }}
                                </button>
                            </span>

                            <span class="js-cookie-accept-all-button">
                                <button type="submit" class="btn btn-primary">
                                    {{ "cookie.acceptAll"|trans|sw_sanitize }}
                                </button>
                            </span>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
            <div class="row cookie-settings">
                {% for cookieGroup in cookieGroups %}
                    <div class="col flex-grow-0">
                        {% sw_include '@Storefront/storefront/layout/cookie/cookie-configuration-group.html.twig' with {
                            cookieGroup: cookieGroup
                        } only %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
