.company-container {
  @include block-group;

  .block--actions form {
    display: inline-block;
  }

  .b2b--role-default-container {
    @include unitize-padding(20, 20, 20, 20);
  }

  .role-block {
    width: 100%;

    @include unitize-min-height(200);

    @include unitize(margin-bottom, 20);

    &.b2b--ajax-panel .panel {
      margin: 0;

      .panel--title {
        padding-top: 0;

        .block--title {
          @include unitize(padding-top, 6);
        }
      }

      .panel--title,
      .panel--body {
        padding-left: 0;
        margin-left: 0;
      }
    }

    > .panel {
      opacity: 0;
      animation: fadeOpacityIn .3s ease forwards;
    }
  }

  .tab-block {
    width: 100%;

    .info--baloon {
      text-align: center;

      @include unitize-padding(50, 20);

      .baloon--icon {
        display: block;
        text-align: center;

        @include unitize(font-size, 60);
      }

      h2 {
        text-align: center;
      }

      p {
        margin: 0 auto;
        width: 70%;
        text-align: center;
        color: lighten($text-color, 10%);
      }
    }

    .component-table tr .col-actions {
      width: 15%;
    }
  }
}

@include minWidth("tablet") {

  .company-container {

    .tab--container .companyFilterTypeContainer {

      select {
        @include unitize(max-width, 370);
      }
    }

    .tab-block {

      .block--title {
        display: inline-block;
      }

      .block--actions {
        display: inline-block;
        float: right;
        width: auto !important;
        margin: 0;
      }
    }

    .role-block {
      width: 33%;
      float: left;
      margin-bottom: 0;
    }

    .tab-block {
      width: 66%;
      float: right;
    }
  }
}