{% extends '@SwagB2bPlatform/storefront/frontend/b2bdashboard/index.html.twig' %}

{% block b2blayout_content %}
    {%
        set pages = [{
            icon: 'home',
            name: 'Company',
            route: 'b2bcompany'
        }, {
            icon: 'chart-sales',
            name: 'Statistic',
            route: 'b2bstatistic'
        }, {
            icon: 'list',
            name: 'OrderList',
            route: 'b2borderlist'
        }, {
            icon: 'clock',
            name: 'FastOrder',
            route: 'b2bfastorder'
        }]
    %}

    {{ parent() }}
{% endblock %}
