/**
 * Fixes the sliders before javascript was loaded
 */
.gallery-slider-item-container {
    + .gallery-slider-item-container {
        display: none;

        .js-slider-initialized & {
            display: inline-block;
        }
    }
}

.image-slider-item-container {
    + .image-slider-item-container {
        display: none;

        .js-slider-initialized & {
            display: inline-block;
        }
    }
}
