//button
$btn-font-family: 'BrandonText', sans-serif; // could be imported from theme..
$btn-font-size: 15px;
$btn-font-weight: 700;

$btn-padding-y: 20px;
$btn-padding-x: 20px;
$btn-line-height: 1.53;
$btn-border-radius: 0 0 15px 0;
