$background-tag: #F9FAFB;
$border-tag: #C2CCD6;

.b2b-offer-detail-base {

    &__section-debtor {
        h4 {
            font-weight: bold !important;
            margin-bottom: 0;
        }

        &-tags {
            margin-top: 8px;
            font-size: 12px;

            &-item {
                display: inline-block;
                background: $background-tag;
                border: 1px solid $border-tag;
                border-radius: 4px;
                padding: 4px 8px;
            }
        }

        &-actions {
            margin-top: 30px;
        }
    }

    &__section-offer {
        .sw-description-list {
            padding-bottom: 10px;

            dt,
            dd {
                padding: 5px 0;
            }
        }
    }
}