{% block b2b_offer_detail_base %}
    <sw-card
        :title="$tc('b2b-offer.detail.titleBase')"
        class="b2b-offer-detail-base"
    >
        {% block b2b_offer_detail_base_debtor %}
            <sw-card-section
            class="b2b-offer-detail-base__section-debtor"
            divider="bottom"
        >
            <sw-container
                columns="80px 1fr max-content"
                gap="0px 30px"
            >
                {% block b2b_offer_detail_base_debtor_avatar %}
                    <sw-avatar
                        size="80px"
                        :sourceContext="offer.debtor"
                        :firstName="offer.debtor.firstName"
                        :lastName="offer.debtor.lastName">
                    </sw-avatar>
                {% endblock %}

                {% block b2b_offer_detail_base_debtor_information %}
                    <div>
                        <h4>{{ offer.debtor.firstName }} {{ offer.debtor.lastName }}</h4>
                        <div>{{ offer.debtor.company }}</div>
                        <div class="b2b-offer-detail-base__section-debtor-tags">
                            <div
                                v-for="tag in offer.tags"
                                class="b2b-offer-detail-base__section-debtor-tags-item"
                            >
                                {{ tag }}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </sw-container>

            {% block b2b_offer_detail_base_debtor_actions %}
                <div class="b2b-offer-detail-base__section-debtor-actions">
                    {% block b2b_offer_detail_base_debtor_actions_inner %}
                        <sw-button
                            :routerLink="debtorLink"
                            target="_blank"
                        >
                            {{ $tc('b2b-offer.general.buttonViewDebtor') }}
                        </sw-button>
                        <sw-button
                            @click="handleDecline"
                            v-if="!statusAcceptedBoth && !statusConverted"
                            :disabled="!acl.can('b2b-offer.editor') || editMode || statusButtonDisabled"
                        >
                            {{ $tc('b2b-offer.general.buttonDeclineOffer') }}
                        </sw-button>
                        <span v-if="showEditButton && !statusAcceptedBoth && !statusConverted">
                            <sw-button
                                v-if="editMode"
                                @click="handleCancel"
                            >
                                {{ $tc('b2b-offer.general.buttonCancel') }}
                            </sw-button>
                            <sw-button
                                v-else
                                @click="handleEditMode"
                                :disabled="!acl.can('b2b-offer.editor') || statusAcceptedBoth || statusAccepted"
                            >
                                {{ $tc('b2b-offer.general.buttonMakeNewOffer') }}
                            </sw-button>
                        </span>
                        <sw-button
                            variant="primary"
                            @click="handleAccept"
                            v-if="!statusAcceptedBoth && !statusConverted"
                            :disabled="!acl.can('b2b-offer.editor') || editMode || statusButtonDisabled"
                        >
                            {{ $tc('b2b-offer.general.buttonAcceptOffer') }}
                        </sw-button>
                    {% endblock %}
                </div>
            {% endblock %}
        </sw-card-section>
        {% endblock %}

        {% block b2b_offer_detail_base_offer %}
            <sw-card-section
                class="b2b-offer-detail-base__section-offer"
                secondary
                slim
            >
                <sw-container
                    columns="repeat(auto-fit, minmax(250px, 1fr)"
                    gap="0px 15px"
                >
                    {% block b2b_offer_detail_base_offer_details_left %}
                        <div>
                            {% block b2b_offer_detail_base_offer_details_left_inner %}
                                <sw-description-list>
                                    <dt>{{ $tc('b2b-offer.detail.base.labelEmail') }}</dt>
                                    <dd>{{ offer.debtor.email }}</dd>
                                </sw-description-list>

                                <sw-description-list>
                                    <dt>{{ $tc('b2b-offer.detail.base.labelCreated') }}</dt>
                                    <dd>{{ formatDateTime(offer.createdAt) }}</dd>
                                </sw-description-list>

                                <sw-description-list>
                                    <dt>{{ $tc('b2b-offer.detail.base.labelUpdated') }}</dt>
                                    <dd>{{ formatDateTime(offer.changedStatusAt) }}</dd>
                                </sw-description-list>

                                <sw-description-list>
                                    <dt>{{ $tc('b2b-offer.detail.base.labelState') }}</dt>
                                    <dd>{{ $tc('b2b-offer.general.' + offer.status) }}</dd>
                                </sw-description-list>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block b2b_offer_detail_base_offer_details_right %}
                        <div>
                            {% block b2b_offer_detail_base_offer_details_right_inner %}
                                <sw-description-list>
                                    <dt>{{ $tc('b2b-offer.detail.base.labelTotal') }}</dt>
                                    <dd>{{ formatCurrency(offer.listAmountNet) }}</dd>
                                </sw-description-list>

                                <sw-description-list>
                                    <dt>{{ $tc('b2b-offer.detail.base.labelTotalDiscount') }}</dt>
                                    <dd>{{ formatCurrency(offer.discountAmountNet) }}</dd>
                                </sw-description-list>

                                <sw-description-list>
                                    <dt>{{ $tc('b2b-offer.detail.base.labelDiscount') }}</dt>
                                    <dd>{{ getDiscountInfo() }}</dd>
                                </sw-description-list>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </sw-container>
            </sw-card-section>
        {% endblock %}
    </sw-card>
{% endblock %}
