{% block b2b_statistic_filter %}
    <div class="panel has--border is--rounded b2b--chart-filter">
        {% block b2b_statistic_filter_title %}
            <div class="panel--title is--underline">
                <div class="block-group b2b--block-panel">
                    <div class="block block--title">
                        <h3>{{ "b2b.Filter"|trans }}</h3>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block b2b_statistic_filter_panel %}
            <div class="panel--body is--wide">

                <div class="block-group">

                    {% block b2b_statistic_filter_panel_content %}
                        <div class="block filter-container">

                        {% block b2b_statistic_filter_panel_content_datepicker %}
                            <div class="block block-flatpickr">
                                <h5 class="margin-top-none">{{ "b2b.DateLabel"|trans }}</h5>

                                {% block b2b_statistic_filter_panel_content_datepicker_from %}
                                    <div class="block">
                                        {{ "b2b.FromLabel"|trans }}:
                                        <div class="input-group">
                                            <input
                                                class="datepicker"
                                                data-datepicker="true"
                                                name="from"
                                                type="text"
                                                placeholder="{{ "b2b.FromPlaceholder"|trans }}"
                                                data-defaultDate="{% if from %}{{ from.format(dateFormat) }}{% else %}{{ '- 10 days'|date('Y-m-d') }}{% endif %}"
                                            />

                                            <div class="input-group-append flatpickr-icon">
                                                {% sw_icon 'clock' %}
                                            </div>
                                        </div>
                                    </div>
                                {% endblock %}

                                {% block b2b_statistic_filter_panel_content_datepicker_to %}
                                    <div class="block">
                                        {{ "b2b.ToLabel"|trans }}:
                                        <div class="input-group">
                                            <input
                                                class="datepicker"
                                                data-datepicker="true"
                                                name="to"
                                                type="text"
                                                placeholder="{{ "b2b.ToPlaceholder"|trans }}"
                                                data-defaultDate="{% if to %}{{ to.format(dateFormat) }}{% else %}{{ "now"|date('Y-m-d') }}{% endif %}"
                                            />

                                            <div class="input-group-append flatpickr-icon">
                                                {% sw_icon 'clock' %}
                                            </div>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block b2b_statistic_filter_panel_content_types %}
                            <div class="block">
                                <h5 class="margin-top-none">{{ "b2b.StatisticTypes"|trans }}</h5>

                                {% block b2b_statistic_filter_panel_content_types_ordersCount %}
                                    <div class="custom-control custom-checkbox">
                                        <input
                                            type="checkbox"
                                            class="custom-control-input"
                                            id="selects[OrdersCount]"
                                            name="selects[]"
                                            value="orders"
                                            {% if selects is not iterable or 'orders' in selects %}checked="checked"{% endif %}
                                        />
                                        <label
                                            for="selects[OrdersCount]"
                                            class="custom-control-label"
                                        >
                                            {{ "b2b.Label_orders"|trans }}
                                        </label>
                                    </div>
                                {% endblock %}

                                {% block b2b_statistic_filter_panel_content_types_ordersAmountTotal %}
                                    <div class="custom-control custom-checkbox">
                                        <input
                                            type="checkbox"
                                            class="custom-control-input"
                                            id="selects[OrderAmountTotal]"
                                            name="selects[]"
                                            value="orderAmount"
                                            {% if selects is not iterable or 'orderAmount' in selects %}checked="checked"{% endif %}
                                        />
                                        <label
                                            for="selects[OrderAmountTotal]"
                                            class="custom-control-label"
                                        >
                                            {{ "b2b.Label_orderAmount"|trans }}
                                        </label>
                                    </div>
                                {% endblock %}

                                {% block b2b_statistic_filter_panel_content_types_orderAmountWithoutTaxTotal %}
                                    <div class="custom-control custom-checkbox">
                                        <input
                                            type="checkbox"
                                            class="custom-control-input"
                                            id="selects[OrderAmountWithoutTaxTotal]"
                                            name="selects[]"
                                            value="orderAmountNet"
                                            {% if selects is not iterable or 'orderAmountNet' in selects %}checked="checked"{% endif %}
                                        />
                                        <label
                                            for="selects[OrderAmountWithoutTaxTotal]"
                                            class="custom-control-label"
                                        >
                                            {{ "b2b.Label_orderAmountNet"|trans }}
                                        </label>
                                    </div>
                                {% endblock %}

                                {% block b2b_statistic_filter_panel_content_types_itemsCount %}
                                    <div class="custom-control custom-checkbox">
                                        <input
                                            type="checkbox"
                                            class="custom-control-input"
                                            id="selects[ItemsCount]"
                                            name="selects[]"
                                            value="itemCount"
                                            {% if selects is not iterable or 'itemCount' in selects %}checked="checked"{% endif %}
                                        />
                                        <label
                                            for="selects[ItemsCount]"
                                            class="custom-control-label"
                                        >
                                            {{ "b2b.Label_itemCount"|trans }}
                                        </label>
                                    </div>
                                {% endblock %}

                                {% block b2b_statistic_filter_panel_content_types_orderItemQuantityCount %}
                                        <div class="custom-control custom-checkbox">
                                            <input
                                                type="checkbox"
                                                class="custom-control-input"
                                                id="selects[OrderItemQuantityCount]"
                                                name="selects[]"
                                                value="itemQuantityCount"
                                                {% if selects is not iterable or 'itemQuantityCount' in selects %}checked="checked"{% endif %}
                                            />
                                            <label
                                                for="selects[OrderItemQuantityCount]"
                                                class="custom-control-label"
                                            >
                                                {{ "b2b.Label_itemQuantityCount"|trans }}
                                            </label>
                                        </div>
                                    {% endblock %}
                            </div>
                        {% endblock %}

                        {% block b2b_statistic_filter_panel_content_groupy_by %}
                            <div class="block">
                                <h5 class="margin-top-none">{{ "b2b.GroupBy"|trans }}</h5>

                                {% block b2b_statistic_filter_panel_content_groupy_by_inner %}
                                    <div class="custom-control custom-radio">
                                        <input
                                            type="radio"
                                            class="custom-control-input"
                                            id="radio[yearweek]"
                                            name="groupBy"
                                            value="week"
                                            {% if groupBy == 'week' %}checked{% endif %}
                                        />
                                        <label
                                            for="radio[yearweek]"
                                            class="custom-control-label"
                                        >
                                            {{ "b2b.Week"|trans }}
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input
                                            type="radio"
                                            class="custom-control-input"
                                            id="radio[MONTH]"
                                            name="groupBy"
                                            value="month"
                                            {% if groupBy == 'month' %}checked{% endif %}
                                        />
                                        <label
                                            for="radio[MONTH]"
                                            class="custom-control-label"
                                        >
                                            {{ "b2b.Month"|trans }}
                                        </label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input
                                            type="radio"
                                            class="custom-control-input"
                                            id="radio[YEAR]"
                                            name="groupBy"
                                            value="year"
                                            {% if groupBy == 'year' %}checked{% endif %}
                                        />
                                        <label
                                            for="radio[YEAR]"
                                            class="custom-control-label"
                                        >
                                            {{ "b2b.Year"|trans }}
                                        </label>
                                    </div>
                                {% endblock %}
                            </div>
                        {% endblock %}

                        {% block b2b_statistic_filter_panel_content_filter %}
                            <div class="block block-selects">
                                {% block b2b_statistic_filter_panel_content_filter_contact %}
                                    {% if contacts|length > 1 %}
                                        <h5 class="margin-top-none">{{ "b2b.FilterContact"|trans }}</h5>
                                        <div class="select-field">
                                            <select
                                                class="custom-select"
                                                name="authId"
                                            >
                                                {% block b2b_statistic_filter_panel_content_filter_contact_options %}
                                                    <option value="">{{ "b2b.AllContacts"|trans }}</option>
                                                    {% for contact in contacts %}
                                                        <option
                                                            {% if authId == contact.authId %}selected{% endif %}
                                                            value="{{ contact.authId }}"
                                                        >
                                                            {{ contact.lastName }}, {{ contact.firstName }} ({{ contact.email }})
                                                        </option>
                                                    {% endfor %}
                                                {% endblock %}
                                            </select>
                                        </div>
                                    {% endif %}
                                {% endblock %}

                                {% block b2b_statistic_filter_panel_content_filter_role %}
                                    <h5>{{ "b2b.FilterRole"|trans }}</h5>
                                    <div class="select-field">
                                        <select
                                            class="custom-select"
                                            name="roleId"
                                        >
                                            {% block b2b_statistic_filter_panel_content_filter_role_options %}
                                                <option value="">{{ "b2b.DefaultFilter"|trans }}</option>
                                                {% for role in roles %}
                                                    <option
                                                        {% if roleId == role.id.getValue %}selected{% endif %}
                                                        value="{{ role.id.getValue }}"
                                                    >
                                                        {{ role.name }}
                                                    </option>
                                                {% endfor %}
                                            {% endblock %}
                                        </select>
                                    </div>
                                {% endblock %}

                                {% block b2b_statistic_filter_panel_content_filter_state %}
                                    <h5>{{ "b2b.FilterState"|trans }}</h5>
                                    <div class="select-field">
                                        <select
                                            class="custom-select"
                                            name="state"
                                        >
                                            {% block b2b_statistic_filter_panel_content_filter_state_options %}
                                                <option
                                                    {% if state == 'all' %}selected{% endif %}
                                                    value='all'
                                                >
                                                    {{ "b2b.DefaultFilter"|trans }}
                                                </option>
                                                {% for stateOption in states %}
                                                    <option
                                                        {% if state == stateOption.id %}selected{% endif %}
                                                        value={{ stateOption.id }}
                                                    >
                                                        {{ ("b2b.orderState." ~ stateOption.name) | trans}}
                                                    </option>
                                                {% endfor %}
                                            {% endblock %}
                                        </select>
                                    </div>
                                {% endblock %}

                            </div>
                        {% endblock %}
                    </div>
                    {% endblock %}

                    {% block b2b_statistic_filter_panel_actions %}
                        <div class="block-group group--actions text-right">
                            {% block b2b_statistic_filter_panel_actions_inner %}
                                <button
                                    type="submit"
                                    class="btn is--primary b2b-button b2b-highlight"
                                >
                                    {{ "b2b.ApplyFilters"|trans }}
                                </button>

                                <a
                                    target="_blank"
                                    href="{{ path("frontend.b2b.b2bstatistic.exportCsv") }}{% if postParams %}?{{ postParams }}{% endif %}"
                                    class="btn action--export ignore--b2b-ajax-panel b2b-button"
                                    title="{{ "b2b.ExportOrderCsv"|trans }}"
                                >
                                    {{ "b2b.ExportOrderCsv"|trans }}
                                </a>

                                <a
                                    target="_blank"
                                    href="{{ path("frontend.b2b.b2bstatistic.exportXls") }}{% if postParams %}?{{ postParams }}{% endif %}"
                                    class="btn action--export ignore--b2b-ajax-panel b2b-button"
                                    title="{{ "b2b.ExportOrderXls"|trans }}"
                                >
                                    {{ "b2b.ExportOrderXls"|trans }}
                                </a>

                                <a
                                    target="_self"
                                    href=""
                                    class="btn right ignore--b2b-ajax-panel b2b-button b2b-danger"
                                    title="{{ "b2b.ResetFilter"|trans }}"
                                >
                                    {{ "b2b.ResetFilter"|trans }}
                                </a>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}