{% block b2b_statistic_filter %}
    <div class="b2b--chart-filter b2b-accordion">
        <div class="b2b-accordion__title">
            {% block b2b_statistic_filter_title %}
                {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                {{ "b2b.Filter"|trans }}
            {% endblock %}
        </div>

        {% block b2b_statistic_filter_panel %}
            <div class="b2b-accordion__body">
                {% block b2b_statistic_filter_panel_content %}
                    <div class="block mt-3 filter-container">

                    <h5>{{ "b2b.DateLabel"|trans }}</h5>

                    {% block b2b_statistic_filter_panel_content_datepicker %}
                        <div class="form-row">
                            <div class="form-group mr-2">
                                {% block b2b_statistic_filter_panel_content_datepicker_from %}
                                    <label
                                        class="mt-3"
                                        for="from"
                                    >
                                        {{ "b2b.FromLabel"|trans }}
                                    </label>
                                    <div class="input-group">
                                        <input
                                            class="datepicker"
                                            data-datepicker="true"
                                            name="from"
                                            type="text"
                                            placeholder="{{ "b2b.FromPlaceholder"|trans }}"
                                            data-defaultDate="{% if from %}{{ from.format(dateFormat) }}{% else %}{{ '- 10 days'|date('Y-m-d') }}{% endif %}"
                                        />

                                        <div class="input-group-append flatpickr-icon">
                                            <span class="input-group-text">
                                                {% sw_icon 'clock' %}
                                            </span>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>

                            <div class="form-group">
                                {% block b2b_statistic_filter_panel_content_datepicker_to %}
                                    <label
                                        class="mt-3"
                                        for="to"
                                    >
                                        {{ "b2b.ToLabel"|trans }}
                                    </label>
                                    <div class="input-group">
                                        <input
                                            class="datepicker"
                                            data-datepicker="true"
                                            name="to"
                                            type="text"
                                            placeholder="{{ "b2b.ToPlaceholder"|trans }}"
                                            data-defaultDate="{% if to %}{{ to.format(dateFormat) }}{% else %}{{ "now"|date('Y-m-d') }}{% endif %}"
                                        />

                                        <div class="input-group-append flatpickr-icon">
                                            <span class="input-group-text">
                                                {% sw_icon 'clock' %}
                                            </span>
                                        </div>
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    {% endblock %}

                    {% block b2b_statistic_filter_panel_content_types %}
                        <div class="block mt-2">
                            <h5 class="margin-top-none">{{ "b2b.StatisticTypes"|trans }}</h5>

                            {% block b2b_statistic_filter_panel_content_types_ordersCount %}
                                <div class="custom-control custom-checkbox">
                                    <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="selects[OrdersCount]"
                                        name="selects[]"
                                        value="orders"
                                        {% if selects is not iterable or 'orders' in selects %}checked="checked"{% endif %}
                                    />
                                    <label
                                        for="selects[OrdersCount]"
                                        class="custom-control-label"
                                    >
                                        {{ "b2b.Label_orders"|trans }}
                                    </label>
                                </div>
                            {% endblock %}

                            {% block b2b_statistic_filter_panel_content_types_ordersAmountTotal %}
                                <div class="custom-control custom-checkbox">
                                    <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="selects[OrderAmountTotal]"
                                        name="selects[]"
                                        value="orderAmount"
                                        {% if selects is not iterable or 'orderAmount' in selects %}checked="checked"{% endif %}
                                    />
                                    <label
                                        for="selects[OrderAmountTotal]"
                                        class="custom-control-label"
                                    >
                                        {{ "b2b.Label_orderAmount"|trans }}
                                    </label>
                                </div>
                            {% endblock %}

                            {% block b2b_statistic_filter_panel_content_types_orderAmountWithoutTaxTotal %}
                                <div class="custom-control custom-checkbox">
                                    <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="selects[OrderAmountWithoutTaxTotal]"
                                        name="selects[]"
                                        value="orderAmountNet"
                                        {% if selects is not iterable or 'orderAmountNet' in selects %}checked="checked"{% endif %}
                                    />
                                    <label
                                        for="selects[OrderAmountWithoutTaxTotal]"
                                        class="custom-control-label"
                                    >
                                        {{ "b2b.Label_orderAmountNet"|trans }}
                                    </label>
                                </div>
                            {% endblock %}

                            {% block b2b_statistic_filter_panel_content_types_itemsCount %}
                                <div class="custom-control custom-checkbox">
                                    <input
                                        type="checkbox"
                                        class="custom-control-input"
                                        id="selects[ItemsCount]"
                                        name="selects[]"
                                        value="itemCount"
                                        {% if selects is not iterable or 'itemCount' in selects %}checked="checked"{% endif %}
                                    />
                                    <label
                                        for="selects[ItemsCount]"
                                        class="custom-control-label"
                                    >
                                        {{ "b2b.Label_itemCount"|trans }}
                                    </label>
                                </div>
                            {% endblock %}

                            {% block b2b_statistic_filter_panel_content_types_orderItemQuantityCount %}
                                    <div class="custom-control custom-checkbox">
                                        <input
                                            type="checkbox"
                                            class="custom-control-input"
                                            id="selects[OrderItemQuantityCount]"
                                            name="selects[]"
                                            value="itemQuantityCount"
                                            {% if selects is not iterable or 'itemQuantityCount' in selects %}checked="checked"{% endif %}
                                        />
                                        <label
                                            for="selects[OrderItemQuantityCount]"
                                            class="custom-control-label"
                                        >
                                            {{ "b2b.Label_itemQuantityCount"|trans }}
                                        </label>
                                    </div>
                                {% endblock %}
                        </div>
                    {% endblock %}

                    {% block b2b_statistic_filter_panel_content_groupy_by %}
                        <div class="block mt-3">
                            <h5>{{ "b2b.GroupBy"|trans }}</h5>

                            {% block b2b_statistic_filter_panel_content_groupy_by_inner %}
                                <div class="custom-control custom-radio">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="radio[yearweek]"
                                        name="groupBy"
                                        value="week"
                                        {% if groupBy == 'week' %}checked{% endif %}
                                    />
                                    <label
                                        for="radio[yearweek]"
                                        class="custom-control-label"
                                    >
                                        {{ "b2b.Week"|trans }}
                                    </label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="radio[MONTH]"
                                        name="groupBy"
                                        value="month"
                                        {% if groupBy == 'month' %}checked{% endif %}
                                    />
                                    <label
                                        for="radio[MONTH]"
                                        class="custom-control-label"
                                    >
                                        {{ "b2b.Month"|trans }}
                                    </label>
                                </div>
                                <div class="custom-control custom-radio">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="radio[YEAR]"
                                        name="groupBy"
                                        value="year"
                                        {% if groupBy == 'year' %}checked{% endif %}
                                    />
                                    <label
                                        for="radio[YEAR]"
                                        class="custom-control-label"
                                    >
                                        {{ "b2b.Year"|trans }}
                                    </label>
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block b2b_statistic_filter_panel_content_filter %}
                        <div class="form-row mt-4">
                            <div class="form-group mr-2">
                                {% block b2b_statistic_filter_panel_content_filter_contact %}
                                    {% if contacts|length > 1 %}
                                        <label for="authId">{{ "b2b.FilterContact"|trans }}</label>
                                        <select
                                            class="form-control"
                                            name="authId"
                                        >
                                            {% block b2b_statistic_filter_panel_content_filter_contact_options %}
                                                <option value="">{{ "b2b.AllContacts"|trans }}</option>
                                                {% for contact in contacts %}
                                                    <option
                                                        {% if authId == contact.authId %}selected{% endif %}
                                                        value="{{ contact.authId }}"
                                                    >
                                                        {{ contact.lastName }}, {{ contact.firstName }} ({{ contact.email }})
                                                    </option>
                                                {% endfor %}
                                            {% endblock %}
                                        </select>
                                    {% endif %}
                                {% endblock %}
                            </div>

                            <div class="form-group mr-2">
                                {% block b2b_statistic_filter_panel_content_filter_role %}
                                    <label for="roleId">{{ "b2b.FilterRole"|trans }}</label>
                                    <select
                                        class="form-control"
                                        name="roleId"
                                    >
                                        {% block b2b_statistic_filter_panel_content_filter_role_options %}
                                            <option value="">{{ "b2b.DefaultFilter"|trans }}</option>
                                            {% for role in roles %}
                                                <option
                                                    {% if roleId == role.id.getValue %}selected{% endif %}
                                                    value="{{ role.id.getValue }}"
                                                >
                                                    {{ role.name }}
                                                </option>
                                            {% endfor %}
                                        {% endblock %}
                                    </select>
                                {% endblock %}
                            </div>

                            <div class="form-group mr–2">
                                {% block b2b_statistic_filter_panel_content_filter_state %}
                                    <label for="state">{{ "b2b.FilterState"|trans }}</label>
                                    <select
                                        class="form-control"
                                        name="state"
                                    >
                                        {% block b2b_statistic_filter_panel_content_filter_state_options %}
                                            <option
                                                {% if state == 'all' %}selected{% endif %}
                                                value='all'
                                            >
                                                {{ "b2b.DefaultFilter"|trans }}
                                            </option>
                                            {% for stateOption in states %}
                                                <option
                                                    {% if state == stateOption.id %}selected{% endif %}
                                                    value={{ stateOption.id }}
                                                >
                                                    {{ ("b2b.orderState." ~ stateOption.name) | trans}}
                                                </option>
                                            {% endfor %}
                                        {% endblock %}
                                    </select>
                                {% endblock %}
                            </div>

                        </div>
                    {% endblock %}
                </div>
                {% endblock %}

                {% block b2b_statistic_filter_panel_actions %}
                    <div class="text-right">
                        {% block b2b_statistic_filter_panel_actions_inner %}
                            <a
                                target="_self"
                                href=""
                                class="btn btn-outline-danger ignore--b2b-ajax-panel"
                                title="{{ "b2b.ResetFilter"|trans }}"
                            >
                                {{ "b2b.ResetFilter"|trans }}
                            </a>

                            <button
                                type="submit"
                                class="btn btn-primary"
                            >
                                {{ "b2b.ApplyFilters"|trans }}
                            </button>

                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
