{% block b2b_grid_table_row %}
    <tr
        data-row-id="{{ row.id }}"
    >
        {% block b2b_statistic_table_row_cells %}
            <td
                data-label="{{ "b2b.DateLabel"|trans }}"
                class="is--align-left"
            >
                <div>
                    <span>
                        {% if row.clearedAt %}
                            {{ row.clearedAt|date('d.m.Y') }}
                        {% else %}
                            {{ "b2b.OrderNotCleared"|trans }}
                        {% endif %}
                    </span>
                    <br>
                    <small>
                        {{ "b2b.OrderCreatedDate"|trans }}: {{ row.createdAt|date('d.m.Y') }}
                    </small>
                </div>
            </td>
            <td data-label="{{ "b2b.OrderNumberLabel"|trans }}">
                {{ row.orderNumber }}
            </td>

            <td
                data-label="{{ "b2b.CustomerLabel"|trans }}"
                class="is--align-left"
            >
                {% if row.contact %}
                    {{ row.contact.firstName }} {{ row.contact.lastName }}
                {% else %}
                    {{ "b2b.ContactNotFound"|trans }}
                {% endif %}
            </td>

            <td
                data-label="{{ "b2b.OrderAmountLabel"|trans }}"
                class="is--align-right"
            >
                <div>
                    <span>
                        {{ row.amountNet|currency }}
                    </span>
                    <br>
                    <small>
                        {{ "b2b.WithTaxesLabel"|trans }}: {{ row.amount|currency }}
                    </small>
                </div>
            </td>

            <td
                data-label="{{ "b2b.ItemsLabel"|trans }}"
                class="is--align-center"
            >
                {{ row.itemCount }}
            </td>

            <td
                data-label="{{ "b2b.StateLabel"|trans }}"
                class="is--align-left"
            >
                {{ ("b2b.orderState." ~ row.status)|trans }}
            </td>
            <td
                data-label="{{ "b2b.ActionsLabel"|trans }}"
                class="col-actions"
            >
                <button
                    title="{{ "b2b.OrderDetails"|trans }}"
                    type="button"
                    class="ajax-panel-link btn is--small component-action-edit is--align-center {{ b2b_acl('b2border', 'detail') }}"
                    data-target="order-detail"
                    data-href="{{ path('frontend.b2b.b2border.detail', { orderContextId: row.orderContextId.getValue }) }}"
                >
                    {% sw_icon 'pencil-brush' %}
                </button>
            </td>
        {% endblock %}
    </tr>
{% endblock %}