{% block b2b_grid_table_head %}
    <tr>
        <th>{{ "b2b.DateLabel"|trans }}</th>
        <th>{{ "b2b.OrderNumberLabel"|trans }}</th>
        <th>{{ "b2b.CustomerLabel"|trans }}</th>
        <th class="is--right">{{ "b2b.OrderAmountLabel"|trans }}</th>
        <th class="is--center">{{ "b2b.ItemsLabel"|trans }}</th>
        <th>{{ "b2b.StateLabel"|trans }}</th>
        <th>{{ "b2b.ActionsLabel"|trans }}</th>
    </tr>
{% endblock %}