/*
 * @deprecated tag:v4.6.0 - Will be removed
 */

.fadeOpacity--in {
  animation: fadeOpacityIn ease forwards;
}

.fadeOpacity--out {
  animation: fadeOpacityOut ease forwards;
}

@keyframes fadeOpacityIn {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOpacityOut {

  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes flashBackground {

  0% {
    background: $panel-background;
  }

  50% {
    background: getContrast($panel-background, 10%);
  }

  100% {
    background: $panel-background;
  }
}
