{% extends '@SwagB2bPlatform/storefront/frontend/b2border/index.html.twig' %}

{% block b2blayout_content %}
    <div class="module--order">
        <div class="panel--accordion-container">
            <div class="panel panel--accordion panel--accordion-open panel--accordion-mobile-closed">
                <div class="panel--title is--underline">
                    <div class="block-group b2b--block-panel">
                        {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                        <div class="block block--title">
                            <h3>{{ "b2b.Orders"|trans }}</h3>
                        </div>
                    </div>
                </div>
                <div class="panel--body">
                    <div
                        class="b2b--ajax-panel has--b2b-form"
                        data-id="order-grid"
                        data-url="{{ path('frontend.b2b.b2border.grid') }}"
                        data-plugins="gridComponent"
                    ></div>
                </div>
            </div>
        </div>

        <div
            class="b2b--ajax-panel b2b-modal-panel"
            data-id="order-detail"
        ></div>

        <div
            class="b2b--ajax-panel b2b-modal-panel"
            data-id="orderlist-detail"
        ></div>
    </div>
{% endblock %}
