.product-detail-files-title {
    color: #2ab4db;
}

.product-detail-file-container {
    margin-bottom: 0;

    .js-magnifier-zoom-image-container & {
        margin-bottom: 0;
    }
}

.inactive-text {
    display: none;

    .collapsed & {
        display: block;
    }
}
.active-text {
    display: block;

    .collapsed & {
        display: none;
    }
}

.modal.confirmed-download-dialog .modal-dialog{
    max-width: 90%;
}

@include media-breakpoint-up(xl) {
    .modal.confirmed-download-dialog .modal-dialog{
        max-width: 1100px;
    }
}
