{% block b2b_contingentruleorderquantity_form %}
    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.TimeUnit"|trans }}: *
        </div>
        <div class="block box--input">
            <div class="select-field">
                <select name="timeRestriction" class="custom-select">
                    <option value="" disabled selected="selected">{{ "b2b.TimeUnit"|trans }}</option>
                        {% for timeUnit in timeUnits %}
                            <option value="{{ timeUnit }}" {% if rule.timeRestriction == timeUnit %}selected="selected"{% endif %}>{{ ("b2b." ~ timeUnit)|trans }}</option>
                        {% endfor %}
                </select>
            </div>
        </div>
    </div>

    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.ValueLabel"|trans }}: *
        </div>
        <div class="block box--input">
            <input
                type="number"
                step="any"
                class="form-control"
                name="value"
                value="{{ rule.value }}"
                placeholder="{{ "b2b.ValuePlaceholder"|trans }}"
            >
        </div>
    </div>
{% endblock %}