.sw-cms-el-image-slider__text {
    top: 40%;
    left: 55px;
    display: none;
    position: absolute;

    &.is--active {
        display: block;
    }

    .image-head {
        display: block;
        font-size: 30px;
        font-weight: 900;
    }

    .image-sub {
        display: block;
        font-size: 16px;
        line-height: 1.5;
    }
}
