{% block sw_cms_element_image_slider_img %}
    {% parent %}

    <template v-if="element.config.sliderItems.value.length > 0">
        <div v-for="(sliderItem, index) in element.config.sliderItems.value"
             :class="activeButtonClass(sliderItem.mediaUrl)"
             v-if="sliderItem.textActive"
             class="sw-cms-el-image-slider__text"
        >
            <sw-text-editor
                    v-model="sliderItem.text"
                    :isInlineEdit="true">
            </sw-text-editor>
        </div>
    </template>
{% endblock %}
