{% block b2b_offer_history_item_content_status %}
    <div v-else-if="type === 'status'">
        <b class="b2b-offer-history-item__content-title">
            {{ $tc('b2b-offer.detail.history.titleStatus') }}
        </b>
        <div class="b2b-offer-history-item__content-row">
            <span>{{ $tc('b2b-offer.detail.history.previous') }}</span>
            <span>{{ $tc('b2b-offer.general.' + item.logValue.oldValue) }}</span>
        </div>
        <div class="b2b-offer-history-item__content-row">
            <span>{{ $tc('b2b-offer.detail.history.new') }}</span>
            <span>{{ $tc('b2b-offer.general.' + item.logValue.newValue) }}</span>
        </div>
        <div class="b2b-offer-history-item__content-clear"></div>
    </div>
{% endblock %}
