{% sw_extends '@SwagEnterpriseSearchPlatform/storefront/layout/header/suggest-result/completion.html.twig' %}

{% block layout_search_suggest_category_result_name %}
    <div class="col search-suggest-completion">
        <span class="search-suggest-product-name">
            {{ completion.getTerm() }}
        </span>
    </div>
{% endblock %}
