{% sw_extends '@Storefront/storefront/component/product/card/box-standard.html.twig' %}

{% block component_product_box_image %}
    <a href="{{ seoUrl('frontend.detail.page', {'productId': id}) }}"
       class="product-name"
       title="{{ name }}">
        {{ name }}
    </a>

    {{ parent() }}
{% endblock %}

{% block component_product_box_info %}
    <div class="product-info">
        {% block component_product_box_article_nr %}
            <div class="product-article-nr">
                <span class="nr-label">{{ "listing.productNrLabel"|trans }}</span> {{ product.productNumber }}
            </div>
        {% endblock %}

        {% block component_product_box_description %}
            <div class="product-description">
                {% set productDescription = product.translated.description|striptags|raw %}
                {{ productDescription[0:120] }}{% if productDescription|length > 120 %}...{% endif %}
            </div>
        {% endblock %}

        {% if showPrice %}
            <div class="row no-gutters">
                <div class="col-12 col-md-5 pl-3">
                    {% block component_product_box_price %}
                        {% sw_include '@Storefront/storefront/component/product/card/price-unit.html.twig' %}
                    {% endblock %}
                </div>

                <div class="col-12 col-md-7 pl-3 pt-2 pl-md-0 pt-md-0">
                    {% block component_product_box_action %}
                        {% sw_include '@Storefront/storefront/component/product/card/action.html.twig' %}
                    {% endblock %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
