{% sw_extends '@Storefront/storefront/component/product/card/box-minimal.html.twig' %}

{% block component_product_box_rating %}{% endblock %}

{% block component_product_box_article_nr %}{% endblock %}
