{% block b2b_account_masterdata_newsletter %}
    <div class="panel panel--newsletter has--border is--rounded panel--accordion">
        <form
            action="{{ path('frontend.b2b.b2baccount.saveNewsletter') }}"
            method="post"
        >
            {% block b2b_account_masterdata_newsletter_form %}
                {{ sw_csrf('frontend.b2b.b2baccount.saveNewsletter') }}

                <div class="panel--title">
                    {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                    {{ "b2b.AccountHeaderNewsletter"|trans }}
                </div>

                <div class="panel--body is--wide">

                    <div class="custom-control custom-checkbox">
                        {% block b2b_account_masterdata_newsletter_form_input %}
                            <input
                                type="checkbox"
                                class="custom-control-input is--auto-submit"
                                name="newsletter"
                                id="newsletter"
                                data-auto-submit="true"
                                value="{{ not newsletter }}"
                                {% if newsletter %} checked="checked" {% endif %}
                            />
                            <label for="newsletter" class="custom-control-label">
                                {{ "b2b.AccountLabelWantNewsletter"|trans }}
                            </label>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </form>
    </div>
{% endblock %}