{% block b2b_account_masterdata_details %}
    <div class="panel panel--masterdata has--border is--rounded panel--accordion panel--accordion-open">
        {% block b2b_account_masterdata_details_title %}
            <div class="panel--title">
                {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                {{ "b2b.MasterDataLabel"|trans }}
            </div>
        {% endblock %}
        {% block b2b_account_masterdata_details_content %}
            <div class="panel--body">
                <ul class="list--masterdata">
                    {% block b2b_account_masterdata_details_content_list %}
                        {% if identity.debtor %}
                            {% block b2b_account_masterdata_details_content_list_debtor %}
                                <li><span>{{ "b2b.AccountLevelLabel"|trans }}</span> {{ "b2b.ContactLabel"|trans }}</li>
                                <li><span>{{ "b2b.MyDebtor"|trans }}</span> {{ identity.debtor.firstName }} {{ identity.debtor.lastName }}</li>
                            {% endblock %}
                        {% elseif isSalesRep %}
                            {% block b2b_account_masterdata_details_content_list_salesrep %}
                                <li><span>{{ "b2b.AccountLevelLabel"|trans }}</span> {{ "b2b.SalesRepresentativeLabel"|trans }}</li>
                            {% endblock %}
                        {% else %}
                            {% block b2b_account_masterdata_details_content_list_default %}
                                <li><span>{{ "b2b.AccountLevelLabel"|trans }}</span> {{ "b2b.DebtorLabel"|trans }}</li>
                            {% endblock %}
                        {% endif %}

                        <li>
                            <span>{{ "b2b.SalutationLabel"|trans }}</span>
                            {{ identity.salutation }}
                        </li>
                        <li><span>{{ "b2b.NameLabel"|trans }}</span> {{ identity.firstName }} {{ identity.lastName }}</li>
                        <li><span>{{ "b2b.EmailLabel"|trans }}</span> {{ identity.email }}</li>
                        <li>
                            <span>{{ "b2b.CustomerNumberLabel"|trans }}</span>
                            {% if identity.customernumber is defined %}
                                {{ identity.customernumber }}
                            {% elseif identity.debtor is defined %}
                                {{ identity.debtor.customernumber }}
                            {% endif %}
                        </li>
                    {% endblock %}
                </ul>
            </div>
        {% endblock %}
    </div>
{% endblock %}