{% block b2b_account_masterdata_password %}
    <form
        action="{{ path('frontend.b2b.b2baccount.savePassword') }}"
        method="post"
        class="b2b-accordion"
    >
        {% block b2b_account_masterdata_password_form %}
            {{ sw_csrf('frontend.b2b.b2baccount.savePassword') }}

            {% block b2b_account_masterdata_password_form_title %}
                <div class="b2b-accordion__title">
                    {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                    {{ "b2b.ChangePassword"|trans }}
                </div>
            {% endblock %}

            <div class="b2b-accordion__body">
                {% block b2b_account_masterdata_password_form_input %}
                    <label for="currentPassword">{{ "b2b.CurrentPasswordLabel"|trans }} *</label>
                    <div class="input-group mb-3">
                        <input 
                            class="form-control" 
                            type="password" 
                            name="currentPassword" 
                            placeholder="{{ "b2b.CurrentPasswordPlaceholder"|trans }}"
                            autocomplete="current-password"
                        >
                    </div>

                    <label for="password">{{ "b2b.NewPasswordLabel"|trans }} *</label>
                    <div class="input-group mb-3">
                        <input 
                            class="form-control" 
                            type="password"
                            name="password" 
                            placeholder="{{ "b2b.NewPasswordPlaceholder"|trans }}"
                            autocomplete="new-password"
                        >
                    </div>

                    <label for="passwordConfirmation">{{ "b2b.ConfirmPasswordLabel"|trans }} *</label>
                    <div class="input-group mb-3">
                        <input 
                            class="form-control" 
                            type="password"
                            name="passwordConfirmation" 
                            placeholder="{{ "b2b.ConfirmPasswordPlaceholder"|trans }}"
                            autocomplete="new-password"
                        >
                    </div>

                    {% block b2b_account_masterdata_password_form_input_before_submit %}{% endblock %}

                    <div class="text-right">
                        <button
                            type="submit"
                            class="btn btn-danger"
                        >
                            {{ "b2b.SavePassword"|trans }}
                        </button>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </form>
{% endblock %}
