{% block b2b_account_masterdata %}
    {# @deprecated tag:v4.6.0 - will be removed without replacement #}
    {% block b2b_account_masterdata_inner %}{% endblock %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2baccount/_masterdata/_masterdata-details.html.twig' %}

    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2baccount/_masterdata/_masterdata-password.html.twig' %}

    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2baccount/_masterdata/_masterdata-newsletter.html.twig' %}
{% endblock %}
