{% block b2b_account_masterdata_details %}
    <div class="b2b-accordion b2b-accordion--open">
        {% block b2b_account_masterdata_details_title %}
            <div class="b2b-accordion__title">
                {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                {{ "b2b.MasterDataLabel"|trans }}
            </div>
        {% endblock %}
        {% block b2b_account_masterdata_details_content %}
            <div class="b2b-accordion__body">
                <ul class="list--masterdata">
                    {% block b2b_account_masterdata_details_content_list %}
                        {% if identity.debtor %}
                            {% block b2b_account_masterdata_details_content_list_debtor %}
                                <li><strong>{{ "b2b.AccountLevelLabel"|trans }}</strong> {{ "b2b.ContactLabel"|trans }}</li>
                                <li><strong>{{ "b2b.MyDebtor"|trans }}</strong> {{ identity.debtor.firstName }} {{ identity.debtor.lastName }}</li>
                            {% endblock %}
                        {% elseif isSalesRep %}
                            {% block b2b_account_masterdata_details_content_list_salesrep %}
                                <li><strong>{{ "b2b.AccountLevelLabel"|trans }}</strong> {{ "b2b.SalesRepresentativeLabel"|trans }}</li>
                            {% endblock %}
                        {% else %}
                            {% block b2b_account_masterdata_details_content_list_default %}
                                <li><strong>{{ "b2b.AccountLevelLabel"|trans }}</strong> {{ "b2b.DebtorLabel"|trans }}</li>
                            {% endblock %}
                        {% endif %}

                        <li>
                            <strong>{{ "b2b.SalutationLabel"|trans }}</strong>
                            {{ identity.salutation }}
                        </li>
                        <li><strong>{{ "b2b.NameLabel"|trans }}</strong> {{ identity.firstName }} {{ identity.lastName }}</li>
                        <li><strong>{{ "b2b.EmailLabel"|trans }}</strong> {{ identity.email }}</li>
                        <li>
                            <strong>{{ "b2b.CustomerNumberLabel"|trans }}</strong>
                            {% if identity.customernumber is defined %}
                                {{ identity.customernumber }}
                            {% elseif identity.debtor is defined %}
                                {{ identity.debtor.customernumber }}
                            {% endif %}
                        </li>
                    {% endblock %}
                </ul>
            </div>
        {% endblock %}
    </div>
{% endblock %}
