{% block b2b_account_masterdata %}
    <div class="block block-masterdata panel--accordion-container">
        {% block b2b_account_masterdata_inner %}
            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2baccount/_masterdata/_masterdata-details.html.twig' %}

            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2baccount/_masterdata/_masterdata-password.html.twig' %}

            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2baccount/_masterdata/_masterdata-newsletter.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}