{% block b2b_account_masterdata_password %}
    <div class="panel panel--password has--border is--rounded panel--accordion">
        <form
            action="{{ path('frontend.b2b.b2baccount.savePassword') }}"
            method="post"
        >
            {% block b2b_account_masterdata_password_form %}
                {{ sw_csrf('frontend.b2b.b2baccount.savePassword') }}

                {% block b2b_account_masterdata_password_form_title %}
                    <div class="panel--title">
                        {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                        {{ "b2b.ChangePassword"|trans }}
                    </div>
                {% endblock %}

                <div class="panel--body">
                    <ul class="list--password">
                        {% block b2b_account_masterdata_password_form_input %}
                            <li class="input-group">
                                <span>{{ "b2b.CurrentPasswordLabel"|trans }} *</span>
                                <input class="form-control" type="password" name="currentPassword" placeholder="{{ "b2b.CurrentPasswordPlaceholder"|trans }}">
                            </li>
                            <li class="input-group">
                                <span>{{ "b2b.NewPasswordLabel"|trans }} *</span>
                                <input class="form-control" type='password' name="password" placeholder="{{ "b2b.NewPasswordPlaceholder"|trans }}">
                            </li>
                            <li class="input-group">
                                <span>{{ "b2b.ConfirmPasswordLabel"|trans }} *</span>
                                <input class="form-control" type='password' name="passwordConfirmation" placeholder="{{ "b2b.ConfirmPasswordPlaceholder"|trans }}">
                            </li>

                            {% block b2b_account_masterdata_password_form_input_before_submit %}{% endblock %}

                            <li class="is--right">
                                <button
                                    type="submit"
                                    class="btn btn-buy b2b-button b2b-danger"
                                >
                                    {{ "b2b.SavePassword"|trans }}
                                </button>
                            </li>
                        {% endblock %}
                    </ul>
                </div>
            {% endblock %}
        </form>
    </div>
{% endblock %}