{% block b2b_account_masterdata_newsletter %}
    <form
        class="b2b-accordion"
        action="{{ path('frontend.b2b.b2baccount.saveNewsletter') }}"
        method="post"
        data-auto-submit-native="true"
    >
        {% block b2b_account_masterdata_newsletter_form %}

            <div class="b2b-accordion__title">
                {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                {{ "b2b.AccountHeaderNewsletter"|trans }}
            </div>

            <div class="b2b-accordion__body">

                <div class="custom-control custom-checkbox">
                    {% block b2b_account_masterdata_newsletter_form_input %}
                        <input
                            type="checkbox"
                            class="custom-control-input is--auto-submit"
                            name="newsletter"
                            id="newsletter"
                            value="{{ not newsletter }}"
                            {% if newsletter %}checked="checked"{% endif %}
                        />
                        <label for="newsletter" class="custom-control-label">
                            {{ "b2b.AccountLabelWantNewsletter"|trans }}
                        </label>
                    {% endblock %}
                </div>
            </div>

            {{ sw_csrf('frontend.b2b.b2baccount.saveNewsletter') }}
        {% endblock %}
    </form>
{% endblock %}
