{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail-list-item.html.twig' %}

{% block page_account_order_item_detail_price_value %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_account_order_item_detail_total_value %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}