{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail.html.twig' %}

{% block page_account_order_item_detail_table_header_price %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_account_order_item_detail_table_header_total %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_account_order_item_detail_summary %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}
