{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true,
    actions: false,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {% if type is same as("billing") %}
        {{ "b2b.BillingAddresses"|trans }}
    {% else %}
        {{ "b2b.ShippingAddresses"|trans }}
    {% endif %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% block b2b_contactaddressdefault_messages %}
        {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-message.html.twig" %}
    {% endblock %}

    {% block b2b_contactaddressdefault_grid %}
        {% if addresses %}

            <form
                action="{{ path('frontend.b2b.b2bcontactaddressdefault.grid') }}"
                method="get"
                class="form--inline"
            >
                <input type="hidden" name="contactId" value="{{ contact.id }}">
                <input type="hidden" name="type" value="{{ type }}">

                <div class="b2b-table__actions">
                    {% block b2b_contactaddressdefault_sort_by %}
                        <div class="col-sort">
                            <div class="select-field">
                                <select name="sort-by" class="is--auto-submit custom-select">
                                    {% block b2b_contactaddressdefault_sort_by_options %}
                                        <option value="" selected="selected">
                                            {{ "b2b.SortBy"|trans }}
                                        </option>
                                        <option value="company::asc"{% if gridState.sortBy is same as('company::asc') %} selected="selected"{% endif %}>{{ "b2b.CompanyAsc"|trans }}</option>
                                        <option value="company::desc"{% if gridState.sortBy is same as('company::desc') %} selected="selected"{% endif %}>{{ "b2b.CompanyDesc"|trans }}</option>
                                        <option value="street::asc"{% if gridState.sortBy is same as('street::asc') %} selected="selected"{% endif %}>{{ "b2b.StreetAsc"|trans }}</option>
                                        <option value="street::desc"{% if gridState.sortBy is same as('street::desc') %} selected="selected"{% endif %}>{{ "b2b.StreetDesc"|trans }}</option>
                                        <option value="zipcode::asc"{% if gridState.sortBy is same as('zipcode::asc') %} selected="selected"{% endif %}>{{ "b2b.ZipcodeAsc"|trans }}</option>
                                        <option value="zipcode::desc"{% if gridState.sortBy is same as('zipcode::desc') %} selected="selected"{% endif %}>{{ "b2b.ZipcodeDesc"|trans }}</option>
                                        <option value="city::asc"{% if gridState.sortBy is same as('city::asc') %} selected="selected"{% endif %}>{{ "b2b.CityAsc"|trans }}</option>
                                        <option value="city::desc"{% if gridState.sortBy is same as('city::desc') %} selected="selected"{% endif %}>{{ "b2b.CityDesc"|trans }}</option>
                                    {% endblock %}
                                </select>
                            </div>
                        </div>
                    {% endblock %}

                    {% block b2b_contactaddressdefault_filter %}
                        <div class="col-search">
                            <div class="search--area">
                                <input type="hidden" name="filters[all][field-name]" value="_all_">
                                <input type="hidden" name="filters[all][type]" value="like">
                                <div class="input-group">
                                    <input
                                        onchange="this.form.page.value=1"
                                        type="text"
                                        name="filters[all][value]"
                                        class="form-control"
                                        value="{{ gridState.searchTerm }}"
                                        placeholder="{{ "b2b.SearchPlaceholder"|trans }}"
                                    >
                                    <div class="input-group-append">
                                        <button
                                            title="{{ "b2b.Search"|trans }}"
                                            type="submit"
                                            value="submit"
                                            class="btn header-search-btn"
                                        >
                                            {% sw_icon 'search' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </form>

            <div class="table--responsive">
                <table class="b2b-table table">
                    {% block b2b_contactaddressdefault_grid_head %}
                        <thead class="panel--tr row--default-address">
                            <tr>
                                <th class="panel--th panel--label-default-address">{{ "b2b.DefaultAddressLabel"|trans }}</th>
                                <th class="panel--th panel--label-company">{{ "b2b.CompanyLabel"|trans }}</th>
                                <th class="panel--th panel--label-street">{{ "b2b.StreetLabel"|trans }}</th>
                                <th class="panel--th panel--label-zipcode">{{ "b2b.ZipcodeLabel"|trans }}</th>
                                <th class="panel--th panel--label-city">{{ "b2b.CityLabel"|trans }}</th>
                            </tr>
                        </thead>
                    {% endblock %}
                    {% block b2b_contactaddressdefault_grid_body %}
                        <tbody>
                            {% for address in addresses %}
                                {% block b2b_contactaddressdefault_grid_body_row %}
                                    <tr>

                                        <td class="panel--td panel--label-default-address">
                                            <form
                                                action="{{ path('frontend.b2b.b2bcontactaddressdefault.default') }}"
                                                method="post"
                                                class="b2b--assignment-form ignore--b2b-ajax-panel has--b2b-form {{ b2b_acl('b2bcontactaddressdefault', 'default') }}"
                                            >
                                                {% block b2b_contactaddressdefault_grid_body_row_inner %}
                                                    {{ sw_csrf('frontend.b2b.b2bcontactaddressdefault.default') }}

                                                    <input type="hidden" name="contactId" value="{{ contact.id.getValue }}" />
                                                    <input type="hidden" name="addressId" value="{{ address.id.getValue }}" />
                                                    <input type="hidden" name="type" value="{{ type }}" />
                                                    <span class="radio custom-control custom-radio">
                                                        <input type="radio"
                                                               id="address-{{ address.id.getValue }}"
                                                               name="is_default"
                                                               value="1"
                                                               class="is--auto-submit is--exclusive-selection custom-control-input"
                                                               {% if (type is same as('billing') and address.id.getValue is same as(contact.defaultBillingAddressId.getValue))
                                                                   or (type is same as('shipping') and address.id.getValue is same as(contact.defaultShippingAddressId.getValue)) %}
                                                                   checked="checked"
                                                               {% endif %}
                                                        />
                                                        <label class="custom-control-label" for="address-{{ address.id.getValue }}"></label>
                                                    </span>
                                                {% endblock %}
                                            </form>
                                        </td>


                                        <td class="panel--td panel--label-company">{{ address.company }}</td>
                                        <td class="panel--td panel--label-street">{{ address.street }}</td>
                                        <td class="panel--td panel--label-zipcode">{{ address.zipcode }}</td>
                                        <td class="panel--td panel--label-city">{{ address.city }}</td>
                                    </tr>


                                    <div class="row--address row--default-address panel--tr"></div>
                                {% endblock %}
                            {% endfor %}
                        </tbody>
                    {% endblock %}
                </table>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
     {% if gridState.maxPage %}
        <form
            action="{{ path('frontend.b2b.b2bcontactaddressdefault.grid') }}"
            method="get"
            class="form--inline"
        >
            <input type="hidden" name="contactId" value="{{ contact.id }}">
            <input type="hidden" name="type" value="{{ type }}">

            {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
        </form>
    {% endif %}
{% endblock %}
