{% sw_extends 'administration/index.html.twig' %}

{% block administration_scripts %}
    {{ parent() }}
    <script
        type="text/javascript"
        src="{{ asset('bundles/swagb2bplatform/administration/js/swag-b2b-platform.js') }}"
    ></script>
{% endblock %}