@mixin unitize(
  $property, $value,
  $baseValue: $remScaleFactor
) {
  $pxValue: $value;
  $remScale: (16 / $baseValue);
  $remValue: ($value / $remScale);

  #{$property}: #{$pxValue}px;
  #{$property}: #{$remValue}rem;
}

@mixin unitize-multiple(
  $topValue,
  $rightValue: $topValue,
  $bottomValue: $topValue,
  $leftValue: $rightValue,
  $property: padding,
  $baseValue: $remScaleFactor
) {

  $remScale: (16 / $baseValue);

  $pxTopValue: $topValue;
  $emTopValue: $topValue / $remScale;

  $pxRightValue: $rightValue;
  $emRightValue:  $rightValue / $remScale;

  $pxBottomValue: $bottomValue;
  $emBottomValue: $bottomValue / $remScale;

  $pxLeftValue: $leftValue;
  $emLeftValue: $leftValue / $remScale;

  #{$property}: #{$pxTopValue}px #{$pxRightValue}px #{$pxBottomValue}px #{$pxLeftValue}px;
  #{$property}: #{$emTopValue}rem #{$emRightValue}rem #{$emBottomValue}rem #{$emLeftValue}rem;
}

@mixin unitize-padding(
  $topValue,
  $rightValue: $topValue,
  $bottomValue: $topValue,
  $leftValue: $rightValue,
  $baseValue: $remScaleFactor
) {
  @include unitize-multiple($topValue, $rightValue, $bottomValue, $leftValue, padding, $baseValue);
}

@mixin unitize-margin(
  $topValue,
  $rightValue: $topValue,
  $bottomValue: $topValue,
  $leftValue: $rightValue,
  $baseValue: $remScaleFactor
) {
  @include unitize-multiple($topValue, $rightValue, $bottomValue, $leftValue, margin, $baseValue);
}

@mixin unitize-border-radius(
  $topValue,
  $rightValue: $topValue,
  $bottomValue: $topValue,
  $leftValue: $rightValue,
  $baseValue: $remScaleFactor
) {
  @include unitize-multiple($topValue, $rightValue, $bottomValue, $leftValue, border-radius, $baseValue);
}

@mixin unitize-height($value) {
  @include unitize(height, $value, $remScaleFactor);
}

@mixin unitize-max-height($value) {
  @include unitize(max-height, $value, $remScaleFactor);
}

@mixin unitize-min-height($value) {
  @include unitize(min-height, $value, $remScaleFactor);
}

@mixin unitize-width($value) {
  @include unitize(width, $value, $remScaleFactor);
}

@mixin unitize-max-width($value) {
  @include unitize(max-width, $value, $remScaleFactor);
}

@mixin unitize-min-width($value) {
  @include unitize(min-width, $value, $remScaleFactor);
}