{% block b2b_orderlineitemreference_head %}
    <div class="b2b-order-overview">
        {% block b2b_orderlineitemreference_head_labels %}
            <div class="block-group">
                <span class="state">
                    <strong>{{ "b2b.StateLabel"|trans }}:</strong><br>
                    {{ ("b2b.orderState." ~ state) |trans }}
                </span>
                <span class="created-at">
                    <strong>{{ "b2b.DateLabel"|trans }}:</strong><br>
                    {{ createdAt|date('d.m.Y H:i') }}
                </span>
                <span class="order-reference">
                    <strong>{{ "b2b.OrderNumberLabel"|trans }}:</strong><br>
                    {% if not orderContext.orderNumber %}
                        {{ "b2b.WaitingForClearance"|trans }}
                    {% else %}
                        {{ orderNumber|default('-') }}
                    {% endif %}
                </span>
            </div>
        {% endblock %}

        {% block b2b_orderlineitemreference_head_data %}
            <div class="block-group">
                <span class="item-count">
                    <strong>{{ "b2b.OrderItemQuantityPluralLabel"|trans }}:</strong><br>
                    {{ itemCount }}
                </span>
                    <span class="value">
                    <strong>{{ "b2b.OrderAmountLabel"|trans }}:</strong><br>
                    {{ amountNet|currency }}
                </span>
                    <span class="value">
                    <strong>{{ "b2b.WithTaxesLabel"|trans }}:</strong><br>
                    {{ amount|currency }}
                </span>
            </div>
        {% endblock %}

        {% block b2b_orderlineitemreference_head_cleared_by %}
            {% if orderContext.clearedBy %}
                <div class="block-group">
                    <span class="value">
                        <strong>{{ "b2b.ContactLabel"|trans }}:</strong><br>
                        {{ orderContext.owner.firstName }}
                        {{ orderContext.owner.lastName }}
                    </span>
                    <span class="value">
                        <strong>{{ "b2b.ResponsibleLabel"|trans }}:</strong><br>
                        {{ orderContext.clearedBy.postalSettings.firstName }}
                        {{ orderContext.clearedBy.postalSettings.lastName }}
                    </span>
                        <span class="created-at">
                        <strong>{{ "b2b.DateOfOrderClearanceLabel"|trans }}:</strong><br>
                        {{ orderContext.clearedAt }}
                    </span>
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
