{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    actions: true,
    content: {
        padding: false
    }
} %}

{% set orderEditable = orderContext.isEditable %}

{% if not orderEditable %}
    {% for row in itemGrid.data %}
        {% if row.isEditable %}
            {% set hasEditableRow = true %}
        {% endif %}
    {% endfor %}
{% endif %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ 'b2b.Positions'|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}
    {% if orderEditable %}

        {% set modalSettings = modalSettings|merge({ actions: true }) %}

        <button
            data-target="contingent-tab-content"
            data-href="{{ path('frontend.b2b.b2borderlineitemreference.new', { orderContextId: orderContext.id.getValue, isEditable: orderEditable }) }}"
            title="{{ "b2b.AddLineItem"|trans }}"
            class="btn component-action-create ajax-panel-link ajax-panel--ignore-history {{ b2b_acl('b2borderlineitemreference', 'new') }}"
        >
            {{ "b2b.AddLineItem"|trans }}
        </button>
    {% endif %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <div class="b2b--grid-container">
        {% sw_include "@SwagB2bPlatform/storefront/frontend/b2borderlineitemreference/_head.html.twig" %}

        {% if errors %}
            <div class="modal--errors error--list">
                {%
                    sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                    with {
                        messages: { 'error': errors }
                    } only
                %}
            </div>
        {% endif %}

        {% if itemGrid.data|length > 0 %}
            {% sw_include "@SwagB2bPlatform/storefront/frontend/b2borderlineitemreference/list/_list.html.twig" %}
        {% endif %}
    </div>
{% endblock %}
