{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    content: {
        padding: false
    },
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.MasterDataLabel"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% set orderEditable = orderContext.isEditable() %}

    <div class="content--inner b2b-order-overview">
        {% block b2b_orderlineitemreference_masterdata_content_inner %}

            {% sw_include "@SwagB2bPlatform/storefront/frontend/b2borderlineitemreference/_head.html.twig" %}

            <div class="block-spacer mb-4"></div>

            <div class="block-group">
                <div class="block">
                    <h4>
                        {{ "b2b.ShippingAddress"|trans }}
                    </h4>

                    {% sw_include "@SwagB2bPlatform/storefront/frontend/b2borderlineitemreference/master-data/_address-detail.html.twig" with {'address': shippingAddress} %}
                </div>

                <div class="block">
                    <h4>
                        {{ "b2b.BillingAddress"|trans }}
                    </h4>
                    {% sw_include "@SwagB2bPlatform/storefront/frontend/b2borderlineitemreference/master-data/_address-detail.html.twig" with {'address': billingAddress} %}
                </div>
            </div>

            <div class="block-group">
                <div class="block">
                    <table>
                        <tr>
                            <td>{{ "b2b.Shipping"|trans }}</td>
                            <td>
                                {{ shippingName|default("b2b.NoShippingMethod"|trans) }}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ "b2b.ShippingAmount"|trans }}</td>
                            <td>
                                {{ orderContext.shippingAmountNet|currency }}
                                <br>
                                <small>{{ "b2b.WithTaxesLabel"|trans }}: {{ orderContext.shippingAmount|currency }}</small>
                            </td>
                        </tr>
                    </table>
                </div>

                {% if paymentName %}
                    <div class="block">
                        <table>
                            <tr>
                                <td><b>{{ "b2b.Billing"|trans }}</b></td>
                                <td>{{ paymentName }}</td>
                            </tr>
                        </table>
                    </div>
                {% endif %}
            </div>

            {% if orderInfo %}
                <div class="block-group">
                    <div class="block">
                        <b>{{ "b2b.OrderList"|trans }}</b>
                        <div>{{ orderInfo }}</div>
                    </div>
                </div>
            {% endif %}

            {% if salesRepresentative %}
                <div class="block-group">
                    <div class="block">
                        <b>{{ "b2b.SalesRepresentativeLabel"|trans }}</b>
                        <div>{{ salesRepresentative.salutation }} {{ salesRepresentative.firstName }} {{ salesRepresentative.lastName }}</div>
                    </div>
                </div>
            {% endif %}

            <div class="block-spacer mb-4"></div>

            {% set allowUpdateMasterData = orderEditable and b2b_acl_check('b2borderlineitemreference', 'updateMasterData') %}

            <div class="form-row">
                <div class="form-group col-sm-6">
                    <label>{{ "b2b.OrderReferenceNumber"|trans }}</label>
                    <input
                        type="text"
                        {% if not allowUpdateMasterData %}
                            disabled="disabled"
                        {% else %}
                            data-b2b-form-input-holder="true"
                            data-targetElement="orderReferenceHidden"
                        {% endif %}
                        class="form-control"
                        name="orderReferenceHolder"
                        value="{{ orderContext.orderReference }}"
                        placeholder="{{ "b2b.NoOrderReferencePlaceholder"|trans }}"
                    />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-6">

                    <label>{{ "b2b.RequestedDeliveryDateLabel"|trans }}</label>
                    <input
                        type="text"
                        {% if not allowUpdateMasterData %}
                            disabled="disabled"
                        {% else %}
                            data-b2b-form-input-holder="true"
                            data-targetElement="requestedDeliveryDateHidden"
                        {% endif %}
                        class="form-control"
                        name="requestedDeliveryDateHolder"
                        value="{{ orderContext.requestedDeliveryDate }}"
                        placeholder="{{ "b2b.NoRequestedDeliveryDatePlaceholder"|trans }}"
                    />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label>{{ "b2b.CommentLabel"|trans }}</label>
                    <textarea
                        class="form-control"
                        placeholder="{{ "b2b.CommentInputPlaceholder"|trans }}"
                        data-b2b-form-input-holder="true"
                        data-targetElement="commentHidden"
                        autofocus
                        {% if not allowUpdateMasterData %}disabled{% endif %}
                    >
                        {{- comment -}}
                    </textarea>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}

    {% if b2b_acl_check('b2borderlineitemreference', 'updateMasterData') %}
        {% set orderEditable = orderContext.isEditable() %}

        <div class="bottom--actions text-right">
            <form
                action="{{ path('frontend.b2b.b2borderlineitemreference.updateMasterData') }}"
                method="post"
                data-ajax-panel-trigger-reload="order-grid,order-clearance-grid"
            >
                {% block b2b_orderlineitemreference_masterdata_footer %}
                    {{ sw_csrf('frontend.b2b.b2borderlineitemreference.updateMasterData') }}

                    {% if orderEditable %}
                        <input type="hidden" name="orderReference" class="orderReferenceHidden" value="{{ orderContext.orderReference }}">
                        <input type="hidden" name="requestedDeliveryDate" class="requestedDeliveryDateHidden" value="{{ orderContext.requestedDeliveryDate }}">
                    {% endif %}

                    <input type="hidden" name="orderContextId" value="{{ orderContext.id.getValue }}">
                    <input type="hidden" name="comment" class="commentHidden" value="{{ comment }}">
                    <button
                        type="submit"
                        class="btn btn-primary"
                    >
                        {{ 'b2b.Save'|trans }}
                    </button>
                {% endblock %}
            </form>
        </div>
    {% endif %}
{% endblock %}
