{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    actions: false,
    content: {
        padding: false
    },
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.AddLineItem"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <form
        action="{{ path('frontend.b2b.b2borderlineitemreference.create') }}"
        method="post"
        class="form--inline order--line-item-new {{ b2b_acl('b2borderlineitemreference', 'create') }}"
        id="form"
        data-ajax-panel-trigger-reload="order-grid,order-clearance-grid"
        data-submit-enter
    >
        {% block b2b_orderlineitemreference %}
            {{ sw_csrf('frontend.b2b.b2borderlineitemreference.create') }}

            <input type="hidden" name="orderContextId" value="{{ orderContextId }}">
            <input type="hidden" name="isEditable" value="{{ isEditable }}">

            <div class="scrollable without--any with--padding">
                {% if errors %}
                    <div class="modal--errors error--list">
                        {%
                            sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                            with {
                                messages: { 'error': errors }
                            } only
                        %}
                    </div>
                {% endif %}

                {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderlineitemreference/_form.html.twig' %}
            </div>
        {% endblock %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions">
        <button
            class="btn"
            type="submit"
            data-form-id="form"
            tabindex="0"
        >
            {{ "b2b.Save"|trans }}
        </button>
    </div>
{% endblock %}