{% block sw_order_detail_base_secondary_info_order_overview_right_column %}
    {% parent() %}

    {% block sw_order_detail_base_secondary_info_order_reference %}
        <dt>{{ $tc('b2b.order.detail.orderReferenceLabel') }}</dt>
        <dd>{{ getOrderReferenceNumber }}</dd>
    {% endblock %}

    {% block sw_order_detail_base_secondary_info_requested_delivery_date %}
        <dt>{{ $tc('b2b.order.detail.deliveryDateLabel') }}</dt>
        <dd>{{ getRequestedDeliveryDate }}</dd>
    {% endblock %}
{% endblock %}