{% block b2b_contact_form_errors %}
    {% if errors %}
        <div class="modal--errors error--list">
            {%
                sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                with {
                    messages: { 'error': errors }
                } only
            %}
        </div>
    {% endif %}
{% endblock %}

{% block b2b_contact_form_rows %}

    <div class="form-row">
        <div class="form-group col-sm-6">
            {% block b2b_contact_form_rows_salutation %}
                <label>{{ "b2b.SalutationLabel"|trans }} *</label>

                {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bsalutationselect/_salutation-select.html.twig" with {'selectedSalutation': contact.salutation} %}
            {% endblock %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            {% block b2b_contact_form_rows_firstName %}
                <label for="firstName">{{ "b2b.FirstNameLabel"|trans }} *</label>
                <input
                    class="form-control"
                    type="text"
                    name="firstName"
                    value="{{ contact.firstName }}"
                    placeholder="{{ "b2b.FirstNamePlaceholder"|trans }}"
                    autofocus
                >
            {% endblock %}
        </div>
        <div class="form-group col-sm-6">
            {% block b2b_contact_form_rows_lastName %}
                <label for="lastName">{{ "b2b.LastNameLabel"|trans }} *</label>
                <input
                    class="form-control"
                    type="text"
                    name="lastName"
                    value="{{ contact.lastName }}"
                    placeholder="{{ "b2b.LastNamePlaceholder"|trans }}"
                >
            {% endblock %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            {% block b2b_contact_form_rows_email %}
                <label for="email">{{ "b2b.EmailLabel"|trans }} *</label>
                <input
                    class="form-control"
                    type="email"
                    name="email"
                    value="{{ contact.email }}"
                    placeholder="{{ "b2b.EmailPlaceholder"|trans }}"
                >
            {% endblock %}
        </div>

        <div class="form-group col-sm-6">
            {% block b2b_contact_form_rows_department %}
                <label for="department">{{ "b2b.DepartmentLabel"|trans }}</label>
                <input
                    class="form-control"
                    type="text"
                    name="department"
                    value="{{ contact.department }}"
                    placeholder="{{ "b2b.DepartmentPlaceholder"|trans }}"
                >
            {% endblock %}
        </div>
    </div>

    <div 
        class="form-row b2b--password"
        {% if type is same as("create") %}hidden{% endif %}
    >
        <div class="form-group col-sm-6">
            {% block b2b_contact_form_rows_passwordNew %}
                <label for="passwordNew">{{ "b2b.PasswordLabel"|trans }} *</label>
                <input
                    type="password"
                    name="passwordNew"
                    class="b2b--input-password form-control"
                    placeholder="{{ "b2b.PasswordPlaceholder"|trans }}"
                    autocomplete="new-password"
                >
            {% endblock %}
        </div>

        <div class="form-group col-sm-6">
            {% block b2b_contact_form_rows_passwordRepeat %}
                <label>{{ "b2b.ConfirmPasswordLabel"|trans }} *</label>
                <input
                    type="password"
                    name="passwordRepeat"
                    class="b2b--input-password form-control"
                    placeholder="{{ "b2b.ConfirmPasswordPlaceholder"|trans }}"
                    autocomplete="new-password"
                >
            {% endblock %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            {% block b2b_contact_form_rows_passwordActivation %}
                <span class="custom-control custom-checkbox box--input">
                    <input
                        type="checkbox"
                        class="custom-control-input b2b--password-activation"
                        id="passwordActivation"
                        name="passwordActivation"
                        value="1"
                        {% if type is same as("create") %}checked="checked"{% endif %}
                    >
                    <label for="passwordActivation" class="custom-control-label">{{ "b2b.PasswordActivationLabel"|trans }}</label>
                </span>
            {% endblock %}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-sm-6">
            {% block b2b_contact_form_rows_active %}
                <span class="custom-control custom-checkbox box--input">
                    <input
                        type="checkbox"
                        class="custom-control-input"
                        id="active"
                        name="active"
                        value="1"
                        {% if contact.active or isNew %}checked="checked"{% endif %}
                    >
                    <label for="active" class="custom-control-label">{{ "b2b.ActiveLabel"|trans }}</label>
                </span>
            {% endblock %}
        </div>
    </div>
{% endblock %}
