{% block b2b_contact_form_errors %}
    {% if errors %}
        <div class="modal--errors error--list">
            {%
                sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                with {
                    messages: { 'error': errors }
                } only
            %}
        </div>
    {% endif %}
{% endblock %}

{% block b2b_contact_form_rows %}

    {% block b2b_contact_form_rows_salutation %}
        <div class="b2b--form-row">
            <div class="block-group b2b--form">
                <div class="block box--label">
                    {{ "b2b.SalutationLabel"|trans }}: *
                </div>
                <div class="block box--input">
                    {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bsalutationselect/_salutation-select.html.twig" with {'selectedSalutation': contact.salutation} %}
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="b2b--form-row">
        {% block b2b_contact_form_rows_firstName %}
            <div class="block-group b2b--form">
                <div class="block box--label">
                    {{ "b2b.FirstNameLabel"|trans }}: *
                </div>
                <div class="block box--input">
                    <input class="form-control" type="text" name="firstName" value="{{ contact.firstName }}" placeholder="{{ "b2b.FirstNamePlaceholder"|trans }}" autofocus >
                </div>
            </div>
        {% endblock %}

        {% block b2b_contact_form_rows_lastName %}
            <div class="block-group b2b--form">
                <div class="block box--label">
                    {{ "b2b.LastNameLabel"|trans }}: *
                </div>
                <div class="block box--input">
                    <input class="form-control" type="text" name="lastName" value="{{ contact.lastName }}" placeholder="{{ "b2b.LastNamePlaceholder"|trans }}">
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="b2b--form-row">
        {% block b2b_contact_form_rows_email %}
            <div class="block-group b2b--form">
                <div class="block box--label">
                    {{ "b2b.EmailLabel"|trans }}: *
                </div>
                <div class="block box--input">
                    <input class="form-control" type="email" name="email" value="{{ contact.email }}" placeholder="{{ "b2b.EmailPlaceholder"|trans }}">
                </div>
            </div>
        {% endblock %}

        {% block b2b_contact_form_rows_department %}
            <div class="block-group b2b--form">
                <div class="block box--label">
                    {{ "b2b.DepartmentLabel"|trans }}:
                </div>
                <div class="block box--input">
                    <input class="form-control" type="text" name="department" value="{{ contact.department }}" placeholder="{{ "b2b.DepartmentPlaceholder"|trans }}">
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="b2b--form-row">
        {% block b2b_contact_form_rows_passwordNew %}
            <div class="block-group b2b--form b2b--password {% if type is same as("create") %}is--hidden{% endif %}">
                <div class="block box--label">
                    {{ "b2b.PasswordLabel"|trans }}: *
                </div>
                <div class="block box--input">
                    <input
                        type="password"
                        name="passwordNew"
                        class="b2b--input-password form-control"
                        placeholder="{{ "b2b.PasswordPlaceholder"|trans }}"
                    >
                </div>
            </div>
        {% endblock %}

        {% block b2b_contact_form_rows_passwordRepeat %}
            <div class="block-group b2b--form b2b--password {% if type is same as("create") %}is--hidden{% endif %}">
                <div class="block box--label">
                    {{ "b2b.ConfirmPasswordLabel"|trans }}: *
                </div>
                <div class="block box--input">
                    <input
                        type="password"
                        name="passwordRepeat"
                        class="b2b--input-password form-control"
                        placeholder="{{ "b2b.ConfirmPasswordPlaceholder"|trans }}"
                    >
                </div>
            </div>
        {% endblock %}
    </div>

    <div class="b2b--form-row">
        {% block b2b_contact_form_rows_passwordActivation %}
            <div class="b2b--form">
                <span class="custom-control custom-checkbox box--input">
                    <input
                        type="checkbox"
                        class="custom-control-input b2b--password-activation"
                        id="passwordActivation"
                        name="passwordActivation"
                        value="1"
                        {% if type is same as("create") %}checked="checked"{% endif %}
                    >
                    <label for="passwordActivation" class="custom-control-label">{{ "b2b.PasswordActivationLabel"|trans }}</label>
                </span>
            </div>
        {% endblock %}

        {% block b2b_contact_form_rows_active %}
            <div class="b2b--form">
                <span class="custom-control custom-checkbox box--input">
                    <input
                        type="checkbox"
                        class="custom-control-input"
                        id="active"
                        name="active"
                        value="1"
                        {% if contact.active or isNew %}checked="checked"{% endif %}
                    >
                    <label for="active" class="custom-control-label">{{ "b2b.ActiveLabel"|trans }}</label>
                </span>
            </div>
        {% endblock %}
    </div>
{% endblock %}