{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.CreateContact"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable %}
    <div class="scrollable with--grid">
        {% if modalSettings.actions %}
            {% block b2b_modal_base_content_inner_scrollable_inner_actions %}
                <div class="inner--actions">
                    {% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}{% endblock %}
                </div>
            {% endblock %}
        {% endif %}

        <form
            action="{{ path('frontend.b2b.b2bcontact.create') }}"
            method="post"
            class="form--inline {{ b2b_acl('b2bcontact', 'create') }}"
            id="form"
            data-ajax-panel-trigger-reload="company-tab-panel"
            data-submit-enter
        >
            {% block b2b_contact_new_form %}
                {{ sw_csrf('frontend.b2b.b2bcontact.create') }}

                {% block b2b_contact_new_form_actions %}
                    <div class="inner--content
                        {% if not modalSettings.actions %} without--actions{% endif %}
                        {% if not modalSettings.bottom %} without--bottom{% endif %}
                        {% if modalSettings.content.padding %} with--padding{% endif %}"
                    >
                        {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bcontact/_form.html.twig" with {'type': 'create'} %}
                        <input type="hidden" name="grantContext" value="{{ grantContext }}"/>
                    </div>
                {% endblock %}

                {% block b2b_modal_base_content_inner_scrollable_inner_bottom %}
                    {% if modalSettings.bottom %}
                            <div class="inner--bottom">
                                <div class="bottom--actions">
                                    {% if isNew %}
                                        <span class="custom-control custom-checkbox create-additional-contact">
                                            <input
                                                type="checkbox"
                                                name="createAdditionalContact"
                                                id="createAdditionalContact"
                                                class="custom-control-input"
                                                title="{{ "b2b.CreateAdditionalContactHelp"|trans }}"
                                                value="1"
                                                {% if (contact.createAdditionalContact and isNew) or createMultiple %}checked="checked"{% endif %}
                                            >

                                            <label for="createAdditionalContact" class="create-additional-contact custom-control-label visible-modal-x align-middle">{{ "b2b.CreateAdditionalContactShort"|trans }}</label>
                                            <label for="createAdditionalContact" class="create-additional-contact custom-control-label visible-modal-sm visible-modal-lg align-middle">{{ "b2b.CreateAdditionalContact"|trans }}</label>
                                    {% endif %}

                                    <button class="btn" type="submit">{{ "b2b.Save"|trans }}</button>

                                    {% if isNew %}
                                        </span>
                                    {% endif %}
                                </div>
                            </div>
                    {% endif %}
                {% endblock %}
            {% endblock %}
        </form>
    </div>
{% endblock %}