{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.CreateContact"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable %}
    <div class="js--modal__content">
        {% if modalSettings.actions %}
            {% block b2b_modal_base_content_inner_scrollable_inner_actions %}
                <div class="inner--actions">
                    {% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}{% endblock %}
                </div>
            {% endblock %}
        {% endif %}

        <form
            action="{{ path('frontend.b2b.b2bcontact.create') }}"
            method="post"
            class="form--inline {{ b2b_acl('b2bcontact', 'create') }}"
            id="form"
            data-ajax-panel-trigger-reload="company-tab-panel"
            data-submit-enter
        >
            {% block b2b_contact_new_form %}
                {{ sw_csrf('frontend.b2b.b2bcontact.create') }}

                {% block b2b_contact_new_form_actions %}
                    <div class="inner--content
                        {% if not modalSettings.actions %} without--actions{% endif %}
                        {% if not modalSettings.bottom %} without--bottom{% endif %}
                        {% if modalSettings.content.padding %} with--padding{% endif %}"
                    >
                        {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bcontact/_form.html.twig" with {'type': 'create'} %}
                        <input type="hidden" name="grantContext" value="{{ grantContext }}"/>
                    </div>
                {% endblock %}

                {% block b2b_modal_base_content_inner_scrollable_inner_bottom %}
                    {% if modalSettings.bottom %}
                        <div class="inner--bottom">
                            <div class="bottom--actions text-right">
                                {% if isNew %}
                                    <span class="custom-control custom-checkbox box--input d-inline-block b2b--lh-20">
                                        <input
                                            type="checkbox"
                                            class="custom-control-input"
                                            id="createAdditionalContact"
                                            name="createAdditionalContact"
                                            value="1"
                                            title="{{ "b2b.CreateAdditionalContactHelp"|trans }}"
                                            {% if contact.active or isNew %}checked="checked"{% endif %}
                                        >
                                        <label
                                            for="createAdditionalContact"
                                            class="custom-control-label"
                                        >
                                            {{ "b2b.CreateAdditionalContactShort"|trans }}
                                        </label>
                                    </span>
                                {% endif %}

                                <button
                                    class="btn btn-primary"
                                    type="submit"
                                >
                                    {{ "b2b.Save"|trans }}
                                </button>
                            </div>
                        </div>
                    {% endif %}
                {% endblock %}
            {% endblock %}
        </form>
    </div>
{% endblock %}
