{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal.html.twig' %}

{% block b2b_modal_base_navigation_header %}
    {{ "b2b.EditContact"|trans }}
{% endblock %}

{% set contactID = contact.id.getValue  %}

{% block b2b_modal_base_navigation_entries %}
    <li class="tab--group">
        {{ "b2b.Account"|trans }}
    </li>
    <li class="{{ b2b_acl('b2bcontact', 'edit') }}">
        <a
            class="b2b--tab-link tab--active"
            data-target="contact-tab-content"
            data-href="{{ path('frontend.b2b.b2bcontact.edit') }}?id={{ contactID }}"
            title="{{ "b2b.MasterDataLabel"|trans }}"
        >
            {{ "b2b.MasterDataLabel"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2bcontactroute', 'index') }}">
        <a class="b2b--tab-link"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontactroute.index') }}?contactId={{ contactID }}"
           title="{{ "b2b.PermissionManagement"|trans }}"
        >
            {{ "b2b.PermissionManagement"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2bcontactrole', 'index') }}">
        <a class="b2b--tab-link"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontactrole.index') }}?contactId={{ contactID }}"
           title="{{ "b2b.RoleAssignment"|trans }}"
        >
            {{ "b2b.RoleAssignment"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2bcontactaddressdefault', 'grid') }}">
        <a class="b2b--tab-link"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontactaddressdefault.grid') }}?contactId={{ contactID }}&type=billing"
           title="{{ "b2b.DefaultBillingAddress"|trans }}"
        >
            {{ "b2b.DefaultBillingAddress"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2bcontactaddressdefault', 'grid') }}">
        <a class="b2b--tab-link"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontactaddressdefault.grid') }}?contactId={{ contactID }}&type=shipping"
           title="{{ "b2b.DefaultShippingAddress"|trans }}"
        >
            {{ "b2b.DefaultShippingAddress"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2bcontactcontingent', 'index') }}">
        <a class="b2b--tab-link"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontactcontingent.index') }}?contactId={{ contactID }}"
           title="{{ "b2b.ContingentManagement"|trans }}"
        >
            {{ "b2b.ContingentManagement"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2bcontactbudget', 'index') }}">
        <a class="b2b--tab-link"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontactbudget.index') }}?contactId={{ contactID }}"
           title="{{ "b2b.BudgetManagement"|trans }}"
        >
            {{ "b2b.BudgetManagement"|trans }}
        </a>
    </li>
    <li class="tab--group">
        {{ "b2b.Visibility"|trans }}
    </li>
    <li class="{{ b2b_acl('b2bcontactaddress', 'grid') }}">
        <a class="b2b--tab-link"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontactaddress.grid') }}?contactId={{ contactID }}&type=billing"
           title="{{ "b2b.BillingAddresses"|trans }}"
        >
            {{ "b2b.BillingAddresses"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2bcontactaddress', 'grid') }}">
        <a class="b2b--tab-link"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontactaddress.grid') }}?contactId={{ contactID }}&type=shipping"
           title="{{ "b2b.ShippingAddresses"|trans }}"
        >
            {{ "b2b.ShippingAddresses"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2bcontactcontactvisibility', 'index') }}">
        <a class="b2b--tab-link"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontactcontactvisibility.index') }}?contactId={{ contactID }}"
           title="{{ "b2b.ContactVisibility"|trans }}"
        >
            {{ "b2b.ContactVisibility"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2bcontactrolevisibility', 'index') }}">
        <a class="b2b--tab-link"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontactrolevisibility.index') }}?contactId={{ contactID }}"
           title="{{ "b2b.RoleVisibility"|trans }}"
        >
            {{ "b2b.RoleVisibility"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2bcontactorderlist', 'index') }}">
        <a class="b2b--tab-link"
           data-target="contact-tab-content"
           data-href="{{ path('frontend.b2b.b2bcontactorderlist.index') }}?contactId={{ contactID }}"
           title="{{ "b2b.OrderListManagement"|trans }}"
        >
            {{ "b2b.OrderListManagement"|trans }}
        </a>
    </li>
{% endblock %}

{% block b2b_modal_base_content_inner %}
    <div class="b2b--ajax-panel has--b2b-form"
         data-id="contact-tab-content"
         data-url="{{ path('frontend.b2b.b2bcontact.edit') }}?id={{ contactID }}"
         data-plugins="assignmentGrid,ajaxPanelDefaultAddress,gridComponent,ajaxPanelUpload"></div>
{% endblock %}
