{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    bottom: true,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ 'b2b.MasterDataLabel'|trans }}
{% endblock %}

{% set avatar = contact.avatar %}

{% if not avatar %}
    {% set avatar = 'https://www.gravatar.com/avatar/9131104d1e8e5153c4212ba517b7fa19?s=400' %}
{% endif %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <div class="block-group b2b--form">
        {% block b2b_contact_edit_messages %}
            {%
                sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
                with { messages: changeMessage } only
            %}
        {% endblock %}

        {% block b2b_contact_edit_label %}
            <div class="block box--label">
                {{ 'b2b.Avatar'|trans }}: *
            </div>
        {% endblock %}

        {% block b2b_contact_edit_avatar %}
            <div class="block-avatar">
                <div class="block-avatar-image">
                    {% block b2b_contact_edit_avatar_content %}
                        <img
                            src="{{ avatar }}"
                            alt="{{ contact.firstName }} {{ contact.lastName }}"
                        />
                    {% endblock %}

                    {% block b2b_contact_edit_avatar_edit %}
                        <div class="block-avatar-edit">
                            <form
                                method="post"
                                class="form--upload b2b--upload-form"
                                data-url="{{ path('frontend.b2b.b2bcontact.processUpload') }}"
                                data-target-panel-id="contact-tab-content"
                                data-simple-upload="true"
                                enctype="multipart/form-data"
                            >
                                {% block b2b_contact_edit_avatar_edit_form %}
                                    {{ sw_csrf('frontend.b2b.b2bcontact.processUpload') }}

                                    <label for="file-avatar">
                                        <div class="overlay--account-background"></div>
                                        <div
                                            class="overlay--account-upload is--primary"
                                            title="{{ 'b2b.ChangeProfilePicture'|trans }}"
                                        >
                                            {% sw_icon 'photocamera' %}

                                            <input
                                                class="input--file"
                                                accept=".png, .jpg, .jpeg, .ico, .gif, .bmp"
                                                type="file"
                                                name="uploadedFile"
                                                id="file-avatar"
                                            />
                                            <div class="form--additional-inputs">
                                                <input
                                                    type="hidden"
                                                    name="id"
                                                    value="{{ contact.id }}"
                                                />
                                            </div>
                                        </div>
                                    </label>
                                {% endblock %}
                            </form>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>

    {% block b2b_contact_edit_update %}
        <form
            action="{{ path('frontend.b2b.b2bcontact.update') }}"
            method="post"
            class="has--b2b-form {{ b2b_acl('b2bcontact', 'update') }}"
            id="form"
            data-ajax-panel-trigger-reload="contact-grid,company-tab-panel"
        >
            {{ sw_csrf('frontend.b2b.b2bcontact.update') }}

            <input
                type="hidden"
                name="id"
                value="{{ contact.id }}"
            >

            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bcontact/_form.html.twig' with { 'type': 'edit' } %}
        </form>
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions">
        {% if isNew %}
            <span class="custom-control custom-checkbox create-additional-contact">
                <label
                    for="createAdditionalContact"
                    class="create-additional-contact custom-control-label visible-modal-xs align-middle"
                >
                    {{ 'b2b.CreateAdditionalContactShort'|trans }}
                </label>
                <label
                    for="createAdditionalContact"
                    class="create-additional-contact custom-control-label visible-modal-sm visible-modal-lg align-middle"
                >
                    {{ 'b2b.CreateAdditionalContact'|trans }}
                </label>
                <input
                    type="checkbox"
                    name="createAdditionalContact"
                    id="createAdditionalContact"
                    class="custom-control-input"
                    title="{{ 'b2b.CreateAdditionalContactHelp'|trans }}"
                    value="1"
                    {% if (contact.createAdditionalContact and isNew) or createMultiple %}checked="checked"{% endif %}
                >
            </span>
        {% endif %}

        <button
            class="btn {{ b2b_acl('b2bcontact', 'update') }}"
            type="submit"
            data-form-id="form"
        >
            {{ 'b2b.Save'|trans }}
        </button>
    </div>
{% endblock %}
