{% block b2b_contact %}
    <div class="panel is--rounded">
        {% block b2b_contact_title %}
            <div class="panel--title is--underline">
                <div class="block-group b2b--block-panel">
                    <div class="block block--title">
                        <h3>{{ "b2b.ContactManagement"|trans }}</h3>
                    </div>

                    {% block b2b_contact_title_new %}
                        <div class="block block--actions">
                            {% if companyFilter.level %}
                                <button
                                    type="button"
                                    data-target="contact-detail"
                                    data-href="{{ path('frontend.b2b.b2bcontact.new') }}?grantContext={{ grantContext }}"
                                    class="btn component-action-create ajax-panel-link {{ b2b_acl('b2bcontact', 'new') }}"
                                    title="{{ "b2b.CreateContact"|trans }}"
                                >
                                    {{ "b2b.CreateContact"|trans }}
                                </button>
                            {% endif %}
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block b2b_contact_body %}
            <div class="panel--body is--wide b2b--grid-container">
                {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bcontact/_grid.html.twig" with {'gridState': gridState} %}
            </div>
        {% endblock %}
    </div>

    {% block b2b_contact_modal %}
        <div
            class="b2b--ajax-panel b2b-modal-panel has--b2b-form"
            data-id="contact-detail"
            data-plugins="contactPasswordActivation"
        ></div>
    {% endblock %}
{% endblock %}
