{% block b2b_contact %}
    {% block b2b_contact_title %}
        <h3>{{ "b2b.ContactManagement"|trans }}</h3>

        {% block b2b_contact_title_new %}
            {% if companyFilter.level %}
                <button
                    type="button"
                    data-target="contact-detail"
                    data-href="{{ path('frontend.b2b.b2bcontact.new') }}?grantContext={{ grantContext }}"
                    class="btn btn-secondary mb-4 component-action-create ajax-panel-link {{ b2b_acl('b2bcontact', 'new') }}"
                    title="{{ "b2b.CreateContact"|trans }}"
                >
                    {{ "b2b.CreateContact"|trans }}
                </button>
            {% endif %}
        {% endblock %}
    {% endblock %}

    {% block b2b_contact_body %}
        {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bcontact/_grid.html.twig" with {'gridState': gridState} %}
    {% endblock %}

    {% block b2b_contact_modal %}
        <div
            class="b2b--ajax-panel b2b-modal-panel has--b2b-form"
            data-id="contact-detail"
            data-plugins="contactPasswordActivation"
        ></div>
    {% endblock %}
{% endblock %}
