{% block acris_rule_surcharge_discount_detail %}
<sw-page class="acris-rule-surcharge-discount-detail" v-if="item">


    {% block acris_rule_surcharge_discount_detail_smart_bar_header %}
    <template slot="smart-bar-header">
        {% block acris_rule_surcharge_discount_detail_smart_bar_header_title %}
        <h2>{{ $tc('acris-rule-surcharge-discount.detail.textHeadline') }}</h2>
        {% endblock %}
    </template>
    {% endblock %}

    {% block acris_rule_surcharge_discount_detail_smart_bar_language %}
    <template #language-switch>
        <sw-language-switch @on-change="onChangeLanguage"
                            :disabled="$route.params.newItem"></sw-language-switch>
    </template>
    {% endblock %}

    {% block acris_rule_surcharge_discount_detail_smart_bar_actions %}
    <template slot="smart-bar-actions">
        {% block acris_rule_surcharge_discount_detail_smart_bar_actions_cancel %}
        <sw-button :disabled="item.isLoading" :routerLink="{ name: 'acris.rule.surcharge.discount.index' }">
            {{ $tc('acris-rule-surcharge-discount.detail.buttonCancel') }}
        </sw-button>
        {% endblock %}

        {% block acris_rule_surcharge_discount_detail_smart_bar_actions_save %}
        <sw-button-process
            class="acris-rule-surcharge-discount-detail__save-action"
            :isLoading="isLoading"
            :processSuccess="processSuccess"
            variant="primary"
            :disabled="isLoading || !item.internalName || !item.displayName || !item.type || !item.value || !item.rules || !item.salesChannels"
            @process-finish="saveFinish"
            @click="onClickSave">
            {{ $tc('acris-rule-surcharge-discount.detail.buttonSave') }}
        </sw-button-process>
        {% endblock %}
    </template>
    {% endblock %}


    {% block acris_rule_surcharge_discount_detail_content %}
    <sw-card-view slot="content">

        {% block acris_rule_surcharge_discount_detail_content_partner_card %}
        <sw-card :isLoading="isLoading" v-if="item"
                 :title="$tc('acris-rule-surcharge-discount.detail.cardRuleSurchargeDiscount')">

            {% block acris_rule_surcharge_discount_detail_content_internal_id %}
            <sw-text-field v-model="item.internalId"
                           class="acris-rule-surcharge-discount-detail__item_internal_id"
                           :label="$tc('acris-rule-surcharge-discount.detail.fieldTitleLabelInternalId')"
                           :helpText="$tc('acris-rule-surcharge-discount.detail.fieldTitleHelpTextInternalName')"
                           :placeholder="$tc('acris-rule-surcharge-discount.detail.fieldTitlePlaceholderInternalId')">
            </sw-text-field>
            {% endblock %}

            {% block acris_rule_surcharge_discount_detail_content_internal_name %}
            <sw-text-field v-model="item.internalName"
                           required
                           class="acris-rule-surcharge-discount-detail__item_internal_name"
                           :label="$tc('acris-rule-surcharge-discount.detail.fieldTitleLabelInternalName')">
            </sw-text-field>
            {% endblock %}

            {% block acris_rule_surcharge_discount_detail_content_display_name %}
            <sw-text-field v-model="item.displayName"
                           required
                           class="acris-rule-surcharge-discount-detail__item_display_name"
                           :label="$tc('acris-rule-surcharge-discount.detail.fieldTitleLabelDisplayName')"
                           :placeholder="placeholder(item, 'displayName', $tc('acris-rule-surcharge-discount.detail.fieldTitlePlaceholderDisplayName'))">
            </sw-text-field>
            {% endblock %}

            {% block acris_rule_surcharge_discount_detail_content_active_checkbox_select %}
            <sw-field v-model="item.active"
                      type="switch"
                      class="acris-rule-surcharge-discount-detail__item_active"
                      :label="$tc('acris-rule-surcharge-discount.detail.fieldTitleLabelActive')"
                      :helpText="$tc('acris-rule-surcharge-discount.detail.fieldTitleHelpTextActive')">
            </sw-field>
            {% endblock %}

            <sw-container columns="1fr 1fr" gap="0px 30px">

                {% block acris_rule_surcharge_discount_detail_content_type %}
                <sw-select-field v-model="item.type"
                               required
                               class="acris-rule-surcharge-discount-detail__item_type"
                               :label="$tc('acris-rule-surcharge-discount.detail.fieldTitleLabelType')"
                               :placeholder="$tc('acris-rule-surcharge-discount.detail.fieldTitlePlaceholderType')">
                    <option value="absolute">{{ $tc('acris-rule-surcharge-discount.detail.fieldSelectTypeOptionAbsolute') }}</option>
                    <option value="percentage">{{ $tc('acris-rule-surcharge-discount.detail.fieldSelectTypeOptionPercentage') }}</option>
                </sw-select-field>
                {% endblock %}

                {% block acris_rule_surcharge_discount_detail_content_value %}
                <sw-field v-model="item.value"
                          type="number"
                          required
                          class="acris-rule-surcharge-discount-detail__item_value"
                          :label="$tc('acris-rule-surcharge-discount.detail.fieldTitleLabelValue')"
                          :helpText="$tc('acris-rule-surcharge-discount.detail.fieldTitleHelpTextValue')"
                          :placeholder="$tc('acris-rule-surcharge-discount.detail.fieldTitlePlaceholderValue')">
                    <template #suffix>
                        {{ valueSuffix }}
                    </template>
                </sw-field>
                {% endblock %}
            </sw-container>

            {% block acris_rule_surcharge_discount_detail_content_rules %}
            <sw-entity-many-to-many-select v-model="item.rules"
                                           v-if="item.rules"
                                           required
                                           :localMode="true"
                                           class="acris-rule-surcharge-discount-detail__item_rules"
                                           :label="$tc('acris-rule-surcharge-discount.detail.fieldTitleLabelRules')"
                                           :placeholder="$tc('acris-rule-surcharge-discount.detail.fieldTitlePlaceholderRules')">
            </sw-entity-many-to-many-select>
            {% endblock %}

            {% block acris_rule_surcharge_discount_detail_content_sales_channels %}
            <sw-entity-many-to-many-select v-model="item.salesChannels"
                                           v-if="item.salesChannels"
                                           required
                                           :localMode="true"
                                           class="acris-rule-surcharge-discount-detail__item_sales_channels"
                                           :label="$tc('acris-rule-surcharge-discount.detail.fieldTitleLabelSalesChannels')"
                                           :placeholder="$tc('acris-rule-surcharge-discount.detail.fieldTitlePlaceholderSalesChannels')">
            </sw-entity-many-to-many-select>
            {% endblock %}

        </sw-card>
        {% endblock %}

    </sw-card-view>
    {% endblock %}

</sw-page>
{% endblock %}
