{% sw_extends '@Storefront/storefront/page/account/register/index.html.twig' %}

{% block page_account_register_advantages_list %}
    <ul class="ml-3 ml-md-3 ml-xl-3">
        {% block page_account_register_advantages_entry1 %}
            <li>{{ "account.registerAdvantage1"|trans|sw_sanitize }}</li>
        {% endblock %}

        {% block page_account_register_advantages_entry2 %}
            <li>{{ "account.registerAdvantage2"|trans|sw_sanitize }}</li>
        {% endblock %}

        {% block page_account_register_advantages_entry3 %}
            <li>{{ "account.registerAdvantage3"|trans|sw_sanitize }}</li>
        {% endblock %}

        {% block page_account_register_advantages_entry4 %}
            <li>{{ "account.registerAdvantage4"|trans|sw_sanitize }}</li>
        {% endblock %}
    </ul>
{% endblock %}
