.sw-cms-el-accordion {
    height: 100%;
    width: 100%;
    min-height: 300px;

    .sw-cms-el-accordion__list {
        list-style: none;
    }

    .sw-cms-el-accordion__list-item {
        padding: 20px;
        border-top: 1px solid #2ab4db;
    }
}
