{% block sw_cms_element_accordion %}
    <div class="sw-cms-el-accordion">
        <template v-if="accordionItems.length > 0">
            <div class="sw-cms-el-accordion__list">
                <div v-for="(accordionItem, index) in accordionItems" class="sw-cms-el-accordion__list-item">
                    <h3>{{ accordionItem.title }}</h3>
                </div>
            </div>
        </template>
    </div>
{% endblock %}
