{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% if not gridState.data|length %}
    {% set bottom = false %}
{% else %}
    {% set bottom = true %}
{% endif %}

{% set modalSettings = {
    bottom: bottom,
    actions: false,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.ContactVisibility"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% block b2b_contactcontactvisibility_messages %}
        {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-message.html.twig" %}
    {% endblock %}

    <form
        action="{{ path('frontend.b2b.b2bcontactcontactvisibility.index') }}?contactId={{ baseContact.id }}"
        method="get"
        class="form--inline"
    >
        <div class="b2b-table__actions">
            {% block b2b_contactcontactvisibility_sort_by %}
                <div class="col-sort">
                    <div class="select-field">
                        <select name="sort-by" class="is--auto-submit custom-select">
                            {% block b2b_contactcontactvisibility_sort_by_options %}
                                <option value="" selected="selected">{{ "b2b.SortBy"|trans }}</option>
                                <option value="firstname::asc"{% if gridState.sortBy is same as('firstname::asc') %} selected="selected"{% endif %}>{{ "b2b.FirstNameAsc"|trans }}</option>
                                <option value="firstname::desc"{% if gridState.sortBy is same as('firstname::desc') %} selected="selected"{% endif %}>{{ "b2b.FirstNameDesc"|trans }}</option>
                                <option value="lastname::asc"{% if gridState.sortBy is same as('lastname::asc') %} selected="selected"{% endif %}>{{ "b2b.LastNameAsc"|trans }}</option>
                                <option value="lastname::desc"{% if gridState.sortBy is same as('lastname::desc') %} selected="selected"{% endif %}>{{ "b2b.LastNameDesc"|trans }}</option>
                                <option value="email::asc"{% if gridState.sortBy is same as('email::asc') %} selected="selected"{% endif %}>{{ "b2b.EmailAsc"|trans }}</option>
                                <option value="email::desc"{% if gridState.sortBy is same as('email::desc') %} selected="selected"{% endif %}>{{ "b2b.EmailDesc"|trans }}</option>
                                <option value="active::asc"{% if gridState.sortBy is same as('active::asc') %} selected="selected"{% endif %}>{{ "b2b.StateAsc"|trans }}</option>
                                <option value="active::desc"{% if gridState.sortBy is same as('active::desc') %} selected="selected"{% endif %}>{{ "b2b.StateDesc"|trans }}</option>
                            {% endblock %}
                        </select>
                    </div>
                </div>
            {% endblock %}

            {% block b2b_contactcontactvisibility_filter %}
                <div class="col-search">
                    <div class="search--area">
                        <input type="hidden" name="filters[all][field-name]" value="_all_">
                        <input type="hidden" name="filters[all][type]" value="like">
                        <div class="input-group">
                            <input
                                type="text"
                                name="filters[all][value]"
                                class="form-control"
                                value="{{ gridState.searchTerm }}"
                                placeholder="{{ "b2b.SearchPlaceholder"|trans }}"
                            >
                            <div class="input-group-append">
                                <button
                                    title="{{ "b2b.Search"|trans }}"
                                    type="submit"
                                    value="submit"
                                    class="btn header-search-btn"
                                >
                                    {% sw_icon 'search' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </form>

    {% block b2b_contactcontactvisibility_grid %}
        <div class="table--responsive b2b--management-grid">
            <table class="b2b-table table">
                <thead>
                    {% block b2b_contactcontactvisibility_grid_head %}
                        <tr>
                            <th>
                                <span title="{{ "b2b.GrantRight"|trans }}">{% sw_icon 'checkmark' %}</span>
                                <span title="{{ "b2b.InheritRight"|trans }}">{% sw_icon 'reply' %}</span>
                            </th>
                            <th class="text-left">{{ "b2b.FirstNameLabel"|trans }}</th>
                            <th class="text-left">{{ "b2b.LastNameLabel"|trans }}</th>
                            <th class="text-left">{{ "b2b.EmailLabel"|trans }}</th>
                        </tr>
                    {% endblock %}
                </thead>
                <tbody>
                    {% block b2b_contactcontactvisibility_grid_content %}
                        {% for contact in contacts %}
                            <tr class="panel--tr">
                                {% block b2b_contactcontactvisibility_grid_content_row %}

                                {% endblock %}

                                <td>
                                    <form
                                        action="{{ path('frontend.b2b.b2bcontactcontactvisibility.assign') }}"
                                        method="post"
                                        class="b2b--assignment-form ignore--b2b-ajax-panel has--b2b-form {{ b2b_acl('b2bcontactcontactvisibility', 'assign') }}"
                                    >
                                        {% block b2b_contactcontactvisibility_grid_content_row_form %}
                                            {{ sw_csrf('frontend.b2b.b2bcontactcontactvisibility.assign') }}

                                            <input type="hidden" name="baseContactId" value="{{ baseContact.id }}" />
                                            <input type="hidden" name="contactId" value="{{ contact.id }}" />
                                            <input type="hidden" name="email" value="{{ contact.email }}" />
                                            <input type="hidden" name="type" value="{{ type }}" />

                                            <span class="custom-control custom-checkbox">
                                                <input
                                                    type="checkbox"
                                                    name="allow"
                                                    id="allow-{{ contact.id.getValue }}"
                                                    value="1"
                                                    {% if contact.foreignAllowed %}checked="checked"{% endif %}
                                                    {% if not contact.ownerGrantable %}disabled{% endif %}
                                                    class="assign--allow is--auto-submit custom-control-input"
                                                />
                                                <label
                                                    for="allow-{{ contact.id.getValue }}"
                                                    class="custom-control-label"
                                                ></label>
                                            </span>

                                            <span class="custom-control custom-checkbox">
                                                <input
                                                    type="checkbox"
                                                    name="grantable"
                                                    id="grantable-{{ contact.id.getValue }}"
                                                    value="1"
                                                    {% if contact.foreignGrantable %}checked="checked"{% endif %}
                                                    {% if not contact.ownerGrantable %}disabled{% endif %}
                                                    class="assign--grantable is--auto-submit custom-control-input"
                                                />
                                                <label
                                                    for="grantable-{{ contact.id.getValue }}"
                                                    class="custom-control-label"
                                                ></label>
                                            </span>
                                        {% endblock %}
                                    </form>
                                </td>

                                {% block b2b_contactcontactvisibility_grid_content_row_form_info %}
                                    <td class="text-left">{{ contact.firstName }}</td>
                                    <td class="text-lefte">{{ contact.lastName }}</td>
                                    <td class="text-left">{{ contact.email }}</td>
                                {% endblock %}
                            </tr>
                        {% endfor %}
                    {% endblock %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    {% if gridState.maxPage %}
        <form
            action="{{ path('frontend.b2b.b2bcontactcontactvisibility.index') }}"
            method="get"
            class="form--inline"
        >
            <input type="hidden" name="contactId" value="{{ baseContact.id }}">

            {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
        </form>
    {% endif %}
{% endblock %}
