{% block b2b_offer_history_item_content_expiration_date_added %}
    <div>
        {{ $tc('b2b-offer.detail.history.labelExpirationDate') }} {{ formatDateTime(item.logValue.newValue) }}
    </div>
{% endblock %}
