.sw-cms-preview-text-accordion {
    display: grid;

    .sw-cms-preview-text-accordion__list {
        list-style: none;
    }

    .sw-cms-preview-text-accordion__list-item {
        padding: 10px;
        border-top: 1px solid #2ab4db;
    }
}
