{% block sw_cms_element_accordion_preview %}
    <div class="sw-cms-preview-text-accordion">
        <ul class="sw-cms-preview-text-accordion__list">
            <li class="sw-cms-preview-text-accordion__list-item">Item 1</li>
            <li class="sw-cms-preview-text-accordion__list-item">Item 2</li>
            <li class="sw-cms-preview-text-accordion__list-item">Item 3</li>
        </ul>
    </div>
{% endblock %}
