.sw-cms-preview-feldmann-hp-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    padding: 15px;

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .sw-cms-preview-main {
        height: 145px;
    }

    .sw-cms-preview-feldmann-hp-grid__side-images {
        height: 100%;
        display: grid;
        grid-template-rows: 65px 65px;
        grid-gap: 15px;
    }
}
