{% block sw_cms_block_feldmann_hp_grid_preview %}
    <div class="sw-cms-preview-feldmann-hp-grid">
        <img class="sw-cms-preview-main" :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
        <div class="sw-cms-preview-feldmann-hp-grid__side-images">
            <div class="sw-cms-preview-feldmann-hp-grid__image-top">
                <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset">
            </div>
            <div class="sw-cms-preview-feldmann-hp-grid__image-bottom">
                <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
            </div>
        </div>
    </div>
{% endblock %}
