<div class="sticky-social-icons-container{% if controllerName|lower == 'checkout' %} d-none d-md-table{% endif %}">
    <div class="sticky-social-icons">
        <div class="sticky-social-icons-item">
            <a href="{{ "social-icons.contact.url"|trans }}">
                {% sw_icon 'envelope' style { 'pack': 'feldmann', 'size': 'sm' } %}
                <span class="sticky-social-icons-item-text">{{ "social-icons.contact.title"|trans }}</span>
            </a>
        </div>
        <div class="sticky-social-icons-item">
            <a href="{{ "social-icons.partner.url"|trans }}">
                {% sw_icon 'phone' style { 'pack': 'feldmann', 'size': 'sm' } %}
                <span class="sticky-social-icons-item-text">{{ "social-icons.partner.title"|trans }}</span>
            </a>
        </div>
        <div class="sticky-social-icons-item">
            <a href="{{ "social-icons.facebook.url"|trans }}" target="_blank">
                {% sw_icon 'facebook' style { 'pack': 'feldmann', 'size': 'sm' } %}
                <span class="sticky-social-icons-item-text">{{ "social-icons.facebook.title"|trans }}</span>
            </a>
        </div>
        <div class="sticky-social-icons-item">
            <a href="{{ "social-icons.youtube.url"|trans }}" target="_blank">
                {% sw_icon 'youtube' style { 'pack': 'feldmann', 'size': 'sm' } %}
                <span class="sticky-social-icons-item-text">{{ "social-icons.youtube.title"|trans }}</span>
            </a>
        </div>
    </div>
</div>
