{% block b2b_dashboard_block %}
    {% if b2b_acl_check(page.route, 'index') %}
        <a
            title="{{ ("b2b." ~ page.name)|trans }}"
            href="{{ url("frontend.b2b." ~ page.route ~ ".index") }}"
            class="{{ b2b_acl(page.route, 'index') }}"
        >
            <div class="dashboard-teaser">
                {% block b2b_dashboard_block_icon %}
                    <div class="icon">
                        {{ source('@Storefront/../app/storefront/dist/assets/icon/default/'~ page.icon ~'.svg', ignore_missing = true) }}
                    </div>
                {% endblock %}

                {% block b2b_dashboard_block_content %}
                    <div class="content">
                        <h3>{{ ("b2b." ~ page.name)|trans }}</h3>
                        <p>{{ ("b2b." ~ page.name ~ "Description")|trans }}</p>
                    </div>
                {% endblock %}
            </div>
        </a>
    {% endif %}
{% endblock %}