{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{%
    set pages = [{
        icon: 'home',
        name: 'Company',
        route: 'b2bcompany'
    }, {
        icon: 'chart-sales',
        name: 'Statistic',
        route: 'b2bstatistic'
    }, {
        icon: 'cart',
        name: 'Orders',
        route: 'b2border'
    }, {
        icon: 'list',
        name: 'OrderList',
        route: 'b2borderlist'
    }, {
        icon: 'clock',
        name: 'FastOrder',
        route: 'b2bfastorder'
    }, {
        icon: 'editor-list-numberd',
        name: 'OrderNumber',
        route: 'b2bordernumber'
    }]
%}

{% block b2blayout_content %}
    <div class="module-dashboard">
        {% block b2b_dashboard_first_entry %}{% endblock %}

        {% block b2b_dashboard_headline %}
            <div class="dashboard--header">
                <h2>{{ "b2b.DashboardTeaser"|trans }}</h2>
                <p>{{ "b2b.DashboardDescription"|trans }}</p>
            </div>
        {% endblock %}

        <div class="dashboard-teaser--container">
            {% block b2b_dashboard_blocks %}
                {% for page in pages %}
                    {% block b2b_dashboard_blocks_item %}
                        {% sw_include
                            '@SwagB2bPlatform/storefront/frontend/b2bdashboard/_block.html.twig'
                            with { page: page } only
                        %}
                    {% endblock %}
                {% endfor %}
            {% endblock %}

            <a class="dashboard-teaser--filler"></a>
            <a class="dashboard-teaser--filler"></a>
        </div>

        {% block b2b_dashboard_last_entry %}{% endblock %}
    </div>
{% endblock %}