{% block sw_cms_block_feldmann_four_columns %}
    <div class="sw-cms-block-feldmann-four-columns">
        <div class="sw-cms-block-feldmann-four-columns__column">
            <slot name="colOneImage"></slot>
            <slot name="colOneText"></slot>
        </div>

        <div class="sw-cms-block-feldmann-four-columns__column">
            <slot name="colTwoImage"></slot>
            <slot name="colTwoText"></slot>
        </div>

        <div class="sw-cms-block-feldmann-four-columns__column">
            <slot name="colThreeImage"></slot>
            <slot name="colThreeText"></slot>
        </div>

        <div class="sw-cms-block-feldmann-four-columns__column">
            <slot name="colFourImage"></slot>
            <slot name="colFourText"></slot>
        </div>
    </div>
{% endblock %}
