.sw-cms-block-feldmann-four-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-content: stretch;
    align-items: start;
    grid-gap: 20px;

    .sw-cms-el-image {
        overflow: hidden;
        border-radius: 50%;
        min-height: auto !important;
    }
}
