{% block b2b_offer_list %}
    <sw-page class="b2b-offer-list">

        {% block b2b_offer_list_smart_bar_header %}
            <template #smart-bar-header>
                {% block b2b_offer_list_smart_bar_header_title %}
                    <h2>
                        {% block b2b_offer_list_smart_bar_header_title_text %}
                            {{ $tc('b2b-offer.list.title') }}
                        {% endblock %}

                        {% block b2b_offer_list_smart_bar_header_amount %}
                            <span
                                v-if="!isLoading"
                                class="sw-page__smart-bar-amount"
                            >
                                ({{ total }})
                            </span>
                        {% endblock %}
                    </h2>
                {% endblock %}
            </template>
        {% endblock %}

        <template #content>
            {% block b2b_offer_list_content %}
                <div class="b2b-offer-list__content">
                    {% block b2b_offer_list_grid %}
                        <sw-data-grid
                            :dataSource="offers"
                            :columns="offerColumns"
                            :showSelection="true"
                            :showActions="true"
                            :showSettings="true"
                            :isLoading="isLoading"
                            :compactMode="true"
                            :fullPage="true"
                            :allowColumnEdit="true"
                            @selection-change="handleSelectionChange"
                        >
                            <template #bulk>
                                {% block b2b_offer_list_grid_bulk_delete %}
                                    <a
                                        class="link link-danger"
                                        @click="showBulkDeleteModal = true"
                                    >
                                        {{ $tc('b2b-offer.general.buttonDelete') }}
                                    </a>
                                {% endblock %}
                            </template>

                            {% block b2b_offer_list_grid_column_id %}
                                <template #column-id="{ item }">
                                    <router-link
                                        :to="{ name: 'b2b.offer.detail', params: { id: item.id } }"
                                    >
                                        {{ item.id }}
                                    </router-link>
                                </template>
                            {% endblock %}

                            {% block b2b_offer_list_grid_column_debotEmail %}
                                <template #column-debtor.email="{ item, compact }">
                                    <sw-avatar
                                        :size="compact ? '32px' : '48px'"
                                        :sourceContext="item.debtor"
                                        :firstName="item.debtor.firstName"
                                        :lastName="item.debtor.lastName"
                                    ></sw-avatar>

                                    <router-link
                                        :to="getDebtorLink(item.debtor)"
                                        target="_blank"
                                    >
                                        {{ item.debtorEmail }}
                                    </router-link>
                                </template>
                            {% endblock %}

                            {% block b2b_offer_list_grid_column_status %}
                                <template #column-status="{ item }">
                                    <span
                                        class="b2b-offer-list__state-label"
                                        :class="getStateLabelClass(item.status)"
                                    >
                                        {{ $tc('b2b-offer.general.' + item.status) }}
                                    </span>
                                </template>
                            {% endblock %}

                            {% block b2b_offer_list_grid_column_listAmountNet %}
                                <template #column-listAmountNet="{ item }">
                                    {{ formatCurrency(item.listAmountNet) }}
                                </template>
                            {% endblock %}

                            {% block b2b_offer_list_grid_column_discountAmountNet %}
                                <template #column-discountAmountNet="{ item }">
                                    {{ formatCurrency(item.discountAmountNet) }}
                                </template>
                            {% endblock %}

                            {% block b2b_offer_list_grid_column_discountValueNet %}
                                <template #column-discountValueNet="{ item }">
                                    <span v-if="!item.percentageDiscount">
                                        {{ formatCurrency(item.discountValueNet) }}
                                    </span>
                                    <span v-else>
                                        {{ item.percentageDiscount }} %
                                    </span>
                                </template>
                            {% endblock %}

                            {% block b2b_offer_list_grid_column_createdAt %}
                                <template #column-createdAt="{ item }">
                                    <span>
                                        {{ formatDateTime(item.createdAt) }}
                                    </span>
                                </template>
                            {% endblock %}

                            {% block b2b_offer_list_grid_column_changedStatusAt %}
                                <template #column-changedStatusAt="{ item }">
                                    <span>
                                        {{ formatDateTime(item.changedStatusAt) }}
                                    </span>
                                </template>
                            {% endblock %}

                            {% block b2b_offer_list_grid_column_expiredAt %}
                                <template #column-expiredAt="{ item }">
                                    <span>
                                        {{ formatDateTime(item.expiredAt) }}
                                    </span>
                                </template>
                            {% endblock %}

                            {% block b2b_offer_list_grid_columns_actions %}
                                <template #actions="{ item }">
                                    {% block b2b_offer_list_grid_columns_actions_detail %}
                                        <sw-context-menu-item
                                            class="b2b-offer-list__detail-action"
                                            :routerLink="{ name: 'b2b.offer.detail', params: { id: item.id } }"
                                        >
                                            {{ $tc('b2b-offer.list.contextMenuDetail') }}
                                        </sw-context-menu-item>
                                    {% endblock %}

                                    {% block b2b_offer_list_grid_columns_actions_debtor %}
                                        <sw-context-menu-item
                                            class="b2b-offer-list__debtor-action"
                                            :routerLink="{ name: 'sw.customer.detail', params: { id: item.debtor.id }, query: { edit: false } }"
                                            target="_blank"
                                        >
                                            {{ $tc('b2b-offer.list.contextMenuDebtor') }}
                                        </sw-context-menu-item>
                                    {% endblock %}

                                    {% block b2b_offer_list_grid_columns_actions_delete %}
                                        <sw-context-menu-item
                                            variant="danger"
                                            @click="onDelete(item.id)"
                                        >
                                            {{ $tc('b2b-offer.list.contextMenuDelete') }}
                                        </sw-context-menu-item>
                                    {% endblock %}
                                </template>
                            {% endblock %}

                            {% block b2b_offer_list_grid_action_modals %}
                                <template #action-modals="{ item }">
                                    {% block b2b_offer_list_delete_modal %}
                                        <sw-modal
                                            v-if="showDeleteModal === item.id"
                                            @modal-close="onCloseDeleteModal"
                                            :title="$tc('b2b-offer.modal.titleDelete')"
                                            variant="small"
                                        >
                                            {% block b2b_offer_list_delete_modal_confirm_delete_text %}
                                                <p class="b2b-offer-list__confirm-delete-text">
                                                    {{ $tc('b2b-offer.modal.textDeleteConfirm') }}
                                                </p>
                                            {% endblock %}

                                            {% block b2b_offer_list_delete_modal_footer %}
                                                <template #modal-footer>
                                                    {% block b2b_offer_list_delete_modal_cancel %}
                                                        <sw-button
                                                            @click="onCloseDeleteModal"
                                                            size="small"
                                                        >
                                                            {{ $tc('b2b-offer.general.buttonCancel') }}
                                                        </sw-button>
                                                    {% endblock %}

                                                    {% block b2b_offer_list_delete_modal_confirm %}
                                                        <sw-button
                                                            @click="onConfirmDelete(item.id)"
                                                            variant="primary"
                                                            size="small"
                                                        >
                                                            {{ $tc('b2b-offer.general.buttonDelete') }}
                                                        </sw-button>
                                                    {% endblock %}
                                                </template>
                                            {% endblock %}
                                        </sw-modal>
                                    {% endblock %}
                                </template>

                                {% block b2b_offer_list_bulk_modal %}
                                    <template #bulk-modals>
                                        <sw-modal
                                            v-if="showBulkDeleteModal"
                                            @modal-close="showBulkDeleteModal = false"
                                            :title="$tc('b2b-offer.modal.titleBulkDelete')"
                                            variant="small"
                                        >
                                            {% block b2b_offer_list_bulk_modal_inner %}
                                                <p class="sw-data-grid__confirm-bulk-delete-text">
                                                    {{ $tc('b2b-offer.modal.textBulkDeleteConfirm') }}
                                                </p>

                                                <template #modal-footer>
                                                    <slot name="bulk-modal-cancel">
                                                        <sw-button
                                                            @click="showBulkDeleteModal = false"
                                                            size="small"
                                                        >
                                                            {{ $tc('b2b-offer.general.buttonCancel') }}
                                                        </sw-button>
                                                    </slot>

                                                    <slot name="bulk-modal-delete-items">
                                                        <sw-button
                                                            @click="onConfirmBulkDelete(selection)"
                                                            variant="primary"
                                                            size="small"
                                                            :isLoading="isBulkLoading"
                                                        >
                                                            {{ $tc('b2b-offer.general.buttonDelete') }}
                                                        </sw-button>
                                                    </slot>
                                                </template>
                                            {% endblock %}
                                        </sw-modal>
                                    </template>
                                {% endblock %}
                            {% endblock %}

                            {% block b2b_offer_list_pagination %}
                                <template #pagination>
                                    <sw-pagination
                                        :page="page"
                                        :limit="limit"
                                        :total="total"
                                        :autoHide="false"
                                        @page-change="onPageChange"
                                    ></sw-pagination>
                                </template>
                            {% endblock %}
                        </sw-data-grid>
                    {% endblock %}

                    {% block b2b_offer_list_empty_state %}
                        <sw-empty-state
                            v-if="!isLoading && !total"
                            :title="$tc('b2b-offer.list.messageEmpty')"
                        ></sw-empty-state>
                    {% endblock %}
                </div>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}
