$background-label-open: #D9DFE6;
$color-label-open: #546578;
$background-label-sent: #DFF6FF;
$color-label-sent: #2F89FF;
$background-label-rejected: #FADEE5;
$color-label-rejected: #D82D50;
$background-label-accepted: #E2F9E4;
$color-label-accepted: #40BC41;
$label-shadow-color: rgba(0, 0, 0, .2);

.b2b-offer-list {

    &__content {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &__state-label {
        padding: 4px 12px;
        background: rgba(0, 0, 0, .1);
        border-radius: 16px;
        box-shadow: 0 0 1px $label-shadow-color;

        &--open {
            background: $background-label-open;
            color: $color-label-open;
        }

        &--sent {
            background: $background-label-sent;
            color: $color-label-sent;
        }

        &--rejected {
            background: $background-label-rejected;
            color: $color-label-rejected;
        }

        &--accepted {
            background: $background-label-accepted;
            color: $color-label-accepted;
        }
    }

    &__sidebar-filter {

        .b2b-offer-list__sidebar-filter-label {
            margin-bottom: 12px;
        }

        .sw-sidebar-item__content {
            padding: 20px;

            .sw-field--select {
                width: calc(100% - 40px);
            }
        }
    }
}
