.block-group {
  display: flex;
  flex-wrap: wrap;

  .block {
    flex: 0 0 100%;
    @include unitize(margin-bottom, 20);

    @include minWidth('tablet') {
      flex: 0 0 50%;
    }

    @include minWidth('desktop') {
      flex: 0 0 33.33%;
    }

    h4 {
      border: 1px solid transparent;
      font-weight: 100;
      @include unitize(padding, 4 8);
      @include unitize(margin-bottom, 4);
    }

    table {
      border-collapse: separate;
      @include unitize(border-spacing, 1);

      tr {
        width: 100%;
      }

      td {
        background: darken($sw-background-color, 1%);
        @include unitize(padding, 4 8);
        @include unitize(min-width, 100);

        &:first-child {
          white-space: nowrap;
          font-weight: bold;
        }

        &:last-child {
          width: 100%;
        }
      }
    }
  }
}

.block-spacer {
  display: block;
  width: 100%;
  background: darken($sw-background-color, 5%);
  @include unitize(height, 4);
  @include unitize(margin, 8 0);
}
