.b2b--message-container {
  box-shadow: none !important;

  @include unitize(padding-top, 10);

  @include unitize(margin-bottom, 20);

  h4 {
    font-weight: 400;
    text-transform: uppercase;

    @include unitize(font-size, 18);
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      position: relative;
      font-weight: 400;

      @include unitize(font-size, 16);

      @include unitize-padding(0, 0, 12, 32);

      &.b2b--message-warning {
        font-weight: 700;
      }

      .icon {
        position: absolute;
        left: 0;

        @include unitize(top, -4);

        &-warning {
          color: $highlight-error;
        }
      }
    }
  }

  &~.module-dashboard {
    @include unitize(padding-top, 40);

    .dashboard--header {
      @include unitize(margin-top, 80);
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      background: #d4e2e2;

      @include unitize-height(1);
    }
  }
}