$b2b-navigation-background: getContrast($sw-background-color, 3%);

.b2b--navigation {
  background: $b2b-navigation-background;
  position: relative;
  display: block;

  &-submenu {
    display: none;

    &__actions {
      float: right;

      a {
        display: inline-block;
      }
    }
  }

  &-mainmenu {
    white-space: nowrap;
    overflow: auto;
    @include unitize(font-size, 14);
  }

  .navigation--link {
    position: relative;
    text-decoration: none;
    display: inline-block;
    transition: color .3s ease;
    color: $sw-text-color;
    @include unitize(padding, 16);
    @include unitize(line-height, 20);

    &:after {
      background: $sw-color-brand-primary;
      content: "";
      display: block;
      position: absolute;
      opacity: 0;
      transition: opacity .3s ease;
      @include unitize(width, 60);
      @include unitize(height, 2);
      @include unitize(margin-top, 4);
    }

    &:hover,
    &.is--active {
      &:after {
        opacity: 1;
      }
    }
  }
}

@include minWidth("desktop") {
  $navigation-max-width: 1400;
  $navigation-padding: 16;

  .b2b--navigation {
    position: relative;
    overflow: visible;
    display: block;
    width: 100%;
    @include unitize(max-width, $navigation-max-width);
    @include unitize(padding, $navigation-padding);
    @include unitize(margin, 20 auto 0);

    @media only screen and (min-width: (#{$navigation-max-width}px)) {
      &:before,
      &:after {
        content: "";
        position: absolute;
        display: block;
        background: $b2b-navigation-background;
        top: 0;
        bottom: 0;
        width: calc((100vw - #{$navigation-max-width}px) / 2);
      }

      &:before {
        right: 100%;
      }

      &:after {
        left: 100%;
      }

      &:hover:after {
        opacity: 1;
      }
    }

    .navigation--link {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    &-submenu {
      display: block;
      @include unitize(margin-bottom, 16);
    }
  }
}
