.b2b--plugin {

  @include unitize(margin-bottom, 20);

  .icon {
    transition: transform .3s ease;

    &.icon-search,
    &.icon-arrow-left,
    &.icon-arrow-right {
      color: $text-color-light;
    }
  }

  > div {
    animation: fadeOpacityIn .2s ease forwards;
    opacity: 0;
  }
}

.b2b--ajax-panel > * {
  animation: fadeOpacityIn .2s ease forwards;
}

@media only screen and (min-width: $tabletViewportWidth) {

  .b2b--plugin > .b2b--ajax-panel,
  .b2b--plugin > :not(.module-dashboard) {
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    background: $panel-background;
  }
}

.b2b--ajax-panel .b2b--block-panel .block--actions {
  width: 100% !important;
}

@keyframes fadeInOpacity {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}