.cart-finish-message-container {
  padding-top: 25%;
  padding-bottom: 0;
  text-align: center;

  .cart-finish-message-heading {
    margin-bottom: 25px;
  }

  .cart-finish-message-content {
    border-bottom: 1px solid rgba(0, 0, 0, .15);

    @include unitize-padding(10);

    padding-bottom: 10%;

    p {
      @include unitize("font-size", 19);
    }
}

  .b2b--icon-holder {
    .icon-checkmark-circle {
      width: 75px;
      height: 75px;
      margin-top: 15%;
      color: $highlight-success;
    }
  }
}

@include minWidth("tablet") {
  .cart-finish-message-container {

    .cart-finish-message-content {
      margin: 0 25%;
    }

    .b2b--icon-holder {

      &:hover {
        .icon-checkmark-circle {
          transform: translateY(-5px);
        }
      }

      .icon-checkmark-circle {
        transition: transform .3s ease;
        width: 120px;
        height: 120px;

        margin: 10% 0 5%;
      }
    }
  }
}