{% block b2b_categoryselect %}
    <ul class="is--b2b-tree list--unordered">
        {% for node in nodes %}
            {% block b2b_categoryselect_node %}
                <li class="{% if node.hasChildren %}has--children{% endif %} {% if node.id.getValue is same as (selectedId) %}is--selected{% endif %} is--closed" data-id="{{ node.id.getValue }}">
                    <span class="node-content-container">
                        <span class="b2b-tree-node-inner">
                            {% block b2b_categoryselect_node_inner %}
                                {% if node.hasChildren %}
                                    <a href="{{ path('frontend.b2b.b2bcategoryselect.grid', {'parentId': node.id.getValue, 'selectedId': selectedId}) }}">
                                {% endif %}
                                    <span class="tree-icon closed">{% sw_icon 'arrow-right' style {'pack': 'solid'} %}</span>
                                    <span class="tree-icon opened">{% sw_icon 'arrow-down' style {'pack': 'solid'} %}</span>
                                    <span class="tree-icon leaf">{% sw_icon 'circle-small' style {'pack': 'solid'} %}</span>
                                {% if node.hasChildren %}
                                    </a>
                                {% endif %}

                                <span class="tree-label custom-control custom-radio">
                                    <input
                                        type="radio"
                                        class="custom-control-input"
                                        id="category-{{ node.id.getValue }}"
                                        name="categoryId"
                                        value="{{ node.id.getValue }}"
                                        {% if node.id.getValue == selectedId %}checked{% endif %}
                                    >
                                    <label for="category-{{ node.id.getValue }}" class="custom-control-label"></label>
                                    {% if node.hasChildren %}<a href="{{ path('frontend.b2b.b2bcategoryselect.grid', {'parentId': node.id.getValue, 'selectedId': selectedId}) }}" title="{{ "b2b.Open"|trans }}">{% endif %}
                                        {{ node.name }}
                                    {% if node.hasChildren %}</a>{% endif %}
                                </span>
                            {% endblock %}
                        </span>
                    </span>
                </li>
            {% endblock %}
        {% endfor %}
    </ul>
{% endblock %}