{% block b2b_categoryselect %}
    <ul class="is--b2b-tree">
        {% for node in nodes %}
            {% block b2b_categoryselect_node %}
                <li class="node tree-select-item {% if node.hasChildren %}has--children{% endif %} {% if node.id.getValue is same as (selectedId) %}is--selected{% endif %} is--closed" data-id="{{ node.id.getValue }}">

                    <div class="node__inner">
                        {% block b2b_categoryselect_node_inner %}
                            <a
                                class="node__inner--toggle-children"
                                href="{{ path('frontend.b2b.b2bcategoryselect.grid', {'parentId': node.id.getValue, 'selectedId': selectedId}) }}"
                            >
                                {% sw_icon 'arrow-right' style {'pack': 'solid'} %}
                            </a>
                        {% endblock %}

                        <span class="tree-label">
                            {{ node.name }}
                        </span>

                        {% sw_icon 'loading-circle'%}

                        <span class="d-inline tree-label custom-control custom-radio">
                            <input
                                type="radio"
                                class="custom-control-input"
                                id="category-{{ node.id.getValue }}"
                                name="categoryId"
                                value="{{ node.id.getValue }}"
                                {% if node.id.getValue == selectedId %}checked{% endif %}
                            >
                            <label for="category-{{ node.id.getValue }}" class="custom-control-label"></label>
                        </span>
                    </div>
                </li>
            {% endblock %}
        {% endfor %}
    </ul>
{% endblock %}
