{% sw_extends '@Storefront/storefront/page/account/sidebar.html.twig' %}

{% block page_account_sidebar_menu_inner %}
    {% if not b2bSuite %}
        {{ parent() }}
    {% else %}
        {% if isSalesRep %}
            {% set links = [{
                    name: "ClientOverview",
                    route: "b2bsalesrepresentative"
                }, {
                    name: "MyAccount",
                    route: "b2baccount"
                }]
            %}
        {% else %}
            {% set links = [{
                    name: "Dashboard",
                    route: "b2bdashboard"
                }, {
                    name: "Company",
                    route: "b2bcompany"
                }, {
                    name: "Statistic",
                    route: "b2bstatistic"
                }, {
                    name: "Orders",
                    route: "b2border"
                }, {
                    name: "OrderList",
                    route: "b2borderlist"
                }, {
                    name: "FastOrder",
                    route: "b2bfastorder"
                }, {
                    name: "Offer",
                    route: "frontend.account.offer.page",
                }, {
                    name: "OrderNumber",
                    route: "b2bordernumber"
                }, {
                    name: "MyAccount",
                    route: "b2baccount"
                },{
                    name: "Invoice",
                    route: "frontend.account.invoice.page",
                }]
            %}
        {% endif %}

        {% for link in links %}
            {% if b2b_acl_check(link.route, 'index') and not link.disabled %}
                {% set link = {
                        route: (link.route starts with('frontend.')) ? link.route : 'frontend.b2b.' ~ link.route ~ '.index',
                        name: ('.' in link.name) ? link.name : 'b2b.' ~ link.name,
                        component: link.route
                    }
                %}
                <a
                    href="{{ path(link.route) }}"
                    title="{{ link.name|trans }}"
                    class="list-group-item list-group-item-action account-aside-item{% if activeRoute is same as(link.route) %} is-active{% endif %} {{ b2b_acl(link.component, 'index') }}"
                >
                    {{ link.name|trans }}
                </a>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
