{% block b2b_grid_table_row %}
    <tr data-row-id="{{ row.id.getValue }}">
        <td data-label="{{ 'b2b.CustomerLabel'|trans }}">
            {{ row.firstName ~ ' ' ~ row.lastName }}
            {% if row.type == 'debtor' %}
                <span title="Debtor">{% sw_icon 'star' style {'pack': 'solid'} %}</span>
            {% endif %}
        </td>
        <td data-label="{{ 'b2b.CompanyLabel'|trans }}">{{ row.company }}</td>
        <td data-label="{{ 'b2b.EmailLabel'|trans }}">{{ row.email }}</td>
        <td data-label="{{ 'b2b.PhoneLabel'|trans }}">{{ row.phone }}</td>
        <td data-label="{{ 'b2b.OwnerLabel'|trans }}">{{ row.shopOwnerEmail }}</td>
        <td data-label="{{ 'b2b.CustomerNumberLabel'|trans }}">
            {% if row.entity.customernumber %}
                {{ row.entity.customernumber }}
            {% elseif row.entity.debtor.customernumber %}
                {{ row.entity.debtor.customernumber }}
            {% endif %}
        </td>
        <td data-label="{{ 'b2b.StateLabel'|trans }}" class="col-status">
            {% if row.active %}
                <span title="{{ 'b2b.ActiveLabel'|trans }}">{% sw_icon 'circle-x-small' style {'pack': 'solid', 'color': 'success'} %}</span>
            {% else %}
                <span title="{{ 'b2b.DisabledLabel'|trans }}">{% sw_icon 'circle-x-small' style {'pack': 'solid', 'color': 'danger'} %}</span>
            {% endif %}
        </td>

        <td
            data-label="{{ 'b2b.ActionsLabel'|trans }}"
            class="col-actions is--align-right"
        >
            <form
                action="{{ path('frontend.b2b.b2bsalesrepresentative.clientLogin') }}"
                method="post"
                class="form--inline {{ b2b_acl('b2bsalesrepresentative', 'clientLogin') }} ignore--b2b-ajax-panel"
                data-csrf-token="{{ sw_csrf('frontend.b2b.b2bsalesrepresentative.clientLogin', { mode: 'token' }) }}"
            >
                <input type="hidden" name="id" value="{{ row.authId.getValue }}" />
                {{ sw_csrf('frontend.b2b.b2bsalesrepresentative.clientLogin') }}

                <button
                    class="btn is--small component-action-login"
                    title="{{ 'b2b.SalesRepresentativeClientLogin'|trans }}"
                    type="submit"
                >
                    {% sw_icon 'avatar' %}
                </button>
            </form>
        </td>
    </tr>
{% endblock %}
