{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-sort.html.twig' %}

{% block b2b_grid_col_sort %}
    <option
        value="company::asc"
        {% if  gridState.sortBy == 'company::asc' %} selected="selected" {% endif %}
    >
        {{ 'b2b.CompanyAsc'|trans }}
    </option>

    <option
        value="company::desc"
        {% if  gridState.sortBy == 'company::desc' %} selected="selected" {% endif %}
    >
        {{ 'b2b.CompanyDesc'|trans }}
    </option>

    <option
        value="firstname::asc"
        {% if  gridState.sortBy == 'firstname::asc' %} selected="selected" {% endif %}
    >
        {{ 'b2b.FirstNameAsc'|trans }}
    </option>

    <option
        value="firstname::desc"
        {% if  gridState.sortBy == 'firstname::desc' %} selected="selected" {% endif %}
    >
        {{ 'b2b.FirstNameDesc'|trans }}
    </option>

    <option
        value="lastname::asc"
        {% if  gridState.sortBy == 'lastname::asc' %} selected="selected" {% endif %}
    >
        {{ 'b2b.LastNameAsc'|trans }}
    </option>

    <option
        value="lastname::desc"
        {% if  gridState.sortBy == 'lastname::desc' %} selected="selected" {% endif %}
    >
        {{ 'b2b.LastNameDesc'|trans }}
    </option>

    <option
        value="email::asc"
        {% if  gridState.sortBy == 'email::asc' %} selected="selected" {% endif %}
    >
        {{ 'b2b.EmailAsc'|trans }}
    </option>

    <option
        value="email::desc"
        {% if  gridState.sortBy == 'email::desc' %} selected="selected" {% endif %}
    >
        {{ 'b2b.EmailDesc'|trans }}
    </option>

    <option
        value="active::asc"
        {% if  gridState.sortBy == 'active::asc' %} selected="selected" {% endif %}
    >
        {{ 'b2b.StateAsc'|trans }}
    </option>

    <option
        value="active::desc"
        {% if  gridState.sortBy == 'active::desc' %} selected="selected" {% endif %}
    >
        {{ 'b2b.StateDesc'|trans }}
    </option>

    <option
        value="shopOwnerEmail::asc"
        {% if  gridState.sortBy == 'shopOwnerEmail::asc' %} selected="selected" {% endif %}
    >
        {{ 'b2b.DebtorAsc'|trans }}
    </option>

    <option
        value="shopOwnerEmail::desc"
        {% if  gridState.sortBy == 'shopOwnerEmail::desc' %} selected="selected" {% endif %}
    >
        {{ 'b2b.DebtorDesc'|trans }}
    </option>
{% endblock %}