<tr>
    <th>{{ 'b2b.CustomerLabel'|trans }}</th>
    <th>{{ 'b2b.CompanyLabel'|trans }}</th>
    <th>{{ 'b2b.EmailLabel'|trans }}</th>
    <th>{{ 'b2b.PhoneLabel'|trans }}</th>
    <th>{{ 'b2b.OwnerLabel'|trans }}</th>
    <th>{{ 'b2b.StateLabel'|trans }}</th>
    <th>{{ 'b2b.ActionsLabel'|trans }}</th>
</tr>