/*
 * Variables, Mixins, Functions, Animations, Helper
 * ------------------------------------------------ */
@import "../styles/abstracts/variables/b2b-theme-defaults";
@import "../styles/abstracts/variables/b2b-default";
@import "../styles/abstracts/functions/color-functions";
@import "../styles/abstracts/mixins/unitize";
@import "../styles/abstracts/mixins/utility";
@import "../styles/abstracts/variables/b2b-colors";
@import "../styles/abstracts/variables/b2b-typography";
@import "../styles/abstracts/animations/index";
@import "../styles/abstracts/helpers/utility-classes";
@import "../styles/abstracts/variables/b2b-general";

/*
 * Base
 * ---- */

@import "../styles/base/b2b-typography";

/*
 * Themes
 * ------ */

@import "../styles/themes/index";

/*
 * Vendor
 * ------ */

@import "../styles/vendors/airbnb";

/*
 * Components
 * ---------- */

@import "../styles/components/content-loading";
@import "../styles/components/fastorder-remote";
@import "../styles/components/file-upload";
@import "../styles/components/flatpickr";
@import "../styles/components/form";
@import "../styles/components/image-zoom";
@import "../styles/components/message";
@import "../styles/components/order-overview";
@import "../styles/components/overlay";
@import "../styles/components/pagination";
@import "../styles/components/positions-grid";
@import "../styles/components/product-search";
@import "../styles/components/status-grid";
@import "../styles/components/tab-menu";
@import "../styles/components/tableview";
@import "../styles/components/tree";
@import "../styles/components/sales-rep-bar";

@import "../styles/components/panel/panel";
@import "../styles/components/panel/panel-accordion";
@import "../styles/components/panel/panel-title";

@import "../styles/components/standard-elements/button";
@import "../styles/components/standard-elements/input";
@import "../styles/components/standard-elements/list";
@import "../styles/components/standard-elements/select";

@import "../styles/components/table/component-grid";
@import "../styles/components/table/grid-component";
@import "../styles/components/table/table";

@import "../styles/components/tree-select/tree-label";
@import "../styles/components/tree-select/tree-select";
@import "../styles/components/tree-select/tree-select-item";
@import "../styles/components/tree-select/tree-select-item-tree-handle";

/*
 * Layout
 * ------ */

@import "../styles/layout/container";
@import "../styles/layout/message-container";
@import "../styles/layout/modal/modal-actions";
@import "../styles/layout/modal/modal-background";
@import "../styles/layout/modal/modal-container";
@import "../styles/layout/modal/modal-content";
@import "../styles/layout/modal/modal-footer";
@import "../styles/layout/modal/modal-header";
@import "../styles/layout/modal/modal-modifiers";
@import "../styles/layout/modal/modal-navigation";
@import "../styles/layout/modal/modal-content/modules";
@import "../styles/layout/modal/modal-content/address-grid";
@import "../styles/layout/modal/modal-content/standard-elements";
@import "../styles/layout/modal/modal-types/modal-confirm";
@import "../styles/layout/modal/modal-types/modal-small";
@import "../styles/layout/navigation/navigation";
@import "../styles/layout/navigation/navigation-submenu";
@import "../styles/layout/plugin";

/*
 * Pages
 * ----- */

@import "../styles/pages/b2baccount/account";
@import "../styles/pages/b2baccount/account-avatar";
@import "../styles/pages/b2baccount/account-masterdata";
@import "../styles/pages/b2bcart/finish";
@import "../styles/pages/b2bcompany/company";
@import "../styles/pages/b2bdashboard/dashboard";
@import "../styles/pages/b2bdashboard/dashboard-teaser";
@import "../styles/pages/b2bfastorder/fastorder";
@import "../styles/pages/b2boffer/offer";
@import "../styles/pages/b2border/order";
@import "../styles/pages/b2borderclearance/orderclearance";
@import "../styles/pages/b2borderlist/orderlist";
@import "../styles/pages/b2bordernumber/ordernumber";
@import "../styles/pages/b2bstatistic/statistic";

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}