{% block b2b_budget_grid_table_row %}
    <tr
        class="{{ b2b_acl('b2bbudget', 'list') }}"
        data-target="budget-detail"
        data-row-id="{{ row.id }}"
        data-href="{{ path('frontend.b2b.b2bbudget.detail', { 'id': row.id.getValue }) }}"
    >
        {% block b2b_budget_grid_table_row_cells %}
            <td data-label="{{ 'b2b.IdentifierLabel'|trans }}">{{ row.identifier }}</td>
            <td data-label="{{ 'b2b.BudgetAmountUsedLabel'|trans }}">{{ row.currentStatus.usedBudget|currency }}</td>
            <td data-label="{{ 'b2b.BudgetAmountAvailableLabel'|trans }}">{{ row.currentStatus.availableBudget|currency }}</td>
            <td data-label="{{ 'b2b.BudgetCapacityLabel'|trans }}">
                <div class="b2b-progress-bar">
                    <span class="b2b-progress-value-text">{{ row.currentStatus.percentage }}%</span>
                    <div
                        class="b2b-progress-value"
                        style="width: {{ row.currentStatus.percentage }}%;"
                    ></div>
                </div>
            </td>
            <td
                data-label="{{ 'b2b.ResponsibleLabel'|trans }}"
                class="col-responsible"
            >
                {% if row.owner %}
                    {{ row.owner.firstName }}
                    {{ row.owner.lastName }}
                {% else %}
                    {{ 'b2b.OptionNoneLabel'|trans }}
                {% endif %}
            </td>
            <td
                data-label="{{ 'b2b.StatusLabel'|trans }}"
                class="col-status"
            >
                {% if row.active %}
                    <span title="{{ 'b2b.ActiveLabel'|trans }}">
                        {% sw_icon 'circle-x-small' style { 'pack': 'solid', 'color': 'success' } %}
                    </span>
                {% else %}
                    <span title="{{ 'b2b.DisabledLabel'|trans }}">
                        {% sw_icon 'circle-x-small' style { 'pack': 'solid', 'color': 'danger' } %}
                    </span>
                {% endif %}
            </td>
            {% if
                b2b_acl_check('b2bbudget', 'detail')
                or b2b_acl_check('b2bbudget', 'remove')
            %}
                <td
                    data-label="{{ 'b2b.ActionsLabel'|trans }}"
                    class="col-actions"
                >
                    <button
                        title="{{ 'b2b.EditBudget'|trans }}"
                        type="button"
                        class="btn btn--edit is--small ajax-panel-link b2b-highlight {{ b2b_acl('b2bbudget', 'detail') }}"
                        data-target="budget-detail"
                        data-row-id="{{ row.id }}"
                        data-href="{{ path('frontend.b2b.b2bbudget.detail', { 'id': row.id.getValue }) }}"
                    >
                        {% sw_icon 'pencil-brush' %}
                    </button>

                    <form
                        action="{{ path('frontend.b2b.b2bbudget.remove') }}"
                        method="post"
                        class="form--inline {{ b2b_acl('b2bbudget', 'remove') }}"
                        data-csrf-token="{{ sw_csrf('frontend.b2b.b2bbudget.remove', { mode: 'token' }) }}"
                    >
                        {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}

                        <input
                            type="hidden"
                            name="id"
                            value="{{ row.id }}"
                        >
                        <input
                            type="hidden"
                            name="confirmName"
                            value="{{ row.name }}"
                        >

                        <button
                            title="{{ 'b2b.DeleteBudget'|trans }}"
                            type="submit"
                            class="btn is--small component-action-delete b2b-danger"
                            data-confirm="true"
                            data-confirm-url="{{ path('frontend.b2b.b2bconfirm.remove') }}"
                        >
                            {% sw_icon 'trash' %}
                        </button>
                    </form>
                </td>
            {% endif %}
        {% endblock %}
    </tr>
{% endblock %}
