{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-sort.html.twig' %}

{% block b2b_grid_col_sort %}
    <option value="id::asc"{% if gridState.sortBy == 'id::asc' %} selected="selected"{% endif %}>{{ "b2b.NewestAsc"|trans }}</option>
    <option value="id::desc"{% if gridState.sortBy == 'id::desc' %} selected="selected"{% endif %}>{{ "b2b.NewestDesc"|trans }}</option>
    <option value="identifier::asc"{% if gridState.sortBy == 'identifier::asc' %} selected="selected"{% endif %}>{{ "b2b.IdentifierAsc"|trans }}</option>
    <option value="identifier::desc"{% if gridState.sortBy == 'identifier::desc' %} selected="selected"{% endif %}>{{ "b2b.IdentifierDesc"|trans }}</option>
    <option value="amount::asc"{% if gridState.sortBy == 'amount::asc' %} selected="selected"{% endif %}>{{ "b2b.BudgetAmountAvailableAsc"|trans }}</option>
    <option value="amount::desc"{% if gridState.sortBy == 'amount::desc' %} selected="selected"{% endif %}>{{ "b2b.BudgetAmountAvailableDesc"|trans }}</option>
    <option value="responsible::asc"{% if gridState.sortBy == 'responsible::asc' %} selected="selected"{% endif %}>{{ "b2b.ResponsibleAsc"|trans }}</option>
    <option value="responsible::desc"{% if gridState.sortBy == 'responsible::desc' %} selected="selected"{% endif %}>{{ "b2b.ResponsibleDesc"|trans }}</option>
    <option value="active::asc"{% if gridState.sortBy == 'active::asc' %} selected="selected"{% endif %}>{{ "b2b.StateAsc"|trans }}</option>
    <option value="active::desc"{% if gridState.sortBy == 'active::desc' %} selected="selected"{% endif %}>{{ "b2b.StateDesc"|trans }}</option>
{% endblock %}