{% block b2b_budget_grid_table_head %}
    <tr>
        {% block b2b_budget_grid_table_head_cells %}
            <th class="col-small">{{ 'b2b.IdentifierLabel'|trans }}</th>
            <th>{{ 'b2b.BudgetAmountUsedLabel'|trans }}</th>
            <th class="col-budget">
                {{ 'b2b.BudgetAmountAvailableLabel'|trans }}
                <i
                    class="icon--info2"
                    title="{{ 'b2b.NetValue'|trans }}"
                ></i>
            </th>
            <th>{{ 'b2b.BudgetCapacityLabel'|trans }}</th>
            <th>{{ 'b2b.ResponsibleLabel'|trans }}</th>
            <th>{{ 'b2b.StatusLabel'|trans }}</th>

            {% if
                b2b_acl_check('b2bbudget', 'detail')
                or b2b_acl_check('b2bbudget', 'remove')
            %}
                <th class="col-actions">{{ 'b2b.ActionsLabel'|trans }}</th>
            {% endif %}
        {% endblock %}
    </tr>
{% endblock %}
