{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-form.html.twig' %}

{% block b2b_grid_form_content %}
    {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bcompany/_filter.html.twig" with {'hide': 'true'} %}
{% endblock %}

{% block b2b_grid_table_actions %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bbudget/grid/_grid-table-actions.html.twig' %}
{% endblock %}

{% block b2b_grid_pagination %}
    {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
{% endblock %}