{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    actions: false,
    content: {
        padding: false
    },
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.DeclineOrder"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <form
        action="{{ path('frontend.b2b.b2borderclearance.declineOrder') }}"
        method="post"
        class="form--inline order-clearance {{ b2b_acl('b2borderclearance', 'declineOrder') }}"
        id="form"
        data-ajax-panel-trigger-reload="order-grid,order-clearance-grid"
    >
        {% block b2b_orderclearance_decline_form %}
            {{ sw_csrf('frontend.b2b.b2borderclearance.declineOrder') }}

            <input type="hidden" name="orderContextId" value="{{ order.id }}" />
            <div class="scrollable with--padding">
                <div class="block-group b2b--form">
                    {% if order.orderReference %}
                        <div class="block box--label">
                            <strong>{{ "b2b.Order"|trans }}</strong>
                            {{ order.orderReference }}
                        </div>
                    {% endif %}
                </div>

                <div class="block-group b2b--form full-width">
                    <div class="block box--label">
                        {{ "b2b.CommentLabel"|trans }}
                    </div>

                    {% spaceless %}
                        <textarea
                            name="comment"
                            cols="30"
                            rows="10"
                            class="form-control"
                            placeholder="{{ "b2b.CommentDeclinePlaceholder"|trans }}"
                            autofocus
                        ></textarea>
                    {% endspaceless %}
                </div>
            </div>
        {% endblock %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions {{ b2b_acl('b2borderclearance', 'decline') }}">
        <button
            type="submit"
            class="btn component-action-delete"
            data-form-id="form"
            title="{{ "b2b.DeclineOrder"|trans }}"
            tabindex="0"
        >
            {{ "b2b.DeclineOrder"|trans }}
        </button>
    </div>
{% endblock %}