{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal.html.twig' %}

{% block b2b_modal_base_navigation_header %}
    {{ "b2b.EditOrderClearance"|trans }}
{% endblock %}

{# @deprecated tag:v4.6.0 - will be removed without replacement #}
{% block b2b_orderclearance_detail %}
    {# @deprecated tag:v4.6.0 - will be removed without replacement #}
    {% block b2b_orderclearance_detail_list %}
        {# @deprecated tag:v4.6.0 - will be removed without replacement #}
        {% block b2b_orderclearance_detail_list_inner %}{% endblock %}
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_navigation_entries %}
    {% block b2b_orderclearance_masterdata %}
        <li class="{{ b2b_acl('b2borderlineitemreference', 'masterData') }}">
            <a
                class="b2b--tab-link tab--active"
                data-target="orderclearance-tab-content"
                data-href="{{ path('frontend.b2b.b2borderlineitemreference.masterData') }}?orderContextId={{ orderContext.id.getValue }}"
                title="{{ "b2b.MasterDataLabel"|trans }}"
            >
                {{ "b2b.MasterDataLabel"|trans }}
            </a>
        </li>
    {% endblock %}
    {% block b2b_orderclearance_positions %}
        <li class="{{ b2b_acl('b2borderlineitemreference', 'list') }}">
            <a
                class="b2b--tab-link"
                data-target="orderclearance-tab-content"
                data-href="{{ path('frontend.b2b.b2borderlineitemreference.list', { orderContextId: orderContext.id.getValue, isEditable: true }) }}"
                title="{{ "b2b.Positions"|trans }}"
            >
                {{ "b2b.Positions"|trans }}
            </a>
        </li>
    {% endblock %}
    {% block b2b_orderclearance_history %}
        <li>
            <a
                class="b2b--tab-link"
                data-target="orderclearance-tab-content"
                data-href="{{ path('frontend.b2b.b2border.log') }}?orderContextId={{ orderContext.id.getValue }}"
                title="{{ "b2b.History"|trans }}"
            >
                {{ "b2b.History"|trans }}
            </a>
        </li>
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner %}
    <div
        class="b2b--ajax-panel scrollable-grid has--b2b-form"
        data-id="orderclearance-tab-content"
        data-url="{{ path('frontend.b2b.b2borderlineitemreference.masterData') }}?orderContextId={{ orderContext.id.getValue }}"
        data-plugins="formInputHolder,gridComponent"
    ></div>
{% endblock %}
