{% block b2b_orderclearance_detail %}
    <div class="b2b--modal">
        <div class="block-navigation modal--tabs">
            {% block b2b_orderclearance_detail_list %}
                <ul>
                    {% block b2b_orderclearance_list_inner %}
                        <li class="tab--header">{{ "b2b.EditOrderClearance"|trans }}</li>
                        <li class="{{ b2b_acl('b2borderlineitemreference', 'masterData') }}">
                            <a class="b2b--tab-link tab--active"
                               data-target="contact-tab-content"
                               data-href="{{ path('frontend.b2b.b2borderlineitemreference.masterData') }}?orderContextId={{ orderContext.id.getValue }}"
                               title="{{ "b2b.MasterDataLabel"|trans }}"
                            >
                                {{ "b2b.MasterDataLabel"|trans }}
                            </a>
                        </li>
                        <li class="{{ b2b_acl('b2borderlineitemreference', 'list') }}">
                            <a class="b2b--tab-link"
                               data-target="contact-tab-content"
                               data-href="{{ path('frontend.b2b.b2borderlineitemreference.list', { orderContextId: orderContext.id.getValue, isEditable: true }) }}"
                               title="{{ "b2b.Positions"|trans }}"
                            >
                                {{ "b2b.Positions"|trans }}
                            </a>
                        </li>
                        <li>
                            <a class="b2b--tab-link"
                               data-target="contact-tab-content"
                               data-href="{{ path('frontend.b2b.b2border.log') }}?orderContextId={{ orderContext.id.getValue }}"
                               title="{{ "b2b.History"|trans }}"
                            >
                                {{ "b2b.History"|trans }}
                            </a>
                        </li>
                    {% endblock %}
                </ul>
            {% endblock %}
        </div>
        {% block b2b_orderclearance_detail_masterdata %}
            <div class="block-content has--navigation">
                <div
                    class="b2b--ajax-panel scrollable-grid has--b2b-form"
                    data-id="contact-tab-content"
                    data-url="{{ path('frontend.b2b.b2borderlineitemreference.masterData') }}?orderContextId={{ orderContext.id.getValue }}"
                    data-plugins="formInputHolder,gridComponent,ajaxPanelProductSearch"
                ></div>
            </div>
        {% endblock %}
    </div>
{% endblock %}