{% set url = path('frontend.b2b.b2borderclearance.grid') %}

{% block b2b_orderclearance_grid %}
    <div class="b2b--grid-container">
        {% block b2b_grid_form %}
            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderclearance/grid/_grid-form.html.twig' %}
        {% endblock %}

        {% block b2b_grid_table %}
            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderclearance/grid/_grid-table.html.twig' with { messageEmptyList: 'NoResults' } %}
        {% endblock %}
    </div>
{% endblock %}