.js--modal {

  &.modal--confirm {
    height: auto !important;

    @include unitize(width, 800);
  }
}

.b2b--confirm-modal-content {

  .b2b--confirm-modal-header {
    width: 100%;
    background-color: $highlight-error;

    @include unitize(padding, 20);

    h3 {
      color: $btn-text-color;
      margin: 0;

      @include unitize(line-height, 20);
    }
  }

  .b2b--confirm-modal-body {
    width: 100%;
    border-bottom: solid 1px $border-color;

    @include unitize(padding, 20);

    @include unitize(line-height, 20);
  }

  .b2b--confirm-modal-footer {
    width: 100%;
    float: right;

    @include unitize(padding, 20);

    button {
      @include unitize(margin-left, 15);
    }
  }
}