{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_add_product_and_shipping %}
    {% if context.customer %}
        {% set deliveryNote = context.customer.extension('deliveryNote') %}

        <div class="row">
            <div class="col-12">
                {% if deliveryNote %}
                    {% sw_include '@Storefront/storefront/component/delivery-note/file-viewer.html.twig' with {
                        remove: true
                    } %}
                {% else %}
                    {% sw_include '@Storefront/storefront/component/delivery-note/file-upload.html.twig' %}
                {% endif %}
            </div>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
