.module-fastorder {

  > .panel {
    @include unitize-min-height(200);
  }

  .panel > .b2b--ajax-panel > .panel > .panel--title {
    font-weight: 500;
  }

  .block-group {

    .block {
      display: inline-block;
      margin: 0;
    }

    .block--title {
      @include unitize(font-size, 18);

      &:after {
        content: none;
      }
    }

    .block--actions {
      float: right;
    }
  }

  .b2b--grid-container {

    td {

      h4 {
        font-weight: 300;
      }

      h4,
      p {
        margin: 0;
      }
    }

    .b2b-remote-list-fast-order {

      .block-group {
        width: 100%;

        .block {
          display: inline-block;
        }
      }
    }
  }

  .b2b--grid-container {
    overflow: visible;
  }
}

@include maxWidth("mobile") {

  .module-fastorder {

    .b2b-remote-list-fast-order {

      .group--actions {
        width: 100%;

        .action--order-list,
        .action--cart-add {
          @include unitize-margin(16, 8);

          .btn {
            @include unitize-max-width(230);
          }
        }
      }
    }
  }
}

@include minWidth("tablet") {

  .module-fastorder {

    .b2b--grid-container {

      td {

        &:nth-child(1) {
          width: 40%;
        }

        &:nth-child(2),
        &:nth-child(3) {
          width: 30%;
        }
      }
    }
  }
}

.module-fastorder {
  @include minWidth("desktop") {
    .b2b--ajax-panel > .panel > .panel--title {
      margin: 0 auto 12px;

      @include unitize-max-width(600);
    }
  }
}