{% sw_extends '@Storefront/storefront/layout/navigation/offcanvas/item-link.html.twig' %}

{% block layout_navigation_offcanvas_navigation_categories_list_category_item_link %}
    {# only show in first position #}
    {% if loop.index == 1 and active.name == "Downloads" %}
        {% if hasPermissionDownload is not defined or hasPermissionDownload %}
            {# fallback if rights mangement not installed or hasPermissionDownload not set like in b2b Suite pages #}
            {% set hasPermissionDownload = true %}
        {% endif %}

        {% if context.customer and hasPermissionDownload %}
                <a class="navigation-offcanvas-link nav-item nav-link{% if controllerName|lower == "filessearch" %} active{% endif %}"
                   href="{{ path('frontend.ies_files.search') }}"
                   itemprop="url"
                   title="{{ "file-search.navigation.downloads"|trans }}">
                    <span itemprop="name">{{ "file-search.navigation.downloads"|trans }}</span>
                </a>
            </li>
            <li class="navigation-offcanvas-list-item">
        {% endif %}
    {% endif %}

    {{ parent() }}
{% endblock %}
