{% block sw_order_detail_base_line_items_card %}
    {% parent %}

    {% block sw_order_detail_base_delivery_note_card %}
        <sw-card :title="$tc('sw-order.detailBase.cardTitleDeliveryNote')" v-if="order.customFields && order.customFields.deliveryNote">
            <sw-container columns="1fr">
                <a :href="Shopware.Context.api.installationPath + '/' + order.customFields.deliveryNote.path"
                   target="_blank"
                   class="sw-button sw-button--primary"
                   style="text-align: center"
                   download>
                    <span class="sw-button__content">Download</span>
                </a>
            </sw-container>
        </sw-card>
    {% endblock %}
{% endblock %}
