{% sw_extends '@SwagB2bPlatform/storefront/base.html.twig' %}

{% block base_content %}
    <div class="content account--password-reset border">
        <div class="password-reset--content panel has--border is--rounded">
            {% block b2b_contactpasswordactivation_title %}
                <h2 class="password-reset--title panel--title">{{ "b2b.PasswordActivationLabel"|trans }}</h2>
            {% endblock %}

            {% block b2b_contactpasswordactivation_messages %}
                <div class="b2b--password-activation--messages">
                    {% if errors %}
                        <div class="modal--errors error--list">
                            {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                                with {
                                    messages: { 'error': errors }
                                } only
                            %}
                        </div>
                    {% else %}
                        {% if activation and not activation.id.getValue %}
                            {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                                with {
                                    messages: ['success', 'PasswordActivationSuccessful']
                                } only
                            %}
                        {% else %}
                            {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                                with {
                                    messages: ['info', 'PasswordActivationInfo']
                                } only
                            %}
                        {% endif %}
                    {% endif %}
                </div>
            {% endblock %}

            {% block b2b_contactpasswordactivation_content %}
                {% if activation %}
                    <form
                        action="{{ path('frontend.b2b.b2bcontactpasswordactivation.index') }}"
                        method="post"
                    >
                        {% block b2b_contactpasswordactivation_content_inner %}
                            {{ sw_csrf('frontend.b2b.b2bcontactpasswordactivation.index') }}

                            <input type="hidden" name="hash" value="{{ hash|escape }}">
                            <div class="password-reset--form-content panel--body is--wide is--align-center">
                                <div class="register--password">
                                    <input type="password" name="passwordNew" value="" placeholder="{{ "b2b.PasswordPlaceholder"|trans }}  *">
                                </div>

                                <div class="register--password">
                                    <input type="password" name="passwordRepeat"  value="" placeholder="{{ "b2b.ConfirmPlaceholder"|trans }} *">
                                </div>

                                <div class="password-reset--form-actions panel--actions is--align-center">
                                    <button class="btn is--primary is--center" type="submit">
                                        {{ "b2b.Save"|trans }}
                                    </button>
                                </div>
                            </div>
                        {% endblock %}
                    </form>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}