{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header_inner %}
    <div class="top-bar-nav-container">
        <div class="container">
            {% sw_include '@Storefront/storefront/layout/header/top-bar.html.twig' %}
        </div>
    </div>
    {{ parent() }}
{% endblock %}

{% block base_navigation %}{% endblock %}

{% block base_main %}
    {% sw_include '@Storefront/storefront/layout/sticky-social-icons.html.twig' %}

    {{ parent() }}
{% endblock %}

{% block base_footer %}
    <div class="footer-slogan">
        <div class="container text-center">
            {{ "footer.sloganText"|trans }}
        </div>
    </div>

    {{ parent() }}

    <div class="footer-copyright mx-auto">
        <div class="container text-center">
            {{ "footer.copyrightInfo"|trans|sw_sanitize }}
            <div class="footer-vat">
                {% if context.taxState == "gross" %}
                    {{ "footer.includeVat"|trans|sw_sanitize }}
                {% else %}
                    {{ "footer.excludeVat"|trans|sw_sanitize }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
