{% block sw_cms_block_feldmann_six_columns %}
    <div class="sw-cms-block-feldmann-six-columns">
        <div class="sw-cms-block-feldmann-six-columns__column">
            <slot name="colOneImage"></slot>
            <slot name="colOneText"></slot>
        </div>

        <div class="sw-cms-block-feldmann-six-columns__column">
            <slot name="colTwoImage"></slot>
            <slot name="colTwoText"></slot>
        </div>

        <div class="sw-cms-block-feldmann-six-columns__column">
            <slot name="colThreeImage"></slot>
            <slot name="colThreeText"></slot>
        </div>

        <div class="sw-cms-block-feldmann-six-columns__column">
            <slot name="colFourImage"></slot>
            <slot name="colFourText"></slot>
        </div>

        <div class="sw-cms-block-feldmann-six-columns__column">
            <slot name="colFiveImage"></slot>
            <slot name="colFiveText"></slot>
        </div>

        <div class="sw-cms-block-feldmann-six-columns__column">
            <slot name="colSixImage"></slot>
            <slot name="colSixText"></slot>
        </div>
    </div>
{% endblock %}
