.sw-cms-block-feldmann-six-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
    align-content: stretch;
    align-items: start;
    grid-gap: 20px;

    .sw-cms-el-image {
        min-height: auto !important;
    }
}
