.module--orderlist {

  .icon {

    &.icon-search,
    &.icon-arrow-left,
    &.icon-arrow-right {
      color: $text-color-light;
    }
  }
}

.b2b--grid-container .product-price-info {
  display: inherit;
  margin-top: unset;
  text-align: right;

  p {
    display: inline;
    margin-top: unset;
    margin-bottom: unset;
    font-size: unset;
  }
}

.b2b--orderlist-tableview {
  width: 100%;
}

.b2b--orderlist-remote {
  .create-field {
    display: block;

    .form-control,
    .btn {
      width: auto;
      display: inline-block;
    }

  }
}

.order-list--line-item-new {
  textarea {
    min-height: 140px;
  }
}
