{% block sw_cms_block_feldmann_four_columns_preview %}
    <div class="sw-cms-preview-feldmann-four-columns">
        <div class="sw-cms-preview-feldmann-four-columns__column">
            <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
            <p>Lorem Ipsum</p>
        </div>

        <div class="sw-cms-preview-feldmann-four-columns__column">
            <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
            <p>Lorem Ipsum</p>
        </div>

        <div class="sw-cms-preview-feldmann-four-columns__column">
            <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
            <p>Lorem Ipsum</p>
        </div>

        <div class="sw-cms-preview-feldmann-four-columns__column">
            <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
            <p>Lorem Ipsum</p>
        </div>
    </div>
{% endblock %}
