{% block b2b_offer_detail_history_list_combined_items %}
        <div
            class="b2b-offer-history-combined-items"
            :class="getHistoryItemAlignmentClass"
        >
            <template v-for="(item, index) in activity">
                {% block b2b_offer_detail_history_list_combined_items_item %}
                    <b2b-offer-history-item
                        :key="`b2b-offer-history-item--${index}`"
                        :item="item"
                    ></b2b-offer-history-item>
                {% endblock%}
            </template>
        </div>
{% endblock%}
