$background-admin: #1B89FF;
$background-user: #ECEFF3;
$color-admin: #fff;
$color-user: #3c3c3c;
$spacer: 70px;

.b2b-offer-history-combined-items {
    position: relative;
    display: inline-block;
    width: auto;
    max-width: 60%;
    overflow: hidden;
    border-radius: 25px;
    padding: 10px;

    &.left {
        float: left;
        margin-left: $spacer;
        background: $background-user;
        border-bottom-left-radius: 0;

        h4 {
            color: $color-user;
        }
    }

    &.right {
        float: right;
        margin-right: $spacer;
        background: $background-admin;
        color: $color-admin;
        border-bottom-right-radius: 0;

        h4 {
            color: $color-admin;
        }
    }
}