{% sw_extends "@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/grid/_grid.html.twig" %}

{% block b2b_offerlineitemreference_grid %}
    <div class="pt-3 py-3 text-center">
        <div class="h1 font-weight-bold confirm-main-header">
            {{ 'b2b.OfferPersonalTitle'|trans }}
        </div>
        <br>
        <div class="card checkout-card">
            <div class="card-body">
                <div class="card-title">
                    {{ 'b2b.OfferPersonalTitleSubline'|trans }}
                </div>
            </div>
        </div>
    </div>

    <div class="card pt-3">
        <div class="card-body">
            {{ parent() }}
        </div>
    </div>
{% endblock %}


{% block b2b_offerlineitemreference_grid_personal_price_detail_body %}
    {{ parent() }}

    {% block b2b_offerthroughcheckout_head %}
        <div class="card mt-5 px-2 {{ b2b_acl('b2bofferthroughcheckout', 'updateDiscount') }}">
            <div class="card-body">
                <div class="card-title p-0">
                    {% block b2b_offerthroughcheckout_title %}
                        {{ "b2b.OfferWishDiscount"|trans }}
                    {% endblock %}
                </div>

                {% block b2b_offerthroughcheckout_description %}
                    <p>{{ 'b2b.OfferDiscountDescription'|trans }}</p>
                {% endblock %}

                {% block b2b_offerthroughcheckout_body %}
                    {% block b2b_offerthroughcheckout_body_inner_form %}
                        <form
                            action="{{ path('frontend.b2b.b2bofferthroughcheckout.updateDiscount') }}"
                            method="post"
                        >
                            {% block b2b_offerthroughcheckout_body_inner_form_csrf %}
                                {{ sw_csrf('frontend.b2b.b2bofferthroughcheckout.updateDiscount') }}
                            {% endblock %}

                            {% block b2b_offerthroughcheckout_body_inner_form_inner %}
                                <input
                                    type="hidden"
                                    name="offerId"
                                    value="{{ offer.id }}"
                                />

                                <div class="row">

                                    <div class="col-md-6 mb-3">
                                        <input
                                            type="number"
                                            class="form-control text-right"
                                            name="discount"
                                            step="any"
                                            min="0"
                                            placeholder="{{ 'b2b.AddDiscount'|trans }}"
                                            {% if offer.percentageDiscount %}
                                                value="{{ offer.percentageDiscount }}"
                                            {% elseif offer.discountValueNet %}
                                                value="{{ offer.discountValueNet }}"
                                            {% endif %}
                                            {% if not offer.isEditableByUser %}disabled{% endif %}
                                        />
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <div class="select-field">
                                            <select
                                                name="isPercentageDiscount"
                                                class="custom-select"
                                                {% if not offer.isEditableByUser %}disabled{% endif %}
                                            >
                                                <option
                                                    name="regularDiscount"
                                                    value="0"
                                                >
                                                    €
                                                </option>
                                                <option
                                                    name="percentageDiscount"
                                                    value="1"
                                                    {% if offer.percentageDiscount %}selected{% endif %}
                                                >
                                                    %
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        {% block b2b_offerthroughcheckout_body_inner_form_inner_submit %}
                                            <button
                                                type="submit"
                                                class="btn btn-primary btn-block"
                                                {% if not offer.isEditableByUser %}disabled{% endif %}
                                            >
                                                {{ "b2b.Save"|trans }}
                                            </button>
                                        {% endblock %}
                                    </div>
                                </div>

                            {% endblock %}
                        </form>
                    {% endblock %}
                {% endblock %}
            </div>

        </div>
    {% endblock %}

{% endblock %}
