{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true,
    actions: true,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.ContingentManagement"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}
    <form
        action="{{ path('frontend.b2b.b2bcontactcontingent.index') }}?contactId={{ contactId }}"
        method="get"
        class="form--inline"
    >
        {% block b2b_contactcontingent_sort_by %}
            <div class="action--sort">
                <div class="select-field">
                    <select name="sort-by" class="is--auto-submit custom-select">
                        {% block b2b_contactcontingent_sort_by_options %}
                            <option value="" selected="selected">
                                {{ "b2b.SortBy"|trans }}
                            </option>
                            <option value="name::asc"{% if gridState.sortBy is same as('name::asc') %} selected="selected"{% endif %}>{{ "b2b.NameAsc"|trans }}</option>
                            <option value="name::desc"{% if gridState.sortBy is same as('name::desc') %} selected="selected"{% endif %}>{{ "b2b.NameDesc"|trans }}</option>
                        {% endblock %}
                    </select>
                </div>
            </div>
        {% endblock %}

        {% block b2b_contactcontingent_filter %}
            <div class="action--search">
                <div class="search--area">
                    <input type="hidden" name="filters[all][field-name]" value="_all_">
                    <input type="hidden" name="filters[all][type]" value="like">
                    <input type="text"
                           name="filters[all][value]"
                           class="form-control"
                           value="{{ gridState.searchTerm }}"
                           placeholder="{{ "b2b.SearchPlaceholder"|trans }}">

                    <button title="{{ "b2b.Search"|trans }}" type="submit" value="submit" class="button--submit btn is--primary is--center">
                        {% sw_icon 'search' %}
                    </button>
                </div>
            </div>
        {% endblock %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% block b2b_contactcontingent_messages %}
        {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-message.html.twig" %}
    {% endblock %}

    {% block b2b_contactcontingent_grid %}
        {% if gridState.data|length %}
            {% block b2b_contactcontingent_grid_head %}
                <div class="panel--tr row--contingent-selection">
                    <div class="panel--th panel--icon" title="{{ "b2b.IsAllowedToUse"|trans }}">
                        {% sw_icon 'checkmark' %}
                    </div>
                    <div class="panel--th panel--icon" title="{{ "b2b.CanGrantToOther"|trans }}">
                        {% sw_icon 'reply' %}
                    </div>
                    <div class="panel--th panel--label-name">{{ "b2b.NameLabel"|trans }}</div>
                    <div class="panel--th panel--label-description">{{ "b2b.DescriptionLabel"|trans }}</div>
                </div>
            {% endblock %}

            {% block b2b_contactcontingent_grid_content %}
                {% for row in gridState.data %}
                    {% block b2b_contactcontingent_grid_content_row %}
                        {% set assignmentId = row.assignmentId.getValue %}

                        <div class="panel--tr row--contingent-selection" data-row-id="{{ row.id }}">
                            <form
                                action="{{ path('frontend.b2b.b2bcontactcontingent.assign') }}"
                                method="post"
                                class="b2b--assignment-form ignore--b2b-ajax-panel has--b2b-form {{ b2b_acl('b2bcontactcontingent', 'assign') }}"
                            >
                                {% block b2b_contactcontingent_grid_content_row_form %}
                                    {{ sw_csrf('frontend.b2b.b2bcontactcontingent.assign') }}

                                    <input type="hidden" name="contactId" value="{{ contactId }}"/>
                                    <input type="hidden" name="contingentGroupId" value="{{ row.id }}"/>

                                    {% if assignmentId is not empty %}
                                        <input type="hidden" name="assignmentId" value="{{ assignmentId }}"/>
                                    {% endif %}

                                    <div class="panel--td panel--icon">
                                        <span class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   name="allow"
                                                   id="allow-{{ row.id.getValue }}"
                                                   value="1"
                                                   {% if row.foreignAllowed and row.assignmentId %}checked="checked"{% endif %}
                                                   {% if not row.ownerGrantable %}disabled{% endif %}
                                                   class="assign--allow is--auto-submit custom-control-input"
                                            />
                                            <label for="allow-{{ row.id.getValue }}" class="custom-control-label"></label>
                                        </span>
                                    </div>
                                    <div class="panel--td panel--icon">
                                        <span class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   name="grantable"
                                                   id="grantable-{{ row.id.getValue }}"
                                                   value="1"
                                                   {% if row.foreignGrantable %}checked="checked"{% endif %}
                                                   {% if not row.ownerGrantable %}disabled{% endif %}
                                                   class="assign--grantable is--auto-submit custom-control-input"
                                            />
                                            <label for="grantable-{{ row.id.getValue }}" class="custom-control-label"></label>
                                        </span>
                                    </div>
                                {% endblock %}
                            </form>

                            {% block b2b_contactcontingent_grid_content_row_info %}
                                <div class="panel--td panel--label-name">{{ row.name }}</div>
                                <div class="panel--td panel--label-description">{{ row.description }}</div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                {% endfor %}
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    {% if gridState.maxPage %}
        <form
            action="{{ path('frontend.b2b.b2bcontactcontingent.index') }}"
            method="get"
            class="form--inline"
        >
            <input type="hidden" name="contactId" value="{{ contactId }}">

            {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
        </form>
    {% endif %}
{% endblock %}
