{% sw_extends '@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/new.html.twig' %}

{% block b2b_offerlineitemreference_new_form %}
    <form
        id="b2bofferthroughcheckout-new-form"
        action="{{ path('frontend.b2b.b2bofferthroughcheckout.create') }}"
        method="post"
        class="form--inline order--line-item-new modal--small {{ b2b_acl('b2bofferthroughcheckout', 'create') }}"
        data-ajax-panel-trigger-reload="offer-grid"
        data-close-success="true"
        data-csrf-token="{{ sw_csrf('frontend.b2b.b2bofferthroughcheckout.create', { mode: 'token' }) }}"
    >
        {{ parent() }}
    </form>
{% endblock %}

{% block b2b_offerlineitemreference_new_form_csrf %}
    {{ sw_csrf('frontend.b2b.b2bofferthroughcheckout.create') }}
{% endblock %}

{% block b2b_offerlineitemreference_new_form_inner_inputs %}
    <input
        type="hidden"
        name="offerId"
        value="{{ offer.id.getValue }}"
    />
{% endblock %}

{% block b2b_offerlineitemreference_new_modal_action_bottom_cancel %}
{% endblock %}

{% block b2b_offerlineitemreference_new_modal_action_bottom_submit %}
    <button
        type="submit"
        class="btn {{ b2b_acl('b2bofferthroughcheckout', 'create') }}"
        data-form-id="b2bofferthroughcheckout-new-form"
        tabindex="0"
    >
        {{ "b2b.Save"|trans }}
    </button>
{% endblock %}
