{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail-list-item.html.twig' %}

{% block page_account_order_item_detail_list_item %}
    {% set isDiscount = ((not lineItem.good and price.totalPrice <= 0) or lineItem.type == 'surchargeDiscount') %}
    {% set isNested = lineItem.children.count > 0 %}
    {% set childTemplate = '@Storefront/storefront/page/account/order-history/order-detail-list-item.html.twig' %}

    {% block page_account_order_item_detail_list_item_container %}
        {{ parent() }}
    {% endblock %}

    {% block page_account_order_item_detail_list_item_children %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block page_account_order_item_detail_image_value %}
    <div class="order-item-product-image">
        {% if isDiscount %}
            <div class="order-item-img order-item-discount-icon">
                {% if lineItem.price.totalPrice <= 0 %}
                    {% sw_icon 'marketing' style {
                        'color': 'success'
                    } %}
                {% else %}
                    {% sw_icon 'marketing' style {
                        'color': 'danger'
                    } %}
                {% endif %}
            </div>
        {% elseif isNested %}
            <div class="order-item-nested-icon">
                {% sw_icon 'bag-product' style {
                    'color': 'light'
                } %}
            </div>
        {% else %}
            {% set url = lineItem.referencedId ? seoUrl('frontend.detail.page', {'productId': lineItem.referencedId }) : '#not-found' %}
            <a href="{{ url }}"
               class="product-image-link"
               title="{{ lineItem.label }}">
                {% block page_checkout_item_info_image_element %}
                    {% if lineItem.cover %}
                        {% sw_thumbnails 'cart-item-img-thumbnails' with {
                            media: lineItem.cover,
                            sizes: {
                                'default': '100px'
                            },
                            attributes: {
                                'class': 'img-fluid order-item-img',
                                'alt': (lineItem.cover.translated.alt ?: ''),
                                'title': (lineItem.cover.translated.title ?: '')
                            }
                        } %}
                    {% else %}
                        <div class="product-image-placeholder">
                            {% sw_icon 'placeholder' style {
                                'size': 'fluid'
                            } %}
                        </div>
                    {% endif %}
                {% endblock %}
            </a>
        {% endif %}
    </div>
{% endblock %}
