{% block page_account_offers_modal %}
    <div class="modal fade" id="acceptOfferModal-{{ offer.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ "ies-offer.account.acceptOffer"|trans({'%offer%': offer.number})|sw_sanitize }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% block page_account_offers_modal_form %}
                        <form
                            action="{{ path('frontend.account.offer.accept') }}"
                            method="post"
                            id="acceptOfferForm-{{ offer.id }}"
                            data-form-csrf-handler="true"
                        >
                            {% block page_account_offers_modal_form_redirect %}
                                <input type="hidden"
                                       name="redirectTo"
                                       value="frontend.account.offer.page">
                            {% endblock %}

                            {% block page_account_offers_modal_form_hidden_fields %}
                                <input type="hidden"
                                       name="offerId"
                                       value="{{ offer.id }}">
                            {% endblock %}

                            {% block page_account_offers_modal_form_csrf %}
                                {{ sw_csrf('frontend.account.offer.accept') }}
                            {% endblock %}

                            {% block page_account_offers_modal_form_message %}
                                <div class="form-group">
                                    <label for="message">{{ "ies-offer.account.offerPlaceholder"|trans }}</label>
                                    <textarea class="form-control" id="message" name="message" rows="8"></textarea>
                                </div>
                            {% endblock %}
                        </form>
                    {% endblock %}
                </div>
                <div class="modal-footer">
                    <button type="submit" form="acceptOfferForm-{{ offer.id }}" class="btn btn-primary">{{ "ies-offer.account.offerAccept"|trans|sw_sanitize }}</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "ies-offer.account.offerClose"|trans|sw_sanitize }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
