{% sw_extends '@Storefront/storefront/page/account/_page.html.twig' %}

{% block page_account_main_content %}
    {% block page_account_offers %}
        <div class="account-offers">
            {% block page_account_offers_welcome %}
                <div class="account-welcome">
                    {% block page_account_offers_welcome_headline %}
                        <h1>{{ "ies-offer.account.offersTitle"|trans|sw_sanitize }}</h1>
                        <p>{{ "ies-offer.account.offersWelcome"|trans|sw_sanitize }}</p>
                    {% endblock %}
                </div>
            {% endblock %}

            {% block page_account_offers_main %}
                <div class="account-orders-main">
                    {% if page.documents.total == 0 %}
                        {% block page_account_offers_info_empty %}
                            {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                type: "warning",
                                content: "ies-offer.account.offersInfoEmpty"|trans|sw_sanitize
                            } %}
                        {% endblock %}
                    {% else %}
                        {% block page_account_offers_overview %}
                            <div class="account-orders-overview">
                                {% block page_account_offers_table %}
                                    {% block page_account_offers_table_body %}
                                        {% for offer in page.documents %}
                                            {% if offer.documentMediaFile.id %}
                                                <div class="table order-table">
                                                    {% sw_include '@Storefront/storefront/page/account/offer-history/offer-item.html.twig' %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endblock %}
                                {% endblock %}
                            </div>
                        {% endblock %}
                    {% endif %}
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
