{% block page_account_order_item_overview %}
    <div class="order-wrapper">
        <div class="order-item-header">
            <div class="row flex-wrap">
                {% block page_account_order_item_heading %}
                    <h2 class="col order-table-header-heading">{{ "ies-offer.account.offerHeadline"|trans|sw_sanitize }} {{ offer.number }}</h2>
                {% endblock %}

                {% block page_account_order_item_status_col %}
                    <div class="col">
                        {% block page_account_order_item_status %}
                            <span class="order-table-header-order-status">
                                    {{ "ies-offer.account.offerStatus"|trans|sw_sanitize }}
                                {% if offer.accepted %}
                                    {{ "ies-offer.account.offerStatusAccepted"|trans|sw_sanitize }}
                                {% else %}
                                    {{ "ies-offer.account.offerStatusOpen"|trans|sw_sanitize }}
                                {% endif %}
                            </span>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
            {% block page_account_order_item_actions_col %}
                <div class="row flex-wrap">
                    {% block page_account_order_item_download %}
                        <div class="col offer-action-button-col">
                            <a class="btn btn-primary offer-table-header-order-download" href="{{ path('frontend.account.offer.download', { offerId: offer.id, deepLinkCode: offer.deepLinkCode }) }}">
                                {{ "ies-offer.account.download"|trans|sw_sanitize }}
                            </a>
                        </div>
                    {% endblock %}
                    {% block page_account_order_item_accept %}
                        {% if not offer.accepted %}
                            <div class="col offer-action-button-col">
                                <button type="button" class="btn btn-primary offer-table-header-order-download" data-toggle="modal" data-target="#acceptOfferModal-{{ offer.id }}">
                                    {{ "ies-offer.account.acceptButton"|trans|sw_sanitize }}
                                </button>
                            </div>

                            {% sw_include '@Storefront/storefront/page/account/offer-history/accept-offer-modal.html.twig' %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
