{% block b2b_orderlineitemreference_list_head %}
    {% set allowUpdatePositions = b2b_acl_check('b2borderlineitemreference', 'updateLineItem' ) %}
    {% set allowEditing = allowUpdatePositions and (orderEditable or hasEditableRow) %}

    <thead>
        <tr>
            {% block b2b_orderlineitemreference_list_head_inner %}
                <th>{{ "b2b.ProductLabel"|trans }}</th>
                <th>{{ "b2b.QuantityLabel"|trans }}</th>
                <th>{{ "b2b.UnitPriceLabel"|trans }}</th>
                <th>{{ "b2b.CommentLabel"|trans }}</th>
                <th>{{ "b2b.AvailableLabel"|trans }}</th>
                {% if allowEditing %}
                    <th>{{ "b2b.ActionsLabel"|trans }}</th>
                {% endif %}
            {% endblock %}
        </tr>
    </thead>
{% endblock %}