<div class="table--responsive">
    {% block b2b_orderlineitemreference_list %}
        <table
            class="b2b-table"
            data-row-count="{{ itemGrid.data|length }}"
        >
            {% block b2b_orderlineitemreference_list_inner %}
                {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderlineitemreference/list/_list-head.html.twig' %}

                <tbody>
                {% for row in itemGrid.data %}
                    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderlineitemreference/list/_list-row.html.twig' %}
                {% endfor %}
                </tbody>
            {% endblock %}
        </table>
    {% endblock %}
</div>
