{% block b2b_orderlineitemreference_list_item_comment %}
    <tr
        class="is--hidden"
        data-display="edit-mode"
    >
        <td
            class="line-item--column-comment"
            data-label="{{ "b2b.CommentLabel"|trans }}"
            colspan="6"
        >
            <form
                action="{{ path('frontend.b2b.b2borderlineitemreference.updateLineItem') }}"
                method="post"
                data-ajax-panel-trigger-reload="order-grid,order-clearance-grid,statistic-grid"
            >
                {% block b2b_orderlineitemreference_list_item_comment_form %}
                    {{ sw_csrf('frontend.b2b.b2borderlineitemreference.updateLineItem') }}

                    <input type="hidden" name="quantity" class="quantityHidden-{{ row.id.getValue }}" value="{{ row.quantity }}" />
                    <input type="hidden" name="id" value="{{ row.id.getValue }}" />
                    <input type="hidden" name="orderContextId" value="{{ orderContext.id.getValue }}" />
                    <input type="hidden" name="mode" value="{{ row.mode.originalMode }}" />
                    <input type="hidden" name="isEditable" value="{{ row.isEditable }}" />
                    <input type="hidden" name="stateId" value="{{ stateId.getValue }}" />

                    <div class="comment--container">
                        <textarea
                            class="form-control"
                            type="text"
                            name="comment"
                            placeholder="{{ "b2b.CommentPlaceholder"|trans }}"
                            autocomplete="off"
                        >
                            {{- row.comment -}}
                        </textarea>

                        <div class="comment--actions">
                            <a
                                href="{{ path('frontend.b2b.b2borderlineitemreference.list', { orderContextId: orderContext.id.getValue, isEditable: row.isEditable }) }}"
                                class="btn b2b-danger right"
                            >
                                {{ "b2b.Cancel"|trans }}
                            </a>
                            <button
                                class="btn b2b-highlight right"
                                type="submit"
                            >
                                {{ "b2b.Save"|trans }}
                            </button>
                        </div>
                    </div>
                {% endblock %}
            </form>
        </td>
    </tr>
{% endblock %}