{% block b2b_orderlineitemreference_list_item_content %}
    {% set allowUpdatePositions = b2b_acl_check('b2borderlineitemreference', 'updateLineItem' ) %}
    <tr
        class="{% if not itemEditable or not allowUpdatePositions %}is--disabled{% endif %}"
        data-row-id="{{ row.id.getValue }}"
        data-class="row"
    >
        {% block b2b_orderlineitemreference_list_item_content_inner %}
            <td
                class="modal-col-product"
                data-label="{{ "b2b.ProductLabel"|trans }}"
            >
                <div>
                    {% if row.name|length is same as(0) and row.mode is same as(0) %}
                        <span class="deleted-line-item">
                        {% sw_icon 'warning' style { color: 'warning' } %}
                            {{ "b2b.Deleted"|trans }}
                        </span>
                    {% else %}
                        {{ row.name }}
                    {% endif %}
                    <small>
                        <i>
                            {% if row.customReferenceNumber %}
                                {{ row.customReferenceNumber }}
                            {% else %}
                                {{ row.referenceNumber }}
                            {% endif %}
                        </i>
                    </small>
                    <br>

                    {% if row.orderList %}
                        <span class="info-text">{{ "b2b.OrderList"|trans }}: {{ row.orderList }}</span>
                    {% endif %}
                </div>
            </td>

            <td
                class="modal--col-quantity"
                data-label="{{ "b2b.QuantityLabel"|trans }}"
                class="line-item--column-quantity"
            >
                {% if itemEditable and orderEditable %}
                    <div
                        data-display="edit-mode"
                        class="is--hidden"
                    >
                        <input
                            class="form-control"
                            type="number"
                            name="quantity"
                            value="{{ row.quantity }}"
                            data-b2b-form-input-holder="true"
                            data-targetElement="quantityHidden-{{ row.id.getValue }}"
                            min="{{ row.minPurchase|default(1) }}"
                            step="{{ row.purchaseStep|default(1) }}"
                            max="{{ row.maxPurchase }}"
                        />
                    </div>
                {% endif %}

                <div data-display="view-mode">
                    {{ row.quantity }}
                </div>
            </td>

            <td data-label="{{ "b2b.UnitPriceLabel"|trans }}">
                <div>
                    {{ row.amountNet|currency }}
                    <br>
                    <small>{{ "b2b.WithTaxesLabel"|trans }}: {{ row.amount|currency }}</small>
                </div>
            </td>

            <td
                class="modal--col-comment"
                data-label="{{ "b2b.CommentPlaceholder"|trans }}"
                title="{{ row.comment }}"
            >
                {{ row.comment|default('-')|u.truncate(80) }}
            </td>

            <td
                class="modal--col-available"
                data-label="{{ "b2b.AvailableLabel"|trans }}"
            >
                {% if row.mode.getValue == 'product' %}
                    {% if row.minPurchase and row.quantity < row.minPurchase and row.quantity <= row.inStock %}
                        <span
                            class="circle color--not-completely-available"
                            title="{{ "b2b.MinimumOrderQuantityNotReached"|trans }}"
                        ></span>
                    {% elseif row.maxPurchase and row.quantity > row.maxPurchase and row.quantity <= row.inStock %}
                        <span
                            class="circle color--not-completely-available"
                            title="{{ "b2b.MaximumOrderQuantityExceeded"|trans }}"
                        ></span>
                    {% elseif row.quantity <= row.inStock and not row.isLastStock %}
                        <span
                            class="circle color--available"
                            title="{{ "b2b.Available"|trans }}"
                        ></span>
                    {% elseif row.inStock > 0 %}
                        <span
                            class="circle color--not-completely-available"
                            title="{{ "b2b.NotCompletelyAvailable"|trans }}"
                        ></span>
                    {% else %}
                        <span
                            class="circle color--unavailable"
                            title="{{ "b2b.Unavailable"|trans }}"
                        ></span>
                    {% endif %}
                {% endif %}
            </td>

            {% block b2b_orderlineitemreference_list_item_content_inner_actions %}
                {% set allowEditRows = allowUpdatePositions and (orderEditable or hasEditableRow) %}
                {% if allowEditRows %}
                    <td
                        class="col-actions"
                        data-label="{{ "b2b.ActionsLabel"|trans }}"
                    >
                        {% block b2b_orderlineitemreference_list_item_content_inner_actions_inner %}
                            <button
                                title="{{ "b2b.EditItem"|trans }}"
                                type="button"
                                data-mode="edit"
                                class="btn is--small b2b-highlight"
                            >
                                {% sw_icon 'pencil-brush' %}
                            </button>
                            <form
                                action="{{ path('frontend.b2b.b2borderlineitemreference.removeLineItem') }}"
                                method="post"
                                class="form--inline {{ b2b_acl('b2borderlineitemreference', 'removeLineItem') }}"
                                data-ajax-panel-trigger-reload="order-grid,order-clearance-grid"
                                data-csrf-token="{{ sw_csrf('frontend.b2b.b2borderlineitemreference.removeLineItem', { mode: 'token' }) }}"
                            >
                                {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}

                                <input type="hidden" name="orderContextId" value="{{ orderContext.id.getValue }}">
                                <input type="hidden" name="lineItemId" value="{{ row.id.getValue }}">
                                <input type="hidden" name="confirmName" value="{{ row.referenceNumber }}">

                                <button
                                    title="{{ "b2b.DeleteItem"|trans }}"
                                    type="submit"
                                    class="btn is--small b2b-danger component-action-delete"
                                    data-confirm="true"
                                    data-confirm-url="{{ path('frontend.b2b.b2bconfirm.remove') }}?confirmName={{ row.referenceNumber }}"
                                >
                                    {% sw_icon 'trash' %}
                                </button>
                            </form>
                        {% endblock %}
                    </td>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </tr>
{% endblock %}