{% set itemEditable = row.isEditable %}

{% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderlineitemreference/list/_list-item-content.html.twig' %}

{% if itemEditable and orderEditable %}
    {%  sw_include '@SwagB2bPlatform/storefront/frontend/b2borderlineitemreference/list/_list-item-comment.html.twig' %}
{% endif %}

<tr data-display="spacer-mode">
    {#Empty row to prevent wrong color for the next row due to the open comment row #}
</tr>