{% block sw_customer_detail_content_tab_order %}
    {% parent %}

    {% block b2b_sales_rep_client_selection %}
        <sw-tabs-item
            v-if="acl.can('sales-representative-clients.viewer') && isSalesRepresentative"
            class="sw-customer-detail__tab-b2b-sales-representative-client-selection"
            :route="salesRepClients"
            :title="$tc('b2b-salesrep.customer.settings.tabSalesRepresentativeClientSelection')">
            {{ $tc('b2b-salesrep.customer.settings.tabSalesRepresentativeClientSelection') }}
        </sw-tabs-item>
    {% endblock %}
{% endblock %}
