Hello {{ postalSettings.salutation }} {{ postalSettings.lastName }},<br/>
<br/>
the status of your offer has changed.<br>
It is now "{{ translatedOfferStatus }}".<br>
Please log into your account and check the offer under "My account" - "Dashboard" - "Offers".