Hallo {{ postalSettings.salutation }} {{ postalSettings.lastName }},<br/>
<br/>
der Status Deines Angebotes hat sich ge&auml;ndert.<br/>
Er ist jetzt "{{ translatedOfferStatus }}".<br/>
Bitte logge Dich in Deinen Account ein und prüfe das Angebot unter "Mein Konto" - "Dashboard" - "Angebote".