Hello {{ postalSettings.salutation }} {{ postalSettings.lastName }},

the status of your offer has changed.
It is now "{{ translatedOfferStatus }}".
Please log into your account and check the offer under "My account" - "Dashboard" - "Offers".
