Hallo {{ postalSettings.salutation }} {{ postalSettings.lastName }},

der Status Deines Angebotes hat sich geändert.
Er ist jetzt "{{ translatedOfferStatus }}".
Bitte logge Dich in Deinen Account ein und prüfe das Angebot unter "Mein Konto" - "Dashboard" - "Angebote".
