{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-item.html.twig' %}

{% block component_offcanvas_product_quantity_form %}
    {% set cartDestination = page.cart.getExtension("b2b-cart-state").destination.name %}

    {% if not (b2bSuite and
        cartDestination is not same as('default') and
        cartDestination is not same as('cleared-order') and
        cartDestination is not same as('order-clearance'))
    %}
        {{ parent() }}
    {% endif %}
{% endblock %}