{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_flashbags %}
    {% if b2bSuite %}
        {% sw_include '@SwagB2bPlatform/storefront/_custom/cart/b2b-cart-alerts.html.twig' with {
            cart: page.cart
        } %}
    {% endif %}
    {{ parent() }}
{% endblock %}