{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header %}
    {% if isSalesRep and not isSalesRepRemoteControl %}
        <div class="container">
            {% sw_include '@SwagB2bPlatform/storefront/layout/header/header.html.twig' %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block base_header_inner %}
    {% if isSalesRepRemoteControl %}
        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bsalesrepresentative/bar.html.twig' %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block base_navigation %}
    {% if isSalesRepRemoteControl or not isSalesRep %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block base_body_script %}
    {{ parent() }}

    {% sw_include
        '@SwagB2bPlatform/storefront/bundles/BundleLoader.html.twig'
        ignore missing
    %}
{% endblock %}
