{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-sort.html.twig' %}

{% block b2b_grid_col_sort %}
    <option
        value="id::asc"
        {% if gridState.sortBy == 'id::asc' %} selected="selected"{% endif %}
    >
        {{ "b2b.NewestAsc"|trans }}
    </option>
    <option
        value="id::desc"
        {% if gridState.sortBy == 'id::desc' %} selected="selected"{% endif %}
    >
        {{ "b2b.NewestDesc"|trans }}
    </option>

    <option
        value="name::asc"
        {% if gridState.sortBy == 'name::asc' %} selected="selected"{% endif %}
    >
        {{ "b2b.NameAsc"|trans }}
    </option>

    <option
        value="name::desc"
        {% if gridState.sortBy == 'name::desc' %} selected="selected"{% endif %}
    >
        {{ "b2b.NameDesc"|trans }}
    </option>
{% endblock %}