{% block b2b_orderlist_grid_header %}
    <tr>
        {% block b2b_orderlist_grid_header_inner %}
            <th>{{ "b2b.NameLabel"|trans }}</th>
            <th>{{ "b2b.ItemsLabel"|trans }}</th>
            <th>{{ "b2b.AmountLabel"|trans }}</th>
            <th>{{ "b2b.ActionsLabel"|trans }}</th>
        {% endblock %}
    </tr>
{% endblock %}