{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table.html.twig' %}

{% block b2b_grid_table_head %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderlist/grid/_grid-head.html.twig' %}
{% endblock %}

{% block b2b_grid_table_row %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderlist/grid/_grid-row.html.twig' %}
{% endblock %}