{% block b2b_grid_table_row %}
    <tr data-row-id="{{ row.id.getValue }}">
        {% block b2b_orderlist_grid_row_inner %}
            {% block b2b_orderlist_grid_row_inner_data %}
                <td
                    data-label="{{ "b2b.NameLabel"|trans }}"
                    class="is--align-left">{{ row.name }}
                </td>

                <td
                    data-label="{{ "b2b.ItemsLabel"|trans }}"
                    class="is--align-center">{{ row.lineItemList.references|length }}
                </td>

                <td
                    data-label="{{ "b2b.AmountLabel"|trans }}"
                    class="is--align-right">
                    <div>
                        {{ row.lineItemList.amountNet|currency }}
                        <br>
                        <small>
                            {{ "b2b.WithTaxesLabel"|trans }}: {{ row.lineItemList.amount|currency }}
                        </small>
                    </div>
                </td>
            {% endblock %}

            {% block b2b_orderlist_grid_row_inner_actions %}
                <td
                    data-label="{{ "b2b.ActionsLabel"|trans }}"
                    class="col-actions"
                >
                    {% block b2b_orderlist_grid_row_inner_actions_inner %}
                        <button
                            title="{{ "b2b.OrderListEdit"|trans }}"
                            type="button"
                            class="btn ajax-panel-link {{ b2b_acl("b2borderlist", "detail") }}"
                            data-target="order-list-detail"
                            data-plugins="ajaxPanelTriggerReload"
                            data-href="{{ path("frontend.b2b.b2borderlist.detail", { orderlist: row.id.getValue, orderContextId: row.orderContextId.getValue }) }}"
                        >
                            {% sw_icon 'pencil-brush' %}
                        </button>

                        <form
                            method="post"
                            data-check-url="{{ path("frontend.b2b.b2borderlist.validateBeforeCart") }}"
                            data-action-url="{{ path("frontend.b2b.b2borderlist.produceCart") }}"
                            class="form--inline b2b-ajax-panel b2b--order-list-validation {{ b2b_acl("b2borderlist", "produceCart") }}"
                        >
                            {{ sw_csrf('frontend.b2b.b2borderlist.validateBeforeCart') }}

                            <input
                                type="hidden"
                                name="orderListId"
                                value="{{ row.id.getValue }}"
                            />
                            <button
                                title="{{ "b2b.OrderListAddToCart"|trans }}"
                                type="button"
                                class="btn"
                                {% if row.lineItemList.references|length == 0 %}disabled{% endif %}
                            >
                                {% sw_icon 'basket' %}
                            </button>
                        </form>

                        <form
                            action="{{ path("frontend.b2b.b2borderlist.duplicate") }}"
                            method="post"
                            class="form--inline {{ b2b_acl("b2borderlist", "duplicate") }}"
                        >
                            {{ sw_csrf('frontend.b2b.b2borderlist.duplicate') }}

                            <input
                                type="hidden"
                                name="id"
                                value="{{ row.id.getValue }}"
                            >
                            <button
                                title="{{ "b2b.OrderListDuplicate"|trans }}"
                                type="submit"
                                class="btn component-action-duplicate"
                            >
                                {% sw_icon 'duplicate' %}
                            </button>
                        </form>

                        <form
                            action="{{ path("frontend.b2b.b2borderlist.exportCsv") }}"
                            method="post"
                            class="form--inline ignore--b2b-ajax-panel {{ b2b_acl("b2borderlist", "exportCsv") }}"
                            target="_blank"
                        >
                            {{ sw_csrf('frontend.b2b.b2borderlist.exportCsv') }}

                            <input
                                type="hidden"
                                name="id"
                                value="{{ row.id.getValue }}"
                            >
                            <button
                                title="{{ "b2b.ExportList"|trans }}"
                                type="submit"
                                class="btn component-action-export"
                                {% if row.lineItemList.references|length == 0 %}disabled{% endif %}
                            >
                                {% sw_icon 'cloud-download' %}
                            </button>
                        </form>

                        <form
                            action="{{ path('frontend.b2b.b2borderlist.remove') }}"
                            method="post"
                            class="form--inline {{ b2b_acl('b2borderlist', 'remove') }}"
                            data-csrf-token="{{ sw_csrf('frontend.b2b.b2borderlist.remove', { mode: 'token' }) }}"
                        >
                            {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}

                            <input type="hidden" name="id" value="{{ row.id.getValue }}" />
                            <input type="hidden" name="confirmName" value="{{ row.name }}" />

                            <button
                                class="btn component-action-delete btn-danger"
                                title="{{ "b2b.OrderListDelete"|trans }}"
                                type="submit"
                                data-confirm="true"
                                data-confirm-url="{{ path('frontend.b2b.b2bconfirm.remove') }}?confirmName={{ row.name }}"
                            >
                                {% sw_icon 'trash' %}
                            </button>
                        </form>
                    {% endblock %}
                </td>
            {% endblock %}
        {% endblock %}
    </tr>
{% endblock %}
