{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_quantity_container %}
    <div class="col-12">
        {% block page_product_detail_buy_quantity %}
            <div class="buy-widget-quantity">
                <span class="buy-widget-quantity-label font-weight-bold">{{ "detail.dataColumnQuantity"|trans|striptags }}</span>
                <input class="buy-widget-quantity-input" type="number" value="1" max="1000" name="lineItems[{{ product.id }}][quantity]" />
                {{ product.packUnit }}
            </div>
        {% endblock %}
    </div>
{% endblock %}

{% block page_product_detail_buy_button_container %}
    <div class="col-12">
        {% block page_product_detail_buy_button %}
            <button class="btn btn-primary btn-block btn-buy"
                    title="{{ "detail.addProduct"|trans|striptags }}"
                    aria-label="{{ "detail.addProduct"|trans|striptags }}">
                {% sw_icon 'cart-arrow-down' style { 'pack': 'feldmann' } %}
                {{ "detail.addProduct"|trans|sw_sanitize }}
            </button>
        {% endblock %}
    </div>
{% endblock %}



