{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_price %}
    {% if showPrice %}
        <div class="product-detail-price-label font-weight-bold">
            {{ "detail.priceLabel"|trans|sw_sanitize }}
        </div>

        {{ parent() }}
    {% endif %}

    {% if page.product.productNumber %}
        <div class="product-detail-ordernumber-container">
            {% block page_product_detail_ordernumber_label %}
                <span class="product-detail-ordernumber-label">
                    {{ "detail.ordernumberLabel"|trans|sw_sanitize }}
                </span>
            {% endblock %}

            {% block page_product_detail_ordernumber %}
                <meta itemprop="productID"
                      content="{{ page.product.id }}"/>
                <span class="product-detail-ordernumber"
                      itemprop="sku">
                    {{ page.product.productNumber }}
                </span>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block page_product_detail_tax_link %}
    {% if context.taxState == "gross" %}
        {% set taxText = "detail.grossTaxInformation"|trans|sw_sanitize %}
    {% else %}
        {% set taxText = "detail.netTaxInformation"|trans|sw_sanitize %}
    {% endif %}
    {% set taxTitle = taxText ~ "detail.deliveryCost"|trans|sw_sanitize %}

    {{ taxText }}

    {% if shopware.config.FeldmannTheme.config.shippingPaymentInfoPage %}
        {% set shippingPaymentInfoPage = seoUrl('frontend.navigation.page', { navigationId: shopware.config.FeldmannTheme.config.shippingPaymentInfoPage }) %}
        <a class="product-detail-tax-link font-weight-bold"
           href="{{ shippingPaymentInfoPage }}"
           title="{{ taxTitle }}">
            {{ "detail.deliveryCost"|trans|sw_sanitize }}
        </a>
    {% else %}
        {% set shippingPaymentInfoPage = path('frontend.cms.page',{ id: shopware.config.core.basicInformation.shippingPaymentInfoPage }) %}
        <a class="product-detail-tax-link font-weight-bold"
           href="{{ shippingPaymentInfoPage }}"
           title="{{ taxTitle }}"
           data-toggle="modal"
           data-url="{{ shippingPaymentInfoPage }}">
            {{ "detail.deliveryCost"|trans|sw_sanitize }}
        </a>
    {% endif %}

{% endblock %}

{% block page_product_detail_delivery_informations %}
    {% sw_include '@Storefront/storefront/page/product-detail/actions/inquery.html.twig' %}
    {% sw_include '@Storefront/storefront/page/product-detail/actions/share-buttons.html.twig' %}
{% endblock %}

{% block page_product_detail_buy_form %}{% endblock %}

{% block page_product_detail_ordernumber_container %}
    {% if showPrice %}
        {% if page.product.active %}
            <div class="product-detail-form-container">
                {% sw_include '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
