{% sw_extends '@Storefront/storefront/page/product-detail/description.html.twig' %}

{% block utilities_offcanvas_close %}{% endblock %}

{% block page_product_detail_description_title %}{% endblock %}

{% block page_product_detail_description_container %}
    <div class="row product-detail-tabs-container">
        <div class="col-lg-7 product-detail-description-container">
            {{ parent() }}
        </div>
        <div class="col-lg-5">
            {% sw_include '@Storefront/storefront/page/product-detail/properties/property-slider.html.twig' with {
                customFields: page.product.translated.customFields
            } %}
        </div>
    </div>
{% endblock %}
