{% sw_extends '@Storefront/storefront/page/product-detail/tabs.html.twig' %}

{% block page_product_detail_tabs_navigation_container %}
    <h2>{{ "detail.tabsDescription"|trans|sw_sanitize }}</h2>
{% endblock %}

{% block page_product_detail_tabs_content_review %}{% endblock %}
