{% sw_extends "@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/list/_list-row-actions.html.twig" %}

{% block b2b_offerlineitemreference_list_row_actions_inner_form %}
    <form
        action="{{ path('frontend.b2b.b2bofferthroughcheckout.update') }}"
        method="post"
        class="form--inline {{ b2b_acl('b2bofferthroughcheckout', 'update') }}"
        data-csrf-token="{{ sw_csrf('frontend.b2b.b2bofferthroughcheckout.update', { mode: 'token' }) }}"
    >
        {{ parent() }}
    </form>
{% endblock %}

{% block b2b_offerlineitemreference_list_row_actions_inner_form_csrf %}
    {{ sw_csrf('frontend.b2b.b2bofferthroughcheckout.update') }}
{% endblock %}

{% block b2b_offerlineitemreference_list_row_actions_inner_form_inner_cancel %}
    <a
        href="{{ path('frontend.b2b.b2bofferthroughcheckout.grid', { offerId: offer.id.getValue }) }}"
        class="btn b2b-danger right"
    >
        {{ "b2b.Cancel"|trans }}
    </a>
{% endblock %}

{% block b2b_offerlineitemreference_list_row_actions_inner_form_inner_submit %}
    <button
        class="btn is--primary right"
        type="submit"
    >
        {{ "b2b.Save"|trans }}
    </button>
{% endblock %}