{% sw_extends "@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/list/_list-item-content.html.twig" %}

{% block b2b_offerlineitemreference_list_item_content_inner_actions_inner_remove %}
    <form
        action="{{ path('frontend.b2b.b2bofferthroughcheckout.remove') }}"
        method="post"
        class="form--inline {{ b2b_acl('b2bofferthroughcheckout', 'remove') }}"
        data-ajax-panel-trigger-reload="offer-grid"
        data-csrf-token="{{ sw_csrf('frontend.b2b.b2bofferthroughcheckout.remove', { mode: 'token' }) }}"
    >
        {{ parent() }}
    </form>
{% endblock %}