{% sw_extends "@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/list/_list.html.twig" %}

{% block b2b_offerlineitemreference_list_inner_row %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bofferthroughcheckout/list/_list-row.html.twig' %}
{% endblock %}