{% sw_extends "@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/list/_list-row.html.twig" %}

{% block b2b_offerlineitemreference_list_inner_row_content %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bofferthroughcheckout/list/_list-item-content.html.twig' %}
{% endblock %}

{% block b2b_offerlineitemreference_list_inner_row_actions %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bofferthroughcheckout/list/_list-row-actions.html.twig' %}
{% endblock %}