{% sw_extends '@Storefront/storefront/page/account/order/index.html.twig' %}

{% if b2bSuite %}
    {% block b2b_checkout_confirm_budget_select %}{% endblock %}
    {% block b2b_checkout_confirm_order_list %}{% endblock %}
    {% block b2b_checkout_confirm_additional %}{% endblock %}
{% endif %}