.is--b2b-tree-select {

  .tree-label {
    display: block;
    position: relative;

    @include unitize-padding(10, 10, 10, 10);

    @include unitize(margin-left, 30);

    &:hover {
      cursor: pointer;
    }

    &.is--company {
      font-weight: bold;
    }

    .actions {
      display: flex;
      align-items: center;
      background: $navigation-background;

      @include unitize(margin-top, 5);

      form {
        height: 100%;
        width: 50%;
        text-align: center;

        &:hover {

          .icon svg {
            color: $brand-primary;
          }

          .b2b-highlight .icon svg {
            color: $highlight-info;
          }

          .b2b-danger .icon svg {
            color: $highlight-error;
          }
        }

        button.btn {
          height: 100%;
          border: 0;
          background: transparent !important;

          .icon svg {
            color: $text-color;
          }
        }
      }

      hr.vertical {
        background: transparent;
        width: 2px;
        margin: 0;

        @include unitize(height, 38);
      }
    }
  }
}

@include minWidth("desktop") {

  .is--b2b-tree-select {

    .tree-label {

      &:hover .actions {
        visibility: visible;
      }

      .actions {
        visibility: hidden;
        position: absolute;

        @include unitize(margin-top, -1);

        @include unitize(right, -1);

        @include unitize(top, -1);

        @include unitize(bottom, -1);

        hr.vertical {
          background: $border-color;
          height: 100%;
          width: 1px;
        }
      }
    }
  }
}
