.b2b--plugin {

  .is--b2b-tree-select {

    &.is--b2b-tree-select-container {
      border: 1px solid $tree-tab-border;
    }

    .icon {

      &.icon-arrow-right {
        color: $icon-base-color;
      }
    }
  }
}

.is--b2b-tree-select.list--unordered {
  list-style: none;
  padding-left: 0;

  &.is--root-list {
    border-top: 0;
    overflow-y: auto;

    @include unitize-max-height(200);

    @include minWidth("tablet") {
      @include unitize-max-height(500);
    }

    li {
      margin-top: -1px;
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
      width: 12px;
    }

    &::-webkit-scrollbar:horizontal {
      height: 11px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      border: 2px solid $navigation-background;
      background-color: lighten($text-color-light, 10);
    }
  }
}
