.tree-handle {
  color: $brand-secondary;
  position: absolute;
  top: 0;
  text-align: center;
  height: 100%;

  @include unitize(width, 30);

  &:hover  span.tree-icon {

    &.closed,
    &.opened {
      cursor: pointer;

      .icon {
        color: $brand-primary;
      }
    }
  }

  span.tree-icon .icon {
    @include unitize(margin-left, 5);

    @include unitize(margin-top, 7);
  }

  span.tree-icon {
    display: none;
    height: 100%;
  }

  span.tree-icon.leaf {
    display: block;
  }
}