.is--b2b-tree-select {

  li {

    &.dragged {
      z-index: 1;
      position: relative;
      opacity: 0.8;
    }

    &.selected > span.node-content-container,
    &.dragged > span.node-content-container{
      background: $panel-background-contrast;
    }

    &:before {
      content: "";
      width: 0;
    }

    &.is--disabled > .node-content-container {
      opacity: .5;
    }

    span.node-content-container {
      display: block;
      transition: background .3s ease;
      border-top: 1px solid $tree-tab-border;

      span.b2b-tree-node-inner {
        position: relative;
        display: block;

        @include unitize(padding, 2);

        &.dragover {
          font-weight: bolder;

          & > .drop-area {
            visibility: visible;
          }
        }

        &.hover {
          border: 2px dashed $brand-secondary;
          padding: 0;

          @include unitize(border-radius, 3);
        }

        span.drop-area {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          z-index: 10;
          visibility: hidden;

          @include unitize(left, 44);

          span {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            height: 33%;
            box-sizing: border-box;
          }

          span.drop-before {
            top: 0;
          }

          span.drop-before.hover,
          span.drop-before:hover {
            border-top: 2px dashed $brand-secondary;
          }

          span.drop-as-child {
            top: 33%;
          }

          span.drop-after {
            top: 66%;
          }

          span.drop-after.hover,
          span.drop-after:hover {
            border-bottom: 2px dashed $brand-secondary;
          }
        }

        & > a {
          cursor: inherit;
        }
      }
    }

    &.has--children.is--closed > span.node-content-container span.b2b-tree-node-inner {

      span.tree-icon.closed {
        display: block;
      }

      span.tree-icon.leaf {
        display: none;
      }
    }

    &.has--children.is--opened > span.node-content-container span.b2b-tree-node-inner {

      span.tree-icon.opened {
        display: block;
      }

      span.tree-icon.leaf {
        display: none;
      }
    }

    &.has--children.is--loading > span.node-content-container span.b2b-tree-node-inner {

      span.tree-icon.loading {
        display: block;
      }

      span.tree-icon.leaf {
        display: none;
      }
    }
  }
}