{% block customer_login_button %}
    <button class="sw-button customer-login-button" @click="onClick">
        <span class="sw-button__content">{{ $tc('jlau-login-customer.button.title') }}</span>
    </button>
{% endblock %}
