<div style="font-family:arial; font-size:12px;">
    <p>
        Hallo {{ debtor.salutation }} {{ debtor.lastName }},<br/>
        <br/>
        Ihr Kontakt "{{contact.firstName }} {{ contact.lastName }}" hat eine Bestellfreigabe beantragt!<br/>
        <br/>
        Zum Bearbeiten der Bestellfreigabe können Sie jederzeit auf {{ salesChannel.name }} unter "Mein Konto" -
        "Bestellungen" im Bereich der Bestellfreigaben diese abrufen.<br/>
        <br/>
        Im Freigabeprozess haben Sie die Möglichkeit die Bestellung vollständig einzusehen, zu bearbeiten, anzunehmen und abzulehnen.
    </p>
</div>
