<div style="font-family:arial; font-size:12px;">
    <p>
        Hello {{ debtor.salutation }} {{ debtor.lastName }},<br/>
        <br/>
        Your contact "{{ contact.firstName }} {{ contact.lastName }}" has requested an order clearance!<br/>
        <br/>
        To edit the order clearance, you can always retrieve them on {{ salesChannel.name }} under "My Account" -
        "Orders" in the field of order clearances.<br/>
        <br/>
        In the clearance process, you have the option of fully viewing, editing, accepting and rejecting the order.
    </p>
</div>
