Hello {{ debtor.salutation }} {{ debtor.lastName }},

Your contact "{{ contact.firstName }} {{ contact.lastName }}" has requested an order clearance!

To edit the order clearance, you can always retrieve them on {{ salesChannel.name }} under "My Account" -
"Orders" in the field of order clearances.

In the clearance process, you have the option of fully viewing, editing, accepting and rejecting the order.
