Hallo {{ debtor.salutation }} {{ debtor.lastName }},

Ihr Kontakt "{{contact.firstName }} {{ contact.lastName }}" hat eine Bestellfreigabe beantragt!

Zum Bearbeiten der Bestellfreigabe können Sie jederzeit auf {{ salesChannel.name }} unter "Mein Konto" -
"Bestellungen" im Bereich der Bestellfreigaben diese abrufen.

Im Freigabeprozess haben Sie die Möglichkeit die Bestellung vollständig einzusehen, zu bearbeiten, anzunehmen und abzulehnen.