{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    bottom: true,
    actions: true,
    content: {
        padding: false
    }
} %}

{% set orderEditable = orderContext.isEditable %}

{% if not orderEditable %}

    {% if not gridState.data|length %}
        {% set modalSettings = modalSettings|merge({ bottom: false }) %}
    {% endif %}

    {% for row in itemGrid.data %}
        {% if row.isEditable %}
            {% set hasEditableRow = true %}
        {% endif %}
    {% endfor %}
{% endif %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.CommentsLabel"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}
    <button
        data-target="contingent-tab-content"
        data-href="{{ path('frontend.b2b.b2bofferlog.newComment', { orderContextId: orderContextId.getValue }) }}"
        title="{{ "b2b.NewComment"|trans }}"
        class="btn btn-outline-secondary component-action-create ajax-panel-link ajax-panel--ignore-history {{ b2b_acl('b2bofferlog', 'newComment') }}"
    >
        {{ "b2b.AddNewComment"|trans }}
    </button>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}

    {% if gridState.data|length %}
        <div class="status-grid">
            {% block b2b_offerlog_comment_grid %}
                <ul>
                    {% for item in gridState.data %}
                        {% block b2b_offerlog_comment_grid_item %}
                            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2border/logTypes/' ~ item.logValue.getTemplateName ~ '.html.twig' %}
                        {% endblock %}
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>
    {% else %}
        {%
            sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
            with {
                messages: [
                    'info',
                    'HistoryOfferEmptyInfo'
                ]
            }
        %}
    {% endif %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    {% if gridState.data|length %}
        <form
            action="{{ path("frontend.b2b.b2bofferlog.commentList") }}"
            method="get"
        >
            {% block b2b_offerlog_comment_pagination %}
                <input
                    type="hidden"
                    name="orderContextId"
                    value="{{ orderContextId.getValue }}"
                />

                {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
            {% endblock %}
        </form>
    {% endif %}
{% endblock %}
