{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    bottom: true,
    content: {
        padding: false
    }
} %}

{% if not gridState.data|length %}
    {% set modalSettings = modalSettings|merge({ bottom: false }) %}
{% endif %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.History"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% if gridState.data|length %}
        <div class="status-grid">
            {% block b2b_offerlog_history_grid %}
                <ul>
                    {% for item in gridState.data %}
                        {% block b2b_offerlog_history_grid_item %}
                            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2border/logTypes/' ~ item.logValue.getTemplateName ~ '.html.twig' %}
                        {% endblock %}
                    {% endfor %}
                </ul>
            {% endblock %}
        </div>
    {% else %}
        {%
            sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
            with {
                messages: [
                    'info',
                    'HistoryOfferEmptyInfo'
                ]
            }
        %}
    {% endif %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    {% if gridState.data|length %}
        <form
            action="{{ path('frontend.b2b.b2bofferlog.log') }}"
            method="get"
        >
            {% block b2b_offerlog_history_pagination %}
                <input
                    type="hidden"
                    value="{{ orderContextId.getValue }}"
                    name="orderContextId"
                />

                {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
            {% endblock %}
        </form>
    {% endif %}
{% endblock %}