{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    bottom: true,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.NewComment"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% block b2b_offerlog_comment_form %}
        <form
            id="b2bofferlog-comment-form"
            action="{{ path("frontend.b2b.b2bofferlog.comment", { orderContextId: orderContextId.getValue }) }}"
            method="post"
            class="offer-list--line-item-new form--inline {{ b2b_acl('b2bofferlog', 'comment') }}"
            data-ajax-panel-trigger-reload="offer-list-grid"
            data-submit-enter
        >
            {% block b2b_offerlog_comment_form_csrf %}
                {{ sw_csrf('frontend.b2b.b2bofferlog.comment') }}
            {% endblock %}

            {% block b2b_offerlog_comment_form_inner %}
                <div class="scrollable without--any with--padding">
                    {% block b2b_offerlog_comment_errors %}
                        {% if errors %}
                            <div class="modal--errors error--list">
                                {%
                                    sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                                    with {
                                        messages: { 'error': errors }
                                    } only
                                %}
                            </div>
                        {% endif %}
                    {% endblock %}

                    {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bofferlog/new/_form.html.twig" %}
                </div>
            {% endblock %}
        </form>
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions text-right">
        {% block b2b_offerlog_comment_modal_action %}
            <a
                data-href="{{ path("frontend.b2b.b2bofferlog.commentList", { orderContextId: orderContextId.getValue }) }}"
                data-target="contingent-tab-content"
            >
                <button class="btn btn-outline-secondary">
                    {{ "b2b.Cancel"|trans }}
                </button>
            </a>
            <button
                type="submit"
                class="btn btn-primary"
                data-form-id="b2bofferlog-comment-form"
                tabindex="0"
            >
                {{ "b2b.Save"|trans }}
            </button>
        {% endblock %}
    </div>
{% endblock %}
