.product-detail-cross-selling {
    .cms-element-title {
        font-size: 22px;
        text-transform: uppercase;
        color: $feldmann-cyan;
    }
    .product-slider {
        &.has-nav {
            padding: 0;
        }
    }

    .product-image-wrapper {
        margin-top: 15px;
    }
}
