.product-detail-tabs {
    margin-bottom: 20px;
}

.product-detail-content {
    margin-bottom: 0;
}

.product-detail-headline {
    margin-bottom: 10px;
}

.product-detail-name {
    color: $feldmann-blue;
}

.product-detail-main {
    .gallery-slider-row {
        margin-left: 0;
        margin-right: 0;
        padding: 20px 0;
        margin-bottom: 20px;
        background-color: #fff;
    }

    & > .product-detail-buy {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .product-detail-buy {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }

    .product-detail-file-container {
        flex-grow: 1;
    }
}

.product-detail-buy {
    margin-bottom: 0;
}

.js-magnifier-zoom-image-container {
    > div {
        background-color: #fff;
        margin-bottom: 20px;
        padding: 20px;
    }
}

.product-detail-form-container {
    padding: 32px;
}

.product-detail-price-container {
    margin-bottom: 16px;
}

.product-detail-price,
.product-detail-price-label {
    color: $feldmann-blue;
}

.product-detail-tax-link {
    color: $feldmann-cyan;
}

.product-detail-ordernumber-container {
    margin-bottom: 0;

    .product-detail-ordernumber-label,
    .product-detail-ordernumber {
        color: $feldmann-blue;
    }
}

.buy-widget-container {
    margin: 0 auto;
    width: 70%;
    padding: 20px 0;
}

.buy-widget-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .buy-widget-quantity-label {
        color: $feldmann-blue;
    }

    .buy-widget-quantity-input {
        width: 70px;
        margin: 0 10px;
    }
}

.product-detail-action-link {
    display: inline-block;
    margin-right: 5px;

    a {
        color: #777;
        text-decoration: none;

        &:hover {
            color: $feldmann-cyan;
        }
    }

    .icon {
        color: $feldmann-cyan;
        width: 16px;
        height: 16px;
    }
}

@include media-breakpoint-up(sm) {
    .product-detail-tabs {
        margin-bottom: 32px;
    }
}

@include media-breakpoint-up(lg) {
    .product-detail-content {
        margin-bottom: 24px;
    }

    .product-detail-main {
        .gallery-slider-row {
            margin-left: 0;
            margin-bottom: 0;
            margin-right: -20px;
        }
    }
}
