
.product-detail-attributes-container {
    padding: 33px;
    padding-bottom: 20px;
    background-color: $feldmann-white;
}

.property-icon {
    max-width: 78px;
    image-rendering: high-quality;

    .js-slider-initialized & {
        max-width: 78px;
    }
}

.slider-container {
    margin-left: auto;
    margin-right: auto;

    .property-item {
        text-align: center;
    }
}
