.product-detail-tab-navigation {
    &.card-header {
        display: none;
    }
}

.product-detail-tabs-content {
    display: block;

    .card-tabs & {
        padding-top: 0;
    }
}

.product-detail-description-container {
    padding: 20px;
    background-color: $feldmann-white;
}

.product-detail-description-container {
    margin: 0 20px 20px 20px;
}

@include media-breakpoint-up(sm) {
    .product-detail-tab-navigation {
        &.card-header {
            display: block;
            margin-bottom: 10px;

            h2 {
                color: $feldmann-cyan;
                text-transform: uppercase;
            }
        }
    }

    .product-detail-tabs {
        .product-detail-tab-navigation-link {
            padding-left: 10px;
            padding-right: 10px;
            border-bottom: none;
            color: $feldmann-blue;
            font-size: 22px;
            font-weight: 900;
            text-transform: uppercase;

            &.active {
                border: 1px solid $feldmann-grey;
                border-color: $feldmann-grey;
                border-bottom: none;
                color: $feldmann-cyan;
                background-color: $feldmann-grey-light;
            }

            &:hover {
                background-color: $feldmann-grey-light;
            }

        }

        .product-detail-tab-navigation-list {
            padding-left: 16px;
            border-bottom: 1px solid $feldmann-grey;
        }
    }
}

@include media-breakpoint-up(lg) {
    .product-detail-tabs-container {
        margin-left: 0;
    }

    .product-detail-description-container {
        margin: 0;
    }

    .product-detail-tabs-container {
        margin-left: -20px
    }

    .product-detail-description-container {
        padding-top: 0;
        padding-right: 20px;
        padding-left: 20px;
        background-color: $feldmann-grey-light;
    }

    .product-detail-description {
        background: $feldmann-white;
        min-height: 189px;
        padding-left: 20px;
        padding-top: 20px;
        margin-right: -20px
    }
}
