{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block b2blayout_content %}

    <div class="b2b--pluginname">

        {% if messages %}
            {%
                sw_include '@SwagB2bPlatform/storefront/frontend/_partials/_b2bmessage/_b2bmessage.html.twig'
                with { 'messageType', 'message' } only
            %}
        {% endif %}

        <div class="panel has--border is--rounded">

            <div class="panel--title is--underline">
                <div class="block-group b2b--block-panel">
                    <div class="block block--title">
                        Page title
                    </div>
                </div>
            </div>

            <div class="block-group">
                Page content
            </div>
        </div>

    </div>
{% endblock %}