{% block sw_settings_customer_group_detail_content_card_display_gross %}
    {% parent %}
    {% block sw_settings_customer_group_detail_content_card_hide_prices %}
        <template v-if="customerGroup.customFields">
            <sw-boolean-radio-group
                    v-model="coeHidePrice"
                    id="coeHidePrice"
                    name="coeHidePrice"
                    :label="$tc('sw-settings-customer-group.detail.fieldHidePriceLabel')"
                    :labelOptionTrue="$tc('sw-settings-customer-group.detail.fieldHidePriceValues', true)"
                    :labelOptionFalse="$tc('sw-settings-customer-group.detail.fieldHidePriceValues', false)"
                    bordered>
            </sw-boolean-radio-group>

        </template>
    {% endblock %}


{% endblock %}