{% sw_extends '@Storefront/storefront/component/account/register.html.twig' %}
{% block component_account_register_address %}
<div class="register-address">
    {% block component_account_register_address_fields %}
        {{ parent() }}
    {% endblock %}
    <div class="register-extension">
        {% block component_account_register_extension %}
            <div class="register-proof">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="form-label" for="registerHow">
                            {{ "account.registerHow.label"|trans|sw_sanitize }}
                        </label>
                        {% set dropDownValues = shopware.config.FeldmannRegistrationExtend.config.registerDropdownValues|split('\n') %}
                        <select id="registerHow" class="custom-select" type="text" name="custom_registration_ext_hear">
                            <option hidden disabled selected value></option>
                            {% for value in dropDownValues %}
                                <option value="{{ value }}">{{ value }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            {# business license #}
            <div class="register-proof" data-register-proof>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {% if formViolations.getViolations("/registerProof") is not empty %}
                            {% set violationPath = "/registerProof" %}
                        {% endif %}

                        <label class="form-label" for="registerProof">
                            {{ "account.registerProof.label"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                        </label>

                        <select class="custom-select{% if violationPath %} is-invalid{% endif %}"
                                id="registerProof"
                                name="registerProof"
                                required="required"
                                data-register-proof-select>
                            <option value="" {% if not data.get('registerProof') %} selected="selected"{% endif %}>
                                {{ "account.registerProof.proof"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}
                            </option>
                            <option value="fax"
                                {% if data.get('registerProof') == 'fax' %} selected="selected"{% endif %}>
                                {{ "account.registerProof.fax"|trans|sw_sanitize }}
                            </option>
                            <option value="file"
                                {% if data.get('registerProof') == 'file' %} selected="selected"{% endif %}>
                                {{ "account.registerProof.file"|trans|sw_sanitize }}
                            </option>
                            <option value="existing_customer"
                                {% if data.get('registerProof') == 'existing_customer' %} selected="selected"{% endif %}>
                                {{ "account.registerProof.existing"|trans|sw_sanitize }}
                            </option>
                        </select>

                        {% if violationPath %}
                            {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 d-none"
                         data-register-proof-option="existing_customer">
                        {% if formViolations.getViolations("/registerProofCustomerNumber") is not empty %}
                            {% set violationPath = "/registerProofCustomerNumber" %}
                        {% endif %}

                        <input type="text"
                               class="form-control proof-option{% if violationPath %} is-invalid{% endif %}"
                               id="registerProofExisting"
                               placeholder="{{ "account.registerProof.customerNumber"|trans|sw_sanitize }}{{ "general.required"|trans|sw_sanitize }}"
                               name="registerProofCustomerNumber"
                               value="{{ data.get('registerProofCustomerNumber') }}">

                        {% if violationPath %}
                            {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' %}
                        {% endif %}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 d-none"
                         data-register-proof-option="file">
                        {% if formViolations.getViolations("/registerProofFile") is not empty %}
                            {% set violationPath = "/registerProofFile" %}
                        {% endif %}

                        <p>{{ "account.registerProof.valid_types"|trans|sw_sanitize }}</p>

                        <input type="file"
                               class="proof-option registerProofFile{% if violationPath %} is-invalid{% endif %}"
                               id="registerProofFile"
                               name="registerProofFile">

                        {% if violationPath %}
                            {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <div class="form-text register-newsletter-subscription custom-control custom-checkbox">
                        <input name="subscribeNewsletter"
                               type="checkbox"
                               class="custom-control-input "
                               id="form-register-newsletter-subscription">

                        <label for="form-register-newsletter-subscription" class="custom-control-label">
                            {{ "account.newsletter.label"|trans({'%shopname%': shopware.config.core.basicInformation.shopName})|sw_sanitize }}
                        </label>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
