{% block b2b_contact_grid_table_row %}
    <tr data-row-id="{{ row.id }}">
        {% block b2b_contact_grid_table_row_cells %}
            <td data-label="{{ 'b2b.FirstNameLabel'|trans }}">{{ row.firstName }}</td>
            <td data-label="{{ 'b2b.LastNameLabel'|trans }}">{{ row.lastName }}</td>
            <td data-label="{{ 'b2b.EmailLabel'|trans }}">{{ row.email }}</td>
            <td data-label="{{ 'b2b.StateLabel'|trans }}" class="col-status">
                {% if row.active %}
                    <span title="{{ 'b2b.ActiveLabel'|trans }}">
                        {% sw_icon 'circle-x-small' style { 'pack': 'solid', 'color': 'success' } %}
                    </span>
                {% else %}
                    <span title="{{ 'b2b.DisabledLabel'|trans }}">
                        {% sw_icon 'circle-x-small' style { 'pack': 'solid', 'color': 'danger' } %}
                    </span>
                {% endif %}
            </td>
            {% if
                b2b_acl_check('b2bcontact', 'detail')
                or b2b_acl_check('b2bcontact', 'remove')
            %}
                <td
                    data-label="{{ 'b2b.ActionsLabel'|trans }}"
                    class="col-actions"
                >
                    <button
                        title="{{ 'b2b.EditContact'|trans }}"
                        type="button"
                        class="btn btn--edit is--small ajax-panel-link b2b-highlight {{ b2b_acl('b2bcontact', 'detail') }}"
                        data-target="contact-detail"
                        data-row-id="{{ row.id }}"
                        data-href="{{ path('frontend.b2b.b2bcontact.detail') }}?id={{ row.id }}"
                    >
                        {% sw_icon 'pencil-brush' %}
                    </button>

                    {% if authId.getValue == row.authId.getValue %}
                        {% set isHimself = true %}
                    {% endif %}

                    <form
                        action="{{ path('frontend.b2b.b2bcontact.remove') }}"
                        method="post"
                        class="form--inline {{ b2b_acl('b2bcontact', 'remove') }}"
                        data-csrf-token="{{ sw_csrf('frontend.b2b.b2bcontact.remove', { mode: 'token' }) }}"
                    >
                        {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}

                        <input
                            type="hidden"
                            name="id"
                            value="{{ row.id }}"
                        >
                        <input
                            type="hidden"
                            name="confirmName"
                            value="{{ row.firstName }} {{ row.lastName }}"
                        >

                        <button
                            title="{% if isHimself %}{{ 'b2b.CannotDeleteYourself'|trans }}{% else %}{{ 'b2b.DeleteContact'|trans }}{% endif %}"
                            type="submit"
                            class="btn is--small component-action-delete b2b-danger"
                            data-confirm="true"
                            data-confirm-url="{{ path('frontend.b2b.b2bconfirm.remove') }}?confirmName={{ row.firstName }} {{ row.lastName }}"
                            {% if isHimself %}disabled{% endif %}
                        >
                            {% sw_icon 'trash' %}
                        </button>
                    </form>
                </td>
            {% endif %}
        {% endblock %}
    </tr>
{% endblock %}
