{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-sort.html.twig' %}

{% block b2b_grid_col_sort %}
    <option value="id::asc"{% if gridState.sortBy == 'id::asc' %} selected="selected"{% endif %}>{{ "b2b.NewestAsc"|trans }}</option>
    <option value="id::desc"{% if gridState.sortBy == 'id::desc' %} selected="selected"{% endif %}>{{ "b2b.NewestDesc"|trans }}</option>
    <option value="firstname::asc"{% if gridState.sortBy is same as('firstname::asc') %} selected="selected"{% endif %}>{{ "b2b.FirstNameAsc"|trans }}</option>
    <option value="firstname::desc"{% if gridState.sortBy is same as('firstname::desc') %} selected="selected"{% endif %}>{{ "b2b.FirstNameDesc"|trans }}</option>
    <option value="lastname::asc"{% if gridState.sortBy is same as('lastname::asc') %} selected="selected"{% endif %}>{{ "b2b.LastNameAsc"|trans }}</option>
    <option value="lastname::desc"{% if gridState.sortBy is same as('lastname::desc') %} selected="selected"{% endif %}>{{ "b2b.LastNameDesc"|trans }}</option>
    <option value="email::asc"{% if gridState.sortBy is same as('email::asc') %} selected="selected"{% endif %}>{{ "b2b.EmailAsc"|trans }}</option>
    <option value="email::desc"{% if gridState.sortBy is same as('email::desc') %} selected="selected"{% endif %}>{{ "b2b.EmailDesc"|trans }}</option>
    <option value="active::asc"{% if gridState.sortBy is same as('active::asc') %} selected="selected"{% endif %}>{{ "b2b.StateAsc"|trans }}</option>
    <option value="active::desc"{% if gridState.sortBy is same as('active::desc') %} selected="selected"{% endif %}>{{ "b2b.StateDesc"|trans }}</option>
{% endblock %}