{% block b2b_contact_grid_head %}
    <tr>
        {% block b2b_contact_grid_head_cells %}
            <th>{{ 'b2b.FirstNameLabel'|trans }}</th>
            <th>{{ 'b2b.LastNameLabel'|trans }}</th>
            <th>{{ 'b2b.EmailLabel'|trans }}</th>
            <th class="is--align-center">{{ 'b2b.StateLabel'|trans }}</th>
            {% if
                b2b_acl_check('b2bcontact', 'detail')
                or b2b_acl_check('b2bcontact', 'remove')
            %}
                <th class="is--align-right">{{ 'b2b.ActionsLabel'|trans }}</th>
            {% endif %}
        {% endblock %}
    </tr>
{% endblock %}
