{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    actions: true,
    bottom: true,
    content: {
        padding: false
    }
} %}

{% set orderEditable = orderContext.isEditable %}

{% if not offer.isEditableByUser %}
    {% set modalSettings = modalSettings|merge({actions: false}) %}
{% endif %}

{% if not orderEditable %}

    {% if not gridState.data|length %}
        {% set modalSettings = modalSettings|merge({ bottom: false }) %}
    {% endif %}

    {% for row in gridState.data %}
        {% if row.isEditable %}
            {% set hasEditableRow = true %}
        {% endif %}
    {% endfor %}
{% endif %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ 'b2b.Positions'|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}
    {% if offer.isEditableByUser %}
        <button
            data-target="offer-tab-content"
            data-href="{{ path('frontend.b2b.b2bofferlineitemreference.new', { offerId: offer.id.getValue }) }}"
            title="{{ "b2b.AddLineItem"|trans }}"
            class="btn component-action-create ajax-panel-link ajax-panel--ignore-history {{ b2b_acl('b2bofferlineitemreference', 'new') }}"
        >
            {{ "b2b.AddLineItem"|trans }}
        </button>
    {% endif %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <div class="b2b--grid-container">
        <div class="content--inner b2b-order-overview">

            {% block b2b_offerlineitemreference_grid_content_inner %}

                {% if errors %}
                    <div class="modal--errors error--list">
                        {%
                            sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                            with {
                                messages: { 'error': errors }
                            } only
                        %}
                    </div>
                {% endif %}

                {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/grid/_grid.html.twig' %}

                {% if gridState.data|length %}
                    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/list/_list.html.twig' %}
                {% endif %}

            {% endblock %}
        </div>

    </div>

    {% if gridState.data|length is same as (0) %}
        <div class="b2b--grid-container">
            {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                with {
                    messages: ['info', 'NoResults']
                } only
            %}
        </div>
    {% endif %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    {% block b2b_offerlineitemreference_form_update_discount %}
        <form
            action="{{ path('frontend.b2b.b2bofferlineitemreference.updateDiscount') }}"
            method="post"
            data-ajax-panel-trigger-reload="offer-grid"
            data-csrf-token="{{ sw_csrf('frontend.b2b.b2bofferlineitemreference.updateDiscount', { mode: 'token' }) }}"
        >
            {% block b2b_offerlineitemreference_form_update_discount_csrf %}
                {{ sw_csrf('frontend.b2b.b2bofferlineitemreference.updateDiscount') }}
            {% endblock %}

            {% block b2b_offerlineitemreference_form_update_discount_inner %}

                {% block b2b_offerlineitemreference_form_update_discount_inner_inputs %}
                    <input
                        type="hidden"
                        name="offerId"
                        value="{{ offer.id }}"
                    />
                {% endblock %}

                <div class="button--group-split">
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <span class="input-group-text bg-secondary text-white">
                                {{ 'b2b.DiscountAmountNetLabel'|trans }}:
                            </span>
                        </div>

                        {% set isPercentageDiscount = offer.percentageDiscount is not same as (0.0) %}

                        {% if isPercentageDiscount %}
                            {% set discountValue = offer.percentageDiscount %}
                        {% else %}
                            {% set discountValue = offer.discountValueNet %}
                        {% endif %}

                        <input
                            type="number"
                            class="form-control text-right"
                            name="discount"
                            value="{{ discountValue }}"
                            step="any"
                            min="0"
                            {% if not offer.isEditableByUser %}disabled{% endif %}
                        />
                        <select
                            name="isPercentageDiscount"
                            class="form-control"
                            {% if not offer.isEditableByUser %}disabled{% endif %}
                        >
                            <option
                                name="regularDiscount"
                                value="0"
                                {% if not isPercentageDiscount %}selected{% endif %}
                            >€</option>
                            <option
                                name="percentageDiscount"
                                value="1"
                                {% if isPercentageDiscount %}selected{% endif %}
                            >%</option>
                        </select>

                        <div class="input-group-append">
                            {% block b2b_offerlineitemreference_form_update_discount_inner_submit %}
                                <button
                                    type="submit"
                                    class="btn btn-primary btn-block"
                                    {% if not offer.isEditableByUser %}disabled{% endif %}
                                >
                                    {{ "b2b.Save"|trans }}
                                </button>
                            {% endblock %}
                        </div>

                    </div>
                </div>
            {% endblock %}
        </form>
    {% endblock %}
{% endblock %}