{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    actions: false,
    content: {
        padding: false
    },
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.AddLineItem"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% block b2b_offerlineitemreference_new_form %}
        <form
            id="b2bofferlineitemreference-create-form"
            action="{{ path('frontend.b2b.b2bofferlineitemreference.create') }}"
            method="post"
            class="form--inline order--line-item-new {{ b2b_acl('b2bofferlineitemreference', 'create') }}"
            data-ajax-panel-trigger-reload="offer-grid"
            data-submit-enter
            data-csrf-token="{{ sw_csrf('frontend.b2b.b2bofferlineitemreference.create', { mode: 'token' }) }}"
        >
            {% block b2b_offerlineitemreference_new_form_csrf %}
                {{ sw_csrf('frontend.b2b.b2bofferlineitemreference.create') }}
            {% endblock %}

            {% block b2b_offerlineitemreference_new_form_inner %}

                {% block b2b_offerlineitemreference_new_form_inner_inputs %}
                    <input
                        type="hidden"
                        name="offerId"
                        value="{{ offer.id.getValue }}"
                    />
                {% endblock %}

                <div class="scrollable without--any with--padding">
                    {% if errors %}
                        <div class="modal--errors error--list">
                            {%
                                sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                                with {
                                    messages: { 'error': errors }
                                } only
                            %}
                        </div>
                    {% endif %}

                    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/create/_form.html.twig' %}

                </div>
            {% endblock %}
        </form>
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions text-right">
        {% block b2b_offerlineitemreference_new_modal_action_bottom %}

            {% block b2b_offerlineitemreference_new_modal_action_bottom_cancel %}
                <a data-href="{{ path('frontend.b2b.b2bofferlineitemreference.grid', { offerId: offer.id.getValue }) }}">
                    <button class="btn btn-outline-secondary">
                        {{ "b2b.Cancel"|trans }}
                    </button>
                </a>
            {% endblock %}

            {% block b2b_offerlineitemreference_new_modal_action_bottom_submit %}
                <button
                    class="btn btn-primary"
                    type="submit"
                    data-form-id="b2bofferlineitemreference-create-form"
                    tabindex="0"
                >
                    {{ "b2b.Save"|trans }}
                </button>
            {% endblock %}

        {% endblock %}
    </div>
{% endblock %}
