{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}


	

        {% block page_content %}
		
		{% set ultrabreadcrumb = shopware.config.UltraBreadcrumb.config %}
		{% set ausschalten = page.header.navigation.active.translated.customFields["ultra_breacrumb_turnon"] %}
		
		{% if (not ultrabreadcrumb.activeKanal or (ultrabreadcrumb.activeKanal and not ausschalten)) and not ultrabreadcrumb.deactivateallcategorys  %}
            <div class="breadcrumb cms-breadcrump container">
                {% block cms_breadcrumb %}
                   {{ parent() }}
                {% endblock %}
            </div>
		{% endif %}
            <div class="cms-page">
                {% block page_content_blocks %}
                    {% sw_include "@Storefront/storefront/page/content/detail.html.twig" with {'cmsPage': page.cmsPage} %}
                {% endblock %}
            </div>
        {% endblock %}
