@font-face {
    font-family: 'BrandonText';
    font-style: normal;
    font-weight: $font-weight-normal;
    font-display: fallback;
    src: url('#{$theme-asset-path}/font/brandonText/BrandonText_Regular.otf') format('opentype');
}

@font-face {
    font-family: 'BrandonText';
    font-style: normal;
    font-weight: $font-weight-bold;
    font-display: fallback;
    src: url('#{$theme-asset-path}/font/brandonText/BrandonText_Bold.otf') format('opentype');
}

@font-face {
    font-family: 'BrandonText';
    font-style: normal;
    font-weight: $font-weight-light;
    font-display: fallback;
    src: url('#{$theme-asset-path}/font/brandonText/BrandonText_Light.otf') format('opentype');
}

@font-face {
    font-family: 'BrandonText';
    font-style: italic;
    font-weight: $font-weight-normal;
    font-display: fallback;
    src: url('#{$theme-asset-path}/font/brandonText/BrandonText_RegularItalic.otf') format('opentype');
}
