//color
$feldmann-blue: #005499;
$feldmann-blue-dark: #0e5373;
$feldmann-cyan: #2ab4db;
$feldmann-grey: #c2c2c2;
$feldmann-grey-light: #ededed;
$feldmann-grey-dark: #777777;
$feldmann-red: #b01d1f;
$feldmann-white: #fff;

//font
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-family-base: 'BrandonText', sans-serif;

//path
$theme-asset-path: '/bundles/feldmanntheme/assets';
