.sw-cms-el-config-accordion {
    .sw-container {
        grid-column-gap: 10px;
    }

    .sw-cms-el-config-accordion__remove {
        margin-bottom: 22px;
    }

    .sw-cms-el-config-accordion__item_divider {
        margin-bottom: 20px;
    }
}
