<div class="sw-cms-el-config-accordion">
    <template v-if="items.length > 0">
        <div class="sw-cms-el-config-accordion__settings"
             v-for="(accordionItem, index) in items">
            <sw-container columns="1fr 50px">
                <sw-field v-model="accordionItem.title"
                          type="text"
                          @input="onTitleChange($event, index)"
                          class="sw-cms-el-config-accordion__title"
                          :placeholder="$tc('sw-cms.elements.accordion.config.placeholder.title')">
                </sw-field>

                <sw-button
                    :disabled="false"
                    variant="danger"
                    :square="true"
                    :block="false"
                    @click="deleteRow(index)"
                    :isLoading="false"
                    class="sw-cms-el-config-accordion__remove">
                    <sw-icon small name="small-default-x-line-small"></sw-icon>
                </sw-button>
            </sw-container>

            <sw-container>
                <sw-text-editor v-model="accordionItem.content"
                                @input="onContentChange($event, index)"
                                @blur="onContentBlur($event, index)">
                </sw-text-editor>
            </sw-container>

            <div class="sw-cms-el-config-accordion__item_divider"><hr></div>
        </div>
    </template>
    <sw-button
        :disabled="false"
        variant="primary"
        :square="false"
        :block="false"
        :isLoading="false"
        @click="addRow">
        {{ $tc('sw-cms.elements.accordion.config.add-entry') }}
    </sw-button>
</div>
