{% extends '@SwagB2bPlatform/storefront/frontend/b2bcompany/index.html.twig' %}

{% block b2b_company_navigation_contingent_entry %}{% endblock %}

{% block b2b_company_navigation_budget_entry %}{% endblock %}
