{% block sw_customer_detail_actions_edit %}
    <customer-login-button
           class="sw-customer-detail__open-edit-mode-action"
           variant="primary"
           :customer="customer"
           :disabled="isLoading || !customer.active || customer.guest"
           v-if="acl.can('jlau.customer.login-as-customer')"
           v-tooltip="{
               message: $tc('jlau-login-customer.button.tooltip'),
               disabled: customer.active && !customer.guest,
               showOnDisabledElements: true
           }">
    </customer-login-button>

    {% parent %}
{% endblock %}
