{% block b2b_contingentruleproductnumberallowance_form %}
    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.ProductNumberLabel"|trans }}: *
        </div>
        <div class="block box--input">
            <div class="duplicate-item--container">
                {% if rule %}
                    {% for productNumber in rule.productNumbers %}
                        <div class="duplicate-item--item b2b--search-container contingent-rule--product-numbers">
                            <input type="text"
                                   name="productNumbers[]"
                                   value="{{ productNumber }}"
                                   class="input-ordernumber form-control"
                                   data-product-search="{{ path('frontend.b2b.b2bproductsearch.searchProduct') }}"
                                   placeholder="{{ "b2b.ProductNumberPlaceholder"|trans }}">
                            {% if not loop.first %}
                                <button type="button" class="btn" onclick="this.parentNode.remove()">✕</button>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="duplicate-item--item b2b--search-container contingent-rule--product-numbers">
                        <input type="text"
                               name="productNumbers[]"
                               value=""
                               class="input-ordernumber form-control"
                               data-product-search="{{ path('frontend.b2b.b2bproductsearch.searchProduct') }}"
                               placeholder="{{ "b2b.ProductNumberPlaceholder"|trans }}">
                    </div>
                {% endif%}
            </div>
            <button type="button" class="btn duplicate-item--button">{{ "b2b.AddProductNumber"|trans }}</button>
        </div>
    </div>
{% endblock %}