{% block b2b_contingentruleproductnumberallowance_form %}

    <div class="form-row">
        <div class="form-group col-md-6 duplicate-item--container">
            <label for="productNumbers[]">{{ "b2b.ProductNumberLabel"|trans }} *</label>

            {% if rule %}
                {% for productNumber in rule.productNumbers %}
                    <div class="duplicate-item--item b2b--search-container contingent-rule--product-numbers input-group">
                        <input
                            type="text"
                            name="productNumbers[]"
                            value="{{ productNumber }}"
                            class="input-ordernumber form-control"
                            data-product-search="{{ path('frontend.b2b.b2bproductsearch.searchProduct') }}"
                            placeholder="{{ "b2b.ProductNumberPlaceholder"|trans }}"
                        >
                        {% if not loop.first %}
                            <div class="input-group-append">
                                <button
                                    type="button"
                                    class="btn btn-outline-danger"
                                    onclick="this.parentNode.parentNode.remove()"
                                >
                                    ✕
                                </button>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="duplicate-item--item b2b--search-container contingent-rule--product-numbers input-group">
                    <input
                        type="text"
                        name="productNumbers[]"
                        value=""
                        class="input-ordernumber form-control"
                        data-product-search="{{ path('frontend.b2b.b2bproductsearch.searchProduct') }}"
                        placeholder="{{ "b2b.ProductNumberPlaceholder"|trans }}"
                    >
                </div>
            {% endif%}
        </div>
    </div>

    <button
        type="button"
        class="btn btn-secondary duplicate-item--button"
    >
        {{ "b2b.AddProductNumber"|trans }}
    </button>

{% endblock %}
