{% block b2b_contingentruleproductnumberallowance_edit %}
    {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bcontingentruleproductnumberallowance/_form.html.twig" with {'rule': rule} %}
{% endblock %}