{% block b2b_offer_history_item %}
    <div class="b2b-offer-history-item">
        {% block b2b_offer_history_item_content %}
        <div class="b2b-offer-history-item__content">
            <component
                :is="getLogComponent()"
                :item="item"
            ></component>
        </div>
        {% endblock %}
    </div>
{% endblock %}