.b2b-offer-history-item {
    &__content {
        padding: 10px 20px;
        border-radius: 25px;

        &-title {
            margin-bottom: 10px;
            display: block;
        }

        &-clear {
            clear: both;
        }

        &-row {
            clear: both;

            :first-child {
                float: left;
                padding-right: 8px;
            }

            :last-child {
                float: right;
            }
        }
    }
}