{% block sw_cms_element_confirmed_download %}
    <div class="sw-cms-el-confirmed-download">
        <a href="javascript:void(0)" class="sw-button sw-button--secondary">
            {{ $tc('sw-cms.elements.confirmedDownload.cancel') }}
        </a>

        <a href="javascript:void(0)" class="sw-button sw-button--primary">
            {{ $tc('sw-cms.elements.confirmedDownload.confirm') }}
        </a>
    </div>
{% endblock %}
