{% block b2b_offer_history_item_content_discount_added %}
    <div>
        <b class="b2b-offer-history-item__content-title">
            {{ getContentTitleSnippet() }}
        </b>
        <template v-if="discountChanged">
            <div class="b2b-offer-history-item__content-row">
                <span>{{ $tc('b2b-offer.detail.history.previous') }}</span>
                <span>{{ formattedOldDiscountValue }}</span>
            </div>
        </template>
        <div class="b2b-offer-history-item__content-row">
            <span>{{ $tc('b2b-offer.detail.history.new') }}</span>
            <span>{{ formattedNewDiscountValue }}</span>
        </div>
        <div class="b2b-offer-history-item__content-clear"></div>
    </div>
{% endblock %}
