{% block delivery_note_viewer %}
    <div class="card mb-2">
        {% block delivery_note_viewer_body %}
            <div class="card-body">
                {% block delivery_note_viewer_title %}
                    <div class="card-title">
                        {% sw_icon 'file' %} {{ 'delivery-note.viewer.headline'|trans }}
                    </div>
                {% endblock %}

                {% block delivery_note_viewer_content %}
                    <div class="row">
                        {% block delivery_note_viewer_column_name %}
                            <div class="col-auto">
                                <a class="btn btn-link" href="{{ asset(deliveryNote.path) }}" target="_blank" download>{{ deliveryNote.name }}</a>
                            </div>
                        {% endblock %}

                        {% block delivery_note_viewer_column_actions %}
                            <div class="col-auto">
                                {% set downloadButton %}
                                    <a class="btn btn-sm btn-secondary" href="{{ asset(deliveryNote.path) }}" target="_blank" download>{{ 'delivery-note.viewer.download'|trans }}</a>
                                {% endset %}

                                {% if remove %}
                                    {% block delivery_note_viewer_column_actions_form %}
                                        <form class="form-inline"
                                              method="post"
                                              action="{{ path('frontend.ies_delivery_note.remove') }}"
                                        >
                                            {{ sw_csrf('frontend.ies_delivery_note.remove') }}

                                            {% block delivery_note_viewer_column_actions_form_hidden %}
                                                <input type="hidden" name="id" value="{{ deliveryNote.id }}" />
                                                <input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}" />
                                            {% endblock %}

                                            {{ downloadButton }}

                                            {% block delivery_note_viewer_column_actions_form_submit %}
                                                <input class="btn btn-sm btn-danger ml-2" type="submit" value="{{ 'delivery-note.viewer.remove'|trans }}" />
                                            {% endblock %}
                                        </form>
                                    {% endblock %}
                                {% else %}
                                    {{ downloadButton }}
                                {% endif %}
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
