{% block delivery_note_upload %}
    <div class="card mb-2">
        <div class="card-body">
            {% block delivery_note_upload_title %}
                <h3 class="card-title">{% sw_icon 'file' %} {{ 'delivery-note.upload.headline'|trans }}</h3>
                <p class="card-subtitle mb-2 text-muted">{{ 'delivery-note.upload.description'|trans|raw }}</p>
            {% endblock %}

            {% block delivery_note_upload_form %}
                <form enctype="multipart/form-data"
                      method="post"
                      action="{{ path('frontend.ies_delivery_note.upload') }}"
                >
                    {{ sw_csrf('frontend.ies_delivery_note.upload') }}

                    {% block delivery_note_upload_form_hidden %}
                        <input name="redirectTo" type="hidden" value="{{ app.request.get('_route') }}" />
                    {% endblock %}

                    <div class="row">
                        <div class="form-group col-12">
                            <div class="input-group">
                                {% block delivery_note_upload_form_file %}
                                    <div class="custom-file">
                                        <input class="custom-file-input" id="deliveryNote" type="file" name="upload" required />
                                        <label class="custom-file-label" for="deliveryNote">{{ 'delivery-note.upload.choose-file'|trans }}</label>
                                    </div>
                                {% endblock %}

                                {% block delivery_note_upload_form_actions %}
                                    <div class="input-group-append">
                                        <input class="ml-3 btn btn-primary btn-block" type="submit" value="{{ 'delivery-note.upload.button'|trans }}" />
                                    </div>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
