<form
    action="{{ url }}"
    method="get"
>
    {% block b2b_grid_form_content %}{% endblock %}

    {% block b2b_grid_table_actions %}{% endblock %}

    {% if gridState.maxPage %}
        {% block b2b_grid_pagination %}{% endblock %}
    {% endif %}
</form>