<div class="b2b-table__actions">
    {% block b2b_grid_sort %}
        {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-sort.html.twig' %}
    {% endblock %}

    {% block b2b_grid_search %}
        {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-search.html.twig' %}
    {% endblock %}
</div>
