{% if gridState.data|length == 0 and not gridState.searchTerm|length == 0 %}
    {% block b2b_grid_message_no_search_result %}
        {% if messageEmptySearchList is not defined or messageEmptySearchList is null %}
            {% set messageEmptySearchList = "EmptySearchList" %}
        {% endif %}

        {%
            sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
            with {
                messages: [
                    'info',
                    messageEmptySearchList,
                    gridState.searchTerm
                ]
            }
            only
        %}
    {% endblock %}
{% elseif gridState.data|length == 0 %}
    {% block b2b_grid_message_grid_empty %}
        {% if messageEmptyList is not defined or messageEmptyList is null %}
            {% if b2b_acl_check((activeRoute|split('.'))[2], 'new') and not isSalesRep %}
                {% set messageEmptyList = "EmptyList" %}
            {% else %}
                {% set messageEmptyList = "NoResults" %}
            {% endif %}
        {% endif %}

        {%
            sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
            with {
                messages: [
                    'info',
                    messageEmptyList
                ]
            }
            only
        %}
    {% endblock %}
{% endif %}