{% if not gridState.maxPage %}
    {% set gridState = gridState|merge({ maxPage: 1 }) %}
{% endif %}

<form
    action="{{ url }}"
    method="get"
>
    {% block b2b_grid_form_content %}{% endblock %}

    {% block b2b_grid_table_actions %}{% endblock %}

    {% block b2b_grid_pagination %}{% endblock %}
</form>