{% block b2b_grid_search %}
    <div class="block col-search">
        <div class="search--area">
            <input
                type="hidden"
                name="filters[all][field-name]"
                value="_all_"
            />

            <input
                type="hidden"
                name="filters[all][type]"
                value="like"
            />

            {% block b2b_grid_search_filters %}{% endblock %}

            <div class="input-group">
                <input
                    type="search"
                    class="form-control header-search-input"
                    name="filters[all][value]"
                    placeholder="{{ "b2b.SearchPlaceholder"|trans }}"
                    {% if gridState.searchTerm is not empty %}value="{{ gridState.searchTerm }}"{% endif %}
                >

                <div class="input-group-append">
                    <button
                        title="{{ "b2b.Search"|trans }}"
                        type="submit"
                        value="submit"
                        class="btn header-search-btn"
                    >
                        <span class="header-search-icon">
                            {% sw_icon 'search' %}
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}