{% if gridState.sortBy is same as(null) %}
    {% set gridState = gridState|merge({ sortBy: 'id::desc' }) %}
{% endif %}

{% block b2b_grid_sort %}
    <div class="block col-sort">
        <div class="select-field">
            <select
                name="sort-by"
                class="is--auto-submit custom-select"
            >
                {% block b2b_grid_col_sort %}{% endblock %}
            </select>
        </div>
    </div>
{% endblock %}