{% block b2b_grid_table %}
    <table
        class="{% block b2b_grid_table_class %}{% endblock %} component-table b2b--component-grid"
        data-row-count="{{ gridState.data|length }}"
        {% block b2b_grid_table_attributes %}{% endblock %}
    >
        <thead>{% block b2b_grid_table_head %}{% endblock %}</thead>

        <tbody>
        {% if gridState.data|length %}
            {% for row in gridState.data %}
                {% block b2b_grid_table_row %}{% endblock %}
            {% endfor %}
        {% endif %}
        {% block b2b_grid_table_after_rows %}{% endblock%}
        </tbody>
    </table>

    {% block b2b_grid_message %}
        {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-message.html.twig' %}
    {% endblock %}
{% endblock %}