{% block b2b_grid %}
    <div class="b2b--grid-container">

        <form
            action="{{ path(app.request.attributes.get('_route')) }}"
            method="get"
        >

            {% block b2b_grid_form %}{% endblock %}

            {% block b2b_grid_table_actions %}
                <div class="block-group table--actions">
                    {% block b2b_grid_sort %}

                        <div class="block col-sort">
                            <div class="select-field">
                                <select
                                    name="sort-by"
                                    class="is--auto-submit custom-select"
                                >
                                    <option
                                        value=""
                                        disabled
                                        {% if gridState.sortBy == false %}selected="selected"{% endif %}
                                    >
                                        {{ "b2b.SortBy"|trans }}
                                    </option>
                                    {% block b2b_grid_col_sort %}{% endblock %}
                                </select>
                            </div>
                        </div>
                    {% endblock %}

                    {% block b2b_grid_search %}

                        <div class="block col-search">
                            <div class="search--area">
                                <input
                                    type="hidden"
                                    name="filters[all][field-name]"
                                    value="_all_"
                                />
                                <input
                                    type="hidden"
                                    name="filters[all][type]"
                                    value="like"
                                />

                                {% block b2b_grid_search_filters %}{% endblock %}

                                <div class="input-group">
                                    <input
                                        type="search"
                                        class="form-control header-search-input"
                                        name="filters[all][value]"
                                        value=""
                                        placeholder="{{ "b2b.SearchPlaceholder"|trans }}"
                                    >
                                    <div class="input-group-append">
                                        <button
                                            title="{{ "b2b.Search"|trans }}"
                                            type="submit"
                                            value="submit"
                                            class="btn header-search-btn"
                                        >
                                            <span class="header-search-icon">
                                                {% sw_icon 'search' %}
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endblock %}
                </div>
            {% endblock %}

            {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-message.html.twig' %}

            {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
        </form>

        {% block b2b_grid_table %}
            <table
                class="component-table b2b--component-grid {% block b2b_grid_table_class %}{% endblock %}"
                data-row-count="{{ gridState.data|length }}"
                {% block b2b_grid_table_attributes %}{% endblock %}
            >
                <thead>
                    {% block b2b_grid_table_head %}{% endblock %}
                </thead>
                <tbody>

                    {% if gridState.data|length %}
                        {% for row in gridState.data %}
                            {% block b2b_grid_table_row %}{% endblock %}
                        {% endfor %}
                    {% endif %}
                    {% block b2b_grid_table_after_rows %}{% endblock%}
                </tbody>
            </table>
        {% endblock %}
    </div>
{% endblock %}
