{% block b2b_grid_table_pagination %}
    <div class="b2b--component-pagination is--b2b-component-pagination">
        {% block b2b_grid_table_pagination_inner %}
            <div class="box--page-info">
                {{ "b2b.Page"|trans }} {{ gridState.currentPage }} / {{ gridState.maxPage }}
            </div>

            <div class="box--page-select">

                {% block b2b_grid_table_pagination_button_previous %}
                    <button
                        class="btn is--large btn--previous js--action-previous"
                        name="buttonPrevious"
                        value="{{ gridState.currentPage - 1 }}"
                        {% if gridState.currentPage is same as(1) %}disabled{% endif %}
                    >
                        {% sw_icon 'arrow-left' style { pack: 'solid' }  %}
                    </button>
                {% endblock %}

                {% block b2b_grid_table_pagination_select_page %}
                    <div class="select-field">
                        <select
                            name="page"
                            class="is--auto-submit custom-select {% if gridState.maxPage is same as(1) %}no--select{% endif %}"
                            {% if gridState.maxPage is same as(1) %}disabled{% endif %}
                        >
                            {% block b2b_grid_table_pagination_select_page_options %}
                                {% for i in range(1, gridState.maxPage) %}
                                    <option
                                        value="{{ i }}"
                                        {% if i == gridState.currentPage %}selected="selected"{% endif %}
                                    >
                                        {{ i }}
                                    </option>
                                {% endfor %}
                            {% endblock %}
                        </select>
                    </div>
                {% endblock %}

                {% block b2b_grid_table_pagination_button_next %}
                    <button
                        class="btn is--large btn--next js--action-next"
                        name="buttonNext"
                        value="{{ gridState.currentPage + 1 }}"
                        {% if gridState.currentPage == gridState.maxPage %}disabled{% endif %}
                    >
                        {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                    </button>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}