{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-sort.html.twig' %}

{% block b2b_grid_col_sort %}
    <option value="id::asc"{% if gridState.sortBy == 'id::asc' %} selected="selected"{% endif %}>{{ "b2b.NewestAsc"|trans }}</option>
    <option value="id::desc"{% if gridState.sortBy == 'id::desc' %} selected="selected"{% endif %}>{{ "b2b.NewestDesc"|trans }}</option>
    <option value="email::asc"{% if gridState.sortBy =='email::asc' %} selected="selected"{% endif %}>{{ "b2b.CustomerAsc"|trans }}</option>
    <option value="email::desc"{% if gridState.sortBy == 'email::desc' %} selected="selected"{% endif %}>{{ "b2b.CustomerDesc"|trans }}</option>
    <option value="created_at::asc"{% if gridState.sortBy == 'created_at::asc' %} selected="selected"{% endif %}>{{ "b2b.CreationDateAsc"|trans }}</option>
    <option value="created_at::desc"{% if gridState.sortBy == 'created_at::desc' %} selected="selected"{% endif %}>{{ "b2b.CreationDateDesc"|trans }}</option>
    <option value="expired_at::asc"{% if gridState.sortBy == 'expired_at::asc' %} selected="selected"{% endif %}>{{ "b2b.ExpiredDateAsc"|trans }}</option>
    <option value="expired_at::desc"{% if gridState.sortBy == 'expired_at::desc' %} selected="selected"{% endif %}>{{ "b2b.ExpiredDateDesc"|trans }}</option>
    <option value="discount_amount::asc"{% if gridState.sortBy == 'discount_amount::asc' %} selected="selected"{% endif %}>{{ "b2b.DiscountAsc"|trans }}</option>
    <option value="discount_amount::desc"{% if gridState.sortBy == 'discount_amount::desc' %} selected="selected"{% endif %}>{{ "b2b.DiscountDesc"|trans }}</option>
{% endblock %}