<tr>
    <th>{{ "b2b.CustomerLabel"|trans }}</th>
    <th>{{ "b2b.StateLabel"|trans }}</th>
    <th>{{ "b2b.CreatedDateLabel"|trans }}</th>
    <th>{{ "b2b.ExpiredDateLabel"|trans }}</th>
    <th>{{ "b2b.DiscountPriceLabel"|trans }}</th>
    {% if b2b_acl_check('b2boffer', 'detail') or b2b_acl_check('b2boffer', 'remove') %}
        <th>{{ "b2b.ActionsLabel"|trans }}</th>
    {% endif %}
</tr>