{% block b2b_grid_table_row %}
    <tr
        data-row.id="{{ row.id }}"
        class="{{ b2b_acl('b2boffer', 'list') }}"
    >
        {% block b2b_offer_grid_row_inner %}
            {% block b2b_offer_grid_row_inner_data %}
                <td
                    data-label="{{ 'b2b.NameLabel'|trans }}"
                    class="is--align-center"
                >
                    {{ row.email }}
                </td>

                <td
                    data-label="{{ 'b2b.StatusLabel'|trans }}"
                    class="is--align-center"
                >
                    {{ ('b2b.offerState.' ~ row.status) |trans }}
                </td>

                <td
                    data-label="{{ 'b2b.CreationLabel'|trans }}"
                    class="is--align-center"
                >
                    {{ row.createdAt|dateTime('d.m.Y H:i') }}
                </td>

                <td
                    data-label="{{ 'b2b.ExpiredLabel'|trans }}"
                    class="is--align-center"
                >
                    {{ row.expiredAt|dateTime('d.m.Y H:i') }}
                </td>

                <td
                    data-label="{{ 'b2b.DiscountPriceLabel'|trans }}"
                    class="is--align-center"
                >
                    {{ row.discountAmountNet|currency }}
                </td>
            {% endblock %}

            {% block b2b_offer_grid_row_inner_actions %}
                {% if b2b_acl_check('b2boffer', 'detail') or b2b_acl_check('b2boffer', 'remove') %}
                    <td
                        data-label="{{ 'b2b.ActionsLabel'|trans }}"
                        class="col-actions"
                    >
                        {% block b2b_offer_grid_row_inner_actions_inner %}
                            <button
                                title="{{ 'b2b.EditOffer'|trans }}"
                                type="button"
                                class="btn btn--edit is--small b2b-highlight ajax-panel-link {{ b2b_acl('b2boffer', 'detail') }}"
                                data-target="offer-detail"
                                data-href="{{ path('frontend.b2b.b2boffer.detail', { offerId: row.id.getValue }) }}"
                                data-plugins="ajaxPanelTriggerReload"
                            >
                                {% sw_icon 'pencil-brush' %}
                            </button>

                            {% block b2b_offer_grid_row_inner_actions_inner_form %}
                                <form
                                    method="post"
                                    action="{{ path('frontend.b2b.b2boffer.remove') }}"
                                    class="form--inline {{ b2b_acl('b2boffer', 'remove') }}"
                                    data-csrf-token="{{ sw_csrf('frontend.b2b.b2boffer.remove', { mode: 'token' }) }}"
                                >
                                    {% block b2b_offer_grid_row_inner_actions_inner_form_csrf %}
                                        {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}
                                    {% endblock %}

                                    {% block b2b_offer_grid_row_inner_actions_inner_form_inner %}
                                        {% block b2b_offer_grid_row_inner_actions_inner_form_inputs %}
                                            <input
                                                type="hidden"
                                                name="id"
                                                value="{{ row.id.getValue }}"
                                            />
                                        {% endblock %}

                                        {% block b2b_offer_grid_row_inner_actions_inner_form_submit %}
                                            <button
                                                type="submit"
                                                title="{{ 'b2b.DeleteOffer'|trans }}"
                                                class="btn is--small component-action-delete b2b-danger"
                                                data-confirm="true"
                                                data-confirm-url="{{ path('frontend.b2b.b2bconfirm.remove') }}"
                                            >
                                                {% sw_icon 'trash' %}
                                            </button>
                                        {% endblock %}
                                    {% endblock %}
                                </form>
                            {% endblock %}
                        {% endblock %}
                    </td>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </tr>
{% endblock %}
