{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    bottom: true,
    actions: true,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.AddressSelect"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}
    <form
        action="{{ path('frontend.b2b.b2baddressselect.index') }}"
        method="get"
        class="form--inline"
    >
        {% block b2b_addressselect_grid_actions %}
            <input type="hidden" name="selectedId" value="{{ selectedAddressId.getValue }}">
            <input type="hidden" name="type" value="{{ addressType }}">

            {% block b2b_addressselect_grid_actions_sort %}
                <div class="action--sort">
                    <div class="select-field">
                        <select name="sort-by" class="is--auto-submit custom-select">
                            {% block b2b_addressselect_grid_actions_sort_options %}
                                <option value="" selected="selected">
                                    {{ "b2b.SortBy"|trans }}
                                </option>
                                <option value="company::asc"{% if gridState.sortBy is same as('company::asc') %} selected="selected"{% endif %}>{{ "b2b.CompanyAsc"|trans }}</option>
                                <option value="company::desc"{% if gridState.sortBy is same as('company::desc') %} selected="selected"{% endif %}>{{ "b2b.CompanyDesc"|trans }}</option>
                                <option value="street::asc"{% if gridState.sortBy is same as('street::asc') %} selected="selected"{% endif %}>{{ "b2b.StreetAsc"|trans }}</option>
                                <option value="street::desc"{% if gridState.sortBy is same as('street::desc') %} selected="selected"{% endif %}>{{ "b2b.StreetDesc"|trans }}</option>
                                <option value="zipcode::asc"{% if gridState.sortBy is same as('zipcode::asc') %} selected="selected"{% endif %}>{{ "b2b.ZipcodeAsc"|trans }}</option>
                                <option value="zipcode::desc"{% if gridState.sortBy is same as('zipcode::desc') %} selected="selected"{% endif %}>{{ "b2b.ZipcodeDesc"|trans }}</option>
                                <option value="city::asc"{% if gridState.sortBy is same as('city::asc') %} selected="selected"{% endif %}>{{ "b2b.CityAsc"|trans }}</option>
                                <option value="city::desc"{% if gridState.sortBy is same as('city::desc') %} selected="selected"{% endif %}>{{ "b2b.CityDesc"|trans }}</option>
                            {% endblock %}
                        </select>
                    </div>
                </div>
            {% endblock %}
            {% block b2b_addressselect_grid_actions_search %}
                <div class="action--search">
                    <div class="search--area">
                        {% block b2b_addressselect_grid_actions_search_inner %}
                            <input type="hidden" name="filters[all][field-name]" value="_all_">
                            <input type="hidden" name="filters[all][type]" value="like">
                            <input type="text"
                                   name="filters[all][value]"
                                   value="{{ gridState.searchTerm }}"
                                   placeholder="{{ "b2b.SearchPlaceholder"|trans }}">

                            <button title="{{ "b2b.Search"|trans }}" type="submit" value="submit" class="button--submit btn is--primary is--center">
                                {% sw_icon 'search' %}
                            </button>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-message.html.twig" %}

    {% if gridState.data %}
        {% block b2b_addressselect_grid %}
            <div class="panel--tr row--address-selection">
                {% block b2b_addressselect_grid_header %}
                    <div class="panel--th panel--icon">
                        <span title="{{ "b2b.AddressSelect"|trans }}">{% sw_icon 'checkmark' %}</span>
                    </div>
                    <div class="panel--th panel--label-company">{{ "b2b.CompanyLabel"|trans }}</div>
                    <div class="panel--th panel--label-street">{{ "b2b.StreetLabel"|trans }}</div>
                    <div class="panel--th panel--label-zipcode">{{ "b2b.ZipcodeLabel"|trans }}</div>
                    <div class="panel--th panel--label-city">{{ "b2b.CityLabel"|trans }}</div>
                {% endblock %}
            </div>
            <form
                action="{{ path('frontend.b2b.b2baddressselect.select') }}"
                method="post"
                data-ajax-panel-trigger-reload="_WINDOW_"
                class="b2b--assignment-form {{ b2b_acl('b2bcontactaddress', 'list') }}"
            >
                {% block b2b_addressselect_grid_inner %}
                    {{ sw_csrf('frontend.b2b.b2baddressselect.select') }}
                    <input type="hidden" name="type" value="{{ addressType }}">

                    {% block b2b_addressselect_grid_inner_rows %}
                        {% for address in gridState.data %}
                            <div class="row--address row--address-selection panel--tr">
                                {% block b2b_addressselect_grid_inner_row_cells %}
                                    <div class="panel--td panel--icon panel--col-checkbox">
                                        <div class="custom-control custom-radio">
                                            <input type="radio"
                                                   name="addressId"
                                                   id="addressId-{{ address.id.getValue }}"
                                                   value="{{ address.id.getValue }}"
                                                   {% if address.id.getValue is same as(selectedAddressId.getValue) %}checked="checked"{% endif %}
                                                   class="is--auto-submit custom-control-input"
                                            />
                                            <label
                                                for="addressId-{{ address.id.getValue }}"
                                                class="custom-control-label"
                                            >
                                            </label>
                                        </div>
                                    </div>
                                    <div class="panel--td panel--label-company">{{ address.company }}</div>
                                    <div class="panel--td panel--label-street">{{ address.street }}</div>
                                    <div class="panel--td panel--label-zipcode">{{ address.zipcode }}</div>
                                    <div class="panel--td panel--label-city">{{ address.city }}</div>
                                {% endblock %}
                            </div>
                        {%  endfor %}
                    {% endblock %}
                {% endblock %}
            </form>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    {% block b2b_addressselect_grid_pagination %}
        {% if gridState.maxPage %}
            <form
                action="{{ path('frontend.b2b.b2baddressselect.index') }}"
                method="get"
                class="form--inline"
            >
                {% block b2b_addressselect_grid_pagination_inner %}
                    <input type="hidden" name="selectedId" value="{{ selectedAddressId.getValue }}">
                    <input type="hidden" name="type" value="{{ addressType }}">

                    {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
                {% endblock %}
            </form>
        {% endif %}
    {% endblock %}
{% endblock %}
