{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal.html.twig' %}

{% set modalSettings = {
    navigation: false
} %}

{% block b2b_modal_base_navigation_header %}
    {{ "b2b.AddressSelect"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner %}
    {%
        sw_include '@SwagB2bPlatform/storefront/frontend/b2baddressselect/_grid.html.twig'
        with { 'gridState': gridState, 'selectedAddressId': selectedAddressId, 'addressType': addressType } only
    %}
{% endblock %}
