{% block b2b_addressselect_success %}
    <div class="b2b-checkout-address-select">
        {%
            sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
            with {
                messages: ['success', "b2b.AddressSelectedInfo"]
            } only
        %}
    </div>
{% endblock %}
