{% block b2b_order_log_type_offerLineItemPriceChange %}
    <li class="is--warning {% if item.authorIdentity.isBackend %}left{% else %}right{% endif %}">
        {% sw_icon 'warning' style { color: 'warning' } %}
        <span>
            {{ item.eventDate|date('d.m.Y H:i') }} &bull; {{ item.authorIdentity.firstName }} {{ item.authorIdentity.lastName }}
            {% if item.authorIdentity.isApi %}
                {{ "b2b.ApiLog"|trans }}
            {% endif %}
        </span>

        {{ "b2b.PriceOfArticleChanged"|trans }}
        <br>
        <table class="table--unstyled">
            <tr class="history--old-value">
                <td>{{ "b2b.PreviousPriceLabel"|trans }}:</td>
                <td>{{ item.logValue.oldValue|currency }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.NewPriceLabel"|trans }}:</td>
                <td>{{ item.logValue.newValue|currency }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.ProductLabel"|trans }}:</td>
                <td>{{ item.logValue.productName }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.ProductNumberLabel"|trans }}:</td>
                <td>{{ item.logValue.orderNumber }}</td>
            </tr>
        </table>
    </li>
{% endblock %}