{% block b2b_order_log_type_offerDateAdded %}
    <li class="is--warning {% if item.authorIdentity.isBackend %}left{% else %}right{% endif %}">
        {% sw_icon 'warning' style { color: 'warning' } %}
        <span>
            {{ item.eventDate|date('d.m.Y H:i') }} &bull; {{ item.authorIdentity.firstName }} {{ item.authorIdentity.lastName }}
            {% if item.authorIdentity.isApi %}
                {{ "b2b.ApiLog"|trans }}
            {% endif %}
        </span>

        {{ "b2b.ExpirationDateWasAdded"|trans }}
        <br>
        <table class="table--unstyled">
            <tr>
                <td>{{ "b2b.NewDateAdded"|trans }}:</td>
                <td>{{ item.logValue.newValue|date('d.m.Y H:i') }}</td>
            </tr>
        </table>
    </li>
{% endblock %}