{% block b2b_order_log_type_offerDiscount %}
    {% if not item.logValue.newValue is same as(0) %}
        <li class="is--warning {% if item.authorIdentity.isBackend%}left{% else %}right{% endif %}">
        {% sw_icon 'warning' style { color: 'warning' } %}
    {% elseif item.logValue.oldValue %}
        <li class="is--success {% if item.authorIdentity.isBackend%}left{% else %}right{% endif %}">
        {% sw_icon 'checkmark' %}
    {% else %}
        <li class="is--success {% if item.authorIdentity.isBackend%}left{% else %}right{% endif %}">
        {% sw_icon 'checkmark' %}
    {% endif %}

        <span>
            {{ item.eventDate|date('d.m.Y H:i') }} &bull; {{ item.authorIdentity.firstName }} {{ item.authorIdentity.lastName }}
            {% if item.authorIdentity.isApi %}
                {{ "b2b.ApiLog"|trans }}
            {% endif %}
        </span>

        {% if not item.logValue.newValue %}
            {{ "b2b.DiscountDeleted"|trans }}
        {% elseif not item.logValue.oldValue %}
            {{ "b2b.DiscountAdded"|trans }}
        {% else %}
            {{ "b2b.DiscountChanged"|trans }}
        {% endif %}

        <br>

        <table class="table--unstyled">

            {% set oldValue = item.logValue.oldValue %}

            {% if not oldValue is same as (0.0) %}
                <tr>
                    <td>{{ "b2b.PreviousDiscount"|trans }}:</td>

                    {% if item.logValue.oldDiscountWasAbsolute %}
                        {% set oldValue = oldValue|currency %}
                    {% else %}
                        {% set oldValue = oldValue ~ '%' %}
                    {% endif %}

                    <td>{{ oldValue }}</td>
                </tr>
            {% endif %}

            {% if item.logValue.newValue %}
                <tr>
                    <td>{{ "b2b.NewDiscount"|trans }}:</td>

                    {% set newValue = item.logValue.newValue %}

                    {% if item.logValue.newDiscountIsAbsolute %}
                        {% set newValue = newValue|currency %}
                    {% else %}
                        {% set newValue = newValue ~ '%' %}
                    {% endif %}

                    <td>{{ newValue }}</td>
                </tr>
            {% endif %}
        </table>
    </li>
{% endblock %}