{% block b2b_order_log_type_offerStatusChange %}
    <li class="{% if 'offer_status_declined' in item.logValue.newValue %}is--error {% else%}is--info {% endif %} {% if item.authorIdentity.isBackend %}left{% else %}right{% endif %}">
        {% sw_icon 'info' %}
        <span>
            {{ item.eventDate|date('d.m.Y H:i') }} &bull; {{ item.authorIdentity.firstName }} {{ item.authorIdentity.lastName }}
            {% if item.authorIdentity.isApi %}
                {{ "b2b.ApiLog"|trans }}
            {% endif %}
        </span>

        {{ "b2b.OfferStatusChange"|trans }}

        <br>
        <table class="table--unstyled">
            <tr class="history--old-value">
                <td>{{ "b2b.OrderStatusPrevious"|trans }}:</td>
                <td>
                    {{ ('b2b.offerState.' ~ item.logValue.oldValue) |trans }}
                </td>
            </tr>
            <tr>
                <td>{{ "b2b.OrderStatusNew"|trans }}:</td>
                <td>
                    {{ ('b2b.offerState.' ~ item.logValue.newValue) |trans }}
                </td>
            </tr>
        </table>
    </li>
{% endblock %}