{% block b2b_order_log_type_offerClearanceOrderReference %}
    <li class="{% if item.authorIdentity.isBackend %}left{% else %}right{% endif %} is--success">
        {% sw_icon 'checkmark' %}
        <span>
            {{ item.eventDate|date('d.m.Y H:i') }} &bull; {{ item.authorIdentity.firstName }} {{ item.authorIdentity.lastName }}
            {% if item.authorIdentity.isApi %}
                {{ "b2b.ApiLog"|trans }}
            {% endif %}
        </span>

        {{ "b2b.OrderReferenceChange"|trans }}:

        <br>

        <strong>{{ item.logValue.newValue }}</strong>

        {% if item.logValue.oldValue %}
            <table class="table--unstyled">
                <tr class="history--old-value">
                    <td>{{ "b2b.OldReference"|trans }}:</td>
                    <td>{{ item.logValue.oldValue }}</td>
                </tr>
            </table>
        {% endif %}
    </li>
{% endblock %}