{% block b2b_order_log_type_offerClearanceLineItemAdd %}
    <li class="is--success {% if item.authorIdentity.isBackend%}left{% else %}right{% endif %}">
        {% sw_icon 'checkmark' %}
        <span>
            {{ item.eventDate|date('d.m.Y H:i') }} &bull; {{ item.authorIdentity.firstName }} {{ item.authorIdentity.lastName }}
            {% if item.authorIdentity.isApi %}
                {{ "b2b.ApiLog"|trans }}
            {% endif %}
        </span>

        {{ "b2b.OrderItemAdd"|trans }}

        <br>

        <table class="table--unstyled">
            <tr>
                <td>{{ "b2b.ProductLabel"|trans }}:</td>
                <td>{{ item.logValue.productName }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.ProductNumberLabel"|trans }}:</td>
                <td>{{ item.logValue.orderNumber }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.QuantityLabel"|trans }}:</td>
                <td>{{ item.logValue.newValue }}</td>
            </tr>
            {% if item.logValue.oldValue %}
                <tr>
                    <td>{{ "b2b.CommentLabel"|trans }}:</td>
                    <td>{{ item.logValue.oldValue }}</td>
                </tr>
            {% endif %}
        </table>
    </li>
{% endblock %}