{% block b2b_order_log_type_offerClearanceLineItemRemove %}
    <li class="is--warning {% if item.authorIdentity.isBackend %}left{% else %}right{% endif %}">
        {% sw_icon 'warning' style { color: 'warning' } %}
        <span>
            {{ item.eventDate|date('d.m.Y H:i') }} &bull; {{ item.authorIdentity.firstName }} {{ item.authorIdentity.lastName }}
            {% if item.authorIdentity.isApi %}
                {{ "b2b.ApiLog"|trans }}
            {% endif %}
        </span>

        {{ "b2b.OrderItemDelete"|trans }}

        <br>

        <table class="table--unstyled">
            <tr>
                <td>{{ "b2b.RemovedItem"|trans }}:</td>
                <td>{{ item.logValue.productName }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.ProductNumberLabel"|trans }}:</td>
                <td>{{ item.logValue.orderNumber }}</td>
            </tr>
        </table>
    </li>
{% endblock %}