{% block b2b_order_log_type_offerClearanceLineItemQuantityChange %}
    <li class="{% if item.authorIdentity.isBackend %}left{% else %}right{% endif %} is--warning">
        {% sw_icon 'warning' style { color: 'warning' } %}
        <span>
            {{ item.eventDate|date('d)m.Y H:i') }} &bull; {{ item.authorIdentity.firstName }} {{ item.authorIdentity.lastName }}
            {% if item.authorIdentity.isApi %}
                {{ "b2b.ApiLog"|trans }}
            {% endif %}
        </span>

        {{ "b2b.OrderItemQuantityChange"|trans }}

        <br>
        <table class="table--unstyled">
            <tr class="history--old-value">
                <td>{{ "b2b.OrderQuantityOldLabel"|trans }}:</td>
                <td>{{ item.logValue.oldValue }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.OrderQuantityNewLabel"|trans }}:</td>
                <td>{{ item.logValue.newValue }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.ProductLabel"|trans }}:</td>
                <td>{{ item.logValue.productName }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.ProductNumberLabel"|trans }}:</td>
                <td>{{ item.logValue.orderNumber }}</td>
            </tr>
        </table>
    </li>
{% endblock %}