{% block b2b_order_log_type_offerClearanceComment %}
    <li class="{% if item.authorIdentity.isBackend %}left{% else %}right{% endif %} {% if item.logValue.newValue %}is--info {% else %}is--error{% endif %}">
        {% sw_icon 'info' %}
        <span>
            {{ item.eventDate|date('d.m.Y H:i') }} &bull; {{ item.authorIdentity.firstName }} {{ item.authorIdentity.lastName }}
            {% if item.authorIdentity.isApi %}
                {{ "b2b.ApiLog"|trans }}
            {% endif %}
        </span>

        {% if  item.logValue.newValue %}
            {{ "b2b.CommentAdded"|trans }}:
        {% else %}
            {{ "b2b.CommentDeleted"|trans }}
        {% endif %}

        <br>

        <strong>{{ item.logValue.newValue }}</strong>

        {% if item.logValue.oldValue %}
            <table class="table--unstyled">
                <tr class="history--old-value">
                    <td>{{ "b2b.OldComment"|trans }}:</td>
                    <td>{{ item.logValue.oldValue }}</td>
                </tr>
            </table>
        {% endif %}
    </li>
{% endblock %}