{% block b2b_order_log_type_offerClearanceStatusChange %}
    <li class="{% if item.authorIdentity.isBackend %}left{% else %}right{% endif %} is--info">
        {% sw_icon 'info' %}
        <span>
            {{ item.eventDate|date('d.m.Y H:i') }} &bull; {{ item.authorIdentity.firstName }} {{ item.authorIdentity.lastName }}
            {% if item.authorIdentity.isApi %}
                {{ "b2b.ApiLog"|trans }}
            {% endif %}
        </span>

        {{ "b2b.OrderStatusChange"|trans }}
        <br>
        {% if item.logValue.comment %}
            {{ "b2b.CommentLabel"|trans }}:
            <strong>{{ item.logValue.comment }}</strong>
        {% endif %}

        <br>

        {{ "b2b.TypeStatusChange"|trans }}

        <br>
        <table class="table--unstyled">
            <tr class="history--old-value">
                <td>{{ "b2b.OrderStatusPrevious"|trans }}:</td>
                <td>{{ item.logValue.oldValue }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.OrderStatusNew"|trans }}:</td>
                <td>{{ item.logValue.newValue }}</td>
            </tr>
        </table>
    </li>
{% endblock %}