{% block b2b_order_log_type_offerClearanceLineItemComment %}
    <li class="is--info {% if item.authorIdentity.isBackend %}left{% else %}right{% endif %}">
        {% sw_icon 'info' %}
        <span>
            {{ item.eventDate|date('d.m.Y H:i') }} &bull; {{ item.authorIdentity.firstName }} {{ item.authorIdentity.lastName }}
            {% if item.authorIdentity.isApi %}
                {{ "b2b.ApiLog"|trans }}
            {% endif %}
        </span>

        {{ "b2b.OrderItemCommentChange"|trans }}:

        <br>

        <strong>{{ item.logValue.newValue }}</strong>

        <table class="table--unstyled">
            <tr>
                <td>{{ "b2b.ProductLabel"|trans }}:</td>
                <td>{{ item.logValue.productName }}</td>
            </tr>
            <tr>
                <td>{{ "b2b.ProductNumberLabel"|trans }}:</td>
                <td>{{ item.logValue.orderNumber }}</td>
            </tr>
        </table>
    </li>
{% endblock %}