.sw-cms-el-preview-confirmed-download{position:absolute;bottom:0;right:0}.sw-cms-el-preview-confirmed-download-inputs__action{max-width:60px;margin:10px 10px 10px 0;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.sw-cms-el-confirmed-download{text-align:right;width:100%}