.account-menu {
    .account-menu-header {
        color: $feldmann-blue;
    }

    .form-group {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 12px;
    }

    .login-submit {
        .btn {
            width: 100%;
            background-color: $feldmann-cyan;
            border-color: #fff;
            text-transform: uppercase;
        }
    }
}

.account-menu-login {
    border-bottom: 0;
    margin-bottom: 0;
    padding: 0;

    .login-card {
        margin-bottom: 8px;
    }

    .card-body {
        padding-top: 12px;
        padding-bottom: 0;
    }

    .login-password-recover {
        margin-bottom: 8px;

        a {
            color: $feldmann-cyan;
            text-decoration: underline;
        }
    }
}

.account-menu-register {
    text-align: left;

    a {
        color: $feldmann-cyan;
        text-decoration: underline;
    }
}

.account-menu-dropdown {
    -webkit-filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, 0.5));

    &:after, &:before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    &:after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #fff;
        border-width: 12px;
        margin-left: -12px;
    }

    &:before {
        border-color: rgba(188, 193, 199, 0);
        border-bottom-color: #bcc1c7;
        border-width: 13px;
        margin-left: -13px;
        -webkit-filter: drop-shadow(0 -2px 1px rgba(188, 193, 199, 0));
        filter: drop-shadow(0 -2px 1px rgba(188, 193, 199, 0));
    }
}
