.footer-slogan {
    color: #fff;
    padding: 10px;
    font-size: 16px;
    min-height: 44px;
    font-weight: bold;
    line-height: 1.44;
    letter-spacing: 0.16px;
    background-color: $feldmann-blue;
}

.footer-main {
    border-top: 0;
    background-position: 10px 10px;
    background-color: $feldmann-blue-dark;
    background-image: url('#{$theme-asset-path}/img/hg-muster-footer.png');
}

.footer-copyright {
    padding: 10px;
    font-size: 16px;
    min-height: 60px;
    color: $feldmann-blue;
    background-color: $feldmann-grey;
}

.footer-column-content-inner {
    color: #fff;
    padding-bottom: 0;
}

.footer-column-headline {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.05;
    letter-spacing: 0.22px;
}

.footer-link-item {
    padding: 0;
}

.footer-link {
    color: #fff;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.16px;

    &:hover {
        color: #fff;
        text-decoration: none;
    }

    .icon {
        color: #fff;
        margin-right: 5px;
    }
}

.account-register {
    margin-bottom: 20px;
}

@include media-breakpoint-up(md) {
    .footer-columns {
        border-bottom: 0;
    }

    .footer-column-headline {
        padding: 40px 0 15px;
    }
}
