.header-main {
    background: #fff;
}

#searchCollapse {
    margin-top: 10px;
}

.header-search-input {
    outline: 0;
    border-radius: 0;
    border-width: 0 0 2px;
    border-color: $feldmann-blue;
    padding-bottom: 0;

    &:focus {
        border-color: $feldmann-blue;
        box-shadow: inset 0 -1px 0 #fff;
    }

    &::placeholder {
        font-style: italic;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: normal;
        text-align: center;
        color: $feldmann-grey;
    }
}

.header-actions-btn,
.header-search-btn {
    &:focus {
        box-shadow: inset 0 -1px 0 #fff;
    }
}

.header-actions-btn {
    padding: 8px 12px;

    .icon {
        color: $feldmann-cyan;

        & > svg {
            top: 4px;
        }
    }
    &:hover {
        color: $feldmann-cyan;

        &.icon {
            color: $feldmann-cyan;
        }
    }
}

.header-search-btn {
    border: none;
    padding-right: 2px;

    .icon {
        color: $feldmann-blue;
    }

    .loader {
        width: 20px;
        height: 20px;
    }
}

.header-action-name {
    color: $feldmann-cyan;
    font-weight: 700;
    font-size: 14px;
}

.header-cart-badge {
    background-color: $feldmann-red;
}

.is-act-cartpage .checkout,
.account-register,
.account-recover-password {
    margin-top: 20px;
}

@include media-breakpoint-up(sm) {
    .header-row {
        padding-bottom: 5px;
    }

    .header-cart-badge {
        display: block;
    }
}

@include media-breakpoint-up(md) {
    .header-cart {
        .header-cart-badge {
            right: 100px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .header-row {
        flex-wrap: nowrap;
    }

    .header-main {
        top: 0;
        width: 100%;
        z-index: 1000;
        position: sticky;
        border-bottom: 0;
        transition: all 200ms ease-in-out;

        .shrink & {
            top: -36px;
        }
    }

    .header-logo-col,
    .header-search-col {
        padding: 0;
        align-self: center;
    }

    .header-logo-main-link {
        width: 295px;
    }

    .header-actions {
        justify-content: flex-end;
    }

    .header-cart-btn {
        padding-right: 0;
    }

    .header-search-col {
        margin-top: 10px;
        padding: 0 10px 8px;
    }

    .header-cart {
        .header-cart-badge {
            right: 88px;
        }
    }
}

@include media-breakpoint-up(xl) {
    .header-action-name {
        font-size: 16px;
    }
}
