.sorting,
.limit {
    display: inline-flex;
}

.filter-toggle-btn {
    height: 30px;
    display: none;
    border-radius: 0;
    line-height: 14px;
    background-color: #fff;
    color: $feldmann-grey-dark;

    &:focus {
        box-shadow: none;
    }

    &.active {
        color: #fff;
        background-color: $feldmann-cyan;

        .icon {
            color: #fff;
        }
    }

    .icon {
        color: $feldmann-cyan;

        > svg {
            top: 3px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .filter-toggle-btn {
        display: block;
    }

    .filter-container {
        height: 0;
        opacity: 0;
        margin-bottom: 10px;
        background-color: #fff;
        transition: height .3s ease-in-out, opacity .1s ease .2s;

        &.active {
            opacity: 1;
            height: auto;
            padding: 4px 4px 0;
            margin-bottom: 10px;
            border-top: 5px solid $feldmann-cyan;
        }
    }
}

@include media-breakpoint-up(xl) {
    .filter-container {
        margin-bottom: 0;

        &.active {
            border-top: 0;
            margin-bottom: 0;
            border-bottom: 5px solid $feldmann-cyan;
        }
    }
}
