@include media-breakpoint-up(lg) {
    .nav-main {
        justify-content: flex-end;
    }

    .main-navigation-menu {
        .nav-link {
            padding: 8px;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .main-navigation-link {
        color: $feldmann-blue;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;

        & .main-navigation-link-text {
            padding-bottom: 0;
            border-bottom-width: 4px;

            &:hover {
                border-bottom-color: $feldmann-cyan;
            }
        }

        &.active {
            color: $feldmann-blue;

            & .main-navigation-link-text {
                border-color: $feldmann-cyan;
            }
        }

        &.is--sale {
            color: $feldmann-red;
        }
    }
}

@include media-breakpoint-up(xl) {
    .main-navigation-menu {
        .nav-link {
            padding: 8px 16px;
        }
    }

    .main-navigation-link {
        font-size: 18px;
    }
}
