.navigation-flyout-categories {
    &:not(.is-level-0) {
        margin-left: 0;
    }

    &.is-level-0 {
        > .navigation-flyout-col {
            margin-bottom: 0;

            &::before {
                content: none;
            }
        }
    }
}

.navigation-flyout {
    position: fixed;
    width: 100vw;
    left: 0;
    top: 135px;
    background-color: $feldmann-blue;

    .shrink & {
        top: 100px;
    }

    &.is--sale,
    &.is--cms-main {
        .navigation-flyout-col {
            text-align: right;
        }
    }
}

.navigation-flyout-content {
    padding: 20px 0;
}

.navigation-flyout-col {
    padding-bottom: 16px;

    .is-level-1 & {
        padding: 0;
    }
}

.navigation-flyout-link {
    color: #fff;
    padding: 0;

    &.is-level-0 {
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        padding-bottom: 4px;
    }

    &.is-level-1 {
        font-size: 14px;
    }

    &.btn-show-all {
        text-decoration: underline;
        font-size: 14px;
    }

    &:hover {
        color: #fff;
    }
}

.navigation-flyout-all-categories {
    text-decoration: underline;
}
