.offcanvas-content-container .nav {
    padding: .25rem .5rem;
    .top-bar-nav-item-subshops {
        padding: .5rem;
    }
}

.navigation-offcanvas-link.is-back-link,
.navigation-offcanvas-headline {
    color: inherit;
}
