.search-suggest-product-name {
    color: $feldmann-blue;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;

    .search-suggest-completion & {
        color: $feldmann-grey-dark;
        font-weight: 400;

        b {
            color: $feldmann-blue;
        }
    }
}

.search-suggest-product-price {
    color: $feldmann-grey-dark;
    font-size: 14px;
}

.search-suggest-product-number {
    color: $feldmann-grey-dark;
    font-size: 12px;
    font-weight: 400;
}

.search-suggest-container {
    left: 0;
    right: 0;
    width: 100%;
    transform: none;
    position: absolute;
}

@include media-breakpoint-up(sm) {
    .search-suggest-container {
        width: 70vw;
    }
}

@include media-breakpoint-up(lg) {
    .search-suggest-container {
        width: 45vw;
    }
}

@include media-breakpoint-up(xl) {
    .search-suggest-container {
        max-width: 600px;
    }
}
