.top-bar-nav-container {
    background-color: $feldmann-grey;
    color: $feldmann-blue;
}

.top-bar-nav {
    min-height: 36px;
    align-items: center;
}

.top-bar-nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 720px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.top-bar-nav-right {
    width: 200px;

    .is--right {
        float: right;
    }
}

.top-bar-nav-item-service,
.top-bar-nav-item-subshops {
    display: inline-block;
}

.top-bar-nav-item-service {
    margin-right: 64px;
    .icon {
        color: $feldmann-blue;
        width: 17px;
        height: 18px;
        font-size: 16px;
        text-align: left;
    }
}

.top-bar-nav-item-subshops {
    margin-right: 5px;
}

@include media-breakpoint-up(xl) {
    .top-bar-nav-item-service {
        margin-right: 80px;
    }
}
