{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-price.html.twig' %}
{% block page_product_detail_price_block_table_body_cell_price %}
     {% set defaultdiscount = shopware.config.FeldmannSpecialDiscount.config.discountPercentage %}
     {% set customerGroup = shopware.config.FeldmannSpecialDiscount.config.discountToCustomerGroup %}

     {% if context.customer and context.customer.groupId in customerGroup and not page.product.extensions.customerPrices.elements and page.product.customFields.special_discount_discountable %}
         {% if context.customer.customFields.special_discount_percentage %}
             {% set discount = (context.customer.customFields.special_discount_percentage < defaultdiscount) ? defaultdiscount : context.customer.customFields.special_discount_percentage %}
         {% endif %}

         <td class="product-block-prices-cell">
             {% set newPrice = price.unitPrice - (price.unitPrice * discount) / 100 %}
             {{ newPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
         </td>
     {% else %}
         {{ parent() }}
     {% endif %}

 {% endblock %}

{% block page_product_detail_price_content %}
    {% set defaultdiscount = shopware.config.FeldmannSpecialDiscount.config.discountPercentage %}
    {% set customerGroup = shopware.config.FeldmannSpecialDiscount.config.discountToCustomerGroup %}

    {% if context.customer and context.customer.groupId in customerGroup and not page.product.extensions.customerPrices.elements and page.product.customFields.special_discount_discountable %}

        {% if context.customer.customFields.special_discount_percentage %}
            {% set discount = (context.customer.customFields.special_discount_percentage < defaultdiscount) ? defaultdiscount : context.customer.customFields.special_discount_percentage %}
        {% endif %}
        {% set newPrice = price.unitPrice - (price.unitPrice * discount) / 100 %}

        {% set listPrice = page.product.priceRange ? null : price.listPrice %}
        <p class="product-detail-price{% if listPrice.percentage > 0 %} with-list-price{% endif %}">
            {{ newPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
        </p>

        {% if listPrice.percentage > 0 %}
            {% block page_product_detail_was_price %}

                {% block page_product_detail_was_price_badge %}
                    <span class="list-price-badge">&#37;</span>
                {% endblock %}

                {% block page_product_detail_was_price_wrapper %}
                    <span class="product-detail-list-price-wrapper">
                            {{"listing.beforeListPrice"|trans|trim}}
                            <span {% if not ("listing.beforeListPrice"|trans|length > 0 or "listing.afterListPrice"|trans|length > 0) %}class="list-price-price"{% endif %}>
                                {{ listPrice.price|currency }}{{ "general.star"|trans|sw_sanitize }}
                            </span>
                            {{"listing.afterListPrice"|trans|trim}}
                            <span class="list-price-percentage">{{ "detail.listPricePercentage"|trans({'%price%': listPrice.percentage })|sw_sanitize }}</span>
                        </span>
                {% endblock %}
            {% endblock %}
        {% endif %}
    {% else %}
        {{ parent() }}
    {% endif %}



{% endblock %}
