$b2b-rem-size: 16 !default;
$remScaleFactor: 1;

@mixin unitize($property, $values) {
  $px-values: ();
  $rem-values: ();

  @each $value in $values {
    @if $value == 0 or type_of($value) != number {
      $px-values: append($px-values, $value);
      $rem-values: append($rem-values, $value);

    } @else {
      $px-values: append($px-values, $value + px);
      $rem-values: append($rem-values, ($value / $b2b-rem-size) + rem);
    }
  }

  #{$property}: #{$px-values};
  #{$property}: #{$rem-values};
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin unitize-multiple(
  $topValue,
  $rightValue: $topValue,
  $bottomValue: $topValue,
  $leftValue: $rightValue,
  $property: padding,
  $baseValue: $remScaleFactor
) {

  $remScale: (16 / $baseValue);

  $pxTopValue: $topValue;
  $emTopValue: $topValue / $remScale;

  $pxRightValue: $rightValue;
  $emRightValue:  $rightValue / $remScale;

  $pxBottomValue: $bottomValue;
  $emBottomValue: $bottomValue / $remScale;

  $pxLeftValue: $leftValue;
  $emLeftValue: $leftValue / $remScale;

  #{$property}: #{$pxTopValue}px #{$pxRightValue}px #{$pxBottomValue}px #{$pxLeftValue}px;
  #{$property}: #{$emTopValue}rem #{$emRightValue}rem #{$emBottomValue}rem #{$emLeftValue}rem;
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin unitize-padding(
  $topValue,
  $rightValue: $topValue,
  $bottomValue: $topValue,
  $leftValue: $rightValue,
  $baseValue: $remScaleFactor
) {
  @include unitize-multiple($topValue, $rightValue, $bottomValue, $leftValue, padding, $baseValue);
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin unitize-margin(
  $topValue,
  $rightValue: $topValue,
  $bottomValue: $topValue,
  $leftValue: $rightValue,
  $baseValue: $remScaleFactor
) {
  @include unitize-multiple($topValue, $rightValue, $bottomValue, $leftValue, margin, $baseValue);
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin unitize-border-radius(
  $topValue,
  $rightValue: $topValue,
  $bottomValue: $topValue,
  $leftValue: $rightValue,
  $baseValue: $remScaleFactor
) {
  @include unitize-multiple($topValue, $rightValue, $bottomValue, $leftValue, border-radius, $baseValue);
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin unitize-height($value) {
  @include unitize(height, $value, $remScaleFactor);
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin unitize-max-height($value) {
  @include unitize(max-height, $value, $remScaleFactor);
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin unitize-min-height($value) {
  @include unitize(min-height, $value, $remScaleFactor);
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin unitize-width($value) {
  @include unitize(width, $value, $remScaleFactor);
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin unitize-max-width($value) {
  @include unitize(max-width, $value, $remScaleFactor);
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin unitize-min-width($value) {
  @include unitize(min-width, $value, $remScaleFactor);
}
