$desktop-viewport-width: 1024px;
$tablet-viewport-width: 768px;

@mixin minWidth($size: "") {
  @if $size == "" {
    @content;
  }

  @if $size == "tablet" {
    @media only screen and (min-width: $tablet-viewport-width) { @content; }
  }

  @if $size == "desktop" {
    @media only screen and (min-width: $desktop-viewport-width) { @content; }
  }
}

@mixin maxWidth($size: "") {
  @if ($size == "" or $size == "desktop") {
    @content
  }

  @if $size == "mobile" {
    @media only screen and (max-width: $tablet-viewport-width) { @content; }
  }

  @if $size == "tablet" {
    @media only screen and (max-width: $desktop-viewport-width) { @content }
  }
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin center-vertically {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin border-radius-multi($topLeft, $topRight: $topLeft, $botLeft: $topLeft, $botRight: $botLeft) {
  border-top-left-radius: #{$topLeft}px;
  border-top-right-radius: #{$topRight}px;
  border-bottom-left-radius: #{$botLeft}px;
  border-bottom-right-radius: #{$botRight}px;
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin block {
  float: left;
  width: 100%;
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin block-group {
  zoom: 1;
  list-style-type: none;
  padding: 0;
  margin: 0;

  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }

  &:after {
    clear: both;
  }

  & > .block-group {
    clear: none;
    float: left;
    margin: 0 !important;
  }
}

/*
 * @deprecated tag:v4.6.0 - Will be removed
 */
@mixin is--primary() {
  border: 0 none;
  color: $text-color;

  @include unitize-padding(2, 12);

  @include unitize(line-height, 34);

  &:hover {
    background: $body-bg;
    color: $text-color;
  }

  &.is--small {
    @include unitize(line-height, 30);
  }

  &.is--large {
    @include unitize(line-height, 38);
  }
}
