{% block element_confirmed_download %}
    <div class="cms-element-{{ element.type }}">
        {% set elementId = 'element_' ~ element.id %}
        {% set action = 'fronted.ies_files.accept_lizenz' %}

        <div class="text-right" id="{{ elementId }}">
            <form method="post"
                  action="{{ path(action) }}"
                  data-confirmed-download="true">

                {{ sw_csrf(action) }}
                <input type="hidden" name="file" value="{{ app.request.query.get('file') }}">

                <a href="javascript:void(0)" data-dismiss="modal" class="btn btn-lg btn-secondary">
                    {{ "file-search.confirmedDownload.cancel"|trans }}
                </a>

                <button type="submit"
                        data-confirmed-download-options='{{ args|json_encode() }}'
                        class="btn btn-lg btn-primary">
                    {{ "file-search.confirmedDownload.confirm"|trans }}
                </button>
            </form>

        </div>
    </div>
{% endblock %}
