.block-avatar {
  border-bottom: 1px solid $brand-primary;
  padding: 0;

  @include unitize(margin-top, 20);

  .block-avatar-image {
    margin: 0 auto;
    position: relative;
    text-align: center;

    @include unitize-width($account-image-diameter);

    @include unitize-height($account-image-diameter);

    img,
    .block-avatar-edit {
      border-radius: 50%;
    }

    .block-avatar-edit {
      overflow: hidden;
    }

    img {
      box-shadow: 0 0 20px rgba(0, 0, 0, .25);
      width: 100%;
      height: 100%;
    }

    &:hover .overlay--account-upload {
      opacity: 1;
    }

    input {
      display: none;
    }
  }

  .block-avatar-edit {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .overlay--account-upload {
      opacity: 1;
      left: 0;
      right: 0;
      bottom: 0;

      @include unitize(height, $account-image-overlay-height);

      @include unitize(max-height, $account-image-overlay-height);

      @include unitize(line-height, $account-image-overlay-height);

      .icon {
        vertical-align: middle;
        color: white;
        transition: transform .5s .3s ease-in-out;

        @include unitize(width, 40);

        @include unitize(height, 40);

        svg {
          top: 0;
        }
      }
    }
  }

  .panel--options {

    ul.list--options {
      list-style: none;

      @include unitize-padding(0, 10);

      li {
        transition: transform .3s ease;
        width: max-content;
        cursor: pointer;

        @include unitize-padding(5, 0);

        &:after {
          background: $brand-primary;
          content: "";
          display: block;
          position: absolute;
          opacity: 0;
          transition: opacity .3s ease;

          @include unitize(left, 56);

          @include unitize(width, 60);

          @include unitize(height, 2);

          @include unitize(margin-top, 4);
        }

        .icon {
          @include unitize-width(16);

          @include unitize(margin-right, 8);
        }

        &:hover {

          a {
            color: $text-color !important;
          }

          &:after {
            opacity: 1;
          }
        }
      }
    }

    a {
      text-transform: uppercase;
      text-decoration: none;
      transition: color .3s ease;

      @include unitize(font-size, 16);
    }
  }

  .overlay--account-background,
  .overlay--account-upload {
    position: absolute;
    transition: .5s ease;
    cursor: pointer;
  }

  .overlay--account-background {
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);

    @include unitize(bottom, $account-image-overlay-height);
  }

  .overlay--account-upload {
    color: $text-color-light;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, .5);

    @include unitize(max-width, 320);

    @include unitize-max-height(35);

    @include unitize-min-height(10);

    @include unitize-min-width(100);

    @include unitize(bottom, 20);
  }
}

@include maxWidth("mobile") {
  [data-id="contact-tab-content"] {
    .block-avatar {
      border-bottom: 0;
      margin-bottom: 40px;
    }
  }
}

@include minWidth("tablet") {

  .block-avatar {
    display: flex;
    border-bottom: 0;

    @include unitize(padding-bottom, 40);

    .block-avatar-image,
    .panel--options {
      display: inline-block;
    }

    .block-avatar-image {
      margin: 20px auto 0;
    }

    .panel--options {
      width: 50%;

      @include unitize(padding-left, 20);
    }
  }
}

@include minWidth("desktop") {

  .block-avatar {
    display: block;

    .block-avatar-image {

      &:hover {

        .overlay--account-background {
          background: rgba(0, 0, 0, .5);
        }

        .icon {
          transform: translateY(-94px);
        }
      }
    }

    .block-avatar-image,
    .panel--options {
      display: block;
    }

    .panel--options {
      width: 100%;
      margin-left: 15%;
      border-left: 1px solid #d9f2f2;

      @include unitize(padding-left, 20);

      @include unitize(margin-top, 30);
    }
  }

  .block-avatar-edit .overlay--account-upload {
    opacity: 0;
    cursor: pointer;
    transition: background .3s ease;
  }
}