.block-masterdata {
  @include unitize(margin-top, 40);

  .panel--password,
  .panel--newsletter {
    @include unitize-padding(40, 0, 0, 0);
  }

  .panel--password {
    @include unitize(margin-top, 30);

    .input-group {
      border-bottom: 0;
    }

    ul.list--password li input {
      width: 100%;

      @include unitize(margin-top, 8);
    }
  }
}

@include minWidth("tablet") {

  .b2b--account .block-masterdata {
    margin-top: 0;

    .list--password {

      span {
        width: 100%;
        float: unset;
        text-align: left;
      }

      input {
        flex: unset;
        width: 400px !important;
      }

      > :last-child {
        @include unitize(margin-top, 20);
      }
    }
  }
}