.b2b--account {

  .panel {
    @include unitize-padding(20, 0);
  }

  .block-group {

    .block {
      width: 100%;
    }

    .panel--title {
      font-weight: $font-weight-light;

      @include unitize(font-size, 20);

      .page--title {
        @include unitize(font-size, 18);
      }
    }
  }

  ul.list--masterdata li {
    @include unitize-padding(16, 0, 16, 0);
  }

  ul.list--password li {
    @include unitize-padding(8, 0, 8, 0);
  }

  ul.list--masterdata,
  ul.list--password {
    list-style: none;

    li {
      border-bottom: 1px solid $navigation-background;
      font-weight: 500;
      text-align: right;

      &:last-child {
        border-bottom: 0 none;
      }

      span {
        float: left;
        display: inline-block;
        font-weight: normal;

        @include unitize(padding-top, 8);
      }
    }
  }

  .panel--newsletter {
    @include unitize(margin-top, 30);
  }

  .icon-arrow-right {
    color: $text-color-dark !important;
  }
}

@include maxWidth("mobile") {
  .b2b--account {
    @include unitize-padding(0, 10);
  }
}

@include minWidth("tablet") {
  .b2b--account {
    @include unitize-padding(20);
  }
}

@include minWidth("desktop") {

  .b2b--account {

    .block-group {
      display: flex;
    }

    .panel {
      @include unitize-padding(20);
    }

    > .panel {
      padding: 0;
      overflow: visible;
    }

    .panel--newsletter {
      @include unitize(margin-top, 30);
    }
  }
}