{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_product_table %}
    {% set deliveryNote = context.customer.extension('deliveryNote') %}

    <div class="row">
        <div class="col-12">
            {% if deliveryNote %}
                {% sw_include '@Storefront/storefront/component/delivery-note/file-viewer.html.twig' with {
                    remove: true
                } %}
            {% else %}
                {% sw_include '@Storefront/storefront/component/delivery-note/file-upload.html.twig' %}
            {% endif %}
        </div>
    </div>

    {{ parent() }}
{% endblock %}
