{% sw_extends '@Storefront/storefront/component/account/login.html.twig' %}

{% block component_account_login_form_description %}{% endblock %}

{% block component_account_login_form_mail_label %}{% endblock %}

{% block component_account_login_form_password_label %}{% endblock %}

{% block component_account_login_form_redirect %}
    <input type="hidden"
           name="redirectTo"
           value="{% if activeRoute == 'frontend.account.login.page' %}frontend.account.home.page{% else %}{{ activeRoute }}{% endif %}">

    <input type="hidden"
           name="redirectParameters"
           value="{{ app.request.attributes.get('_route_params')|json_encode }}">
{% endblock %}
