{% block b2b_address_grid_table_head %}
    <tr>
        <th>{{ 'b2b.CompanyLabel'|trans }}</th>
        <th>{{ 'b2b.StreetLabel'|trans }}</th>
        <th>{{ 'b2b.ZipcodeLabel'|trans }}</th>
        <th>{{ 'b2b.CityLabel'|trans }}</th>
        {% if
            b2b_acl_check('b2baddress', 'detail')
            or b2b_acl_check('b2baddress', 'remove')
        %}
            <th>{{ 'b2b.ActionsLabel'|trans }}</th>
        {% endif %}
    </tr>
{% endblock %}
