{% set rowId = row.id.getValue  %}

{% block b2b_address_grid_table_row %}
    <tr data-row-id="{{ rowId }}">
        {% block b2b_address_grid_table_row_cells %}
            <td data-label="{{ 'b2b.CompanyLabel'|trans }}">{{ row.company }}</td>
            <td data-label="{{ 'b2b.StreetLabel'|trans }}">{{ row.street }}</td>
            <td data-label="{{ 'b2b.ZipcodeLabel'|trans }}">{{ row.zipcode }}</td>
            <td data-label="{{ 'b2b.CityLabel'|trans }}">{{ row.city }}</td>

            {% if
                b2b_acl_check('b2baddress', 'detail')
                or b2b_acl_check('b2baddress', 'remove')
            %}
                <td
                    data-label="{{ 'b2b.ActionsLabel'|trans }}"
                    class="col-actions"
                >
                    {% block b2b_address_grid_table_row_cells_actions %}
                        <button
                            title="{{ 'b2b.EditAddress'|trans }}"
                            type="button"
                            data-row-id="{{ rowId }}"
                            data-href="{{ path('frontend.b2b.b2baddress.detail', {'id': rowId }) }}"
                            data-target="address-detail"
                            class="btn btn--edit is--small ajax-panel-link b2b-highlight {{ b2b_acl('b2baddress', 'detail') }}"
                        >
                            {% sw_icon 'pencil-brush' %}
                        </button>

                        <form
                            action="{{ path('frontend.b2b.b2baddress.remove', { 'type': type }) }}"
                            method="post"
                            class="form--inline"
                            data-csrf-token="{{ sw_csrf('frontend.b2b.b2baddress.remove', { mode: 'token' }) }}"
                        >
                            {% block b2b_address_grid_table_row_cells_actions_form %}
                                {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}

                                <input
                                    type="hidden"
                                    name="id"
                                    value="{{ rowId }}"
                                >

                                {% if row.is_used == false %}
                                    <button
                                        title="{{ 'b2b.DeleteAddress'|trans }}"
                                        type="submit"
                                        class="btn is--small component-action-delete b2b-danger {{ b2b_acl('b2baddress', 'remove') }}"
                                        data-confirm="true"
                                        data-confirm-url="{{ path('frontend.b2b.b2bconfirm.remove') }}"
                                    >
                                        {% sw_icon 'trash' %}
                                    </button>
                                {% endif %}
                            {% endblock %}
                        </form>
                    {% endblock %}
                </td>
            {% endif %}
        {% endblock %}
    </tr>
{% endblock %}
