{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_add_product_and_shipping %}
    {{ parent() }}

    {% if b2bSuite %}
        {% sw_include '@SwagB2bPlatform/storefront/_custom/cart/b2b-cart-orderlist.html.twig' %}
    {% endif %}
{% endblock %}

{% block page_checkout_confirm_errors %}
    {% if b2bSuite %}
        {% sw_include '@SwagB2bPlatform/storefront/_custom/cart/b2b-cart-alerts.html.twig' with {
            cart: page.cart
        } %}
    {% endif %}
    {{ parent() }}
{% endblock %}