{% block b2b_contingentruleproductordernumber_form %}
    <div class="form-row">
        <div class="form-group col-md-6 b2b--search-container">
            <label for="productOrderNumber">{{ "b2b.ProductNumberLabel"|trans }} *</label>
            <input
                type="text"
                name="productOrderNumber"
                id="productOrderNumber"
                value="{{ rule.productOrderNumber }}"
                data-product-search="{{ path('frontend.b2b.b2bproductsearch.searchProduct') }}"
                class="input-ordernumber form-control"
                placeholder="{{ "b2b.ProductNumberPlaceholder"|trans }}"
            >
        </div>
    </div>
{% endblock %}
