{% block b2b_contingentruleproductordernumber_form %}
    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.ProductNumberLabel"|trans }}: *
        </div>
        <div class="block box--input">
            <div class="b2b--search-container">
                <input type="text"
                       name="productOrderNumber"
                       id="productOrderNumber"
                       value="{{ rule.productOrderNumber }}"
                       data-product-search="{{ path('frontend.b2b.b2bproductsearch.searchProduct') }}"
                       class="input-ordernumber form-control"
                       placeholder="{{ "b2b.ProductNumberPlaceholder"|trans }}">
            </div>
        </div>
    </div>
{% endblock %}