{% block b2b_contingentruleproductordernumber_edit %}
    {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bcontingentruleproductordernumber/_form.html.twig" with {'rule': rule} %}
{% endblock %}