{% sw_extends '@Storefront/storefront/page/checkout/finish/index.html.twig' %}

{% block page_checkout_finish_product_table %}
    {% set deliveryNote = page.order.customFields.deliveryNote %}

    {% if deliveryNote %}
        <div class="row">
            <div class="col-12">
                {% sw_include '@Storefront/storefront/component/delivery-note/file-viewer.html.twig' %}
            </div>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
