Am {{ data.date|format_datetime('long', 'short', locale='de', timezone='Europe/Berlin') }} haben sie unserem Nutzungsvertrag zugestimmt und {{ data.file }} - Datei heruntergeladen.
<br><br>
Im Anhang finden Sie eine Kopie unseres Nutzungsvertrages.

