{% if data.customer.salutation.salutationKey != 'not_specified' %}{{ data.customer.salutation.translated.displayName }}{% endif %} {% if data.customer.title %}{{ data.customer.title }}{% endif %} {{ data.customer.firstName }} {{ data.customer.lastName }} mit Kundennummer {{ data.customer.customerNumber}} hat das Datei-Archiv {{ data.file }} heruntergeladen, {{ data.date|format_datetime('long', 'short', locale='de', timezone='Europe/Berlin') }}
