{% sw_extends '@Storefront/storefront/page/checkout/checkout-aside-item.html.twig' %}

{% block page_checkout_aside_item_price %}
  {% if not coeHidePrice %}
      {{ parent() }}
  {% endif %}
{% endblock %}