{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_unit_price_wrapper %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}


{% block page_checkout_item_total_price_wrapper %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}