<div class="panel is--rounded">
    <div class="panel--title is--underline">
        <div class="block-group b2b--block-panel">
            <div class="block block--title">
                <h3>{{ "b2b.BillingAddresses"|trans }}</h3>
            </div>
        </div>
    </div>
    <div class="panel--body is--wide b2b--grid-container">
        {%
            include '@SwagB2bPlatform/storefront/frontend/b2baddress/_grid.html.twig'
            with { 'type': 'billing', 'gridState': gridState, 'companyFilter': companyFilter } only
        %}
    </div>
</div>

<div class="b2b--ajax-panel b2b-modal-panel has--b2b-form" data-id="address-detail"></div>
