.navigation--submenu {
  display: none;
  border: 0;
  margin-bottom: 0;
  padding-left: 0;
  overflow: hidden;
  color: $text-color-contrast;

  li {
    padding: 0;

    @include unitize(font-size, 13);

    span {
      display: inline-block;
    }

    &.is--right {
      float: right;
    }

    &.has--padding {
      @include unitize-padding(8, 12, 4, 18);
    }

    &.is--logout,
    &.is--account {
      background: $btn-background;
      transition: background .3s ease;

      a {
        height: auto;

        @include unitize-padding(7, 15, 8, 15);
      }
    }

    &.is--account:hover {
      background: $highlight-info;
    }

    &.is--logout:hover {
      background: $highlight-error;
    }

    .progress {
      border: 1px solid lighten($brand-secondary, 5%);
      display: inline-block;

      @include unitize(margin-left, 10);

      @include unitize(margin-right, 10);

      @include unitize(width, 100);

      @include unitize(height, 10);

      .progress-fill {
        background: lighten($brand-secondary, 5%);
        height: 100%;
      }
    }
  }
}

@include minWidth("desktop") {

  .navigation--submenu {
    display: inline-block;

    svg {
      color: $text-color;
    }

    &.submenu--right {
      float: right;

      @include unitize(margin-right, 16);

      @include unitize(right, 20);
    }

    li {

      a {
        color: $btn-text-color;
      }

      .icon-star {
        @include unitize-margin(0, 5);

        svg {
          @include unitize(top, -3);
        }
      }

      .icon-log-out {
        @include unitize(height, 18);

        @include unitize(width, 18);

        @include unitize(margin-left, 4);

        svg {
          top: -.1rem;
          color: $btn-icon-color;
        }
      }
    }
  }
}