.navigation--signin {
  border-bottom: 0 none !important;
}

.b2b--navigation {
  background: $navigation-background;
  position: relative;
  display: block;
  overflow: hidden;

  a {
    user-select: none;
  }

  .b2b--navigation-wrapper {
    position: relative;

    @include unitize-padding(0, 40);

    .b2b--menu-scroller {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: background .3s ease;
      height: 100%;
      user-select: none;

      @include unitize-width(40);

      @include unitize-padding(0, 5);

      &:hover,
      &:focus {
        background: getContrast($navigation-background, 10%);
      }

      &--left {
        left: 0;
      }

      &--right {
        right: 0;
      }

      .icon {
        position: absolute;
        top: calc(50% - 2px);
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  ul {
    list-style: none;
    font-size: 0;
    white-space: nowrap;
    padding-left: 0;

    li {
      list-style: none;
      display: inline-block;

      @include unitize(font-size, 14);

      &.is--right {
        float: right;
      }

      &.is--userinfo {
        display: none;
      }

      a {
        text-decoration: none;
        display: block;
        transition: background .3s ease, color .3s ease;

        @include unitize(height, 60);

        @include unitize-padding(20, 20, 20, 20);

        &.navigation--link {
          color: $text-color;
        }

        &.is--active {
          color: $text-color-contrast;

          &.navigation--link:after {
            opacity: 1;
          }
        }

        &.navigation--link {
          position: relative;

          @include unitize(font-size, 16);

          @include unitize(line-height, 20);

          &:after {
            background: $brand-primary;
            content: "";
            display: block;
            position: absolute;
            opacity: 0;
            transition: opacity .3s ease;

            @include unitize(width, 60);

            @include unitize(height, 2);

            @include unitize(margin-top, 4);
          }
        }
      }
    }
  }

  .js--menu-scroller--list {
    overflow-x: scroll;

    .js--menu-scroller--arrow {
      @include unitize(top, 10);
    }
  }

  .b2b--navigation-container {
    overflow: hidden;

    .navigation--menu {
      margin-bottom: 0;
      overflow-x: auto;
    }
  }
}

@include minWidth("desktop") {

  .b2b--navigation {
    position: relative;
    max-width: 87.5rem;
    margin: 20px auto 0;
    overflow: visible;
    display: block;

    @include unitize-padding(30, 0, 20);

    @include border-radius-multi(3);

    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      background: $navigation-background;
      top: 0;
      bottom: 0;
    }

    &:before {
      left: -100%;
      right: 100%;
    }

    &:after {
      left: 100%;
      right: -100%;
    }

    .b2b--navigation-wrapper {
      position: relative;
      padding: 0;

      .b2b--menu-scroller {
        display: none;
      }
    }

    .b2b--navigation-container {
      @include unitize(margin-top, 15);
    }

    .submenu--right {
      @include unitize(top, 20);
    }

    ul li {

      &.is--right {
        float: right;
      }

      a.navigation--link {

        &:hover {
          color: $text-color-contrast;

          &.navigation--link:after {
            opacity: 1;
          }
        }
      }
    }
  }
}