.offcanvas-cart {
    .cart-item {
        &.is-discount {
            .cart-item-price-surcharge {
                font-weight: $font-weight-bold;
                margin-left: $spacer;
                text-align: right;

                .cart-item-reference-price {
                    color: lighten($sw-text-color, 20);
                    display: inline-block;
                    line-height: $spacer * 0.85;
                }
            }
        }
    }
}

.cart-item-total-price-surcharge {
    order: 5;
}

.cart-item-total-price-surcharge {
    font-weight: $font-weight-bold;
}

.cart-item-unit-price,
.cart-item-total-price-surcharge,
.cart-item-tax-price {
    justify-content: space-between;
    display: flex;
}

@include media-breakpoint-up(sm) {
    .cart-item-quantity,
    .cart-item-unit-price,
    .cart-item-total-price-surcharge,
    .cart-item-tax-price {
        text-align: right;
    }

    .cart-item-unit-price,
    .cart-item-total-price-surcharge,
    .cart-item-tax-price {
        justify-content: normal;
        display: block;
    }
}

@include media-breakpoint-up(md) {
    .cart-item-info,
    .cart-item-quantity,
    .cart-item-unit-price,
    .cart-item-total-price-surcharge,
    .cart-item-tax-price,
    .cart-item-remove {
        order: 0;
    }
}

