$icon-margin: 30px;

.dashboard-teaser--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  > a.dashboard-teaser--filler {
    height: 0;
    min-height: 0;

    @include unitize-margin(0, 20);
  }

  > a {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    cursor: pointer;
    text-decoration: none;

    @include unitize-margin(20);

    @include unitize-max-width(375);

    @include unitize-min-height(140);

    &:focus,
    &:active,
    &:visited {
      text-decoration: none;
    }

    .dashboard-teaser {
      position: relative;
      transition: box-shadow 0.3s ease;
      user-select: none;
      overflow: hidden;
      height: 100%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

      @include unitize-padding(20);

      @include border-radius-multi(3);

      .icon {
        position: absolute;
        top: $icon-margin;
        right: $icon-margin;
        bottom: $icon-margin;
        left: $icon-margin;
        width: auto;
        height: $icon-margin * 2;

        svg {
          color: rgba(0, 0, 0, .05);
        }

        transition: transform .3s ease;
      }

      .content {

        h3 {

          &:after {
            background: $brand-primary;
            content: "";
            display: block;
            position: absolute;
            opacity: 0;
            transition: opacity .3s ease, width .3s ease;

            @include unitize-width(60);

            @include unitize-height(2);

            @include unitize(margin-top, 4);
          }
        }

        p {
           padding-top: 4px;
        }
      }

      &:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

        .content {
          h3:after {
            opacity: 1;
          }
        }
      }
    }
  }
}

@include maxWidth("mobile") {

  .dashboard-teaser--container > a > .dashboard-teaser {

    .content {

      h3:after {
        opacity: 1;
      }
    }
  }
}

@include minWidth("tablet") {

  .dashboard-teaser--container > a > .dashboard-teaser {
    flex: 1 50%;

    .icon {
      height: calc(100% - (#{$icon-margin} * 2));
    }

    &:hover {

      .icon {
        transform: scale(1.05);
      }
    }
  }
}

@include minWidth("desktop") {

  .dashboard-teaser--container > a > .dashboard-teaser {
    flex: 1 33%;

    .icon {
      height: calc(100% - (#{$icon-margin} * 2));
    }
  }
}