.module-dashboard {
  width: 100%;

  .block-group,
  .block--dash {
    width: 100%;
    user-select: none;
    cursor: default;

    > a {
      text-decoration: none;
    }
  }

  .dashboard--header {
    text-align: center;

    @include unitize-margin(0, 0, 30, 0);
  }

  .block--dash {
    display: inline-block;

    @include unitize-padding(0, 0, 15, 0);
  }

  .panel {
    box-shadow: $dashboard-shadow;
  }
}

@include minWidth("tablet") {

  .module-dashboard .block--dash {
    width: calc(50% - 3px);

    @include unitize-padding(15, 25, 20, 25);

    .panel {
      @include unitize-height(140);
    }
  }
}

@include minWidth("desktop") {

  .module-dashboard {

    .dashboard--header {
      @include unitize-margin(60, 0, 60, 0);
    }

    .block--dash {
      width: 33%;

      @include unitize-padding(15, 25, 20, 25);

      .panel {
        transition: box-shadow $panel-transition-duration $panel-transition-function;
        cursor: pointer;
        box-shadow: none;
        user-select: none;

        @include unitize-height(140);

        h3 {
          position: relative;

          @include unitize(margin-bottom, 14);

          &:after {
            background: $brand-primary;
            content: "";
            display: block;
            position: absolute;
            opacity: 0;
            transition: opacity .3s ease, width .3s ease;

            @include unitize(width, 60);

            @include unitize(height, 2);

            @include unitize(margin-top, 4);
          }
        }

        &:hover {
          box-shadow: $dashboard-shadow-hover;

          .icon {
            color: $brand-primary;
          }

          h3:after {
            opacity: 1;
          }
        }
      }
    }
  }
}