{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_content %}

    <div class="panel">
        <h1 class="panel--title">{{ "wishlist.title"|trans }}</h1>
        <div class="panel--body is--wide">
            <p>{{ "wishlist.description1"|trans }}</p>
            <p>{{ "wishlist.description2"|trans }}</p>
        </div>
    </div>

    {% if page.wishList %}
        <div class="card">
            <div class="card-body">
                <div class="card-title cart-table-header">
                    <div class="row cart-header-row"></div>
                </div>

                {% for item in page.wishListItems %}
                    <div class="wishlist">
                        {% sw_include '@Storefront/storefront/page/wish-list/items.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}
