{% set listingPrice = item.calculatedListingPrice %}
{% set fromPrice = listingPrice.from %}
{% set referncePrice = item.calculatedPrice.referencePrice %}

<div class="cart-item cart-item-product">
    <div class="row cart-item-row">
        <div class="col-10 col-md cart-item-info">
            <div class="row cart-item-row">
                <div class="col-auto cart-item-info-img">
                    <div class="cart-item-img-container">
                        <a href="{{ seoUrl('frontend.detail.page', {'productId': item.id}) }}"
                           class="cart-item-img-link"
                           title="{{ item.translated['name'] }}">
                            {% if item.cover.media.url %}
                                {% sw_thumbnails 'cart-item-img-thumbnails' with {
                                    media: item.cover.media,
                                    sizes: {
                                        'default': '100px'
                                    },
                                    attributes: {
                                        'class': 'img-fluid cart-item-img',
                                    }
                                } %}
                            {% else %}
                                {% sw_icon 'placeholder' style {
                                    'size': 'fluid'
                                } %}
                            {% endif %}
                        </a>
                    </div>
                </div>

                <div class="col cart-item-details">
                    <div class="cart-item-details-container">
                        <a href="{{ seoUrl('frontend.detail.page', {'productId': item.id}) }}"
                           class="cart-item-label wishlist"
                           title="{{ item.translated['name'] }}"
                        >
                            {{ item.translated['name']|u.truncate(60) }}
                        </a>

                        {% if item.manufacturer.translated %}
                            <div class="cart-item-ordernumber">
                                {{ item.manufacturer.translated['name'] }}
                            </div>
                        {% endif %}

                        <div class="product-delivery-information">
                            {% if item.shippingFree %}
                                <p class="delivery-information delivery-shipping-free">
                                    <span class="delivery-status-indicator bg-info"></span>
                                    {{ "general.deliveryShippingFree"|trans|sw_sanitize }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-4 col-md-auto cart-item-total-price">
            <p class="wishlist-price">
                {% if item.priceRange %}
                    {{ fromPrice.unitPrice|currency }}
                    -
                    {{ listingPrice.to.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
                {% elseif item.calculatedPrices|length == 1 %}
                    {{ item.calculatedPrices.first.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
                {% else %}
                    {{ item.calculatedPrice.unitPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
                {% endif %}
            </p>
        </div>

        <div class="col-2 col-md-1 cart-item-remove col-remove">
            <form action="{{ path('frontend.wishlist.remove') }}" method="post">
                <input type="hidden" name="redirectTo" value="frontend.wishlist.page">
                <input type="hidden" name="productId" value="{{ item.id }}">

                <button type="submit" class="btn btn-sm">
                    {% sw_icon 'x' style { 'size': 'sm' } %}
                </button>
            </form>
        </div>
    </div>
</div>

