{% block page_product_detail_ordernumber_container %}
    {% set customOrderNumber = page.product.getExtension('b2bOrderNumber').first %}
    {% if customOrderNumber %}
        <div class="product-detail-custom-order-number-container">
            {% block page_product_detail_custom_order_number_label %}
                <span class="product-detail-custom-order-number-label">
                    <b>{{ "b2b.ProductDetailCustomOrderNumberLabel"|trans|sw_sanitize }}:</b>
                </span>
            {% endblock %}

            {% block page_product_detail_custom_order_number %}
                <meta
                    itemprop="productID"
                    content="{{ page.product.id }}"
                />
                <span
                    class="product-detail-ordernumber"
                    itemprop="sku"
                >
                    {{ customOrderNumber.getCustomOrderNumber }}
                </span>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

{% block page_product_detail_buy_orderlist %}
    <div class="b2b-remote-list-orderlist mb-4 mt-4 {{ b2b_acl('b2borderlist', 'index') }}">
        <div
            class="is--b2b-ajax-panel b2b--ajax-panel"
            data-id="order-list-remote-box"
            data-plugins="orderList"
            data-url="{{ path(
                'frontend.b2b.b2borderlistremote.remoteList',
                {
                    referenceNumber: page.product.productNumber,
                    b2b_quantity: page.product.minPurchase,
                    type: 'detail'
                }
            ) }}"
        ></div>
    </div>
{% endblock %}