{% block b2b_orderlistlineitemreference_form %}
    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.ProductNumberLabel"|trans }}: *
        </div>
        <div class="block box--input">
            <div class="b2b--search-container">
                <input
                    type="text"
                    name="referenceNumber"
                    autocomplete="off"
                    {% if lineItemReference.customReferenceNumber %}
                        value="{{ lineItemReference.customReferenceNumber }}"
                    {% else %}
                        value="{{ lineItemReference.referenceNumber }}"
                    {% endif %}
                    placeholder="{{ "b2b.ProductNumberPlaceholder"|trans }}"
                    class="input-ordernumber form-control"
                    data-product-search="{{ path("frontend.b2b.b2bproductsearch.searchProduct") }}"
                    autofocus
                >
            </div>
        </div>
    </div>

    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.QuantityLabel"|trans }}: *
        </div>
        <div class="block box--input">
            <input
                type="number"
                name="quantity"
                value="{{ lineItemReference.quantity }}"
                class="search--quantity b2b--search-quantity form-control"
                placeholder="{{ "b2b.QuantityPlaceholder"|trans }}"
                min="{{ lineItemReference.minPurchase|default(1) }}"
                step="{{ lineItemReference.purchaseStep|default(1) }}"
                {% if lineItemReference.maxPurchase %}
                    max="{{ lineItemReference.maxPurchase }}"
                {% endif %}
            >
        </div>
    </div>

    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.CommentLabel"|trans }}:
        </div>
        <div class="block box--input">
            <textarea
                type="text"
                name="comment"
                class="form-control"
                placeholder="{{ "b2b.CommentPlaceholder"|trans }}"
            >
                {{- lineItemReference.comment -}}
            </textarea>
        </div>
    </div>
{% endblock %}
