{% block b2b_orderlistlineitemreference_form %}
    <div class="form-group col-sm-6">
        <label for="referenceNumber">
            {{ "b2b.ProductNumberLabel"|trans }} *
        </label>
        <div class="b2b--search-container input-group">
            <input
                type="text"
                name="referenceNumber"
                autocomplete="off"
                {% if lineItemReference.customReferenceNumber %}
                    value="{{ lineItemReference.customReferenceNumber }}"
                {% else %}
                    value="{{ lineItemReference.referenceNumber }}"
                {% endif %}
                placeholder="{{ "b2b.ProductNumberPlaceholder"|trans }}"
                class="input-ordernumber form-control"
                data-product-search="{{ path("frontend.b2b.b2bproductsearch.searchProduct") }}"
                autofocus
            >
        </div>
    </div>

    <div class="form-group col-sm-6">
        <label for="quantity">
            {{ "b2b.QuantityLabel"|trans }} *
        </label>
        <input
            type="number"
            name="quantity"
            value="{{ lineItemReference.quantity }}"
            class="search--quantity b2b--search-quantity form-control"
            placeholder="{{ "b2b.QuantityPlaceholder"|trans }}"
            min="{{ lineItemReference.minPurchase|default(1) }}"
            step="{{ lineItemReference.purchaseStep|default(1) }}"
            {% if lineItemReference.maxPurchase %}
                max="{{ lineItemReference.maxPurchase }}"
            {% endif %}
        >
    </div>

    <div class="form-group col-sm-12">
        <label for="comment">
            {{ "b2b.CommentLabel"|trans }}
        </label>

        <textarea
            type="text"
            name="comment"
            class="form-control"
            placeholder="{{ "b2b.CommentPlaceholder"|trans }}"
        >
            {{- lineItemReference.comment -}}
        </textarea>
    </div>
{% endblock %}
