{% block b2b_orderlistlineitemreference_head %}
    <div class="content--inner b2b-order-overview">
        <div class="panel has--border">
            <div class="block-group">
                {% block b2b_orderlistlineitemreference_head_inner %}
                    <span class="item-count">
                        <strong>{{ "b2b.OrderItemQuantityPluralLabel"|trans }}:</strong><br>
                        {{ itemCount }}
                    </span>
                    <span class="value">
                        <strong>{{ "b2b.OrderAmountLabel"|trans }}:</strong><br>
                        {{ amountNet|currency }}
                    </span>
                    <span class="value">
                        <strong>{{ "b2b.WithTaxesLabel"|trans }}:</strong><br>
                        {{ amount|currency }}
                    </span>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}