{% block b2b_orderlistlineitemreference_positions %}
    {% set allowUpdatePositions = b2b_acl_check('b2borderlistlineitemreference', 'update' ) %}
    <table
        class="table--contacts table--responsive b2b--component-grid positions-grid"
        data-row-count="{{ gridState.data|length }}"
    >
        {% block b2b_orderlistlineitemreference_positions_head %}
            <thead>
                <tr>
                    {% block b2b_orderlistlineitemreference_positions_head_inner %}
                        <th>{{ "b2b.ProductLabel"|trans }}</th>
                        <th>{{ "b2b.QuantityLabel"|trans }}</th>
                        <th>{{ "b2b.UnitPriceLabel"|trans }}</th>
                        <th>{{ "b2b.CommentLabel"|trans }}</th>
                        {% if allowUpdatePositions %}<th>{{ "b2b.ActionsLabel"|trans }}</th>{% endif %}
                    {% endblock %}
                </tr>
            </thead>
        {% endblock %}

        {% block b2b_orderlistlineitemreference_positions_grid %}
            <tbody>

            {% set orderListId = orderList.id.getValue %}

            {% for key, row in gridState.data %}

                {% set rowId = row.id.getValue %}

                {% if row.customReferenceNumber %}
                    {% set rowRef = row.customReferenceNumber %}
                {% else %}
                    {% set rowRef = row.referenceNumber %}
                {% endif %}

                {% block b2b_orderlistlineitemreference_positions_grid_row %}
                    <tr
                        data-row-id="{{ rowId }}"
                        data-class="row"
                    >
                        {% block b2b_orderlistlineitemreference_positions_grid_row_inner %}
                            {% block b2b_orderlistlineitemreference_positions_grid_row_inner_data %}
                                <td data-label="{{ "b2b.ProductLabel"|trans }}">
                                    <div>
                                        {% if not row.name and row.mode.originalMode == 'product' %}
                                            <span class="deleted-line-item">
                                                {{ "b2b.Deleted"|trans }}
                                            </span>
                                        {% else %}
                                            {{ row.name }}
                                        {% endif %}
                                        <br>
                                        <small>
                                            {{ rowRef }}
                                        </small>
                                    </div>
                                </td>

                                <td
                                    data-label="{{ "b2b.QuantityLabel"|trans }}"
                                    class="line-item--column-quantity"
                                >
                                    <div
                                        data-display="edit-mode"
                                        class="is--hidden"
                                    >
                                        <input
                                            type="number"
                                            class="form-control"
                                            min="{{ row.minPurchase|default(1) }}"
                                            step="{{ row.purchaseStep|default(1) }}"
                                            max="{{ row.maxPurchase }}"
                                            name="quantity"
                                            value="{{ row.quantity }}"
                                            data-b2b-form-input-holder="true"
                                            data-targetElement="quantityHidden-{{ rowId }}"
                                        />
                                    </div>

                                    <div
                                        class="is--align-center"
                                        data-display="view-mode"
                                    >
                                        {{ row.quantity }}
                                    </div>
                                </td>

                                <td data-label="{{ "b2b.UnitPriceLabel"|trans }}">
                                    <div>
                                        {{ row.amountNet|currency }}
                                        <br>
                                        <small>{{ "b2b.WithTaxesLabel"|trans }}: {{ row.amount|currency }}</small>
                                    </div>
                                </td>

                                <td
                                    class="modal--col-comment"
                                    data-label="{{ "b2b.CommentLabel"|trans }}"
                                    title="{{ row.comment }}"
                                >
                                    {{ row.comment|u.truncate(80) }}
                                </td>
                            {% endblock %}

                            {% block b2b_orderlistlineitemreference_positions_grid_row_inner_actions %}
                                {% if allowUpdatePositions %}
                                    <td
                                        class="col-actions"
                                        data-label="{{ "b2b.ActionsLabel"|trans }}"
                                    >
                                        <button
                                            title="{{ "b2b.EditItem"|trans }}"
                                            type="button"
                                            data-mode="edit"
                                            class="btn b2b-highlight is--small"
                                        >
                                            {% sw_icon 'pencil-brush' %}
                                        </button>

                                        <form
                                            action="{{ path("frontend.b2b.b2borderlistlineitemreference.remove") }}"
                                            method="post"
                                            class="form--inline {{ b2b_acl('b2borderlistlineitemreference', 'remove') }}"
                                            data-csrf-token="{{ sw_csrf('frontend.b2b.b2borderlistlineitemreference.remove', { mode: 'token' }) }}"
                                        >
                                            {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}

                                            <input type="hidden" name="orderlist" value="{{ orderListId }}">
                                            <input type="hidden" name="lineItemId" value="{{ rowId }}">
                                            <input type="hidden" name="confirmName" value="{{ rowRef }}">

                                            <button
                                                type="submit"
                                                title="{{ "b2b.DeleteItem"|trans }}"
                                                class="btn b2b-danger no--edit is--small component-action-delete"
                                                data-confirm="true"
                                                data-confirm-url="{{ path("frontend.b2b.b2bconfirm.remove") }}?confirmName={{ rowRef }}"
                                            >
                                                {% sw_icon 'trash' %}
                                            </button>
                                        </form>

                                        <div class="button--group-split">

                                            <form
                                                action="{{ path("frontend.b2b.b2borderlistlineitemreference.sort") }}"
                                                method="post"
                                                class="form--inline"
                                            >
                                                {{ sw_csrf('frontend.b2b.b2borderlistlineitemreference.sort') }}

                                                <input type="hidden" name="itemIdOne" value="{{ rowId }}">
                                                <input type="hidden" name="itemIdTwo" value="{{ gridState.data[key-1].id.getValue }}">
                                                <input type="hidden" name="listId" value="{{ listId }}">
                                                <input type="hidden" name="orderlist" value="{{ orderListId }}">

                                                <button
                                                    type="submit"
                                                    class="is--top"
                                                    {% if loop.first %}disabled{% endif %}
                                                >
                                                    {% sw_icon 'arrow-up' style { pack: 'solid' } %}
                                                </button>
                                            </form>

                                            <form
                                                method="post"
                                                action="{{ path("frontend.b2b.b2borderlistlineitemreference.sort") }}"
                                                class="form--inline"
                                            >
                                                {{ sw_csrf('frontend.b2b.b2borderlistlineitemreference.sort') }}

                                                <input type="hidden" name="itemIdOne" value="{{ rowId }}">
                                                <input type="hidden" name="itemIdTwo" value="{{ gridState.data[key+1].id.getValue }}">
                                                <input type="hidden" name="listId" value="{{ listId }}">
                                                <input type="hidden" name="orderlist" value="{{ orderListId }}">

                                                <button
                                                    type="submit"
                                                    class="is--bottom"
                                                    {% if loop.last %} disabled{% endif %}
                                                >
                                                    {% sw_icon 'arrow-down' style { pack: 'solid' } %}
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                {% endif %}
                            {% endblock %}
                        {% endblock %}
                    </tr>

                    {% block b2b_orderlistlineitemreference_positions_grid_row_comment %}
                        <tr
                            class="is--hidden {{ b2b_acl('b2borderlistlineitemreference', 'update') }}"
                            data-display="edit-mode"
                        >
                            <td
                                colspan="6"
                                class="line-item--column-comment"
                                data-label="{{ "b2b.CommentLabel"|trans }}"
                            >
                                <form
                                    action="{{ path("frontend.b2b.b2borderlistlineitemreference.update") }}"
                                    method="post"
                                    data-ajax-panel-trigger-reload="order-list-grid"
                                >
                                    {% block b2b_orderlistlineitemreference_positions_grid_row_comment_form %}
                                        {{ sw_csrf('frontend.b2b.b2borderlistlineitemreference.update') }}

                                        <input type="hidden" name="quantity" class="quantityHidden-{{ rowId }}" value="{{ row.quantity }}">
                                        <input type="hidden" name="id" value="{{ rowId }}">
                                        <input type="hidden" name="listId" value="{{ listId }}">
                                        <input type="hidden" name="orderlist" value="{{ orderListId }}">

                                        <div class="comment--container">
                                            <textarea
                                                type="text"
                                                name="comment"
                                                class="form-control"
                                                placeholder="{{ "b2b.CommentLabel"|trans }}"
                                                autocomplete="off"
                                            >
                                                {{- row.comment -}}
                                            </textarea>
                                            <div class="comment--actions">
                                                <a
                                                    href="{{ path("frontend.b2b.b2borderlistlineitemreference.index", { orderlist: orderListId }) }}"
                                                    class="btn right b2b-danger"
                                                >
                                                    {{ "b2b.Cancel"|trans }}
                                                </a>
                                                <button
                                                    type="submit"
                                                    class="btn right b2b-highlight"
                                                >
                                                    {{ "b2b.Save"|trans }}
                                                </button>
                                            </div>
                                        </div>
                                    {% endblock %}
                                </form>
                            </td>
                        </tr>
                    {% endblock %}
                {% endblock %}

                <tr data-display="spacer-mode">
                    {#Empty row to prevent wrong color for the next row due to the open comment row #}
                </tr>
            {% endfor %}
            </tbody>
        {% endblock %}
    </table>
{% endblock %}