{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    actions: true,
    content: { padding: false }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.Positions"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}
    <button
        data-target="orderlist-tab-content"
        data-href="{{ path("frontend.b2b.b2borderlistlineitemreference.new", { orderlist: orderList.id.getValue }) }}"
        class="btn btn-outline-secondary component-action-create ajax-panel-link ajax-panel--ignore-history {{ b2b_acl('b2borderlistlineitemreference', 'new') }}"
    >
        {{ "b2b.AddLineItem"|trans }}
    </button>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% block b2b_orderlistlineitemreference_errors %}
        {% if errors %}
            <div class="modal--errors error--list">
                {%
                    sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                    with {
                        messages: { 'error': errors }
                    } only
                %}
            </div>
        {% endif %}
    {% endblock %}

    {% block b2b_orderlistlineitemreference_title %}
        <div class="b2b-order-overview">
            <div class="block-group">
                {% block b2b_orderlistlineitemreference_title_inner %}
                    <span class="item-count">
                        <strong>{{ "b2b.OrderItemQuantityPluralLabel"|trans }}:</strong><br>
                        {{ itemCount }}
                    </span>
                    <span class="value">
                        <strong>{{ "b2b.OrderAmountLabel"|trans }}:</strong><br>
                        {{ amountNet|currency }}
                    </span>
                    <span class="value">
                        <strong>{{ "b2b.WithTaxesLabel"|trans }}:</strong><br>
                        {{ amount|currency }}
                    </span>
                </div>
            {% endblock %}
        </div>
    {% endblock %}

    {% block b2b_orderlistlineitemreference_grid %}
        {% if gridState.data|length %}
            <div class="b2b-table table--responsive">
                {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderlistlineitemreference/_positions-grid.html.twig' %}
            </div>
        {% else %}
            {% block b2b_grid_message_grid_empty %}
                {%
                    sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
                    with { messages: ['info', 'b2b.EmptyOrderList'] }
                %}
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}
