{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    content: { padding: false },
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.AddLineItem"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <form
        action="{{ path("frontend.b2b.b2borderlistlineitemreference.create") }}"
        method="post"
        class="order-list--line-item-new form--inline {{ b2b_acl('b2borderlistlineitemreference', 'create') }}"
        id="form"
        data-ajax-panel-trigger-reload="order-list-grid"
        data-submit-enter
    >
        {% block b2b_orderlistlineitemreference_new %}
            {{ sw_csrf('frontend.b2b.b2borderlistlineitemreference.create') }}

            <input type="hidden" name="orderlist" value="{{ orderList.id.getValue }}">

            <div class="scrollable without--any with--padding">
                {% block b2b_orderlistlineitemreference_new_errors %}
                    {% if errors %}
                        <div class="modal--errors error--list">
                            {%
                                sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                                with {
                                    messages: { 'error': errors }
                                } only
                            %}
                        </div>
                    {% endif %}
                {% endblock %}

                {% sw_include "@SwagB2bPlatform/storefront/frontend/b2borderlistlineitemreference/_form.html.twig" %}
            </div>
        {% endblock %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions">
        {% block b2b_orderlistlineitemreference_new_modal_actions %}
            <a
                href="{{ path("frontend.b2b.b2borderlistlineitemreference.index", { orderlist: orderList.id.getValue }) }}"
                class="btn mr-1 b2b-danger"
            >
                {{ "b2b.Cancel"|trans }}
            </a>
            <button
                class="btn"
                type="submit"
                data-form-id="form"
                tabindex="0"
            >
                {{ "b2b.Save"|trans }}
            </button>
        {% endblock %}
    </div>
{% endblock %}