{% block b2b_fastorder_default_list %}
    <div class="panel--body is--wide fast-order--grid fast-order-inputs">
        {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bfastorder/grid/_grid.html.twig" %}
    </div>
{% endblock %}