{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block b2blayout_content %}
    <div class="module-fastorder">
        {% block b2b_fastorder %}
            {% block b2b_fastorder_upload %}
                <div
                    class="b2b--ajax-panel"
                    data-id="fast-order-upload"
                    data-url="{{ path('frontend.b2b.b2bfastorder.upload') }}"
                    data-plugins="ajaxPanelUpload"
                ></div>
            {% endblock %}

            {% block b2b_fastorder_grid %}
                <div
                    class="b2b--ajax-panel has--b2b-form"
                    data-id="fast-order-grid"
                    data-url="{{ path('frontend.b2b.b2bfastorder.defaultList') }}"
                    data-product-url="{{ path('frontend.b2b.b2bfastorder.getProductName') }}"
                ></div>
            {% endblock %}

            {% block b2b_fastorder_remote %}
                <div
                    class="b2b--ajax-panel has--b2b-form"
                    data-id="fast-order-remote-box"
                    data-plugins="orderList"
                    data-url="{{ path('frontend.b2b.b2bfastorderremote.remoteListFastOrder') }}"
                ></div>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
