{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block b2blayout_content %}
    <div class="module-fastorder">
        <div class="panel">
            <div class="panel--body">
                {% block b2b_fastorder %}
                    <div
                        class="b2b--ajax-panel"
                        data-id="fast-order-upload"
                        data-url="{{ path('frontend.b2b.b2bfastorder.upload') }}"
                        data-plugins="ajaxPanelUpload"
                    ></div>

                    <div
                        class="b2b--ajax-panel has--b2b-form"
                        data-id="fast-order-grid"
                        data-url="{{ path('frontend.b2b.b2bfastorder.defaultList') }}"
                        data-plugins="ajaxPanelProductSearch"
                        data-product-url="{{ path('frontend.b2b.b2bfastorder.getProductName') }}"
                    ></div>

                    <div class="panel--body is--wide">
                        <div
                            class="b2b--ajax-panel has--b2b-form"
                            data-id="fast-order-remote-box"
                            data-plugins="orderList"
                            data-url="{{ path('frontend.b2b.b2bfastorderremote.remoteListFastOrder') }}"
                        ></div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}