{% block b2b_fastorderremote_upload %}
    <div class="b2b-upload">
        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bfastorder/upload/_upload-header.html.twig' %}

        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bfastorder/upload/_upload-dropzone.html.twig' %}

        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bfastorder/upload/_upload-configuration.html.twig' %}
    </div>
{% endblock %}
