{% block sw_cms_block_feldmann_image_text_gallery_preview %}
    <div class="sw-cms-preview-feldmann-image-text-gallery">
        <div class="sw-cms-preview-feldmann-image-text-gallery__left">
            <div class="sw-cms-preview-feldmann-image-text-gallery__text">
                <span>Lorem</span>
            </div>
            <div class="sw-cms-preview-feldmann-image-text-gallery__image">
                <img :src="'/administration/static/img/cms/preview_camera_small.jpg' | asset">
            </div>
        </div>

        <div class="sw-cms-preview-feldmann-image-text-gallery__center">
            <div class="sw-cms-preview-feldmann-image-text-gallery__text">
                <span>Ipsum</span>
            </div>
            <div class="sw-cms-preview-feldmann-image-text-gallery__image">
                <img :src="'/administration/static/img/cms/preview_plant_small.jpg' | asset">
            </div>
        </div>

        <div class="sw-cms-preview-feldmann-image-text-gallery__right">
            <div class="sw-cms-preview-feldmann-image-text-gallery__text">
                <span>Dolor</span>
            </div>
            <div class="sw-cms-preview-feldmann-image-text-gallery__image">
                <img :src="'/administration/static/img/cms/preview_glasses_small.jpg' | asset">
            </div>
        </div>
    </div>
{% endblock %}
