.sw-cms-preview-feldmann-image-text-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 15px;

    .sw-cms-preview-feldmann-image-text-gallery__left,
    .sw-cms-preview-feldmann-image-text-gallery__center,
    .sw-cms-preview-feldmann-image-text-gallery__right {
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
    }

    .sw-cms-preview-feldmann-image-text-gallery__image {
        height: 75px;
    }

    .sw-cms-preview-feldmann-image-text-gallery__text {
        color: #fff;
        padding: 8px;
        text-align: center;
        background-color: #005499;
    }

    img {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}
