{% block swag_customerPrice_detail %}
<sw-page class="vio-customer-price-detail">
    <template #smart-bar-actions>
        <sw-button :routerLink="{ name: 'vio.customer.price.list' }">
            {{ $tc('global.default.cancel') }}
        </sw-button>

        <sw-button-process
                :isLoading="isLoading"
                :processSuccess="processSuccess"
                variant="primary"
                @process-finish="saveFinish"
                @click="onClickSave">
            {{ $tc('global.default.save') }}
        </sw-button-process>
    </template>

    <template #content>
        <sw-card-view>
            <sw-card v-if="customerPrice" :isLoading="isLoading">
                <sw-field :label="$t('vio-customer-price.detail.quantityStartLabel')" v-model="customerPrice.quantityStart" type="number"></sw-field>
                <sw-field :label="$t('vio-customer-price.detail.quantityEndLabel')" :disabled="true" v-model="customerPrice.quantityEnd" type="number"></sw-field>
                <sw-field :label="$t('vio-customer-price.detail.priceLabel')" v-model="customerPrice.price" min="0" type="number"></sw-field>
                <sw-field :label="$t('vio-customer-price.detail.discountLabel')" v-model="customerPrice.discount" type="number"></sw-field>

                <sw-entity-single-select
                        :label="$t('vio-customer-price.detail.assignProductLabel')"
                        entity="product"
                        v-model="customerPrice.productId"
                >
                    <template #selection-label-property="{ item }">
                        {{ item.translated.name }} ({{ item.productNumber }})
                    </template>
                    <template #result-label-property="{ item }">
                        {{ item.translated.name }} ({{ item.productNumber }})
                    </template>
                </sw-entity-single-select>


                <sw-entity-single-select
                        :label="$t('vio-customer-price.detail.assignCustomerLabel')"
                        entity="customer"
                        v-model="customerPrice.customerId"
                >
                    <template #selection-label-property="{ item }">
                        {{ item.company }} {{ item.firstName }} {{ item.lastName }} ({{ item.customerNumber }})
                    </template>
                    <template #result-label-property="{ item }">
                        {{ item.company }} {{ item.firstName }} {{ item.lastName }} ({{ item.customerNumber }})
                    </template>
                </sw-entity-single-select>
            </sw-card>
        </sw-card-view>
    </template>
</sw-page>
{% endblock %}
