{% block b2b_contingentruleorderamount_form %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="timeRestriction">{{ "b2b.TimeUnit"|trans }} *</label>
            <select
                name="timeRestriction"
                class="custom-select form-control"
            >
                <option
                    value=""
                    disabled
                    selected="selected"
                >
                    {{ "b2b.TimeUnit"|trans }}
                </option>
                {% for timeUnit in timeUnits %}
                    <option
                        value="{{ timeUnit }}"
                        {% if rule.timeRestriction == timeUnit %}selected="selected"{% endif %}
                    >
                        {{ ("b2b." ~ timeUnit)|trans }}
                    </option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="value">{{ "b2b.ValueLabel"|trans }} *</label>
            <input
                class="form-control"
                type="number"
                step="any"
                min="0"
                name="value"
                value="{{ rule.value }}"
                placeholder="{{ "b2b.ValuePlaceholder"|trans }}"
            >
        </div>
    </div>
{% endblock %}
