{% block b2b_contingentrule_grid_order_quantity %}
    <td data-label="{{ "b2b.ContingentRuleLabel"|trans }}">
        <ul class="list--unstyled">
            <li>
                {% set timeRestriction = ("b2b." ~ row.timeRestriction)|trans %}
                <b>{{ ("b2b." ~ row.type ~ "Error")|trans({ '%allowedValue%': row.value, '%timeRestriction%': timeRestriction }) }}</b>
            </li>
        </ul>
    </td>
{% endblock %}