{% block b2b_contingentrule_grid_order_amount %}
    <td data-label="{{ "b2b.ContingentRuleLabel"|trans }}">
        <ul class="list--unstyled">
            <li>
                {% set timeRestriction = ("b2b." ~ row.timeRestriction)|trans %}
                <b>{{ ("b2b." ~ row.type ~ "Error")|trans({ '%timeRestriction%': timeRestriction, '%allowedValue%': row.value|currency }) }}</b>
            </li>
        </ul>
    </td>
{% endblock %}