{% block b2b_contingentrule_grid_product_number_allowance %}
    <td data-label="{{ "b2b.ContingentRestrictionsLabel"|trans }}">
        <ul class="list--unstyled">
            <li>
                {% set numbers = row.productNumbers|join(', ') %}
                <b>{{ ("b2b." ~ row.type ~ "Error")|trans({ '%allowedValue%': numbers }) }}</b>
            </li>
        </ul>
    </td>
{% endblock %}