{% block b2b_contingentrule_grid_product_order_number %}
    <td data-label="{{ "b2b.ContingentRestrictionsLabel"|trans }}">
        <ul class="list--unstyled">
            <li>
                <b>{{ ("b2b." ~ row.type ~ "Error")|trans({ '%restricted%': row.productOrderNumber }) }}</b>
            </li>
        </ul>
    </td>
{% endblock %}