{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-item.html.twig' %}
{% block component_offcanvas_product_label %}
	{{ parent() }}
    {% if lineItem.payload.cutOff != null %}
        <div class="cart-item-length">
            {% set cuts = lineItem.payload.cutOff %}
            <b>{{ "cart.lengthLabel"|trans|sw_sanitize }} : </b>
            {% for items in cuts %}
                 {{ items }}mm
                {% if not loop.last %},{% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
