{% block b2b_fastorder_upload_configuration %}
    <div class="b2b-upload__configuration b2b-accordion">
        {% block b2b_fastorder_upload_configuration_inner %}
            <div class="b2b-upload__configuration-header b2b-accordion__title">
                {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                <span>{{ "b2b.ExtendedConfiguration"|trans }}</span>
            </div>
        {% endblock %}

        <div class="b2b-upload__configuration-content b2b-accordion__body form--additional-inputs">
            {% block b2b_fastorder_upload_configuration_inner_form %}
                <label class="mb-3">
                    {{ "b2b.FileNumberColumn"|trans }}
                    <input
                        type="number"
                        value="1"
                        min="1"
                        class="form-control"
                        name="orderNumberColumn"
                    >
                </label>

                <label class="mb-3">
                    {{ "b2b.FileQuantityColumn"|trans }}
                    <input
                        type="number"
                        min="1"
                        value="2"
                        class="form-control"
                        name="quantityColumn"
                    >
                </label>

                <label class="mb-3">
                    {{ "b2b.FileDelimiterLabel"|trans }}
                    <input
                        type="text"
                        value=","
                        placeholder="{{ "b2b.FileDelimiterPlaceholder"|trans }}"
                        class="form-control"
                        name="csvDelimiter"
                    >
                </label>

                <label class="mb-3">
                    {{ "b2b.FileEnclosureLabel"|trans }}
                    <input
                        type="text"
                        placeholder="{{ "b2b.FileEnclosurePlaceholder"|trans }}"
                        class="form-control"
                        name="csvEnclosure"
                    >
                </label>

                <div class="custom-control custom-checkbox">
                    <input
                        type="checkbox"
                        class="custom-control-input"
                        id="headline"
                        name="headline"
                        checked
                    >
                    <label
                        class="custom-control-label"
                        for="headline"
                    >
                        {{ "b2b.FileHeadline"|trans }}
                    </label>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
