{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bupload/_upload-dropzone.html.twig' %}

{% block b2b_upload_action %}{{ path('frontend.b2b.b2bfastorder.processUpload') }}{% endblock %}

{% block b2b_upload_target_panel_id %}fast-order-grid{% endblock %}

{% block b2b_upload_form_attributes %}
    data-url="{{ path('frontend.b2b.b2bfastorder.processUpload') }}"
    data-csrf-token="{{ sw_csrf('frontend.b2b.b2bfastorder.processUpload', { mode: 'token' }) }}"
{% endblock %}