<div class="module-ordernumber--grid-messages">

    {% if errors is defined and errors is iterable %}
        {%
            sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
            with {
                messages: { 'error': errors }
            } only
        %}

    {% elseif message is defined and message is not null %}
        {%
            sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
            with {
                messages: { 'success': [message] }
            } only
        %}
    {% endif %}
</div>