{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table.html.twig' %}

{% set messageEmptyList = 'EmptyListOrderNumber' %}

{% block b2b_grid_table_class %}table--ordernumber{% endblock %}

{% block b2b_grid_table_head %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/grid/_grid-table-head.html.twig' %}
{% endblock %}

{% block b2b_grid_table_row %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/grid/_grid-table-row.html.twig' %}
{% endblock %}

{% block b2b_grid_table_after_rows %}
    {%
        sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/grid/_grid-table-row.html.twig'
        with { row: null }
    %}
{% endblock %}