{% block b2b_ordernumber_grid_row %}
    {% set allowUpdateOrderNumber = b2b_acl_check('b2bordernumber', 'update') %}
    {% set allowCreateOrderNumber = b2b_acl_check('b2bordernumber', 'create') %}

    <tr
        class="order-number-row"
        data-id="{{ row.id }}"
        data-class="row"
        {% if row.id %}
            {% if b2b_acl_check('b2bordernumber', 'update') %}
                data-save-url="{{ path('frontend.b2b.b2bordernumber.update') }}"
            {% endif %}
        {% else %}
            {% if b2b_acl_check('b2bordernumber', 'create') %}
                data-save-url="{{ path('frontend.b2b.b2bordernumber.create') }}"
            {% endif %}
        {% endif %}
    >
        {% block b2b_ordernumber_grid_row_inner %}
            <input
                type="hidden"
                name="custom-csrf-input"
                {% if row.id %}
                    value="{{ sw_csrf('frontend.b2b.b2bordernumber.update', { mode: 'token' }) }}"
                {% else %}
                    value="{{ sw_csrf('frontend.b2b.b2bordernumber.create', { mode: 'token' }) }}"
                {% endif %}
            />

            <td
                class="col-headline"
                data-label="{{ 'b2b.ChooseProductLabel'|trans }}"
            >
                {% if row.name %}
                    <h4 class="headline-product">{{ row.name }}</h4>
                {% else %}
                    <p class="headline-product-placeholder">{{ 'b2b.ChooseProductLabel'|trans }}</p>
                {% endif %}
            </td>

            <td data-label="{{ 'b2b.ProductNumberLabel'|trans }}">
                <div class="b2b--search-container">
                    <input
                        type="text"
                        class="form-control input-ordernumber"
                        placeholder="{{ 'b2b.ProductNumberPlaceholder'|trans }}"
                        name="productnumber"
                        autocomplete="off"
                        data-product-search="{{ path('frontend.b2b.b2bproductsearch.searchProduct') }}"
                        value="{{ row.orderNumber }}"
                        {% if row.id is empty %}
                            {% if allowCreateOrderNumber %}
                                autofocus
                            {% else %}
                                disabled
                            {% endif %}
                        {% elseif not allowUpdateOrderNumber %}
                            disabled
                        {% endif %}
                    />
                </div>
            </td>

            <td data-label="{{ 'b2b.CustomProductOrderNumberLabel'|trans }}">
                <input
                    type="text"
                    class="form-control input-customordernumber"
                    placeholder="{{ 'b2b.CustomProductOrderNumberPlaceholder'|trans }}"
                    name="customProductNumber"
                    autocomplete="off"
                    value="{{ row.customOrderNumber }}"
                    {% if row.id is empty %}
                        {% if allowCreateOrderNumber %}
                            autofocus
                        {% else %}
                            disabled
                        {% endif %}
                    {% elseif not allowUpdateOrderNumber %}
                        disabled
                    {% endif %}
                />
            </td>

            {% block b2b_ordernumber_grid_row_inner_actions %}
                {% if allowUpdateOrderNumber or allowCreateOrderNumber %}
                    <td
                        data-label="{{ 'b2b.ActionsLabel'|trans }}"
                        class="col-actions"
                    >
                        {% block b2b_ordernumber_grid_row_inner_actions_inner %}
                            <button
                                name="saveButton"
                                title="{{ 'b2b.SaveCustomOrderNumber'|trans }}"
                                type="button"
                                class="btn btn--edit is--small  {% if row.id.getValue %}{{ b2b_acl('b2bordernumber', 'update') }}{% else %}{{ b2b_acl('b2bordernumber', 'create') }}{% endif %}"
                            >
                                {% sw_icon 'save' %}
                            </button>

                            <form
                                action="{{ path('frontend.b2b.b2bordernumber.remove') }}"
                                method="post"
                                class="form--inline {{ b2b_acl('b2bordernumber', 'remove') }}"
                                data-csrf-token="{{ sw_csrf('frontend.b2b.b2bordernumber.remove', { mode: 'token' }) }}"
                                data-ajax-panel-trigger-reload="order-number-grid"
                            >
                                {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}

                                <input type="hidden" name="id" value="{{ row.id.getValue }}" />
                                <input type="hidden" name="confirmName" value="{{ row.name }}">

                                <button
                                    title="{{ 'b2b.DeleteCustomOrderNumber'|trans }}"
                                    type="submit"
                                    class="btn is--small component-action-delete b2b-danger"
                                    data-confirm="true"
                                    data-confirm-url="{{ path('frontend.b2b.b2bconfirm.remove') }}"
                                >
                                    {% sw_icon 'trash' %}
                                </button>
                            </form>
                        {% endblock %}
                    </td>
                {% endif %}
           {% endblock %}
        {% endblock %}
    </tr>
{% endblock %}