{% block b2b_ordernumber_grid_head %}
    {% set allowUpdateOrderNumber = b2b_acl_check('b2bordernumber', 'update') %}
    {% set allowCreateOrderNumber = b2b_acl_check('b2bordernumber', 'create') %}
    <tr>
        <th class="col-name">{{ 'b2b.ProductLabel'|trans }}</th>
        <th class="col-ordernumber">{{ 'b2b.ProductOrderNumberLabel'|trans }}</th>
        <th class="col-custom-ordernumber">{{ 'b2b.CustomProductOrderNumberLabel'|trans }}</th>
        {% if allowUpdateOrderNumber or allowCreateOrderNumber %}<th class="col-actions">{{ 'b2b.ActionsLabel'|trans }}</th>{% endif %}
    </tr>
{% endblock %}