{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-actions.html.twig' %}

{% block b2b_grid_sort %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bordernumber/grid/_grid-sort.html.twig' %}
{% endblock %}