{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-sort.html.twig' %}

{% block b2b_grid_col_sort %}
    <option value="id::asc"{% if gridState.sortBy == 'id::asc' %} selected="selected"{% endif %}>{{ "b2b.NewestAsc"|trans }}</option>
    <option value="id::desc"{% if gridState.sortBy == 'id::desc' %} selected="selected"{% endif %}>{{ "b2b.NewestDesc"|trans }}</option>
    <option value="ordernumber::asc"{% if gridState.sortBy == 'ordernumber::asc' %} selected="selected"{% endif %}>{{ "b2b.ProductNumberAsc"|trans }}</option>
    <option value="ordernumber::desc"{% if gridState.sortBy == 'ordernumber::desc' %} selected="selected"{% endif %}>{{ "b2b.ProductNumberDesc"|trans }}</option>
    <option value="custom_ordernumber::asc"{% if gridState.sortBy == 'custom_ordernumber::asc' %} selected="selected"{% endif %}>{{ "b2b.CustomProductOrderNumberAsc"|trans }}</option>
    <option value="custom_ordernumber::desc"{% if gridState.sortBy == 'custom_ordernumber::desc' %} selected="selected"{% endif %}>{{ "b2b.CustomProductOrderNumberDesc"|trans }}</option>
{% endblock %}