.module--offer {

  .icon {

    &.icon-search,
    &.icon-arrow-left,
    &.icon-arrow-right {
      color: $text-color-light;
    }
  }

  .component-table tr .col-actions {
    user-select: none;
  }

  tr {
    cursor: pointer;
  }
}