{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}
{% block layout_search_suggest_result_price %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}

