{% block b2b_account_avatar %}
    <div class="block block-avatar">

        {% block b2b_account_avatar_image %}
            <div class="block-avatar-image">
                {% block b2b_account_avatar_image_img %}
                    {% if not avatar %}
                        {% set avatar = "https://www.gravatar.com/avatar/9131104d1e8e5153c4212ba517b7fa19?s=400" %}
                    {% endif %}

                    <img
                        src="{{ avatar }}"
                        alt="{{ identity.firstName }} {{ identity.lastName }}"
                    />
                {% endblock %}

                {% block b2b_account_avatar_image_edit %}
                    <div class="block-avatar-edit">
                        <form
                            action="{{ path('frontend.b2b.b2baccount.processUpload') }}"
                            method="post"
                            enctype="multipart/form-data"
                        >
                            {% block b2b_account_avatar_image_edit_form %}
                                {{ sw_csrf('frontend.b2b.b2baccount.processUpload') }}

                                <label for="file-avatar">
                                    <div class="overlay--account-background"></div>
                                    <div
                                        class="overlay--account-upload is--primary"
                                        title="{{ "b2b.ChangeProfilePicture"|trans }}"
                                    >
                                       {% sw_icon 'photocamera' %}

                                        <input
                                            accept=".png, .jpg, .jpeg, .ico, .gif, .bmp"
                                            class="is--auto-submit"
                                            type="file"
                                            name="uploadedFile"
                                            id="file-avatar"
                                            data-auto-submit="true"
                                        />
                                        <div class="form--additional-inputs">
                                            <input
                                                type="hidden"
                                                name="id"
                                                value="{{ identity.id.value }}"
                                            />
                                        </div>
                                    </div>
                                </label>
                            {% endblock %}
                        </form>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

        {% block b2b_account_avatar_submenu %}
        <div class="panel panel--options has--border is--rounded">
            {% block b2b_account_avatar_submenu_header %}
                <div class="panel--title is--underline">
                    {{ "b2b.ActionsLabel"|trans }}
                </div>
            {% endblock %}
            <div class="panel--body">
                <ul class="list--options">
                    {% block b2b_account_avatar_submenu_items %}
                        {% if not isSalesRep %}
                            {% block b2b_account_avatar_submenu_items_orderlist %}
                                <li class="{{ b2b_acl('b2borderlist', 'index') }}">
                                    {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                                    <a
                                        title="{{ "b2b.OrderLists"|trans }}"
                                        href="{{ path('frontend.b2b.b2borderlist.index') }}"
                                    >
                                        {{ "b2b.OrderLists"|trans }}
                                    </a>
                                </li>
                            {% endblock %}
                        {% endif %}

                        {% block b2b_account_avatar_submenu_items_logout %}
                            <li>
                                {% sw_icon 'log-out' %}
                                <a
                                    title="{{ "b2b.Logout"|trans }}"
                                    href="{{ path('frontend.account.logout.page') }}"
                                >
                                    {{ "b2b.Logout"|trans }}
                                </a>
                            </li>
                        {% endblock %}
                    {% endblock %}
                </ul>
            </div>
        </div>
        {% endblock %}
    </div>
{% endblock %}