{% block b2b_account_avatar %}
    <div class="b2b-avatar">
        {% block b2b_account_avatar_image %}
            {% block b2b_account_avatar_image_img %}
                {% if not avatar %}
                    {% set avatar = "https://www.gravatar.com/avatar/9131104d1e8e5153c4212ba517b7fa19?s=400" %}
                {% endif %}

                <img
                    class="b2b-avatar__image"
                    src="{{ avatar }}"
                    alt="{{ identity.firstName }} {{ identity.lastName }}"
                />
            {% endblock %}

            <div class="b2b-avatar__backdrop"></div>

            {% block b2b_account_avatar_image_edit %}
                <div class="b2b-avatar__edit">
                    <form
                        action="{{ path('frontend.b2b.b2baccount.processUpload') }}"
                        method="post"
                        enctype="multipart/form-data"
                    >
                        {% block b2b_account_avatar_image_edit_form %}
                            {{ sw_csrf('frontend.b2b.b2baccount.processUpload') }}

                            <label for="file-avatar">
                                {% sw_icon 'photocamera' %}

                                <input
                                    accept=".png, .jpg, .jpeg, .ico, .gif, .bmp"
                                    class="is--auto-submit"
                                    type="file"
                                    name="uploadedFile"
                                    id="file-avatar"
                                    data-auto-submit="true"
                                />
                                <div class="form--additional-inputs">
                                    <input
                                        type="hidden"
                                        name="id"
                                        value="{{ identity.id.value }}"
                                    />
                                </div>
                            </label>
                        {% endblock %}
                    </form>
                </div>
            {% endblock %}
        {% endblock %}
    </div>

    {# @deprecated tag:v4.6.0 - will be removed without replacement #}
    {% block b2b_account_avatar_submenu %}
        {# @deprecated tag:v4.6.0 - will be removed without replacement #}
        {% block b2b_account_avatar_submenu_header %}{% endblock %}
        {# @deprecated tag:v4.6.0 - will be removed without replacement #}
        {% block b2b_account_avatar_submenu_items %}
            {# @deprecated tag:v4.6.0 - will be removed without replacement #}
            {% block b2b_account_avatar_submenu_items_orderlist %}{% endblock %}
            {# @deprecated tag:v4.6.0 - will be removed without replacement #}
            {% block b2b_account_avatar_submenu_items_logout%}{% endblock %}
        {% endblock %}
    {% endblock %}
{% endblock %}
