{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block base_header %}
    {% if isSalesRep and not isSalesRepRemoteControl %}
        <header class="header-main">
            <div class="container">
                {% sw_include '@SwagB2bPlatform/storefront/layout/header/_b2bheader-minimal.html.twig' %}
            </div>
        </header>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block base_navigation %}
    {% if isSalesRep and not isSalesRepRemoteControl %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block b2blayout_content %}
    <div class="module-account">

        {% block b2b_account_title %}
            <h2 class="mb-2">{{ "b2b.MyAccount"|trans }}</h2>
        {% endblock %}

        {%
            sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
            with { messages: changeMessage } only
        %}

        {# @deprecated tag:v4.6.0 - will be removed. Use "b2b_account" instead #}
        {% block b2b_account_panel %}
            {# @deprecated tag:v4.6.0 - will be removed. Use "b2b_account_title" instead #}
            {% block b2b_account_panel_title %}{% endblock %}
            {# @deprecated tag:v4.6.0 - will be removed without replacement #}
            {% block b2b_account_panel_content %}
                {# @deprecated tag:v4.6.0 - will be removed without replacement #}
                {% block b2b_account_panel_content_inner %}{% endblock %}
            {% endblock %}
        {% endblock %}

        {% block b2b_account %}
            <div class="row">
                {% block b2b_account_avatar %}
                    <div class="col-sm-3 mt-2 mb-4">
                        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2baccount/_avatar.html.twig' %}
                    </div>
                {% endblock %}

                {% block b2b_account_masterdata %}
                    <div class="col-sm-6">
                        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2baccount/_masterdata/_masterdata.html.twig' %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
