{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block base_header %}
    {% if isSalesRep and not isSalesRepRemoteControl %}
        <header class="header-main">
            <div class="container">
                {% sw_include '@SwagB2bPlatform/storefront/layout/header/_b2bheader-minimal.html.twig' %}
            </div>
        </header>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block base_navigation %}
    {% if isSalesRep and not isSalesRepRemoteControl %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block b2blayout_content %}

    <div class="b2b--account">

        {%
            sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
            with { messages: changeMessage } only
        %}

        {% block b2b_account_panel %}
            <div class="panel has--border is--rounded">

                {% block b2b_account_panel_title %}
                    <div class="panel--title is--underline">
                        <div class="block-group b2b--block-panel">
                            <div class="block block--title">
                                {{ "b2b.MyAccount"|trans }}
                            </div>
                        </div>
                    </div>
                {% endblock %}

                {% block b2b_account_panel_content %}
                    <div class="block-group">
                        {% block b2b_account_panel_content_inner %}
                            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2baccount/_avatar.html.twig' %}

                            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2baccount/_masterdata/_masterdata.html.twig' %}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}

    </div>
{% endblock %}