{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bupload/_upload-dropzone.html.twig' %}

{% block b2b_upload_action %}{{ path('frontend.b2b.b2bordernumber.processUpload') }}{% endblock %}

{% block b2b_upload_target_panel_id %}order-number-grid{% endblock %}

{% block b2b_upload_form_attributes %}
    data-url="{{ path('frontend.b2b.b2bordernumber.processUpload') }}"
    data-csrf-token="{{ sw_csrf('frontend.b2b.b2bordernumber.processUpload', { mode: 'token' }) }}"
{% endblock %}

{% block b2b_upload_confirmation %}
    data-confirm="true"
    data-confirm-url="{{ path("frontend.b2b.b2bconfirm.override") }}"
{% endblock %}

{% block b2b_upload_confirmation_csrf %}
    {{ sw_csrf('frontend.b2b.b2bconfirm.override') }}
{% endblock %}