{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bupload/_upload-header.html.twig' %}

{% block b2b_upload_headline %}{{ "b2b.OrderNumberFileUpload"|trans }}{% endblock %}

{% block b2b_upload_files %}CSV, XLS, XLSX{% endblock %}

