{% block b2b_ordernumber_upload_configuration %}
    <div class="panel--body is--wide csv--configuration panel--accordion">
        {% block b2b_ordernumber_upload_configuration_inner %}
            <div class="configuration--header panel--title">
                {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                <span>{{ "b2b.ExtendedConfiguration"|trans }}</span>
            </div>
        {% endblock %}

        <div class="form--additional-inputs block-group configuration--content panel--body">
            {% block b2b_ordernumber_upload_configuration_inner_form %}
                <div class="block block-order-number-column input-group">
                    <label for="orderNumberColumn">{{ "b2b.FileNumberColumn"|trans }}:</label>
                    <input
                        type="number"
                        name="orderNumberColumn"
                        id="orderNumberColumn"
                        value="1"
                        min="1"
                        class="form-control"
                    >
                </div>
                <div class="block block-custom-order-number-column input-group">
                    <label for="quantityColumn">{{ "b2b.FileCustomOrderNumberColumn"|trans }}:</label>
                    <input
                        type="number"
                        min="1"
                        name="customOrderNumberColumn"
                        id="customOrderNumberColumn"
                        value="2"
                        class="form-control"
                    >
                </div>
                <div class="block block-csv-delimiter input-group">
                    <label for="csvDelimiter">{{ "b2b.FileDelimiterLabel"|trans }}:</label>
                    <input
                        type="text"
                        id="csvDelimiter"
                        name="csvDelimiter"
                        value=","
                        placeholder="{{ "b2b.FileDelimiterPlaceholder"|trans }}"
                        class="form-control"
                    >
                </div>
                <div class="block block-csv-enclosure input-group">
                    <label for="csvEnclosure">{{ "b2b.FileEnclosureLabel"|trans }}:</label>
                    <input
                        type="text"
                        name="csvEnclosure"
                        id="csvEnclosure"
                        placeholder="{{ "b2b.FileEnclosurePlaceholder"|trans }}"
                        class="form-control"
                    >
                </div>
                <div class="additional-inputs--headline custom-control custom-checkbox">
                    <input
                        type="checkbox"
                        id="headline"
                        name="headline"
                        class="custom-control-input"
                        checked
                    >
                    <label
                        class="custom-control-label"
                        for="headline"
                    >
                        {{ "b2b.FileHeadline"|trans }}
                    </label>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}