$primary-color: $sw-color-brand-primary;
$secondary-color: $sw-color-brand-secondary;
.product-detail-slider-range{
	.product-detail-slider-container{
		.product-detail-slider-head-label{
			color: #005499;
			font-variant: inherit;
			font-weight: bolder;
		}
		.noUi-connect{
			background: $secondary-color;
		}
		.range-slider{
			.range	{
					border-radius: 0;
					height: 13px;
				.noUi-connects {
					border-radius: 0;
				}


				.noUi-handle{
					background: transparent;
    				border: none;
    				box-shadow: none;
    				&:before{
    					display: none;
    				}
    				&:after{
    					background: #005499;
    					height: 17px;
    					top: 0;
    					left: 16px;
    					width: 2px;
    				}
    				.noUi-tooltip{
    					border: 1px solid transparent;
    					font-size: 11px;
    					color: #fff;
    					font-weight: 600;
    					// for test
    					// background: url("/bundles/feldmanncutoff/assets/images/blue_balloon.svg");
    					// for development local
    					background: url("/bundles/feldmanncutoff/assets/images/blue_balloon.svg");
    					background-repeat: no-repeat;
    					background-size: 100% 100%;
    					background-position: center;
    					width: 100%;
    					height: 37px;
    					bottom: 27px;
    					padding: 5px 0px;
    				}
    				&.noUi-handle-lower{
    					.noUi-tooltip{
    						background: url("/bundles/feldmanncutoff/assets/images/blue_balloon.svg");
    						background-repeat: no-repeat;
    						background-size: 100% 100%;
    						background-position: center;
    						width: 100%;
    						height: 37px;
    					}
    				}
				}
			}
			.range-slider-btn{
				.btn{
					&:before{
					    margin-right: 10px;
					    padding: 2px 6px;
					    color: #fff;
					    border-radius: 4px;

					}
					&.range-slider-add{
					    	&:before{
					    		content: "+";
					    		background:$primary-color;
					    	}
					    }
					&.range-slider-remove{
					    	&:before{
					    		content: "-";
					    		background:$secondary-color;
					    	}
					    }
					&:focus, &.btn.focus{
						box-shadow: none;
					}
				}
                input#input-number {
                    background: #6FDA5D;
                    text-align: center;
                    color: #fff;
                    border: none;
                    border-radius: 4px;
                    width: auto;
                    max-width: 100%;
                    outline: none;
                }
			}
		}
	}
}

.product-detail-slider-range .product-detail-slider-container .range-slider .range .noUi-handle.noUi-handle-lower .noUi-tooltip,
.product-detail-slider-range .product-detail-slider-container .range-slider .range .noUi-handle.noUi-handle-upper .noUi-tooltip
{
    pointer-events: none;
    user-select: none;
}

input#input-number::-webkit-outer-spin-button,
input#input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
