{% if modalSettings is not defined %}
    {% set modalSettings = {} %}
{% endif %}

{% if modalSettings.content.padding is not defined %}
    {% set modalSettings = modalSettings|merge({content: {padding: true}}) %}
{% endif %}

{% block b2b_modal_base_content_inner_topbar %}
    <h3 class="js--modal__title">
        {% block b2b_modal_base_content_inner_topbar_headline %}{% endblock %}
    </h3>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable %}
    <div class="js--modal__content
            {% if not modalSettings.actions %} without--actions{% endif %}
            {% if not modalSettings.bottom %} without--bottom{% endif %}
            {% if modalSettings.content.padding %} with--padding{% endif %}">

        {% if modalSettings.actions %}
            {% block b2b_modal_base_content_inner_scrollable_inner_actions %}
                <div class="inner--actions">
                    {% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}{% endblock %}
                </div>
            {% endblock %}
        {% endif %}

        {% block b2b_modal_base_content_inner_scrollable_inner_content %}
            <div class="inner--content">
                {% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}{% endblock %}
            </div>
        {% endblock %}

        {% if modalSettings.bottom %}
            {% block b2b_modal_base_content_inner_scrollable_inner_bottom %}
                <div class="inner--bottom">
                    {% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}{% endblock %}
                </div>
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
