{% block b2b_modal_base %}

    {% if modalSettings is not defined %}
        {% set modalSettings = {} %}
    {% endif %}

    {% if modalSettings.navigation is not defined %}
        {% set modalSettings = modalSettings|merge({'navigation': true}) %}
    {% endif %}

    <div class="b2b--modal{% if not modalSettings.navigation %} no--navigation{% endif %}">

        <div class="b2b--modal-navigation-background"></div>

        {% block b2b_modal_base_navigation %}
            {% if modalSettings.navigation %}
                <div class="block-navigation modal--tabs">
                    <ul>
                        <li class="tab--header">
                            {% block b2b_modal_base_navigation_header %}{% endblock %}
                        </li>

                        {% block b2b_modal_base_navigation_entries %}{% endblock %}
                    </ul>
                </div>
            {% endif %}
        {% endblock %}

        {% block b2b_modal_base_content %}
            <div class="block-content{% if modalSettings.navigation %} has--navigation{% endif %}">
                {% block b2b_modal_base_content_inner %}{% endblock %}
            </div>
        {% endblock %}

    </div>

{% endblock %}