{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal.html.twig' %}

{% block b2b_modal_base_navigation_header %}
    {{ "b2b.EditOrder"|trans }}
{% endblock %}

{% block b2b_modal_base_navigation_entries %}
    <li class="{{ b2b_acl('b2borderlineitemreference', 'masterData') }}">
        <a
            class="b2b--tab-link tab--active"
            data-target="order-tab-content"
            data-href="{{ path('frontend.b2b.b2borderlineitemreference.masterData') }}?orderContextId={{ orderContext.id.getValue }}"
            title="{{ "b2b.MasterDataLabel"|trans }}"
        >
            {{ "b2b.MasterDataLabel"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2borderlineitemreference', 'list') }}">
        <a
            class="b2b--tab-link active"
            data-target="order-tab-content"
            data-href="{{ path('frontend.b2b.b2borderlineitemreference.list') }}?orderContextId={{ orderContext.id.getValue }}"
            title="{{ "b2b.Positions"|trans }}"
        >
            {{ "b2b.Positions"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2border', 'log') }}">
        <a
            class="b2b--tab-link"
            data-target="order-tab-content"
            data-href="{{ path('frontend.b2b.b2border.log') }}?orderContextId={{ orderContext.id.getValue }}"
            title="{{ "b2b.History"|trans }}"
        >
            {{ "b2b.History"|trans }}
        </a>
    </li>
{% endblock %}

{% block b2b_modal_base_content_inner %}
    <div class="b2b--ajax-panel has--b2b-form"
         data-id="order-tab-content"
         data-url="{{ path('frontend.b2b.b2borderlineitemreference.masterData') }}?orderContextId={{ orderContext.id.getValue }}"
         data-plugins="formInputHolder,gridComponent"></div>
{% endblock %}