{% set url = path('frontend.b2b.b2border.grid') %}

{% set gridState = orderGrid %}

{% if gridState.sortBy is same as(null) %}
    {% set gridState = gridState|merge({ sortBy: 'created_at::desc' }) %}
{% endif %}

{% block b2b_order_grid %}
    <div class="b2b--grid-container">
        {% block b2b_grid_form %}
            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2border/grid/_grid-form.html.twig' %}
        {% endblock %}

        {% block b2b_grid_table %}
            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2border/grid/_grid-table.html.twig' with { messageEmptyList: 'NoResults' } %}
        {% endblock %}
    </div>
{% endblock %}