{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block b2blayout_content %}
    <div class="module-order">
        {% block b2b_order_order %}
            <div class="b2b-accordion b2b-accordion--open">
                <div class="b2b-accordion__title">
                    {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                    <span>{{ "b2b.Orders"|trans }}</span>
                </div>
                <div class="b2b-accordion__body">
                    <div
                        class="b2b--ajax-panel has--b2b-form"
                        data-id="order-grid"
                        data-url="{{ path('frontend.b2b.b2border.grid') }}"
                        data-plugins="gridComponent"
                    ></div>
                </div>
            </div>
        {% endblock %}

        {% block b2b_order_orderlist %}
            <div class="b2b-accordion b2b-accordion--open">
                <div class="b2b-accordion__title">
                    {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                    <span>{{ "b2b.OrderClearances"|trans }}</span>
                </div>
                <div class="b2b-accordion__body">
                    {% if b2b_acl_check('b2borderclearance', 'grid') %}
                        <div
                            class="b2b--ajax-panel has--b2b-form"
                            data-id="order-clearance-grid"
                            data-url="{{ path('frontend.b2b.b2borderclearance.grid') }}"
                            data-plugins="gridComponent"
                        ></div>
                    {% endif %}
                </div>
            </div>
        {% endblock %}

        {% block b2b_order_modal_order_detail %}
            <div
                class="b2b--ajax-panel b2b-modal-panel"
                data-id="order-detail"
            ></div>
        {% endblock %}

        {% block b2b_order_modal_orderlist_detail %}
            <div
                class="b2b--ajax-panel b2b-modal-panel"
                data-id="orderlist-detail"
            ></div>
        {% endblock %}
    </div>
{% endblock %}
