{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block b2blayout_content %}
    <div class="module--order">
        <div class="panel--accordion-container">
            {% block b2b_order_order %}
                <div class="panel panel--accordion panel--accordion-open panel--accordion-mobile-closed">
                    <div class="panel--title is--underline">
                        <div class="block-group b2b--block-panel">
                            {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                            <div class="block block--title">
                                <h3>{{ "b2b.Orders"|trans }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel--body">
                        <div
                            class="b2b--ajax-panel has--b2b-form"
                            data-id="order-grid"
                            data-url="{{ path('frontend.b2b.b2border.grid') }}"
                            data-plugins="gridComponent"
                        ></div>
                    </div>
                </div>
            {% endblock %}

            {% block b2b_order_orderlist %}
                <div class="panel panel--accordion panel--accordion-open">
                    <div class="panel--title is--underline">
                        <div class="block-group b2b--block-panel">
                            {% sw_icon 'arrow-right' style { pack: 'solid' } %}
                            <div class="block block--title">
                                <h3>{{ "b2b.OrderClearances"|trans }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel--body">
                        {% if b2b_acl_check('b2borderclearance', 'grid') %}
                            <div
                                class="b2b--ajax-panel has--b2b-form"
                                data-id="order-clearance-grid"
                                data-url="{{ path('frontend.b2b.b2borderclearance.grid') }}"
                                data-plugins="gridComponent"
                            ></div>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block b2b_order_modal_order_detail %}
            <div
                class="b2b--ajax-panel b2b-modal-panel"
                data-id="order-detail"
            ></div>
        {% endblock %}

        {% block b2b_order_modal_orderlist_detail %}
            <div
                class="b2b--ajax-panel b2b-modal-panel"
                data-id="orderlist-detail"
            ></div>
        {% endblock %}
    </div>
{% endblock %}