{% sw_extends '@Storefront/storefront/layout/meta.html.twig' %}

{% block layout_head_title_inner %}
    {% if name %}
        {{ ("b2b." ~ name ~ "MetaTitle")|trans }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}