{% sw_extends '@SwagB2bPlatform/storefront/layout/_base.html.twig' %}

{% if isSalesRep %}
    {%
        set nav_items = [{
            name: 'ClientOverview',
            route: 'b2bsalesrepresentative'
        }]
    %}
{% else %}
    {%
        set nav_items = [{
            name: 'Dashboard',
            route: 'b2bdashboard'
        }, {
            name: 'Company',
            route: 'b2bcompany'
        }, {
            name: 'Statistic',
            route: 'b2bstatistic'
        }, {
            name: 'Orders',
            route: 'b2border'
        },{
            name: 'OrderList',
            route: 'b2borderlist'
        }, {
            name: 'FastOrder',
            route: 'b2bfastorder'
        },  {
            name: 'OrderNumber',
            route: 'b2bordernumber'
        }, {
            name: 'Account',
            route: 'b2baccount',
            hidden: true
        }]
    %}
{% endif %}

{%
    set user = {
        firstName: context.customer.firstName,
        lastName: context.customer.lastName
    }
%}

{% block base_head %}
    {% for item in nav_items %}
        {% if 'frontend.b2b.' ~ item.route ~ '.index' == activeRoute %}
            {%
                sw_include'@SwagB2bPlatform/storefront/layout/_b2btitle.html.twig'
                with { name: item.name } only
            %}
        {% endif %}
    {% endfor %}
    {{ parent() }}
{% endblock %}

{% block base_main %}
    {%
        sw_include '@SwagB2bPlatform/storefront/_partials/_b2bnavigation/_navigation.html.twig'
        with { navigation: nav_items, user: user } only
    %}

    {{ parent() }}
{% endblock %}

{% block base_content %}
    {% spaceless %}
        {% if b2b_acl_check(controllerName, controllerAction) %}
            <div class="b2b--plugin">
                {% block b2blayout_content %}{% endblock %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}