{% sw_extends '@Storefront/storefront/layout/meta.html.twig' %}

{% block layout_head_meta_tags %}
    {{ parent() }}

    {% block b2b_layout_head_meta_tags %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% endblock %}
{% endblock %}
