{% block b2b_budget_form %}
    {% block b2b_budget_form_errors %}
        {% if errors %}
            <div class="modal--errors error--list">
                {%
                    sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig'
                    with {
                        messages: { 'error': errors }
                    } only
                %}
            </div>
        {% endif %}
    {% endblock %}

    {% block b2b_budget_form_inputs %}
        <div class="b2b--form-row">
            <div class="block-group b2b--form">
                <div class="block box--label">
                    {{ 'b2b.IdentifierLabel'|trans }}: *
                </div>
                <div class="block box--input">
                    <input
                        class="form-control"
                        type="text"
                        name="identifier"
                        value="{{ budget.identifier }}"
                        placeholder="{{ 'b2b.IdentifierPlaceholder'|trans }}"
                        autofocus
                    >
                </div>
            </div>

            <div class="block-group b2b--form">
                <div class="block box--label">
                    {{ 'b2b.NameLabel'|trans }}: *
                </div>
                <div class="block box--input">
                    <input
                        class="form-control"
                        type="text"
                        name="name"
                        value="{{ budget.name }}"
                        placeholder="{{ 'b2b.NamePlaceholder'|trans }}"
                    >
                </div>
            </div>
        </div>

        <div class="b2b--form-row">
            <div class="block-group b2b--form">
                <div class="block box--label">
                    {{ 'b2b.AmountLabel'|trans }}: *
                </div>
                <div class="block box--input">
                    <input
                        class="form-control"
                        type="number"
                        min="0"
                        step="any"
                        name="amount"
                        value="{{ budget.amount }}"
                        placeholder="{{ 'b2b.AmountPlaceholder'|trans }}"
                    >
                </div>
            </div>

            <div class="block-group b2b--form">
                <div class="block box--label">
                    {{ 'b2b.RefreshType'|trans }}:
                </div>
                <div class="block box--input">
                    <div class="select-field">
                        <select
                            name="refreshType"
                            class="custom-select"
                        >
                            <option
                                {% if budget.refreshType is same as('none') %}selected{% endif %}
                                value="none"
                            >
                                {{ 'b2b.BudgetOptionNever'|trans }}
                            </option>
                            <option
                                {% if budget.refreshType is same as('yearly') %}selected{% endif %}
                                value="yearly"
                            >
                                {{ 'b2b.BudgetOptionYearly'|trans }}
                            </option>
                            <option
                                {% if budget.refreshType is same as('biannual') %}selected{% endif %}
                                value="biannual"
                            >
                                {{ 'b2b.BudgetOptionBiannual'|trans }}
                            </option>
                            <option
                                {% if budget.refreshType is same as('quarterly') %}selected{% endif %}
                                value="quarterly"
                            >
                                {{ 'b2b.BudgetOptionQuarterly'|trans }}
                            </option>
                            <option
                                {% if budget.refreshType is same as('monthly') %}selected{% endif %}
                                value="monthly"
                            >
                                {{ 'b2b.BudgetOptionMonthly'|trans }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="b2b--form-row">
            <div class="block-group b2b--form">
                <div class="block box--label">
                    {{ 'b2b.FiscalYearLabel'|trans }}:
                </div>
                <div class="block box--input">
                    <input
                        class="datepicker"
                        data-datepicker="true"
                        name="fiscalYear"
                        type="text"
                        data-defaultDate="{% if budget.fiscalYear %}{{ budget.fiscalYear }}{% else %}{{ 'now'|date('Y-m-d') }}{% endif %}"
                    />
                </div>
            </div>

            <div class="block-group b2b--form">
                <div class="block box--label">
                    {{ 'b2b.ResponsibleContactLabel'|trans }}:
                </div>
                <div class="block box--input">
                    <div class="select-field">
                        <select
                            name="ownerId"
                            class="custom-select"
                            disabled="{{ b2b_acl_check('b2bcontactbudget', 'assign') }}"
                        >
                            <optgroup label="{{ 'b2b.OptionNoneLabel'|trans }}">
                                <option value="">{{ 'b2b.OptionNonePlaceholder'|trans }}</option>
                            </optgroup>
                            <optgroup label="{{ 'b2b.DebtorLabel'|trans }}">
                                <option
                                    {% if budget.ownerId.getValue == debtorAuthId.getValue %}selected{% endif %}
                                    value="{{ debtorAuthId }}"
                                >
                                    {{ debtor.lastName }}, {{ debtor.firstName }} ({{ debtor.email }})
                                </option>
                            </optgroup>
                            <optgroup label="{{ 'b2b.ContactsLabel'|trans }}">
                                {% for contact in contacts %}
                                    <option
                                        {% if budget.ownerId.getValue == contact.authId.getValue %}selected{% endif %}
                                        value="{{ contact.authId }}"
                                    >
                                        {{ contact.lastName }}, {{ contact.firstName }} ({{ contact.email }})
                                    </option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="b2b--form-row">
            <div class="block-group b2b--form">
                <div class="block custom-control custom-checkbox">
                    <input
                        type="checkbox"
                        class="custom-control-input"
                        name="notifyAuthor"
                        id="notifyAuthor"
                        value="1"
                        {% if budget.notifyAuthor %}checked="checked"{% endif %}
                    >
                    <label
                        for="notifyAuthor"
                        class="custom-control-label"
                    >
                        {{ 'b2b.NotifyAuthor'|trans }}
                    </label>
                </div>
            </div>

            <div class="block-group b2b--form">
                <div class="block box--label">
                    {{ 'b2b.NotifyAuthorPercentageLabel'|trans }}:
                </div>
                <div class="block box--input">
                    <input
                        class="form-control"
                        type="number"
                        name="notifyAuthorPercentage"
                        value="{% if budget.notifyAuthorPercentage %}{{ budget.notifyAuthorPercentage }}{% else %}{{ 'b2b.NotifyAuthorDefaultPercentage'|trans }}{% endif %}"
                    >
                </div>
            </div>
        </div>

        <div class="block-group b2b--form">
            <div class="block custom-control custom-checkbox">
                <input
                    type="checkbox"
                    class="custom-control-input"
                    name="active"
                    id="active"
                    value="1"
                    {% if budget.active or isNew %}checked="checked"{% endif %}
                >
                <label
                    for="active"
                    class="custom-control-label"
                >
                    {{ 'b2b.ActiveLabel'|trans }}
                </label>
            </div>
        </div>
    {% endblock %}
{% endblock %}
