{% set url =  path(app.request.attributes.get('_route'))  %}

<div class="b2b--grid-container">
    {% block b2b_grid_form %}
        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bbudget/grid/_grid-form.html.twig' %}
    {% endblock %}

    {% block b2b_grid_table %}
        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bbudget/grid/_grid-table.html.twig' %}
    {% endblock %}
</div>
