{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal.html.twig' %}

{% set modalSettings = {
    navigation: false
} %}

{% block b2b_modal_base_content_inner %}
    {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bbudget/edit.html.twig" %}
{% endblock %}
