{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    navigation: false,
    actions: false,
    bottom: true,
    content: {
        padding: true
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ 'b2b.EditBudget'|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <form
        action="{{ path('frontend.b2b.b2bbudget.update') }}"
        method="post"
        class="form--inline has--b2b-form {{ b2b_acl('b2bbudget', 'update') }}"
        id="form"
        data-ajax-panel-trigger-reload="budget-grid,company-tab-panel"
        data-submit-enter
    >
        {{ sw_csrf('frontend.b2b.b2bbudget.update') }}

        <input
            type="hidden"
            name="id"
            value="{{ budget.id.getValue }}"
        >

        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bbudget/_form.html.twig' %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions text-right">
        <button
            class="btn btn-primary {{ b2b_acl('b2bbudget', 'update') }}"
            type="submit"
            tabindex="8"
            data-form-id="form"
        >
            {{ 'b2b.Save'|trans }}
        </button>
    </div>
{% endblock %}
