{% block b2b_budget %}
    <div class="panel is--rounded">
        {% block b2b_budget_title %}
            <div class="panel--title is--underline">
                <div class="block-group b2b--block-panel">
                    <div class="block block--title">
                        <h3>{{ "b2b.BudgetManagement"|trans }}</h3>
                    </div>

                    {% block b2b_budget_title_new %}
                        {% if companyFilter.level %}
                            <div class="block block--actions">
                                <button
                                    type="button"
                                    class="btn component-action-create ajax-panel-link {{ b2b_acl('b2bbudget', 'new') }}"
                                    data-target="budget-detail"
                                    data-href="{{ path('frontend.b2b.b2bbudget.new', {'grantContext': grantContext}) }}"
                                >
                                    {{ "b2b.CreateBudget"|trans }}
                                </button>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block b2b_budget_content %}
            <div class="panel--body is--wide b2b--grid-container">
                {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bbudget/_grid.html.twig" with {'gridState': budgetGrid} %}
            </div>
        {% endblock %}
    </div>

    {% block b2b_budget_modal %}
        <div class="b2b--ajax-panel b2b-modal-panel has--b2b-form" data-id="budget-detail"></div>
    {% endblock %}
{% endblock %}