{% block b2b_budget %}
    {% block b2b_budget_title %}
        <h3>{{ "b2b.BudgetManagement"|trans }}</h3>

        {% block b2b_budget_title_new %}
            {% if companyFilter.level %}
                <button
                    type="button"
                    class="btn btn-secondary mb-4 component-action-create ajax-panel-link {{ b2b_acl('b2bbudget', 'new') }}"
                    data-target="budget-detail"
                    data-href="{{ path('frontend.b2b.b2bbudget.new', {'grantContext': grantContext}) }}"
                >
                    {{ "b2b.CreateBudget"|trans }}
                </button>
            {% endif %}
        {% endblock %}
    {% endblock %}

    {% block b2b_budget_content %}
        {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bbudget/_grid.html.twig" with {'gridState': budgetGrid} %}
    {% endblock %}

    {% block b2b_budget_modal %}
        <div class="b2b--ajax-panel b2b-modal-panel has--b2b-form" data-id="budget-detail"></div>
    {% endblock %}
{% endblock %}
