{% block b2b_orderlist_form_errors %}
    {% if errors %}
        <div class="modal--errors error--list">
            {%
                sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                with {
                messages: { 'error': errors }
            } only
            %}
        </div>
    {% endif %}
{% endblock %}

{% set allowUpdateOrderList = b2b_acl_check('b2borderlist', 'update') %}

{% block b2b_orderlist_form_input %}
    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.OrderListNameLabel"|trans }}: *
        </div>
        <div class="block box--input">
            <input
                type="text"
                name="name"
                class="form-control"
                autofocus
                value="{{ orderList.name }}"
                placeholder="{{ "b2b.OrderListNamePlaceholder"|trans }}"
                {% if not allowUpdateOrderList %}disabled{% endif %}
            />
        </div>
    </div>
{% endblock %}

{% block b2b_orderlist_form_select %}
    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.Budget"|trans }}:
        </div>
        <div class="block box--input">
            <div class="select-field">
                <select
                    name="budgetId"
                    class="custom-select"
                    {% if not allowUpdateOrderList %}disabled{% endif %}
                >
                    {% block b2b_orderlist_form_select_options %}
                        <option value="">{{ "b2b.BudgetSelectNone"|trans }}</option>
                        {% for budget in budgets %}
                            <option
                                value="{{ budget.id.getValue }}"
                                {% if budget.id.getValue == orderList.budgetId.getValue %}selected{% endif %}
                            >
                                {{ budget.name }}
                            </option>
                        {% endfor %}
                    {% endblock %}
                </select>
            </div>
        </div>
    </div>
{% endblock %}