{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.OrderListCreate"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderlist/_form.html.twig' %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions">
        <button
            class="btn"
            type="submit"
            tabindex="0"
        >
            {{ "b2b.Save"|trans }}
        </button>
    </div>
{% endblock %}