{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal.html.twig' %}

{% block b2b_modal_base_navigation_header %}
    {{ "b2b.OrderListEdit"|trans }}
{% endblock %}

{% block b2b_modal_base_navigation_entries %}
    <li class="{{ b2b_acl("b2borderlist", "edit") }}">
        <a
            class="b2b--tab-link tab--active"
            data-target="orderlist-tab-content"
            data-href="{{ path("frontend.b2b.b2borderlist.edit", { orderlist: orderList.id.getValue }) }}"
        >
            {{ "b2b.MasterDataLabel"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl("b2borderlistlineitemreference", "index") }}">
        <a
            class="b2b--tab-link"
            data-target="orderlist-tab-content"
            data-href="{{ path("frontend.b2b.b2borderlistlineitemreference.index", { orderlist: orderList.id.getValue }) }}"
            data-plugins="gridComponent"
        >
            {{ "b2b.Positions"|trans }}
        </a>
    </li>
{% endblock %}

{% block b2b_modal_base_content_inner %}
    <div
        class="b2b--ajax-panel has--b2b-form"
        data-id="orderlist-tab-content"
        data-url="{{ path("frontend.b2b.b2borderlist.edit", { orderlist: orderList.id.getValue }) }}"
        data-plugins="gridComponent,formInputHolder"
        data-ajax-panel-trigger-reload="order-list-grid"
    ></div>
{% endblock %}