{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ 'b2b.MasterDataLabel'|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% set allowUpdateOrderList = b2b_acl_check('b2borderlist', 'update') %}
    {% block b2b_orderlist_edit_form %}
        <form
            action="{{ path('frontend.b2b.b2borderlist.update') }}"
            method="post"
            id="form"
            data-ajax-panel-trigger-reload="order-list-grid"
        >
            {% block b2b_orderlist_edit_form_inner %}
                {{ sw_csrf('frontend.b2b.b2borderlist.update') }}

                <input
                    type="hidden"
                    name="orderlist"
                    value="{{ orderList.id.getValue }}"
                >

                {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderlist/_form.html.twig' %}
            {% endblock %}
        </form>
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions {{ b2b_acl('b2borderlist', 'update') }}">
        <div
            class="btn"
            type="submit"
            data-form-id="form"
            tabindex="0"
        >
            {{ 'b2b.Save'|trans }}
        </div>
    </div>
{% endblock %}
