{% set url = path('frontend.b2b.b2borderlist.grid') %}

{% block b2b_orderlist_grid %}
    <div class="b2b--grid-container">
        {% block b2b_grid_form %}
            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderlist/grid/_grid-form.html.twig' %}
        {% endblock %}

        {% block b2b_grid_table %}
            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderlist/grid/_grid-table.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}