{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block b2blayout_content %}
    <div class="module-orderlist">

        {# @deprecated tag:v4.6.0 - will be removed. Use "b2b_orderlist" instead #}
        {% block b2b_orderlist_panel %}
            {# @deprecated tag:v4.6.0 - will be removed. Use "b2b_orderlist_title" instead #}
            {% block b2b_orderlist_panel_title %}{% endblock %}
            {# @deprecated tag:v4.6.0 - will be removed. Use "b2b_orderlist_actions" instead #}
            {% block b2b_orderlist_panel_actions %}{% endblock %}
            {# @deprecated tag:v4.6.0 - will be removed. Use "b2b_orderlist_body" instead #}
            {% block b2b_orderlist_panel_body %}{% endblock %}
        {% endblock %}

        {% block b2b_orderlist %}
            {% block b2b_orderlist_title %}
                <h2>
                    {{ "b2b.OrderList"|trans }}
                </div>
            {% endblock %}

            {% block b2b_orderlist_actions %}
                {% if b2b_acl_check('b2borderlist', 'new') %}
                    <div class="mb-4">
                        <button
                            type="button"
                            class="btn btn-secondary component-action-create ajax-panel-link link-modal--small {{ b2b_acl('b2borderlist', 'new') }}"
                            data-href="{{ path("frontend.b2b.b2borderlist.new") }}"
                            data-target="order-list-detail"
                        >
                            {{ "b2b.OrderListCreate"|trans }}
                        </button>
                    </div>
                {% endif %}
            {% endblock %}

            {% block b2b_orderlist_body %}
                <div class="panel--body">
                    <div
                        class="b2b--ajax-panel has--b2b-form"
                        data-id="order-list-grid"
                        data-url="{{ path('frontend.b2b.b2borderlist.grid') }}"
                        data-plugins="gridComponent,orderList"
                    ></div>

                    <div
                        class="b2b--ajax-panel b2b-modal-panel"
                        data-id="order-list-detail"
                    ></div>
                </div>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}
