{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block b2blayout_content %}
    <div class="module--orderlist">
        <div class="panel">
            {% block b2b_orderlist_panel %}
                <div class="panel--title is--underline">
                    {% block b2b_orderlist_panel_title %}
                        <div class="block--title">
                            {{ "b2b.OrderList"|trans }}
                        </div>
                    {% endblock %}

                    {% block b2b_orderlist_panel_actions %}
                        {% if b2b_acl_check('b2borderlist', 'new') %}
                            <div class="block block--actions">
                                <button
                                    type="button"
                                    class="btn component-action-create b2b-highlight ajax-panel-link link-modal--small {{ b2b_acl('b2borderlist', 'new') }}"
                                    data-href="{{ path("frontend.b2b.b2borderlist.new") }}"
                                    data-target="order-list-detail"
                                >
                                    {{ "b2b.OrderListCreate"|trans }}
                                </button>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>

                {% block b2b_orderlist_panel_body %}
                    <div class="panel--body">
                        <div
                            class="b2b--ajax-panel has--b2b-form"
                            data-id="order-list-grid"
                            data-url="{{ path('frontend.b2b.b2borderlist.grid') }}"
                            data-plugins="gridComponent,orderList"
                        ></div>

                        <div
                            class="b2b--ajax-panel b2b-modal-panel"
                            data-id="order-list-detail"
                            data-plugins="ajaxPanelProductSearch"
                        ></div>
                    </div>
                {% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}