{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal.html.twig' %}

{% set modalSettings = {
    navigation: false
} %}

{% block b2b_modal_base_content_inner %}
    <form
        action="{{ path("frontend.b2b.b2borderlist.create") }}"
        method="post"
        class="has--b2b-form b2b--ajax-panel modal--small form--inline {{ b2b_acl("b2borderlist", "create") }}"
        data-ajax-panel-trigger-reload="order-list-grid,order-list-remove-box,fast-order-remote-box"
    >
        {% block b2b_orderlist_new %}
            {{ sw_csrf('frontend.b2b.b2borderlist.create') }}

            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2borderlist/_new.html.twig' %}
        {% endblock %}
    </form>
{% endblock %}
