{% block b2b_orderlist_validate %}
    <div class="b2b--caution-modal-content p-2">
        {% block b2b_orderlist_validate_header %}
            <div class="b2b--caution-modal-header">
                <h3>{{ "b2b.OrderListContainsUnavailableProducts"|trans }}</h3>
            </div>
        {% endblock %}

        {% block b2b_orderlist_validate_body %}
            <div class="b2b--caution-modal-body">
                {% for product in unavailableReferences %}
                    {% block b2b_orderlist_validate_body_product %}
                        <p>
                            <strong>
                                {{ product.name }}
                                (
                                    {% if product.customReferenceNumber %}
                                        {{ product.customReferenceNumber }}
                                    {% else %}
                                        {{ product.referenceNumber }}
                                    {% endif %}
                                )
                            </strong>
                        </p>
                        {# todo: messages #}
            {#            {% if product.unavailableBecauseOfMinPurchase %}#}
            {#                {% set ruleSnippetKey = 'TheseProductCouldNotBeFullAddedToTheCartBecauseOfMinPurchase' %}#}
            {#                {% set ruleText = ruleSnippetKey|snippet(ruleSnippetKey:'frontend/plugins/b2b_debtor_plugin') %}#}

            {#                {% include "frontend/_includes/messages.tpl" with {'type': 'warning', 'content': ruleText, 'replace:': 'replace:', '1$s':$product->quantity': '1$s\':$product->quantity', '2$s':$product->minPurchase': '2$s\':$product->minPurchase'} %}#}
            {#            {% elseif product.unavailableBecauseOfMaxPurchase %}#}
            {#                {% set ruleSnippetKey = 'TheseProductCouldNotBeFullAddedToTheCartBecauseOfMaxPurchase' %}#}
            {#                {% set ruleText = ruleSnippetKey|snippet(ruleSnippetKey:'frontend/plugins/b2b_debtor_plugin') %}#}

            {#                {% include "frontend/_includes/messages.tpl" with {'type': 'warning', 'content': ruleText, 'replace:': 'replace:', '1$s':$product->quantity': '1$s\':$product->quantity', '2$s':$product->maxPurchase': '2$s\':$product->maxPurchase'} %}#}
            {#            {% elseif product.inStock > 0 and product.isLastStock %}#}
            {#                {% set ruleSnippetKey = 'TheseProductCouldNotBeFullAddedToTheCart' %}#}
            {#                {% set ruleText = ruleSnippetKey|snippet(ruleSnippetKey:'frontend/plugins/b2b_debtor_plugin') %}#}

            {#                {% include "frontend/_includes/messages.tpl" with {'type': 'warning', 'content': ruleText, 'replace:': 'replace:', '1$s':$product->quantity': '1$s\':$product->quantity', '2$s':$product->inStock': '2$s\':$product->inStock'} %}#}
            {#            {% else %}#}
            {#                {% set ruleSnippetKey = 'TheseProductCouldNotBeAddedToTheCart' %}#}
            {#                {% set ruleText = ruleSnippetKey|snippet(ruleSnippetKey:'frontend/plugins/b2b_debtor_plugin') %}#}

            {#                {% include "frontend/_includes/messages.tpl" with {'type': 'error', 'content': ruleText, 'replace:': 'replace:', '1$s':$product->quantity': '1$s\':$product->quantity'} %}#}
            {#            {% endif %}#}
                        <br>
                    {% endblock %}
                {% endfor %}
            </div>
        {% endblock %}

        {% block b2b_orderlist_validate_footer %}
            <div class="b2b--caution-modal-footer">
                <form
                    action="{{ "frontend.b2b.b2borderlist.produceCart" }}"
                    method="post"
                    class="form--inline orderlist--add-to-cart"
                >
                    {{ sw_csrf('frontend.b2b.b2borderlist.produceCart') }}

                    <input
                        type="hidden"
                        name="orderListId"
                        value="{{ orderListId }}"
                    >
                    <button
                        type="button"
                        class="btn is--primary b2b--confirm-action component-action-create right"
                    >
                        {{ "b2b.NeverthelessAdd"|trans }}
                    </button>
                </form>
                <button
                    type="button"
                    class="btn btn-danger b2b--cancel-action left"
                >
                    {{ "b2b.Cancel"|trans }}
                </button>
            </div>
        {% endblock %}
    </div>
{% endblock %}
