{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-address.html.twig' %}

{% block page_checkout_confirm_address_inner %}
    {{ parent() }}

    {% if b2bSuite %}
        <div
            class="b2b--ajax-panel b2b-modal-panel"
            data-id="address-select"
            data-plugins="gridComponent,autoSubmit"
        ></div>
    {%  endif %}
{%  endblock %}

{% block  page_checkout_confirm_address_billing_actions_link %}
    {% if b2bSuite %}
        <a
            title="{{ "account.overviewChangeBilling"|trans|striptags }}"
            class="btn btn-light ajax-panel-link {{ b2b_acl('b2bcontactaddress', 'list') }}"
            data-target="address-select"
            data-href="{{ path('frontend.b2b.b2baddressselect.index', {'type': 'billing', 'selectedId': billingAddress.id}) }}"
        >
            {{ "account.overviewChangeBilling"|trans|sw_sanitize }}
        </a>
    {%  else %}
        {{ parent() }}
    {%  endif %}
{% endblock %}

{% block  page_checkout_confirm_address_shipping_actions_link %}
    {% if b2bSuite %}
        <a
            data-href="{{ path('frontend.b2b.b2baddressselect.index', {'type': 'shipping', 'selectedId': shippingAddress.id}) }}"
            title="{{ "account.overviewChangeShipping"|trans|striptags }}"
            class="btn btn-light ajax-panel-link {{ b2b_acl('b2bcontactaddress', 'list') }}"
            data-target="address-select"
        >
            {{ "account.overviewChangeShipping"|trans|sw_sanitize }}
        </a>
    {%  else %}
        {{ parent() }}
    {%  endif %}
{% endblock %}
