{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% set cartDestination = page.cart.getExtension("b2b-cart-state").destination.name %}

{% block page_checkout_confirm_header %}
    {% if
        b2bSuite and
        cartDestination is same as('cleared-order') and
        b2b_acl_check('b2borderclearance', 'stopAcceptance')
    %}
        <h1 class="confirm-main-header">
            {{ "b2b.EditOrderPriorToClearance"|trans|sw_sanitize }}
        </h1>

        <form
            action="{{ path('frontend.b2b.b2borderclearance.stopAcceptance') }}"
            method="post"
            class="confirm-payment"
        >
            {{ sw_csrf('frontend.b2b.b2borderclearance.stopAcceptance') }}

            <button class="btn btn-primary btn-sm">
                {% sw_icon 'x' style { pack: 'solid' } %}
                {{ "b2b.StopAcceptance"|trans|sw_sanitize }}
            </button>
        </form>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_checkout_aside_actions  %}
    {{ parent() }}
   {#  {% if
        b2bSuite and
        cartDestination is not same as('cleared-order') and
        cartDestination is not same as('offer') and
        b2b_acl_check('b2bcreateofferthroughcart', 'createOffer')
    %}
        <div class="checkout-aside-action">
            <form
                action="{{ path('frontend.b2b.b2bcreateofferthroughcart.createOffer') }}"
                method="post"
                data-form-csrf-handler="true"
                data-form-preserver="true"
                data-csrf-token="{{ sw_csrf('frontend.b2b.b2bcreateofferthroughcart.createOffer', { mode: 'token' }) }}"
            >
                {{ sw_csrf('frontend.b2b.b2bcreateofferthroughcart.createOffer') }}

                <button
                    type="submit"
                    class="btn btn-secondary btn-block btn-lg"
                >
                    {{ "b2b.RequestAnOffer"|trans|sw_sanitize }}
                </button>
            </form>
        </div>
    {%  endif %} #}
{% endblock %}

{% block page_checkout_confirm_form_submit %}
    {% if b2bSuite %}
        {% if cartDestination is same as('cleared-order') %}
            <button
                id="confirmFormSubmit"
                type="submit"
                form="confirmOrderForm"
                class="btn btn-primary btn-block btn-lg"
            >
                {{ "b2b.OrderOrderClearance"|trans|sw_sanitize }}
            </button>
        {% elseif cartDestination is same as('order-clearance') %}
            <button
                id="confirmFormSubmit"
                type="submit"
                form="confirmOrderForm"
                class="btn btn-primary btn-block btn-lg"
            >
                {{ "b2b.RequestClearance"|trans|sw_sanitize }}
            </button>
        {% else %}
            {{  parent() }}
        {%  endif %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_checkout_confirm_errors %}
    {% block page_checkout_confirm_violations %}
        {% if b2bSuite %}
            {% sw_include '@SwagB2bPlatform/storefront/_custom/cart/b2b-cart-alerts.html.twig' with {
                cart: page.cart
            } %}
        {% endif %}
        {{ parent() }}
    {% endblock %}
{% endblock %}

{% block page_checkout_confirm_payment_shipping %}
    {{ parent() }}

    {% if b2bSuite %}
        {% block b2b_checkout_confirm_budget_select %}
            <div
                class="b2b--ajax-panel confirm-payment {{ b2b_acl('b2bbudgetselect', 'index') }}"
                data-plugins="autoSubmit"
                data-url="{{ path('frontend.b2b.b2bbudgetselect.index', { 'amount': page.cart.price.netPrice }) }}"
            ></div>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block page_checkout_confirm_product_table %}
    {{ parent() }}

    {% if b2bSuite %}
        {% block b2b_checkout_confirm_order_list %}
            {% sw_include '@SwagB2bPlatform/storefront/_custom/cart/b2b-cart-orderlist.html.twig' %}
        {% endblock %}
    {% endif %}
{% endblock %}

{% block page_checkout_additional %}
    {% if b2bSuite %}
        {% block b2b_checkout_confirm_additional %}
            {% set orderReferenceKey = constant('Shopware\\B2B\\Order\\BridgePlatform\\OrderServiceDecorator::ORDER_REFERENCE_KEY') %}
            {% set deliveryDateKey = constant('Shopware\\B2B\\Order\\BridgePlatform\\OrderServiceDecorator::REQUESTED_DELIVERY_DATE_KEY') %}
            {% set additionalDataExtensionKey = constant('Shopware\\B2B\\Order\\BridgePlatform\\AdditionalDataExtension::NAME') %}

            {% set orderReference = page.cart.getExtension(additionalDataExtensionKey).getOrderReferenceNumber() %}
            {% set deliveryDate = page.cart.getExtension(additionalDataExtensionKey).getRequestedDeliveryDate() %}

            <div class="checkout-additional">
                <div class="b2b--row b2b--order-reference">
                    <p>
                        {{ 'b2b.CustomOrderReferenceNumberHelpText'|trans }}:
                    </p>
                    <input
                        type="text"
                        class="form-control"
                        name="{{ orderReferenceKey }}"
                        form="confirmOrderForm"
                        placeholder="{{ 'b2b.OrderReferenceNumberLabel'|trans }}"
                        {% if orderReference != null %}value="{{ orderReference }}"{% endif %}
                    >
                </div>
                <br>
                <div class="b2b--row b2b--delivery-date">
                    <p>
                        {{ 'b2b.RequestedDeliveryDateHelpText'|trans }}:
                    </p>
                    <input
                        type="text"
                        class="form-control"
                        name="{{ deliveryDateKey }}"
                        form="confirmOrderForm"
                        placeholder="{{ 'b2b.RequestedDeliveryDateLabel'|trans }}"
                        {% if deliveryDate != null %}value="{{ deliveryDate }}"{% endif %}
                    >
                </div>
            </div>
        {% endblock %}
    {% endif %}
    {{ parent() }}
{% endblock %}