{% block b2b_offer_history_item_content_changed_item_price %}
    <div>
        <b class="b2b-offer-history-item__content-title">
            {{ $tc('b2b-offer.detail.history.titleChangedItemPrice') }}
        </b>
        <div>{{ item.logValue.orderNumber }} {{ item.logValue.productName }}</div>
        <div class="b2b-offer-history-item__content-row">
            <span>{{ $tc('b2b-offer.detail.history.previous') }}</span>
            <span>{{ item.logValue.oldValue }}</span>
        </div>
        <div class="b2b-offer-history-item__content-row">
            <span>{{ $tc('b2b-offer.detail.history.new') }}</span>
            <span>{{ item.logValue.newValue }}</span>
        </div>
        <div class="b2b-offer-history-item__content-clear"></div>
    </div>
{% endblock %}
