{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true,
    actions: true,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {% if type is same as('billing') %}
        {{ "b2b.BillingAddresses"|trans }}
    {% elseif type is same as('shipping') %}
        {{ "b2b.ShippingAddresses"|trans }}
    {% endif %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}
    <form
        action="{{ path('frontend.b2b.b2broleaddress.grid') }}"
        method="get"
        class="form--inline"
    >
        {% block b2b_roleaddress_actions %}
            <input type="hidden" name="roleId" value="{{ roleId }}" />
            <input type="hidden" name="type" value="{{ type }}" />

            {% block b2b_roleaddress_actions_sort %}
                <div class="action--sort">
                    <div class="select-field">
                        <select name="sort-by" class="is--auto-submit custom-select">
                            {% block b2b_roleaddress_actions_sort_options %}
                                <option value="" selected="selected">
                                    {{ "b2b.SortBy"|trans }}
                                </option>
                                <option value="company::asc"{% if gridState.sortBy is same as('company::asc') %} selected="selected"{% endif %}>{{ "b2b.CompanyAsc"|trans }}</option>
                                <option value="company::desc"{% if gridState.sortBy is same as('company::desc') %} selected="selected"{% endif %}>{{ "b2b.CompanyDesc"|trans }}</option>
                                <option value="street::asc"{% if gridState.sortBy is same as('street::asc') %} selected="selected"{% endif %}>{{ "b2b.StreetAsc"|trans }}</option>
                                <option value="street::desc"{% if gridState.sortBy is same as('street::desc') %} selected="selected"{% endif %}>{{ "b2b.StreetDesc"|trans }}</option>
                                <option value="zipcode::asc"{% if gridState.sortBy is same as('zipcode::asc') %} selected="selected"{% endif %}>{{ "b2b.ZipcodeAsc"|trans }}</option>
                                <option value="zipcode::desc"{% if gridState.sortBy is same as('zipcode::desc') %} selected="selected"{% endif %}>{{ "b2b.ZipcodeDesc"|trans }}</option>
                                <option value="city::asc"{% if gridState.sortBy is same as('city::asc') %} selected="selected"{% endif %}>{{ "b2b.CityAsc"|trans }}</option>
                                <option value="city::desc"{% if gridState.sortBy is same as('city::desc') %} selected="selected"{% endif %}>{{ "b2b.CityDesc"|trans }}</option>
                            {% endblock %}
                        </select>
                    </div>
                </div>
            {% endblock %}

            {% block b2b_roleaddress_actions_search %}
                <div class="action--search">
                    <div class="search--area">
                        <input type="hidden" name="filters[all][field-name]" value="_all_">
                        <input type="hidden" name="filters[all][type]" value="like">
                        <input type="text"
                               name="filters[all][value]"
                               value="{{ gridState.searchTerm }}"
                               class="form-control"
                               placeholder="{{ "b2b.SearchPlaceholder"|trans }}">

                        <button title="{{ "b2b.Search"|trans }}" type="submit" value="submit" class="button--submit btn is--primary is--center">
                            {% sw_icon 'search' %}
                        </button>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-message.html.twig" %}

    <div data-id="error-list"></div>

    {% block b2b_roleaddress_grid %}
        {% if addresses %}
            {% block b2b_roleaddress_grid_title %}
                <div class="panel--tr row--address-selection">
                    <div class="panel--th panel--icon">
                        <span title="{{ "b2b.GrantRight"|trans }}">{% sw_icon 'checkmark' %}</span>
                    </div>
                    <div class="panel--th panel--icon">
                        <span title="{{ "b2b.InheritRight"|trans }}">{% sw_icon 'reply' %}</span>
                    </div>
                    <div class="panel--th panel--label-company">{{ "b2b.CompanyLabel"|trans }}</div>
                    <div class="panel--th panel--label-street">{{ "b2b.StreetLabel"|trans }}</div>
                    <div class="panel--th panel--label-zipcode">{{ "b2b.ZipcodeLabel"|trans }}</div>
                    <div class="panel--th panel--label-city">{{ "b2b.CityLabel"|trans }}</div>
                </div>
            {% endblock %}

            {% block b2b_roleaddress_grid_content %}
                {% for address in addresses %}
                    {% block b2b_roleaddress_grid_content_row %}
                        <form
                            action="{{ path('frontend.b2b.b2broleaddress.assign') }}"
                            method="post"
                            class="b2b--assignment-form has--b2b-form {{ b2b_acl('b2broleaddress', 'assign') }}"
                            data-target="error-list"
                        >
                            {{ sw_csrf('frontend.b2b.b2broleaddress.assign') }}

                            <input type="hidden" name="roleId" value="{{ roleId }}" />
                            <input type="hidden" name="addressId" value="{{ address.id.getValue }}" />
                            <input type="hidden" name="type" value="{{ type }}" />

                            <div class="panel--tr row--address row--address-selection">
                                {% block b2b_roleaddress_grid_content_row_allow %}
                                    <div class="panel--td panel--icon panel--col-checkbox">
                                        <span class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   name="allow"
                                                   id="allow-{{ address.id.getValue }}"
                                                   value="1"
                                                   {% if address.foreignAllowed %}checked="checked"{% endif %}
                                                   {% if not address.ownerGrantable %}disabled{% endif %}
                                                   class="assign--allow is--auto-submit custom-control-input"
                                            />
                                            <label for="allow-{{ address.id.getValue }}" class="custom-control-label"></label>
                                        </span>
                                    </div>
                                {% endblock %}

                                {% block b2b_roleaddress_grid_content_row_grantable %}
                                    <div class="panel--td panel--icon panel--col-checkbox">
                                        <span class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   name="grantable"
                                                   id="grantable-{{ address.id.getValue }}"
                                                   value="1"
                                                   {% if address.foreignGrantable %}checked="checked"{% endif %}
                                                   {% if not address.ownerGrantable %}disabled{% endif %}
                                                   class="assign--grantable is--auto-submit custom-control-input"
                                            />
                                            <label for="grantable-{{ address.id.getValue }}" class="custom-control-label"></label>
                                        </span>
                                    </div>
                                {% endblock %}

                                {% block b2b_roleaddress_grid_content_row_info %}
                                    <div class="panel--td panel--label-company">{{ address.company }}</div>
                                    <div class="panel--td panel--label-street">{{ address.street }}</div>
                                    <div class="panel--td panel--label-zipcode">{{ address.zipcode }}</div>
                                    <div class="panel--td panel--label-city">{{ address.city }}</div>
                                {% endblock %}
                            </div>
                        </form>
                    {% endblock %}
                {% endfor %}
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    {% if gridState.data|length %}
        <form
            action="{{ path('frontend.b2b.b2broleaddress.grid') }}"
            method="get"
            class="form--inline"
        >
            {% block b2b_roleaddress_pagination %}
                <input type="hidden" name="roleId" value="{{ roleId }}" />
                <input type="hidden" name="type" value="{{ type }}" />

                {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
            {% endblock %}
        </form>
    {% endif %}
{% endblock %}
