{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true,
    actions: false,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {% if type is same as('billing') %}
        {{ "b2b.BillingAddresses"|trans }}
    {% elseif type is same as('shipping') %}
        {{ "b2b.ShippingAddresses"|trans }}
    {% endif %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-message.html.twig" %}

    <div data-id="error-list"></div>

    {% block b2b_roleaddress_grid %}
        <form
            action="{{ path('frontend.b2b.b2broleaddress.grid') }}"
            method="get"
            class="form--inline"
        >
            <div class="b2b-table__actions">
                {% block b2b_roleaddress_actions %}
                    <input type="hidden" name="roleId" value="{{ roleId }}" />
                    <input type="hidden" name="type" value="{{ type }}" />

                    {% block b2b_roleaddress_actions_sort %}
                        <div class="col-sort">
                            <div class="select-field">
                                <select name="sort-by" class="is--auto-submit custom-select">
                                    {% block b2b_roleaddress_actions_sort_options %}
                                        <option value="" selected="selected">
                                            {{ "b2b.SortBy"|trans }}
                                        </option>
                                        <option value="company::asc"{% if gridState.sortBy is same as('company::asc') %} selected="selected"{% endif %}>{{ "b2b.CompanyAsc"|trans }}</option>
                                        <option value="company::desc"{% if gridState.sortBy is same as('company::desc') %} selected="selected"{% endif %}>{{ "b2b.CompanyDesc"|trans }}</option>
                                        <option value="street::asc"{% if gridState.sortBy is same as('street::asc') %} selected="selected"{% endif %}>{{ "b2b.StreetAsc"|trans }}</option>
                                        <option value="street::desc"{% if gridState.sortBy is same as('street::desc') %} selected="selected"{% endif %}>{{ "b2b.StreetDesc"|trans }}</option>
                                        <option value="zipcode::asc"{% if gridState.sortBy is same as('zipcode::asc') %} selected="selected"{% endif %}>{{ "b2b.ZipcodeAsc"|trans }}</option>
                                        <option value="zipcode::desc"{% if gridState.sortBy is same as('zipcode::desc') %} selected="selected"{% endif %}>{{ "b2b.ZipcodeDesc"|trans }}</option>
                                        <option value="city::asc"{% if gridState.sortBy is same as('city::asc') %} selected="selected"{% endif %}>{{ "b2b.CityAsc"|trans }}</option>
                                        <option value="city::desc"{% if gridState.sortBy is same as('city::desc') %} selected="selected"{% endif %}>{{ "b2b.CityDesc"|trans }}</option>
                                    {% endblock %}
                                </select>
                            </div>
                        </div>
                    {% endblock %}

                    {% block b2b_roleaddress_actions_search %}
                        <div class="col-search">
                            <div class="search--area">
                                <input type="hidden" name="filters[all][field-name]" value="_all_">
                                <input type="hidden" name="filters[all][type]" value="like">
                                <div class="input-group">
                                    <input
                                        type="text"
                                        name="filters[all][value]"
                                        value="{{ gridState.searchTerm }}"
                                        class="form-control"
                                        placeholder="{{ "b2b.SearchPlaceholder"|trans }}"
                                    >
                                    <div class="input-group-append">
                                        <button
                                            title="{{ "b2b.Search"|trans }}"
                                            type="submit"
                                            value="submit"
                                            class="btn header-search-btn"
                                        >
                                            {% sw_icon 'search' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                {% endblock %}
            </div>
        </form>

        <div class="table--responsive b2b--management-grid">
            <table class="b2b-table table">
                {% block b2b_roleaddress_grid_title %}
                    <thead class="panel--tr row--address-selection">
                        <tr>
                            <th>
                                <span title="{{ "b2b.GrantRight"|trans }}">{% sw_icon 'checkmark' %}</span>
                                <span title="{{ "b2b.InheritRight"|trans }}">{% sw_icon 'reply' %}</span>
                            </th>
                            <th class="text-left">{{ "b2b.CompanyLabel"|trans }}</th>
                            <th class="text-left">{{ "b2b.StreetLabel"|trans }}</th>
                            <th class="text-left">{{ "b2b.ZipcodeLabel"|trans }}</th>
                            <th class="text-left">{{ "b2b.CityLabel"|trans }}</th>
                        </tr>
                    </thead>
                {% endblock %}
                {% block b2b_roleaddress_grid_content %}
                    <tbody>
                        {% for address in addresses %}
                            <tr class="panel--tr">
                                {% block b2b_roleaddress_grid_content_row %}
                                    <td>
                                        <form
                                            action="{{ path('frontend.b2b.b2broleaddress.assign') }}"
                                            method="post"
                                            class="b2b--assignment-form has--b2b-form {{ b2b_acl('b2broleaddress', 'assign') }}"
                                            data-target="error-list"
                                        >
                                            {{ sw_csrf('frontend.b2b.b2broleaddress.assign') }}

                                            <input type="hidden" name="roleId" value="{{ roleId }}" />
                                            <input type="hidden" name="addressId" value="{{ address.id.getValue }}" />
                                            <input type="hidden" name="type" value="{{ type }}" />

                                            {% block b2b_roleaddress_grid_content_row_allow %}
                                                <span class="custom-control custom-checkbox">
                                                    <input
                                                        type="checkbox"
                                                        name="allow"
                                                        id="allow-{{ address.id.getValue }}"
                                                        value="1"
                                                        {% if address.foreignAllowed %}checked="checked"{% endif %}
                                                        {% if not address.ownerGrantable %}disabled{% endif %}
                                                        class="assign--allow is--auto-submit custom-control-input"
                                                    />
                                                    <label
                                                        for="allow-{{ address.id.getValue }}"
                                                        class="custom-control-label"
                                                    ></label>
                                                </span>
                                            {% endblock %}

                                            {% block b2b_roleaddress_grid_content_row_grantable %}
                                                <span class="custom-control custom-checkbox">
                                                    <input
                                                        type="checkbox"
                                                        name="grantable"
                                                        id="grantable-{{ address.id.getValue }}"
                                                        value="1"
                                                        {% if address.foreignGrantable %}checked="checked"{% endif %}
                                                        {% if not address.ownerGrantable %}disabled{% endif %}
                                                        class="assign--grantable is--auto-submit custom-control-input"
                                                    />
                                                    <label
                                                        for="grantable-{{ address.id.getValue }}"
                                                        class="custom-control-label"
                                                    ></label>
                                                </span>
                                            {% endblock %}
                                        </form>
                                    </td>


                                    {% block b2b_roleaddress_grid_content_row_info %}
                                        <td class="panel--td panel--label-company">{{ address.company }}</td>
                                        <td class="panel--td panel--label-street">{{ address.street }}</td>
                                        <td class="panel--td panel--label-zipcode">{{ address.zipcode }}</td>
                                        <td class="panel--td panel--label-city">{{ address.city }}</td>
                                    {% endblock %}
                                {% endblock %}
                            </tr>
                        {% endfor %}
                    </tbody>
                {% endblock %}
            </table>
        </div>
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    {% if gridState.data|length %}
        <form
            action="{{ path('frontend.b2b.b2broleaddress.grid') }}"
            method="get"
            class="form--inline"
        >
            {% block b2b_roleaddress_pagination %}
                <input type="hidden" name="roleId" value="{{ roleId }}" />
                <input type="hidden" name="type" value="{{ type }}" />

                {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
            {% endblock %}
        </form>
    {% endif %}
{% endblock %}
