<div class="product-detail-action-link">
    {% set inquiryText = "detail.action.inquiry"|trans|sw_sanitize %}
    <a class="inquiry-link"
       href="{{ path('frontend.cms.page',{ id: shopware.config.core.basicInformation.contactPage }) }}"
       title="{{ inquiryText }}"
       data-toggle="modal"
       data-url="{{ path('frontend.cms.page',{ id: shopware.config.core.basicInformation.contactPage }) }}">
        {% sw_icon 'question-circle' style { 'pack': 'feldmann' } %}
        {{ inquiryText }}
    </a>
</div>
