<div class="product-detail-action-link">
    {% set shareText = "detail.action.share"|trans|sw_sanitize %}
    <a class="share-link" href="#" title="{{ shareText }}" data-share-actions="true">
        {% sw_icon 'share-square' style { 'pack': 'feldmann' } %}
        {{ shareText }}
    </a>
</div>

<div class="share-action-container d-none">
    <div class="product-detail-action-link">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ seoUrl('frontend.detail.page', { productId: page.product.id }) }}&layout=button_count&size=small&width=111&height=20&appId"
                class="share-action-facebook"
                width="80" height="20"
                scrolling="no" frameborder="0"
                allowTransparency="true"
                allow="encrypted-media">
        </iframe>
    </div>

    <div class="product-detail-action-link">
        <a href="https://twitter.com/share"
           class="twitter-share-button"
           data-lang="de"
           data-text="{{"detail.social.twitter"|trans}}"
           data-show-count="false"></a>
    </div>

    <div class="product-detail-action-link">
        <a href="mailto:?subject={{"detail.social.email.subject"|trans}}&amp;body={{"detail.social.email.body"|trans}} {{ seoUrl('frontend.detail.page', { productId: page.product.id }) }}" title="Share by Email" class="share-action-email">
            {% sw_icon 'envelope' style { 'pack': 'feldmann' } %}
            <span class="share-action-text">{{"detail.social.label.email"|trans}}</span>

        </a>
    </div>

    <div class="product-detail-action-link">
        <a href="https://api.whatsapp.com/send?text={{"detail.social.whatsapp"|trans}} {{ seoUrl('frontend.detail.page', { productId: page.product.id }) }}" target="_blank" class="share-action-whatsapp">
            {% sw_icon 'whatsapp' style { 'pack': 'feldmann' } %}
            <span class="share-action-text">{{"detail.social.label.whatsapp"|trans}}</span>
        </a>
    </div>
</div>
