{% sw_extends '@Storefront/storefront/component/address/address-editor-modal.html.twig' %}

{% block component_address_address_editor_modal_accordion_action_edit %}
    {% if context.customer.defaultShippingAddress is not same as(context.customer.defaultBillingAddress) %}
        {{ parent() }}
    {% endif %}
{% endblock %}
