{% sw_extends '@Storefront/storefront/component/address/address-form.html.twig' %}

{% block component_address_form_company %}
    {% if shopware.config.core.loginRegistration.showAccountTypeSelection %}
        {% set accounTypeRequired = true %}
    {% endif %}

    {% if shopware.config.core.loginRegistration.showAccountTypeSelection or prefix == "address" or prefix == "shippingAddress" %}
        <div class="{% if prefix == "shippingAddress" %}address-contact-type-company{% else %}js-field-toggle-contact-type-company{% endif %}">
            {% block component_address_form_company_fields %}
                <div class="form-row">
                    {% block component_address_form_company_name %}
                        <div class="form-group col-6">
                            {% if formViolations.getViolations("/company") is not empty %}
                                {% set violationPath = "/company" %}
                            {% elseif formViolations.getViolations("/#{prefix}/company") is not empty %}
                                {% set violationPath = "/#{prefix}/company" %}
                            {% endif %}

                            {% block component_address_form_company_name_label %}
                                <label class="form-label"
                                       for="{{ prefix }}company">
                                    {{ "address.companyNameLabel"|trans|sw_sanitize }}{% if prefix != "shippingAddress" and accounTypeRequired %}{{ "general.required"|trans|sw_sanitize }}{% endif %}
                                </label>
                            {% endblock %}

                            {% block component_address_form_company_name_input %}
                                <input type="text"
                                       class="form-control{% if violationPath %} is-invalid{% endif %}"
                                       id="{{ prefix }}company"
                                       placeholder="{{ "address.companyNamePlaceholder"|trans|striptags }}"
                                       name="{{ prefix }}[company]"
                                       value="{{ data.get('company') }}"
                                       {% if prefix != "shippingAddress" and accounTypeRequired %}required="required"{% endif %}>
                            {% endblock %}

                            {% block component_address_form_company_name_input_error %}
                                {% if violationPath %}
                                    {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' %}
                                {% endif %}
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block component_address_form_company_vatId %}
                        <div class="form-group col-md-6">
                            {% if formViolations.getViolations("/vatId") is not empty %}
                                {% set violationPath = "/vatId" %}
                            {% elseif formViolations.getViolations("/#{prefix}/vatId") is not empty %}
                                {% set violationPath = "/#{prefix}/vatId" %}
                            {% endif %}

                            {% block component_address_form_company_vatId_label %}
                                <label class="form-label"
                                       for="{{ prefix }}vatId">
                                    {{ "address.companyVatLabel"|trans|sw_sanitize }}
                                </label>
                            {% endblock %}

                            {% block component_address_form_company_vatId_input %}
                                <input type="text"
                                       class="form-control{% if violationPath %} is-invalid{% endif %}"
                                       id="{{ prefix }}vatId"
                                       placeholder="{{ "address.companyVatPlaceholder"|trans|striptags }}"
                                       name="{{ prefix }}[vatId]"
                                       value="{{ data.get('vatId') }}">
                            {% endblock %}

                            {% block component_address_form_company_vatId_input_error %}
                                {% if violationPath %}
                                    {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' %}
                                {% endif %}
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
