{% sw_extends '@Storefront/storefront/component/address/address-personal.html.twig' %}

{% block component_address_personal_account_type_label %}{% endblock %}

{% block component_address_personal_account_type_select %}
    <input type="hidden"
           name="{% if prefix %}{{ prefix }}[accountType]{% else %}accountType{% endif %}"
           value="{{ constant('Shopware\\Core\\Checkout\\Customer\\CustomerEntity::ACCOUNT_TYPE_BUSINESS') }}"
           required="required"
    />
{% endblock %}

{% block component_address_personal_account_type_error %}{% endblock %}
