{% sw_extends '@Storefront/storefront/layout/navigation/offcanvas/item-link.html.twig' %}

{% block layout_navigation_offcanvas_navigation_categories_list_category_item_link %}
    {% set navigationFlag = item.category.translated.customFields.custom_category_fields_navigation_flag %}
    {% set isCmsLink = (navigationFlag and navigationFlag == constant('FeldmannTheme\\Subscriber\\NavigationPageSubscriber::NAVIGATION_FLAG_IS_CMS_LINK')) %}

    <a class="navigation-offcanvas-link nav-item nav-link{% if isActive %} active{% endif %}{% if hasChildren %} js-navigation-offcanvas-link{% endif %}"
       href="{{ url }}"
        {% if hasChildren %}
            data-href="{{ path('frontend.menu.offcanvas', {'navigationId': item.category.id}) }}"
        {% endif %}
       itemprop="url"
        {% if isCmsLink %}
            data-cms-link-scroll="true"
            data-cms-link-scroll-options='{
                "isOffcanvas": true,
                "cmsSelector": "{{ name }}",
                "hasRedirect": "1",
                "redirectUrl": "{{ seoUrl('frontend.navigation.page', { navigationId: item.category.parentId }) }}"
            }'
        {% endif %}
       title="{{ name }}">
        {% block layout_navigation_offcanvas_navigation_categories_list_category_item_link_text %}
            <span itemprop="name">{{ name }}</span>
            {% if hasChildren %}
                {% block layout_navigation_offcanvas_navigation_categories_list_category_item_link_icon %}
                    <span
                        class="navigation-offcanvas-link-icon js-navigation-offcanvas-loading-icon">
                        {% sw_icon 'arrow-medium-right' style { 'pack':'solid', 'size': 'sm' } %}
                    </span>
                {% endblock %}
            {% endif %}
        {% endblock %}
    </a>
{% endblock %}
