{% sw_extends '@Storefront/storefront/page/content/index.html.twig' %}

{% block page_content %}
    {% set hasBreadcrumb = page.header.navigation.active.buildSeoBreadcrumb(context.salesChannel.navigationCategoryId) %}

    {% if hasBreadcrumb %}
        {{ parent() }}
    {% else %}
        <div class="cms-page">
            {% block page_content_blocks %}
                {% sw_include "@Storefront/storefront/page/content/detail.html.twig" with {'cmsPage': page.cmsPage} %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
