{% set config = { limit: current } %}
{% set limits = [
    24, 48
] %}

<div class="limit" data-listing-limit="true" data-listing-limit-options="{{ config|json_encode }}">
    <div class="limit input-group">
        <div class="input-group-prepend">
            <span class="input-group-text">{{ "listing.limitTitleText"|trans }}</span>
        </div>

        <select class="custom-select" aria-label="{{ 'general.limitLabel'|trans|striptags }}">
            {% if current not in limits %}
                <option value="{{ current }}" selected>{{ current }}</option>
            {% endif %}
            {% for limit in limits %}
                <option value="{{ limit }}"{% if current == limit %} selected{% endif %}>{{ limit }}</option>
            {% endfor %}
        </select>
    </div>
</div>
