{% sw_extends '@Storefront/storefront/component/privacy-notice.html.twig' %}

{% block component_privacy_notice %}
    <div class="form-row">
        <div class="form-group col-md-12">
            {% sw_include '@Storefront/storefront/element/cms-element-form/form-components/cms-element-form-privacy.html.twig' with {
                _key: 'account'
            } %}

            {% if formViolations.getViolations('/privacy') is not empty %}

                {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' with {
                    violationPath: '/privacy'
                } %}

            {% endif %}
        </div>
    </div>
{% endblock %}
