{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions_checkout %}
    {% if not coeHideCheckoutButtons %}
        {{ parent() }}
    {% endif %}
{% endblock %}