{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-item.html.twig' %}

 {% block component_offcanvas_product_total_price %}
     {% if not coeHidePrice %}
         {{ parent() }}
     {% endif %}
 {% endblock %}