{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart-summary.html.twig' %}

{% block component_offcanvas_summary_content %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}
