{% block sw_condition_value_content %}
<div class="sw-condition-line-items-in-cart-count sw-condition__condition-value">
    {% block sw_condition_line_items_cut_length_operator %}
    <sw-condition-operator-select v-bind="{ operators, condition }"
                                   :disabled="disabled">
    </sw-condition-operator-select>
    {% endblock %}

    {% block sw_condition_line_items_cut_length_count %}
        <sw-number-field
            v-model="maxlength"
            :min="0"
            :digits="20"
            size="medium"
            :disabled="disabled"
        />
    {% endblock %}
</div>
{% endblock %}
