{% block b2b_contingentrulecategory_form %}
    <div class="block-group b2b--form">
        <div class="w-100 mb-2">
            <b>{{ "b2b.CategoryLabel"|trans }} *</b>
        </div>

        <input type="hidden" name="categoryId" id="categoryId" value="{{ rule.categoryId.getValue }}">

        <div
            class="b2b--ajax-panel is--b2b-tree is--b2b-tree-container"
            data-plugins="tree"
            data-tree-connected-input-id="categoryId"
            data-url="{{ path('frontend.b2b.b2bcategoryselect.grid') }}?selectedId={{ rule.categoryId.getValue }}" data-id="contingent-rule-type-form">
        </div>
    </div>
{% endblock %}
