{% block b2b_contingentrulecategory_form %}
    <div class="block-group b2b--form">
        <div class="block box--label">
            {{ "b2b.CategoryLabel"|trans }}: *
        </div>
        <div class="block box--input">
            <input type="hidden" name="categoryId" id="categoryId" value="{{ rule.categoryId.getValue }}">
            <div
                class="b2b--ajax-panel is--b2b-tree is--b2b-tree-container"
                data-plugins="tree"
                data-tree-connected-input-id="categoryId"
                data-url="{{ path('frontend.b2b.b2bcategoryselect.grid') }}?selectedId={{ rule.categoryId.getValue }}" data-id="contingent-rule-type-form">
            </div>
        </div>
    </div>
{% endblock %}