
{% block feldmann_cutoff_price %}
<div class="product-detail-cutoff-price d-inline-block ml-1 ml-sm-4">
    <div class="product-detail-price-label cut-off-price-label font-weight-bold">{{ "product-detail.cutOffPriceLabel"|trans|sw_sanitize}}
    </div>
    <p class="product-detail-price product-cut-off">

        {% set defaultCurrency = context.salesChannel.currency.shortName %}
        {% set cutoffPrice = cutOffPrice %}
{#        {% if cutoffPrice %}#}
            {{ cutoffPrice|currency }}
{#        {% else %}#}
{#            0.00#}
{#        {% endif %}#}
    </p>
</div>
{% endblock %}
