body {
    font-family: $font-family-base;
    background-color: $feldmann-grey-light;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-base;
}

.container,
.cms-section .boxed {
    max-width: 1260px;
}

.container-main {
    padding: 0;
}
