.js--modal {

  .box--page-select {
    @include unitize-height(40);

    .btn svg {
      top: 1px;
    }

    * {
      height: 100%;
    }

    .select-field {
      line-height: 1;
    }
  }

  .b2b--component-pagination .box--page-info {
    margin: 0;
    text-align: left;

    @include unitize(line-height, 48);
  }

  .inner--actions {

    .action--sort {
      width: 50%;
      float: left;
      text-align: left;
      margin: 0;

      @include unitize-padding(0, 10, 0, 0);
    }

    .action--search {
      width: 50%;
      float: left;
      text-align: right;
      margin: 0;

      @include unitize(padding-top, 1);

      @include unitize(padding-left, 10);

      .search--area {
        position: relative;

        input[type="text"] {
          width: 100%;
        }

        button[type="submit"] {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          height: 100%;
        }
      }
    }

    &:after {
      clear: both;
    }
  }
}