.js--modal .block-content {

  .inner--bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);

    @include unitize-height($modal-footer-height);

    @include unitize-padding(10, 20, 10, 20);
  }
}