.js--modal {

  .topbar {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
    text-align: center;
    font-weight: $font-weight-light;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);

    @include unitize-padding(24, 4, 12, 12);

    h3 {
      margin-bottom: 0;
    }
  }

  .modal--close {
    background: transparent;
    padding: 0;
    text-align: center;
    position: absolute;
    cursor: pointer;
    z-index: 3;

    @include unitize-height($modal-close-height);

    @include unitize-width($modal-close-height);

    @include unitize(line-height, $modal-close-height);

    @include unitize(font-size, 20);

    @include unitize(right, 10);

    @include unitize(top, 7);
  }
}

@include minWidth("tablet") {

  .js--modal .topbar h3 {
    @include unitize(font-size, 26);
  }
}