
.js--modal {
  transition: transform .5s ease, opacity .5s ease;
  box-sizing: content-box;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: padding-box #fff;
  max-height: 100%;
  max-width: 100vw;
  z-index: $modal-zIndex;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateY(-15px);
  opacity: 0;
  box-shadow: 5px 7px 10px $modal-background;

  .b2b--ajax-panel {
    height: 100%;

    .b2b--modal {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;

      .visible-modal-xs {
        display: inline-block;
      }

      .visible-modal-sm {
        display: none;
      }

      .visible-modal-lg {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {

  .js--modal:not(.b2bConfirmModal) {
    height: 100vh !important;
    width: 100vw !important;
  }
}

@include minWidth("tablet") {

  .js--modal {
    @include border-radius-multi(2);

    .b2b--modal {

      .bottombar {
        position: absolute;
      }

      .visible-modal-xs {
        display: none;
      }

      .visible-modal-sm {
        display: inline-block;
      }
    }
  }
}

@include minWidth("desktop") {

  .js--modal {

    .b2b--modal {

      .bottombar {
        position: absolute;
      }

      .visible-modal-sm {
        display: none;
      }

      .visible-modal-lg {
        display: inline-block;
      }
    }
  }
}