.js--modal .block-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  .inner--content {
    @include unitize-padding(24, 16, 20);

    .b2b--form-row {
      width: 100%;
      display: block;

      .block-group {
        width: 100%;

        &:not(.is--hidden) {
          display: inline-block;
        }
      }
    }
  }

  > .scrollable,
  > .b2b--ajax-panel > .scrollable {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    @include unitize(top, 72);

    .inner--actions {
      background: #fff;

      @include unitize-padding(5, 20, 0);

      ~ .inner--content {
        @include unitize(top, 48);
      }
    }

    .inner--content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      overflow-y: auto;

      @include unitize(bottom, 64);

      &.without--bottom {
        bottom: 0;
      }
    }
  }
}

@include minWidth("tablet") {

  .js--modal .block-content {

    .inner--content {

      .b2b--form-row {

        .block-group {
          width: calc(50% - 8px);
        }
      }
    }

    input:not([type='checkbox']):not([type='radio']),
    select {
      width: 300px;
    }
  }
}

@include minWidth("desktop") {

  .js--modal .block-content.has--navigation {
    @include unitize(left, $modal-navigation-width);
  }
}