.js--modal {

  &.navigation--active {

    .block-navigation {
      transform: translateX(0);
    }

    .b2b--modal {

      .b2b--modal-navigation-background {
        background: rgba(0, 0, 0, .3);
        cursor: pointer;
        pointer-events: all;
      }
    }

    .b2b--modal-navigation--toggle {
      background: transparent;

      &:before {
        transform: translateY(0px) rotate(45deg)
      }

      &:after {
        transform: translateY(-2px) rotate(-45deg)
      }
    }
  }

  .b2b--modal {

    .b2b--modal-navigation-background {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: background .3s ease;
      pointer-events: none;
      z-index: 10;
    }
  }

  .block-navigation {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    transform: translateX(-100%);
    transition: transform .3s ease;
    z-index: 11;

    @include unitize-max-width(400);

    @include unitize-padding(80, 4, 12, 12);

    ul {
      list-style: none;

      .tab--header {
        text-transform: uppercase;
        font-weight: $font-weight-light;
        text-align: center;
        word-wrap: break-word;

        @include unitize(margin-bottom, 30);

        @include unitize(font-size, 20);

        @include unitize-padding(0, 8, 0, 0);
      }

      li.tab--group {
        font-weight: bold;
        color: #3e3e3e;

        @include unitize-margin(16, 0, 16, 8);
      }

      li:not(.tab--header):not(.tab--group) {
        cursor: pointer;

        @include unitize(padding-left, 20);

        @include unitize(font-size, 14);

        @include unitize(margin-bottom, 8);

        > a {
          transition: transform .3s ease, font-weight .3s ease;

          &.tab--active,
          &:hover {
            transform: translateX(3px);
            font-weight: bolder;
          }
        }
      }
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      background-color: $brand-primary;
      opacity: .75;

      @include unitize-width(3);
    }
  }

  .b2b--modal-navigation--toggle {
    position: absolute;
    background: black;
    cursor: pointer;
    z-index: 3;
    transition: background .3s ease;

    @include unitize(top, 40);

    @include unitize(left, 20);

    @include unitize-width(20);

    @include unitize-height(2);

    &:before,
    &:after {
      content: "";
      display: block;
      background: blacK;
      transition: transform .3s ease;

      @include unitize-width(20);

      @include unitize-height(2);
    }

    &:before {
      transform: translateY(-6px);
    }

    &:after {
      transform: translateY(4px);
    }

    > span {
      position: absolute;

      @include unitize(top, -16);

      @include unitize(left, -10);

      @include unitize(right, -10);

      @include unitize(bottom, -14);
    }
  }
}

@include maxWidth("tablet") {

  .js--modal {

    .block-navigation {
      padding-top: 1.6rem;
    }

    .modal--close {
      top: 1.65rem !important;
    }
  }
}

@include minWidth("desktop") {

  .js--modal .block-navigation {
    transform: none;

    @include unitize-width($modal-navigation-width);
  }

  .js--modal .b2b--modal-navigation--toggle {
    display: none;
  }
}

@media only screen and (max-width: 400px) {

  .js--modal .block-navigation {
    background: darken(#fff, 5%);

    &:after {
      display: none;
    }
  }
}