.js--modal {

  &.sizing--auto.is--fullscreen {
    height: 100% !important;
    width: 100% !important;
  }

  &.sizing--fixed {
    max-height: none !important;
    max-width: none !important;
  }

  &.sizing--content {
    position: fixed;
    bottom: auto;
    top: auto;
    height: auto;
  }

  &.no--header {

    .header {
      display: none;
    }
  }

  &.no--border-radius {
    border-radius: 0;
  }

  &.navigation--hidden {

    .b2b--modal-navigation--toggle {
      display: none !important;
    }

    .block-content {
      left: 0;
    }
  }
}