.modal--background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $modal-overlay-zIndex;
  transition: background .5s ease;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  pointer-events: none;

  &-visible {
    background: $modal-background;
    pointer-events: all;

    ~ .js--modal {
      transform: translateY(0);
      opacity: 1;
    }
  }
}