{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block component_product_box_action_inner %}
    {% if not coeHideAddToCartButtons and not coeShowAddToCartTextReplace %}
        {{ parent() }}
    {% endif %}

    {% if coeShowAddToCartTextReplace %}
        {% if coeShowAddToCartRedirect %}
            <a href="{{ coeShowAddToCartRedirect }}" class="btn btn-block btn-buy" title="{{ "coeHidePrice.cartReplacement"|trans|striptags }}" >
                {{ "coeHidePrice.cartReplacement"|trans|sw_sanitize }}
            </a>
        {% else %}
            <button class="btn btn-block btn-buy"
                    title="{{ "coeHidePrice.cartReplacement"|trans|striptags }}">
                {{ "coeHidePrice.cartReplacement"|trans|sw_sanitize }}
            </button>
        {% endif %}
    {% endif %}
{% endblock %}
