{% sw_extends '@Storefront/storefront/component/product/card/price-unit.html.twig' %}

{% block component_product_box_price_info %}
    {% if not coeHidePrice %}
        {{ parent() }}
    {% endif %}
{% endblock %}
