.sw-cms-block-feldmann-image-text-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    align-content: stretch;
    align-items: start;
    grid-gap: 40px;

    .sw-cms-el-text {
        padding: 20px;
    }

    .sw-cms-el-image {
        min-height: auto !important;

        &.is--cover {
            min-height: 215px !important;
        }
    }

    .sw-cms-block-feldmann-image-text-gallery__text {
        background-color: #005499;
    }

    .sw-cms-block-feldmann-image-text-gallery__left,
    .sw-cms-block-feldmann-image-text-gallery__center,
    .sw-cms-block-feldmann-image-text-gallery__right {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }
}
