{% block sw_cms_block_feldmann_image_text_gallery %}
    <div class="sw-cms-block-feldmann-image-text-gallery">
        <div class="sw-cms-block-feldmann-image-text-gallery__left">
            <div class="sw-cms-block-feldmann-image-text-gallery__text">
                <slot name="left-text"></slot>
            </div>
            <slot name="left-image"></slot>
        </div>

        <div class="sw-cms-block-feldmann-image-text-gallery__center">
            <div class="sw-cms-block-feldmann-image-text-gallery__text">
                <slot name="center-text"></slot>
            </div>
            <slot name="center-image"></slot>
        </div>

        <div class="sw-cms-block-feldmann-image-text-gallery__right">
            <div class="sw-cms-block-feldmann-image-text-gallery__text">
                <slot name="right-text"></slot>
            </div>
            <slot name="right-image"></slot>
        </div>
    </div>
{% endblock %}
