{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true,
    actions: true,
    content: {
        padding: false
    }
} %}

{# Title Placeholder #}
{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.ContactVisibility"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}
    <form
        action="{{ path('frontend.b2b.b2brolecontactvisibility.index') }}"
        method="get"
        class="form--inline"
    >
        {% block b2b_rolecontactvisibility_modal %}
            <input type="hidden" name="roleId" value="{{ role.id }}" />

            {% block b2b_rolecontactvisibility_modal_sort %}
                <div class="action--sort">
                    <div class="select-field">
                        <select name="sort-by" class="is--auto-submit custom-select">
                            {% block b2b_rolecontactvisibility_modal_sort_options %}
                                <option value="" selected="selected">
                                    {{ "b2b.SortBy"|trans }}
                                </option>
                                <option value="firstname::asc"{% if gridState.sortBy is same as('firstname::asc') %} selected="selected"{% endif %}>{{ "b2b.FirstNameAsc"|trans }}</option>
                                <option value="firstname::desc"{% if gridState.sortBy is same as('firstname::desc') %} selected="selected"{% endif %}>{{ "b2b.FirstNameDesc"|trans }}</option>
                                <option value="lastname::asc"{% if gridState.sortBy is same as('lastname::asc') %} selected="selected"{% endif %}>{{ "b2b.LastNameAsc"|trans }}</option>
                                <option value="lastname::desc"{% if gridState.sortBy is same as('lastname::desc') %} selected="selected"{% endif %}>{{ "b2b.LastNameDesc"|trans }}</option>
                                <option value="email::asc"{% if gridState.sortBy is same as('email::asc') %} selected="selected"{% endif %}>{{ "b2b.EmailAsc"|trans }}</option>
                                <option value="email::desc"{% if gridState.sortBy is same as('email::desc') %} selected="selected"{% endif %}>{{ "b2b.EmailDesc"|trans }}</option>
                                <option value="active::asc"{% if gridState.sortBy is same as('active::asc') %} selected="selected"{% endif %}>{{ "b2b.StateAsc"|trans }}</option>
                                <option value="active::desc"{% if gridState.sortBy is same as('active::desc') %} selected="selected"{% endif %}>{{ "b2b.StateDesc"|trans }}</option>
                            {% endblock %}
                        </select>
                    </div>
                </div>
            {% endblock %}

            {% block b2b_rolecontactvisibility_modal_search %}
                <div class="action--search">
                    <div class="search--area">
                        <input type="hidden" name="filters[all][field-name]" value="_all_">
                        <input type="hidden" name="filters[all][type]" value="like">
                        <input type="text"
                               name="filters[all][value]"
                               class="form-control"
                               value="{{ gridState.searchTerm }}"
                               placeholder="{{ "b2b.SearchPlaceholder"|trans }}">

                        <button title="{{ "b2b.Search"|trans }}" type="submit" value="submit" class="button--submit btn is--primary is--center">
                            {% sw_icon 'search' %}
                        </button>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-message.html.twig" %}

    {% block b2b_rolecontactvisibility_grid %}
        {% if contacts %}
            {% block b2b_rolecontactvisibility_grid_title %}
                <div class="panel--tr row--contact-selection">
                    <div class="panel--th panel--icon">
                        <span title="{{ "b2b.GrantRight"|trans }}">{% sw_icon 'checkmark' %}</span>
                    </div>
                    <div class="panel--th panel--icon">
                        <span title="{{ "b2b.InheritRight"|trans }}">{% sw_icon 'reply' %}</span>
                    </div>
                    <div class="panel--th panel--label-firstname">{{ "b2b.FirstNameLabel"|trans }}</div>
                    <div class="panel--th panel--label-lastname">{{ "b2b.LastNameLabel"|trans }}</div>
                    <div class="panel--th panel--label-email">{{ "b2b.EmailLabel"|trans }}</div>
                </div>
            {% endblock %}

            {% block b2b_rolecontactvisibility_grid_content %}
                {% for contact in contacts %}
                    {% block b2b_rolecontactvisibility_grid_content_row %}
                        <form
                            action="{{ path('frontend.b2b.b2brolecontactvisibility.assign') }}"
                            method="post"
                            class="b2b--assignment-form has--b2b-form {{ b2b_acl('b2brolecontactvisibility', 'assign') }}"
                        >
                            {{ sw_csrf('frontend.b2b.b2brolecontactvisibility.assign') }}

                            <input type="hidden" name="roleId" value="{{ role.id }}" />
                            <input type="hidden" name="contactId" value="{{ contact.id }}" />
                            <input type="hidden" name="email" value="{{ contact.email }}" />
                            <input type="hidden" name="type" value="{{ type }}" />

                            <div class="panel--tr row--contact-selection">
                                {% block b2b_rolecontactvisibility_grid_content_row_allow %}
                                    <div class="panel--td panel--icon">
                                        <span class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   name="allow"
                                                   id="allow-{{ contact.id.getValue }}"
                                                   value="1"
                                                   {% if contact.foreignAllowed %}checked="checked"{% endif %}
                                                {% if not contact.ownerGrantable %}disabled{% endif %}
                                                   class="assign--allow is--auto-submit custom-control-input"
                                            />
                                            <label for="allow-{{ contact.id.getValue }}" class="custom-control-label"></label>
                                        </span>
                                    </div>
                                {% endblock %}

                                {% block b2b_rolecontactvisibility_grid_content_row_grantable %}
                                    <div class="panel--td panel--icon">
                                        <span class="custom-control custom-checkbox">
                                            <input type="checkbox"
                                                   name="grantable"
                                                   id="grantable-{{ contact.id.getValue }}"
                                                   value="1"
                                                   {% if contact.foreignGrantable %}checked="checked"{% endif %}
                                                   {% if not contact.ownerGrantable %}disabled{% endif %}
                                                   class="assign--grantable is--auto-submit custom-control-input"
                                            />
                                            <label for="grantable-{{ contact.id.getValue }}" class="custom-control-label"></label>
                                        </span>
                                    </div>
                                {% endblock %}

                                {% block b2b_rolecontactvisibility_grid_content_row_info %}
                                    <div class="panel--td panel--label-firstname">{{ contact.firstName }}</div>
                                    <div class="panel--td panel--label-lastname">{{ contact.lastName }}</div>
                                    <div class="panel--td panel--label-email">{{ contact.email }}</div>
                                {% endblock %}
                            </div>
                        </form>
                    {% endblock %}
                {% endfor %}
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    {% if gridState.data|length %}
        <form
            action="{{ path('frontend.b2b.b2brolecontactvisibility.index') }}"
            method="get"
            class="form--inline"
        >
            {% block b2b_rolecontactvisibility_pagination %}
                <input type="hidden" name="roleId" value="{{ role.id }}" />

                {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
            {% endblock %}
        </form>
    {% endif %}
{% endblock %}
