{% sw_extends '@SwagB2bPlatform/storefront/frontend/b2bconfirm/index.html.twig' %}

{% block b2b_confirm_modal_header %}
    {{ "b2b.ErrorModalHeader"|trans }}
{% endblock %}

{% block b2b_confirm_modal_body %}
    {{ variables.message }}
{% endblock %}

{% block b2b_confirm_modal_footer %}
    <button type="button" class="btn btn-danger b2b--confirm-action" tabindex="0">
        {{ "b2b.ConfirmError"|trans }}
    </button>
{% endblock %}
