{% block b2b_confirm %}
    <div class="b2b--confirm-modal-content">
        <div class="b2b--confirm-modal-header">
            <h3>{% block b2b_confirm_modal_header %}{% endblock %}</h3>
        </div>
        <div class="b2b--confirm-modal-body">
            {% block b2b_confirm_modal_body %}{% endblock %}
        </div>
        <div class="b2b--confirm-modal-footer">
            {% block b2b_confirm_modal_footer %}{% endblock %}
        </div>
    </div>
{% endblock %}