{% sw_extends '@SwagB2bPlatform/storefront/frontend/b2bconfirm/index.html.twig' %}

{% block b2b_confirm_modal_header %}
    {{ "b2b.OverrideModalHeader"|trans }}
{% endblock %}

{% block b2b_confirm_modal_body %}
    {{ "b2b.OverrideModalMessage"|trans }}
{% endblock %}

{% block b2b_confirm_modal_footer %}
    <button type="button" class="btn btn-outline-secondary b2b--cancel-action" tabindex="0">
        {{ "b2b.Cancel"|trans }}
    </button>
    <button type="button" class="btn btn-danger b2b--confirm-action" tabindex="0">
        {{ "b2b.ConfirmOverride"|trans }}
    </button>
{% endblock %}
