{% sw_extends '@SwagB2bPlatform/storefront/frontend/b2bconfirm/index.html.twig' %}

{% block b2b_confirm_modal_header %}
    {{ "b2b.RemoveModalHeader"|trans }}
{% endblock %}

{% block b2b_confirm_modal_body %}
    {{ "b2b.RemoveModalMessage"|trans }}{% if confirmName %} &raquo;{{ confirmName }}&laquo;{% endif %}?
{% endblock %}

{% block b2b_confirm_modal_footer %}
    <button type="button" class="btn btn-outline-secondary b2b--cancel-action" tabindex="0">
        {{ "b2b.Cancel"|trans }}
    </button>
    <button type="button" class="btn btn-danger b2b--confirm-action" tabindex="0">
        {{ "b2b.ConfirmRemove"|trans }}
    </button>
{% endblock %}
