.b2b-accordion {
  $b2b-accordion-background: getContrast($sw-background-color, 3%);

  overflow: hidden;
  transition: height .2s ease, background 1s ease;

  &__title {
    cursor: pointer;
    transition: font-weight .2s ease, background .2s ease, color .2s ease;
    font-weight: 100;
    @include unitize(font-size, 18);
    @include unitize(padding, 20 0 20 4);

    svg {
      transition: transform .2s ease;
    }
  }

  &__body {
    transition: max-height 1s ease, background 1s ease;
    height: auto;
    max-height: 0;
    overflow: hidden;
    @include unitize(padding, 0 10);

    > :first-child {
      @include unitize(margin-top, 20);
    }

    > :last-child {
      @include unitize(margin-bottom, 20);
    }
  }

  &--open {
    .b2b-accordion__title {
      background: $b2b-accordion-background;
      font-weight: 400;

      svg {
        transform: rotate(90deg);
      }
    }

    .b2b-accordion__body {
      max-height: 9999px;
      background: $b2b-accordion-background;
    }
  }

  @include minWidth("desktop") {
    &__title {
      &:hover {
        background: $b2b-accordion-background;
      }
    }
  }
}
