.b2b--assignment-grid,
.b2b--management-grid {
  @include unitize(padding-top, 10);

  th {
    position: relative;
    text-align: center;

    .b2b--assignment-grid__head-label {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: bold;
      font-style: italic;
    }
  }

  td {
    text-align: center;
    @include unitize(padding, 8);

    form {
      display: inline-flex;
    }
  }
}
