.b2b-avatar {
  position: relative;
  @include unitize(width, 200);
  @include unitize(height, 200);

  &__image,
  &__backdrop,
  &__edit {
    border-radius: 50%;
    overflow: hidden;
  }

  &__backdrop,
  &__edit {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &__image {
    z-index: 1;
    width: 100%;
  }

  &__backdrop {
    z-index: 2;
    background: rgba(0, 0, 0, 0);
    transition: background .2s ease;
  }

  &__edit {
    z-index: 3;

    label,
    form {
      width: 100%;
      height: 100%;
    }

    label {
      cursor: pointer;
    }

    input {
      display: none;
    }

    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      opacity: 0;
      transition: opacity .2s ease;
      @include unitize(height, 30);
      @include unitize(width, 30);
    }
  }

  &:hover {

    .b2b-avatar__backdrop {
      background: rgba(0, 0, 0, .5);
    }

    .b2b-avatar__edit {
      .icon {
        opacity: 1;
      }
    }
  }
}
