@keyframes content--loading-rotate {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.content--loading {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: #{$content-loading-diameter}px;
  height: #{$content-loading-diameter}px;
  transform: translate(-50%, -50%);
  margin: 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .1);
    margin: -12px;
    border-radius: 50%;
  }

  span {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: #{$content-loading-diameter}px;
    height: #{$content-loading-diameter}px;
    border: 3px solid;
    border-color: $brand-secondary transparent transparent transparent;
    border-radius: 50%;
    animation: content--loading-rotate 1.6s cubic-bezier(.5, 0, .5, 1) infinite;

    &:nth-child(0) {
      border-style: dotted;
    }

    &:nth-child(1) {
      animation-delay: -.45s;
      border-style: dashed;
    }

    &:nth-child(2) {
      animation-delay: -.3s;
      border-style: dashed;
    }

    &:nth-child(3) {
      animation-delay: -.15s;
    }
  }
}