$b2b-dashboard-icon-margin: 2rem;

.dashboard-teaser--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  > a.dashboard-teaser--filler {
    height: 0;
    min-height: 0;
    @include unitize(margin, 0 8);

  }

  > a {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    cursor: pointer;
    text-decoration: none;
    @include unitize(margin, 8);
    @include unitize(max-width, 375);
    @include unitize(max-height, 140);

    &:focus,
    &:active,
    &:visited {
      text-decoration: none;
    }

    .dashboard-teaser {
      position: relative;
      transition: box-shadow 0.3s ease;
      user-select: none;
      overflow: hidden;
      height: 100%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      @include unitize(padding, 20);
      @include unitize(border-radius, 3);

      .icon {
        position: absolute;
        top: $b2b-dashboard-icon-margin;
        right: $b2b-dashboard-icon-margin;
        bottom: $b2b-dashboard-icon-margin;
        left: $b2b-dashboard-icon-margin;
        height: $b2b-dashboard-icon-margin * 2;
        width: auto;
        transition: transform .3s ease;

        svg {
          color: rgba(0, 0, 0, 0.05);
        }
      }

      .content {

        h3 {
          font-weight: 600;

          &:after {
            background: $sw-color-brand-primary;
            content: "";
            display: block;
            position: absolute;
            opacity: 0;
            transition: opacity .3s ease, width .3s ease;
            @include unitize(width, 60);
            @include unitize(height, 2);
            @include unitize(margin-top, 4);
          }
        }

        p {
          @include unitize(padding-top, 4);
        }
      }
    }
  }
}

@include maxWidth("mobile") {
  .dashboard-teaser--container > a > .dashboard-teaser {
    .content {
      h3:after {
        opacity: 1;
      }
    }
  }
}

@include minWidth("tablet") {
  .dashboard-teaser--container > a > .dashboard-teaser {
    flex: 1 50%;

    .icon {
      height: calc(100% - (#{$b2b-dashboard-icon-margin} * 2));
    }

    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);

      .icon {
        transform: scale(1.05);
      }

      .content {
        h3:after {
          opacity: 1;
        }
      }
    }
  }
}

@include minWidth("desktop") {
  .dashboard-teaser--container > a > .dashboard-teaser {
    flex: 1 33%;

    .icon {
      height: calc(100% - (#{$b2b-dashboard-icon-margin} * 2));
    }
  }
}
