:not(.block-avatar-edit) {

  > .form--upload {
    position: relative;
    margin: 0 auto;

    @include unitize-max-width(1500);

    @include unitize-max-height(200);

    @include unitize(margin-bottom, 20);

    .upload--input {
      text-align: center;
      display: block;
      background: none;

      &:hover {
        background: none;
        outline-color: $upload-outline-active;
      }

      label {
        margin-bottom: 0;
        color: $text-color;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          cursor: pointer;
        }

        .icon {
          display: none;
        }

        h3 {
          margin-bottom: 0;
          display: inline-block;
          font-weight: $font-weight-light;
          color: $text-color;
          @include unitize(font-size, 20);
        }

        span.box--dragndrop {
          display: block;
        }
      }
    }

    &.has-advanced-upload {
      @include unitize-padding(10, 0);

      outline: 2px dashed $upload-outline;
      transition: outline-color .3s ease;
      cursor: pointer;

      .input--file {
        display: none;
      }
    }

    .box--dragndrop {
      display: none;
    }

    &.is-dragover {
      animation: none;
      outline: 2px dashed $upload-outline-active;
    }

    .upload--file-types {
      float: right;
    }
  }

  .upload--title {
    text-transform: uppercase;
    font-weight: $font-weight-light;

    @include unitize(font-size, 20);
  }
}

.csv--configuration {

  .configuration--content {

    > :first-child {
      margin: 0 !important;
    }

    > .block {
      display: block;
      padding: 12px !important;
    }

    .additional-inputs--headline {
      display: inline-block;
      width: 100%;

      @include unitize-margin(32, 0, 0, 20);

      @include unitize(padding-bottom, 20);
    }
  }
}

@include maxWidth("mobile") {

  :not(.block-avatar-edit) > .form--upload {

    &.has-advanced-upload {
      @include unitize(margin-bottom, 10);
    }
  }
}

@include minWidth("tablet") {
  .csv--configuration {

    .configuration--content {
      display: flex;
      flex-wrap: wrap;

      > .block {
        flex: 1 1 23%;
        width: unset;
      }
    }
  }
}

@include maxWidth("tablet") {

  :not(.block-avatar-edit) > .form--upload {

    .upload--input {
      label {
        span.box--dragndrop {
          display: none;
        }
      }
    }
  }
}