.block-flatpickr {

  .block {
    display: inline-block;

    margin-right: 10px !important;
  }

  .flatpickr-input {

    background-color: #fff;

    &.form-control {
      width: auto;

      @include unitize(margin-top, 10);
    }
  }

  .flatpickr-icon {
    transform: translateX(-100%) translateX(-10px);
    pointer-events: none;
    margin-top: 6px;
    z-index: 10;
  }
}

.flatpickr-calendar {

  &.open {
    z-index: 99999 !important;
  }
}

.flatpickr-current-month {
  top: 0 !important;
}

.flatpickr-icon--absolute {
  position: relative;

  .flatpickr-icon--container {
    position: absolute;
    right: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
