.b2b--plugin,
.b2b--modal {

  .form--inline {
    display: inline;
  }
}

/* B2B Form */
.b2b--form {

  .box--label {
    @include unitize-margin(0, 0, 20, 0);
  }

  .box--input {
    @include unitize-margin(0, 0, 20, 0);
  }
}

.form--additional-inputs {

  .block {

    input {
      width: 100%;
    }
  }

  .additional-inputs--headline {
    display: inline-block;
    width: 100%;

    @include unitize(margin-top, 20);

    h3 {
      display: inline-block;
      margin: 0;
    }

    input {
      display: inline-block;

      @include unitize(margin-right, 10);

      @include unitize(line-height, 26);
    }
  }

  h3 {
    margin: 0;
  }
}