.js--img-zoom--container {
  position: relative;
  top: 0;
  left: 0;

  img {
    @include unitize-width(400);

    @include unitize-height(240);
  }
}

.js--img-zoom--lens,
.js--img-zoom--flyout {
  display: none;
  position: absolute;
  top: 0;
  border: 1px solid #ecf0f1;
}

.js--img-zoom--lens {
  background: rgba(255, 255, 255, .4);
  left: 0;
  cursor: pointer;
}

.js--img-zoom--flyout {
  z-index: 1000;
  overflow: hidden;
  background: #FFFFFF;

  @include unitize-width(460);

  @include unitize-height(340);

  @include unitize(right, -490);
}

.js--img-zoom--title {
  color: #fff;
  font-weight: 300;
  text-align: center;
  background: rgba(0, 0, 0, .5);

  @include unitize-padding(5, 20);

  @include unitize(font-size, 14);

  @include unitize(line-height, 16);
}
