.content--loading {
  @keyframes content--loading-rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  $diameter: 50;
  $spinner-margin: 6;
  $spinner-diameter: 38;

  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background: rgba(0, 0, 0, .1);
  border-radius: 50%;
  @include unitize(width, $diameter);
  @include unitize(height, $diameter);

  &:before {
    box-sizing: border-box;
    display: block;
    position: absolute;
    content: '';
    border: 3px dashed $sw-color-brand-primary;
    border-right-style: solid;
    border-bottom: none;
    border-left-style: dotted;
    border-radius: 50%;
    animation: content--loading-rotate 2s linear infinite;
    @include unitize(width, $spinner-diameter);
    @include unitize(height, $spinner-diameter);
    @include unitize(margin, $spinner-margin);
  }
}
