.b2b--message-container {
  box-shadow: none !important;
  text-transform: uppercase;

  @include unitize-padding(12);

  h4 {
    display: none;
    font-weight: $font-weight-bold;

    @include unitize(font-size, 16);
  }

  ul {
    list-style: none;
    padding-left: 0;

    li {
      position: relative;
      font-weight: $font-weight-light;

      @include unitize(font-size, 15);

      @include unitize-padding(0, 0, 0, 32);

      &.b2b--message-warning {
        font-weight: $font-weight-light;
      }

      .icon {
        position: absolute;
        left: 0;

        @include unitize(top, -4);

        &-warning {
          color: $highlight-error;
        }
      }

      &:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
      };
    }
  }

  &~.module-dashboard {
    @include unitize(padding-top, 40);

    .dashboard--header {
      @include unitize(margin-top, 80);
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      background: #d4e2e2;

      @include unitize-height(1);
    }
  }
}

.b2b--plugin,
.b2b--dashboard {
  
  > * > .b2b--message-container {
    animation: flashBackground 2s .1s ease-in-out forwards;

    @include unitize-border-radius(3);

    h4 {
      display: block;
    }
  }
}

.b2b-remote-list-orderlist {
  .b2b--message-container {
    margin-bottom: 0;
  }
}