.b2b--message-container {
  @include unitize(margin, 20 0);

  h4 {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    @include unitize(padding-left, 4);

    li {
      position: relative;
      @include unitize(padding, 0 0 4 28);

      .icon {
        position: absolute;
        left: 0;

        svg {
          top: 0;
        }
      }

      p {
        @include unitize(padding-left, 8);
        margin: 0;
        display: inline-block;
      }

      ul,
      li {
        padding: 0;
      }
    }
  }
}
