$b2b-modal-transition-duration: .5s;
$b2b-modal-navigation-width: 250;

.b2b-modal-panel {
  display: none;
}

.modal--background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: background $b2b-modal-transition-duration ease;
  pointer-events: none;
  z-index: 799;

  &-visible {
    background: rgba(0, 0, 0, 0.3);
    pointer-events: all;
  }
}

.js--modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $sw-background-color;
  opacity: 0;
  transform: translateY(15px);
  transition: opacity $b2b-modal-transition-duration ease, transform $b2b-modal-transition-duration ease;
  z-index: 800;
  pointer-events: none;
  @include unitize(border-radius, 3);

  @include minWidth('desktop') {
    @include unitize(max-width, 1080);
    @include unitize(max-height, 780);
    margin: auto;
  }

  &-animated {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
  }

  .modal--close {
    position: absolute;
    cursor: pointer;
    transform: translateY(-50%);
    @include unitize(top, 30);
    @include unitize(right, 16);
    @include unitize(font-size, 20);
  }

  .b2b--modal-navigation--toggle {
    position: absolute;
    transform: translateY(-50%);
    background: $sw-text-color;
    cursor: pointer;
    @include unitize(top, 30);
    @include unitize(left, 16);
    @include unitize(width, 20);
    @include unitize(height, 2);

    @include minWidth('tablet') {
      display: none;
    }

    &:before,
    &:after {
      content: '';
      display: block;
      background: $sw-text-color;
      transition: transform .2s ease;
      @include unitize(width, 20);
      @include unitize(height, 2);
    }

    &:before {
      transform: translateY(-6px);
    }

    &:after {
      transform: translateY(4px);
    }

    > span {
      position: absolute;
      transform: translateY(-50%);
      background: transparent;
      @include unitize(height, 20);
      @include unitize(width, 20);
    }
  }

  &__title {
    text-align: center;
    font-weight: 100;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    @include unitize(line-height, 40);
    @include unitize(padding, 10 0);
  }

  .block-content {
    overflow-y: auto;
  }

  &__content {
    padding: 8px;

    .inner--actions {
      position: absolute;
      right: 0;
      left: 0;
      @include unitize(top, 60);
      @include unitize(line-height, 40);
      @include unitize(padding, 8);

      ~ .inner--content {
        @include unitize(top, 116);
      }
    }

    .inner--content {
      position: absolute;
      right: 0;
      left: 0;
      overflow-y: auto;
      @include unitize(top, 60);
      @include unitize(bottom, 56);
      @include unitize(padding, 8);

      @include minWidth('desktop') {
        @include unitize(padding, 16);
      }
    }

    .inner--bottom {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      @include unitize(line-height, 40);
      @include unitize(padding, 8);
    }
  }

  .b2b--modal:not(.no--navigation) {

    .js--modal__title {
      @include minWidth('tablet') {
        @include unitize(margin-left, $b2b-modal-navigation-width);
      }
    }

    .inner--actions,
    .inner--content,
    .inner--bottom {
      @include minWidth('tablet') {
        @include unitize(left, $b2b-modal-navigation-width);
      }
    }
  }

  &.is--small {
    @include minWidth('tablet') {
      margin: auto;
      @include unitize(max-width, 360);
      @include unitize(max-height, 500);
    }

    .js--modal__title {
      margin-left: 0;
    }

    .inner--actions,
    .inner--content,
    .inner--bottom {
      left: 0;
    }
  }

  &.navigation--hidden {
    .b2b--modal-navigation--toggle {
      display: none;
    }
  }

  &.navigation--active {
    .b2b--modal-navigation--toggle {
      background: transparent;

      &:before {
        transform: translateY(0) rotate(45deg);
      }

      &:after {
        transform: translateY(-2px) rotate(-45deg);
      }
    }

    .b2b--modal-navigation {
      transform: translateX(0);
    }
  }

  &.modal--confirm {
    height: auto;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}

.b2b--modal-navigation {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background: $sw-background-color;
  transform: translateX(-100%);
  transition: transform .4s ease;
  @include unitize(top, 60);
  @include unitize(padding, 0 12);

  @include minWidth('tablet') {
    top: 0;
    border-right: 2px solid $sw-color-brand-primary;
    transform: translateX(0);
    background: transparent;
    @include unitize(width, $b2b-modal-navigation-width);
    @include unitize(padding-top, 24);
    @include unitize(width, $b2b-modal-navigation-width);
  }

  ul {
    list-style: none;
    @include unitize(padding-left, 8);

    li {
      text-overflow: ellipsis;
      white-space: nowrap;
      @include unitize(margin-bottom, 8);

      &.tab--header {
        text-transform: uppercase;
        font-weight: bold;
      }

      &:not(.tab--header) {
        @include unitize(padding-left, 8);
      }

      &.tab--group {
        text-transform: uppercase;
        @include unitize(padding-left, 0);
      }

      a {
        cursor: pointer;

        &.tab--active,
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}

.b2bConfirmModal {
  @include unitize(max-width, 500);

  .b2b--confirm-modal-content {
    .b2b--confirm-modal-header {
      width: 100%;
      background-color: $sw-color-danger;
      @include unitize(padding, 20);

      h3 {
        color: #fff;
        margin: 0;
        @include unitize(line-height, 20);
      }
    }

    .b2b--confirm-modal-body {
      width: 100%;
      border-bottom: 1px solid $sw-border-color;
      @include unitize(padding, 20);
      @include unitize(line-height, 20);
    }

    .b2b--confirm-modal-footer {
      width: 100%;
      float: right;
      @include unitize(padding, 20);
    }
  }

}
