.b2b-order-overview {

  .block-group {

    .state,
    .created-at,
    .order-reference,
    .item-count,
    .value {
      float: left;
      width: 33%;

      @include unitize-padding(10);
    }

    .requested-delivery-date--col,
    .order-reference--col {

      input {
        width: 100% !important;
      }
    }
  }
}