.b2b--component-pagination {

  .box--page-info {
    width: 50%;
    position: absolute;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    user-select: none;

    @include unitize-margin(10, 0);

    &.col-page-info {
      width: 30%;
    }
  }

  .box--page-select {
    width: unset !important;
    max-width: unset !important;
    display: flex;
    text-align: right;
    float: right;

    &.col-page-select {
      width: 70%;
    }

    button[disabled] {
      background: $border-color;
    }

    .custom-select {
      @include unitize(width, 80);

      &.no--select {
        background: none;
      }
    }

    select {
      border-left: 0;
      border-right: 0;
    }

    * {
      border-radius: 0;
    }
  }

  .box--page-button {
    width: auto;
    float: right;

    .btn {
      font-family: "shopware";
      text-align: center;

      @include unitize(font-size, 10);

      &:hover {
        color: $brand-primary;
      }
    }
  }
}