.b2b--component-pagination {

  .box--page-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    font-weight: 700;
    text-transform: uppercase;
    user-select: none;

    &.col-page-info {
      width: 30%;
    }
  }

  .box--page-select {
    width: unset;
    max-width: unset;
    display: flex;
    text-align: right;
    float: right;
    margin-bottom: -25px;

    &.col-page-select {
      width: 70%;
    }

    .btn {
      border: 1px solid $sw-border-color;

      &[disabled] {
        background: $sw-border-color;
      }
    }

    .custom-select {
      @include unitize(width, 80);

      padding-left: 32px;
      margin-top: 20px;

      &.no--select {
        background: none;
      }
    }

    select {
      border-left: 0;
      border-right: 0;
    }

    * {
      border-radius: 0;
    }
  }

  .box--page-button {
    width: auto;
    float: right;

    .btn {
      font-family: "shopware";
      text-align: center;
      @include unitize(font-size, 10);

      &:hover {
        color: $sw-color-brand-primary;
      }
    }
  }
}
