.positions-grid {

  .comment--container {
    @include unitize(margin-top, 10);

    input {
      width: auto;
    }
  }

  .line-item--column-quantity .form-control,
  .modal--col-quantity .form-control {
    width: 100%;
  }

  .comment--actions {
    .btn {
      @include unitize(margin, 10 0 10 5);
    }
  }

  .button--group-split {
    position: relative;
    display: inline;
    @include unitize(line-height, 28);
    @include unitize(padding, 8 16);

    button {
      background: none;
      border: 0;
      outline: 0;
      position: absolute;
      height: 50%;
      width: 100%;
      line-height: 1;
      right: 0;
      left: 0;

      &:disabled {
        opacity: .3;
        cursor: not-allowed;
      }
    }

    .is--top,
    .is--bottom {
      text-align: center;
      display: inline-block;
      cursor: pointer;
      @include unitize(font-size, 9);
    }

    .is--top {
      @include unitize(top, -7);
     }

    .is--bottom {
      @include unitize(bottom, 1);
    }
  }

  .b2b-positions-order {
    button {
      outline: none;
      border: none;
      appearance: none;
      background: inherit;

      svg {
        transition: color .2s ease;
      }

      &:not(:disabled):hover {
        svg {
          color: black;
        }
      }
    }
  }
}
