.positions-grid {

  .comment--container {
    @include unitize(margin-top, 10);

    input {
      width: 100%;
    }
  }

  .line-item--column-quantity .form-control,
  .modal--col-quantity .form-control {
    width: 100% !important;
  }

  .comment--actions {

    .btn {
      @include unitize-margin(10, 0, 10, 5);
    }
  }

  .button--group-split {
    position: relative;
    display: inline !important;

    @include unitize(line-height, 28);

    @include unitize-padding(7, 15);

    button {
      background: none;
      border: 0;
      outline: 0;
      width: 100%;
      height: 50%;
      position: absolute;
      line-height: 1;
      left: 0;
      right: 0;

      &:disabled {
        opacity: .5;  
        cursor: not-allowed;
      }
    }

    .is--top,
    .is--bottom {
      text-align: center;
      display: inline-block;
      cursor: pointer;

      @include unitize(font-size, 9);
    }

    .is--top {
      @include unitize(top, -7);
    }

    .is--bottom {
      @include unitize(bottom, 1);
    }
  }
}

@include minWidth('mobile') {
  .positions-grid {
    .line-item--column-quantity .form-control,
    .modal--col-quantity .form-control {
      width: auto !important;
    }
  }
}