.b2b--search-container {
  display: flex;

  input {
    width: 100%;
  }

  &.contingent-rule--product-numbers {
    @include unitize(margin-bottom, 20);
  }

  .container--element-loader {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
  }

  .b2b--search-results {
    background: $sw-background-color;
    border: 1px solid getContrast($sw-background-color, 2%);
    z-index: 1000;
    overflow-y: auto;
    position: absolute;
    transform: translateY(40px);
    border-top: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    left: 0;
    right: 0;
    @include unitize(max-height, 200);


    @include minWidth('tablet') {
        @include unitize(max-width, 250);
        left: auto;
        right: auto;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        cursor: pointer;
        @include unitize(padding, 7 10);

        &:not(:last-child) {
          border-bottom: 1px solid rgba(0, 0, 0, .3);
        }

        &:hover,
        &.is--active {
          background: getContrast($sw-background-color, 5%);
        }

        span,
        div {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        span {
          float: left;
          width: 30%;
          font-weight: bold;
          @include unitize(padding-right, 4);
        }

        div {
          width: 70%;
        }
      }
    }
  }
}
