.b2b--search-container {
  position: relative;
  display: flex;

  input {
    width: 100%;
  }

  .container--element-loader {
    display: none;
    position: absolute;

    @include unitize(top, 10);

    @include unitize(right, 10);
  }

  &.contingent-rule--product-numbers {
    @include unitize(margin-bottom, 20);
  }
}

.b2b--search-results {
  background: lighten($border-color, 10%);
  border: 1px solid rgb(221, 221, 221);
  z-index: 5000;
  overflow-y: auto;
  position: absolute;
  transform: translateY(40px);
  border-top: 0;
  left: 0;

  @include unitize(border-radius, 3);

  @include unitize(max-height, 250);

  ul {
    list-style: none;

    li {
      list-style: none;

      @include unitize-padding(7, 10, 0, 10);

      &:hover {
        background: $brand-primary;
      }

      &.is--active {
        background: $brand-primary;
      }

      span {
        float: left;
        display: inline-block;
        width: 30%;
        color: $text-color-light;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      div {
        display: inline-block;
        width: 70%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &:hover span,
      &.is--active span {
        color: lighten($border-color, 10%);
      }

      &:hover div,
      &.is--active div {
        color: lighten($border-color, 10%);
      }
    }
  }
}
