.b2b-remote-list {

  &__actions {
    width: 100%;
    display: block;
    @include unitize(padding-bottom, 40);

    .action--order-list,
    .action--cart-add {
      width: auto;
      display: inline-block;
    }

    .action--cart-add {
      text-align: right;
    }

    button {
      width: auto;
    }
  }
}
