.status-grid {
  ul {
    li {
      position: relative;
      display: inline-block;
      clear: both;
      border: 1px solid;
      border-left: 30px solid;
      background: #fff;
      box-shadow: 0 0 7px rgba(0, 0, 0, .3);
      float: left;
      word-break: break-word;
      @include unitize(padding, 10);
      @include unitize(margin-bottom, 20);
      @include unitize(border-radius, 5);

      @include minWidth('tablet') {
        max-width: 70%;
      }

      &.right {
        float: right;
      }

      .history--old-value {
        font-style: italic;
      }

      .icon {
        position: absolute;
        color: #fff;
        @include unitize(left, -26);
        @include unitize(top, 8);
      }

      &.is--default {

      }

      &.is--success {
        border-color: $sw-color-success;
      }

      &.is--error {
        border-color: $sw-color-danger;
      }

      &.is--warning {
        border-color: $sw-color-warning;
      }

      &.is--info {
        border-color: $sw-color-info;
      }

      span,
      table tr td {
        color: $sw-text-color;
      }

      span {
        display: block;
        @include unitize(font-size, 12);
      }
    }
  }
}
