.status-grid {

  ul {

    li {
      position: relative;
      display: inline-block;
      background: $brand-secondary;
      max-width: 70%;
      clear: both;
      border: 1px solid;
      border-left: 30px solid;
      color: $text-color;
      background: lighten($background-color, 5%);
      box-shadow: 0 0 7px rgba(0, 0, 0, .3);
      user-select: none;
      cursor: pointer;
      transition: transform .3s ease;

      @include unitize-padding(10, 10, 10, 10);

      @include unitize(margin-bottom, 20);

      @include unitize(border-radius, 5);

      &:hover {

        &.left {
          transform: translateX(3px);
        }

        &.right {
          transform: translateX(-3px);
        }
      }

      &:not(.right) {
        float: left;
      }

      .history--old-value {
        font-style: italic;
      }

      .icon {
        position: absolute;
        color: #fff;

        @include unitize(left, -26);

        @include unitize(top, 8);
      }

      &.is--default {
        border-color: $brand-secondary;
        background: $brand-secondary;
      }

      &.is--success {
        border-color: $highlight-success;
      }

      &.is--error {
        border-color: $highlight-error;
      }

      &.is--warning {
        border-color: $highlight-warning;
      }

      &.is--info {
        border-color: $highlight-info;
      }

      span,
      table tr td {
        color: $text-color-dark;
      }

      span {
        display: block;

        @include unitize(font-size, 12);
      }

      table:not(.table--unstyled) {
        background: transparent;

        @include unitize(margin-top, 5);

        tr {
          background: transparent !important;

          td {
            background: transparent !important;
            border: 0 none;
            padding: 0;
            margin: 0;

            @include unitize(padding-right, 10);

            @include unitize(font-size, 12);
          }
        }
      }
    }
  }
}

@include maxWidth("mobile") {

  .status-grid ul li {
    width: 100%;
    max-width: unset;
  }
}