.modal--col-available {
  position: relative;
  text-align: center;

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    @include unitize(width, 20);
    @include unitize(height, 20);

    &.color--available {
      background: $sw-color-success;
    }

    &.color--not-completely-available {
      background: $sw-color-warning;
    }

    &.color--unavailable {
      background: $sw-color-danger;
    }
  }
}

