.b2b--tab-menu {

  .tab--navigation {
    text-align: left;

    > .ajax-panel-link {
      display: block;
      @include unitize(margin-bottom, 4);

      @include minWidth('tablet') {
        display: inline-block;
        margin-bottom: 0;
      }
    }

    .tab--link {

      &.is--active {
        background: $sw-color-brand-primary;
        color: #fff;
        border-color: $sw-color-brand-primary;
      }
    }
  }


  .tab--container-list {

    .b2b--role-default-container {
      text-align: center;
      background: getContrast($sw-background-color, 3%);

      .info--baloon {
        opacity: .7;
        display: inline-block;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, .5);
        @include unitize(padding, 10);
        @include unitize(margin, 40);
        @include unitize(border-radius, 3);
      }
    }
  }
}
