.b2b--tab-menu {

  .tab--navigation {
    display: block;

    a,
    button {
      background: $navigation-background;
      display: inline-block;
      z-index: 1;
      position: relative;
      font-weight: 700;
      text-align: center;
      color: #5f7285;
      border: 1px solid $tree-tab-border;
      white-space: nowrap;
      transition: color .3s ease, border-bottom-color .3s ease;

      @include unitize-padding(10, 15, 10, 15);

      @include unitize-border-radius(3, 3, 0, 0);

      @include unitize(margin-right, 5);

      @include unitize(font-size, 14);

      @include unitize(line-height, 24);

      @include unitize(top, 1);

      &:hover,
      &.is--active {
        color: $text-color;
        border-bottom-color: $navigation-background;
      }

      &:disabled {
        color: #e9e9f0;

        &:hover {
          cursor: not-allowed;
        }
      }
    }

    .form--inline {
      font-size: 0;

      @include unitize(margin-right, 5);
    }
  }

  .tab--container-list .tab--container {
    display: block;
    border: 1px solid $tree-tab-border;
    position: relative;
  }

  .tab--container.b2b--ajax-panel .panel {
    @include unitize-margin(10, 0, 0, 0);
  }
}