.table--responsive {
  overflow: auto;
}

.table th, .table td {
  vertical-align: inherit;
}

.b2b-table {
  $table-odd-background: getContrast($sw-background-color, 3%);
  $table-odd-hover: getContrast($sw-background-color, 7%);
  $table-even-background: getContrast($table-odd-background, 3%);
  $table-even-hover: getContrast($table-odd-background, 7%);

  width: 100%;
  border-collapse: separate;
  white-space: nowrap;
  margin: 0;
  @include unitize(border-spacing, 1);

  thead {
    th {
      font-weight: 100;
      background: transparent;
      border-bottom: 5px solid $sw-color-brand-primary;
      border-top: none;
    }
  }

  tr {

    &.is--disabled {
      cursor: not-allowed;
      opacity: .3;
    }

    td {
      transition: background .2s ease;
      border: none;
      @include unitize(padding, 12 10);

      &.col-headline {
        vertical-align: middle;
        @include unitize(padding, 0 8);
      }

      &.col-actions {
        text-align: center;

        > * {
          display: inline-block;
        }

        button[disabled] {
          cursor: not-allowed;
          opacity: .3;
        }
      }

      &.col-status {
        text-align: center;

        .icon {
          @include unitize(width, 32);
          @include unitize(height, 32);
        }
      }

      h4,
      p {
        margin-bottom: 0;
      }
    }

    &:nth-child(odd) {
      td {
        background: $table-odd-background;
      }

      &:hover {
        td {
          background: $table-odd-hover;
        }
      }
    }

    &:nth-child(even) {
      td {
        background: $table-even-background;
      }

      &:hover {
        td {
          background: $table-even-hover;
        }
      }
    }
  }

  &__actions {
    background: $table-odd-background;
    width: 100%;
    overflow: auto;
    @include unitize(padding, 20 15);
    @include unitize(margin, 20 0);

    .col-sort,
    .col-search {
      width: 48%;

      @include minWidth("tablet") {
        width: auto;
      }
    }

    .col-sort {
      float: left;

      select {
        @include unitize(max-width, 355);
      }
    }

    .col-search {
      float: right;
    }
  }
}

