.is--b2b-tree.list--unordered {
  list-style: none;
  padding-left: 0;

  li {
    background-color: $navigation-background;

    &.is--opened {

      .is--b2b-tree span.node-content-container {
        @include unitize(padding-left, 20);

        span.b2b-tree-node-inner .tree-label {
          @include unitize(margin-left, 60);
        }
      }
    }

    &:before {
      content: "";
      width: 0;
    }

    &.is--selected span.node-content-container {
      background: rgba(0, 62, 89, .1);
    }

    span.node-content-container {
      display: block;
      border-bottom: 1px solid $border-color;

      @include unitize-padding(10, 10, 10 , 0);

      span.b2b-tree-node-inner {
        position: relative;
        display: block;

        a {
          color: $brand-secondary;
          text-decoration: none;

          .tree-label {
            @include unitize(margin-left, 60);
          }
        }

        input[type='radio'] {
          position: absolute;
          cursor: pointer;

          @include unitize(left, 40);

          @include unitize(top, 5);
        }

        .tree-label {
          display: block;

          @include unitize(margin-left, 50);

          &.without--margin {
            margin-left: 0;
          }
        }

        .tree-icon {
          display: none;
          position: absolute;

          @include unitize(padding-left, 10);

          .icon svg {

            @include unitize(top, 1);
          }
        }

        .tree-icon.leaf {
          display: block;
        }
      }
    }

    &.has--children.is--closed > span.node-content-container span.b2b-tree-node-inner {

      .tree-icon.closed {
        display: block;
      }

      .tree-icon.leaf {
        display: none;
      }
    }

    &.has--children.is--opened > span.node-content-container span.b2b-tree-node-inner {

      .tree-icon.opened {
        display: block;
      }

      .tree-icon.leaf {
        display: none;
      }
    }

    &.has--children.is--loading > span.node-content-container span.b2b-tree-node-inner {

      .tree-icon.loading {
        display: block;
      }

      .tree-icon.leaf {
        display: none;
      }
    }
  }

  &.is--assignment-tree li.is--selected span.node-content-container {
    background-color: $navigation-background;
  }
}