.is--b2b-tree-container,
.is--b2b-tree-select-container  {
  overflow: hidden;

  .is--root-list {
    overflow-y: auto;

    @include minWidth('desktop') {
      @include unitize(max-height, 600);
    }

    > .node {
      margin-left: 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  > .is--b2b-tree > .is--b2b-tree-select {
    padding-left: 0;

    &__inner {
      border-left: none;
    }
  }
}
