.node {
  @include unitize(margin-left, 8);

  @keyframes loading-rotate {
    to {
      transform: rotate(360deg);
    }
  }

  > .is--b2b-tree-select {
    border-left: 1px solid rgba(0, 0, 0, .2);
  }

  &__inner {
    display: block;
    position: relative;
    cursor: pointer;
    text-overflow: ellipsis;
    width: 100%;
    transition: background .2s ease;
    @include unitize(padding, 8 48 8 24);
    @include unitize(line-height, 24);

    &:hover {
      background: getContrast($sw-background-color, 10%);
    }

    .drop-area {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      visibility: hidden;
      z-index: 1000;

      > span {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        height: 33%;
        box-sizing: border-box;

        &.drop-before {
          top: 0;

          &.hover {
            border-top: 2px dashed black;
          }
        }

        &.drop-as-child {
          top: 33%;
        }

        &.drop-after {
          top: 66%;

          &.hover {
            border-bottom: 2px dashed black;
          }
        }
      }
    }

    &.dragover {
      font-weight: bolder;

      .drop-area {
        visibility: visible;
      }
    }

    .icon-arrow-right svg {
      transition: transform .2s ease;
    }

    .icon-loading-circle {
      opacity: 0;
      transition: opacity .2s ease;
      position: absolute;
      @include unitize(top, 8);
      @include unitize(right, 50);

      > svg {
        top: 0;
      }
    }

    .actions {
      position: absolute;
      @include unitize(right, 4);

      form {
        display: inline-block;

        .btn {
          height: auto;
          width: auto;
          line-height: 100%;
          padding: 0;
        }

        .icon {
          @include unitize(width, 16);
          @include unitize(height, 16);

          svg {
            top: 0;
          }
        }
      }
    }

    &--toggle-children {
      position: absolute;
      left: 0;
      display: none;
      @include unitize(top, 4);
    }
  }

  &.selected > .node__inner {
    background: getContrast($sw-background-color, 10%);
  }

  &.is--loading {
    > .node__inner {
      .icon-loading-circle {
        opacity: 1;
        animation: loading-rotate 1s linear infinite;
      }
    }
  }

  &.is--opened {
    > .node__inner {
      .icon-arrow-right svg {
        transform: rotate(90deg);
      }
    }

    > ul {
      display: block;
      @include unitize(margin-left, 10);
    }
  }

  &.has--children {
    > .node__inner {
      .node__inner--toggle-children {
        display: inline-block;
      }
    }
  }

  &.dragged {
    z-index: 1;
    position: relative;
    opacity: 0.8;

    .node__inner {
      background: getContrast($sw-background-color, 5%);
    }
  }

  &.dragover {
    .node__inner {
      background: getContrast($sw-background-color, 5%);
    }

    .drop-area {
      visibility: visible;
    }
  }

  > ul {
    display: none;
  }
}
