.b2b-upload {
  @include unitize(max-width, 600);
  @include unitize(margin, 0 auto 16);

  &__header {
    @include unitize(padding-bottom, 8);

    &-title {
      font-weight: bold;
      @include unitize(font-size, 16);
    }

    &-types {
      @include unitize(font-size, 12);
      text-transform: uppercase;
    }
  }

  &__dropzone {
    outline: 2px dashed rgba(0, 0, 0, .3);
    cursor: pointer;
    text-align: center;
    transition: outline-color .2s ease;
    @include unitize(padding, 4);
    @include unitize(margin, 2);

    input {
      display: none;
    }

    h3 {
      margin-bottom: 0;
    }

    label {
      transition: opacity .2s ease;
      opacity: 0.7;
      cursor: pointer;
    }

    &:hover,
    &:focus {
      outline-color: rgba(0, 0, 0, .7);

      label {
        opacity: 1;
      }
    }
  }
}
