{% block b2b_quantity_input %}
    <input
        class="form-control"
        type="number"
        name="{{ name }}"
        data-min="{{ product.quantityInformation.minPurchase }}"
        data-step="{{ product.quantityInformation.purchaseSteps }}"
        data-max="{{ maxQuantity }}"
    />
{% endblock %}