{% block b2b_order_grid_row %}
    <tr data-row-id="{{ row.id }}">
        {% block b2b_order_grid_row_cells %}
            <td
                class="is--align-center"
                data-label="{{ "b2b.OrderNumbersLabel"|trans }}"
            >
                {{ row.orderNumber|default('-') }}
    </td>

            <td
                class="is--align-center"
                data-label="{{ "b2b.OrderReferenceNumberShortLabel"|trans }}"
            >
                {{ row.orderReference|default('-') }}
            </td>

            <td
                class="is--align-center"
                data-label="{{ "b2b.CustomerLabel"|trans }}"
            >
                {{ row.owner.entity.firstName }}
                {{ row.owner.entity.lastName }}
                {% if row.owner.behalfOf %}
                    {% set ruleSnippetKey = 'b2b.SalesRepOrder' %}

                    <span class="info-icon--container" title="{{ ruleSnippetKey|trans({'%firstName%': row.owner.behalfOf.firstName, '%lastName%': row.owner.behalfOf.lastName}) }}">
                        {% sw_icon 'info' %}
                    </span>
                {% elseif not row.owner.entity.debtor %}
                    <span title="{{ "b2b.DebtorLabel"|trans }}">
                        {% sw_icon 'star' %}
                    </span>
                {% endif %}
            </td>

            <td
                class="is--align-center"
                data-label="{{ "b2b.StateLabel"|trans }}"
            >
                {{ ("b2b.orderState." ~ row.status) | trans}}
            </td>

            <td
                class="is--align-center"
                data-label="{{ "b2b.DateLabel"|trans }}"
            >
                {{ row.createdAt|date('d.m.Y H:i') }}
            </td>

            <td
                class="is--align-right"
                data-label="{{ "b2b.OrderAmountLabel"|trans }}"
            >
                <div>
                    {{ row.list.amountNet|currency }}
                    <br>
                    <small>
                        {{ "b2b.WithTaxesLabel"|trans }}: {{ row.list.amount|currency }}
                    </small>
                </div>
            </td>

            {% block b2b_order_grid_row_cells_actions %}
                {% if b2b_acl_check('b2border', 'detail') or b2b_acl_check('b2borderorderlist', 'createNewOrderList') %}
                    <td
                        class="col-actions is--align-center"
                        data-label="{{ "b2b.ActionsLabel"|trans }}"
                    >
                        <button
                            class="btn is--small btn--edit ajax-panel-link b2b-highlight {{ b2b_acl('b2border', 'detail') }}"
                            type="button"
                            title="{{ "b2b.OrderDetails"|trans }}"
                            data-target="order-detail"
                            data-href="{{ path('frontend.b2b.b2border.detail', { orderContextId: row.id.getValue }) }}"
                        >
                            {% sw_icon 'pencil-brush' %}
                        </button>

                        <button
                            class="btn is--small component-action-create ajax-panel-link {{ b2b_acl('b2borderorderlist', 'createNewOrderList') }}"
                            type="button"
                            title="{{ "b2b.CreateOrderListFromOrder"|trans }}"
                            data-target="orderlist-detail"
                            data-href="{{ path("frontend.b2b.b2borderorderlist.createNewOrderList", { id: row.id.getValue }) }}"
                        >
                            {% sw_icon 'list' %}
                        </button>
                    </td>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </tr>
{% endblock %}