{% block b2b_order_grid_head %}
    <tr>
        {% block b2b_order_grid_head_inner %}
            <th>{{ "b2b.OrderNumbersLabel"|trans }}</th>
            <th>{{ "b2b.OrderReferenceNumberShortLabel"|trans }}</th>
            <th>{{ "b2b.CustomerLabel"|trans }}</th>
            <th>{{ "b2b.StateLabel"|trans }}</th>
            <th>{{ "b2b.DateLabel"|trans }}</th>
            <th>{{ "b2b.OrderAmountLabel"|trans }}</th>
            {% if b2b_acl_check('b2border', 'detail') or b2b_acl_check('b2borderorderlist', 'createNewOrderList') %}
                <th>{{ "b2b.ActionsLabel"|trans }}</th>
            {% endif %}
        {% endblock %}
    </tr>
{% endblock %}