{% block b2b_order_grid_table_actions %}
    <div class="block-group table--actions">
        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2border/grid/_grid-sort.html.twig' %}

        {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-search.html.twig' %}
    </div>
{% endblock %}