.discount-bar {
    background: #005499;
    color: #fff;
    padding: 10px 0;
    min-height: 40px;
    font-weight: 700;

    a {
        color: #fff;

        &:hover {
            text-decoration: none;
        }
    }
}
