{% set type = ((messages|keys)|first) %}

{% set count_messages = (messages[type]|length) %}

{% block b2b_message_controller %}
    <ul>
        <li class="b2b--message-{{ type }}">
            {% block b2b_message_icon %}
                {%
                    sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage-icon.html.twig'
                    with {
                        type: type
                    } only
                %}
            {% endblock %}

            {% block b2b_message_content_headline %}
                {%
                    sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/controller/_b2bmessage-content-headline.html.twig'
                    with {
                        type: type,
                        count_messages: count_messages
                    } only
                %}
            {% endblock %}

            {% block b2b_message_content %}
                {%
                    sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/controller/_b2bmessage-content.html.twig'
                    with {
                        messages: messages[type],
                        count_messages: count_messages
                    } only
                %}
            {% endblock %}
        </li>
    </ul>
{% endblock %}