{% set property = message['property'] %}
{% set snippetKey = message['snippetKey'] %}
{% set messageTemplate = message['messageTemplate'] %}
{% set cause = message['cause'] %}
{% set parameter = message['parameters'] %}
{% set parameters = message['parameters'] %}

{%- if property -%}
    {%-
        sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage-forced-translation.html.twig'
        with {
            snippetKey: (property ~ 'Label'),
        } only
    -%}:
{% endif -%}

{%-
    sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage-forced-translation.html.twig'
    with {
        snippetKey: snippetKey,
        parameters: parameters,
        parameter: parameter
    } only
-%}