{% block b2b_message_content_headline %}
    {% if count_messages > 1 %}
        {% if type == 'info' %}
            {% block b2b_message_content_headline_info %}
                <p class="text-info">
                    {{ "b2b.InfoMessageHeadline"|trans }}
                </p>
            {% endblock %}
        {% elseif type == 'warning' %}
            {% block b2b_message_content_headline_warning %}
                <p class="text-warning">
                    {{ "b2b.WarningMessageHeadline"|trans }}
                </p>
            {% endblock %}
        {% elseif type == 'error' %}
            {% block b2b_message_content_headline_error %}
                <p class="text-danger">
                    {{ "b2b.ErrorMessageHeadline"|trans }}
                </p>
            {% endblock %}
        {% elseif type == 'success' %}
            {% block b2b_message_content_headline_success %}
                <p class="text-success">
                    {{ "b2b.SuccessMessageHeadline"|trans }}
                </p>
            {% endblock %}
        {% endif %}
    {% endif %}
{% endblock %}
