{% block b2b_message_content %}
    <ul>
        {% apply spaceless %}
            {%- if count_messages > 1 -%}
                {% block b2b_message_content_list %}
                    {%- for message in messages -%}
                        {% block b2b_message_content_list_item %}
                            <li class="pl-1 pb-1">
                               {%-
                                    sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/controller/_b2bmessage-set.html.twig'
                                    with {
                                        message: message
                                    } only
                                -%}
                            </li>
                        {% endblock %}
                    {%- endfor -%}
                {% endblock %}
            {% else %}
                {% block b2b_message_content_single %}
                    {%-
                        sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/controller/_b2bmessage-set.html.twig'
                        with {
                            message: (messages|first)
                        } only
                    -%}
                {% endblock %}
            {%- endif -%}
        {% endapply %}
    </ul>
{% endblock %}
