{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_flashbags %}{% endblock %}

{% block base_content %}
    <div class="content block">
        <div class="panel">
            <div class="panel--title">
                <h2>{{ "file-search.search.headline"|trans|raw }}</h2>
            </div>

            <div class="panel--body is--wide">

                {% set fileUrl = seoUrl('fronted.ies_files.get_archive', {
                    'file': '',
                }) %}

                {% set dialogUrl = seoUrl('frontend.cms.page', {
                    'id': shopware.config.FileSearch.config.zipLizenzAgreementInfoPage,
                    'file': '',
                }) %}

                {% set linkToggle = '' %}

                {% if isArchiveLizenzActive %}
                    {% set linkToggle = 'modal' %}
                {% endif %}

                {% set links = {
                    'pdf':  '<a data-toggle="' ~ linkToggle ~ '" href="' ~ fileUrl ~ 'cad-pdf.zip" data-url="' ~ dialogUrl ~ 'cad-pdf.zip">PDF</a>',
                    'dwg':  '<a data-toggle="' ~ linkToggle ~ '" href="' ~ fileUrl ~ 'cad-dwg.zip" data-url="' ~ dialogUrl ~ 'cad-dwg.zip">DWG</a>',
                    'dxf':  '<a data-toggle="' ~ linkToggle ~ '" href="' ~ fileUrl ~ 'cad-dxf.zip" data-url="' ~ dialogUrl ~ 'cad-dxf.zip">DXF</a>',
                    'igs':  '<a data-toggle="' ~ linkToggle ~ '" href="' ~ fileUrl ~ 'cad-igs.zip" data-url="' ~ dialogUrl ~ 'cad-igs.zip">IGS</a>',
                    'step': '<a data-toggle="' ~ linkToggle ~ '" href="' ~ fileUrl ~ 'cad-step.zip" data-url="' ~ dialogUrl ~ 'cad-step.zip">STEP</a>',
                    'x_t':  '<a data-toggle="' ~ linkToggle ~ '" href="' ~ fileUrl ~ 'cad-x_t.zip" data-url="' ~ dialogUrl ~ 'cad-x_t.zip">X_T</a>',
                } %}

                <p>{{ "file-search.search.description_zip"|trans({ '%links%': links|join(', ') })|raw }}</p>
                <p>{{ "file-search.search.description_contact"|trans({ '%links%': links|join(', ') })|raw }}</p>

                <form method="post" action="{{ path('frontend.ies_files.search') }}">
                    {{ sw_csrf('frontend.ies_files.search') }}

                    <div class="input-group">
                        <input type="search"
                               name="query"
                               required="required"
                               class="form-control"
                               autocomplete="off"
                               autocapitalize="off"
                               placeholder="{{ "file-search.search.placeholder"|trans }}"
                               aria-required="true"
                               aria-label="{{ "file-search.search.placeholder"|trans }}"
                               maxlength="30"
                               value="{{ query|striptags }}"
                        >

                        <div class="input-group-append">
                            <button type="submit" class="ml-3 btn btn-primary" aria-label="{{ "file-search.search.searchButton"|trans }}">
                                {% sw_icon 'search' %}
                                {{ "file-search.search.searchButton"|trans }}
                            </button>
                        </div>
                    </div>
                </form>

                {% if query is not empty %}
                    <div class="block-group">
                        {% if files %}
                            <div id="accordion">
                                {% for extension, file in files %}
                                    <div class="card">
                                        <div class="card-header" id="heading{{ loop.index }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="true" aria-controls="collapse{{ loop.index }}">
                                                    {{ extension }}-Dateien ({{ file|length }})
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapse{{ loop.index }}" class="collapse{% if loop.first %} show{% endif %}" aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                                            <div class="card-body">
                                                <div class="container">
                                                    {% for download in file %}
                                                        {% sw_include '@Storefront/storefront/page/file-search/item.html.twig' with {
                                                            item: download
                                                        } %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div>
                                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                    type: 'danger',
                                    content: 'file-search.search.noFilesFound'|trans
                                } %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
