<div class="row">
    <div class="col-12 mb-2 mt-2">
        {% if item.kind == 'video' %}
            <video src="{{ asset(item.filepath) }}" controls width="320" height="240">
                <a href="{{ asset(item.filepath) }}" target="_blank" download>Download</a>
            </video>
        {% else %}
            <a href="{{ asset(item.filepath) }}" target="_blank" title="{{ item.filename }}" download>
                <img width="25" src="{{ asset('bundles/filesearch/assets/img/icon_' ~ item.file_extension|lower ~ '.png') }}" alt="{{ item.file_extension|lower }}">
                <span>{{ item.filename }}</span>
            </a>
        {% endif %}
    </div>
</div>
