{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal.html.twig' %}

{% block b2b_modal_base_navigation_header %}
    {{ "b2b.EditOffer"|trans }}
{% endblock %}

{% block b2b_modal_base_navigation_entries %}
    <li>
        <a
            class="b2b--tab-link tab--active"
            data-target="offer-tab-content"
            data-href="{{ path('frontend.b2b.b2boffer.edit', { offerId: offer.id.getValue }) }}"
        >
            {{ "b2b.MasterDataLabel"|trans }}
        </a>
    </li>
    <li>
        <a
            class="b2b--tab-link"
            data-target="offer-tab-content"
            data-href="{{ path('frontend.b2b.b2bofferlineitemreference.grid', { offerId: offer.id.getValue }) }}"
        >
            {{ "b2b.Positions"|trans }}
        </a>
    </li>
    <li>
        <a
            class="b2b--tab-link"
            data-target="offer-tab-content"
            data-plugins="b2bGridComponent"
            data-href="{{ path('frontend.b2b.b2bofferlog.commentList', { orderContextId: offer.orderContextId.getValue }) }}"
        >
            {{ "b2b.CommentsLabel"|trans }}
        </a>
    </li>
    <li>
        <a
            class="b2b--tab-link"
            data-target="offer-tab-content"
            data-href="{{ path('frontend.b2b.b2bofferlog.log', { orderContextId: offer.orderContextId.getValue }) }}"
        >
            {{ "b2b.History"|trans }}
        </a>
    </li>
{% endblock %}

{% block b2b_modal_base_content_inner %}
    <div
        class="b2b--ajax-panel has--b2b-form"
        data-id="offer-tab-content"
        data-plugins="b2bGridComponent,formInputHolder,ajaxPanelProductSearch"
        data-url="{{ path('frontend.b2b.b2boffer.edit', { offerId: offer.id.getValue }) }}"
        data-ajax-panel-trigger-reload="offer-grid"
    ></div>
{% endblock %}