{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    bottom: true,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.MasterDataLabel"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% set orderEditable = orderContext.isEditable() %}

        {% block b2b_offerlineitemreference_masterdata_content_inner %}

        {% sw_include "@SwagB2bPlatform/storefront/frontend/b2boffer/master-data/_head.html.twig" %}

        <div class="block-spacer"></div>

        <div class="block-group mt-4">
            <div class="block">
                <h4>
                    {{ "b2b.Activity"|trans }}
                </h4>
                {%
                    sw_include "@SwagB2bPlatform/storefront/frontend/b2boffer/master-data/_general-activity-detail.html.twig"
                    with {
                        'offer': offer
                    } only
                %}
            </div>
            <div class="block">
                <h4>
                    {{ "b2b.ActivityUser"|trans }}
                </h4>
                {%
                    sw_include "@SwagB2bPlatform/storefront/frontend/b2boffer/master-data/_user-activity-detail.html.twig"
                    with {
                        'offer': offer
                    } only
                %}
            </div>
            <div class="block">
                <h4>
                    {{ "b2b.ActivityAdmin"|trans }}
                </h4>
                {%
                    sw_include "@SwagB2bPlatform/storefront/frontend/b2boffer/master-data/_admin-activity-detail.html.twig"
                    with {
                        'offer': offer
                    } only
                %}
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    {%
        sw_include "@SwagB2bPlatform/storefront/frontend/b2boffer/master-data/_footer.html.twig"
        with {
            'offer': offer
        } only
    %}
{% endblock %}
