{% set url = path('frontend.b2b.b2boffer.grid') %}

{% block b2b_offer_grid %}
    <div class="panel--body is--wide b2b--grid-container">
        {% block b2b_offer_grid_form %}
            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2boffer/grid/_grid-form.html.twig' %}
        {% endblock %}

        {% block b2b_offer_grid_table %}
            {%
                sw_include '@SwagB2bPlatform/storefront/frontend/b2boffer/grid/_grid-table.html.twig'
                with {
                    messageEmptyList: 'NoResults'
                }
            %}
        {% endblock %}
    </div>
{% endblock %}