{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block b2blayout_content %}
    {# @deprecated tag:v4.6.0 - will be removed without replacement #}
    {% block b2b_offer_panel %}
        {# @deprecated tag:v4.6.0 - will be removed. Use "b2b_offer_title" instead #}
        {% block b2b_offer_panel_title %}{% endblock %}
        {# @deprecated tag:v4.6.0 - will be removed without replacement #}
        {% block b2b_offer_panel_body %}{% endblock %}
    {% endblock %}

    <div class="module-offer">
        {% block b2b_offer_title %}
            <h2>{{ "b2b.Offer"|trans }}</h2>
        {% endblock %}

        {% block b2b_offer_grid %}
            <div
                class="b2b--ajax-panel has--b2b-form"
                data-id="offer-grid"
                data-url="{{ path('frontend.b2b.b2boffer.grid') }}"
                data-plugins="gridComponent"
            ></div>
        {% endblock %}

        {% block b2b_offer_modal %}
            <div
                class="is--b2b-ajax-panel b2b--ajax-panel b2b-modal-panel"
                data-id="offer-detail"
            ></div>
        {% endblock %}
    </div>
{% endblock %}
