{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block b2blayout_content %}
    <div class="module--offer">
        <div class="panel">
            {% block b2b_offer_panel %}

                <div class="panel--title is--underline">
                    <div class="block-group b2b--block-panel">
                        {% block b2b_offer_panel_title %}
                            <div class="block block--title">
                                {{ "b2b.Offer"|trans }}
                            </div>
                        {% endblock %}
                    </div>
                </div>

                {% block b2b_offer_panel_body %}
                    <div class="panel--body">
                        {% block b2b_offer_grid %}
                            <div
                                class="b2b--ajax-panel has--b2b-form"
                                data-id="offer-grid"
                                data-url="{{ path('frontend.b2b.b2boffer.grid') }}"
                                data-plugins="gridComponent"
                            ></div>
                        {% endblock %}
                    </div>
                {% endblock %}

            {% endblock %}
        </div>
    </div>

    {% block b2b_offer_modal %}
        <div
            class="is--b2b-ajax-panel b2b--ajax-panel b2b-modal-panel"
            data-id="offer-detail"
        ></div>
    {% endblock %}
{% endblock %}