{% block element_accordion %}
    <div class="cms-element-{{ element.type }}">
        {% set elementId = 'element_' ~ element.id %}
        {% set headerId = 'header' ~ elementId %}
        {% set collapseId = 'collapse' ~ elementId %}

        <div class="accordion" id="{{ elementId }}">
            <div class="card">
                <div class="card-header" id="{{ headerId }}">
                    <button class="btn btn-block btn-link accordion-link collapsed" type="button" data-toggle="collapse" data-target="#{{ collapseId }}" aria-expanded="false" aria-controls="{{ collapseId }}">
                        {{ element.config.accordionTitle.value }}

                        {% sw_icon 'plus' %}
                        {% sw_icon 'minus' %}
                    </button>
                </div>

                <div id="{{ collapseId }}" class="collapse" aria-labelledby="{{ headerId }}" data-parent="#{{ elementId }}">
                    <div class="card-body">
                        <div class="row">
                        {% for item in element.config.accordionVideoItems.value %}
                            {% set videoUrl = 'https://www.youtube.com/embed/' ~ item.youtubeId ~ '?' ~ 'rel=0' %}
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <iframe src="{{ videoUrl }} "
                                        width="100%"
                                        height="170"
                                        frameborder="0"
                                        allowfullscreen="allowfullscreen">
                                </iframe>
                                <p class="cms-element-accordion-video-name">{{ item.name }}</p>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
