{% sw_extends '@Storefront/storefront/element/cms-element-image-gallery.html.twig' %}

{% block element_image_gallery_inner %}
    {% if galleryPosition == "underneath" %}
        {% set gallerySliderOptions = gallerySliderOptions|replace_recursive({
            thumbnailSlider: {
                controls: true
            }
        }) %}
    {% endif %}

    {{ parent() }}
{% endblock %}

{% block element_image_gallery_inner_thumbnails_controls %}
    {{ parent() }}

    {% if galleryPosition == "underneath" %}
        <div data-thumbnail-slider-controls="true" class="gallery-slider-thumbnails-controls">
            <button class="base-slider-controls-prev gallery-slider-thumbnails-controls-prev">
                {% sw_icon 'arrow-head-left' %}
            </button>
            <button class="base-slider-controls-next gallery-slider-thumbnails-controls-next">
                {% sw_icon 'arrow-head-right' %}
            </button>
        </div>
    {% endif %}
{% endblock %}
