{% sw_extends '@Storefront/storefront/element/cms-element-image.html.twig' %}

{% block element_image_media %}
    {% set attributes = {
        'class': 'cms-image',
        'alt': (element.data.media.translated.alt ?: ''),
        'title': (element.data.media.translated.title ?: ''),
        'style': 'max-width:' ~ element.translated.config.maxWidth.value ?: '100%'
    } %}

    {% if element.translated.config.displayMode.value == 'cover' or element.translated.config.displayMode.value == 'contain' %}
        {% set attributes = attributes|merge({ 'data-object-fit': element.translated.config.displayMode.value }) %}
    {% endif %}

    {% if element.translated.config.lightbox.value == true %}
        {% set attributes = attributes|merge({
            'class': attributes.class ~ ' modal-click-img',
            'data-toggle': 'modal',
            'data-target': '#modal' ~ element.id
        }) %}
    {% endif %}

    {% sw_thumbnails 'cms-image-thumbnails' with {
        media: element.data.media
    } %}

    {% if element.translated.config.textActive.value == true %}
        <div class="cms-image-container-text">
            {{ element.translated.config.text.value|raw }}
        </div>
    {% endif %}
{% endblock %}

{% set element_product_slider_alignment_block %}
    {% set config = element.fieldConfig.elements %}

    {% block element_product_slider_alignment %}
        {{ parent() }}
    {% endblock %}
{% endset %}

{% block element_image %}
    {% set config = element.fieldConfig.elements %}

    <div class="cms-element-{{ element.type }}
        {% if config.verticalAlign.value or config.horizontalAlign.value %}has-vertical-alignment{% endif %}
        {% if config.horizontalAlign.value == "center" %}justify-content-center{% endif %}
        {% if config.horizontalAlign.value == "right" %}justify-content-end{% endif %}">
        {{ element_product_slider_alignment_block }}
    </div>

    {% if element.translated.config.lightbox.value == true %}
        <div class="modal image-modal fade" id="modal{{ element.id }}" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header only-close">
                        <button type="button"
                                class="modal-close close"
                                data-dismiss="modal"
                                aria-label="Close"
                        >
                            <span aria-hidden="true">
                                {% sw_icon 'x' style { 'size': 'lg' } %}
                            </span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% sw_thumbnails 'cms-image-thumbnails' with {
                            media: element.data.media
                        } %}
                        <div class="">
                            {{ config.lightboxText.value|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
