{% sw_extends '@Storefront/storefront/element/cms-element-image-slider.html.twig' %}

{% block element_image_slider_inner_item %}
    {# applies custom content to imageElement variable #}
    {% set imageElement %}
        {{ imageElement }}

        {% set sliderItem = sliderConfig.sliderItems.value[loop.index0] %}
        {% if sliderItem.textActive and sliderItem.text %}
            <div class="cms-image-container-text">
                {{ sliderItem.text|raw }}
            </div>
        {% endif %}
    {% endset %}

    {{ parent() }}
{% endblock %}
