{% sw_extends '@Storefront/storefront/element/cms-element-sidebar-filter.html.twig' %}

 {% block element_product_listing_filter_button_icon %}
     {% sw_icon 'sliders-horizontal' style {'size': 'xs'} %}
 {% endblock %}

{% block element_sidebar_filter %}
    <div class="row cms-element-filter-row">
        <div class="cms-element-filter-col col-sm-6 col-lg-6 d-xl-none">
            <a href="javascript:void(0);" class="btn btn-block btn-sm filter-toggle-btn">
                {% sw_icon 'sliders-horizontal' style {'size': 'xs'} %}
                {{ "listing.filterTitleText"|trans }}
            </a>
        </div>
    </div>
    <div data-filter-toggle="true" class="filter-container">
        {{ parent() }}
    </div>
{% endblock %}
