{% block element_accordion %}
    {% set config = element.fieldConfig.elements %}

    <div class="cms-element-{{ element.type }}">
        {% set elementId = 'element_' ~ element.id %}
        <div class="accordion" id="{{ elementId }}">
            {% for item in element.config.accordionItems.value %}
                {% set headerId = 'header' ~ item.id %}
                {% set collapseId = 'collapse' ~ item.id %}

                <div class="card">
                    <div class="card-header" id="{{ headerId }}">
                        <button class="btn btn-block btn-link accordion-link collapsed" type="button" data-toggle="collapse" data-target="#{{ collapseId }}" aria-expanded="false" aria-controls="{{ collapseId }}">
                            {{ item.title }}

                            {% sw_icon 'plus' %}
                            {% sw_icon 'minus' %}
                        </button>
                    </div>

                    <div id="{{ collapseId }}" class="collapse" aria-labelledby="{{ headerId }}" data-parent="#{{ elementId }}">
                        <div class="card-body">
                            {{ item.content|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
