{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_ordernumber_container %}
    {{ parent() }}

    {% if context.customer and page.product.extension('ies_files').hasFiles %}
        <div class="product-detail-file-container">
            {% sw_include '@Storefront/storefront/page/product-detail/file.html.twig' %}
        </div>
    {% endif %}
{% endblock %}
