{% block page_product_detail_file_container %}
    <div class="product-detail-files">
        {% block page_product_detail_file_title %}
            <div class="h3 product-detail-files-title">
                {{ "detail.fileTitle"|trans }}
            </div>
        {% endblock %}

        {% block page_product_detail_file_content %}
            <div class="product-detail-files-text">
                {% set totalFiles = page.product.extension('ies_files').count %}

                {% for extension, files in page.product.extension('ies_files').files %}
                    {% if files|length %}
                        {% set translationKey = "file-search.detail.extension" ~ extension|capitalize %}
                        <h5>{{ translationKey|trans }}</h5>

                        {% for file in files %}
                            {% sw_include '@Storefront/storefront/page/file-search/item.html.twig' with {
                                item: file
                            } %}

                            {% if totalFiles > 1 and loop.parent.loop.first %}
                                <div class="collapse" id="collapseFiles">
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {% if totalFiles > 1 %}
                    </div>
                    <button class="btn btn-sm btn-link p-0 collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseFiles"
                        aria-expanded="false"
                        aria-controls="collapseFiles">
                        <span class="inactive-text">
                            {{ "file-search.detail.showMore"|trans }}
                        </span>
                        <span class="active-text">
                            {{ "file-search.detail.showLess"|trans }}
                        </span>
                    </button>
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
