{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header_actions_account %}
    {% if context.customer %}
        <div class="col-auto">
            <a href="{{ path('frontend.wishlist.page') }}"
               class="btn account-menu-btn header-actions-btn">
                {% sw_icon 'heart' style { 'pack': 'feldmann', 'size': 'sm'} %}
                {% set wishListItemCount = page.header.wishListItemCount %}
                <span class="badge badge-primary wish-list-badge{% if not wishListItemCount or wishListItemCount == 0 %} d-none{% endif %}">{{ wishListItemCount }}</span>
                <span class="d-none d-md-inline-block header-action-name">{{ "account.wishlist"|trans|sw_sanitize }}</span>
            </a>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
