{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true,
    actions: false,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.ContingentManagement"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-message.html.twig" %}

    <div data-id="error-list"></div>

    {% block b2b_rolecontingentgroup_grid %}
        <form
            action="{{ path('frontend.b2b.b2brolecontingentgroup.index') }}"
            method="post"
            class="form--inline has--b2b-form {{ b2b_acl('b2brolecontingentgroup', 'index') }}"
        >
            <div class="b2b-table__actions">
                {% block b2b_rolecontingentgroup_actions %}
                    {{ sw_csrf('frontend.b2b.b2brolecontingentgroup.index') }}

                    <input type="hidden" name="roleId" value="{{ roleId }}"/>

                    {% block b2b_rolecontingentgroup_actions_sort %}
                        <div class="col-sort">
                            <div class="select-field">
                                <select name="sort-by" class="is--auto-submit custom-select">
                                    <option value="" selected="selected">
                                        {{ "b2b.SortBy"|trans }}
                                    </option>
                                    <option value="name::asc"{% if gridState.sortBy is same as('name::asc') %} selected="selected"{% endif %}>{{ "b2b.NameAsc"|trans }}</option>
                                    <option value="name::desc"{% if gridState.sortBy is same as('name::desc') %} selected="selected"{% endif %}>{{ "b2b.NameDesc"|trans }}</option>
                                </select>
                            </div>
                        </div>
                    {% endblock %}

                    {% block b2b_rolecontingentgroup_actions_search %}
                        <div class="col-search">
                            <div class="search--area">
                                <input type="hidden" name="filters[all][field-name]" value="_all_">
                                <input type="hidden" name="filters[all][type]" value="like">
                                <div class="input-group">
                                    <input
                                            type="text"
                                            name="filters[all][value]"
                                            class="form-control"
                                            value="{{ gridState.searchTerm }}"
                                            placeholder="{{ "b2b.SearchPlaceholder"|trans }}"
                                    >
                                    <div class="input-group-append">
                                        <button
                                                title="{{ "b2b.Search"|trans }}"
                                                type="submit"
                                                value="submit"
                                                class="button--submit btn is--primary is--center"
                                        >
                                            {% sw_icon 'search' %}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                {% endblock %}
            </div>
        </form>

        <div class="table--responsive b2b--management-grid">
            <table class="b2b-table table">
                <thead>
                    {% block b2b_rolecontingentgroup_grid_title %}
                        <tr class="panel--tr row--contingent-selection">
                            <th>
                                <span title="{{ "b2b.IsAllowedToUse"|trans }}">{% sw_icon 'checkmark' %}</span>
                                <span title="{{ "b2b.CanGrantToOther"|trans }}">{% sw_icon 'reply' %}</span>
                            </th>
                            <th class="panel--th panel--label-name">{{ "b2b.NameLabel"|trans }}</th>
                            <th class="panel--th panel--label-description">{{ "b2b.DescriptionLabel"|trans }}</th>
                        </tr>
                    {% endblock %}
                </thead>
                <tbody>
                    {% block b2b_rolecontingentgroup_grid_content %}
                        {% for row in gridState.data %}
                            {% block b2b_rolecontingentgroup_grid_content_row %}
                                <tr class="panel--tr" data-row-id="{{ row.id }}">
                                    <td>
                                        <form
                                            action="{{ path('frontend.b2b.b2brolecontingentgroup.assign') }}"
                                            method="post"
                                            class="b2b--assignment-form ignore--b2b-ajax-panel has--b2b-form {{ b2b_acl('b2brolecontingentgroup', 'assign') }}"
                                            data-target="error-list"
                                        >
                                            {{ sw_csrf('frontend.b2b.b2brolecontingentgroup.assign') }}

                                            <input type="hidden" name="contingentGroupId" value="{{ row.id }}"/>
                                            <input type="hidden" name="assignmentId" value="{{ row.assignmentId }}"/>
                                            <input type="hidden" name="roleId" value="{{ roleId }}"/>

                                            {% block b2b_rolecontingentgroup_grid_content_row_allow %}
                                                <span class="custom-control custom-checkbox">
                                                <input
                                                    type="checkbox"
                                                    name="allow"
                                                    id="allow-{{ row.id.getValue }}"
                                                    value="1"
                                                    {% if row.foreignAllowed %}checked="checked"{% endif %}
                                                    {% if not row.ownerGrantable %}disabled{% endif %}
                                                    class="assign--allow is--auto-submit custom-control-input"
                                                />
                                                <label
                                                    for="allow-{{ row.id.getValue }}"
                                                    class="custom-control-label"
                                                ></label>
                                            </span>
                                            {% endblock %}

                                            {% block b2b_rolecontingentgroup_grid_content_row_grantable %}
                                                <span class="custom-control custom-checkbox">
                                                <input
                                                    type="checkbox"
                                                    name="grantable"
                                                    id="grantable-{{ row.id.getValue }}"
                                                    value="1"
                                                    {% if row.foreignGrantable %}checked="checked"{% endif %}
                                                    {% if not row.ownerGrantable %}disabled{% endif %}
                                                    class="assign--grantable is--auto-submit custom-control-input"
                                                />
                                                <label
                                                    for="grantable-{{ row.id.getValue }}"
                                                    class="custom-control-label"
                                                ></label>
                                            </span>
                                            {% endblock %}
                                        </form>
                                    </td>

                                    {% block b2b_rolecontingentgroup_grid_content_row_info %}
                                        <td class="text-left">{{ row.name }}</td>
                                        <td class="text-left">{{ row.description }}</td>
                                    {% endblock %}
                                </tr>
                            {% endblock %}
                        {% endfor %}
                    {% endblock %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    {% if gridState.data|length %}
        <form
            action="{{ path('frontend.b2b.b2brolecontingentgroup.index') }}"
            method="get"
            class="form--inline"
        >
            {% block b2b_rolecontingentgroup_pagination %}
                <input type="hidden" name="roleId" value="{{ role.id }}" />

                {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
            {% endblock %}
        </form>
    {% endif %}
{% endblock %}
