{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_delivery_informations %}
    {% if context.customer %}
        <div class="product-detail-action-link" {% if context.customer %}data-wish-list-detail="true"{% endif %}>
            {% set wishlistText = 'detail.action.wishlist'|trans|sw_sanitize %}

            {% if page.productInWishList %}
                {% set wishListAction = path('frontend.wishlist.remove') %}
            {% else %}
                {% set wishListAction = path('frontend.wishlist.add') %}
            {% endif %}

            {% if context.customer %}
                {% set wishListLink = '#' %}
            {% else %}
                {% set redirectParameters = {
                    productId: page.product.id
                }%}
                {% set wishListLink = path('frontend.account.login.page', {'redirectTo': 'frontend.detail.page', 'redirectParameters': redirectParameters|json_encode}) %}
            {% endif %}

            <form class="wish-list-form" action="{{ wishListAction }}" method="post">
                <input type="hidden" name="productId" value="{{ page.product.id }}">
                <a href="{{ wishListLink }}" title="{{ wishlistText }}" class="wish-list-link">
                    {% sw_icon 'heart' style { 'pack': 'feldmann'} %}
                    {{ wishlistText }}
                </a>
            </form>
        </div>
    {% endif %}

    {{ parent() }}
{% endblock %}
