{% block b2b_company_filter %}
    <div class="companyFilterTypeContainer">
        <input type="hidden" name="roleId" value="{{ companyFilter.roleId }}"/>
        <select name="companyFilterType" class="is--auto-submit custom-select w-auto">
            {% block b2b_company_filter_options %}
                {% if companyFilter.level %}
                    <option value="assignment" {% if companyFilter.companyFilterType == "assignment" %}selected{% endif %}>{{ "b2b.FilterAssignment"|trans }}</option>
                    {% if hide == false %}
                        <option value="acl" {% if companyFilter.companyFilterType == "acl" %}selected{% endif %}>{{ "b2b.FilterVisibility"|trans }}</option>
                    {% endif %}
                {% endif %}
                <option value="inheritance" {% if companyFilter.companyFilterType == "inheritance" %}selected{% endif %}>{{ "b2b.FilterInheritance"|trans }}</option>
            {% endblock %}
        </select>
    </div>
{% endblock %}
