{% block b2b_company_tab %}
    {% if b2b_acl_check(controller, action) %}
        <form
            action="{{ path('frontend.b2b.'~controller~'.'~action) }}"
            method="get"
            class="ajax-panel-link form--inline is--auto-enable-form"
            data-plugins="gridComponent"
            data-target="company-tab-panel"
        >
            <input
                class="b2b--tree-selection-aware"
                data-id="role-tree"
                type="hidden"
                name="roleId"
                value=""
            >

            <button
                title="{{ snippet }}"
                class="btn btn-outline-primary tab--link {{ b2b_acl(controller, action) }}"
                type="submit"
                disabled
            >
                {{ snippet }}
            </button>
        </form>
    {% endif %}
{% endblock %}
