{% block b2b_company_default_tab %}
    <div class="b2b--role-default-container">
        <div class="info--baloon">
            <span class="baloon--icon">
                {% sw_icon 'pencil-brush' %}
            </span>
            <h2>{{ "b2b.PleaseSelectARole"|trans }}</h2>
            <p>{{ "b2b.PleaseSelectARoleDescription"|trans }}</p>
        </div>
    </div>
{% endblock %}