{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block b2blayout_content %}
    {% if b2b_acl_check('b2brole', 'index') %}
        <div class="panel b2b--main-panel">
            <div class="panel--body is--wide company-container">
                {% block b2b_company_role %}
                    {% if b2b_acl_check('b2brole', 'index') %}
                        <div
                            class="block b2b--ajax-panel role-block"
                            data-url="{{ path('frontend.b2b.b2brole.index') }}"
                            data-plugins="treeSelect"
                        ></div>
                    {% endif %}
                {% endblock %}

                {% block b2b_company_tab %}
                    <div
                        class="b2b--tab-menu js--tab-menu tab-block"
                        data-default-tab-url="{{ path('frontend.b2b.b2bcompany.defaultTab') }}"
                    >
                        {% if
                            b2b_acl_check('b2bcontact', 'index')
                            or b2b_acl_check('b2baddress', 'billing')
                            or b2b_acl_check('b2baddress', 'shipping')
                            or b2b_acl_check('b2bbudget', 'index')
                            or b2b_acl_check('b2bcontingentgroup', 'index')
                        %}
                            {% block b2b_company_tab_inner %}
                                <div class="tab--navigation">
                                    {% block b2b_company_navigation_contact_entry %}
                                        {% if b2b_acl_check('b2bcontact', 'index') %}
                                            {%
                                                sw_include '@SwagB2bPlatform/storefront/frontend/b2bcompany/_tab.html.twig'
                                                with {
                                                    'controller': 'b2bcontact',
                                                    'action': 'index',
                                                    'snippet': ('b2b.ContactsLabel'|trans)
                                                } only
                                            %}
                                        {% endif %}
                                    {% endblock %}

                                    {% block b2b_company_navigation_billing_address_entry %}
                                        {% if b2b_acl_check('b2baddress', 'billing') %}
                                            {%
                                                sw_include '@SwagB2bPlatform/storefront/frontend/b2bcompany/_tab.html.twig'
                                                with {
                                                    'controller': 'b2baddress',
                                                    'action': 'billing',
                                                    'snippet': ('b2b.BillingAddresses'|trans)
                                                } only
                                            %}
                                        {% endif %}
                                    {% endblock %}

                                    {% block b2b_company_navigation_shipping_address_entry %}
                                        {% if b2b_acl_check('b2baddress', 'shipping') %}
                                            {%
                                                sw_include '@SwagB2bPlatform/storefront/frontend/b2bcompany/_tab.html.twig'
                                                with {
                                                    'controller': 'b2baddress',
                                                    'action': 'shipping',
                                                    'snippet': ('b2b.ShippingAddresses'|trans)
                                                } only
                                            %}
                                        {% endif %}
                                    {% endblock %}

                                    {% block b2b_company_navigation_budget_entry %}
                                        {% if b2b_acl_check('b2bbudget', 'index') %}
                                            {%
                                                sw_include '@SwagB2bPlatform/storefront/frontend/b2bcompany/_tab.html.twig'
                                                with {
                                                    'controller': 'b2bbudget',
                                                    'action': 'index',
                                                    'snippet': ('b2b.Budgets'|trans)
                                                } only
                                            %}
                                        {% endif %}
                                    {% endblock %}

                                    {% block b2b_company_navigation_contingent_entry %}
                                        {% if b2b_acl_check('b2bcontingentgroup', 'index') %}
                                            {%
                                                sw_include '@SwagB2bPlatform/storefront/frontend/b2bcompany/_tab.html.twig'
                                                with {
                                                    'controller': 'b2bcontingentgroup',
                                                    'action': 'index',
                                                    'snippet': ('b2b.Contingents'|trans)
                                                }  only
                                            %}
                                        {% endif %}
                                    {% endblock %}
                                </div>

                                <div class="tab--container-list">
                                    <div
                                        class="tab--container b2b--ajax-panel b2b--sync-height has--b2b-form"
                                        data-id="company-tab-panel"
                                        data-plugins="gridComponent"
                                        data-sync-group="company"
                                    >
                                        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bcompany/default_tab.html.twig' %}
                                    </div>
                                </div>
                            {% endblock %}
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% else %}
        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bacl/error.html.twig' %}
    {% endif %}
{% endblock %}
