{% block vio_customer_price_collective_entry %}
<sw-modal
    :title="$tc('vio-customer-price.list.collectiveEntry')"
    @modal-close="$emit('modal-close')"
>
    <sw-container v-if="!isLoading">
        <sw-alert variant="error" :showIcon="true" :closable="false" v-if="showAlert">
            {{ $tc('vio-customer-price.collectiveEntry.entryError') }}
        </sw-alert>
        <sw-field :label="$t('vio-customer-price.detail.quantityStartLabel')" v-model="quantityStart" type="number"></sw-field>
        <sw-field :label="$t('vio-customer-price.detail.priceLabel')" v-model="price" type="number" min="0"></sw-field>
        <sw-field :label="$t('vio-customer-price.detail.discountLabel')" v-model="discount" type="number"></sw-field>

        <sw-entity-multi-select
            :label="$t('vio-customer-price.detail.assignProductLabel')"
            :entityCollection="productCollection"
            @change="onChangeProducts"
            v-if="productId == null"
        >
            <template #selection-label-property="{ item }">
                {{ item.translated.name }} ({{ item.productNumber }})
            </template>
            <template #result-label-property="{ item }">
                {{ item.translated.name }} ({{ item.productNumber }})
            </template>
        </sw-entity-multi-select>


        <sw-entity-multi-select
            :label="$t('vio-customer-price.detail.assignCustomerLabel')"
            :entityCollection="customerCollection"
            @change="onChangeCustomers"
            v-if="customerId == null"
        >
            <template #selection-label-property="{ item }">
                {{ item.company }} {{ item.firstName }} {{ item.lastName }} ({{ item.customerNumber }})
            </template>
            <template #result-label-property="{ item }">
                {{ item.company }} {{ item.firstName }} {{ item.lastName }} ({{ item.customerNumber }})
            </template>
        </sw-entity-multi-select>

        <sw-button
            @click="onSave()"
            variant="primary"
            :disabled="!acl.can('vio_customer_price.creator')"
            v-tooltip="{
                                message: $tc('sw-privileges.tooltip.warning'),
                                disabled: acl.can('vio_customer_price.creator'),
                                showOnDisabledElements: true
                    }"
        >
            {{ $tc('global.default.save') }}
        </sw-button>
    </sw-container>

    <sw-container v-if="isLoading">
        <sw-progress-bar :value="actualProgress" :maxValue="maxProgress" />
        <sw-label>
            {{ actualProgress }} / {{ maxProgress }}
        </sw-label>
    </sw-container>

</sw-modal>
{% endblock %}
