{% sw_extends '@Storefront/storefront/layout/header/account-menu.html.twig' %}

{% block layout_header_actions_account_widget_dropdown_header %}
    {% if not context.customer.guest %}
        <div class="dropdown-header account-menu-header">
            {{ "account.labelLogin"|trans|sw_sanitize }}
        </div>
    {% endif %}
{% endblock %}

{% block layout_header_actions_account_widget_dropdown_login %}
    {% if not context.customer %}
        <div class="account-menu-login">
            {% sw_include '@Storefront/storefront/component/account/login_flyout.html.twig' with {
                redirectTo: 'frontend.account.home.page'
            } %}

            <div class="account-menu-register">
                {{ "account.orRegister"|trans|sw_sanitize }}
                <a href="{{ path('frontend.account.login.page') }}" title="{{ "account.orRegisterLink"|trans|striptags }}">
                    {{ "account.orRegisterLink"|trans|striptags }}
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block layout_header_actions_account_widget_dropdown_links %}{% endblock %}
