{% sw_extends '@Storefront/storefront/layout/header/header-minimal.html.twig' %}

{% block layout_header_minimal_contact %}
    <div class="col-md-4 header-minimal-contact">
        {{ context.salesChannel.customFields.custom_top_checkout|sw_sanitize }}
    </div>
{% endblock %}