{% sw_extends '@Storefront/storefront/layout/header/search.html.twig' %}

{% block layout_header_search_input %}
    <div class="input-group-append">
        <button type="submit"
                class="btn btn-sm header-search-btn"
                aria-label="{{ "header.searchButton"|trans|striptags }}">
            <span class="header-search-icon">
                {% sw_icon 'search' %}
            </span>
        </button>
    </div>

    {{ parent() }}
{% endblock %}

{% block layout_header_search_button %}{% endblock %}
