{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block layout_search_suggest_result_name %}
    <div class="col search-suggest-product-name">
        {{ product.translated.name }}

        <div class="row">
            <div class="col search-suggest-product-number">
                {{ product.productNumber }}
            </div>
        </div>
    </div>
{% endblock %}

{% block layout_search_suggest_result_price %}
    {% if showPrice %}
        {{ parent() }}
    {% else %}
        <div class="col-auto search-suggest-product-price"></div>
    {% endif %}
{% endblock %}
