{% sw_extends '@Storefront/storefront/layout/header/top-bar.html.twig' %}

{% block layout_header_top_bar %}
    <div class="top-bar d-none d-lg-block">
        <nav class="top-bar-nav">
            <div class="top-bar-nav-center">
                <div class="top-bar-nav-item top-bar-nav-item-service">
                    {% sw_icon 'phone' style { 'pack': 'feldmann', 'size': 'sm'} %}
                    {{ context.salesChannel.customFields.custom_top_mobile }}
                </div>
                <div class="top-bar-nav-item top-bar-nav-item-service">
                    {% sw_icon 'fax' style { 'pack': 'feldmann', 'size': 'sm'} %}
                    {{ context.salesChannel.customFields.custom_top_telephone1 }}
                </div>
                <div class="top-bar-nav-item top-bar-nav-item-service">
                    {% sw_icon 'envelope' style { 'pack': 'feldmann', 'size': 'sm'} %}
                    {{ context.salesChannel.customFields.custom_top_email }}
                </div>
                <div class="top-bar-nav-item top-bar-nav-item-service">
                    {% sw_icon 'whatsapp' style { 'pack': 'feldmann', 'size': 'sm'} %}
                    {{ context.salesChannel.customFields.custom_top_whatsapp }}
                </div>
            </div>

            <div class="top-bar-nav-right flex-right">
                <div class="is--right">
                    {% sw_include "@Storefront/storefront/layout/navigation/subshops.html.twig" %}
                </div>
            </div>
        </nav>
    </div>
{% endblock %}
