{% sw_extends '@Storefront/storefront/element/cms-element-image-gallery.html.twig' %}

{% block element_image_gallery_inner_thumbnails_items %}
    {{ parent() }}

    {% if hasDddViewer %}
        <div class="gallery-slider-thumbnails-item"
             data-ddd-viewer="true"
             data-ddd-viewer-options='{"articleNumber": "{{ page.product.productNumber }}"}'
        >
            <div class="gallery-slider-thumbnails-item-inner">
                <img src="{{ asset('bundles/dddviewer/assets/img/360view.png') }}" />
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block element_image_gallery_inner_zoom_modal_wrapper %}
    {{ parent() }}

    {% if hasDddViewer %}
        <div class="ddd-modal-wrapper">
            <div class="modal js-ddd-modal"
                 data-image-zoom-modal="true"
                 tabindex="-1"
                 role="dialog"
            >
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ "ddd-viewer.modal.title"|trans }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">
                                    {% sw_icon 'x' style { 'size': 'sm' } %}
                                </span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <div id="dddviewer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
