<p>
    Hello {{ clearance.postalSettings.salutation }} {{ clearance.postalSettings.lastName }},<br/>
    <br/>
    Your order with the order number {{ orderNumber }} has been accepted!<br/>
    <br/>
    You can also check the current status of your order on our website under "My Account" - "Orders" at any time.
</p>
