<p>
    Hallo {{ clearance.postalSettings.salutation }} {{ clearance.postalSettings.lastName }}<br/>
    <br/>
    Ihre Bestellung mit der Bestellnummer {{ orderNumber }} wurde akzeptiert!<br/>
    <br/>
    Den aktuellen Status Ihrer Bestellung können Sie auch jederzeit auf unserer Webseite im Bereich "Mein Konto" -
    "Bestellungen" abrufen.
</p>
