Hallo {{ clearance.postalSettings.salutation }} {{ clearance.postalSettings.lastName }}},

Ihre Bestellung mit der Bestellnummer {{ orderNumber }} wurde akzeptiert!

Den aktuellen Status Ihrer Bestellung können Sie auch jederzeit auf unserer Webseite im Bereich "Mein Konto" - "Bestellungen" abrufen.
