.b2b-order-overview {

  .content--inner {
    border-bottom: 1px solid $border-color;

    @include unitize(margin-bottom, 20);
  }

  .block-group {
    clear: left;

    td > span {
      float: left;
      width: 33.33%;

      @include unitize-padding(10);
    }
  }

  .panel {
    @include unitize-padding(4, 20);

    .panel--title {
      font-weight: $font-weight-light;

      @include unitize(font-size, 16);

      @include unitize(margin-bottom, 10);
    }

    .panel--body {
      line-height: 1.5;

      @include unitize(font-size, 14);

      table {
        width: 100%;

        @include unitize-margin(20, 0, 0, 0);

        tr {

          td {

            &:first-child {
              font-weight: $font-weight-bold;
            }
          }
        }
      }
    }
  }

  input,
  textarea {
    width: 100%;
  }

  textarea {
    min-height: 80px;
  }

  .b2b-order-overview--sales-rep,
  .panel--title {
    @include unitize(padding-left, 10);
  }
}

.positions-grid {

  .modal--col-available {
    position: relative;
    text-align: center;

    .circle {
      border-radius: 50%;
      box-shadow: 0 0 5px rgba(0, 0, 0, .2);

      @include unitize-width(20);

      @include unitize-height(20);

      &.color--available {
        background: $highlight-success;
      }

      &.color--not-completely-available {
        background: $highlight-warning;
      }

      &.color--unavailable {
        background: $highlight-error;
      }
    }
  }
}

@include minWidth("tablet") {

  .b2b-order-overview {

    .block-group {

      .b2b-original-price,
      .b2b-offer-price,
      .b2b-user-activity,
      .b2b-admin-activity,
      .b2b-shipping-address,
      .b2b-billing-address,
      .b2b-shipping,
      .b2b-billing {
        float: left;
        width: 50%;
      }
    }
  }

  .positions-grid {

    .modal--col-available {

      .circle {
        display: inline-block;
        vertical-align: middle;
      }
    }
  }
}

@include maxWidth("mobile") {

  .module--order {

    .info-icon--container {
      position: relative;

      @include unitize(margin-left, 8);

      @include unitize(top, -4);
    }
  }

  .line-item--column-comment {

    > form {
      width: 100%;
    }
  }
}

.order--line-item-new {
  textarea {
    min-height: 140px;
  }
}
