{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail-list-item.html.twig' %}

{% block page_account_order_item_detail_variants %}
	{{ parent() }}

    {% if lineItem.payload.cutOff != null %}
        <div class="order-item-cutoff">
            {% set cuts = lineItem.payload.cutOff %}
            <b>{{ "cart.lengthLabel"|trans|sw_sanitize }} : </b>

            {% for items in cuts %}
                {{ items }}mm
                {% if not loop.last %},{% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
