{% block sw_cms_element_image_slider_config_settings_link_target %}
    {% parent %}

    <sw-field v-model="sliderItem.textActive"
              type="switch"
              :name="sliderItem.mediaId + 'textActive'"
              :label="$tc('sw-cms.elements.imageSlider.config.label.textActive')">
    </sw-field>

    <sw-cms-mapping-field :label="$tc('sw-cms.elements.imageSlider.config.label.text')"
                          valueTypes="string"
                          v-model="sliderItem.text"
    >
        <sw-text-editor v-model="sliderItem.text"></sw-text-editor>
    </sw-cms-mapping-field>
{% endblock %}
