{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    bottom: true,
    actions: true,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {% if type is same as('billing') %}
        {{ 'b2b.BillingAddresses'|trans }}
    {% elseif type is same as('shipping') %}
        {{ 'b2b.ShippingAddresses'|trans }}
    {% endif %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}
    <form
        action="{{ path('frontend.b2b.b2bcontactaddress.grid') }}"
        method="get"
        class="form--inline"
    >
        <input
            type="hidden"
            name="contactId"
            value="{{ contact.id }}"
        >
        <input
            type="hidden"
            name="type"
            value="{{ type }}"
        >

        {% block b2b_contactaddress_sort_by %}
            <div class="action--sort">
                <div class="select-field">
                    <select
                        name="sort-by"
                        class="is--auto-submit custom-select"
                    >
                        {% block b2b_contactaddress_sort_by_options %}
                            <option
                                value=""
                                selected="selected"
                            >
                                {{ 'b2b.SortBy'|trans }}
                            </option>
                            <option
                                value="company::asc"{% if gridState.sortBy is same as('company::asc') %}
                                selected="selected"{% endif %}
                            >
                                {{ 'b2b.CompanyAsc'|trans }}
                            </option>
                            <option
                                value="company::desc"{% if gridState.sortBy is same as('company::desc') %}
                                selected="selected"{% endif %}
                            >
                                {{ 'b2b.CompanyDesc'|trans }}
                            </option>
                            <option
                                value="street::asc"{% if gridState.sortBy is same as('street::asc') %}
                                selected="selected"{% endif %}
                            >
                                {{ 'b2b.StreetAsc'|trans }}
                            </option>
                            <option
                                value="street::desc"{% if gridState.sortBy is same as('street::desc') %}
                                selected="selected"{% endif %}
                            >
                                {{ 'b2b.StreetDesc'|trans }}
                            </option>
                            <option
                                value="zipcode::asc"{% if gridState.sortBy is same as('zipcode::asc') %}
                                selected="selected"{% endif %}
                            >
                                {{ 'b2b.ZipcodeAsc'|trans }}
                            </option>
                            <option
                                value="zipcode::desc"{% if gridState.sortBy is same as('zipcode::desc') %}
                                selected="selected"{% endif %}
                            >
                                {{ 'b2b.ZipcodeDesc'|trans }}
                            </option>
                            <option
                                value="city::asc"{% if gridState.sortBy is same as('city::asc') %}
                                selected="selected"{% endif %}
                            >
                                {{ 'b2b.CityAsc'|trans }}
                            </option>
                            <option
                                value="city::desc"{% if gridState.sortBy is same as('city::desc') %}
                                selected="selected"{% endif %}
                            >
                                {{ 'b2b.CityDesc'|trans }}
                            </option>
                        {% endblock %}
                    </select>
                </div>
            </div>
        {% endblock %}

        {% block b2b_contactaddress_filter %}
            <div class="action--search">
                <div class="search--area">
                    <input
                        type="hidden"
                        name="filters[all][field-name]"
                        value="_all_"
                    >
                    <input
                        type="hidden"
                        name="filters[all][type]"
                        value="like"
                    >
                    <input
                        type="text"
                        name="filters[all][value]"
                        class="form-control"
                        value="{{ gridState.searchTerm }}"
                        placeholder="{{ 'b2b.SearchPlaceholder'|trans }}">

                    <button
                        title="{{ 'b2b.Search'|trans }}"
                        type="submit"
                        value="submit"
                        class="button--submit btn is--primary is--center"
                    >
                        {% sw_icon 'search' %}
                    </button>
                </div>
            </div>
        {% endblock %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% block b2b_contactaddress_messages %}
        {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-message.html.twig' %}
    {% endblock %}

    {% block b2b_contactaddress_grid %}
        {% if addresses %}
            {% block b2b_contactaddress_grid_head %}
                <div class="panel--tr row--address-selection">
                    <div class="panel--th panel--icon">
                        <span title="{{ 'b2b.GrantRight'|trans }}">
                            {% sw_icon 'checkmark' %}
                        </span>
                    </div>
                    <div class="panel--th panel--icon">
                        <span title="{{ 'b2b.InheritRight'|trans }}">
                            {% sw_icon 'reply' %}
                        </span>
                    </div>
                    <div class="panel--th panel--label-company">{{ 'b2b.CompanyLabel'|trans }}</div>
                    <div class="panel--th panel--label-street">{{ 'b2b.StreetLabel'|trans }}</div>
                    <div class="panel--th panel--label-zipcode">{{ 'b2b.ZipcodeLabel'|trans }}</div>
                    <div class="panel--th panel--label-city">{{ 'b2b.CityLabel'|trans }}</div>
                </div>
            {% endblock %}

            {% block b2b_contactaddress_grid_body %}
                {% for address in addresses %}
                    {% block b2b_contactaddress_grid_body_row %}
                        <form
                            action="{{ path('frontend.b2b.b2bcontactaddress.assign') }}"
                            method="post"
                            class="b2b--assignment-form ignore--b2b-ajax-panel has--b2b-form {{ b2b_acl('b2bcontactaddress', 'assign') }}"
                        >
                            {% block b2b_contactaddress_grid_body_row_inner %}
                                {{ sw_csrf('frontend.b2b.b2bcontactaddress.assign') }}

                                <input
                                    type="hidden"
                                    name="contactId"
                                    value="{{ contact.id }}"
                                />
                                <input
                                    type="hidden"
                                    name="addressId"
                                    value="{{ address.id.getValue }}"
                                />
                                <input
                                    type="hidden"
                                    name="type"
                                    value="{{ type }}"
                                />

                                <div class="row--address row--address-selection panel--tr">
                                    <div class="panel--td panel--icon panel--col-checkbox">
                                        <span class="custom-control custom-checkbox">
                                            <input
                                                type="checkbox"
                                                name="allow"
                                                id="allow-{{ address.id.getValue }}"
                                                value="1"
                                                {% if address.foreignAllowed %}checked="checked"{% endif %}
                                                {% if not address.ownerGrantable %}disabled{% endif %}
                                                class="assign--allow is--auto-submit custom-control-input"
                                            />
                                            <label
                                                for="allow-{{ address.id.getValue }}"
                                                class="custom-control-label"
                                            ></label>
                                        </span>
                                    </div>
                                    <div class="panel--td panel--icon panel--col-checkbox">
                                        <span class="custom-control custom-checkbox">
                                            <input
                                                type="checkbox"
                                                name="grantable"
                                                id="grantable-{{ address.id.getValue }}"
                                                value="1"
                                                {% if address.foreignGrantable %}checked="checked"{% endif %}
                                                {% if not address.ownerGrantable %}disabled{% endif %}
                                                class="assign--grantable is--auto-submit custom-control-input"
                                            />
                                            <label
                                                for="grantable-{{ address.id.getValue }}"
                                                class="custom-control-label"
                                            ></label>
                                        </span>
                                    </div>

                                    <div class="panel--td panel--label-company">{{ address.company }}</div>
                                    <div class="panel--td panel--label-street">{{ address.street }}</div>
                                    <div class="panel--td panel--label-zipcode">{{ address.zipcode }}</div>
                                    <div class="panel--td panel--label-city">{{ address.city }}</div>
                                </div>
                            {% endblock %}
                        </form>
                    {% endblock %}
                {% endfor %}
            {% endblock %}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    {% if gridState.maxPage %}
        <form
            action="{{ path('frontend.b2b.b2bcontactaddress.grid') }}"
            method="get"
            class="form--inline"
        >
            <input
                type="hidden"
                name="contactId"
                value="{{ contact.id }}"
            >
            <input
                type="hidden"
                name="type"
                value="{{ type }}"
            >

            {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
        </form>
    {% endif %}
{% endblock %}
