{% sw_extends '@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig' %}

{% set modalSettings = {
    bottom: true,
    actions: false,
    content: {
        padding: false
    }
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {% if type is same as('billing') %}
        {{ 'b2b.BillingAddresses'|trans }}
    {% elseif type is same as('shipping') %}
        {{ 'b2b.ShippingAddresses'|trans }}
    {% endif %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_actions_inner %}{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    {% block b2b_contactaddress_messages %}
        {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-message.html.twig' %}
    {% endblock %}

    <form
        action="{{ path('frontend.b2b.b2bcontactaddress.grid') }}"
        method="get"
        class="form--inline"
    >
        <input type="hidden" name="contactId" value="{{ contact.id }}">
        <input type="hidden" name="type" value="{{ type }}">

        <div class="b2b-table__actions">
            {% block b2b_contactaddress_sort_by %}
                <div class="col-sort">
                    <div class="select-field">
                        <select
                            name="sort-by"
                            class="is--auto-submit custom-select"
                        >
                            {% block b2b_contactaddress_sort_by_options %}
                                <option
                                    value=""
                                    selected="selected"
                                >
                                    {{ 'b2b.SortBy'|trans }}
                                </option>
                                <option
                                    value="company::asc"{% if gridState.sortBy is same as('company::asc') %}
                                    selected="selected"{% endif %}
                                >
                                    {{ 'b2b.CompanyAsc'|trans }}
                                </option>
                                <option
                                    value="company::desc"{% if gridState.sortBy is same as('company::desc') %}
                                    selected="selected"{% endif %}
                                >
                                    {{ 'b2b.CompanyDesc'|trans }}
                                </option>
                                <option
                                    value="street::asc"{% if gridState.sortBy is same as('street::asc') %}
                                    selected="selected"{% endif %}
                                >
                                    {{ 'b2b.StreetAsc'|trans }}
                                </option>
                                <option
                                    value="street::desc"{% if gridState.sortBy is same as('street::desc') %}
                                    selected="selected"{% endif %}
                                >
                                    {{ 'b2b.StreetDesc'|trans }}
                                </option>
                                <option
                                    value="zipcode::asc"{% if gridState.sortBy is same as('zipcode::asc') %}
                                    selected="selected"{% endif %}
                                >
                                    {{ 'b2b.ZipcodeAsc'|trans }}
                                </option>
                                <option
                                    value="zipcode::desc"{% if gridState.sortBy is same as('zipcode::desc') %}
                                    selected="selected"{% endif %}
                                >
                                    {{ 'b2b.ZipcodeDesc'|trans }}
                                </option>
                                <option
                                    value="city::asc"{% if gridState.sortBy is same as('city::asc') %}
                                    selected="selected"{% endif %}
                                >
                                    {{ 'b2b.CityAsc'|trans }}
                                </option>
                                <option
                                    value="city::desc"{% if gridState.sortBy is same as('city::desc') %}
                                    selected="selected"{% endif %}
                                >
                                    {{ 'b2b.CityDesc'|trans }}
                                </option>
                            {% endblock %}
                        </select>
                    </div>
                </div>
            {% endblock %}

            {% block b2b_contactaddress_filter %}
                <div class="col-search">
                    <div class="search--area">
                        <input type="hidden" name="filters[all][field-name]" value="_all_">
                        <input type="hidden" name="filters[all][type]" value="like">
                        <div class="input-group">
                            <input
                                type="text"
                                name="filters[all][value]"
                                class="form-control"
                                value="{{ gridState.searchTerm }}"
                                placeholder="{{ 'b2b.SearchPlaceholder'|trans }}"
                            >
                            <div class="input-group-append">
                                <button
                                    title="{{ 'b2b.Search'|trans }}"
                                    type="submit"
                                    value="submit"
                                    class="btn header-search-btn"
                                >
                                    {% sw_icon 'search' %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </form>

    {% block b2b_contactaddress_grid %}
        <div class="table--responsive b2b--management-grid">
            <table class="b2b-table table">
                <thead>
                    {% block b2b_contactaddress_grid_head %}
                        <tr>
                            <th>
                                <span title="{{ 'b2b.GrantRight'|trans }}">{% sw_icon 'checkmark' %}</span>
                                <span title="{{ 'b2b.InheritRight'|trans }}">{% sw_icon 'reply' %}</span>
                            </th>
                            <th class="text-left">{{ 'b2b.CompanyLabel'|trans }}</th>
                            <th class="text-left">{{ 'b2b.StreetLabel'|trans }}</th>
                            <th class="text-left">{{ 'b2b.ZipcodeLabel'|trans }}</th>
                            <th class="text-left">{{ 'b2b.CityLabel'|trans }}</th>
                        </tr>
                    {% endblock %}
                </thead>
                <tbody>
                    {% block b2b_contactaddress_grid_body %}
                        {% for address in addresses %}
                            {% block b2b_contactaddress_grid_body_row %}
                                <tr class="row--address row--address-selection panel--tr">
                                    <td>
                                        <form
                                            action="{{ path('frontend.b2b.b2bcontactaddress.assign') }}"
                                            method="post"
                                            class="b2b--assignment-form ignore--b2b-ajax-panel has--b2b-form {{ b2b_acl('b2bcontactaddress', 'assign') }}"
                                        >
                                            {% block b2b_contactaddress_grid_body_row_inner %}
                                                {{ sw_csrf('frontend.b2b.b2bcontactaddress.assign') }}

                                                <input type="hidden" name="contactId" value="{{ contact.id }}"/>
                                                <input type="hidden" name="addressId" value="{{ address.id.getValue }}"/>
                                                <input type="hidden" name="type" value="{{ type }}"/>

                                                <span class="custom-control custom-checkbox">
                                                    <input
                                                        type="checkbox"
                                                        name="allow"
                                                        id="allow-{{ address.id.getValue }}"
                                                        value="1"
                                                        {% if address.foreignAllowed %}checked="checked"{% endif %}
                                                        {% if not address.ownerGrantable %}disabled{% endif %}
                                                        class="assign--allow is--auto-submit custom-control-input"
                                                    />
                                                    <label
                                                        for="allow-{{ address.id.getValue }}"
                                                        class="custom-control-label"
                                                    ></label>
                                                </span>
                                                <span class="custom-control custom-checkbox">
                                                    <input
                                                        type="checkbox"
                                                        name="grantable"
                                                        id="grantable-{{ address.id.getValue }}"
                                                        value="1"
                                                        {% if address.foreignGrantable %}checked="checked"{% endif %}
                                                        {% if not address.ownerGrantable %}disabled{% endif %}
                                                        class="assign--grantable is--auto-submit custom-control-input"
                                                    />
                                                    <label
                                                        for="grantable-{{ address.id.getValue }}"
                                                        class="custom-control-label"
                                                    ></label>
                                                </span>
                                            {% endblock %}
                                        </form>
                                    </td>

                                    <td class="text-left">{{ address.company }}</td>
                                    <td class="text-left">{{ address.street }}</td>
                                    <td class="text-left">{{ address.zipcode }}</td>
                                    <td class="text-left">{{ address.city }}</td>
                                </tr>
                        {% endblock %}
                    {% endfor %}
                {% endblock %}
                </tbody>
            </table>
        </div>
    {% endblock %}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    {% if gridState.maxPage %}
        <form
            action="{{ path('frontend.b2b.b2bcontactaddress.grid') }}"
            method="get"
            class="form--inline"
        >
            <input
                type="hidden"
                name="contactId"
                value="{{ contact.id }}"
            >
            <input
                type="hidden"
                name="type"
                value="{{ type }}"
            >

            {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bgrid/_grid-table-pagination.html.twig' %}
        </form>
    {% endif %}
{% endblock %}
