{% block page_account_order_item_overview %}
    <div class="order-wrapper">
        <div class="order-item-header">
            <div class="row justify-content-between">
                {% block page_account_order_item_heading %}
                    <h2 class="col order-table-header-heading">{{ "ies-offer.account.invoiceHeadline"|trans|sw_sanitize }} {{ invoice.number }}</h2>
                {% endblock %}

                {% block page_account_order_item_actions_col %}
                    <div>
                        {% block page_account_order_item_download %}
                            <div class="col offer-action-button-col">
                                <a class="btn btn-primary offer-table-header-order-download" href="{{ path('frontend.account.invoice.download', { invoiceId: invoice.id, deepLinkCode: invoice.deepLinkCode }) }}">
                                    {{ "ies-offer.account.download"|trans|sw_sanitize }}
                                </a>
                            </div>
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
