{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_info_variant_characteristics %}
    {{ parent() }}

    {% if lineItem.payload.cutOff != null %}

        {% set cuts = lineItem.payload.cutOff %}
        <b>{{ "cart.lengthLabel"|trans|sw_sanitize }} : </b>
        {% for items in cuts %}
            {{ items }}mm
            {% if not loop.last %},{% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
