{% block sw_cms_element_accordion_video_preview %}
    <div class="sw-cms-preview-accordion-video">
        <ul class="sw-cms-preview-accordion-video__list">
            <li class="sw-cms-preview-accordion-video__list-item">
                <sw-container columns="1fr 1fr 1fr">
                    <div class="sw-cms-preview-youtube-video">
                        <img class="sw-cms-preview-youtube-video__img"
                             :src="'/administration/static/img/cms/preview_youtube.jpg' | asset" />
                        <img class="sw-cms-preview-youtube-video__icon"
                             :src="'/administration/static/img/cms/youtube-icon.png' | asset" />
                    </div>
                    <div class="sw-cms-preview-youtube-video">
                        <img class="sw-cms-preview-youtube-video__img"
                             :src="'/administration/static/img/cms/preview_youtube.jpg' | asset" />
                        <img class="sw-cms-preview-youtube-video__icon"
                             :src="'/administration/static/img/cms/youtube-icon.png' | asset" />
                    </div>
                    <div class="sw-cms-preview-youtube-video">
                        <img class="sw-cms-preview-youtube-video__img"
                             :src="'/administration/static/img/cms/preview_youtube.jpg' | asset" />
                        <img class="sw-cms-preview-youtube-video__icon"
                             :src="'/administration/static/img/cms/youtube-icon.png' | asset" />
                    </div>
                </sw-container>
                <sw-container columns="1fr 1fr 1fr">
                    <div class="sw-cms-preview-youtube-video">
                        <img class="sw-cms-preview-youtube-video__img"
                             :src="'/administration/static/img/cms/preview_youtube.jpg' | asset" />
                        <img class="sw-cms-preview-youtube-video__icon"
                             :src="'/administration/static/img/cms/youtube-icon.png' | asset" />
                    </div>
                    <div class="sw-cms-preview-youtube-video">
                        <img class="sw-cms-preview-youtube-video__img"
                             :src="'/administration/static/img/cms/preview_youtube.jpg' | asset" />
                        <img class="sw-cms-preview-youtube-video__icon"
                             :src="'/administration/static/img/cms/youtube-icon.png' | asset" />
                    </div>
                </sw-container>
            </li>
        </ul>
    </div>
{% endblock %}
