.sw-cms-preview-accordion-video {
    display: grid;

    .sw-cms-preview-accordion-video__list {
        list-style: none;
    }

    .sw-cms-preview-accordion-video__list-item {
        padding: 10px;
        border-top: 1px solid #2ab4db;
    }

    .sw-cms-preview-youtube-video {
        margin: 2px;
    }

    .sw-cms-preview-youtube-video__icon {
        height: 20px;
    }
}
