.sw-cms-block-feldmann-sub-categories {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;

    .sw-cms-block-feldmann-sub-categories__item {
        height: 230px;
        overflow: hidden;
        position: relative;
        background: #e5e5e5;
        border: 3px solid #005499;
        border-bottom-right-radius: 40px;
    }

    .sw-cms-block-feldmann-sub-categories__item-text,
    .sw-cms-block-feldmann-sub-categories__item-button {
        left: 0;
        width: 100%;
        height: 55px;
        padding: 10px;
        position: absolute;
    }

    .sw-cms-block-feldmann-sub-categories__item-text {
        top: 0;
        color: #fff;
        line-height: 35px;
        background-color: #005499;
    }

    .sw-cms-block-feldmann-sub-categories__item-button {
        bottom: 0;

        .sw-button {
            width: 100%;
            color: #fff;
            background: #005499;
            border-color: #005499;
            border-bottom-right-radius: 40px;
        }
    }
}
