{% block sw_cms_block_feldmann_sub_categories %}
    <div class="sw-cms-block-feldmann-sub-categories">
        <div class="sw-cms-block-feldmann-sub-categories__item">
            <div class="sw-cms-block-feldmann-sub-categories__item-text">
                <p>Lorem Ipsum</p>
            </div>
            <div class="sw-cms-block-feldmann-sub-categories__item-button">
                <sw-button>Lorem</sw-button>
            </div>
        </div>

        <div class="sw-cms-block-feldmann-sub-categories__item">
            <div class="sw-cms-block-feldmann-sub-categories__item-text">
                <p>Lorem Ipsum</p>
            </div>
            <div class="sw-cms-block-feldmann-sub-categories__item-button">
                <sw-button>Lorem</sw-button>
            </div>
        </div>

        <div class="sw-cms-block-feldmann-sub-categories__item">
            <div class="sw-cms-block-feldmann-sub-categories__item-text">
                <p>Lorem Ipsum</p>
            </div>
            <div class="sw-cms-block-feldmann-sub-categories__item-button">
                <sw-button>Lorem</sw-button>
            </div>
        </div>
    </div>
{% endblock %}
