{% block sw_cms_block_feldmann_sub_categories_preview %}
    <div class="sw-cms-preview-feldmann-sub-categories">
        <div class="sw-cms-preview-feldmann-sub-categories__item">
            <div class="sw-cms-preview-feldmann-sub-categories__item-text">
                <p>Lorem Ipsum</p>
            </div>
            <div class="sw-cms-preview-feldmann-sub-categories__item-button">
                <sw-button size="small">Lorem</sw-button>
            </div>
        </div>

        <div class="sw-cms-preview-feldmann-sub-categories__item">
            <div class="sw-cms-preview-feldmann-sub-categories__item-text">
                <p>Lorem Ipsum</p>
            </div>
            <div class="sw-cms-preview-feldmann-sub-categories__item-button">
                <sw-button size="small">Lorem</sw-button>
            </div>
        </div>

        <div class="sw-cms-preview-feldmann-sub-categories__item">
            <div class="sw-cms-preview-feldmann-sub-categories__item-text">
                <p>Lorem Ipsum</p>
            </div>
            <div class="sw-cms-preview-feldmann-sub-categories__item-button">
                <sw-button size="small">Lorem</sw-button>
            </div>
        </div>
    </div>
{% endblock %}
