{%- if snippetKey -%}
    {%- if snippetKey starts with 'b2b.' -%}
        {%- if parameters -%}
            {{- (snippetKey) | trans | replace(parameters) -}}
        {%- else -%}
            {{- (snippetKey) | trans -}}
        {%- endif -%}

    {%- else -%}
        {%- if parameters -%}
            {{- ('b2b.' ~ snippetKey) | trans | replace(parameters) -}}
        {%- else -%}
            {{- ('b2b.' ~ snippetKey) | trans -}}
        {%- endif -%}
    {% endif %}
{%- endif -%}