{% block b2b_message_icon %}
    {% if type %}
        {% if type == 'info' %}
            {% block b2b_message_icon_info %}
                {% sw_icon 'info' style { 'color': 'info' } %}
            {% endblock %}
        {% elseif type == 'warning' %}
            {% block b2b_message_icon_warning %}
                {% sw_icon 'warning' style { 'color': 'warning' } %}
            {% endblock %}
        {% elseif type == 'error' %}
            {% block b2b_message_icon_error %}
                {% sw_icon 'error' style { 'color': 'danger' } %}
            {% endblock %}
        {% elseif type == 'success' %}
            {% block b2b_message_icon_success %}
                {% sw_icon 'checkmark-block' style { 'color': 'success' } %}
            {% endblock %}
        {% endif %}
    {% endif %}
{% endblock %}