{% block b2b_message %}
    {% if messages %}
        <div class="b2b--message-container">

            {% block b2b_message_headline %}
                {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage-headline.html.twig' %}
            {% endblock %}

            {% if messages[0] is defined %}
                {% block b2b_message_template %}
                    {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/template/_b2bmessage-template.html.twig' %}
                {% endblock %}

            {% else %}
                {% block b2b_message_controller %}
                    {% sw_include '@SwagB2bPlatform/storefront/_partials/_b2bmessage/controller/_b2bmessage-controller.html.twig' %}
                {% endblock %}

            {% endif %}
        </div>
    {% endif %}
{% endblock %}