{% set routeData = activeRoute|split('.') %}
{% set page = routeData[2]|replace({'b2b': ''})|capitalize %}
{% set type = routeData[3]|capitalize %}
{% set snippetType = page ~ type %}

{% block b2b_message_headline %}
    <h4 class="mb-3">{{ ('b2b.NotificationHeadline' ~ snippetType) | trans }}</h4>
{% endblock %}