[id^=acris], .acris-settings-item {
    .sw-settings-item__icon.background--enabled {
        background-color: #acca48;
    }
    &:hover {
        color: darken(#acca48, 10%);

        .sw-settings-item__icon.background--enabled {
            background-color: darken(#acca48, 10%);
        }
    }
    .sw-icon > svg {
        color: white;
    }
}
