.module-ordernumber {

  .b2b--ajax-panel > .panel > .module-ordernumber--upload > .panel > .panel--title {
    font-weight: 500;
  }

  .block-group {

    .block {
      display: inline-block;
      margin: 0;
    }

    .block--title {
      @include unitize(font-size, 18);

      &:after {
        content: none;
      }
    }

    .block--actions {
      float: right;
    }
  }


  > .panel {
    @include unitize(padding-top, 32);

    > .panel--title {
      @include unitize(margin-bottom, 40);

      > .block--group {

        .block--title,
        .block--actions {
          display: inline-block;
        }

        .block--actions {
          margin: 0;
          float: right;
        }
      }
    }
  }

  .module-ordernumber--upload {
    @include unitize(padding-bottom, 10);
  }

  .b2b--grid-container {

    .col-headline {

      h4 {
        font-weight: 300;
      }

      h4,
      p {
        margin: 0;
      }
    }

    .col-ordernumber,
    .col-custom-ordernumber {
      width: 25%;
    }
  }

  > .panel--title {
    @include unitize-padding(20);

    .block--title {
      @include unitize(font-size, 28);
    }
  }

  .panel--title-export {
    margin-bottom: 56px !important;
  }

  .order-number-row:last-child {
    .col-actions > * {
      display: none;
    }
  }
}


@include minWidth("desktop") {
  .module-ordernumber .module-ordernumber--upload .panel > .panel--title {
    margin: 0 auto 12px;

    @include unitize-max-width(600);
  }
}