{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}
{% block layout_search_suggest_result_price %}
    {% set defaultdiscount = shopware.config.FeldmannSpecialDiscount.config.discountPercentage %}
    {% set customerGroup = shopware.config.FeldmannSpecialDiscount.config.discountToCustomerGroup %}
    {% if context.customer and context.customer.groupId in customerGroup and not product.extensions.customerPrices.elements and product.customFields.special_discount_discountable %}
        {% if context.customer.customFields.special_discount_percentage %}
            {% set discount = (context.customer.customFields.special_discount_percentage < defaultdiscount) ? defaultdiscount : context.customer.customFields.special_discount_percentage %}
        {% endif %}

        <div class="col-auto search-suggest-product-price">
            {% if product.priceRange %}
                {% set fromNewPrice = product.calculatedListingPrice.from.unitPrice - (product.calculatedListingPrice.from.unitPrice * discount) / 100 %}
                {% set toNewPrice = product.calculatedListingPrice.to.unitPrice - (product.calculatedListingPrice.to.unitPrice * discount) / 100 %}

                {{ fromNewPrice|currency }}
                -
                {{ toNewPrice|currency}}
            {% elseif product.calculatedPrices|length == 1 %}
                {% set newPrice = product.calculatedPrices.first.unitPrice - (product.calculatedPrices.first.unitPrice * discount) / 100 %}
                {{ newPrice|currency }}
            {% else %}
                {% set newPrice = product.calculatedPrice.unitPrice - (product.calculatedPrice.unitPrice * discount) / 100 %}
                {{ newPrice|currency }}
            {% endif %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
