{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_container %}
    {% if lineItem.type == 'surchargeDiscount' %}
        {% set isDiscount = true %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block page_checkout_item_remove_form %}
    {% if lineItem.type != 'surchargeDiscount' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_checkout_item_info_image_link %}
    {% if isDiscount %}
        <div class="cart-item-img cart-item-discount-icon">
            {% if lineItem.price.totalPrice <= 0 %}
                {% sw_icon 'marketing' style {
                    'color': 'success'
                } %}
            {% else %}
                {% sw_icon 'marketing' style {
                    'color': 'danger'
                } %}
            {% endif %}
        </div>
    {% elseif isNested %}
        <div class="cart-item-nested-icon">
            {% sw_icon 'bag-product' style {
                'color': 'light'
            } %}
        </div>
    {% else %}
        <a href="{{ seoUrl('frontend.detail.page', {'productId': lineItem.referencedId}) }}"
           class="cart-item-img-link"
           title="{{ lineItem.label }}"
            {% if controllerAction is same as('confirmPage') %}
                data-toggle="modal"
                data-modal-class="quickview-modal"
                data-url="{{ path('widgets.quickview.minimal', { 'productId': lineItem.referencedId }) }}"
            {% endif %}
        >
            {% block page_checkout_item_info_image_element %}
                {% if lineItem.cover.url %}
                    {% sw_thumbnails 'cart-item-img-thumbnails' with {
                        media: lineItem.cover,
                        sizes: {
                            'default': '100px'
                        },
                        attributes: {
                            'class': 'img-fluid cart-item-img',
                            'alt': (lineItem.cover.translated.alt ?: ''),
                            'title': (lineItem.cover.translated.title ?: '')
                        }
                    } %}
                {% else %}
                    {% sw_icon 'placeholder' style {
                        'size': 'fluid'
                    } %}
                {% endif %}
            {% endblock %}
        </a>
    {% endif %}
{% endblock %}

{% block page_checkout_item_total_price %}
    {% if (lineItem.price.totalPrice <= 0 and isDiscount) or (lineItem.price.totalPrice >= 0 and not isDiscount) %}
        {{ parent() }}
    {% else %}
        <div class="col-12 col-sm-4 col-md-2 cart-item-total-price-surcharge">
            {% block page_checkout_item_total_price_wrapper_surcharge %}
                {% block page_checkout_item_total_price_label_surcharge %}
                    <div class="cart-item-total-price-label">
                        {{ "checkout.cartHeaderTotalPrice"|trans|sw_sanitize }}
                    </div>
                {% endblock %}

                {% block page_checkout_item_total_price_inner_surcharge %}
                    {{ lineItem.price.totalPrice|currency }}{% block page_checkout_item_total_price_tax_symbol_surcharge %}{{ "general.star"|trans|sw_sanitize }}{% endblock %}
                {% endblock %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}

