{% set fieldIdent = 'custom_category_fields_icon_class' %}

{% if customFields and customFields[fieldIdent] %}
    {% if customFields[fieldIdent] == "truck" %}
        {% sw_icon 'truck' style { 'pack': 'feldmann', 'size': 'sm'} %}
    {% elseif customFields[fieldIdent] == "comments" %}
        {% sw_icon 'comments' style { 'pack': 'feldmann', 'size': 'sm'} %}
    {% elseif customFields[fieldIdent] == "home" %}
        {% sw_icon 'home' style { 'pack': 'feldmann', 'size': 'sm'} %}
    {% elseif customFields[fieldIdent] == "map-marker-alt" %}
        {% sw_icon 'map-marker-alt' style { 'pack': 'feldmann', 'size': 'sm'} %}
    {% elseif customFields[fieldIdent] == "undo-alt" %}
        {% sw_icon 'undo-alt' style { 'pack': 'feldmann', 'size': 'sm'} %}
    {% elseif customFields[fieldIdent] == "unlock" %}
        {% sw_icon 'unlock' style { 'pack': 'feldmann', 'size': 'sm'} %}
    {% elseif customFields[fieldIdent] == "users" %}
        {% sw_icon 'users' style { 'pack': 'feldmann', 'size': 'sm'} %}
    {% elseif customFields[fieldIdent] == "copyright" %}
        {% sw_icon 'copyright' style { 'pack': 'feldmann', 'size': 'sm'} %}
    {% elseif customFields[fieldIdent] == "money-bill" %}
        {% sw_icon 'money-bill' style { 'pack': 'feldmann', 'size': 'sm'} %}
    {% elseif customFields[fieldIdent] == "hands-helping" %}
        {% sw_icon 'hands-helping' style { 'pack': 'feldmann', 'size': 'sm'} %}
    {% else %}
        {% sw_icon 'external' style { 'size': 'sm'} %}
    {% endif %}
{% endif %}
