{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_navigation_hotline %}{% endblock %}

{% block layout_footer_navigation_information_link %}
    <a class="footer-link"
       href="{% if externalLink %}{{ externalLink }}{% else %}{{ seoUrl('frontend.navigation.page', { navigationId: category.id }) }}{% endif %}"
       title="{{ name }}"
    >
        {% sw_include '@Storefront/storefront/layout/footer/footer-icons.html.twig' with {
            customFields: category.translated.customFields
        } %}
        {{ name }}
    </a>
{% endblock %}

{% block layout_footer_navigation_columns %}
    {{ parent() }}

    <div class="col-md-4 footer-column js-footer-column">
        <div class="footer-column-headline footer-headline js-footer-column-headline js-collapse-footer-column-trigger"
             id="collapseFooterNewsletterTitle"
             data-target="#collapseFooterNewsletter"
             aria-expanded="true"
             aria-controls="collapseFooterNewsletter"
        >
            {{ 'footer.serviceNewsletterHeadline'|trans|sw_sanitize }}

            <div class="footer-column-toggle">
                <span class="footer-plus-icon">
                    {% sw_icon 'plus' %}
                </span>
                <span class="footer-minus-icon">
                    {% sw_icon 'minus' %}
                </span>
            </div>
        </div>

        <div id="collapseFooterNewsletter"
             class="footer-column-content collapse js-footer-column-content footer-contact"
             aria-labelledby="collapseFooterNewsletterTitle">
            <div class="footer-column-content-inner">
                {{ 'footer.serviceNewsletterDescription'|trans|sw_sanitize }}
            </div>
        </div>
    </div>
{% endblock %}

{% block layout_footer_payment_shipping_logos %}{% endblock %}

{% block layout_footer_bottom %}{% endblock %}
