{% sw_extends '@Storefront/storefront/page/checkout/cart/index.html.twig' %}

{% block page_checkout_cart_add_product_submit %}
    <div class="input-group-append">
        <button class="ml-3 btn btn-primary"
                type="submit"
                id="addProductButton">
            {% sw_icon 'checkmark' %}
        </button>
    </div>
{% endblock %}

{% block page_checkout_cart_add_promotion %}{% endblock %}

{# Removed shippings costs in basket #}
{% block page_checkout_cart_shipping_costs %}{% endblock %}
