{% sw_extends '@SwagB2bPlatform/storefront/base.html.twig' %}

{% block base_header %}
    {% sw_include '@Storefront/storefront/layout/header/header-minimal.html.twig' %}
{% endblock %}

{% block base_navigation %}{% endblock %}

{% block base_content %}
    <div class="b2b--cart-finish cart-finish-message-container">
        <div class="cart-finish-message-content">
            <h2 class="cart-finish-message-heading">
                {{ "b2b.OrderIsWaitingForClearance"|trans }}
            </h2>

            <p>{{ "b2b.OrderCheckoutToClearanceMessage"|trans }}</p>

            <a
                href="{{ path('frontend.b2b.b2bdashboard.index') }}"
                class="btn is--large {{ b2b_acl('b2bdashboard', 'index') }}"
            >
                {% sw_icon 'arrow-left' style {'pack': 'solid'} %}

                {{ "b2b.BackToShop"|trans }}
            </a>
            <a
                href="{{ path('frontend.b2b.b2border.index') }}"
                class="btn is--large {{ b2b_acl('b2border', 'index') }}"
            >
                {{ "b2b.OrderOverview"|trans }}

                {% sw_icon 'arrow-right' style {'pack': 'solid'} %}
            </a>
        </div>

        <a
            href="{{ path('frontend.b2b.b2border.index') }}"
            class="b2b--icon-holder {{ b2b_acl('b2border', 'index') }}"
        >
            {% sw_icon 'checkmark-circle' %}
        </a>
    </div>
{% endblock %}


{% block base_footer %}
    {% sw_include '@Storefront/storefront/layout/footer/footer-minimal.html.twig' %}
{% endblock %}