{% sw_extends '@Storefront/storefront/page/account/index.html.twig' %}

{% block page_account_overview_profile_content %}
    {% block page_account_overview_profile_customer_number %}
        <p>{{ "account.labelCustomerNumber"|trans|sw_sanitize }}: {{ context.customer.customerNumber }}</p>
    {% endblock %}

    {{ parent() }}
{% endblock %}
