{% block acris_rule_surcharge_discount_list %}

<sw-page class="acris-rule-surcharge-discount-list">
    {% block acris_rule_surcharge_discount_list_search_bar %}
        <template slot="search-bar">
            <sw-search-bar initialSearchType="Rule Surcharge/Discount"
                           :placeholder="$tc('acris-rule-surcharge-discount.general.placeholderRuleSurchargeDiscount')"
                           :initialSearch="term"
                           @search="onSearch" id="surchargeDiscount">
            </sw-search-bar>
        </template>
    {% endblock %}

    {% block acris_rule_surcharge_discount_list_smart_bar_header %}
        <template slot="smart-bar-header">
            {% block acris_rule_surcharge_discount_list_smart_bar_header_title %}
                <h2>
                    {% block acris_rule_surcharge_discount_list_smart_bar_header_title_text %}
                        {{ $tc('acris-rule-surcharge-discount.list.textRuleSurchargeDiscounts') }}
                        {% endblock %}

                        {% block acris_rule_surcharge_discount_list_smart_bar_header_amount %}
                        <span v-if="!isLoading" class="sw-page__smart-bar-amount">
                        ({{ total }})
                        </span>
                    {% endblock %}
                </h2>
            {% endblock %}
        </template>
    {% endblock %}

    {% block acris_rule_surcharge_discount_list_smart_bar_language %}
        <template #language-switch>
            <sw-language-switch @on-change="onChangeLanguage"></sw-language-switch>
        </template>
    {% endblock %}

    {% block acris_rule_surcharge_discount_list_smart_bar_actions %}
    <template slot="smart-bar-actions">
        {% block acris_rule_surcharge_discount_list_smart_bar_actions_add %}
        <sw-button variant="primary" :routerLink="{ name: 'acris.rule.surcharge.discount.create' }">
            {{ $tc('acris-rule-surcharge-discount.list.buttonAdd') }}
        </sw-button>
        {% endblock %}
    </template>
    {% endblock %}

    {% block acris_rule_surcharge_discount_list_cardview %}
    <template slot="content">
        <div class="acris-rule-surcharge-discount-list__content">
            {% block acris_rule_surcharge_discount_list_content %}
            <sw-entity-listing class="acris-rule-surcharge-discount-list-grid"
                               v-if="items && total > 0"
                               :items="items"
                               :repository="entityRepository"
                               detailRoute="acris.rule.surcharge.discount.detail"
                               :showSeleciton="true"
                               :isLoading="isLoading"
                               :columns="columns">

                {% block acris_rule_surcharge_discount_list_grid_columns_active %}
                <template #column-active="{ item, isInlineEdit }">
                    {% block acris_rule_surcharge_discount_list_grid_columns_active_inline_edit %}
                    <template v-if="isInlineEdit">
                        <sw-checkbox-field v-model="item.active"></sw-checkbox-field>
                    </template>
                    {% endblock %}

                    {% block acris_rule_surcharge_discount_list_grid_columns_active_content %}
                    <template v-else>
                        <sw-icon v-if="item.active" name="small-default-checkmark-line-medium" small
                                 class="is--active"></sw-icon>
                        <sw-icon v-else name="small-default-x-line-medium" small class="is--inactive"></sw-icon>
                    </template>
                    {% endblock %}
                </template>
                {% endblock %}

                {% block acris_config_steps_grid_columns_field_type %}
                <template #column-type="{ item }">
                    <a v-if="item.type === 'absolute'">
                        {{ $tc('acris-rule-surcharge-discount.detail.fieldSelectTypeOptionAbsolute') }}
                    </a>
                    <a v-if="item.type === 'percentage'">
                        {{ $tc('acris-rule-surcharge-discount.detail.fieldSelectTypeOptionPercentage') }}
                    </a>
                </template>
                {% endblock %}

                <template #pagination>
                    {% block sw_order_list_grid_pagination %}
                    <sw-pagination :page="page"
                                   :limit="limit"
                                   :total="total"
                                   :total-visible="7"
                                   @page-change="onPageChange">
                    </sw-pagination>
                    {% endblock %}
                </template>

            </sw-entity-listing>
            {% endblock %}

            {% block acris_rule_surcharge_discount_list_empty_state %}
            <sw-empty-state v-if="!isLoading && total === 0" :title="$tc('acris-rule-surcharge-discount.list.contentEmpty')"></sw-empty-state>
            {% endblock %}

        </div>
    </template>
    {% endblock %}

    {% block acris_rule_surcharge_discount_list_sidebar %}
    <template #sidebar>
        <sw-sidebar class="acris-rule-surcharge-discount-list__sidebar">
            {% block acris_rule_surcharge_discount_list_sidebar_item %}
            <sw-sidebar-item
                icon="default-arrow-360-left"
                :title="$tc('acris-rule-surcharge-discount.list.titleSidebarItemRefresh')"
                @click="onRefresh">
            </sw-sidebar-item>
            {% endblock %}
        </sw-sidebar>
    </template>
    {% endblock %}

</sw-page>
{% endblock %}
