{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% set cartDestination = page.cart.getExtension("b2b-cart-state").destination.name %}

{% block page_checkout_item_quantity_form %}
    {% if
        b2bSuite and
        cartDestination is not same as('default') and
        cartDestination is not same as('cleared-order') and
        cartDestination is not same as('order-clearance')
    %}
        {{ lineItem.quantity }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_checkout_item_remove_form %}
    {% if
        not b2bSuite or
        cartDestination is same as('default') or
        cartDestination is same as('cleared-order') or
        cartDestination is same as('order-clearance')
    %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_checkout_item_info_ordernumber %}
    {{ parent() }}

    {% if lineItem.payload.b2bOrderNumber %}
        <div class="cart-item-ordernumber">
            {{ "b2b.CustomOrderNumberLabel"|trans|sw_sanitize }}: {{ lineItem.payload.b2bOrderNumber }}
        </div>
    {% endif %}
{% endblock %}

{% block page_checkout_item_info_label %}
    {% if lineItem.type is same as ('product') %}
        <a href="{{ seoUrl('frontend.detail.page', {'productId': lineItem.referencedId}) }}"
           class="cart-item-label"
           title="{{ lineItem.label }}"
            {% if controllerAction is same as('confirmPage') %}
                data-toggle="modal"
                data-modal-class="quickview-modal"
                data-url="{{ path('widgets.quickview.minimal',{ 'productId': lineItem.referencedId }) }}"
            {% endif %}
        >
            {{ lineItem.label|u.truncate(60) }}
        </a>
    {% else %}
        <div class="cart-item-label">
            {{ lineItem.label|u.truncate(60) }}

            {% block page_checkout_item_info_label_b2b_percentage_discount %}
                {% if
                    lineItem.type is same as ('promotion') and
                    lineItem.payload.discountType is same as ('percentage') and
                    lineItem.priceDefinition.percentage
                %}
                    ({{ lineItem.priceDefinition.percentage }}%)
                {% endif %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}