{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    content: {
        padding: false
    }
} %}

{# Title Placeholder #}
{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.RoleVisibility"|trans }}
{% endblock %}

{# Modal Content: Grid Component: Content #}
{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}

    <div class="panel--tr row--role-role-selection">
        <div class="panel--th panel--spacer">&nbsp;</div>
        <div class="panel--th panel--icon panel--tree-col-checkbox">
            <span title="{{ "b2b.GrantRight"|trans }}">{% sw_icon 'checkmark' %}</span>
        </div>
        <div class="panel--th panel--icon panel--tree-col-checkbox">
            <span title="{{ "b2b.InheritRight"|trans }}">{% sw_icon 'reply' %}</span>
        </div>
        <div class="panel--th panel--label-company panel--tree-col-label">{{ "b2b.Role"|trans }}</div>
    </div>

    <div class="b2b--ajax-panel" data-url="{{ path('frontend.b2b.b2brolerolevisibility.tree', {'baseRoleId': baseRoleId}) }}" data-plugins="tree,assignmentGrid"></div>
{% endblock %}
