{% block b2b_rolerolevisibility %}
    <ul class="is--b2b-tree list--unordered is--assignment-tree">
        {% block b2b_rolerolevisibility_list %}
            {% for role in roles %}
                <li class="{% if role.hasChildren %}has--children{% endif %} is--closed">
                    {% block b2b_rolerolevisibility_list_item %}
                        <span class="node-content-container">
                            <span class="b2b-tree-node-inner">

                                {% block b2b_rolerolevisibility_list_item_expand %}
                                    {% if role.hasChildren %}
                                        <a href="{{ path('frontend.b2b.b2brolerolevisibility.tree') }}?parentId={{ role.id}}&baseRoleId={{ baseRoleId }}">
                                    {% endif %}
                                        <span class="tree-icon closed">{% sw_icon 'arrow-right' style {'pack': 'solid'} %}</span>
                                        <span class="tree-icon opened">{% sw_icon 'arrow-down' style {'pack': 'solid'} %}</span>
                                        <span class="tree-icon leaf">{% sw_icon 'circle-small' style {'pack': 'solid'} %}</span>
                                        <span class="tree-icon loading">{% sw_icon 'loading-circle' %}</span>
                                    {% if role.hasChildren %}
                                        </a>
                                    {% endif %}
                                {% endblock %}

                                {% block b2b_rolerolevisibility_list_item_content %}
                                    <span class="tree-label">
                                        <table class="table--unstyled">
                                            <tr>
                                                <td class="col-checkbox row--role-role-selection">
                                                    <form
                                                        action="{{ path('frontend.b2b.b2brolerolevisibility.assign') }}"
                                                        method="post"
                                                        class="b2b--assignment-form has--b2b-form {{ b2b_acl('b2brolerolevisibility', 'assign') }}"
                                                    >
                                                        {% block b2b_rolerolevisibility_list_item_content_form %}
                                                            {{ sw_csrf('frontend.b2b.b2brolerolevisibility.assign') }}
        
                                                            <input type="hidden" name="baseRoleId" value="{{ baseRoleId }}"/>
                                                            <input type="hidden" name="roleId" value="{{ role.id }}"/>
                                                            <span class="custom-control custom-checkbox panel--icon without--margin d-inline-block">
                                                                <input type="checkbox"
                                                                       name="allow"
                                                                       id="allow-{{ role.id.getValue }}"
                                                                       value="1"
                                                                       {% if role.foreignAllowed %}checked="checked"{% endif %}
                                                                       {% if not role.ownerGrantable %}disabled{% endif %}
                                                                       class="assign--allow is--auto-submit custom-control-input"
                                                                />
                                                                <label for="allow-{{ role.id.getValue }}" class="custom-control-label"></label>
                                                            </span>
                                                            <span class="custom-control custom-checkbox panel--icon without--margin d-inline-block">
                                                                <input type="checkbox"
                                                                       name="grantable"
                                                                       id="grantable-{{ role.id.getValue }}"
                                                                       value="1"
                                                                       {% if role.foreignGrantable %}checked="checked"{% endif %}
                                                                       {% if not role.ownerGrantable %}disabled{% endif %}
                                                                       class="assign--grantable is--auto-submit custom-control-input"
                                                                />
                                                                <label for="grantable-{{ role.id.getValue }}" class="custom-control-label"></label>
                                                            </span>
                                                        {% endblock %}
                                                    </form>
                                                </td>
                                                <td>
                                                    {% if role.hasChildren %}
                                                        <a href="{{ path('frontend.b2b.b2brolerolevisibility.tree') }}?parentId={{ role.id}}&baseRoleId={{ baseRoleId }}" title="{{ "b2b.Open"|trans }}">
                                                    {% endif %}

                                                    {{ role.name }}

                                                    {% if role.hasChildren %}
                                                        </a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        </table>
                                    </span>
                                {% endblock %}
                            </span>
                        </span>
                    {% endblock %}
                </li>
            {% endfor %}
        {% endblock %}
    </ul>
{% endblock %}
