{% block b2b_budgetselect %}
    {% if b2bBudgets %}
        <div class="b2b-budget--checkout card checkout-card">
            <div class="card-body">
                {% block b2b_budgetselect_title %}
                    <div class="card-title">
                        {{ "b2b.Budget"|trans }}<span title="{{ "b2b.BudgetHelpText"|trans }} ({{ "b2b.NetValue"|trans }})">{% sw_icon 'help' %}</span>
                    </div>
                {% endblock %}

                {% block b2b_budgetselect_content %}
                    <div class="b2b--budget">
                        {% if b2bSelectedBudget and b2bSelectedBudget.currentStatus.isSufficient %}
                            {% block b2b_budgetselect_content_row %}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p><b>{{ "b2b.IdentifierLabel"|trans }}</b> {{ b2bSelectedBudget.identifier }}</p>
                                        <p><b>{{ "b2b.NameLabel"|trans }}</b> {{ b2bSelectedBudget.name }}</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p><b>{{ "b2b.BudgetAmountAvailableLabel"|trans }}</b> {{ b2bSelectedBudget.currentStatus.availableBudget|currency }}</p>
                                        <p><b>{{ "b2b.BudgetCapacityLabel"|trans }}</b> {{ b2bSelectedBudget.currentStatus.percentage }}%</p>
                                    </div>
                                </div>
                            {% endblock %}

                            {% block b2b_budgetselect_content_form %}
                                <form
                                    action="{{ path('frontend.b2b.b2bbudgetselect.select', {'amount': amount|number_format(2, '.')}) }}"
                                    method="post"
                                    data-ajax-panel-trigger-reload="_WINDOW_"
                                >
                                    {% block b2b_budgetselect_content_form_inner %}
                                        {{ sw_csrf('frontend.b2b.b2bbudgetselect.select') }}

                                        <select name="b2bBudgetReference" class="is--auto-submit custom-select"{% if b2bBudgets|length < 2 %} disabled="disabled" title="{{ "b2b.AvailableBudgetsOne"|trans }}"{% endif %}>
                                            {% block b2b_budgetselect_content_form_inner_options %}
                                                {% for budget in b2bBudgets %}
                                                    <option
                                                        value="{{ budget.id.getValue }}"
                                                        {% if not budget.currentStatus.isSufficient %}disabled="disabled"{% endif %}
                                                        {% if budget.id.getValue is same as(b2bSelectedBudget.id.getValue) %}selected="selected"{% endif %}
                                                    >
                                                        {% if budget.identifier %}
                                                            {{ budget.identifier }}
                                                            ({{ budget.name }})
                                                        {% else %}
                                                            ({{ budget.name }})
                                                        {% endif %}
                                                        -
                                                        {{ budget.currentStatus.availableBudget|currency }}
                                                        -
                                                        {% if budget.currentStatus.isSufficient %}
                                                            {{ "b2b.Sufficient"|trans }}
                                                        {% else %}
                                                            {{ "b2b.NotSufficient"|trans }}
                                                        {% endif %}
                                                    </option>
                                                {% endfor %}
                                            {% endblock %}
                                        </select>
                                    {% endblock %}
                                </form>
                            {% endblock %}
                        {% else %}
                            <p>{{ "b2b.SufficientBudgetsNone"|trans }}</p>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}