{% if errors %}
    {% set jsonErrors = [] %}
    {% for error in errors %}
        {% set jsonError %}
            {% sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                with {
                    'messages': {
                        'error': {
                            'content': error,
                            'assign': 'error'
                        }
                    }
                }
            %}
        {% endset %}
        {% set jsonErrors = jsonErrors | merge([jsonError]) %}
    {% endfor %}

    {{ {errors: jsonErrors} | json_encode | raw }}
{% endif %}