.b2b-offer-detail {

    .sw-card__content {
        padding: 0;
    }

    &__actions {
        text-align: right;
        margin-top: 30px;
    }

    &__placeholder {
        text-align: center;
    }
}
