{% block b2b_offer_dtail %}
    <sw-page class="b2b-offer-detail">
        {% block b2b_offer_detail_header %}
            <template #smart-bar-header>
                <h2>{{ $tc('b2b-offer.detail.title') }}</h2>
            </template>
        {% endblock %}

        {% block b2b_offer_detail_content %}
            <template #content>
                {% block b2b_offer_detail_content_loader %}
                    <sw-loader
                        v-if="isLoading"
                        size="80px"
                    ></sw-loader>
                {% endblock%}

                {% block b2b_offer_detail_content_card_view %}
                    <sw-card-view v-else-if="offer.id">
                        {% block b2b_offer_detail_content_card_view_base %}
                            <b2b-offer-detail-base
                                :offer="offer"
                                :editMode="editMode"
                                :showEditButton="showEditButton"
                                :isLoading="isLoadingBase"
                                @decline-offer="onDeclineOffer"
                                @accept-offer="onAcceptOffer"
                                @set-edit-mode="onSetEditMode"
                            ></b2b-offer-detail-base>
                        {% endblock %}

                        {% block b2b_offer_detail_content_card_view_discount %}
                            <b2b-offer-detail-discount
                                :offer="offer"
                                :positions="positions"
                                :isLoading="isLoadingDiscount"
                                :editMode="editMode"
                                :showEditButton="showEditButton"
                                @update-offer="onUpdateOffer"
                                @decline-offer="onDeclineOffer"
                                @accept-offer="onAcceptOffer"
                                @set-edit-mode="onSetEditMode"
                                @item-added="onItemAdded"
                            ></b2b-offer-detail-discount>
                        {% endblock %}

                        {% block b2b_offer_detail_content_card_view_history %}
                            <b2b-offer-detail-history
                                :offer="offer"
                                :activity="activity"
                                :isLoading="isLoadingActivity"
                                @add-comment="onAddComment"
                            ></b2b-offer-detail-history>
                        {% endblock %}
                    </sw-card-view>
                    <sw-card-view v-else>
                        {% block b2b_offer_detail_content_card_view_placeholder %}
                            <sw-card>
                                <sw-card-section>
                                    <div class="b2b-offer-detail__placeholder">
                                        {{ $tc('b2b-offer.detail.offerPlaceholder') }}
                                    </div>
                                </sw-card-section>
                            </sw-card>
                        {% endblock %}
                    </sw-card-view>
                {% endblock %}
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
