{% if user is empty %}
    {% set user = b2b_get_user_name() %}
{% endif %}
{% if user is not empty %}
    <div class="b2b--sales-representative-bar">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col text-left">
                    <span>{{ 'b2b.SalesRepresentativeBarLoggedInAs'|trans }}</span>
                    <span>{{ user.firstName }} {{ user.lastName }}</span>
                </div>
                <div class="col text-right">
                    <a
                        href="{{ path('frontend.b2b.b2bsalesrepresentative.salesRepresentativeLogin') }}"
                        title="{{ 'b2b.ClientOverview'|trans }}"
                    >{{ 'b2b.ClientOverview'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}