{% set url = path('frontend.b2b.b2bsalesrepresentative.grid') %}

{% set gridState = salesRepresentativeGrid %}

{% if gridState.sortBy is same as(null) %}
    {% set gridState = gridState|merge({ sortBy: 'company::desc' }) %}
{% endif %}

<div class="b2b--grid-container">
    {% block b2b_grid_form %}
        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bsalesrepresentative/grid/_grid-form.html.twig' %}
    {% endblock %}

    {% block b2b_grid_table %}
        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bsalesrepresentative/grid/_grid-table.html.twig' %}
    {% endblock %}
</div>