{% sw_extends '@SwagB2bPlatform/storefront/layout/_b2blayout.html.twig' %}

{% block base_header %}
    <header class="header-main">
        <div class="container">
            {% sw_include '@SwagB2bPlatform/storefront/layout/header/_b2bheader-minimal.html.twig' %}
        </div>
    </header>
{% endblock %}

{% block base_navigation %}
{% endblock %}

{% block base_content %}
    <div class="b2b--plugin">
        <div class="module--salesrepresentative">
            <h2>{{ 'b2b.ClientOverview'|trans }}</h2>

            <div
                class="b2b--ajax-panel has--b2b-form"
                data-id="salesrepresentative-list-grid"
                data-url="{{ path('frontend.b2b.b2bsalesrepresentative.grid') }}"
                data-plugins="gridComponent"
            ></div>
        </div>
    </div>
{% endblock %}
