{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-item.html.twig' %}

{% block component_offcanvas_cart_item_container %}
    {% if lineItem.type == 'surchargeDiscount' %}
        {% set isDiscount = true %}
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block component_offcanvas_product_remove_form %}
    {% if lineItem.type != 'surchargeDiscount' %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block component_offcanvas_product_total_price %}
    {% if price.totalPrice <= 0 %}
        {{ parent() }}
    {% else %}
        <div class="cart-item-price-surcharge">
            {{ price.totalPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
            {% set referencePrice = price.referencePrice %}
            {% if referencePrice is not null %}
                <small class="cart-item-reference-price">
                    ({{ referencePrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} / {{ referencePrice.referenceUnit }}&nbsp;{{ referencePrice.unitName }})
                </small>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block component_offcanvas_product_image_inner %}
    <div class="cart-item-img">
        {% if isDiscount %}
            <div class="cart-item-discount-icon">
                {% if price.totalPrice <= 0 %}
                    {% sw_icon 'marketing' style {
                        'color': 'success'
                    } %}
                {% else %}
                    {% sw_icon 'marketing' style {
                        'color': 'danger'
                    } %}
                {% endif %}

            </div>
        {% elseif isNested %}
            <div class="cart-item-nested-icon">
                {% sw_icon 'bag-product' style {
                    'color': 'light'
                } %}
            </div>
        {% else %}
            <a href="{{ seoUrl('frontend.detail.page', {'productId': referencedId}) }}"
               class="cart-item-img-link"
               title="{{ label }}">
                {% if lineItem.cover.url %}
                    {% sw_thumbnails 'cart-item-img-thumbnails' with {
                        media: lineItem.cover,
                        sizes: {
                            'default': '100px'
                        },
                        attributes: {
                            'class': 'img-fluid cart-item-img-source',
                            'alt': label,
                            'title': label
                        }
                    } %}
                {% else %}
                    {% sw_icon 'placeholder' style {
                        'size': 'fluid'
                    } %}
                {% endif %}
            </a>
        {% endif %}
    </div>
{% endblock %}
