{% block b2b_offerlineitemreference_list %}
    <div class="b2b-table table--responsive">
        <table
                class="table"
                data-row-count="{{ gridState.data|length }}"
        >
            {% block b2b_offerlineitemreference_list_inner %}
                {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/list/_list-head.html.twig' %}

                <tbody>
                {% for row in gridState.data %}
                    {% block b2b_offerlineitemreference_list_inner_row %}
                        {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/list/_list-row.html.twig' %}
                    {% endblock %}
                {% endfor %}
                </tbody>
            {% endblock %}
        </table>
    </div>

{% endblock %}
