{% set itemEditable = row.isEditable %}

{% block b2b_offerlineitemreference_list_inner_row_content %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/list/_list-item-content.html.twig' %}
{% endblock %}

{% block b2b_offerlineitemreference_list_inner_row_actions %}
    {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bofferlineitemreference/list/_list-row-actions.html.twig' %}
{% endblock %}

<tr data-display="spacer-mode">
    {#Empty row to prevent wrong color for the next row due to the open comment row #}
</tr>