{% block b2b_offerlineitemreference_list_row_actions %}
    <tr
        class="is--hidden"
        data-display="edit-mode"
    >
        {% block b2b_offerlineitemreference_list_row_actions_inner %}
            <td
                class="line-item--column-comment"
                data-label="{{ "b2b.CommentLabel"|trans }}"
                colspan="5"
            >
                {% block b2b_offerlineitemreference_list_row_actions_inner_form %}
                    <form
                        action="{{ path('frontend.b2b.b2bofferlineitemreference.update') }}"
                        method="post"
                        class="{{ b2b_acl('b2bofferlineitemreference', 'update') }}"
                        data-ajax-panel-trigger-reload="offer-grid"
                        data-csrf-token="{{ sw_csrf('frontend.b2b.b2bofferlineitemreference.update', { mode: 'token' }) }}"
                    >
                        {% block b2b_offerlineitemreference_list_row_actions_inner_form_csrf %}
                            {{ sw_csrf('frontend.b2b.b2bofferlineitemreference.update') }}
                        {% endblock %}

                        {% block b2b_offerlineitemreference_list_row_actions_inner_form_inner %}

                            {% block b2b_offerlineitemreference_list_row_actions_inner_form_inner_inputs %}
                                <input
                                    type="hidden"
                                    name="id"
                                    value="{{ row.id.getValue }}"
                                />
                                <input
                                    type="hidden"
                                    name="quantity"
                                    class="quantityHidden-{{ row.id.getValue }}"
                                    value="{{ row.quantity }}"
                                />
                                <input
                                    type="hidden"
                                    name="discountAmountNet"
                                    class="discountAmountNetHidden-{{ row.id.getValue }}"
                                    value="{{ row.discountAmountNet }}"
                                />
                                <input
                                    type="hidden"
                                    name="offerId"
                                    value="{{ offer.id }}"
                                />
                                <input
                                    type="hidden"
                                    name="listId"
                                    value="{{ offer.listId }}"
                                />
                            {% endblock %}

                            <div class="comment--container">
                                <div class="comment--actions">
                                    {% block b2b_offerlineitemreference_list_row_actions_inner_form_inner_cancel %}
                                        <a
                                            href="{{ path('frontend.b2b.b2bofferlineitemreference.grid', { offerId: offer.id.getValue }) }}"
                                            class="btn b2b-danger right"
                                        >
                                            {{ "b2b.Cancel"|trans }}
                                        </a>
                                    {% endblock %}

                                    {% block b2b_offerlineitemreference_list_row_actions_inner_form_inner_submit %}
                                        <button
                                            type="submit"
                                            class="btn is--primary right"
                                        >
                                            {{ "b2b.Save"|trans }}
                                        </button>
                                    {% endblock %}
                                </div>
                            </div>
                        {% endblock %}
                    </form>
                {% endblock %}
            </td>
        {% endblock %}
    </tr>
{% endblock %}