{% block b2b_offerlineitemreference_list_head %}
    {% set allowUpdateOffer = b2b_acl_check('b2bofferthroughcheckout', 'update') %}
    <thead>
        <tr>
            {% block b2b_offerlineitemreference_list_head_inner %}
                <th>{{ 'b2b.ProductLabel'|trans }}</th>
                <th>{{ 'b2b.QuantityLabel'|trans }}</th>
                <th>{{ 'b2b.PriceLabel'|trans }}</th>
                <th>{{ 'b2b.DiscountPriceLabel'|trans }}</th>
                {% if offer.isEditableByUser and allowUpdateOffer %}
                    <th>{{ 'b2b.ActionsLabel'|trans }}</th>
                {% endif %}
            {% endblock %}
        </tr>
    </thead>
{% endblock %}