{% set referenceNumber = row.customReferenceNumber|default(row.referenceNumber) %}

{% block b2b_offerlineitemreference_list_inner_item_content %}
    <tr
        data-row-id="{{ row.id.getValue }}"
        data-class="row"
        {% if not itemEditable %}data-mode="edit"{% endif %}
    >
        {% block b2b_offerlineitemreference_list_item_content_inner %}
            <td
                class="modal-col-product"
                data-label="{{ "b2b.ProductLabel"|trans }}"
            >
                <div>
                    {% if
                        row.name|length is same as (0) and
                        row.mode is same as (0)
                    %}
                        <span class="deleted-line-item">
                            {% sw_icon 'warning' style { color: 'warning' } %}
                            {{ "b2b.Deleted"|trans }}
                        </span>
                    {% else %}
                        {{ row.name }}
                    {% endif %}
                    <br>
                    <small>
                        <i>
                            {{ referenceNumber }}
                        </i>
                    </small>
                </div>
            </td>

            <td
                class="modal--col-quantity is--align-center"
                data-label="{{ "b2b.QuantityLabel"|trans }}"
                class="line-item--column-quantity"
            >
                {% if itemEditable %}
                    <div
                        data-display="edit-mode"
                        hidden
                    >
                        <input
                            class="form-control"
                            type="number"
                            name="quantity"
                            value="{{ row.quantity }}"
                            data-b2b-form-input-holder="true"
                            data-targetElement="quantityHidden-{{ row.id.getValue }}"
                            min="{{ row.minPurchase|default(1) }}"
                            step="{{ row.purchaseStep|default(1) }}"
                            max="{{ row.maxPurchase }}"
                        />
                    </div>
                {% endif %}

                <div data-display="view-mode">
                    {{ row.quantity }}
                </div>
            </td>

            <td data-label="{{ "b2b.PriceLabel"|trans }}">
                <div>
                    {{ row.amountNet|currency }}
                    <br>
                    <small>{{ "b2b.WithTaxesLabel"|trans }}: {{ row.amount|currency }}</small>
                </div>
            </td>

            <td data-label="{{ "b2b.DiscountPriceLabel"|trans }}">
                {% if itemEditable %}
                    <div
                        data-display="edit-mode"
                        hidden
                    >
                        <input
                            class="form-control"
                            type="number"
                            name="discountAmountNetHidden"
                            value="{{ row.discountAmountNet }}"
                            data-b2b-form-input-holder="true"
                            data-targetElement="discountAmountNetHidden-{{ row.id.getValue }}"
                            step="0.01"
                        />
                    </div>
                {% endif %}

                <div data-display="view-mode">
                    {{ row.discountAmountNet|currency }}
                    <br>
                    <small>{{ "b2b.WithTaxesLabel"|trans }}: {{ row.discountAmount|currency }}</small>
                </div>
            </td>

            {% block b2b_offerlineitemreference_list_item_content_inner_actions %}
                {% if offer.isEditableByUser %}
                    <td
                        class="col-actions {{ b2b_acl('b2bofferlineitemreference', 'update') }}"
                        data-label="{{ "b2b.ActionsLabel"|trans }}"
                    >
                        {% block b2b_offerlineitemreference_list_item_content_inner_actions_inner %}
                            {% if itemEditable and offer.isEditableByUser %}
                                {% block b2b_offerlineitemreference_list_item_content_inner_actions_inner_edit %}
                                    <button
                                        title="{{ "b2b.EditItem"|trans }}"
                                        type="button"
                                        data-mode="edit"
                                        class="btn is--small b2b-highlight"
                                    >
                                        {% sw_icon 'pencil-brush' %}
                                    </button>
                                {% endblock %}

                                {% block b2b_offerlineitemreference_list_item_content_inner_actions_inner_remove %}
                                    <form
                                        action="{{ path('frontend.b2b.b2bofferlineitemreference.remove') }}"
                                        method="post"
                                        class="form--inline {{ b2b_acl('b2bofferlineitemreference', 'remove') }}"
                                        data-ajax-panel-trigger-reload="offer-grid"
                                        data-csrf-token="{{ sw_csrf('frontend.b2b.b2bofferlineitemreference.remove', { mode: 'token' }) }}"
                                    >
                                        {% block b2b_offerlineitemreference_list_item_content_inner_actions_inner_remove_csrf %}
                                            {{ sw_csrf('frontend.b2b.b2bconfirm.remove') }}
                                        {% endblock %}

                                        {% block b2b_offerlineitemreference_list_item_content_inner_actions_inner_remove_inner %}
                                            {% block b2b_offerlineitemreference_list_item_content_inner_actions_inner_remove_inner_inputs %}
                                                <input
                                                    type="hidden"
                                                    name="offerId"
                                                    value="{{ offer.id.getValue }}"
                                                />
                                                <input
                                                    type="hidden"
                                                    name="lineItemId"
                                                    value="{{ row.id.getValue }}"
                                                />
                                                <input
                                                    type="hidden"
                                                    name="confirmName"
                                                    value="{{ referenceNumber }}"
                                                />
                                            {% endblock %}

                                            {% block b2b_offerlineitemreference_list_item_content_inner_actions_inner_remove_inner_submit %}
                                                <button
                                                    type="submit"
                                                    title="{{ "b2b.DeleteItem"|trans }}"
                                                    class="btn is--small b2b-danger component-action-delete"
                                                    data-confirm="true"
                                                    data-confirm-url="{{ path('frontend.b2b.b2bconfirm.remove') }}?confirmName={{ referenceNumber }}"
                                                >
                                                    {% sw_icon 'trash' %}
                                                </button>
                                            {% endblock %}
                                        {% endblock %}

                                    </form>
                                {% endblock %}
                            {% endif %}
                        {% endblock %}
                    </td>
                {% endif %}
            {% endblock %}

        {% endblock %}
    </tr>
{% endblock %}
