{% set cartState = cart.getExtension("b2b-cart-state") %}

{% set notices = cartState.messages.notices | map(notice => "error.#{notice.messageKey}" | trans(notice.parameters|map(p => p | trans))) %}
{% set errors = cartState.messages.errors | map(error => "error.#{error.messageKey}" | trans(error.parameters|map(p => p | trans))) %}

{% block b2b_cart_alerts %}
    <span class="b2b--cart-alerts">

        {% block b2b_cart_alerts_notices %}
            {% if notices|length %}
                <span class="b2b--cart-alerts-info">
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                        type: "info",
                        list: notices
                    } %}
                </span>
            {% endif %}
        {% endblock %}

        {% block b2b_cart_alerts_errors %}
            {% if errors|length %}
                <span class="b2b--cart-alerts-warning">
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                        type: "warning",
                        list: errors
                    } %}
                </span>
            {% endif %}
        {% endblock %}
    </span>
{% endblock %}