{% block b2b_cart_orderlist %}
    <div class="b2b-remote-list-orderlist mb-4 mt-4 {{ b2b_acl('b2borderlist', 'update') }}">
        <h4>
            {{ "b2b.AddCartToOrderList"|trans }}
        </h4>

        {% block b2b_cart_orderlist_remoteListCart %}
            <div class="row">
                <div class="col-sm-6">
                    <div
                        class="is--b2b-ajax-panel b2b--ajax-panel"
                        data-url="{{ path('frontend.b2b.b2borderlistremote.remoteListCart', { cartId: context.token }) }}"
                        data-plugins="orderList"
                    ></div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
