{% extends '@SwagB2bPlatform/storefront/frontend/b2brole/detail.html.twig' %}

{% block b2b_modal_base_navigation_entries %}
    {% set roleId = role.id.getValue  %}
    <li class="tab--group">
        {{ "b2b.Assignments"|trans }}
    </li>
    <li>
        <a class="b2b--tab-link tab--active {{ b2b_acl('b2brole', 'edit') }}"
           data-target="role-tab-content"
           data-href="{{ path('frontend.b2b.b2brole.edit', {'id': roleId}) }}">
            {{ "b2b.MasterDataLabel"|trans }}
        </a>
    </li>
    <li>
        <a class="b2b--tab-link {{ b2b_acl('b2broleroute', 'index') }}"
           data-target="role-tab-content"
           data-href="{{ path('frontend.b2b.b2broleroute.index', {'roleId': roleId}) }}">
            {{ "b2b.PermissionManagement"|trans }}
        </a>
    </li>
{% endblock %}
