{% extends '@SwagB2bPlatform/storefront/frontend/b2brole/index.html.twig' %}

{% block frontend_index_content_b2b %}
    <div class="panel is--rounded">
        <div class="panel--title is--underline">

            <div class="block-group b2b--block-panel">
                <div class="block block--title">
                    <h3>{{ "b2b.RoleManagement"|trans }}</h3>
                </div>
            </div>
        </div>
        <div class="panel--body is--wide">
            <div class="is--b2b-tree-select is--b2b-tree-select-container"
                 data-csrf-token="{{ sw_csrf('frontend.b2b.b2brole.move', { mode: 'token' }) }}"
                 data-move-url="{{ path('frontend.b2b.b2brole.move') }}"
            >
                <div
                    class="b2b--ajax-panel"
                    data-url="{{ path('frontend.b2b.b2brole.subtree') }}?openNodes[]={{ root.id.getValue }}"
                    data-id="role-tree"
                ></div>
            </div>
        </div>

        <div class="b2b--ajax-panel b2b-modal-panel has--b2b-form"
             data-id="role-detail">
        </div>
    </div>
{% endblock %}
