{% block b2b_upload_header %}
    <div class="panel--title is--underline">
        <div class="block-group b2b--block-panel">
            <div class="block upload--title">
                {% block b2b_upload_headline %}{% endblock %}
            </div>
            <div class="block upload--file-types">
                {% block b2b_upload_files %}CSV, XLS, XLSX{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}