{% block b2b_upload_dropzone %}
    <div class="panel--body is--wide">
        {% block b2b_upload_dropzone_form %}
            <form
                action="{% block b2b_upload_action %}{% endblock %}"
                method="post"
                class="form--upload b2b--upload-form"
                data-target-panel-id="{% block b2b_upload_target_panel_id %}{% endblock %}"
                enctype="multipart/form-data"
                {% block b2b_upload_form_attributes %}{% endblock %}
            >
                <div class="upload--input pt-2 pb-2">
                    {% block b2b_upload_dropzone_form_inner %}
                        <label for="file">
                            {% sw_icon 'file' %}
                            <h3 class="box--dragndrop">{{ "b2b.ChooseFile"|trans }}</h3>
                            <span class="box--dragndrop">{{ "b2b.DragFileHere"|trans }}</span>
                        </label>

                        <input
                            type="file"
                            class="input--file"
                            name="file"
                            id="file"
                            {% block b2b_upload_confirmation %}{% endblock %}
                        />

                        {% block b2b_upload_confirmation_csrf %}{% endblock %}

                    {% endblock %}
                </div>
            </form>
        {% endblock %}
    </div>
{% endblock %}