{% block b2b_upload_header %}
    <div class="b2b-upload__header">
        <div class="b2b-upload__header-title">
            {% block b2b_upload_headline %}{% endblock %}
        </div>

        <div class="b2b-upload__header-types">
            {% block b2b_upload_files %}CSV, XLS, XLSX{% endblock %}
        </div>
    </div>
{% endblock %}
