{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget.html.twig' %}

{% block page_product_detail_buy_container %}
    {{ parent() }}
    {# get length data from the backend #}
    {% set lenValue = null %}
    {% for x in page.product.sortedProperties %}
        {% if x.translated.name == 'length' %}
            {% for option in x.options %}
                {% set lenValue = option.translated.name %}
                <input type="hidden" id="maxLength" data-feldmann-max-length="{{ lenValue | json_encode }}">
            {% endfor %}
        {% endif %}
    {% endfor %}

    {# get maximum cut length #}
    {% set maxCut = shopware.config.FeldmannCutOff.config.MaxCut %}
    <input type="hidden" id="maxCuts" data-feldmann-max-cuts="{{ maxCut }}">

    {% if page.product.customFields.cut_active %}
        <input type="hidden" name="cutoff_customized_csrf_token"
               value="{{ sw_csrf('frontend.cutoff', {"mode": "token"}) }}"
               data-upload-url="{{ path('frontend.cutoff') }}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/12.0.0/nouislider.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>


        {% block page_product_detail_slider_range %}
            <div class="product-detail-slider-range" data-cutoff-rangSlider>
                <div class="product-detail-slider-container">
                    {% block page_product_detail_slider_label %}
                        <div class="product-detail-slider-head-label font-weight-bold">
                            {{ "product-detail.sliderHeadLabel"|trans|sw_sanitize }}
                        </div>
                        <span class="product-detail-slider-label d-inline-block mb-5">
                            {{ "product-detail.sliderLabel"|trans|sw_sanitize }}
                        </span>

                    {% endblock %}
                    {% block page_product_detail_slider %}
                        <div class="range-slider mt-4">
                            <div class="range" id="range" data-color-change></div>

                            <div class="mt-4 range-slider-btn">

                                <input type="hidden" class="feldmann-cut-url" data-url="{{ path('frontend.feldmann-cutoff.price') }}" data-token="{{ sw_csrf('frontend.feldmann-cutoff.price', {"mode": "token"}) }}">
                                <button id="addBtn" data-feldmann-button class="col-md-5 btn btn-sm range-slider-add">
                                    {{ "product-detail.addBtn"|trans|sw_sanitize }}
                                </button>
                                <button id="removeBtn" data-feldmann-button class="col-md-5 btn btn-sm range-slider-remove">
                                    {{ "product-detail.removeBtn"|trans|sw_sanitize }}
                                </button>

                                <input type="number" value="" min="0" step="1" id="input-number" disabled>
                            </div>
                        </div>
                    {% endblock %}
                </div>
            </div>
        {% endblock %}
    {% endif %}
{% endblock %}

