{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}
{% block page_product_detail_buy_redirect_input %}
    {{ parent() }}

        <input type="hidden"
               id="lengthParams"
               name="lengthParams"
               value="">

{% endblock %}

{% block page_product_detail_buy_form_action %}
    {% apply spaceless %}
        {% if page.product.customFields.cut_active %}
            {{ path('frontend.cutoff') }}
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endapply %}
{% endblock %}

{% block page_product_detail_buy_form_inner_csrf %}
    {% if page.product.customFields.cut_active %}
        {{ sw_csrf('frontend.cutoff') }}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_product_detail_buy_button_container %}
    {% if page.product.customFields.cut_active %}
        <div class="col-12">
            {% block page_product_detail_buy_button %}
                <button class="btn btn-primary btn-block btn-buy"
                        id="btnAddtocart"
                        title="{{ "detail.addProduct"|trans|striptags }}"
                        aria-label="{{ "detail.addProduct"|trans|striptags }}" data-cutoff-length>
                    {% sw_icon 'cart-arrow-down' style { 'pack': 'feldmann' } %}
                    {{ "detail.addProduct"|trans|sw_sanitize }}
                </button>
            {% endblock %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
