{% block b2b_contingentgroup_form %}
    {% block b2b_contingentgroup_form_errors %}
        {% if errors %}
            <div class="modal--errors error--list">
                {%
                    sw_include "@SwagB2bPlatform/storefront/_partials/_b2bmessage/_b2bmessage.html.twig"
                    with {
                        messages: { 'error': errors }
                    } only
                %}
            </div>
        {% endif %}
    {% endblock %}

    {% block b2b_contingentgroup_form_inputs %}
        <div class="form-row">
            <div class="form-group col-sm-12">
                <label for="name">
                    {{ "b2b.ContingentGroupNameLabel"|trans }} *
                </label>
                <input
                    class="form-control"
                    type="text"
                    name="name"
                    value="{{ contingentGroup.name }}"
                    placeholder="{{ "b2b.ContingentGroupNamePlaceholder"|trans }}"
                    autofocus
                >
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-sm-12">
                <label for="description">{{ "b2b.ContingentGroupDescriptionLabel"|trans }}</label>
                <input
                    class="form-control"
                    type="text"
                    name="description"
                    value="{{ contingentGroup.description }}"
                    placeholder="{{ "b2b.ContingentGroupDescriptionPlaceholder"|trans }}"
                >
            </div>
        </div>
    {% endblock %}
{% endblock %}
