{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.CreateContingentGroup"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <form
        action="{{ path('frontend.b2b.b2bcontingentgroup.create') }}"
        method="post"
        class="form--inline {{ b2b_acl('b2bcontingentgroup', 'create') }} link-modal--small"
        id="form"
        data-ajax-panel-trigger-reload="company-tab-panel"
        data-submit-enter
    >
        {% block b2b_contingentgroup_new %}
            {{ sw_csrf('frontend.b2b.b2bcontingentgroup.create') }}

            {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bcontingentgroup/_form.html.twig" %}
            <input type="hidden" name="grantContext" value="{{ grantContext }}"/>
        {% endblock %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions">
        <button class="btn" type="submit" data-form-id="form">{{ "b2b.Save"|trans }}</button>
    </div>
{% endblock %}