{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal.html.twig" %}

{% block b2b_modal_base_navigation_header %}
    {{ "b2b.ContingentGroupDetail"|trans }}
{% endblock %}

{% block b2b_modal_base_navigation_entries %}
    <li class="{{ b2b_acl('b2bcontingentgroup', 'edit') }}">
        <a
            class="b2b--tab-link tab--active"
            data-target="contingent-tab-content"
            data-href={{ path('frontend.b2b.b2bcontingentgroup.edit') }}?id={{ id.getValue }}"
            title="{{ "b2b.MasterDataLabel"|trans }}"
        >
            {{ "b2b.MasterDataLabel"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2bcontingentrule', 'grid') }}">
        <a
            class="b2b--tab-link"
            data-target="contingent-tab-content"
            data-href="{{ path('frontend.b2b.b2bcontingentrule.grid') }}?id={{ id.getValue }}"
            title="{{ "b2b.ContingentRulesLabel"|trans }}"
        >
            {{ "b2b.ContingentRulesLabel"|trans }}
        </a>
    </li>
    <li class="{{ b2b_acl('b2bcontingentrestriction', 'grid') }}">
        <a
            class="b2b--tab-link"
            data-target="contingent-tab-content"
            data-href="{{ path('frontend.b2b.b2bcontingentrestriction.grid') }}?id={{ id.getValue }}"
            title="{{ "b2b.ContingentRestrictionsLabel"|trans }}"
        >
            {{ "b2b.ContingentRestrictionsLabel"|trans }}
        </a>
    </li>
{% endblock %}

{% block b2b_modal_base_content_inner %}
    <div
        class="b2b--ajax-panel has--b2b-form"
        data-id="contingent-tab-content"
        data-plugins="gridComponent,assignmentGrid"
        data-url="{{ path('frontend.b2b.b2bcontingentgroup.edit') }}?id={{ id.getValue }}"
    ></div>
{% endblock %}
