{% sw_extends "@SwagB2bPlatform/storefront/_partials/_b2bmodal/_modal-content.html.twig" %}

{% set modalSettings = {
    bottom: true
} %}

{% block b2b_modal_base_content_inner_topbar_headline %}
    {{ "b2b.MasterDataLabel"|trans }}
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_content_inner %}
    <form
        action="{{ url('frontend.b2b.b2bcontingentgroup.update') }}"
        method="post"
        class="has--b2b-form {{ b2b_acl('b2bcontingentgroup', 'update') }}"
        id="form"
        data-ajax-panel-trigger-reload="company-tab-panel"
        data-submit-enter
    >
        {% block b2b_contingentgroup_edit %}
            {{ sw_csrf('frontend.b2b.b2bcontingentgroup.update') }}

            <input type="hidden" name="id" value="{{ contingentGroup.id.getValue }}">

            {% sw_include "@SwagB2bPlatform/storefront/frontend/b2bcontingentgroup/_form.html.twig" %}
        {% endblock %}
    </form>
{% endblock %}

{% block b2b_modal_base_content_inner_scrollable_inner_bottom_inner %}
    <div class="bottom--actions {{ b2b_acl('b2bcontingentgroup', 'update') }}">
        <button class="btn" type="submit" data-form-id="form">{{ "b2b.Save"|trans }}</button>
    </div>
{% endblock %}

