{% block b2b_contingentgroup %}
    <div class="panel is--rounded">
        {% block b2b_contingentgroup_title %}
            <div class="panel--title is--underline">
                <div class="block-group b2b--block-panel">
                    <div class="block block--title">
                        <h3>{{ "b2b.ContingentManagement"|trans }}</h3>
                    </div>

                    {% block b2b_contingentgroup_title_new %}
                        {% if companyFilter.level %}
                            <div class="block block--actions {{ b2b_acl('b2bcontingentgroup', 'new') }}">
                                <button
                                    type="button"
                                    data-target="contingent-group-detail"
                                    data-href="{{ path('frontend.b2b.b2bcontingentgroup.new') }}?grantContext={{ grantContext }}"
                                    class="btn component-action-create ajax-panel-link link-modal--small"
                                    title="{{ "b2b.CreateContingentGroup"|trans }}"
                                >
                                    {{ "b2b.CreateContingentGroup"|trans }}
                                </button>
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        {% block b2b_contingentgroup_body %}
            <div class="panel--body is--wide b2b--grid-container">
                {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bcontingentgroup/_grid.html.twig' with {'gridState': gridState, 'grantContext': grantContext} %}
            </div>
        {% endblock %}
    </div>

    <div class="b2b--ajax-panel b2b-modal-panel" data-id="contingent-group-detail"></div>
{% endblock %}
