{% block b2b_contingentgroup %}
    {% block b2b_contingentgroup_title %}
        <h3>{{ "b2b.ContingentManagement"|trans }}</h3>

        {% block b2b_contingentgroup_title_new %}
            {% if companyFilter.level %}
                <button
                    type="button"
                    data-target="contingent-group-detail"
                    data-href="{{ path('frontend.b2b.b2bcontingentgroup.new') }}?grantContext={{ grantContext }}"
                    class="btn btn-secondary mb-4 component-action-create ajax-panel-link link-modal--small {{ b2b_acl('b2bcontingentgroup', 'new') }}"
                    title="{{ "b2b.CreateContingentGroup"|trans }}"
                >
                    {{ "b2b.CreateContingentGroup"|trans }}
                </button>
            {% endif %}
        {% endblock %}
    {% endblock %}

    {% block b2b_contingentgroup_body %}
            {% sw_include '@SwagB2bPlatform/storefront/frontend/b2bcontingentgroup/_grid.html.twig' with {'gridState': gridState, 'grantContext': grantContext} %}
    {% endblock %}

    <div
        class="b2b--ajax-panel b2b-modal-panel"
        data-id="contingent-group-detail"
    ></div>
{% endblock %}
