{% block sw_cms_block_feldmann_accordion_preview %}
    <div class="sw-cms-preview-feldmann-accordion">
        <ul class="sw-cms-preview-feldmann-accordion__list">
            <li class="sw-cms-preview-feldmann-accordion__list-item">Akkordeon 1</li>
            <li class="sw-cms-preview-feldmann-accordion__list-item">Akkordeon 2</li>
            <li class="sw-cms-preview-feldmann-accordion__list-item">Akkordeon 3</li>
        </ul>
    </div>
{% endblock %}
