.sw-cms-preview-feldmann-accordion {
    padding: 10px;

    .sw-cms-preview-feldmann-accordion__list {
        list-style: none;
    }

    .sw-cms-preview-feldmann-accordion__list-item {
        padding: 10px;
        border-top: 1px solid #2ab4db;
    }
}
